body.spring-2015{
	#bathrooms-for-inspiration{
		h2{
			color: $pale-blue;
			margin-top: 0;
			margin-bottom: em(50,60);
			line-height: 1.2em;
			font-size: em(60);			
		}
		.bathrooms-showcase-section{
			margin-bottom: 40px;
		}
		.bathroom{
			position: relative;
			width: 100%;
			z-index: 2;
			img{
				width: 100%;
			}
			@media (min-width: $screen-lg-min){
				width: 82.5%;
				float: left;
			}
			.hotspots{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				.hotspot{
					position: absolute;
					border: none;
					background: none;
					padding: 0;
					margin: 0;
					color: $white;
					z-index: 0;
					@extend %button-clear;
					outline: none;
					height: auto;
					i{
						font-size: em(60);											
					}
					&.spot-1{
						top: 12.763596%;
						left: 27.75119617%;
					}
					&.spot-2{
						top: 51.83129856%;
						left: 44.33811802%;
					}
					&.spot-3{
						top: 60.82130966%;
						left: 85.80542265%;
					}
					&.active{
						color: $green;
					}
					&:hover{
						color: $pink;
					}
				}
				.hotspot-data{
					position: absolute;
					display: none;
					z-index: 1;
					&.spot-1{
						top: 22%;
				    left: 15%;
					}
					&.spot-2{
						top: 22%;
				    left: 15%;
					}
					&.spot-3{
						top: 22%;
				    left: 15%;
					}
					.text{
				    position: absolute;
				    top: 110px;
				    left: 140px;
				    width: 180px;
				    h3{
				    	font-size: em(18);
				    	color: $green;
				    	margin:0;
				    	margin-bottom: 1em;
				    }
				    p{
				    	font-size: em(15);
				    	color: $grey;
				    }
					}
					path{
						&.bg{
							fill: $white;							
						}
						&.border{
							fill: $green;
						}
						&.arrow{
							fill: $green;
						}
					}
				}
			}
		}
		.options-wrap{
			width: 100%;
			padding-left: 0;
			text-align: center;
				
			@media (min-width: $screen-lg-min){
				width: 17.5%;
				float: left;
				padding-left: 40px;	
			}
			.options{
				background: $options-bg;
				color: $white;
				height: 100%;
				padding: 20px;
				@media (min-width: $screen-lg-min){
					padding: 109px 20px 20px;
				}	
				.desc{
					font-size: em(16);
					line-height: 1em;
				}
				ul{
					margin: 0;
					padding: 0;
					text-align: center;

					li{
						margin: 0;
						padding: 0;
						display: block;
						vertical-align: top;	
						width: 50%;
						float:left;
						@media (min-width: $screen-sm-min){
							width: 25%;
						}
						@media (min-width: $screen-lg-min){
							width: 100%;
							display: block;
							float: none;
						}			
					}
				}
				h2{
					color: $white;
					font-size: em(28);
					margin: 0;
					margin-bottom: 40px;					
				}							
			}				
		}
		.products-used{
			padding: 30px 0 60px;
			@media (min-width: $screen-md-min){
				padding: 80px 60px 60px;
			}
			@media (min-width: $screen-lg-min){
				padding: 80px 160px 60px;
			}
			h2{
				font-size: em(60);
				margin: 0;
				margin-bottom: 20px; 
				text-decoration: underline;				
			}
			.product{
				padding-bottom: em(20);
			}				
		}
	}
}