body.love-calm{
	.we-love{
		background-position:-125px 0;		
	}
	.icon-share-dotted{
		color: $pink;
		font-size: em(46);
	}
	#collection-intro{
		.plant{
			position: absolute;
			left: 0;
			top: 0;
			max-width: 180px;
			@media (min-width: $screen-sm-min){
				max-width: 120px;
			}
			@media (min-width: $screen-md-min){
				max-width: 220px;	
			}
			@media (min-width: $screen-lg-min){
				max-width: 384px;
			}
		}	
		header{
			background: none;
			position: relative;
			overflow: hidden;
			.image{
				position: relative;
			}
			h1{
				color: $white;
				position: absolute;
				top: 30.85106383%;
				right: 27.30263%;
				text-decoration: underline;
				font-size: em(40);
				@media (min-width: $screen-sm-min){
					font-size: em(90);
					top: 30.85106383%;
					right: 27.30263%;
				}
				
			}							
		}
		.intro{
			position: relative;
			color: $pale-blue;
			padding-top: 20px;
			@media (min-width: $screen-md-min){
				padding-top: 100px;
			}
			.hanging-toy{
				position: absolute;
				right: 0;
				top: 0;
				z-index: 0;
				@media (min-width: $screen-md-min){
					right: 20px;
				}
				@media (min-width: $screen-lg-min){
					right: 114px;
				}
				img{
					max-width: 48px;
					@media (min-width: $screen-sm-min){
						max-width: 60px;	
					}
					@media (min-width: $screen-md-min){
						max-width: 97px;
					}
				}
			}
			.intro-copy{
				position: relative;
				z-index: 1;
				font-weight: 700;
				.text{
					font-size: em(34);
					margin-bottom: em(20);
				}
			}	
		}
		h2{
			color: $pale-blue;
			text-decoration: underline;
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 1.2em;
			font-size: em(60);			
		}
		.products-we-love{
			position: relative;
			@media (min-width: $screen-sm-min){
				float:right;
				width: 380px;
				margin-right: 20px;	
			}
			@media (min-width: $screen-md-min){
				float:right;
				width: 492px;
				margin-right: 20px;	
			}
			@media (min-width: $screen-lg-min){
				float:right;
				width: 492px;
				margin-right: 204px;	
			}
			.we-love{
				position: absolute;
				top: -36px;
				left: 28px;   				
			}
			.white-box{
				background: $white;					
			}
			.product{
				position: relative;
				padding: 120px 30px 20px;
				@media (min-width: $screen-md-min){
					padding: 132px 61px 20px 70px;
				}
				.image{
					position: absolute;
					max-width: 131px;
					z-index: 1;
					top: -20px;
					right: 6px;
					@media (min-width: $screen-sm-min){
						top: -75px;
						right: 30px;
					}
					@media (min-width: $screen-md-min){
						top: -174px;
						right: 32px;
					}
					img{
						max-width: 70px;
						@media (min-width: $screen-sm-min){
							max-width: 90px;
						}
						@media (min-width: $screen-md-min){
							max-width: 100%;
						}
					}
				}
				.white-box{
					font-size: em(10);
					line-height: 1.2em;
					padding: 15px 30px 15px 15px;
					@media (min-width: $screen-sm-min){
						font-size: em(16);
					}
					@media (min-width: $screen-md-min){
						font-size: em(16);
						padding: 30px;
					}
					@media (min-width: $screen-lg-min){
						font-size: em(18);
					}		
				}
				.share{
					position: absolute;
					top: 116px;
					left: 40px;
					@media (min-width: $screen-md-min){
						top: 286px;
						left: 61px;
					}
				}
				.shop_now{
					float: right;
					margin-top: 18px;
					position: relative;
					z-index: 2;
					@media (min-width: $screen-lg-min){
						margin-top: 28px;
					}
				}
			}				
		}				
	}
	#bathrooms-for-inspiration{
		margin-bottom: 40px;
		.products-used{
			h2{
				color: $pale-blue;
			}
		}
		.bathroom{
			.hotspots{
				.hotspot{
					&:hover{
						color: $pale-blue;
					}
				}
				.hotspot-data{
					.text{
						h3{
							color: $pale-blue;
						}
					}
					path.border{
						fill: $pale-blue;		
					}
					path.arrow{
						fill: $pale-blue;			
					}
				}
			}
		}		
	}
	#water-therapy{
		margin-bottom: 40px;
		.banner{
			position: relative;
			.text{
				margin-top: 40px;
				@media (min-width: $screen-md-min){
						position: absolute;
					  top: 50%;
					  left: 50%;
					  @include transform(translateY(-50%) translateX(-50%));
				}
				h2{
					font-size: em(50);
					display: inline;
					background: $white;
					color: $dark-green;
				}
			}
		}
		.products-grid{
			background: url(../images/calm/3-water-therapy/background.jpg) no-repeat center center;
			max-width: 1200px;
			margin: 0 auto;
			.product{
				margin-bottom: 50px;
				.image{
					margin-bottom: 38px;
				}
			}
		}
		.video{
			position: relative;
			max-width: 1440px;
			margin: 0 auto;
			.image{
				position: relative;
				a{
					display: block;
					position: relative;
				}
				.play{
					@extend %center-align;
					i{
						font-size: em(50);
						color: $white;
					}
				}
				.share{
					position: absolute;
					right: 0;
					bottom: -60px;
					z-index: 2;
					@media (min-width: $screen-sm-min){
						right: 30px;
						top: 40px;
						bottom: inherit;
					}
				}
			}
			.text{
				color: $black;
				h2{
					font-size: em(50);
					text-decoration: underline;
					margin-bottom: 30px;
				}				
				@media (min-width: $screen-md-min){
					color: $white;
					position: absolute;
					bottom: 60px;
				}
			}			
		}		
	}
	#tips{
		margin-bottom: 40px;
		.banner{
			position: relative;
			@media (min-width: $screen-sm-min){
				min-height: 440px;
			}
			@media (min-width: $screen-md-min){
				min-height: 500px;
			}
			.image{
				position: relative;
				padding-left: 40px;
				@media (min-width: $screen-sm-min){
					position: absolute;
					left: 0;
					top: 20px;
					padding-right: 17em;
				}
				@media (min-width: $screen-lg-min){
					margin-left: 10em;
					padding-right: 0;
				}
			}
			.description{
				position: absolute;
				top: 3em;
				left: 0;
				p{
					background: $pale-blue;
					color: $white;
					margin: 0;
					padding: 5px 8px;
					display: block;
					float: left;
					clear: both;
					font-weight: bold;
					font-size: em(30);
					line-height: 1em;
				}
			}
			.title{
				h2{
					font-size: em(60);
					color: $pale-blue;
					text-decoration: underline;
					margin-top: 0;
					margin-bottom: 30px;
					line-height: 1.2em;
				}
				.message{
					p{
						background: $green;
						color: $white;
						margin: 0;
						padding: 5px 8px;
						display: block;
						float: left;
						clear: both;
						font-weight: bold;
						font-size: em(30);
						line-height: 1em;
					}
				}
			}
		}
		.tips{
			padding-top: 20px;
			.person{
				text-align: center;
				color: $pale-blue;
				@media (min-width: $screen-md-min){
					margin-left: 72px;
				}
				h2{
					font-size: em(24);
					margin-bottom: 0;
				}
				.name{
					font-size: em(16);
				}
			}
			.tip{
				position: relative;
				padding-left: 60px;
				margin-bottom: em(20);
				h3{
					color: $pale-blue;
					font-size: em(24);
				}
				.text{
					font-size: em(18);
					color: $grey;
					line-height: em(20);
				}
			}
		}
	}
	#colour-picker{
		.image-wrap{
			position: relative;
			@media (min-width: $screen-md-min){
				padding-left: em(134);
			}
			.text{
				font-size: em(50);
				font-weight: bold;
				line-height: 1em;
				text-decoration: underline;
				color: $pale-blue;
				position: relative;
				margin-top: 20px;
				@media (min-width: $screen-md-min){
					margin-top: 0;
					position: absolute;
					top: 20%;
					left: 0;
				}
			}
			.share{
				position: absolute;
				top: 30px;
				right: 30px;
			}
		}
		.description{
			margin-top: 20px;
			padding-right: em(120);
			@media (min-width: $screen-md-min){
				margin-top: 0;
				padding-left: 134px;
			}
		}
		.slider{
			button{
				@include appearance(none);
				background: none;
				border: none;
				outline: none;
				position: absolute;
				bottom: -40px;
				z-index: 2;
				i{
					font-size: em(50);
					color: $pale-blue;
				}
				&.arrow-next{
					@include transform(translateY(-100%));
					right: 0;
				}
				&.arrow-prev{
					@include transform(translateX(-100%) translateY(-100%));
					right: 10px;
				}
				&.slick-disabled{
					i{
						color: $grey;
					}
				}
			}
		}
	}
	#favourites{
		margin-bottom: 40px;
	}
	#footer-ads{
		padding-top: 105px;
		padding-bottom: 110px;
		.pinterest-board{
			position: relative;
			.text{
				width: 100%;
				padding: 0 em(30);
				@extend %center-align;
				text-align: center;
				max-width: 400px;
				.circle{
					width: 65px;
					height: 65px;
					margin: 0 auto;
					background: $pink;
					text-align: center;
					margin-top: em(40);
					margin-bottom: em(30);
					@include border-radius(50%);
					i{
						color: $white;
						font-size: em(50);
				    position: relative;
    				top: 12px;
					}
				}
				.button{
					display: block;
					border: 2px solid $dark-grey;
					background: none;
					padding: em(20) em(30);
					color: $dark-grey;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
		.video{
			position: relative;
			.text{
				position: absolute;
				text-decoration: underline;
				font-size: em(50);
				font-weight: 700;
				left: 5%;
				top: 20%;
				line-height: 1em;
				color: $white;
			}
		}
	}			
}