body.love-calm{
	.we-love{
		background-position:-125px 0;		
	}
	.icon-share-dotted{
		color: $pink;
		font-size: em(46);
	}
	#collection-intro{
		.plant{
			position: absolute;
			left: 0;
			top: 0;
		}	
		header{
			background: none;
			position: relative;
			overflow: hidden;
			h1{
				color: $white;
				position: absolute;
				top: 20%;
				right: 27.30263%;
				text-decoration: underline;
				font-size: em(45);
				@media (min-width: $screen-sm-min){
					top: 30.85106383%;
					right: 27.30263%;
					font-size: em(60);
				}
				@media (min-width: $screen-lg-min){
					font-size: em(90);
					top: 30.85106383%;
					right: 27.30263%;
				}
			}
			.span4{
				@media (min-width: $screen-sm-min){
			    margin-left: 0.59211%;
    			width: 33.02632%;
				}
			}
			.span8{
				@media (min-width: $screen-sm-min){
					width: 66.38158%;
				}
			}					
		}
		.intro{
			position: relative;
			color: $pale-blue;
			padding-top: 20px;
			@media (min-width: $screen-md-min){
				padding-top: 100px;
			}
			.shelves{
				@media (min-width: $screen-sm-min){
					padding: 41px 0 0 27px;
				}
				@media (min-width: $screen-lg-min){
					padding: 82px 0 0 54px;
				}
				img{
					max-width: 120px;
					@media (min-width: $screen-sm-min){
						max-width: 100%;
					}
				}
			}
			.hanging-toy{
				position: absolute;
				right: 0;
				top: 0;
				z-index: 0;
				@media (min-width: $screen-md-min){
					right: 20px;
				}
				@media (min-width: $screen-lg-min){
					right: 114px;
				}
				img{
					max-width: 48px;
					@media (min-width: $screen-sm-min){
						max-width: 60px;	
					}
					@media (min-width: $screen-md-min){
						max-width: 97px;
					}
				}
			}
			.intro-copy{
				position: relative;
				z-index: 1;
				font-size: em(12);
				font-weight: 700;
				line-height: 1.2em;	
				padding-right: 50px;
				@media (min-width: $screen-sm-min){
					font-size: em(22);
					padding-right: 0;
				}
				@media (min-width: $screen-md-min){
					font-size: em(24);
				}
				@media (min-width: $screen-lg-min){
					font-size: em(34);
					padding-left: 110px;
				}
				p{
					margin-bottom: 1.3em;
				}
			}	
		}
		h2{
			color: $pale-blue;
			text-decoration: underline;
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 1.2em;
			font-size: em(18);
			@media (min-width: $screen-sm-min){
				font-size: em(30);
				margin-bottom: 40px;
			}
			@media (min-width: $screen-md-min){
				font-size: em(50);
			}
			@media (min-width: $screen-lg-min){
				font-size: em(60);
			}
		}
		.products-we-love{
			position: relative;
			@media (min-width: $screen-sm-min){
				float:right;
				width: 380px;
				margin-right: 20px;	
			}
			@media (min-width: $screen-md-min){
				float:right;
				width: 492px;
				margin-right: 20px;	
			}
			@media (min-width: $screen-lg-min){
				float:right;
				width: 492px;
				margin-right: 204px;	
			}
			.we-love{
				position: absolute;
				top: -36px;
				left: 28px;   				
			}
			.white-box{
				background: $white;					
			}
			.product{
				position: relative;
				padding: 120px 30px 20px;
				@media (min-width: $screen-md-min){
					padding: 132px 61px 20px 70px;
				}
				.image{
					position: absolute;
					max-width: 131px;
					z-index: 1;
					top: -20px;
					right: 6px;
					@media (min-width: $screen-sm-min){
						top: -75px;
						right: 30px;
					}
					@media (min-width: $screen-md-min){
						top: -174px;
						right: 32px;
					}
					img{
						max-width: 70px;
						@media (min-width: $screen-sm-min){
							max-width: 90px;
						}
						@media (min-width: $screen-md-min){
							max-width: 100%;
						}
					}
				}
				.white-box{
					font-size: em(10);
					line-height: 1.2em;
					padding: 15px 30px 15px 15px;
					@media (min-width: $screen-sm-min){
						font-size: em(16);
					}
					@media (min-width: $screen-md-min){
						font-size: em(16);
						padding: 30px;
					}
					@media (min-width: $screen-lg-min){
						font-size: em(18);
					}		
				}
				.share{
					position: absolute;
					top: 116px;
					left: 40px;
					@media (min-width: $screen-md-min){
						top: 286px;
						left: 61px;
					}
				}
				.shop_now{
					float: right;
					margin-top: 18px;
					position: relative;
					z-index: 2;
					@media (min-width: $screen-lg-min){
						margin-top: 28px;
					}
				}
			}				
		}				
	}
	#bathrooms-for-inspiration{
		margin-bottom: 40px;
		.products-used{
			h2{
				color: $pale-blue;
			}
		}
		.bathroom{
			.hotspots{
				.hotspot{
					&:hover{
						color: $pale-blue;
					}
				}
				.hotspot-data{
					.text{
						h3{
							color: $pale-blue;
						}
					}
					path.border{
						fill: $pale-blue;		
					}
					path.arrow{
						fill: $pale-blue;			
					}
				}
			}
		}		
	}
	#water-therapy{
		margin-bottom: 40px;
		.banner{
			position: relative;
			.text{
				@extend %center-align;
				width: 697px;
				h2{
					font-size: em(50);
					display: inline;
					background: $white;
					color: $dark-green;
				}
			}
		}
		.products-grid{
			background: url(../images/calm/3-water-therapy/background.jpg) no-repeat center center;
			max-width: 1200px;
			margin: 0 auto;
			.product{
				margin-bottom: 50px;
				.image{
					margin-bottom: 38px;
				}
			}
		}
		.video{
			position: relative;
			max-width: 1440px;
			margin: 0 auto;
			.share{
				position: absolute;
				right: 30px;
				top: 40px;
			}
			.text{
				h2{
					font-size: em(50);
					text-decoration: underline;
					margin-bottom: 30px;
				}
				position: absolute;
				bottom: 80px;
				left: 200px;
				width: 300px;
				color: $white;
			}
			.play{
				@extend %center-align;
				i{
					font-size: em(50);
					color: $white;
				}
			}
		}		
	}
	#tips{
		margin-bottom: 40px;
	}
	#colour-picker{
		.image-wrap{
			position: relative;
			padding-left: 134px;
			.text{
				font-size: em(50);
				font-weight: bold;
				position: absolute;
				top: 80px;
				left: 0;
				line-height: 1em;
				text-decoration: underline;
				color: $pale-blue;
			}
			.share{
				position: absolute;
				top: 30px;
				right: 30px;
			}
		}
		.description{
			padding-left: 134px;
		}
	}
	#favourites{
		margin-bottom: 40px;
	}
	#footer-ads{
		padding-top: 105px;
		padding-bottom: 110px;
		.pinterest-board{
			position: relative;
			.text{
				@extend %center-align;
				text-align: center;
				width: 368px;
				.circle{
					width: 65px;
					height: 65px;
					margin: 0 auto;
					background: $pink;
					text-align: center;
					margin-top: 40px;
					margin-bottom: 30px;
					@include border-radius(50%);
					i{
						color: $white;
						font-size: em(50);
				    position: relative;
    				top: 12px;
					}
				}
				.button{
					display: block;
					border: 2px solid $dark-grey;
					background: none;
					padding: 20px 30px;
					color: $dark-grey;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
		.video{
			position: relative;
			.text{
				position: absolute;
				text-decoration: underline;
				font-size: em(50);
				font-weight: 700;
				left: 20px;
				top: 80px;
				line-height: 1em;
				color: $white;
			}
		}
	}			
}