body.love-calm{
	.we-love{
		background-position:-125px 0;		
	}
	.icon-share-dotted{
		color: $pink;
		font-size: em(46);
	}
	#collection-intro{
		margin-bottom: em(50);
		.plant{
			position: absolute;
			left: 0;
			top: 0;
			max-width: 180px;
			@media (min-width: $screen-sm-min){
				max-width: 120px;
			}
			@media (min-width: $screen-md-min){
				max-width: 180px;	
			}
			@media (min-width: $screen-lg-min){
				max-width: 384px;
			}
		}	
		header{
			background: none;
			position: relative;
			overflow: hidden;
			.image{
				position: relative;
			}
			margin-left: -30px;
			margin-right: -30px;
			@media (min-width: $screen-md-min){
				margin-left: 0;
				margin-right: 0;
			}
			h1{
				color: $white;
				position: absolute;
				top: 30.85106383%;
				right: 27.30263%;
				text-decoration: underline;
				font-size: em(40);
				@media (min-width: $screen-sm-min){
					font-size: em(90);
					top: 30.85106383%;
					right: 27.30263%;
				}				
			}							
		}
		.intro{
			position: relative;
			color: $pale-blue;
			.hanging-toy{
				position: absolute;
				right: 43%;
				top: 0;
				z-index: 2;
				@media (min-width: $screen-md-min){
					right: 38%;
				}
				@media (min-width: $screen-lg-min){
					right: 33%;
				}
				img{
					max-width: 48px;
					@media (min-width: $screen-sm-min){
						max-width: 97px;	
					}
					@media (min-width: $screen-md-min){
						max-width: 140px;
					}
					@media (min-width: $screen-lg-min){
						max-width: 195px;
					}
				}
			}
			.intro-copy{
				position: relative;
				z-index: 1;
				font-weight: 700;
				padding-top: em(100);
				.text{
					font-size: em(28);
					margin-bottom: em(20);
					@media (min-width: $screen-md-min){
						font-size: em(34);
					}
				}
			}	
		}
		.products-we-love{
			position: relative;
			.product{
				position: relative;
				padding: em(120) em(0) em(20);
				@media (min-width: $screen-md-min){
					padding: em(132) em(0) em(20);
				}
				.image{
					.we-love{
						position: absolute;
						top: -36px;
						left: 50%;   				
						@include transform(translateX(-50%));
					}
					.share{
						position: absolute;
						top: 20px;
						right: 20px;
					}
				}
				.white-box{
					background: $white;
					font-size: em(18);
					line-height: 1.2em;
					padding: em(15) em(30) em(15) em(15);
					margin: 0 em(30) em(20);		
					@media (min-width: $screen-md-min){
						margin: 0 em(66) em(20) em(80);		
					}			
				}
				.button{
					text-align: right;
					margin: 0 em(30) em(20);		
					@media (min-width: $screen-md-min){
						margin: 0 em(66) em(20) em(80);		
					}	
					.shop_now{
						position: relative;
						z-index: 2;
					}
				}				
			}				
		}				
	}
	#bathrooms-for-inspiration{
		margin-bottom: 40px;
		.row{
			margin-left: -30px;
			margin-right: -30px;
			@media (min-width: $screen-md-min){
				margin-left: -15px;
				margin-right: -15px;
			}
		}
		.products-used{
			h2{
				color: $pale-blue;
			}
		}
		.bathroom{
			.hotspots{
				.hotspot{
					&:hover{
						color: $pale-blue;
					}
				}
				.hotspot-data{
					.text{
						h3{
							color: $pale-blue;
						}
					}
					path.border{
						fill: $pale-blue;		
					}
					path.arrow{
						fill: $pale-blue;			
					}
				}
			}
		}		
	}
	#water-therapy{
		margin-bottom: 40px;
		.banner{
			position: relative;
			background-size: cover;
			background-position: center center;
			padding: em(165) em(20);
			text-align: center;
			margin-bottom: 40px;
			.text{
				text-align: left;
				@include clearfix;
				margin: 0 auto;
				display: inline-block;
				p{
					background: $white;
					color: $dark-green;
					margin: 0;
					padding: 5px 8px;
					display: block;
					float: left;
					clear: both;
					font-weight: bold;
					font-size: em(50);
					line-height: 1em;
				}
			}
		}
		.products-grid{
			background: url(../images/calm/3-water-therapy/background.jpg) no-repeat center center;
			background-size: 80%;
			@media (min-width: $screen-md-min){
				background-size: inherit;
			}
			max-width: 1200px;
			margin: 0 auto;
			.product{
				margin-bottom: 50px;
				.image{
					margin-bottom: 38px;
				}
			}
		}
		.video{
			position: relative;
			max-width: 1440px;
			margin: 0 auto;
			background-size: cover;
			background-position: top right;
			@media (min-width: $screen-md-min){
				height: 633px;
			}
			.play{
				@extend %center-align;
				i{
					font-size: em(50);
					color: $white;
				}
			}
			.share{
				position: absolute;
				right: 30px;
				top: 40px;
				z-index: 2;
				@media (min-width: $screen-sm-min){
					bottom: inherit;
				}
			}
			.text{
				color: $white;
				padding: em(40) em(30);
				@media (min-width: $screen-sm-min){
					padding: em(174) em(60) em(74) em(200);
				}
				h2{
					font-size: em(50);
					text-decoration: underline;
					margin-bottom: 30px;
				}
				.description{
					font-size: em(24);
					max-width: 360px;					
				}	
			}			
		}		
	}
	#tips{
		margin-bottom: 40px;
		.banner{
			position: relative;
			@media (min-width: $screen-md-min){
				min-height: 500px;
			}
			.image{
				position: relative;
				padding-left: 40px;
				@media (min-width: $screen-sm-min){
					position: absolute;
					left: 0;
					top: 20px;
					padding-right: 17em;
				}
				@media (min-width: $screen-lg-min){
					margin-left: 10em;
					padding-right: 0;
				}
			}
			.description{
				position: absolute;
				top: 3em;
				left: 0;
				p{
					background: $pale-blue;
					color: $white;
					margin: 0;
					padding: 5px 8px;
					display: block;
					float: left;
					clear: both;
					font-weight: bold;
					font-size: em(30);
					line-height: 1em;
				}
			}
			.title{
				h2{
					font-size: em(60);
					color: $pale-blue;
					text-decoration: underline;
					margin-top: 0;
					margin-bottom: 30px;
					line-height: 1.2em;
				}
				.message{
					p{
						background: $green;
						color: $white;
						margin: 0;
						padding: 5px 8px;
						display: block;
						float: left;
						clear: both;
						font-weight: bold;
						font-size: em(30);
						line-height: 1em;
					}
				}
			}
		}
		.tips{
			padding-top: 20px;
			.person{
				text-align: center;
				color: $pale-blue;
				@media (min-width: $screen-md-min){
					margin-left: 72px;
				}
				h2{
					font-size: em(24);
					margin-bottom: 0;
				}
				.name{
					font-size: em(16);
				}
			}
			.tip{
				position: relative;
				padding-left: 60px;
				margin-bottom: em(20);
				h3{
					color: $pale-blue;
					font-size: em(24);
				}
				.text{
					font-size: em(18);
					color: $grey;
					line-height: em(20);
				}
			}
		}
	}
	#colour-picker{
		overflow: hidden;
		margin-bottom: em(90);
		.image-wrap{
			position: relative;
			@media (min-width: $screen-md-min){
				padding-left: em(134);
			}
			.text{
				font-size: em(50);
				font-weight: bold;
				line-height: 1em;
				text-decoration: underline;
				color: $pale-blue;
				position: relative;
				margin-top: 20px;
				@media (min-width: $screen-md-min){
					margin-top: 0;
					position: absolute;
					top: 20%;
					left: 0;
				}
			}
			.share{
				position: absolute;
				top: 30px;
				right: 30px;
			}
		}
		.description{
			margin-top: 20px;
			padding-right: em(140);
			@media (min-width: $screen-md-min){
				margin-top: 0;
				padding-left: 134px;
			}
		}
		.slider{
			button{
				@include appearance(none);
				background: none;
				border: none;
				outline: none;
				position: absolute;
				bottom: -40px;
				z-index: 2;
				i{
					font-size: em(50);
					color: $pale-blue;
				}
				&.arrow-next{
					@include transform(translateY(-100%));
					right: 0;
				}
				&.arrow-prev{
					@include transform(translateX(-100%) translateY(-100%));
					right: 10px;
				}
				&.slick-disabled{
					i{
						color: $grey;
					}
				}
			}
		}
	}
	#favourites{
		margin-bottom: 40px;
		.banner{
			.image-wrap{
				.text{
					h2{
						color: $pale-blue;
						text-decoration: underline;
					}
					.description{
						p{
							background: $pale-blue;
						}
					}	
				}
			}			
		}			
	}
	#footer-ads{
		padding-top: 105px;
		padding-bottom: 110px;
		.pinterest-board{
			position: relative;
			.text{
				width: 100%;
				padding: 0 em(30);
				@extend %center-align;
				text-align: center;
				max-width: 400px;
				.circle{
					width: 65px;
					height: 65px;
					margin: 0 auto;
					background: $pink;
					text-align: center;
					margin-top: em(40);
					margin-bottom: em(30);
					@include border-radius(50%);
					i{
						color: $white;
						font-size: em(50);
				    position: relative;
    				top: 12px;
					}
				}
				.button{
					display: block;
					border: 2px solid $dark-grey;
					background: none;
					padding: em(20) em(30);
					color: $dark-grey;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
		.video{
			position: relative;
			.text{
				position: absolute;
				text-decoration: underline;
				font-size: em(50);
				font-weight: 700;
				left: 5%;
				top: 20%;
				line-height: 1em;
				color: $white;
			}
		}
	}			
}