body.spring-2015{
	#favourites{
		.banner{
			@media (min-width: $screen-lg-min){
				padding-left: em(118);
			}
			.image-wrap{
				position: relative;
				padding-right: em(140);
				margin-bottom: 10px;
				margin-bottom: em(85);
				.image{
					position: relative;
				}
				.text{
					@include clearfix;
					position: absolute;
					bottom: 5%;
					right: 0;
					@media (min-width: $screen-md-min){
						right: 2%;
					}
					@media (min-width: $screen-lg-min){
						bottom: 5%;
						right: 17%;
					}
					h2{
						float: right;
						font-size: em(70);
						margin-bottom: em(70,70);
						color: $black;
						text-decoration: underline;
						margin-top: 0;						
					}
					.description{
						float: right;
						margin-right: 20px;
						clear: both;
						p{
							background: $pink;
							color: $white;
							margin: 0;
							padding: 5px 8px;
							display: block;
							float: left;
							clear: both;
							font-weight: bold;
							font-size: em(30);
							line-height: 1em;
						}
					}
				}				
				.we-love{
					position: absolute;
					left: 50%;
					@include transform(translateX(-50%) translateY(50%));
					bottom: 0;
				}
			}
		}
		.product-wrap{
			border-top: 1px solid $grey;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3){
				border-top: none;
			}
			.product{
				height: 100%;
				padding: 30px 26px 24px;
				.line-pattern{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
				}
				.image{
					margin-bottom: 38px;
				}
				.product-content{
					position: relative;
					z-index: 1;					
				}
				.product-info{
					position: relative;
					z-index: 1;
					@extend %center-align;
					padding: 30px;
					font-weight: 700;
					text-align: center;
					.icon{
				    width: 50px;
				    height: 50px;
				    margin: 0 auto;
				    background-color: #FFF;
				    @include border-radius(50%);
						margin-bottom: 20px;
						i{
							font-size: em(50);
							color: $pink;
						}	
					}
					.text{
						color: $black;
						font-size: em(16);
						text-transform: uppercase;
					}
				}
				.share{
					top: inherit;
					right: 10px;
					bottom: 10px;
				}
			}
		}
		.products-grid{
			max-width: 1033px;
			margin: 0 auto;
		}
	}
}