body.spring-2015{
	#favourites{
		.banner{
			@media (min-width: $screen-md-min){
				padding-left: em(118);
			}
			.text{
				@media (min-width: $screen-md-min){
					position: absolute;
					left: em(-255);
				}
				h2{
					font-size: em(50);
					color: $black;
					text-decoration: underline;
					margin-top: 0;
					margin-bottom: 40px;
					@media (min-width: $screen-md-min){
						margin-top: 20px;
						margin-bottom: 0;
					}
				}
			}
			.image-wrap{
				position: relative;
				padding-right: em(140);
				margin-bottom: 10px;
				@media (min-width: $screen-md-min){
					margin-bottom: 85px;
				}
				.image{
					position: relative;
				}
				.description{
					position: absolute;
					bottom: 5%;
					right: 0;
					p{
						background: $pink;
						color: $white;
						margin: 0;
						padding: 5px 8px;
						display: block;
						float: left;
						clear: both;
						font-weight: bold;
						font-size: em(30);
						line-height: 1em;
					}
				}
				.we-love{
					position: absolute;
					left: 50%;
					@include transform(translateX(-50%) translateY(50%));
					bottom: 0;
				}
			}
		}
		.product-wrap{
			min-height: 503px;
			border-top: 1px solid $grey;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(4){
				border-top: none;
			}
			.product{
				height: 100%;
				padding: 30px 26px 24px;
				.line-pattern{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
				}
				.image{
					margin-bottom: 38px;
				}
				.product-content{
					position: relative;
					z-index: 1;					
				}
				.product-info{
					position: relative;
					z-index: 1;
					@extend %center-align;
					padding: 30px;
					font-weight: 700;
					text-align: center;
					.icon{
				    width: 50px;
				    height: 50px;
				    margin: 0 auto;
				    background-color: #FFF;
				    @include border-radius(50%);
						margin-bottom: 20px;
						i{
							font-size: em(50);
							color: $pink;
						}	
					}
					.text{
						color: $black;
						font-size: em(16);
						text-transform: uppercase;
					}
				}
				.share{
					top: inherit;
					right: 10px;
					bottom: 10px;
				}
			}
		}
		.products-grid{
			max-width: 1033px;
			margin: 0 auto;
		}
	}
}