html.spring-2015{
	height: 100%;
}
body.spring-2015.mobile{
	height: 100%;
	.ocmain-wrapper{
		height: 100%;
		overflow-y: scroll;
	}	
}
body.spring-2015{	
	background: $body-grey;
	height: 100%;
	.ocmain-wrapper{
		height: 100%;
	}
	optgroup {
	    color: $black;
	    font-weight: bold;
	    font-family: $font-family;
	}
	h1,
	h2,
	h3{
		font-weight: 700;
	}
	p{
		margin-bottom: 1em;
	}
	img{
		max-width:100%;
	}
	.form-control{
		@include box-shadow(none);
		height: 44px;
	}
	@-moz-document url-prefix() { 
		.selectpicker{
			select.form-control{
				-moz-appearance: none;
		    text-indent: 0.01px;
		    text-overflow: '';
			}
		}
	}
	select::-ms-expand {
		display: none;
	}

	select::-ms-value {
		background: none;
	}
	/* Hack to remove highlight on ie.*/
	@media all and (-ms-high-contrast: active) {  
	/* Remove purple highlight in HC mode */  
		select:focus::-ms-value{
		  background-color: transparent;  
	 	}
	}
	@media all and (-ms-high-contrast: none) {  
		/* Remove blue highlight in Normal mode*/  
		select:focus::-ms-value{
		  background-color: transparent;  
		}
	}

	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}

	input[type=number] {
	    -moz-appearance:textfield;
	}
	.form-inline{
		.selectpicker{
			display: -moz-inline-stack;
		  display: inline-block;
		  *display: inline;
		}
	}
	#main{
		background: $white;
		max-width: 1520px;
		margin: 0 auto;
		margin-top: em(40);
		margin-bottom: 0;
		.heart-animation{
			i{
				color: $red;
				font-size: em(20);
			}
		}
	}
	#main-content{
		position: relative;
		overflow: hidden;
		padding-bottom: 40px;
		line-height: 1.1;
		font-family: $font-family;
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  font-size: 16px;
		
		@media (min-width: $screen-sm-min){
	  	font-size: 16px;
	  }
	  @media (min-width: $screen-md-min){
	  	font-size: 16px;
	  }
	  @media (min-width: $screen-lg-min){
	  	padding: 0;
	  }
	  *{
			@extend %border-box;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	    -moz-tap-highlight-color: rgba(0, 0, 0, 0);		
		}
		label, input, button, select, textarea{
			font-size: inherit;
			line-height: inherit;
			font-family: $font-family;
		}
		.col-xl-12{
			@media (min-width: $screen-xl-min){
				float: none;
				width: 100%;
				display: block;
			}
		}
		.col-xl-2{
			@media (min-width: $screen-xl-min){
			 width: 16.66667%;
			}
		}
		.col-xl-3{
			@media (min-width: $screen-xl-min){
			 width: 25%;
			}
		}
		.col-xl-9{
			@media (min-width: $screen-xl-min){
				width: 75%;
			}
		}
		
		.col-xl-pull-3{
			@media (min-width: $screen-xl-min){
	    	right: 25%;
	  	}
		}
		.col-xl-push-9{
			@media (min-width: $screen-xl-min){
	    	left: 75%;
	  	}
		}
		.col-xl-2,
		.col-xl-3,
		.col-xl-9,
		.col-xl-12{
			position: relative;
	    min-height: 1px;
	    padding-left: 15px;
	    padding-right: 15px;
			@media (min-width: $screen-xl-min){
				float: left;
			}
		}
		.slick-slider{
			.slick-dots{
				margin: 0;
				@media (min-width: $screen-sm-min){
				position: absolute;
				width: 100%;
				bottom: em(20);
				left: 0;
				}
				button{
					width: 10px;
					height: 10px;
					@include border-radius(50%);
					background: $white;
					text-indent: -9999px;
					&:before{
						display: none;
					}
				}
				.slick-active{
					button{
						background: $green;
					}
				}
			}
		}
		.slick-slide{
			outline: none !important;			
		}
		.container{
			padding: 0 30px;
		}
		.main-content{
			max-width: 1520px;
			margin: 0 auto;
			position: relative;
			padding: 0 15px;
		  @media (min-width: $screen-sm-min){
		  	width: 750px;
		  }
		  @media (min-width: $screen-md-min){
		  	width: 970px;
		  	padding: 0;
		  }
		  @media (min-width: $screen-lg-min){
		  	width: 1170px;
		  }
		  @media (min-width: 1520px){
		  	width: auto;
		  }
		}
	}
	@media only screen and (max-device-width:$screen-xs-max) {
	    input[type="text"]:focus, input[type="number"]:focus,
	    textarea:focus,
	    select:focus {
	        font-size:16px;
	    }
	}
	footer{
		margin-top: 0;
	}
	button.circular, a.circular{
		background: none;
		@include appearance(none);
		border: none;
		outline: none;
		text-decoration: none;
		.circle{
			&.green{
				background: $green;
			}
			&.pink{
				background: $pink;
			}
			
			@include border-radius(50%);
			border: 4px solid $white;
			display: block;
			margin: 0 auto;
			width: 55px;
			height: 55px;
			line-height: 50px;
			color: $white;
			font-weight: 700;
			i{
				&.iconr-share{
					font-size: em(22);
					position: relative;
					top: em(2);
				}
				&.iconr-email{
					font-size: em(28);
					position: relative;
					top: em(3);
					left: em(-1);
				}						
			}
			span.i-add-to-list{
				color: $white;
				font-weight: 700;						
		    font-size: em(32);
				line-height: 1.3em;
			}
			span.i-3d{
				font-size: 1.2em;
		    line-height: 1em;
			}			
		}	
		.desc{
			color: $white;
			margin-top: em(14);
			margin-bottom: em(20);
		}
		&.added{
			.circle{
				i{
					color: $red;
				}
			}
		}	
	}
	button.shop_now{
		background: $green;
		color: $white;
		@include appearance(none);
		border: none;
		font-weight: 700;
		padding: 12px 20px;
		@include border-radius(4px);
		line-height: 1em;
		@include box-shadow(2px 2px 6px rgba(0,0,0,0.3));
	}
	input, select, textarea{
		font-family: $font-family;
	}
	#hotspot{
			position: absolute;
			display: none;
			z-index: 10;
			.top-text{
				text-align: center;
				margin-top: 0;
				position: relative;
				p{
					color: $mr-blue;
					margin-bottom: 0;
					font-family: $font-family-serif;
					font-style: italic;
					font-size: em(36);
					font-weight: 700;
					line-height: em(28,36);
				}
			}
			.image{
				width: em(160);
				margin: 0 auto;
				margin-top: em(-20);
			}
			.text{
				text-align: center;
				.name{
					font-size: em(11);
					color: $grey;
				}
				h3{
					margin: 0;
					font-size: em(18);
					color: $mr-light-green;
					margin-bottom: em(10,18);
				}
				p{
					a{
						color: $grey;
						text-decoration: underline;
					}
				}
			}
			.info{
		    width: em(220);
		    @extend %center-align;
		    
			}
			path{
				&.bg{
					fill: $white;							
				}
				&.border{
					fill: $green;
				}
				&.arrow{
					fill: $green;
				}
			}
			&.family{
				.image{
					width: em(170);
				}
				path{
					&.bg{
						fill: $white;							
					}
					&.border{
						fill: $green;
					}
				}
				.top-text{
					display: none;
				}
				.text{
					h3{
			    	font-size: em(13);
			    	color: $green;
			    	margin:0;
			    	margin-bottom: em(16);
			    }
			    p{
			    	font-size: em(15);
			    	color: $grey;
			    }
				}
			}
			&.calm{
				.image{
					width: em(170);
				}
				path{
					&.bg{
						fill: $white;							
					}
					&.border{
						fill: $pale-blue;
					}
				}
				.top-text{
					display: none;
				}
				.text{
					h3{
			    	font-size: em(13);
			    	color: $pale-blue;
			    	margin:0;
			    	margin-bottom: em(16);
			    }
			    p{
			    	font-size: em(15);
			    	color: $grey;
			    }
				}
			}
			&.luxury{
				.image{
					width: em(170);
					margin-bottom: em(20);
				}
				path{
					&.bg{
						fill: $white;							
					}
					&.border{
						fill: $gold;
					}
				}
				.top-text{
					display: none;
				}
				.text{
					h3{
			    	font-size: em(13);
			    	color: $gold;
			    	margin:0;
			    	margin-bottom: em(16);
			    }
			    p{
			    	font-size: em(15);
			    	color: $grey;
			    }
				}
			}
			&.neo-classic{
				path{
					&.bg{
						fill: $white;							
					}
					&.border{
						fill: $mr-blue;
					}
				}
				.top-text{
					p{
						color: $mr-light-blue;
					}
				}
				.text{
					h3{
						color: $mr-blue;
					}
				}
			}
			&.coastal-luxury{
				path{
					&.bg{
						fill: $white;							
					}
					&.border{
						fill: $mr-dark-purple;
					}
				}
				.top-text{
					p{
						color: $mr-light-purple;
					}
				}
				.text{
					h3{
						color: $mr-dark-purple;
					}
				}				
			}
	}
}