html.touch{
	body.spring-2015{
		button.add-to-moodboard{
			&:hover{
				i{
					color: $white;
				}
			}
		}
	}
}
body.spring-2015{
	@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
	@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";
	.dot-pattern{
		background: url('../images/dot-pattern.jpg') repeat;
	}
	.line-pattern{
		background: url('../images/line-pattern.jpg') repeat;
	}
	h1{
		span{
			font-family: $font-family-serif;
			font-weight: 400;
			font-style: italic;
		}
	}
	.share-hex{
		z-index: 10;
		position: absolute;
		zoom: 1;
		.bg{
			fill: $white;
		}
		.border{
			fill: $green;
		}
		.share-button{
			position: absolute;
			zoom: 1;
			.circle{
				width: 50px;
				height: 50px;
				background: $green;
				position: relative;
				color: $white;
				text-align: center;
				@include border-radius(50%);
				i{
					font-size: 2em;
					line-height: 0.8em;
					@extend %center-align;
				}
			}
			&.facebook{
				top: 45px;
				left: 50%;
				@include transform(translateX(-50%));
			}
			&.twitter{
				top: 50%;
				right: 35px;
				@include transform(translateY(-50%));
			}
			&.pinterest{
				bottom: 45px;
				left: 50%;
				@include transform(translateX(-50%));
			}
			&.email{
				top: 50%;
				left: 35px;
				@include transform(translateY(-50%));
			}
			&.share-close{
				@extend %button-clear;
				@extend %center-align;
				i{
					color: $green;
					font-size: 3.4em;
				}
			}						
		}
	}
	.product{
		position: relative;
		color: $grey;
		outline: none !important;
		padding-bottom: em(15);
		.name{
			font-size: em(16);
			font-weight: 700;									
			@media (min-width: $screen-sm-min){
				font-size: em(18);
			}
		}
		.description{
			font-size: em(14);			
			@media (min-width: $screen-sm-min){
				font-size: em(16);
			}
		}
		.image{
			position: relative;
			.share{
				position: absolute;
				right: 0px;
				top: 50%;						
			}
		}
		.price{
			padding: 15px 0 30px;
			font-weight: 700;
			font-size: em(14);
			@media (min-width: $screen-sm-min){
				font-size: em(16);
			}
			span{
				font-style: italic;
				font-weight: 400;
			}
		}
	}
	.we-love{
		width: 62px;
		height: 65px;
		background-image: url(../images/we-love-sprite.png);
		background-size: 187.5px 65px;
		background-repeat: no-repeat;
		@media (min-width: $screen-md-min){
			width: 125px;
			height: 130px;
			background-size: 375px 130px;
		}
		&.calm{
				background-position: -62px 0;
				@media (min-width: $screen-md-min){
					background-position: -125px 0;	
				}
		}
		&.luxury{
			background-position: -126px 0;
			@media (min-width: $screen-md-min){
				background-position: -250px 0;	
			}
		}
		&.big{
			width: 125px;
			height: 130px;
			background-size: 375px 130px;
			&.calm{
				background-position: -125px 0;
			}
			&.luxury{
				background-position: -250px 0;
			}
		}
		&.small{
			width: 62px;
			height: 65px;
			background-position: 0 0;
			background-size: 187.5px 65px;
			background-repeat: no-repeat;
			&.calm{
				background-position: -62px 0;
			}
			&.luxury{
				background-position: -124px 0;
			}
		}
	}
	.products-slide, 
	.slides,
	.slider{
		.arrow-next,
			.arrow-prev{
				width: auto;
				@extend %button-clear;
				i{
					font-size: 5em;
					color: $grey;
				}
				&.slick-disabled{
					display: none;
				}
			}
			.arrow-next{
				@extend %vertical-align;
				right: -90px;				
				@media (min-width: $screen-md-min){
					right: -50px;				
				}
				@media (min-width: $screen-lg-min){
					right: -90px;				
				}
			}
			.arrow-prev{
				@extend %vertical-align;	
				left: -80px;
				@media (min-width: $screen-md-min){
					left: -50px;
				}
				@media (min-width: $screen-lg-min){
					left: -80px;
				}
			}		
	}
	button.share{
		@extend %button-clear;
		i{
			color: $pink;
			font-size: em(60);
			&:hover{
				color: $green;
			}
		}
	}
	.button-mood-shop{
		position: relative;
		@include border-radius(4px);
		@include box-shadow(1px 1px 3px rgba(0,0,0,0.3));
		display: inline-block;
		font-size: em(12);
		@media (min-width: $screen-sm-min){
			font-size: inherit;
		}
	}
	button.add-to-moodboard{
		background: $dark-green;
		color: $white;
		border: none;
		font-weight: 700;
		padding: em(14) em(12);
		border-right: 2px solid $white;
		line-height: 1em;
		outline: none;
		position: absolute;
		left: 0;
		top: 0;
		@include appearance(none);
		@include border-radius(4px 0px 0px 4px);
		span.button-text{
			margin-left: em(10);
			display: none;
		}
		font-size: em(16);
		&:hover{
			i{
				opacity: 0.7
			}
		}
		&.added{
			i{
				opacity: 1;
				color: $pink;
			}
		}
	}
	button.shop-now{
		background: $green;
		color: $white;
		border: none;
		font-size: 1em;
		font-weight: 700;
		padding: em(14) em(12);
		line-height: 1em;
		outline: none;
		@include appearance(none);
		@include border-radius(0px 4px 4px 0px);
		span.button-text{
			margin-right: em(10);
		}
		white-space: nowrap;
		margin-left: 32px;		
		@media (min-width: $screen-sm-min){
			margin-left: 38px;		
		}
	}
	button.add-to-cart{
		position: relative;
		background: $green;
		color: $white;
		border: none;
		font-size: 1em;
		font-weight: 700;
		padding: em(14) em(59) em(14) em(12);
		line-height: 1em;
		outline: none;
		white-space: nowrap;
		@include appearance(none);
		@include border-radius(4px);
		@include box-shadow(2px 2px 6px rgba(0,0,0,0.3));
		span.plus{
			position: absolute;
			top: 0;
			right: 0;
			width: em(47);
			height: 100%;
			background: $white;
			@include border-radius(0px 4px 4px 0px);
			.text{
				color: $green;
				font-size: em(34);
				@extend %center-align;
			}
		}				
	}
	.button-action{
		background: $green;
		color: $white;
		border: none;
		font-size: 1em;
		font-weight: 700;
		padding: em(12);
		line-height: 1em;
		outline: none;
		@include appearance(none);
		@include border-radius(4px);
		white-space: nowrap;
		display: inline-block;
	}
	label.error{
		display: inline-block;
		color: $red;
	}
}