$white:				#FFF;
$black:				#000;

$blue:				#c7e6f4;
$pink: 				#eaacb7;
$green:				#6bccb8;
$pale-blue:   #6a8893;
$light-grey:  #e5eaec;

$browser-context: 16;

$font-family: 'Gotham A', 'Gotham B';
$font-family-old-site: 'Helvetica Neue', Helvetica, Arial, sans-serif;;

$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$screen-xs-max: 460px;