$white:				#FFF;
$black:				#000;

$dark-grey: 	#3f3f3f;
$darker-grey:   #252525;
$blue:				#c7e6f4;
$pink: 				#f1c3cb; /*eaacb7*/
$gold: 				#c6ac75;
$dark-pink: 	#d93d96;
$green:				#6bccb8;
$dark-green:  #006166;
$pale-blue:   #6a8893;
$rose-gold:   #e98e72;

$lighter-grey: #dedede;
$light-grey:  #e5eaec;
$body-grey:   #F2F2F2;
$grey:				#828282;
$red:					#c91d1d;

/* Mr Jason Grant colours*/

$mr-blue:			#003768;
$mr-green-banner:			#6aa59c;
$mr-day-spa-bg:					#63838d;
$mr-light-green:        #8fd0b9;
$mr-dark-green:					#1f767b;

/* Love Family*/

	/* bathrooms for inspiration section */
	$options-bg: $dark-grey;


$browser-context: 16;

$font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Libre Baskerville', serif;
$font-family-old-site: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$screen-xl-min: 1520px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xss-max: 460px;

$hex-big-xs-wd: 150px;
$hex-big-xs-hg: 164px;
$hex-big-sm-wd: 275px;
$hex-big-sm-hg: 300px;

$hex-small-xs-wd: 120px;
$hex-small-xs-hg: 133px;
$hex-small-sm-wd: 190px;
$hex-small-sm-hg: 210px;