#bsgc-2015{
	section#prizes{
		position: relative;
		background: url(../img/entry-pattern.jpg) repeat;
		text-align: center;
		color: $white;
		.plant{
			position: absolute;
			top: 0;
			left: 0;
			img{
				@include transform(scaleX(-1));
        filter: FlipH;
        -ms-filter: "FlipH";
			}
		}
		.beautifully-logo{
			padding: 30px 0;
			text-align: center;
			img{
				width: 115px;
				height: 115px;
			}
		}
		#display-filename{
			div{
				margin: 40px 0;
				span{
					font-size: 14px;			
				}
			}
		}
	}
}