@charset "UTF-8";
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

/* Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

*/
/* Slider */
/* line 3, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../bower_components/slick-carousel/slick/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 25, ../bower_components/slick-carousel/slick/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 29, ../bower_components/slick-carousel/slick/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 34, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 43, ../bower_components/slick-carousel/slick/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 49, ../bower_components/slick-carousel/slick/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 55, ../bower_components/slick-carousel/slick/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 59, ../bower_components/slick-carousel/slick/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 63, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 67, ../bower_components/slick-carousel/slick/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 70, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide img {
  display: block;
}
/* line 73, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 79, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 83, ../bower_components/slick-carousel/slick/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 87, ../bower_components/slick-carousel/slick/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 91, ../bower_components/slick-carousel/slick/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 97, ../bower_components/slick-carousel/slick/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 40, ../sass/_slick-theme.scss */
.slick-loading .slick-list {
  background: #fff center center no-repeat;
}

/* Icons */
/* Arrows */
/* line 58, ../sass/_slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 74, ../sass/_slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 78, ../sass/_slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 82, ../sass/_slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 87, ../sass/_slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "bathroomhappiness";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 97, ../sass/_slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 99, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 103, ../sass/_slick-theme.scss */
.slick-prev:before {
  content: "a";
}
/* line 105, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "d";
}

/* line 111, ../sass/_slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 113, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 117, ../sass/_slick-theme.scss */
.slick-next:before {
  content: "d";
}
/* line 119, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "a";
}

/* Dots */
/* line 127, ../sass/_slick-theme.scss */
.slick-slider {
  margin-bottom: 0;
}
/* line 129, ../sass/_slick-theme.scss */
.slick-slider .slick-slide {
  outline: none;
}

/* line 134, ../sass/_slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 142, ../sass/_slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 150, ../sass/_slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 162, ../sass/_slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 164, ../sass/_slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 168, ../sass/_slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "bathroomhappiness";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 185, ../sass/_slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 1;
}

/* line 1, ../sass/_global.scss */
html.bathroom-happiness {
  height: 100%;
}

/* line 4, ../sass/_global.scss */
body.bathroom-happiness {
  height: 100%;
  /* Hack to remove highlight on ie.*/
  /* Slick Slide shows */
}
/* line 5, ../sass/_global.scss */
body.bathroom-happiness .main {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1200px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    padding: 0;
  }
}
@media (min-width: 768px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    max-width: 1200px;
  }
}
/* line 25, ../sass/_global.scss */
body.bathroom-happiness optgroup {
  color: #000;
  font-weight: bold;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 30, ../sass/_global.scss */
body.bathroom-happiness h1,
body.bathroom-happiness h2,
body.bathroom-happiness h3 {
  font-weight: 700;
}
/* line 35, ../sass/_global.scss */
body.bathroom-happiness p {
  margin-bottom: 1em;
}
/* line 38, ../sass/_global.scss */
body.bathroom-happiness img {
  max-width: 100%;
}
/* line 41, ../sass/_global.scss */
body.bathroom-happiness .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  height: 44px;
}
@-moz-document url-prefix() {
  /* line 47, ../sass/_global.scss */
  body.bathroom-happiness .selectpicker select.form-control {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }
}
/* line 54, ../sass/_global.scss */
body.bathroom-happiness select::-ms-expand {
  display: none;
}
/* line 58, ../sass/_global.scss */
body.bathroom-happiness select::-ms-value {
  background: none;
}
@media all and (-ms-high-contrast: active) {
  /* line 4, ../sass/_global.scss */
  body.bathroom-happiness {
    /* Remove purple highlight in HC mode */
  }
  /* line 64, ../sass/_global.scss */
  body.bathroom-happiness select:focus::-ms-value {
    background-color: transparent;
  }
}
@media all and (-ms-high-contrast: none) {
  /* line 4, ../sass/_global.scss */
  body.bathroom-happiness {
    /* Remove blue highlight in Normal mode*/
  }
  /* line 70, ../sass/_global.scss */
  body.bathroom-happiness select:focus::-ms-value {
    background-color: transparent;
  }
}
/* line 75, ../sass/_global.scss */
body.bathroom-happiness input[type=number]::-webkit-outer-spin-button,
body.bathroom-happiness input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 81, ../sass/_global.scss */
body.bathroom-happiness input[type=number] {
  -moz-appearance: textfield;
}
/* line 86, ../sass/_global.scss */
body.bathroom-happiness .form-inline .selectpicker {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
}
/* line 93, ../sass/_global.scss */
body.bathroom-happiness .panel {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
}
/* line 102, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow {
  position: relative;
  height: 335px;
}
@media (min-width: 992px) {
  /* line 102, ../sass/_global.scss */
  body.bathroom-happiness .panel-slideshow {
    height: 351px;
  }
}
@media (min-width: 1200px) {
  /* line 102, ../sass/_global.scss */
  body.bathroom-happiness .panel-slideshow {
    height: 335px;
  }
}
/* line 112, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-container {
  height: 273px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  /* line 112, ../sass/_global.scss */
  body.bathroom-happiness .panel-slideshow .slideshow-container {
    height: 290px;
  }
}
@media (min-width: 1200px) {
  /* line 112, ../sass/_global.scss */
  body.bathroom-happiness .panel-slideshow .slideshow-container {
    height: 273px;
  }
}
/* line 125, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content a {
  display: block;
  text-align: left;
  text-decoration: none;
}
/* line 130, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-image {
  text-align: center;
}
/* line 132, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-image img {
  margin: 0 auto;
}
/* line 137, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text {
  padding-left: 120px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #202020;
}
/* line 143, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text p {
  margin-bottom: 1px;
}
/* line 146, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text .product-name {
  font-weight: bold;
}
/* line 149, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text .product-description {
  font-weight: 300;
}
/* line 152, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text .product-price {
  font-weight: 500;
}
/* line 155, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text .product-price-gst {
  font-size: 9px;
  font-weight: 700;
  text-transform: none;
}
/* line 164, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons {
  position: absolute;
  top: 180px;
  left: 10px;
  margin-left: 10px;
  width: 66px;
}
/* line 171, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-next,
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-prev {
  top: 0;
  margin-top: 0;
  background-color: #e2e1e1;
  width: 32px;
  height: 40px;
}
/* line 179, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-next:before,
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-prev:before {
  color: #000;
}
/* line 184, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-next {
  right: 0;
}
/* line 188, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-prev {
  left: 0;
}
/* line 193, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-label {
  text-align: center;
  padding: 9px 9px 24px;
}
/* line 197, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-label a {
  margin: 0;
  color: #FFF;
  background-color: #6dc8b6;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gotham A", "Gotham B", Gotham-Book, Arial, sans-serif;
  padding: 9px 18px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 207, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-label a:hover {
  text-decoration: none;
  background-color: black;
  color: #FFF;
}
/* line 222, ../sass/_global.scss */
body.bathroom-happiness #main-content {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  line-height: 1.1;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  /* *{
		@extend %border-box;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);		
	}*/
}
@media (min-width: 768px) {
  /* line 222, ../sass/_global.scss */
  body.bathroom-happiness #main-content {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  /* line 222, ../sass/_global.scss */
  body.bathroom-happiness #main-content {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* line 222, ../sass/_global.scss */
  body.bathroom-happiness #main-content {
    padding: 0;
  }
}
/* line 246, ../sass/_global.scss */
body.bathroom-happiness #main-content label, body.bathroom-happiness #main-content input, body.bathroom-happiness #main-content button, body.bathroom-happiness #main-content select, body.bathroom-happiness #main-content textarea {
  font-size: inherit;
  line-height: inherit;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-device-width: 767px) {
  /* line 253, ../sass/_global.scss */
  body.bathroom-happiness input[type="text"]:focus, body.bathroom-happiness input[type="number"]:focus,
  body.bathroom-happiness textarea:focus,
  body.bathroom-happiness select:focus {
    font-size: 16px;
  }
}
/* line 259, ../sass/_global.scss */
body.bathroom-happiness input, body.bathroom-happiness select, body.bathroom-happiness textarea {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "bathroomhappiness";
  src: url("../fonts/bathroomhappiness.eot");
  src: url("../fonts/bathroomhappiness.eot?#iefix") format("embedded-opentype"), url("../fonts/bathroomhappiness.woff") format("woff"), url("../fonts/bathroomhappiness.ttf") format("truetype"), url("../fonts/bathroomhappiness.svg#bathroomhappiness") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: "bathroomhappiness" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/_fonts.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bathroomhappiness" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/_fonts.scss */
.icon-arrow-prev:before {
  content: "\61";
}

/* line 44, ../sass/_fonts.scss */
.icon-arrow-right:before {
  content: "\62";
}

/* line 47, ../sass/_fonts.scss */
.icon-search:before {
  content: "\63";
}

/* line 50, ../sass/_fonts.scss */
.icon-arrow-next:before {
  content: "\64";
}

/* line 2, ../sass/pages/_homepage.scss */
body.homepage .panel-search {
  height: 52px;
  line-height: 52px;
  position: relative;
}
/* line 7, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-input {
  width: 100%;
  padding-right: 52px;
}
/* line 11, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-input input[type=text] {
  border: none;
  padding: 0 0 0 10px;
  width: 100%;
  height: 52px;
  line-height: 52px;
}
/* line 20, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-submit {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 24, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-submit button {
  padding: 2px 6px 3px;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: #f6f6f6;
  font-size: 30px;
  width: 52px;
  height: 52px;
}
/* line 35, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-submit button i {
  position: relative;
  top: 4px;
}
/* line 43, ../sass/pages/_homepage.scss */
body.homepage .section-intro {
  background-color: #EDEBEB;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
/* line 50, ../sass/pages/_homepage.scss */
body.homepage .section-intro a {
  display: block;
  text-align: center;
}
/* line 54, ../sass/pages/_homepage.scss */
body.homepage .section-intro .row {
  margin-left: -5px;
  margin-right: -5px;
}
/* line 57, ../sass/pages/_homepage.scss */
body.homepage .section-intro .row .col-md-3,
body.homepage .section-intro .row .col-md-6 {
  padding: 0 5px;
}
/* line 62, ../sass/pages/_homepage.scss */
body.homepage .section-intro .intro-text {
  text-align: center;
  color: #dabb61;
  font-size: 30px;
  padding: 0 10px;
  letter-spacing: -1.6px;
  position: relative;
  background: -webkit-linear-gradient(left, #ccaa62 0%, #c0a053 12%, #dfc063 21%, #d0b156 37%, #dabb60 47%, #ab8731 58%, #c59f4a 76%, #e9ca6f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 0 auto;
  margin-top: 11px;
}
@media (min-width: 768px) {
  /* line 62, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .intro-text {
    font-size: 44px;
    padding: 0 20px;
  }
}
/* line 81, ../sass/pages/_homepage.scss */
body.homepage .section-intro .experience {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
  letter-spacing: 3.2px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  /* line 81, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .experience {
    font-size: 18px;
  }
}
/* line 93, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero {
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  /* line 93, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-hero {
    min-height: 597px;
  }
}
@media (min-width: 992px) {
  /* line 93, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-hero {
    height: 708px;
  }
}
@media (min-width: 1200px) {
  /* line 93, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-hero {
    height: 650px;
  }
}
/* line 106, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .image {
  max-height: 356px;
  overflow: hidden;
}
/* line 111, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero img {
  width: 100%;
}
/* line 114, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero a {
  text-decoration: none;
  color: black;
}
/* line 118, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero a:hover .arrow-link-icon {
  -webkit-animation: arrow-right 1.3s forwards infinite linear;
  -moz-animation: arrow-right 1.3s forwards infinite linear;
  -ms-animation: arrow-right 1.3s forwards infinite linear;
  -o-animation: arrow-right 1.3s forwards infinite linear;
  animation: arrow-right 1.3s forwards infinite linear;
}
/* line 124, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link {
  text-align: center;
  position: relative;
}
/* line 128, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link .arrow-link-label {
  font-family: "Gotham A", "Gotham B", Gotham-Book, Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 19px;
  font-weight: 400;
  letter-spacing: 1.6px;
}
/* line 138, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link .arrow-link-icon {
  display: block;
}
/* line 140, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link .arrow-link-icon i {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #dabb61;
  font-size: 52px;
  line-height: 30px;
}
/* line 151, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-link {
  display: block;
  overflow: hidden;
  position: relative;
}
/* line 156, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-link .background-div {
  position: absolute;
  width: 100%;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 160, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-link .background-div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
}
/* line 175, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-link:hover .background-div:after {
  opacity: 1;
}
/* line 180, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-link:hover .text-overlay .text-overlay-line-1 {
  -webkit-animation: exit-right-green 0.3s forwards linear;
  -moz-animation: exit-right-green 0.3s forwards linear;
  -ms-animation: exit-right-green 0.3s forwards linear;
  -o-animation: exit-right-green 0.3s forwards linear;
  animation: exit-right-green 0.3s forwards linear;
  color: #6dc8b6;
}
/* line 184, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-link:hover .text-overlay .text-overlay-line-2 {
  -webkit-animation: exit-left-green 0.3s forwards linear;
  -moz-animation: exit-left-green 0.3s forwards linear;
  -ms-animation: exit-left-green 0.3s forwards linear;
  -o-animation: exit-left-green 0.3s forwards linear;
  animation: exit-left-green 0.3s forwards linear;
  color: #6dc8b6;
}
/* line 188, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-link:hover .text-overlay .arrow-link {
  -webkit-animation: exit-left-green 0.3s forwards linear, arrow-right 0.7s 0.5s forwards infinite linear;
  -moz-animation: exit-left-green 0.3s forwards linear, arrow-right 0.7s 0.5s forwards infinite linear;
  -ms-animation: exit-left-green 0.3s forwards linear, arrow-right 0.7s 0.5s forwards infinite linear;
  -o-animation: exit-left-green 0.3s forwards linear, arrow-right 0.7s 0.5s forwards infinite linear;
  animation: exit-left-green 0.3s forwards linear, arrow-right 0.7s 0.5s forwards infinite linear;
  color: #6dc8b6;
}
/* line 195, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ccaa62+0,c0a053+12,dabb61+21,fbec84+37,dabb60+47,ab8731+76,c59f4a+85,e9ca6f+100 */
  background: #ccaa62;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ccaa62 0%, #c0a053 12%, #dabb61 21%, #fbec84 37%, #dabb60 47%, #ab8731 76%, #c59f4a 85%, #e9ca6f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ccaa62 0%, #c0a053 12%, #dabb61 21%, #fbec84 37%, #dabb60 47%, #ab8731 76%, #c59f4a 85%, #e9ca6f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ccaa62 0%, #c0a053 12%, #dabb61 21%, #fbec84 37%, #dabb60 47%, #ab8731 76%, #c59f4a 85%, #e9ca6f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccaa62', endColorstr='#e9ca6f',GradientType=1 );
  /* IE6-9 */
}
/* line 203, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-find-inspiration {
  height: 285px;
}
@media (min-width: 992px) {
  /* line 203, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-find-inspiration {
    height: 347px;
  }
}
@media (min-width: 1200px) {
  /* line 203, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-find-inspiration {
    height: 305px;
  }
}
/* line 211, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-find-inspiration .background-div {
  height: 100%;
  background: url("../images/homepage/find-inspiration.jpg");
  background-size: cover;
}
/* line 218, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-shop-products {
  height: 285px;
}
/* line 220, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-shop-products .background-div {
  height: 100%;
  background: url("../images/homepage/shop-products.jpg");
  background-size: cover;
}
@media (min-width: 1200px) {
  /* line 218, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-shop-products {
    height: 243px;
  }
}
/* line 230, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-overlay {
  height: 90px;
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 18px;
  width: 100%;
  text-align: center;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 244, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-overlay .text-overlay-line-1 {
  font-size: 14px;
  line-height: 14px;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
/* line 250, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-overlay .text-overlay-line-2 {
  font-size: 28px;
  line-height: 28px;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
/* line 256, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-overlay .arrow-link i {
  font-size: 42px;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
/* line 264, ../sass/pages/_homepage.scss */
body.homepage .section-the-block {
  background-color: #EDEBEB;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 270, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom {
  background: transparent url("../images/homepage/the-block-bathroom.jpg") 238px 0;
}
/* line 274, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom a:hover {
  text-decoration: none;
}
/* line 276, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom a:hover .arrow-link-icon {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0);
}
/* line 282, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-dean-shay {
  background-color: #231f20;
  text-align: center;
}
@media (min-width: 375px) {
  /* line 282, ../sass/pages/_homepage.scss */
  body.homepage .section-the-block .the-block-bathroom .the-block-dean-shay {
    padding-left: 20px;
    float: left;
  }
}
/* line 291, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge {
  position: relative;
  float: left;
  display: none;
}
@media (min-width: 375px) {
  /* line 291, ../sass/pages/_homepage.scss */
  body.homepage .section-the-block .the-block-bathroom .the-block-edge {
    display: block;
  }
}
/* line 299, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge .arrow-link {
  position: absolute;
  bottom: -10px;
}
/* line 303, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge .arrow-link .arrow-link-icon {
  display: block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 306, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge .arrow-link .arrow-link-icon i {
  color: #e2e1e1;
  font-size: 42px;
}
/* line 316, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks {
  background: #DEDDDE url(../images/nav/nav-pattern.png) repeat;
  padding: 20px 15px 0 15px;
}
@media (min-width: 768px) {
  /* line 316, ../sass/pages/_homepage.scss */
  body.homepage .section-nav-blocks {
    padding: 50px 15px 55px 15px;
  }
}
/* line 322, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .row {
  margin-left: -2px;
  margin-right: -2px;
}
/* line 325, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .row .col-md-3 {
  padding: 0 2px;
}
/* line 330, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 330, ../sass/pages/_homepage.scss */
  body.homepage .section-nav-blocks .nav-link {
    margin-bottom: 4px;
  }
}
/* line 337, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 346, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .overlay:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
/* line 356, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .overlay .overlay-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  line-height: 1;
}
/* line 368, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .overlay .overlay-text .overlay-text-1 {
  font-size: 14px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}
/* line 374, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .overlay .overlay-text .overlay-text-2 {
  font-size: 28px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0;
}
/* line 380, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .overlay .overlay-text .arrow-link {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 383, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .overlay .overlay-text .arrow-link i {
  font-size: 40px;
}
/* line 389, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover {
  text-decoration: none;
}
/* line 390, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .overlay {
  opacity: 1;
}
/* line 393, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .overlay .overlay-text .overlay-text-1,
body.homepage .section-nav-blocks .nav-link:hover .overlay .overlay-text .overlay-text-2,
body.homepage .section-nav-blocks .nav-link:hover .overlay .overlay-text .arrow-link {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/* line 399, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .overlay .overlay-text .arrow-link {
  -webkit-animation: arrow-right 0.8s 0.3s forwards infinite linear;
  -moz-animation: arrow-right 0.8s 0.3s forwards infinite linear;
  -ms-animation: arrow-right 0.8s 0.3s forwards infinite linear;
  -o-animation: arrow-right 0.8s 0.3s forwards infinite linear;
  animation: arrow-right 0.8s 0.3s forwards infinite linear;
}
/* line 406, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .nav-block p {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
/* line 410, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .nav-block.the-powder-room .nav-block-label {
  background: #e40066;
  color: white;
}
/* line 416, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .nav-block-label {
  background-color: #FFF;
  color: #5ab8d3;
}
/* line 422, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:active, body.homepage .section-nav-blocks .nav-link:focus {
  text-decoration: none;
}
/* line 427, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block {
  height: 260px;
  background: #ccc;
  position: relative;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
/* line 433, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 439, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.store-finder {
  background: url("../images/homepage/location-bg.jpg");
  background-size: cover;
  padding-top: 40px;
}
/* line 443, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.store-finder img {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 446, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.store-finder .heading {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight: bold;
  font-size: 20px;
  color: #FFF;
  margin-top: 10px;
}
/* line 455, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.the-powder-room {
  background: url("../images/nav/nav-pink-tile.png") center;
  padding-top: 23px;
}
/* line 456, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.the-powder-room img {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 462, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.the-powder-room .nav-block-label {
  background-color: #FFF;
  color: #e40066;
}
/* line 468, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.planning {
  background: url("../images/homepage/planning.jpg");
  background-size: cover;
  padding: 45px;
  font-size: 13px;
}
@media (min-width: 992px) {
  /* line 468, ../sass/pages/_homepage.scss */
  body.homepage .section-nav-blocks .nav-link .nav-block.planning {
    padding: 45px 15px;
  }
}
@media (min-width: 1200px) {
  /* line 468, ../sass/pages/_homepage.scss */
  body.homepage .section-nav-blocks .nav-link .nav-block.planning {
    padding: 45px;
  }
}
/* line 480, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.planning .heading {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
/* line 486, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.planning p {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 491, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.brands {
  background: url("../images/homepage/brands.jpg") center;
  background-size: cover;
}
/* line 494, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.brands .heading {
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 2px;
  left: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 505, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 35px;
  background-color: #FFF;
  color: #000;
  -moz-transition: color 0.3s ease-out, background 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out, background 0.3s ease-out;
  transition: color 0.3s ease-out, background 0.3s ease-out;
}
/* line 517, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form {
  background: url(../images/homepage/section-subscribe-bg.png);
  padding: 70px 15px;
  text-align: center;
}
/* line 522, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form {
  margin: 0;
}
/* line 525, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .subscribe-form-title {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #322f31;
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
}
@media (min-width: 768px) {
  /* line 525, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form .subscribe-form-title {
    display: inline;
    margin-right: 0 15px 0 0;
  }
}
/* line 539, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form input[type=text],
body.homepage .section-subscribe-form .subscribe-form input[type=email] {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  height: 50px;
  line-height: 50px;
  background: #f6f6f6;
  padding-left: 15px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  /* line 539, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form input[type=text],
  body.homepage .section-subscribe-form .subscribe-form input[type=email] {
    width: 210px;
    display: inline;
    margin-left: 10px;
  }
}
/* line 557, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form input[type=text].error,
body.homepage .section-subscribe-form .subscribe-form input[type=email].error {
  border: 1px solid #e40066;
}
/* line 562, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .name-wrapper {
  position: relative;
  display: block;
}
@media (min-width: 768px) {
  /* line 562, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form .name-wrapper {
    display: inline-block;
  }
}
/* line 570, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .submit-wrapper {
  position: relative;
  padding-right: 50px;
  height: 50px;
  display: block;
}
@media (min-width: 768px) {
  /* line 570, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form .submit-wrapper {
    display: inline-block;
  }
}
/* line 579, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .submit-wrapper .subscribe-submit {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 584, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .submit-wrapper .subscribe-submit button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: #f1f1f1;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding: 7px 6px 3px;
  text-align: center;
}
/* line 598, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form label.error {
  color: #e40066;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 598, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form label.error {
    position: absolute;
    top: 55px;
    left: 10px;
  }
}
/* line 610, ../sass/pages/_homepage.scss */
body.homepage .site-footer {
  margin-top: 0;
}

@-webkit-keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes exit-right-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes exit-right-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes exit-right-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes exit-right-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes exit-left-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes exit-left-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes exit-left-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes exit-left-green {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  10.1% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
}
@-ms-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }
}
@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}
@-moz-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}
@-ms-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}
@keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}
