@charset "UTF-8";
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

/* Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

*/
/* Slider */
/* line 3, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../bower_components/slick-carousel/slick/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 25, ../bower_components/slick-carousel/slick/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 29, ../bower_components/slick-carousel/slick/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 34, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 43, ../bower_components/slick-carousel/slick/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 49, ../bower_components/slick-carousel/slick/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 55, ../bower_components/slick-carousel/slick/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 59, ../bower_components/slick-carousel/slick/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 63, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 67, ../bower_components/slick-carousel/slick/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 70, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide img {
  display: block;
}
/* line 73, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 79, ../bower_components/slick-carousel/slick/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 83, ../bower_components/slick-carousel/slick/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 87, ../bower_components/slick-carousel/slick/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 91, ../bower_components/slick-carousel/slick/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 97, ../bower_components/slick-carousel/slick/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 40, ../sass/_slick-theme.scss */
.slick-loading .slick-list {
  background: #fff center center no-repeat;
}

/* Icons */
/* Arrows */
/* line 58, ../sass/_slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 74, ../sass/_slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 78, ../sass/_slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 82, ../sass/_slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 87, ../sass/_slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "bathroomhappiness";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 97, ../sass/_slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 99, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 103, ../sass/_slick-theme.scss */
.slick-prev:before {
  content: "a";
}
/* line 105, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "d";
}

/* line 111, ../sass/_slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 113, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 117, ../sass/_slick-theme.scss */
.slick-next:before {
  content: "d";
}
/* line 119, ../sass/_slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "a";
}

/* Dots */
/* line 127, ../sass/_slick-theme.scss */
.slick-slider {
  margin-bottom: 0;
}
/* line 129, ../sass/_slick-theme.scss */
.slick-slider .slick-slide {
  outline: none;
}

/* line 134, ../sass/_slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 142, ../sass/_slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 150, ../sass/_slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 162, ../sass/_slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 164, ../sass/_slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 168, ../sass/_slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "bathroomhappiness";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 185, ../sass/_slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 1;
}

/* line 1, ../sass/_global.scss */
html.bathroom-happiness {
  height: 100%;
}

/* line 4, ../sass/_global.scss */
body.bathroom-happiness {
  height: 100%;
  /* Hack to remove highlight on ie.*/
  /* Slick Slide shows */
}
/* line 5, ../sass/_global.scss */
body.bathroom-happiness .main {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1200px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    padding: 0;
  }
}
@media (min-width: 768px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 9, ../sass/_global.scss */
  body.bathroom-happiness .main .container-fluid {
    max-width: 1200px;
  }
}
/* line 25, ../sass/_global.scss */
body.bathroom-happiness optgroup {
  color: #000;
  font-weight: bold;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 30, ../sass/_global.scss */
body.bathroom-happiness h1,
body.bathroom-happiness h2,
body.bathroom-happiness h3 {
  font-weight: 700;
}
/* line 35, ../sass/_global.scss */
body.bathroom-happiness p {
  margin-bottom: 1em;
}
/* line 38, ../sass/_global.scss */
body.bathroom-happiness img {
  max-width: 100%;
}
/* line 41, ../sass/_global.scss */
body.bathroom-happiness .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  height: 44px;
}
@-moz-document url-prefix() {
  /* line 47, ../sass/_global.scss */
  body.bathroom-happiness .selectpicker select.form-control {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }
}
/* line 54, ../sass/_global.scss */
body.bathroom-happiness select::-ms-expand {
  display: none;
}
/* line 58, ../sass/_global.scss */
body.bathroom-happiness select::-ms-value {
  background: none;
}
@media all and (-ms-high-contrast: active) {
  /* line 4, ../sass/_global.scss */
  body.bathroom-happiness {
    /* Remove purple highlight in HC mode */
  }
  /* line 64, ../sass/_global.scss */
  body.bathroom-happiness select:focus::-ms-value {
    background-color: transparent;
  }
}
@media all and (-ms-high-contrast: none) {
  /* line 4, ../sass/_global.scss */
  body.bathroom-happiness {
    /* Remove blue highlight in Normal mode*/
  }
  /* line 70, ../sass/_global.scss */
  body.bathroom-happiness select:focus::-ms-value {
    background-color: transparent;
  }
}
/* line 75, ../sass/_global.scss */
body.bathroom-happiness input[type=number]::-webkit-outer-spin-button,
body.bathroom-happiness input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 81, ../sass/_global.scss */
body.bathroom-happiness input[type=number] {
  -moz-appearance: textfield;
}
/* line 86, ../sass/_global.scss */
body.bathroom-happiness .form-inline .selectpicker {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
}
/* line 93, ../sass/_global.scss */
body.bathroom-happiness .panel {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
}
/* line 102, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow {
  position: relative;
  height: 240px;
}
/* line 106, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-container {
  height: 185px;
  padding-top: 10px;
}
/* line 113, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-image {
  width: 62%;
  float: left;
  padding: 0 0 0 10px;
}
/* line 119, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text {
  margin-top: 85px;
  padding-left: 10px;
  width: 38%;
  float: left;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: #202020;
}
/* line 129, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text p {
  margin-bottom: 1px;
}
/* line 132, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slide .slide-content .slide-text .product-price-gst {
  font-size: 8px;
  text-transform: none;
}
/* line 140, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons {
  position: absolute;
  top: 50px;
  left: 62%;
  margin-left: 10px;
  width: 66px;
}
/* line 147, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-next,
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-prev {
  top: 0;
  margin-top: 0;
  background-color: #e2e1e1;
  width: 32px;
  height: 40px;
}
/* line 155, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-next:before,
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-prev:before {
  color: #000;
}
/* line 160, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-next {
  right: 0;
}
/* line 164, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-buttons .slick-prev {
  left: 0;
}
/* line 169, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-label {
  text-align: center;
  padding: 9px 9px 24px;
}
/* line 173, ../sass/_global.scss */
body.bathroom-happiness .panel-slideshow .slideshow-label span {
  margin: 0;
  color: #FFF;
  background-color: #6dc8b6;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gotham A", "Gotham B", Gotham-Book, Arial, sans-serif;
  padding: 9px 18px;
}
@media (min-width: 992px) {
  /* line 188, ../sass/_global.scss */
  body.bathroom-happiness .panel-slideshow.shop-showers .slide .slide-text {
    padding-left: 20px;
  }
  /* line 192, ../sass/_global.scss */
  body.bathroom-happiness .panel-slideshow.shop-showers .slide .slide-image {
    float: right;
  }
  /* line 197, ../sass/_global.scss */
  body.bathroom-happiness .panel-slideshow.shop-showers .slideshow-buttons {
    left: 10px;
    margin-right: 0;
  }
}
/* line 204, ../sass/_global.scss */
body.bathroom-happiness #main-content {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  line-height: 1.1;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  /* *{
		@extend %border-box;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);		
	}*/
}
@media (min-width: 768px) {
  /* line 204, ../sass/_global.scss */
  body.bathroom-happiness #main-content {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  /* line 204, ../sass/_global.scss */
  body.bathroom-happiness #main-content {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* line 204, ../sass/_global.scss */
  body.bathroom-happiness #main-content {
    padding: 0;
  }
}
/* line 228, ../sass/_global.scss */
body.bathroom-happiness #main-content label, body.bathroom-happiness #main-content input, body.bathroom-happiness #main-content button, body.bathroom-happiness #main-content select, body.bathroom-happiness #main-content textarea {
  font-size: inherit;
  line-height: inherit;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-device-width: 767px) {
  /* line 235, ../sass/_global.scss */
  body.bathroom-happiness input[type="text"]:focus, body.bathroom-happiness input[type="number"]:focus,
  body.bathroom-happiness textarea:focus,
  body.bathroom-happiness select:focus {
    font-size: 16px;
  }
}
/* line 241, ../sass/_global.scss */
body.bathroom-happiness input, body.bathroom-happiness select, body.bathroom-happiness textarea {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "bathroomhappiness";
  src: url("../fonts/bathroomhappiness.eot");
  src: url("../fonts/bathroomhappiness.eot?#iefix") format("embedded-opentype"), url("../fonts/bathroomhappiness.woff") format("woff"), url("../fonts/bathroomhappiness.ttf") format("truetype"), url("../fonts/bathroomhappiness.svg#bathroomhappiness") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: "bathroomhappiness" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/_fonts.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bathroomhappiness" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/_fonts.scss */
.icon-arrow-prev:before {
  content: "\61";
}

/* line 44, ../sass/_fonts.scss */
.icon-arrow-right:before {
  content: "\62";
}

/* line 47, ../sass/_fonts.scss */
.icon-search:before {
  content: "\63";
}

/* line 50, ../sass/_fonts.scss */
.icon-arrow-next:before {
  content: "\64";
}

/* line 2, ../sass/pages/_homepage.scss */
body.homepage .panel-search {
  height: 52px;
  line-height: 52px;
  position: relative;
}
/* line 7, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-input {
  width: 100%;
  padding-right: 52px;
}
/* line 11, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-input input[type=text] {
  border: none;
  padding: 0 0 0 10px;
  width: 100%;
  height: 52px;
  line-height: 52px;
}
/* line 20, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-submit {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 25, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-submit button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: #f6f6f6;
  font-size: 30px;
  width: 52px;
  height: 52px;
}
/* line 33, ../sass/pages/_homepage.scss */
body.homepage .panel-search .search-submit button i {
  position: relative;
  top: 4px;
}
/* line 41, ../sass/pages/_homepage.scss */
body.homepage .section-intro {
  background-color: #EDEBEB;
  padding-top: 10px;
  padding-bottom: 2px;
}
/* line 46, ../sass/pages/_homepage.scss */
body.homepage .section-intro .row {
  margin-left: -5px;
  margin-right: -5px;
}
/* line 49, ../sass/pages/_homepage.scss */
body.homepage .section-intro .row .col-md-3,
body.homepage .section-intro .row .col-md-6 {
  padding: 0 5px;
}
/* line 55, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  /* line 55, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-hero {
    min-height: 597px;
  }
}
@media (min-width: 1200px) {
  /* line 55, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-hero {
    min-height: 739px;
  }
}
/* line 64, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero img {
  width: 100%;
}
/* line 68, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link {
  text-align: center;
  position: relative;
}
/* line 73, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link a:hover {
  text-decoration: none;
}
/* line 77, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link a .arrow-link-label {
  font-family: "Gotham A", "Gotham B", Gotham-Book, Arial, sans-serif;
  color: #273d52;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: 15px;
  margin-right: 10px;
}
/* line 87, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link a .arrow-link-icon {
  position: relative;
}
/* line 89, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-hero .arrow-link a .arrow-link-icon i {
  color: #c2a461;
  font-size: 42px;
  position: absolute;
}
/* line 99, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-find-inspiration {
  position: relative;
  min-height: 347px;
  background: url("../images/homepage/find-inspiration.jpg");
  background-size: cover;
}
@media (min-width: 1200px) {
  /* line 99, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-find-inspiration {
    min-height: 489px;
  }
}
/* line 110, ../sass/pages/_homepage.scss */
body.homepage .section-intro .panel-shop-products {
  position: relative;
  min-height: 285px;
  background: url("../images/homepage/shop-products.jpg");
  background-size: cover;
}
@media (min-width: 1200px) {
  /* line 110, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .panel-shop-products {
    min-height: 427px;
  }
}
/* line 121, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-overlay {
  height: 90px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 80px;
  padding-top: 18px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  /* line 121, ../sass/pages/_homepage.scss */
  body.homepage .section-intro .text-overlay {
    bottom: 150px;
  }
}
/* line 139, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-overlay .text-overlay-line-1 {
  font-size: 18px;
  line-height: 18px;
}
/* line 144, ../sass/pages/_homepage.scss */
body.homepage .section-intro .text-overlay .text-overlay-line-2 {
  font-size: 33px;
  line-height: 33px;
}
/* line 151, ../sass/pages/_homepage.scss */
body.homepage .section-the-block {
  background-color: #EDEBEB;
  padding-bottom: 30px;
}
/* line 155, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom {
  background: transparent url("../images/homepage/the-block-bathroom.jpg") 238px 0;
}
/* line 158, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-dean-shay {
  float: left;
}
/* line 162, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge {
  position: relative;
  float: left;
}
/* line 166, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge .arrow-link {
  position: absolute;
  bottom: -10px;
}
/* line 171, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge .arrow-link a:hover {
  text-decoration: none;
}
/* line 176, ../sass/pages/_homepage.scss */
body.homepage .section-the-block .the-block-bathroom .the-block-edge .arrow-link a .arrow-link-icon i {
  color: #e2e1e1;
  font-size: 42px;
}
/* line 187, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks {
  background-color: #DEDDDE;
  padding: 50px 0 55px;
}
/* line 191, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .row {
  margin-left: -2px;
  margin-right: -2px;
}
/* line 194, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .row .col-md-3 {
  padding: 0 2px;
}
/* line 200, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover {
  text-decoration: none;
}
/* line 203, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .nav-block img {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
/* line 206, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .nav-block p {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
/* line 209, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .nav-block .nav-block-label {
  background-color: #FFF;
  color: #5ab8d3;
}
/* line 215, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link:hover .nav-block.the-powder-room .nav-block-label {
  background: #e40066;
  color: white;
}
/* line 223, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block {
  height: 227px;
  background: #ccc;
  position: relative;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 5px;
}
/* line 231, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block .nav-block-label {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -75px;
  height: 35px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 35px;
  background-color: #5ab8d3;
  color: #FFF;
  -moz-transition: color 0.3s ease-out, background 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out, background 0.3s ease-out;
  transition: color 0.3s ease-out, background 0.3s ease-out;
}
/* line 247, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.store-finder {
  background: #000;
  padding-top: 40px;
}
/* line 250, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.store-finder img {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 253, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.store-finder .heading {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight: bold;
  font-size: 20px;
  color: #FFF;
  margin-top: 10px;
}
/* line 262, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.the-powder-room {
  background: url("../images/nav/nav-pink-tile.png") center;
  padding-top: 23px;
}
/* line 263, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.the-powder-room img {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 269, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.the-powder-room .nav-block-label {
  background-color: #FFF;
  color: #e40066;
}
/* line 275, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.planning {
  background: url("../images/nav/nav-planning.jpg") center;
  background-size: cover;
  padding: 45px;
  font-size: 13px;
}
@media (min-width: 992px) {
  /* line 275, ../sass/pages/_homepage.scss */
  body.homepage .section-nav-blocks .nav-link .nav-block.planning {
    padding: 45px 15px;
  }
}
@media (min-width: 1200px) {
  /* line 275, ../sass/pages/_homepage.scss */
  body.homepage .section-nav-blocks .nav-link .nav-block.planning {
    padding: 45px;
  }
}
/* line 287, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.planning .heading {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
/* line 293, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.planning p {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 298, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.brands {
  background: url("../images/nav/nav-brands.jpg") center;
  background-size: cover;
}
/* line 301, ../sass/pages/_homepage.scss */
body.homepage .section-nav-blocks .nav-link .nav-block.brands .heading {
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 2px;
  left: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 315, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form {
  background: url(../images/homepage/section-subscribe-bg.png);
  padding: 70px 0;
  text-align: center;
}
/* line 320, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form {
  margin: 0;
}
/* line 326, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .subscribe-form-title {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #322f31;
  display: block;
  margin: 0 0 10px;
}
@media (min-width: 768px) {
  /* line 326, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form .subscribe-form-title {
    display: inline;
    margin-right: 0 15px 0 0;
  }
}
/* line 339, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form input[type=text],
body.homepage .section-subscribe-form .subscribe-form input[type=email] {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  height: 50px;
  line-height: 50px;
  background: #f6f6f6;
  padding-left: 15px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  /* line 339, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form input[type=text],
  body.homepage .section-subscribe-form .subscribe-form input[type=email] {
    width: 210px;
    display: inline;
    margin-left: 10px;
  }
}
/* line 358, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form input[type=text].error,
body.homepage .section-subscribe-form .subscribe-form input[type=email].error {
  border: 1px solid #e40066;
}
/* line 363, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .name-wrapper {
  position: relative;
  display: block;
}
@media (min-width: 768px) {
  /* line 363, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form .name-wrapper {
    display: inline-block;
  }
}
/* line 371, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .submit-wrapper {
  position: relative;
  padding-right: 50px;
  height: 50px;
  display: block;
}
@media (min-width: 768px) {
  /* line 371, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form .submit-wrapper {
    display: inline-block;
  }
}
/* line 380, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .submit-wrapper .subscribe-submit {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 385, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form .submit-wrapper .subscribe-submit button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: #f1f1f1;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding-top: 7px;
}
/* line 397, ../sass/pages/_homepage.scss */
body.homepage .section-subscribe-form .subscribe-form label.error {
  color: #e40066;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 397, ../sass/pages/_homepage.scss */
  body.homepage .section-subscribe-form .subscribe-form label.error {
    position: absolute;
    margin-top: 55px;
    left: 10px;
  }
}
/* line 409, ../sass/pages/_homepage.scss */
body.homepage .site-footer {
  margin-top: 0;
}
