@import "../widgets/_mixins.less";
@import "../widgets/_variables.less";
@import "../../../bower_components/bootstrap/less/variables.less";
@import "_variables.less";

@font-face {
  font-family: "FlamaBlack";
  src:url("../../fonts/Flama-Black.eot");
  src:url("../../fonts/Flama-Black.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Flama-Black.woff") format("woff");    
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FlamaLight";
  src:url("../../fonts/Flama-Light.eot");
  src:url("../../fonts/Flama-Light.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Flama-Light.woff") format("woff");    
  font-weight: normal;
  font-style: normal;
}

div.brand-pages{
	text-align: center;
	color: @greyBlue;
	font-size: 16px;
	line-height: 2;
	font-weight: 300;
	overflow-x: hidden;
	font-family: 'Neue Helvetica W01', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	-webkit-font-smoothing: antialiased; 
  font-smoothing: antialiased; 
  text-rendering: optimizeLegibility;
	.container-fluid{
		margin-bottom: 30px;
		@media (min-width: 768px){
			margin-bottom: 60px;
		}
	}
	.rte{
		text-align: left;		
	}
	.half{
		margin-bottom: 30px;	
	}
	h1,h2,h4{
		font-family: "FlamaBlack";
	}
	h3{
		font-family: "FlamaBlack";
		text-transform: uppercase;
		color: #cacaca;		
		text-align: left;
		max-width: 290px;
		position: relative;
		font-size: 36px;
		margin-bottom: 60px;
		&:after{
			content: " ";
			display: block;
			height: 5px;
			background: @blue;
			width: 70px;
			margin-top: 10px;
		}
	}
	.tradition,
	.adaptors{
		.rte{
			max-width: 670px;
		}		
	}
	.testimonial{
		p{
			line-height: 20px;
		}
		.widget-html-image{
			padding: 20px 0;
		}
		&:before,
		&:after{
			display: block;
			content: " ";
			height: 5px;
			background: @lightGrey;
			width: 70px;
			margin: 0 auto;
		}
		.rte{
			text-align: center;
			h4{
				margin: 0;
				color: @blue;
				text-transform: uppercase;
				font-size: 36px;
			}
		}
	}
	.products{
		margin-bottom: 20px;
		.row{
			margin-left: -25px;
			margin-right: -25px;
			.col-sm-6, .col-sm-12{
				padding: 0 25px;
			}
		}
		.widget-html-image{
			margin-bottom: 50px;
		}
	}
	.plumbers{
		.widget-html-image{
			background: url(../../images/brand-pages/auspex/bg-pattern.png);
			padding: 60px;
			.rte{
				h3{
					color: white;
					margin: 0;
					padding-left: 20px;
					position: relative;
					margin-bottom: 30px;
					&:after{
						width: 5px;
						height: 68px;
						position: absolute;
						top: 2px;
						left: 0;
						margin: 0;
					}
				}
			}
		}
	}
	.image-placeholder{
		.image{
			margin-bottom: 0;
		}
	}
	.downloads{
		margin-bottom: 0;
		.row{
			margin-left: -1px;
			margin-right: -1px;
			.col-sm-6{
				padding: 0 1px;
			}
		}
		.left{
			.rbp-icon{
				&:before{
					content: "\6c";
				}
			}
		}
		.right{
			.rbp-icon{
				&:before{
					content: "c";
				}
			}
		}
	}
	.widget-big-button{
		background: @blue;
		padding-top: 114px;
		padding-bottom: 100px;
		a{
			text-align: center;
			display: block;
			.icon{
				line-height: 1;
			}
			.text{
				text-align: center;
				text-transform: none;
				font-size: 16px;
				font-weight: 300;
			}
		}
		&.left{
			i{
				font-size: 30px;
				&:before{
					content: "d";
				}
			}
		}
		&.right{
			i{
				font-size: 30px;
				&:before{
					content: "c";
				}
			}
		}
	}
}
.widget-html-image{
	padding: 0;
	.image{
		margin-bottom: 30px;
		figcaption{
			position: absolute;
			top: 30px;
			width: 100%;
			text-align: left;
			padding-left: 30px;
			line-height: 1.3;
			font-weight: 500;
			font-weight: bold;
			.transform(none);
			color: white;
			font-size: 25px;				
		}
	}
}
.widget-logo{
	padding-top: 0;
}
.widget-video{
	overflow: hidden;
	.slick-slider{
		.slick-slide{
			&.slide-video{
				background: black;
			}
			button.close{
				top: 0;
				right: 0;
				padding: 5px;
				background: @blue;
				i{
					color: white;
				}
			}
			.play{
				&:hover{
					.text,
					.label{
						text-decoration: underline;						
					}
				}
				i{
					position: absolute;
					top: 50%;
					left: 50%;
					//.transform(translateX(-50%) translateY(-50%));
					background: url(../../images/brand-pages/auspex/play-btn.png) no-repeat;
					display: block;
					
					margin-left: -34.5px;
					margin-top: -34.5px;
					background-size: 69px 69px;
					width: 69px;
					height: 69px;
					@media (min-width: 768px){
						margin-left: -69px;
						margin-top: -69px;
						background-size: 138px 138px;
						width: 138px;
						height: 138px;
					}
					&:before{
						display: none;
					}
				}
				.label{
					position: absolute;
					top: 20px;
					left: 20px;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 32px;
					max-width: 315px;
					padding: 0;
					white-space: inherit;
					text-align: left;
					font-family: "FlamaBlack";
					@media (min-width: 768px){
						font-size: 40px;
					}
				}
			}
			.slide-content{
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.transform(none);
			}
		}
	}		
}
.widget-slider{
	.slick-slider{
		.slick-next,
		.slick-prev{
			&:before{
				font-size: 80px;
			}
		}
		.slick-prev{
			left: 0;
			.transform(translateY(-50%) translateX(-50%));
		}
		.slick-next{
			right: 0;
			.transform(translateY(-50%) translateX(50%));
		}
		.slick-prev:before
		{
		    content: 'h';
		}
		[dir='rtl'] .slick-prev:before
		{
		    content: 'h';
		}
		.slick-next:before
		{
		    content: 'i';
		}
		[dir='rtl'] .slick-next:iefore
		{
		    content: 'i';
		}
		a{
			display: inline-block;
		}
	}
	&.carousel{
		.widget-link{
			text-transform: none;
			padding: 8px 10px;
		}
		.slick-slider{
			.slick-slide{
				padding: 0 20px;
			}
		}
	}
}