@headerColor: #00aeef;
@grey: #ededeb;
/* <b> tag*/
@boldColor: @headerColor;

/* Colours */
@h1Color: @headerColor;
@h2Color: @headerColor;
@h3Color: @headerColor;

/* Font Sizes */
@h1FontSize: 60px;
@h2FontSize: 50px;
@h3FontSize: 26px;

/* Font Weight */
@h1FontWeight: 700;
@h2FontWeight: 700;
@h3FontWeight: 700;

/* Text Decoration */
@h1TextDecoration: underline;
@h2TextDecoration: underline;
@h3TextDecoration: underline;

/* Text Transform */
@h1TextTransform: uppercase;
@h2TextTransform: uppercase;
@h3TextTransform: uppercase;

@playButtonColor: @headerColor;

@buttonColor: @headerColor;
@buttonBorderColor: @headerColor;

@buttonHoverColor: @headerColor;
@buttonHoverBorderColor: @headerColor;

@bigButtonBg: @headerColor;
@bigButtonFontSize: 16px;
@bigButtonFontWeight: 700;
@bigButtonTextDecoration: underline;

@sliderArrowsColor: #8e8e8d;
@sliderFontWeight: 500;
@sliderLineHeight: 1;
@sliderTextColor: @headerColor;
@sliderTextTransform: uppercase;
@sliderTextDecoration: none;