@import "../widgets/widgets.less";
@import "_variables.less";

div.brand-pages{
	font-size: 16px;
	h1,h2,h3,h4,h5,h6,a,button,input,textarea,select,p{
		font-family: "Gotham A", "Gotham B";
		-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
	}
	h1{
		color: @h1Color;
		font-size: @h1FontSize;
		font-weight: @h1FontWeight;
		text-decoration: @h1TextDecoration;
		text-transform: @h1TextTransform;
		a{
			color: @h1Color;
		}	
	}
	h2{
		color: @h2Color;	
		font-size: @h2FontSize;
		font-weight: @h2FontWeight;
		text-decoration: @h2TextDecoration;
		text-transform: @h2TextTransform;
		margin-bottom: 38px;
		line-height: 55px;
		a{
			color: @h2Color;
		}
		@media (min-width: @screen-sm){
			font-size: @h2FontSize*0.7;
			line-height: 55px * 0.7;
		}
		@media (min-width: @screen-md){
			font-size: @h2FontSize;
			line-height: 55px;
		}
	}
	h3{
		color: @h3Color;
		font-size: @h3FontSize;
		font-weight: @h3FontWeight;
		text-decoration: @h3TextDecoration;
		text-transform: @h3TextTransform;
		a{
			color: @h3Color;
		}
		@media (min-width: @screen-sm){
			font-size: @h3FontSize*0.7;
		}
		@media (min-width: @screen-md){
			font-size: @h3FontSize;
		}
	}
	.bg-grey{
		background: @grey;
	}
	.widget-link{
		margin-top: 20px;
		padding: 18px 38px;
		font-size: 20px;
	}
	.widget-html-image{
		h2,
		h3{
			
		}
		&.friamat{
			h2{
				color: black;
				a{
					color: black;
				}
			}
		}
	}
	.widget-video{
		text-transform: uppercase;
		background-size: contain;
		.image{
			text-align: right;
		}
		.text{	
			left: -20%;		
			top: 50%;
			position: absolute;
			.transform(translateY(-50%) translateX(-100%));
			p{
				color: @h1Color;
				font-weight: 700;
				text-decoration: underline;
			}
			b{
				text-decoration: underline;	
				color: black;
			}			
		}
		.play{
			.label{
				display: none;
			}
		}
	}
	.intro{
		max-width: 730px;
		margin: 0 auto;
	}
	.friamat-container{
		padding: 40px 20px;
		@media (min-width: @screen-md){
			padding: 40px 90px;
		}		
	}
}