@import "../widgets/widgets.less";
@import "_variables.less";

div.brand-pages{
	font-size: 15px;
	h1,h2,h3,h4,h5,h6,a,button,input,textarea,select,p{
		font-family: "Gotham A", "Gotham B";
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;	
	  line-height: 1.4;
	  @media (min-width: @screen-sm){
			line-height: 1.5;
		}
	}
	h1,h2,h3,h4,h5,h6{
		line-height: 1.3;
		a{
			line-height: 1.3;
		}			
	}
	h2{
		line-height: 1.2;
		a{
			line-height: 1.2;
		}			
	}
	h1{
		color: @h1Color;
		font-size: @h1FontSize * 0.7;
		font-weight: @h1FontWeight;
		text-decoration: @h1TextDecoration;
		text-transform: @h1TextTransform;
		a{
			color: @h1Color;
		}
		@media (min-width: @screen-lg){
			font-size: @h1FontSize;
		}
	}
	h2{
		color: @h2Color;	
		font-size: @h2FontSize * 0.7;
		font-weight: @h2FontWeight;
		text-decoration: @h2TextDecoration;
		text-transform: @h2TextTransform;
		margin-bottom: 38px;
		a{
			color: @h2Color;
		}
		@media (min-width: @screen-lg){
			font-size: @h2FontSize;
		}
	}
	h3{
		color: @h3Color;
		font-size: @h3FontSize * 0.7;
		font-weight: @h3FontWeight;
		text-decoration: @h3TextDecoration;
		text-transform: @h3TextTransform;
		a{
			color: @h3Color;
		}
		@media (min-width: @screen-lg){
			font-size: @h3FontSize;
		}
	}
	.bg-grey{
		background: @grey;
	}
	.intro-slider{
		margin-bottom: 10px;
	}
	.intro-summary{
		text-align: center;
		margin-bottom: 0;
	}
	.widget-link{
		margin-top: 20px;
		padding: 18px 38px;
		font-size: 20px;
	}
	.widget-slider{
		.slick-dots{
			background: white;
			margin-bottom: 0;
		}
		.slick-slider{
			.slick-slide{
				&.slide-1{
					.text{
						.transform(translateY(50%) translateX(-10px));
					}
					&.slick-active,
					&.slick-cloned{
						.text{
							.transform(translateY(-50%)  translateX(-10px));		
						}
					}
				}
				&.slide-2{
					.text{
						color: white;
						.transform(translateY(50%) translateX(-100%));
						img{
							max-width: 40px;
							@media (min-width: @screen-sm){
								max-width: 100%;
							}
						}
					}
					&.slick-active,
					&.slick-cloned{
						.text{
							.transform(translateY(-50%)  translateX(-100%));		
						}
					}
				}
				.text{
					font-weight: 600;
				}				
			}
		}		
	}
	.widget-html-image{
		h2,
		h3{
			
		}
		&.friamat{
			h2{
				color: black;
				a{
					color: black;
				}
			}
		}
	}
	.widget-video{
		text-transform: uppercase;
		background-size: contain;
		.slick-slider{
			.slick-slide{
				.image{
						position: relative;
				}
				.slide-content{
						position: absolute;
						top: 50%;
						left: 50%;
						.transform(translateX(-50%) translateY(-50%));
						color: @videoCaptionColor;
					
				}
			}
		}
		.image{
			text-align: right;
			img{
				margin: 0 auto;
			}
		}
		.text{	
			@media (min-width: @screen-sm){
				left: -20%;		
				top: 50%;
				position: absolute;
				font-size: 48px;
				.transform(translateY(-50%) translateX(-100%));
			}
			text-align: left;
			
			p{
				color: @h1Color;
				font-weight: 700;
				text-decoration: underline;
				margin-bottom: 0;
			}
			b{
				text-decoration: underline;	
				color: black;
			}			
		}
		.play{
			.label{
				display: none;
			}
		}
	}
	.intro{
		max-width: 730px;
		margin: 0 auto;
	}
	.trio{
		h3{
			a{
				&:hover{
					color: black;
				}
			}
		}
	}
	.friamat-container{
		padding: 40px 20px;
		@media (min-width: @screen-md){
			padding: 40px 90px;
		}
		h2{
			a{
				&:hover{
					color: @h1Color;
				}
			}
		}		
	}
}