@headerColor: #9d2341;
@grey: #ededeb;
@darkgrey: #888888;
@dark: #3a3c3b;
/* <b> tag*/
@boldColor: @headerColor;

/* Colours */
@h1Color: @headerColor;
@h2Color: @headerColor;
@h3Color: @headerColor;

/* Font Sizes */
@h1FontSize: 60px;
@h2FontSize: 40px;
@h3FontSize: 40px;

/* Font Weight */
@h1FontWeight: 300;
@h2FontWeight: 300;
@h3FontWeight: 300;

/* Text Decoration */
@h1TextDecoration: none;
@h2TextDecoration: none;
@h3TextDecoration: none;

/* Text Transform */
@h1TextTransform: uppercase;
@h2TextTransform: uppercase;
@h3TextTransform: uppercase;

@playButtonColor: @headerColor;

@buttonColor: @headerColor;
@buttonBorderColor: @headerColor;

@buttonHoverColor: @headerColor;
@buttonHoverBorderColor: @headerColor;

@bigButtonBg: @headerColor;
@bigButtonFontSize: 16px;
@bigButtonFontWeight: 700;
@bigButtonTextDecoration: underline;

@sliderArrowsColor: #8e8e8d;
@sliderFontWeight: 500;
@sliderLineHeight: 1;
@sliderTextColor: @headerColor;
@sliderTextTransform: uppercase;
@sliderTextDecoration: none;