@grey: #bdbdbd;
@darkGrey: #363636;
@bgGreen: #034437;
@bgGrey: #f5f5f5;
@bigButtonColor: white;
@bigButtonBg: @bgGreen;
@bigButtonFontSize: 16px;
@bigButtonFontWeight: 700;
@bigButtonTextDecorationHover: underline;