@import "grant-2015-variables.less";

body.grant-2015 .grant-2015-content{
// *{
// 	outline:solid 1px #bada55;
// }

.section-container{
	max-width: @max-width-section;
	padding:0;
	margin:0 auto;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}

.row-edge{
	margin-left:0;
	margin-right:0;
}
.row-limit{
	max-width: @max-width-content;
	margin-left:auto;
	margin-right:auto;
}
.col-edge{
	padding-left:0;
	padding-right:0;
}
.background-grey{
	background-color:@backgroundGrey;
}
.background-blue{
	background-color:@backgroundBlue;
}
.background-homepage{
	background:url('../images/homepage/header-homepage.jpg') no-repeat center center;
	padding-bottom:40%;
	background-size: cover;

}
.background-world{
	background:url('../images/homepage/background-world.jpg') no-repeat center center;
	position:relative;
	background-size: cover;
	text-align:center;
}
.homepage-video{
	max-height:450px;
	overflow:hidden;
	.background-video{
		background:url('../images/homepage/video.jpg') no-repeat center center;
		padding-bottom:40%;
		background-size: cover;
		text-align:center;
			position:relative;
		.cta-video{
			position:absolute;
			top:30%;
			left:0;
			right:0;
			.play-button{
				width:52px;
				height:52px;
				margin:0 auto;
			}
		}
	}

}
.grant-2015-nav{
	list-style: none;
	padding:0;
	margin:0;
}







}