body.grant-2015 .grant-2015-content {
  color: #58595b;
  font-size: 14px;
  overflow: hidden;
}
body.grant-2015 .grant-2015-content .section-container {
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
}
body.grant-2015 .grant-2015-content .clear {
  clear: both;
}
body.grant-2015 .grant-2015-content a {
  color: #009cb6;
}
body.grant-2015 .grant-2015-content .text-left {
  text-align: left;
}
body.grant-2015 .grant-2015-content .text-right {
  text-align: right;
}
body.grant-2015 .grant-2015-content .text-center {
  text-align: center;
}
body.grant-2015 .grant-2015-content .text-blue {
  color: #009cb6;
}
body.grant-2015 .grant-2015-content .text-white {
  color: #ffffff;
}
body.grant-2015 .grant-2015-content .text-big {
  font-size: 47px;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .text-big {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .text-big {
    font-size: 28px;
  }
}
body.grant-2015 .grant-2015-content .text-standard-heading {
  font-size: 32px;
}
body.grant-2015 .grant-2015-content .text-article-heading {
  font-size: 28px;
}
body.grant-2015 .grant-2015-content .text-intro {
  font-size: 16px;
  font-weight: bold;
}
body.grant-2015 .grant-2015-content .img-spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
body.grant-2015 .grant-2015-content .reece-logo {
  width: 125px;
}
body.grant-2015 .grant-2015-content .spacing-big {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .spacing-big {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .spacing-big {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
body.grant-2015 .grant-2015-content .spacing-big-top {
  padding-top: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .spacing-big-top {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .spacing-big-top {
    padding-top: 20px;
  }
}
body.grant-2015 .grant-2015-content .spacing-big-bottom {
  padding-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .spacing-big-bottom {
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .spacing-big-bottom {
    padding-bottom: 20px;
  }
}
body.grant-2015 .grant-2015-content .spacing-top {
  padding-top: 40px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .spacing-top {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .spacing-top {
    padding-top: 20px;
  }
}
body.grant-2015 .grant-2015-content .spacing-bottom {
  padding-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .spacing-bottom {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .spacing-bottom {
    padding-bottom: 20px;
  }
}
body.grant-2015 .grant-2015-content .row-edge {
  margin-left: 0;
  margin-right: 0;
}
body.grant-2015 .grant-2015-content .row-limit {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
body.grant-2015 .grant-2015-content .row-limit-nav {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
body.grant-2015 .grant-2015-content .heading-latest-project .text-subheading {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
body.grant-2015 .grant-2015-content .read-more-button-wrap {
  margin-top: 20px;
  width: 73px;
  text-align: center;
  overflow: hidden;
}
body.grant-2015 .grant-2015-content .read-more-button-wrap .read-more-button {
  display: block;
  color: #009cb6;
  padding-top: 12px;
  padding-bottom: 12px;
  background: url('../images/wave/read-more-line.png') no-repeat -20px top;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
body.grant-2015 .grant-2015-content .read-more-button-wrap .read-more-button:hover,
body.grant-2015 .grant-2015-content .read-more-button-wrap .read-more-button:active,
body.grant-2015 .grant-2015-content .read-more-button-wrap .read-more-button:focus {
  background: url('../images/wave/read-more-line.png') no-repeat -10px top;
  text-decoration: none;
  cursor: pointer;
}
body.grant-2015 .grant-2015-content .donate-button-wrapper {
  margin-top: 40px;
}
body.grant-2015 .grant-2015-content .donate-button-wrapper .social-page {
  text-align: left;
  font-size: 24px;
  padding-bottom: 0px;
}
body.grant-2015 .grant-2015-content .donate-button-wrapper .social-page a {
  color: #9F9F9F;
  desplay: inline-block;
  margin-right: 10px;
}
body.grant-2015 .grant-2015-content .donate-button-wrapper .social-page a:hover,
body.grant-2015 .grant-2015-content .donate-button-wrapper .social-page a:focus,
body.grant-2015 .grant-2015-content .donate-button-wrapper .social-page a:active {
  color: #019BB6;
}
body.grant-2015 .grant-2015-content .donate-button-wrapper .donate-button {
  text-align: center;
  border: solid 1px #009cb6;
  width: 220px;
  margin-top: 10px;
}
body.grant-2015 .grant-2015-content .donate-button-wrapper .donate-button a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #009cb6;
  padding: 16px 0;
  background-color: #ffffff;
  -webkit-transition: background-color 500ms ease-in, color 300ms ease-in 200ms;
  -moz-transition: background-color 500ms ease-in, color 300ms ease-in 200ms;
  -o-transition: background-color 500ms ease-in, color 300ms ease-in 200ms;
  transition: background-color 500ms ease-in, color 300ms ease-in 200ms;
}
body.grant-2015 .grant-2015-content .donate-button-wrapper .donate-button a:hover,
body.grant-2015 .grant-2015-content .donate-button-wrapper .donate-button a:active,
body.grant-2015 .grant-2015-content .donate-button-wrapper .donate-button a:focus {
  background-color: #009cb6;
  color: #ffffff;
  text-decoration: none;
}
body.grant-2015 .grant-2015-content .wave-person-header {
  position: relative;
  z-index: 10;
}
body.grant-2015 .grant-2015-content .wave-content {
  position: relative;
  z-index: 1;
}
body.grant-2015 .grant-2015-content .wave-section {
  position: relative;
}
body.grant-2015 .grant-2015-content .wave-section .wave-blue-to-white {
  height: 7px;
  background: url('../images/wave/wave-blue-to-white.png') repeat-x;
  background-position: 0px;
}
body.grant-2015 .grant-2015-content .wave-section .wave-white-to-grey {
  height: 7px;
  background: url('../images/wave/wave-white-to-grey.png') repeat-x;
  background-position: 0px;
}
body.grant-2015 .grant-2015-content .wave-section .wave-white-to-grey-shadow {
  height: 78px;
  background: url('../images/wave/wave-white-to-grey-shadow.png') repeat-x;
  background-position: -20px;
}
body.grant-2015 .grant-2015-content .wave-section .wave-grey-to-white {
  height: 7px;
  background: url('../images/wave/wave-grey-to-white.png') repeat-x;
  background-position: 20px;
}
body.grant-2015 .grant-2015-content .wave-section .wave-white-to-image {
  position: relative;
  height: 7px;
  background: url('../images/wave/wave-white-to-image.png') repeat-x;
  background-position: 0px;
  top: 7px;
  z-index: 100;
}
body.grant-2015 .grant-2015-content .wave-section .wave-image-to-white {
  position: relative;
  height: 7px;
  background: url('../images/wave/wave-image-to-white.png') repeat-x;
  bottom: 7px;
  z-index: 100;
  background-position: 20px;
}
body.grant-2015 .grant-2015-content .col-edge {
  padding-left: 0;
  padding-right: 0;
}
body.grant-2015 .grant-2015-content .background-grey {
  background-color: #f1f2f2;
}
body.grant-2015 .grant-2015-content .background-blue {
  background-color: #009cb6;
}
body.grant-2015 .grant-2015-content .background-world {
  background: url('../images/homepage/background-world.jpg') no-repeat top center;
  position: relative;
  background-size: cover;
  text-align: center;
  -moz-box-shadow: inset 0 -80px 70px -40px #ffffff;
  -webkit-box-shadow: inset 0 -80px 70px -40px #ffffff;
  box-shadow: inset 0 -80px 70px -40px #ffffff;
}
body.grant-2015 .grant-2015-content .feature-profile-image-wrapper {
  position: relative;
}
body.grant-2015 .grant-2015-content .feature-profile-image-wrapper .india-outline {
  position: absolute;
  right: -28%;
  top: 28%;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .feature-profile-image-wrapper .india-outline {
    width: 200px;
    right: -135px;
    top: 110px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .feature-profile-image-wrapper .india-outline {
    width: 100px;
    right: -55px;
    top: auto;
    bottom: 5px;
  }
}
body.grant-2015 .grant-2015-content .feature-profile-image-wrapper .name {
  position: absolute;
  top: 50%;
  line-height: 0;
  left: 5%;
  font-size: 24px;
  font-weight: 400;
}
body.grant-2015 .grant-2015-content .profile-image-wrap {
  position: relative;
}
body.grant-2015 .grant-2015-content .profile-image-wrap .name {
  position: absolute;
  top: 50%;
  line-height: 0;
  left: 5%;
  font-size: 24px;
  font-weight: 400;
}
body.grant-2015 .grant-2015-content .banner-homepage .background-homepage {
  background: url('../images/homepage/header-homepage.jpg') no-repeat center center;
  background-size: cover;
}
body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper {
  position: relative;
  height: 420px;
}
body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper .reece-grant-logo {
  position: absolute;
  right: -30%;
  top: 0;
  width: 160px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper .reece-grant-logo {
    right: -10%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper .reece-grant-logo {
    right: 0;
    width: 130px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper .reece-grant-logo {
    right: 5px;
    width: 90px;
  }
}
body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper .text-healthier {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 359px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper .text-healthier {
    width: 280px;
    left: 10px;
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper .text-healthier {
    width: 230px;
    left: 10px;
    bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper {
    height: 340px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .banner-homepage .background-homepage .banner-item-wrapper {
    height: 300px;
  }
}
body.grant-2015 .grant-2015-content .background-justin {
  background: url('../images/justin/banner.jpg') no-repeat top center;
  background-size: cover;
}
body.grant-2015 .grant-2015-content .background-james {
  background: url('../images/james/banner.jpg') no-repeat top center;
  background-size: cover;
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .background-james {
    background-position: 60%;
  }
}
body.grant-2015 .grant-2015-content .background-timothy {
  background: url('../images/timothy/banner.jpg') no-repeat top center;
  background-size: cover;
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .background-timothy {
    background-position: 60%;
  }
}
body.grant-2015 .grant-2015-content .menu-list {
  position: relative;
  z-index: 2;
}
body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper {
  position: relative;
  height: 420px;
  overflow: hidden;
}
body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper .reece-grant-logo {
  position: absolute;
  right: -30%;
  top: 0;
  width: 160px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper .reece-grant-logo {
    right: -10%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper .reece-grant-logo {
    right: 0;
    width: 130px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper .reece-grant-logo {
    right: 5px;
    width: 90px;
  }
}
body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper .person-details {
  position: absolute;
  left: 0;
  bottom: 20px;
}
body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper .person-details p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper {
    height: 340px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .banner-person .banner-item-wrapper {
    height: 300px;
  }
}
body.grant-2015 .grant-2015-content .video-image {
  position: relative;
}
body.grant-2015 .grant-2015-content .video-image img {
  width: 100%;
}
body.grant-2015 .grant-2015-content .video-image .play-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}
body.grant-2015 .grant-2015-content .video-image .play-button-wrapper img {
  max-width: 100%;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video {
  background: url('../images/homepage/video.jpg') no-repeat center center;
  height: 450px;
  background-size: cover;
  text-align: center;
  position: relative;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .play-button {
  width: 52px;
  height: 52px;
  margin: 0 auto;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .cta-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2em;
  width: 257px;
  display: block;
  margin: 0 auto;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .cta-text .play-button-wrapper {
  padding-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .cta-text {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .cta-text {
    font-size: 18px;
  }
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .cta-text {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .cta-text:hover {
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .landing-video {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  text-align: center;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .landing-video .video-wrapper {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .homepage-video .background-video .landing-video .video-wrapper {
    width: 390px;
    max-width: 100%;
  }
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .landing-video .iframe-wrapper {
  z-index: 99;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .landing-video .close-button {
  z-index: 100;
  position: relative;
  color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 30px;
  float: right;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .landing-video .close-button:hover {
  cursor: pointer;
  color: #000000;
}
@media (max-width: 340px) {
  body.grant-2015 .grant-2015-content .homepage-video .background-video .landing-video {
    top: 50px;
  }
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .homepage-video .background-video {
    height: 280px;
  }
}
body.grant-2015 .grant-2015-content .individual-video {
  overflow: hidden !important;
  position: relative;
  z-index: 0;
  display: block;
  max-height: 400px;
}
body.grant-2015 .grant-2015-content .individual-video .embed-responsive {
  z-index: 0;
}
body.grant-2015 .grant-2015-content .individual-video iframe {
  z-index: 0;
  overflow: hidden !important;
  position: absolute;
}
body.grant-2015 .grant-2015-content .grant-2015-nav {
  list-style: none;
  margin: 0;
  position: relative;
  z-index: 9999;
}
body.grant-2015 .grant-2015-content .grant-2015-nav .nav-james .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav .nav-justin .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav .nav-timothy .nav-img {
  height: 0px;
  visibility: hidden;
}
body.grant-2015 .grant-2015-content .grant-2015-nav .nav-home .nav-img {
  height: 0px;
  visibility: hidden;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li {
  margin-top: 46px;
  margin-bottom: 46px;
  height: 87px;
  padding-left: 0;
  padding-right: 0;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1px;
  z-index: 2;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a .item-wrap {
  display: block;
  height: 77px;
  -webkit-transition: border-left 1s ease, border-right 1s ease-out, width 1s ease;
  -moz-transition: border-left 1s ease, border-right 1s ease-out, width 1s ease;
  -o-transition: border-left 1s ease, border-right 1s ease-out, width 1s ease;
  transition: border-left 1s ease, border-right 1s ease-out, width 1s ease;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-img-wrapper {
  height: 50px;
  position: relative;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-img-wrapper .nav-img {
  -webkit-transition: visibility 1s ease,height 1s ease,width 1s ease;
  -moz-transition: visibility 1s ease,height 1s ease,width 1s ease;
  -o-transition: visibility 1s ease, height 1s ease-out, width 1s ease;
  transition: visibility 1s ease,height 1s ease,width 1s ease;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-text-wrapper {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-img-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-text-wrapper {
  display: block;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-img-wrapper span,
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-text-wrapper span {
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  letter-spacing: 2px;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a .nav-text-wrapper {
  position: relative;
  -webkit-transform: translateY(-23px);
  -moz-transform: translateY(-23px);
  -o-transform: translateY(-23px);
  -ms-transform: translateY(-23px);
  transform: translateY(-23px);
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home {
  margin-bottom: 10px;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home .nav-text-wrapper {
  padding-top: 3px;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home .nav-img {
  position: relative;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home.active .item-wrap,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home:hover .item-wrap {
  border-left: 1px #4dbacc solid;
  border-right: 1px #4dbacc solid;
  padding-top: 0px;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home.active .nav-img-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home:hover .nav-img-wrapper {
  visibility: visible;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home.active .nav-img-wrapper .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home:hover .nav-img-wrapper .nav-img {
  width: 34px;
  height: 34px;
  margin: 0 auto;
  visibility: visible;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home.active .nav-text-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home:hover .nav-text-wrapper {
  padding-top: 3px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-home {
  z-index: 99999;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin.active,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james.active,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy.active,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin:hover,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james:hover,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy:hover {
  border-left: 1px #4dbacc solid;
  border-right: 1px #4dbacc solid;
  padding-top: 0px;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin.active .nav-img-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james.active .nav-img-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy.active .nav-img-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin:hover .nav-img-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james:hover .nav-img-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy:hover .nav-img-wrapper {
  margin-bottom: 0px;
  visibility: visible;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin.active .nav-img-wrapper .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james.active .nav-img-wrapper .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy.active .nav-img-wrapper .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin:hover .nav-img-wrapper .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james:hover .nav-img-wrapper .nav-img,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy:hover .nav-img-wrapper .nav-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  visibility: visible;
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin.active .nav-text-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james.active .nav-text-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy.active .nav-text-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-justin:hover .nav-text-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-james:hover .nav-text-wrapper,
body.grant-2015 .grant-2015-content .grant-2015-nav li a.nav-timothy:hover .nav-text-wrapper {
  padding-top: 0px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
body.grant-2015 .grant-2015-content .grant-2015-nav li a:hover,
body.grant-2015 .grant-2015-content .grant-2015-nav li a:active,
body.grant-2015 .grant-2015-content .grant-2015-nav li a:focus {
  text-decoration: none;
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .grant-2015-nav li {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 16px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper .stamp-wrapper {
  position: absolute;
  right: 0;
  top: -20px;
  left: -25%;
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper .back-image-wrapper {
  position: absolute;
  width: 100%;
  top: 12px;
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper .back-image-wrapper:hover {
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper .front-image-wrapper {
  top: 12px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper:hover .back-image-wrapper {
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper:hover .front-image-wrapper {
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper {
    left: 20px;
    max-width: 90%;
  }
}
body.grant-2015 .grant-2015-content .latest-project-section .project-details {
  padding-top: 30px;
}
body.grant-2015 .grant-2015-content .latest-project-section.one-article-section .spacing-big {
  padding-top: 80px;
}
body.grant-2015 .grant-2015-content .project-details .date {
  font-size: 12px;
  text-transform: uppercase;
}
body.grant-2015 .grant-2015-content .project-details .name {
  font-size: 22px;
  font-weight: 500;
}
body.grant-2015 .grant-2015-content .person-project-details {
  margin-top: 20px;
  margin-bottom: 20px;
}
body.grant-2015 .grant-2015-content .person-project-details p.info {
  font-weight: 500;
  margin-bottom: 0;
}
body.grant-2015 .grant-2015-content .person-project-details p.info label {
  color: #009cb6;
  width: 65px;
}
body.grant-2015 .grant-2015-content .one-article-section {
  margin-top: 2px;
}
body.grant-2015 .grant-2015-content .one-article-section.shaded-top {
  -moz-box-shadow: inset 0 -80px 70px -40px #000000;
  -webkit-box-shadow: inset 0 -80px 70px -40px #000000;
  box-shadow: inset 0 -80px 70px -40px #000000;
}
body.grant-2015 .grant-2015-content .one-article-section .expand-article {
  padding-top: 0px;
}
body.grant-2015 .grant-2015-content .one-article-section .expand-article .article-snap {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  body.grant-2015 .grant-2015-content .one-article-section .expand-article {
    margin-top: 0;
  }
}
body.grant-2015 .grant-2015-content .one-article-section .read-more-button-wrap {
  margin-top: 0;
}
body.grant-2015 .grant-2015-content .one-article-section .read-more-button-wrap .read-more-text {
  display: block;
}
body.grant-2015 .grant-2015-content .one-article-section .read-more-button-wrap .read-less-text {
  display: none;
}
body.grant-2015 .grant-2015-content .one-article-section.active .read-more-button-wrap {
  margin-top: 16px;
}
body.grant-2015 .grant-2015-content .one-article-section.active .read-more-button-wrap .read-more-text {
  display: none;
}
body.grant-2015 .grant-2015-content .one-article-section.active .read-more-button-wrap .read-less-text {
  display: block;
}
body.grant-2015 .grant-2015-content .map-wrapper {
  margin: 40px;
}
body.grant-2015 .grant-2015-content .social-share {
  text-align: right;
  font-size: 24px;
  padding-bottom: 20px;
}
body.grant-2015 .grant-2015-content .social-share a {
  color: #9F9F9F;
  desplay: inline-block;
  margin-left: 10px;
  -webkit-transition: color 500ms ease-in;
  -moz-transition: color 500ms ease-in;
  -o-transition: color 500ms ease-in;
  transition: color 500ms ease-in;
}
body.grant-2015 .grant-2015-content .social-share a:hover,
body.grant-2015 .grant-2015-content .social-share a:focus,
body.grant-2015 .grant-2015-content .social-share a:active {
  color: #019BB6;
}
