body.grant-2015 .grant-2015-content {
  color: #58595b;
  font-size: 16px;
}
body.grant-2015 .grant-2015-content .section-container {
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
}
body.grant-2015 .grant-2015-content .text-left {
  text-align: left;
}
body.grant-2015 .grant-2015-content .text-right {
  text-align: right;
}
body.grant-2015 .grant-2015-content .text-center {
  text-align: center;
}
body.grant-2015 .grant-2015-content .text-blue {
  color: #009cb6;
}
body.grant-2015 .grant-2015-content .text-big {
  font-size: 48px;
}
body.grant-2015 .grant-2015-content .text-standard-heading {
  font-size: 32px;
}
body.grant-2015 .grant-2015-content .text-article-heading {
  font-size: 38px;
}
body.grant-2015 .grant-2015-content .text-intro {
  font-size: 18px;
  font-weight: bold;
}
body.grant-2015 .grant-2015-content .img-spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
body.grant-2015 .grant-2015-content .reece-logo {
  width: 125px;
}
body.grant-2015 .grant-2015-content .spacing-big {
  padding-top: 60px;
  padding-bottom: 60px;
}
body.grant-2015 .grant-2015-content .spacing-big-top {
  padding-top: 60px;
}
body.grant-2015 .grant-2015-content .spacing-big-bottom {
  padding-bottom: 60px;
}
body.grant-2015 .grant-2015-content .row-edge {
  margin-left: 0;
  margin-right: 0;
}
body.grant-2015 .grant-2015-content .row-limit {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
body.grant-2015 .grant-2015-content .heading-latest-project .text-subheading {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
body.grant-2015 .grant-2015-content .read-more-button-wrap {
  margin-top: 30px;
}
body.grant-2015 .grant-2015-content .read-more-button-wrap .read-more-button {
  display: block;
  color: #009cb6;
  padding-top: 12px;
  padding-bottom: 12px;
  background: url('../images/wave/read-more-line.png') no-repeat left top;
}
body.grant-2015 .grant-2015-content .wave-section {
  position: relative;
}
body.grant-2015 .grant-2015-content .wave-section .wave-blue-to-white {
  height: 7px;
  background: url('../images/wave/wave-blue-to-white.png') repeat-x;
}
body.grant-2015 .grant-2015-content .wave-section .wave-white-to-grey {
  height: 7px;
  background: url('../images/wave/wave-white-to-grey.png') repeat-x;
}
body.grant-2015 .grant-2015-content .wave-section .wave-grey-to-white {
  height: 7px;
  background: url('../images/wave/wave-grey-to-white.png') repeat-x;
}
body.grant-2015 .grant-2015-content .wave-section .wave-white-to-image {
  position: relative;
  height: 7px;
  background: url('../images/wave/wave-white-to-image.png') repeat-x;
  top: 7px;
  z-index: 100;
}
body.grant-2015 .grant-2015-content .wave-section .wave-image-to-white {
  position: relative;
  height: 7px;
  background: url('../images/wave/wave-image-to-white.png') repeat-x;
  bottom: 7px;
  z-index: 100;
}
body.grant-2015 .grant-2015-content .col-edge {
  padding-left: 0;
  padding-right: 0;
}
body.grant-2015 .grant-2015-content .background-grey {
  background-color: #f1f2f2;
}
body.grant-2015 .grant-2015-content .background-blue {
  background-color: #009cb6;
}
body.grant-2015 .grant-2015-content .background-homepage {
  background: url('../images/homepage/header-homepage.jpg') no-repeat center center;
  padding-bottom: 40%;
  background-size: cover;
}
body.grant-2015 .grant-2015-content .background-world {
  background: url('../images/homepage/background-world.jpg') no-repeat top center;
  position: relative;
  background-size: cover;
  text-align: center;
}
body.grant-2015 .grant-2015-content .justin-wrapper {
  position: relative;
}
body.grant-2015 .grant-2015-content .justin-wrapper .india-outline {
  position: absolute;
  right: -28%;
  top: 28%;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video {
  background: url('../images/homepage/video.jpg') no-repeat center center;
  padding-bottom: 40%;
  background-size: cover;
  text-align: center;
  position: relative;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .play-button {
  width: 52px;
  height: 52px;
  margin: 0 auto;
}
body.grant-2015 .grant-2015-content .homepage-video .background-video .cta-video .cta-text {
  font-size: 28px;
  width: 257px;
  display: block;
  margin: 0 auto;
}
body.grant-2015 .grant-2015-content .grant-2015-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
body.grant-2015 .grant-2015-content .grant-2015-nav a {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  font-size: 24px;
}
body.grant-2015 .grant-2015-content .grant-2015-nav a span {
  font-size: 10px;
  text-transform: uppercase;
  display: block;
}
body.grant-2015 .grant-2015-content .grant-2015-nav a:hover,
body.grant-2015 .grant-2015-content .grant-2015-nav a:active,
body.grant-2015 .grant-2015-content .grant-2015-nav a:focus {
  text-decoration: none;
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper {
  position: relative;
  padding-top: 30px;
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper .postcard-image-wrapper {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper .postcard-image-wrapper.img-behind-rotate {
  position: absolute;
  top: 12px;
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
body.grant-2015 .grant-2015-content .latest-project-section .postcard-wrapper .postcard-image-wrapper.stamp {
  position: absolute;
  right: 0;
  bottom: 0;
  left: -25%;
}
body.grant-2015 .grant-2015-content .latest-project-section .project-details {
  padding-top: 30px;
}
body.grant-2015 .grant-2015-content .project-details .date {
  font-size: 12px;
}
body.grant-2015 .grant-2015-content .project-details .name {
  font-size: 22px;
  font-weight: 500;
}
