.main-section#checkout-cart-section{

#cart-sidebar{
	padding-right:35px;
	padding-left:35px;
	header{
		border-bottom:solid 1px @border-grey;

		h3{
			font-size:23px;
			text-transform: uppercase;
			.gothamMedium;
			.fa{
				display:none;
				float: right;
				font-size: 55px;
				position: relative;
				top: -6px;

			}
		}
		@media (max-width: @screen-xs-max) {
			h3{
				.fa.fa-angle-up{
					display:none;
				}
				.fa.fa-angle-down{
					display:inline;
				}
			}	
			&.active{
				h3{
					.fa.fa-angle-up{
						display:inline;
					}
					.fa.fa-angle-down{
						display:none;
					}
				}	
			}

		}
	}
	.order-item-wrap{
		@media (max-width: @screen-xs-max) {
			display:none;
		}
	}
	.edit-link{
		text-align:right;
		padding-top:5px;
		a{
			color: @link-blue;	
			text-transform: uppercase;
			font-size:15px;
			.gothamBook;
		}

	}
	.total-price-header{
		color:@white;
	}
	.total-section{
		border-bottom:solid 1px @border-grey;
		@media (max-width: @screen-xs-max) {
			border-bottom:solid 1px #8cc0ce;
		}
		@media (max-width: @screen-xs-max) {
			.delivery,.gst, .total{
				.left-col{
					width:50%;
					float:left;
				}
				.right-col{
					width:50%;
					float:right;
				}				
			}

		}
	}
	.info-wrap{
		.gothamBook;
		.quantity{
			font-size:10px;
		}
		.name{
			font-size:16px;
			.gothamBold;
		}
		.description{
			font-size:14px;
		}
		.product-code{
			font-size:12px;
			color: @text-light-grey;
		}
		.price{
			font-size:16px;
			.gothamBold;
			padding-top:18px;
			text-align:right;
			span{
				font-size:10px;
				.gothamBook;
			}
		}
		.heading-text{
			.gothamBook;
			text-transform: uppercase;
			font-size:20px;
		}
		.heading-price{			
			.gothamBook;
			text-transform: uppercase;
			color:@black;
			font-size:20px;

		}
		.heading-total{
			.gothamBold;
			text-transform: uppercase;
			color:@text-blue;
			font-size:20px;
			span{
				font-size:10px;
				padding-left:5px;
				text-transform: none;
			}
		}
		.total{
			.gothamBold;
			text-transform: uppercase;
			color:@text-blue;
			font-size:20px;
		}
		.delivery,.gst{
			padding-bottom:10px;
		}
		@media (max-width: @screen-xs-max) {
			color:@white;
			.quantity,.name,.description,.product-code, .price{
				text-align:left;
				padding-left:80px;
			}
			.heading-text,.heading-total{
				text-align:left;
			}
			.heading-price{
				text-align:right;
			}
			.price{
				padding-top: 5px;
				text-align: left;
				padding-left:80px;
			}
			.quantity{
				padding: 10px 20px;
				background: @bg-blue-item;
				display: inline-block;
				float: left;
				text-align:center;
				span{
					display:block;
				}
			}

		}
	}
	header,section,footer{
		.info-wrap{
			padding:20px 5%;
			.left-col{
				width:65%;
				float:left;
				@media (max-width: @screen-xs-max) {
					float:none;
					width:100%;

				}
			}
			.right-col{
				width:30%;
				float:right;
				@media (max-width: @screen-xs-max) {
					float:none;
					width:100%;
				}
			}
		}
	}
	footer{
		p{
			font-size: 12px;
			color: @text-light-grey;
		}
	}

	ul.order-items{
		li{
			list-style: none;
			margin:0;
			border-bottom:solid 1px @border-grey;

			@media (max-width: @screen-xs-max) {
				border-bottom:solid 1px #8cc0ce;
			}
		}
	}
	@media (max-width: @screen-xs-max) {
		padding-top:0;
		text-align:center;
		header{
			border-bottom:none;
			.info-wrap{
				padding:20px 5% 5px 5%;
				.left-col{
					float:none;
					width:100%;
				}
				.right-col{
					float:none;
					width:100%;

				}
			}

		}
	}
	@media (max-width: @screen-xs-max) {
		padding-left:10px;
		padding-right:10px;
		.info-wrap{
			padding-left:0;
			padding-right:0;

		}
	}
}
}