#cart-sidebar{
	padding-right:35px;
	padding-left:35px;
	header{
		border-bottom:solid 1px @border-grey;

		h3{
			font-size:23px;
			text-transform: uppercase;
			.gothamMedium;
			.fa{
				display:none;
				float: right;
				font-size: 55px;
				position: relative;
				top: -6px;

			}
		}
		@media (max-width: @screen-xs-max) {
			h3{
				.fa.fa-angle-up{
					display:none;
				}
				.fa.fa-angle-down{
					display:inline;
				}
			}	
			&.active{
				h3{
					.fa.fa-angle-up{
						display:inline;
					}
					.fa.fa-angle-down{
						display:none;
					}
				}	
			}

		}
	}
	.order-item-wrap{
		@media (max-width: @screen-xs-max) {
			display:none;
		}
	}
	.edit-link{
		text-align:right;
		padding-top:5px;
		a{
			color: @link-blue;	
			text-transform: uppercase;
			font-size:15px;
			.gothamBook;
		}

	}
	.total-price-header{
		color:@white;
	}
	.total-section{
		border-bottom:solid 1px @border-grey;
		@media (max-width: @screen-xs-max) {
			border-bottom:solid 1px #8cc0ce;
		}
		@media (max-width: @screen-xs-max) {
			.delivery,.gst, .total{
				.left-col{
					width:50%;
					float:left;
				}
				.right-col{
					width:50%;
					float:right;
				}				
			}

		}
	}
	.info-wrap{
		.gothamBook;
		.quantity{
			font-size:10px;
		}
		.name{
			font-size:16px;
			.gothamBold;
		}
		.description{
			font-size:14px;
		}
		.product-code{
			font-size:12px;
			color: @text-light-grey;
		}
		.price{
			font-size:16px;
			.gothamBold;
			padding-top:18px;
			text-align:right;
			span{
				font-size:10px;
				.gothamBook;
			}
		}
		.heading-text{
			.gothamBook;
			text-transform: uppercase;
			font-size:20px;
		}
		.heading-price{			
			.gothamBook;
			text-transform: uppercase;
			color:@black;
			font-size:20px;

		}
		.heading-total{
			.gothamBold;
			text-transform: uppercase;
			color:@text-blue;
			font-size:20px;
			span{
				font-size:10px;
				padding-left:5px;
				text-transform: none;
			}
		}
		.total{
			.gothamBold;
			text-transform: uppercase;
			color:@text-blue;
			font-size:20px;
		}
		.delivery,.gst{
			padding-bottom:10px;
		}
		@media (max-width: @screen-xs-max) {
			color:@white;
			.quantity,.name,.description,.product-code, .price{
				text-align:left;
				padding-left:80px;
			}
			.heading-text,.heading-total{
				text-align:left;
			}
			.heading-price{
				text-align:right;
			}
			.price{
				padding-top: 5px;
				text-align: left;
				padding-left:80px;
			}
			.quantity{
				padding: 10px 20px;
				background: @bg-blue-item;
				display: inline-block;
				float: left;
				text-align:center;
				span{
					display:block;
				}
			}

		}
	}
	header,section,footer{
		.info-wrap{
			padding:20px 5%;
			.left-col{
				width:65%;
				float:left;
				@media (max-width: @screen-xs-max) {
					float:none;
					width:100%;

				}
			}
			.right-col{
				width:30%;
				float:right;
				@media (max-width: @screen-xs-max) {
					float:none;
					width:100%;
				}
			}
		}
	}
	footer{
		p{
			font-size: 12px;
			color: @text-light-grey;
		}
	}

	ul.order-items{
		li{
			list-style: none;
			margin:0;
			border-bottom:solid 1px @border-grey;

			@media (max-width: @screen-xs-max) {
				border-bottom:solid 1px #8cc0ce;
			}
		}
	}
	@media (max-width: @screen-xs-max) {
		padding-top:0;
		text-align:center;
		header{
			border-bottom:none;
			.info-wrap{
				padding:20px 5% 5px 5%;
				.left-col{
					float:none;
					width:100%;
				}
				.right-col{
					float:none;
					width:100%;

				}
			}

		}
	}
	@media (max-width: @screen-xs-max) {
		padding-left:10px;
		padding-right:10px;
		.info-wrap{
			padding-left:0;
			padding-right:0;

		}
	}
}
.main-section{




	.main-heading{
		border-bottom:solid 1px @border-light-grey;
		padding-bottom:25px;
		padding-left:15px;
		padding-right:15px;
		margin-left:-15px;
		margin-right:-15px;
	}
}
#order-form{
	padding-right:50px;
	@media (max-width: @screen-xs-max) {
		padding-right:20px;
		padding-left:20px;
	}
	span.error {
		display: block;
		color: red;
		font-size: .8em;
		padding-top:5px;
	}
	form#checkout-cart{





		input, textarea, select {
			-webkit-appearance: none;
		}











		.selectric{
			height:55px;
			background:@white;
			border:solid 1px @border-grey;
			.label{
				padding-top:8px;
				.gothamBook;
				font-size:14px;
			}
			.button{
				top:18px;
				background:url("../templates/images/icon-downarrow.png") no-repeat top center;
				background-size:20px;
				right:5px;

				&:after{
					display:none;

				}
			}

		}
		.selectric-items li{
			background:@white;
			font-size:14px;
			.gothamBook;
			&:hover{
				background:@bg-light-grey;
				cursor:pointer;
			}
		}
		#order-details,#receiving-goods{
			.header-section{
				border-bottom:solid 1px @border-light-grey;
				padding-top:40px;
				padding-bottom:30px;
				padding-left:15px;
				padding-right:15px;
				margin-left:-15px;
				margin-right:-15px;
				.fa{
					color:@icon-grey;
					float:right;
					font-size:40px;
					line-height:40px;
					position:relative;
					top:-14px;
				}
				.fa.fa-angle-down{
					display:inline;
				}
				.fa.fa-angle-up{
					display:none;
				}
				&.active{
					border-bottom:none;
					.fa.fa-angle-down{
						display:none;
					}
					.fa.fa-angle-up{
						display:inline;
					}
				}
			}
		}
		#receiving-goods{
			.header-section{
				&:hover{
					cursor:pointer;
				}
			}
			.form-section{
				display:none;
			}
		}
		#delivery-address{
			.inner-form-section{
				display:none;
				margin-left:10px;
				margin-right:10px;
			}
		}
		#pickup-details,#delivery-details, #order-comments{
			display:none;
		}
		#pickup-details,#delivery-details{
			header{
				padding-left:10px;
				padding-right:10px;
			}
		}


		





		.form-group-wrap{
			margin:0 -15px;
			padding-left:15px;
			padding-right:15px;
			padding-top:10px;
			padding-bottom:20px;
			border-bottom:solid 1px @border-light-grey;
			@media (max-width: @screen-xs-max) {
				padding-left:0;
				padding-right:0;

			}


			.inner-form-section{
				padding:20px;
				background: @bg-light-grey;
			}
			.form-group{
				float:left;
				padding:10px;
				margin-bottom:0;
				&.half{
					width:50%;
					@media (max-width: @screen-xs-max) {
						width:100%;
					}
				}
				&.full{
					width:100%;
					.inner-half{
						width:50%;
						padding-top:10px;
						&.left{
							float:left;
						}
						&.right{
							float:right;
						}
					}
				}
				&.sm-full{
					@media (max-width: @screen-sm-max) {
						width:100%;
					}
				}
				&.quarter-big{
					width:30%;
					@media (max-width: @screen-sm-max) {
						width:60%;
					}
				}
				&.quarter-small{
					width:20%;
					@media (max-width: @screen-sm-max) {
						width:40%;
					}
				}
				&.half-big{
					width:60%;
					@media (max-width: @screen-xs-max) {
						width:100%;
					}
				}
				&.half-small{
					width:40%;
					@media (max-width: @screen-xs-max) {
						width:100%;
					}
				}
				&.space-above{
					padding-top:30px;
				}
				&.space-below{
					padding-bottom:30px;
				}
				&.no-space-bottom{
					padding-bottom:0;
					margin-bottom:0;
				}
				&.select-previous-address{
					&.active{
						.arrow-triangle{
							height:22px;
							background:url("../templates/images/arrow-triangle.png") no-repeat center bottom;
							width:100%;
							background-size: 24px 12px;
						}						
					}
				}
				&.enter-new-address{
					&.enter-new-address-top{
						display:none;
					}
					.or{
						display:block;
						float:left;
						width:20%;
						text-align:center;
						padding-right:20px;
						font-size:18px;
						padding-top:14px;
						.gothamBold;
					}
					.btn.new-address{
						width:80%;
						float:left;
						padding:20px;
						@media (max-width: @screen-sm-max) {
							width:100%;
						}
					}
					&.active{
						.arrow-triangle{
							height:22px;
							background:url("../templates/images/arrow-triangle.png") no-repeat center bottom;
							width:80%;
							float:right;
							background-size: 24px 12px;
							@media (max-width: @screen-xs-max) {
								width:100%;
							}
						}						
					}
				}
				&.inner-form-header{
					padding:0;
					.inner-form-section{
						padding:20px 30px;
					}
				}
				label{
					display:block;
					color: @text-grey;
					font-size:15px;
					.gothamBook;
				}
				.next-button{
					display:inline-block;
				}
				.btn{
					@media (max-width: @screen-xs-max) {
						width:100%;
					}
				}
				.pop-title{
					background: @bg-mid-grey;
					padding: 20px 30px;
					margin: 0 10px;
					display:none;
					h6{
						margin:0;
						padding:0;
						display:none;
						&.active{
							display:block;
						}
					}
				}
				select, input[type=email],input[type=text],input[type=date]{
					height:55px;
					font-size: 14px;
					width:100%;
					border:solid 1px @border-grey;
					.border-radius (0px);
					padding:15px;
				}
				textarea{
					height:150px;
					font-size: 14px;
					width:100%;
					border:solid 1px @border-grey;
					.border-radius (0px);
					padding:15px;
				}
				input[type=email],input[type=text],textarea{
					&.error{
						border:solid 1px red;
					}
					&.valid{
						background:url("../templates/images/icon-greentick.png") no-repeat;
						background-size:20px;
						background-position:right 12px top 16px;
					}
					&.search-box{
						background:url("../templates/images/icon-bluesearch.png") no-repeat;
						background-size:55px;
						background-position:right 0px top 0px;
					}

				}
				select{
					top:18px;
					background:url("../templates/images/icon-downarrow.png") no-repeat top center;
					background-position: right 10px top 15px;
					background-size:20px;
					right:5px;
				}


				input[type=radio]{
					&:hover{
						cursor:pointer;
					}
				}


				input[type=checkbox],
				input[type=radio] {
					display: inline-block;
					font-size: 15px;
					line-height: 1em;
					margin: 0 0.25em 0 0;
					padding: 0;
					width: 1.25em;
					height: 1.25em;
					-webkit-border-radius: 0.25em;
					vertical-align: text-top;
				}

				input[type=radio] {
					-webkit-border-radius: 2em; /* Make radios round */
					background: @white;
					border: solid 4px @icon-grey;
				}
				input[type=radio]:checked {
					-webkit-border-radius: 2em; /* Make radios round */
					background: @white url("../templates/images/icon-dot.png") no-repeat center center;
					background-size:cover;
					border: solid 4px @icon-blue;
				}

				input[type=checkbox]:checked {
					background: url("data:image/png,%89PNG[...]") no-repeat center center;
					-webkit-background-size: 28px 28px; /* shrink high resolution background */
				}










				ul.radio-list{
					padding:0;
					margin:0;
					li{
						list-style: none;
						float:left;
						display:inline-block;
						padding: 0 20px;
						&:hover{
							label{
								color:@icon-blue;
								cursor:pointer;
							}
						}
						label{
							display:inline-block;
							padding-left:20px;
							text-transform: uppercase;
							.gothamMedium;
							position:relative;
							top:2px;

						}
					}
				}
				.picture-button{
					border:solid 1px @border-grey;
					padding:50px 30px 30px 30px;
					margin:10px;

					label{
						text-transform: uppercase;
						color:@icon-grey;
						.gothamMedium;
					}
					&.delivery-button{
						margin-left:0;

						.icon-delivery{
							padding-bottom:41%;
							background:url("../templates/images/icon-delivery.png") no-repeat center top;
							background-size:80%;
						}	
						&:hover,&.active{
							label{
								color:@icon-blue;
							}
							.icon-delivery{
								background-position:center bottom;
							}
							input[type=radio] {
								border: solid 4px @icon-blue;
							}

						}	

						@media (max-width: @screen-xs-max) {
							margin:10px 10px 10px 0;
							padding: 30px 0;
						}	


					}
					&.pickup-button{
						margin-right:0;
						.icon-pickup{
							padding-bottom:41%;
							background:url("../templates/images/icon-pickup.png") no-repeat center top;
							background-size:80%;

						}	
						&:hover,&.active{
							label{
								color:@icon-blue;
							}
							.icon-pickup{
								background-position:center bottom;
							}
							input[type=radio] {
								border: solid 4px @icon-blue;
							}
						}	

						@media (max-width: @screen-xs-max) {
							margin:10px 0 10px 10px;
							padding: 30px 0;

						}	
					}	


				}

			}			
		}
	}
}