.main-section#checkout-success{
	.main-heading{
		padding-top:30px;
		padding-bottom:30px;
	}
	.info{
		padding-top:30px;
		padding-bottom:20px;
	}
	.icon-section{
		margin-bottom:10px;
	}
	.big-text{
		font-size: 35px;
		.gothamBold;
	}
	.border-bottom{
		border-bottom:solid 1px @border-light-grey;
	}
	.bg-location-icon{
		background:url("../templates/images/icon-location.png") no-repeat top 30px left;
		background-size:55px;
		padding-left:75px;
		min-height:120px;
		@media (max-width: @screen-xs-max) { 
			text-align:center;
			padding-left:0;
			background-position: top center;
			min-height:0;
			padding-top:92px;
			margin-top:30px;
		}


	}
	.bg-mail-icon{
		background:url("../templates/images/icon-mail.png") no-repeat top 30px left;
		background-size:100px;
		padding-left:120px;
		min-height:120px;
		@media (max-width: @screen-xs-max) { 
			text-align:center;
			padding-left:0;
			background-position: top center;
			min-height:0;
			padding-top:80px;
		}
	}






}