/* BODY FONT*/
.gothamBook;
font-size:15px;
color: black;

.h1,.h2,.h3,.h4,.h5,.h6{
	display:block;
}
img{
	max-width: 100%;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	margin-top:0;
	padding-top:0;
	.gothamBold;
	&.normal-weight{
		.gothamBook;
	}
}
h1,.h1{
	font-size:35px;
}
h2,.h2{
	font-size:22px;
	margin-bottom: 30px;
}
h3,.h3{
	font-size:18px;	
}
h6,.h6{
	font-size:15px;
}
span.div{
	display:block;
}
p{
	.gothamBook;
	strong{
		.gothamBold;
	}
	em{
		.gothamBookItalic;
	}
	strong em, em strong{
		.gothamBoldItalic
	}
}
.main-section{
	position: relative;
	a{
		color: @section-link-color;
		text-decoration: underline;
		.gothamMedium;
		font-weight: @section-link-font-weight;
		&:hover{
			@media (min-width: @screen-sm){
				color: @section-link-hover-color;
			}
		}
	}
	.btn{
		font-size: 15px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		padding: 0 20px;
		text-decoration: none;
		border-width: 2px;
		border-style: solid;
		.box-shadow(none);
		.transition(0.2s all ease-out);
		.border-radius (0px);
		height: 45px;
		line-height: 41px;
		text-transform: uppercase;
		&.btn-icon{
			background: rgba(0,0,0,0.01);
			border: none;
			padding: 0;
		}

		&.main-button{
			background: white;
			color: @main-color;
			border: 2px solid @main-color;
			&:hover{
				@media (min-width: @screen-sm){
					color: white;
					background: @main-color;
				}
			}
		}
		&.main-button{
			background: @main-button-bg;
			border-color: @main-button-bg;
			color: white;
			&:hover{
				@media (min-width: @screen-sm) { 
					background: white;
					color: @main-button-bg;
				}
			}
		}
		&.secondary-button{
			background: @secondary-button-bg;
			border-color: @secondary-button-bg;
			color: white;
			&:hover{
				@media (min-width: @screen-sm) { 
					background: white;
					color: @secondary-button-bg;
				}
			}
		}
		&.green-button{
			background: @bg-green;
			color: @white;
			border-color: @bg-green;
			&:hover{
				@media (min-width: @screen-sm){
					color: @bg-button-black;
					background: white;								
					border-color: @bg-green;
				}
			}
		}
		&.light-green-button{
			background: @bg-button-light-green;
			border-color: @bg-button-light-green;
			color: @white;
			&:hover{
				@media (min-width: @screen-sm){
					color: @bg-button-light-green;
					background: white;								
				}
			}
		}
		&.orange-button{
			background: @bg-orange;
			border-color: @bg-orange;
			color: @white;
			&:hover{
				@media (min-width: @screen-sm){
					color: @bg-orange;
					background: white;								
				}
			}
		}
		&.grey-button{
			background: @bg-button-light-grey;
			border-color: @bg-button-light-grey;
			color: @white;
			&:hover{
				@media (min-width: @screen-sm){
					color: @bg-button-light-grey;
					background: white;								
				}
			}
		}
		&.black-button{
			background: @bg-button-black !important;
			border-color: @bg-button-black !important;
			color: @white !important;
			&:hover{
				@media (min-width: @screen-sm){
					color: @bg-button-black !important;
					background: white !important;								
				}
			}
		}
		&.blue-button{
			background: @bg-blue;
			border-color: @bg-blue;
			color: @white;
			&:hover{
				@media (min-width: @screen-sm){
					color: @bg-blue;
					background: white;								
				}
			}
		}
		&.light-blue-button{
			background: @bg-button-light-blue;
			border-color: @bg-button-light-blue;
			color: @white;
			&:hover{
				@media (min-width: @screen-sm){
					color: @bg-button-light-blue;
					background: white;								
				}
			}
		}
		&.small-width{
			padding: 0 25px;
			@media (max-width: @screen-xs-max) { 
				width:100%;
			}
		}
		&.xs-full{
				margin-top: 5px;
				margin-bottom: 5px;
			@media (max-width: @screen-xs-max) { 
				width:100%;
			}

		}

		&.full-width{
			width:100%;
			padding:0  8px;
			@media (max-width: @screen-xs-max) { 
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		@media (max-width: @screen-sm-max) { 
			padding: 0 35px;
		}
	}
	.call-to-action{
		background: @call-to-action-bg;
		color: @call-to-action-color;
		border: 2px solid @call-to-action-bg;
		&:hover{
			@media (min-width: @screen-sm){
				background: white;
				color: @call-to-action-hover-color;			
			}
		}
	}
	.add-to-cart{
		background: @add-to-cart-bg;
		color: @add-to-cart-color;
		border-color: @add-to-cart-bg;
		&:after{
			background: @add-to-cart-hover-bg;
		}
		&:hover{
			@media (min-width: @screen-sm){
				color: @add-to-cart-hover-color;
				background: white;
			}
		}
		&:disabled, &[disabled]{
			border-color: @add-to-cart-disabled-bg;
			background: @add-to-cart-disabled-bg;
			color: @add-to-cart-disabled-color;
		}
		.add-to-cart-text{
			display: block;
		}
		.add-to-wishlist-text{
			display: none;
		}
		&.add-to-wishlist{
			.add-to-cart-text{
				display: none;
			}
			.add-to-wishlist-text{
				display: block;
				font-size: 15px;
				svg{
					width: 30px;
					height: 25px;
				}
				@media (min-width: @screen-sm){
					font-size: 13px;
					svg{
						width: 24px;
	  				height: 20px;
					}
				}
				@media (min-width: @screen-md){
					font-size: 15px;
					svg{
						width: 30px;
	  				height: 25px;
					}
				}
			}	
		}
	}
}
.clear, .clear-fix{
	clear:both;
	display:block;
}
.span-block{
	display:block;
}
.section-container{
	max-width: 1230px;
	.inner-container{
		padding-left:15px;
		padding-right:15px;
	}
}
.bg-light-grey{
	background: @bg-light-grey;
}
.bg-dark-grey{
	background: @bg-dark-grey;
}
.bg-sm-blue{
	@media (max-width: @screen-xs-max) { 
		background:@bg-blue;
	}
}
.bg-extra-dark-grey{
	background: @bg-extra-dark-grey;
}
.bg-mid-grey{
	background: @bg-mid-grey;
}
.bg-green{
	background: @retail-bg-green;
}
.bg-dark-stripes{
	background: @bg-dark-stripes;
	background-image: @bg-dark-stripes-svg;
}
.bg-light-stripes{
	background: @bg-light-stripes;
	background-image: @bg-light-stripes-svg;
}
.bg-table-header-grey{
	background: @bg-table-header-grey;
}
.text-blue{
	color:@text-blue;
}
.text-white{
	color: @white;
}
.text-light-grey{
	color: @text-light-grey;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.padding-top{
	padding-top: 50px;
}
.padding-bottom{
	padding-bottom: 50px;
}
.border-bottom{
	border-bottom:solid 1px @border-grey;
	&.border-light{
		border-bottom:solid 1px @border-light-grey;
	}
	&.last-item{
		border-bottom:solid 0 @border-grey;
	}
}

ul.inline-list{
	padding:0;
	margin:0;
	li{
		list-style: none;
		float:left;
		display:inline-block;
		padding: 5px 20px;
	}
}
.btn-bhv:hover{
	cursor:pointer;
}
.ui-datepicker-div{
	background:@white;
}
.checkbox-option{
	border: solid 1px @checkbox-border;
	text-align:center;
	padding: 0;
	.gothamBook;
	font-size:16px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 42px;
	height: 44px;		
	label{
		vertical-align: top;
		font-weight: normal;
		cursor: pointer;
		margin-bottom: 0;
		.icon{
			vertical-align: top;
			width: 18px;
			height: 18px;
			margin-left: 15px;
			background: @checkbox-bg;
			.transition(0.3s all ease-out);
			display: inline-block;
			text-align: center;
			line-height: 18px;
			vertical-align: middle;
			position: relative;
			top: -2px;
			svg{
				width: 12.5px;
				height: 9.25px;
				opacity: 0;
				fill: @checkbox-checked-arrow;								
				.animation (pulse-back 0.2s ease-out 1);
			}
		}
		input{
			display: none;
			&:checked{
				+ .icon{
					background: @checkbox-checked-bg;
					svg{
						opacity: 1;
						.animation (pulse 0.2s ease-out 1);
					}							
				}
			}
		}
	}
}
/*
NAVIGATION
*/
.subnavbar{
	.nav{
		a{
			.gothamBook;
			letter-spacing: 0;
			font-size:13px;
		}
	}
}
/*
MAIN TITLE
*/
.page-title{

	h1{
		.gothamMedium;
		.job-name{
			color:@black-grey;
			margin-left:15px;
			padding-left:15px;
			border-left:solid 3px @border-light-grey;
			.gothamBook;
			@media (max-width: @screen-xs-max) { 
				display:none;
				margin-left:0;
				padding-left:0;
				border-left:solid 0px @border-light-grey;
			}
		}
	@media (max-width: @screen-xs-max) { 
				text-align:center;
			}		
	}

}
.lightbox{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: rgba(0,0,0,0.8);
		padding: 60px 20px 20px;
		overflow: auto;
		opacity: 0;
		display: block;
		visibility: hidden;
		.transition(opacity 0.3s, visibility 0s 0.3s;);
		.lightbox-actions{
			button{
				svg{
					width: 20px;
					height: 20px;
					fill: white;
				}
			}
		}
		.lightbox-actions{
			max-width: 1200px;
			margin: 0 auto;
			text-align: right;
			button{
				.appearance(none);
				outline: none;
				background: none;
				border: none;
				color: white;
			}
		}
		.lightbox-content{
			max-width: 1200px;
			margin: 0 auto;
			background:none;
			.transform(translateY(-100%));
			.transition(all 0.3s);
			.product-images-slider{
				border-bottom: none;
			}
			.product-images-slider-wrap{
				.zoom{
					display: none;
				}
			}
			.product-thumbs{
				text-align: center;
			}			
		}
		.embed-responsive{
			height: auto;
		}
		&.show{
			display: block;
			opacity: 1;
			visibility: visible;
			.transition(opacity 0.3s, visibility 0s;);
			.lightbox-content{
				.transform(translateY(0));
			}
		}
	}
#video-lightbox{
		.lightbox-actions{
			max-width: calc(~"100vh * 1.4");
			@media (min-width: 1200px){
				max-width: 1200px;
			}
		}
		.lightbox-content{
			max-width: calc(~"100vh * 1.4");
			@media (min-width: 1200px){
				max-width: 1200px;
			}
		}
		&.show{
			.embed-responsive{
				visibility: visible;				
			}
		}
	}
.progress-button {
		position: relative;
		margin: 0 auto; 
		text-align: center;
		button{
			width: 100%;
			height: 56px;
			margin: 0;
			.transition(all 0.3s;);
			&:focus{
				outline: none;
			}
			&.btn.full-width{
				margin: 0;
			}
			svg{
				vertical-align: middle;
				display: inline-block;
				width: 30px;
				height: 25px;
				fill: white;
				position: relative;
				top: -4px;
			}
			&:hover{
				color: @add-to-cart-color;	
				@media (min-width: @screen-sm){
					color: @add-to-cart-hover-color;	
				}
				svg{
					@media (min-width: @screen-sm){
						fill: @add-to-cart-bg;	
					}					
				}
			}
		}
		span{
			.transition(opacity 0.3s 0.1s);
		}
		.progress-circle,
		.cross,
		.check{
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 1;
			margin-left: -28px;
			pointer-events: none;
			opacity: 0;
			path{
				opacity: 0;
				fill: none;
			}
		}
		.progress-circle{
			width: 56px;
			height: 56px;
			stroke: @main-color;
			stroke-width: 2;
			stroke-dasharray: 204px;
			stroke-dashoffset: 204px;				
		}
		.check{
			width: 30px;
			height: 23px;
			top: 18px;
			margin-left: -15px;
			path{
				stroke: #1ECD97;
			}
			.short{
				stroke-dasharray: 22px;
				stroke-dashoffset: 24px;
				.transition(stroke-dashoffset .2s 0.3s ease-out;);
			}
			.long{
				stroke-dasharray: 55px;
				stroke-dashoffset: 56px;
				.transition(stroke-dashoffset .1s .5s ease-out;);
			}
		}
		.cross{
			opacity: 0;
		}
		.check,
		.cross{
			path{
				stroke: #fff;
				.transition(opacity 0.1s;);
			}
		}
		
		&.loading{
			border-width: 5px;
			border-color: #ddd;
			background-color: transparent;
			color: #fff;
			button{
				width: 56px;
				height: 56px;
				border-width: 2px;
				border-color: #ddd;
				.border-radius(50%);
				background-color: transparent;
				color: white;
			}
			span{
				.transition(opacity 0.15s);
			}
			svg{
				&.progress-circle{
					.animation(spin 1s 0.35s infinite linear both;);
					opacity: 1;
					stroke-dashoffset: 150px;
					.transition(stroke-dashoffset 0.3s 0.35s;);
				}
			}			
		}
		&.loading,
		&.success,
		&.error{
			span{
				opacity: 0; /* keep it hidden in all states */
			}
			svg{
				path{
					opacity: 1;
					//.transition(stroke-dashoffset 0.8s 0.2s);
				}
			}
		}
		&.success,
		&.error{
									
		}
		&.success{
			button{
				border-color: white;
			}
			svg{
				&.progress-circle{
					.transition(stroke-dashoffset 0.3s;);
					stroke: #1ECD97;
					opacity: 1;
			  	-webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    			animation-play-state: paused;
					stroke-dashoffset: 0;
				}
				&.check{
					opacity: 1;
					.animation(zoom-jump 0.4s .7s 1 ease-out);
					.short,
					.long{
						stroke: #1ECD97;
						stroke-dashoffset: 0;
					}
				}
			}	
		}
		&.error{
			button{
				border-color: #FB797E;
				background-color: #FB797E;
			}
		}
	}//End progress button

	.added-to-cart{
		position: fixed;
		z-index: 10;
		width: 50px;
		height: 50px;
		.border-radius(50%);
		border: 2px solid @main-color;
		background-color: white;
		background-size: cover;
		//.transition(-moz-transform 0.3s ease-out,-webkit-transform 0.3s ease-out,-ms-transform 0.3s ease-out,transform 0.3s ease-out;);
		&.loaded{
			.transform(scale(1));
		}
		&.added{
			.transform(scale(0));
		}		
	}
