/* BODY FONT*/
.main-section{
	a{
		color: @retail-section-link-color;
		//font-weight: @retail-section-link-font-weight;
		&:hover{
			@media (min-width: @screen-sm){
				color: @retail-section-link-hover-color;
			}
		}
	}
	.main-button{
		background: @retail-main-button-bg;
		border-color: @retail-main-button-bg;
		color: black;
		&:hover{
			@media (min-width: @screen-sm) { 
				background: white;
				color: @retail-main-button-bg;
			}
		}
	}
	.secondary-button{
		background: @retail-secondary-button-bg;
		border-color: @retail-secondary-button-bg;
		color: white;
		&:hover{
			@media (min-width: @screen-sm) { 
				background: white;
				color: @retail-secondary-button-bg;
			}
		}
	}
	.call-to-action{
		background: @retail-call-to-action-bg;
		color: @retail-call-to-action-color;
		border-color: @retail-call-to-action-bg;
		&:after{
			background: @retail-call-to-action-hover-bg;
		}
		&:hover{
			@media (min-width: @screen-sm){
				background: white;
				color: @retail-call-to-action-hover-color;
			}
		}
	}
	.add-to-cart{
		background: @retail-add-to-cart-bg;
		color: @retail-add-to-cart-color;
		border-color: @retail-add-to-cart-bg;
		&:after{
			background: @retail-add-to-cart-hover-bg;
		}
		&:hover{
			@media (min-width: @screen-sm){
				background: white;
				color: @retail-add-to-cart-hover-color;
			}
		}
		&:disabled, &[disabled]{
			border-color: @retail-add-to-cart-disabled-bg;
			background: @retail-add-to-cart-disabled-bg;
			color: @retail-add-to-cart-disabled-color;
		}
	}
}
.border-bottom{
	border-bottom-color: @retail-border-grey;
	&.border-light{
		border-bottom-color: @retail-border-light-grey;
	}
	&.last-item{
		border-bottom-color: @retail-border-grey;
	}
}
.ui-datepicker-div{
	background: @retail-white;
}

/*
MAIN TITLE
*/
.page-title{

	h1{
		.gothamMedium;
		.job-name{
			color: @black-grey;
			border-left: solid 3px @border-light-grey;
			@media (max-width: @screen-xs-max) { 
				border-left:solid 0px @border-light-grey;
			}
		}
	}
}
.progress-button {
	.progress-circle{
		stroke: @retail-main-color;
	}
	button{
		&:hover{
			color: @retail-add-to-cart-color;	
			@media (min-width: @screen-sm){
				color: @retail-add-to-cart-hover-color;	
			}
			svg{
				@media (min-width: @screen-sm){
					fill: @retail-add-to-cart-bg;	
				}					
			}
		}
	}
	&.loading{
		border-color: #ddd;
		background-color: transparent;
		color: #fff;
		button{
			border-color: #ddd;
			.border-radius(50%);
			background-color: transparent;
			color: white;
		}					
	}		
}//End progress button
.added-to-cart{
	border-color: @retail-main-color;
	background-size: cover;
}