select {
	-webkit-appearance: none;
}
.selectric{
	height:45px;
	background:@white;
	border:solid 1px @border-grey;
	.label{
		padding-top:2px;
		.gothamBook;
		font-size:14px;
		height:45px;
	}
	.button{
		top:15px;
		background:url("@{images-folder}/general/icon-downarrow.png") no-repeat top center;
		background-size:15px;
		right:5px;
		height:16px;
		&:after{
			display:none;
		}
	}
}
.selectric-items{
	.box-shadow(@shadow);
	li{
		background:@white;
		font-size:14px;
		.gothamBook;
		&:hover{
			background:@bg-light-grey;
			cursor:pointer;
		}
	}
}
input,textarea,select{
	font-size:14px;
	background-color: @white;
	@media (max-width: @screen-xs-max) {
		font-size:16px;
	}
}
select, input[type=email],input[type=text],input[type=date],input[type=number]{
	height:45px;
	width:100%;
	border: solid 1px @border-grey;
	.border-radius (0px);
	padding:10px 25px 10px 15px;
}
input[type=text],input[type=date],input[type=number]{
padding:auto 25px auto 15px;
	}
input[type=number]{
	padding-right:15px;
}
.datepicker-wrap{
	position: relative;
	#receiving_date_icon{
		position: absolute;
		right: 0;
		width: 45px;
		height: 45px;
		top: 0;
		background: white;
		border: 1px solid @border-grey;
		border-left: none;
		padding: 0;
		text-align: center;
		svg{
			display: inline-block;
			width: 28px;
			height: 26px;
			fill: #bfbfbf;
			vertical-align: middle;
		}

	}	
}
textarea{
	height:150px;
	width:100%;
	border:solid 1px @border-grey;
	.border-radius (0px);
	padding:15px 35px 15px 15px;
}
input[type=email],input[type=text],textarea,input[type=number]{
	&.error{
		border:solid 1px red;
	}
	&.valid{
		background:@white url("@{images-folder}/general/icon-greentick.png") no-repeat;
		background-image: url("@{images-folder}/general/icon-greentick.svg");
		background-size:15px;
		background-position:right 12px top 50%;
	}	
}
textarea{
	&.valid{
		background-position:right 12px top 15px;
	}
}
select{
	top:18px;
	background:url("@{images-folder}/general/icon-downarrow.png") no-repeat top center;
	background-position: right 10px top 50%;
	background-size:20px;
	right:5px;
}