/* BODY FONT*/
.gothamBook;
font-size:15px;
color: @text-grey;

.h1,.h2,.h3,.h4,.h5,.h6{
	display:block;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	margin-top:0;
	padding-top:0;
	.gothamBold;
}
h1,.h1{
	font-size:35px;
}
h3,.h3{
	font-size:22px;
}
h6,.h6{
	font-size:15px;
}
span.div{
	display:block;
}
p{
	.gothamBook;
	strong{
		.gothamBold;
	}
	em{
		.gothamBookItalic;
	}
	strong em, em strong{
		.gothamBoldItalic
	}
}


.clear, .clear-fix{
	clear:both;
}
.section-container{
	max-width: 1216px;
	.inner-container{
		padding-left:15px;
		padding-right:15px;
	}
}
.bg-light-grey{
	background: @bg-light-grey;
}
.bg-dark-grey{
	background: @bg-dark-grey;
}
.bg-sm-blue{
	@media (max-width: @screen-xs-max) { 
		background:@bg-blue;
	}
}
.bg-mid-grey{
	background: @bg-mid-grey;
}
.text-blue{
	color:@text-blue;
}
.text-light-grey{
	color: @text-light-grey;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.padding-top{
	padding-top: 50px;
}
ul.inline-list{
	padding:0;
	margin:0;
	li{
		list-style: none;
		float:left;
		display:inline-block;
		padding: 5px 20px;
	}
}
.btn{
	.border-radius (0px);
	padding:15px 85px;
	line-height:1em;
	font-size:13px;
	text-transform: uppercase;
	&.blue-button{
		background: @bg-blue;
		color: @white;
	}
	&.grey-button{
		background: @bg-button-grey;
		color: @white;
	}
	&.full-width{
		width:100%;
		padding:20px 20px;
		@media (max-width: @screen-xs-max) { 
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	@media (max-width: @screen-sm-max) { 
		padding:20px 35px;
	}
}
.btn-bhv:hover{
	cursor:pointer;
}
.ui-datepicker-div{
	background:@white;
}

/*
NAVIGATION
*/
.subnavbar{
	.nav{
		a{
			.gothamBook;
			letter-spacing: 0;
			font-size:13px;
		}
	}
}
/*
BREADCRUMB
*/
.breadcrumb-section{
	.breadcrumb-inner{
	max-width: 1200px;
    margin: 0 auto;
	.breadcrumbs{
		padding:10px 0;
		margin:0;
		.gothamBook;
		li{
			list-style: none;
			padding:0;
			margin:0;
			a{
				padding-left:7px;
				padding-right:7px;
				font-size:14px;
				line-height:1em;
				color:@text-grey;
			}
		}
	}		
	}

}


