html.ie9{
	#product-pages{
		.main-section#product-detail{
			.lightbox{
				display: none;
				visibility: visible;
				&.show{
					display: block;
					visibility: visible;
				}
			}
		}
	}
}
html.ie{
	overflow-y: scroll;
	@-ms-viewport { width: auto !important; }
}