@link-blue:					#0776aa;
@link-dark-blue: #066693;
@link-list-link: #7f7f7f;
@border-filters: #b3b3b3;
@bg-checkbox: #f4f4f4;
@bg-checkbox-checked: #dcdcdc;
@border-product: #e6e6e6;
@border-view-bar: #e4e4e4;
@border-radio-box: #f6f6f6;
@bg-product-price: #f4f4f4;
@text-my-price: #9b9b9b;
@text-cmp-grey: #c6c6c6;
.pricing{
	background: url(../images/pricing-bg.jpg) repeat;
	color: white;
	.pricing-inner{
		max-width: 1200px;
		margin: 0 auto;
		padding: 9px 0 10px;
		font-size: 15px;
		b{dropdown-menu
			font-size: 22px;
			margin-right: 3px;
		}
		ul{
			margin: 0;
			li.postcode{
				margin-left: 3px;
				input{
					color: black;
					height: 38px;
					width: 154px;
					padding: 0 10px;
					&:focus{
						font-size: 16px;
					}
				}
			}
		}
	}
}
.main-section#products-category{
	position: relative;
	padding-top: 44px;
	:focus::-webkit-input-placeholder {color: transparent}
  :focus::-moz-placeholder          {color: transparent}
  :focus:-moz-placeholder           {color: transparent}
  :focus:-ms-input-placeholder      {color: transparent}
  @media (min-width: @screen-sm){
  	padding-top: 0;
  }
	aside.sidebar{
		@media (min-width: @screen-md){
			position: absolute;
			left: 0;
			top: 0;
			width: 181px;
			display: block;
		}
	}
	section.category-content{
		@media (min-width: @screen-md){
			width: 100%;
			//width: calc(~"100% - 181px");
			padding-left: calc(181px + 40px);
		}
		@media (min-width: @screen-lg){
			padding-left: calc(181px + 90px);
		}
	}
	#search{
		margin-top: 0;		
	}
	.content-wrapper{
		position: relative;
	}
	.product-category-wrap{
		overflow-y: scroll; 
		-webkit-overflow-scrolling : touch;
		padding-top: 30px;
		padding-right: 0;
		@media (min-width: @screen-sm){
			padding-right: 50px;
		}
		@media (min-width: @screen-lg){
			padding-right: 83px;
		}
		@media (min-width: 1400px){
			padding-right: 0;				
		}
	}
	.trade-lists{
		background: @bg-mid-grey;
		padding: 0 10px;
		@media (max-width: @screen-sm-max){
			.clearfix();
		}
		h3{
			color: @link-blue;
		}
		a{
			color: @link-dark-blue;
			text-decoration: underline;
			display: block;
			margin-bottom: 10px;
		}
		.list{
			@media (max-width: @screen-sm-max){
				float: left;
				width: 50%;
			}
			padding: 40px 15px 40px;
			border-bottom: 1px solid @border-filters;
			&:last-child{
				border-bottom: 0;
			}
		}
	}
	.list-actions{
		a{
			color: @link-list-link;
		}
	}
	.filters{
		margin-top: 30px;
		.filter{
			padding: 30px 0;
			border-bottom: 1px solid @border-filters;
			a{
				display: block;
				margin-bottom: 10px;	
				.icon{
					fill: @bg-checkbox;
					color: @bg-checkbox;
					width: 18px;
					height: 18px;
					vertical-align: middle;
					margin-right: 10px;
				}
				&.current{
					.icon{
						fill: @bg-checkbox-checked;
						color: black;
					}
				}
			}
			.list-links{
				a{
					color: @text-grey;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
		.list-actions{
			padding-left: 28px;
		}
	}

	.view-bar{
		border-top: 1px solid @border-view-bar;
		border-bottom: 1px solid @border-view-bar;
		text-transform: uppercase;
		margin-bottom: 30px;
		padding: 10px 0;
		ul{
			&.flex{
				padding: 0;
		  	margin: 0;
		  	list-style: none;
		  	display: -webkit-box;
			  display: -moz-box;
			  display: -ms-flexbox;
			  display: -webkit-flex;
			  display: flex;
			  
			  align-items: center;
			  -webkit-flex-flow: row wrap;
			  flex-flow: row wrap;
			  justify-content: space-around;
		  }
		  margin: 0;
			label{
				margin: 0;
			}
			li{
				vertical-align: middle;
			}
			.icon{
				width: 35px;
				height: 35px;
				fill: @bg-mid-grey;
				&.active{
					fill: @bg-light-blue;
				}
			}
			label{
				vertical-align: top;
				font-weight: normal;
				cursor: pointer;
				.icon{
					vertical-align: top;
					width: 18px;
					height: 18px;
					margin-left: 15px;
					fill: @bg-checkbox;
					color: @bg-checkbox;
					.transition(0.3s all ease-out);
					.animation (pulse-back 0.2s ease-out 1);
				}
				input{
					display: none;
					&:checked{
						+ .icon{
							fill: @bg-checkbox-checked;
							color: black;							
							.animation (pulse 0.2s ease-out 1);
						}
					}
				}
			}
		}
		.dropdown-menu{
			.text{
				display: none;
			}
		}		
	}
	img{
		max-width: 100%;
	}
	.intro{
		padding: 15px 0 40px;
	}
	#products{
		margin-left: -7.5px;
		margin-right: -7.5px;
		.clearfix();
		.product{
			margin-bottom: 30px;
			float: none;
			width: 100%;
			padding: 0 7.5px;
			@media (min-width: 420px) and (max-width: @screen-xs-max){
				float: left;
				width: 50%;
				&:nth-child(2n){
					clear: right;
				}
				&:nth-child(2n+1){
					clear: left;
				}	
			}
			@media (min-width: @screen-sm) and (max-width: @screen-md-max){
				float: left;
				width: percentage(1/3);
				&:nth-child(3n){
					clear: right;
				}
				&:nth-child(3n+1){
					clear: left;
				}
			}
			@media (min-width: @screen-lg){
				float: left;
				width: 25%;
				&:nth-child(4n){
					clear: right;
				}
				&:nth-child(4n+1){
					clear: left;
				}	
			}
			.product-content{
				border: 1px solid @border-product;
				position: relative;
				height: 100%;
				padding-bottom: 66px;
			}
			.product-images-slider{
				margin-bottom: 0;
				.slick-dots{
					position: absolute;
					bottom: 0;
				}
			}
			img{
				max-width: 100%;
			}
			.product-image{
				border-bottom: 1px solid @border-product;
			}
			.product-details-wrap{
				h3{
					font-size: 18px;
				}
				.product-details{
					padding: 20px;
				}
			}
			.product-code{
				color: @text-box-light-grey;
				font-size: 12px;
			}
			.product-price{
				background: @bg-product-price;
				color: @text-my-price;
				padding: 10px 20px;
				text-transform: uppercase;
				text-align: center;
				.value{
					
				}
				.product-price-my{
					.value{
						color: @text-blue;
						font-weight: bold;
						font-size: 18px;
						small{
							font-size: 7px;
							font-weight: normal;
							text-transform: lowercase;
						}	
					}
				}
				.product-price-cmp{
					.value{
						color: @text-cmp-grey;
						font-weight: bold;
						font-size: 18px;
						small{
							font-size: 7px;
							font-weight: normal;
							text-transform: lowercase;
						}	
					}
				}
			}
			.product-quantity{
				padding: 10px 20px;
				.clearfix();
				.quantity-input{
					vertical-align: top;
					float: left;
					display:block;
					margin:0 auto;
					width: 37.29%;
					margin-right: 4.07%;					
				}
				.quantity-number{
					width: 100%;
					height: 40px;
					border:solid 1px @border-grey;
					background-color: @bg-table-header-grey;
					padding: 0 5px;
					text-align:center;
					font-size:16px;
				}
				.quantity-units{
					float: left;
					width: 58.64%;
					min-height: 40px;
					line-height: 40px;
					text-align: center;
					label{
						margin: 0;
						padding: 0 10px;
						.gothamBook;						
					}
					input{
						display: none;
					}
					&.unit-with-desc{
						line-height: 1;
					}
					&.multiple-units{
						label{
							cursor: pointer;
						}
					}
				}
				.quantity-set{
					vertical-align: top;
					padding-top:0;
					label,.set-name{
						color: @text-light-grey;
					}
					.radiolabel-set{
						display:block;
						border:solid 1px @border-radio-box;
						height:40px;
						width:100px;
						position:relative;
						
						.radio-button{
							margin: 0;
							text-align:center;
							float:left;
							.gothamLight;
							width:50%;
							height:38px;
							font-size:14px;
							.gothamBook;
							.transition(.5s all ease-out );
							&.active{
								.gothamMedium;
								background-color:@bg-button-light-blue;
								color:@white;
							}
						}
						@media (max-width: @screen-xs-max) { 
							top:0;
							width:150px;
							max-width:100%;
						}
					}
					@media (max-width: @screen-xs-max) { 
						padding:0;
						border-top:solid 0px @border-grey;
					}
				}
				@media (max-width: @screen-xs-max) { 
					clear:left;
					.item-inner{
						max-width:250px;
						margin:0 auto;
					}
				}
			}
			.product-unit-details{
				display:block;
				text-align: center;
				font-size: 9px;
				text-transform: uppercase;
				color: @text-light-grey;
				padding-bottom:5px;
				span{
					color: @text-blue;
					.gothamBold;
				}
				@media (max-width: @screen-xs-max) { 
					padding-left:0;
					text-align:center;
					top:0;
				}
			}//product-unit-details
			.product-add-to-cart{
				padding: 0 10px 10px;
				position: absolute;
				left: 0;
				bottom:0;
				width: 100%;
			}
		}
	}
}

.keyframes(pulse,{ 
	0% { .transform(scale(1.1)); }
  50% { .transform(scale(1.2)); }
  100% { .transform(scale(1.1)); }});
.keyframes(pulse-back,{ 
	0% { .transform(scale(1.1)); }
  50% { .transform(scale(1.2)); }
  100% { .transform(scale(1.1)); }});