 @bg-price-box: #f4f4f4;
 @text-code: #bababa;
 @text-my-price-title: #0776aa;
 @text-my-price: #646464;
 @text-cmp-price: #b4b4b4;
 @text-icons: #bababa;
 @text-price-divider: #eaeaea;
 @bg-cmp: #c8c8c8;
.main-section#product-detail{
	img{
		max-width: 100%;
	}
	position: relative;
	overflow: hidden;
	.product-detail-wrap{
		overflow: scroll; 
		-webkit-overflow-scrolling : touch;
		.section-container{
			padding: 0;
			@media (min-width: @screen-sm){
				padding: 0 15px;
			}
			.row{
				margin: 0;
				@media (min-width: @screen-sm){
					margin: 0 -15px;
				}
			}
		}
	}
	.product-content-wrapper{
		.product-content-left{
			.setProperty(width,100%,660px);
			@media (min-width: @screen-sm){
				//width: 50%;
				float: left;
			}
			/*@media (min-width: @screen-md){
				width: 55.29%;
			}*/
		}
		.product-content-right{
			.setProperty(width,100%,540px);
			
			@media (min-width: @screen-sm){
				//width: 50%;
				float: left;
			}
			/*@media (min-width: @screen-md){
				width: 44.70%;
			}*/
		}
	}
	.product-images{
		.slick-dots{
			border-bottom: 1px solid #dcdcdc;
			.setProperty(padding-bottom, 30px, 0px);
			@media (min-width: @screen-sm){
				border: none;
			}
		}
		img{
			max-height: calc(~"100vh - 40px");
			margin: 0 auto;
		}
		.product-thumbs{
			.clearfix();
			.product-thumb{
				cursor: pointer;
				//.setPadding(0px,15px);
				.setProperty(padding-left,15px,15px);
				.setProperty(padding-right,15px,15px);
				.setProperty(margin-bottom,30px,30px);
				width: percentage(1/5);
				float: left;
				img{
					border: solid 1px @border-light-grey;
				}
				&.current{
					img{
						border: solid 1px black;
					}	
				}
			}
		}
	}
	.product-description-wrap{
		text-align: center;
		.setProperty(padding-left, 50px, 60px);
		.setProperty(padding-right, 50px, 60px);
		.product-intro{
			margin: 0 auto;
			.setProperty(width,536px,348px);
			h1{
				.setProperty(font-size,55px,35.5px);
			}
			.product-description{
				.setProperty(font-size, 35px, 22px);
			}
		}
		.product-details{
			margin: 0 auto;
			.setProperty(width,536px,293px);
			.product-code{
				color: @text-code;
				.setProperty(font-size, 30px, 15px);
				.setProperty(margin-bottom, 60px, 20px);
			}
		}
	}
}








