.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}
.appearance(@string) {
	-webkit-appearance: @string;
	-moz-appearance:    @string;
	appearance:         @string;
}
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: ~"@{transition}";  
	-moz-transition:    ~"@{transition}";
	-ms-transition:     ~"@{transition}"; 
	-o-transition:      ~"@{transition}";  
	transition:      ~"@{transition}";  
}

.transition-special (@duration, @property, @ease) {
	-webkit-transition: @duration ~"-webkit-@{property}" @ease;  
	-moz-transition:    @duration ~"-moz-@{property}" @ease;
	-ms-transition:     @duration ~"-ms-@{property}" @ease; 
	-o-transition:      @duration ~"-o-@{property}" @ease;  
	transition:      @duration ~"@{property}" @ease;  
}

.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
	transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
	transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
	transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
	transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
	transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
	transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
	transform-origin:      @x @y;
}
.getVW(@target; @width) {
  @getVW: (@target / ((@width * 0.01) * 1px)) * 1vw;
}
.setPropertySM(@property, @smWidth){
	& when (ispixel(@smWidth)){
  	.getVW(@smWidth, 640px);
		@{property}: @getVW;		
	}
  & when (ispercentage(@smWidth)){
   	@{property}: @smWidth;
  }
}
.setProperty(@property, @smWidth, @lgWidth){
	& when (ispixel(@smWidth)){
  	.getVW(@smWidth, 640px);
		@{property}: @getVW;
		@media (min-width: 640px){
			.getVW(@smWidth, 1200px);
			@{property}: @getVW;
		}
	}
  & when (ispercentage(@smWidth)){
   	@{property}: @smWidth;
  }
  & when (ispixel(@lgWidth)){
  	@media (min-width: @screen-sm){
  		.getVW(@lgWidth, 1370px);
			@{property}: @lgWidth;
		}
		@media (min-width: @screen-md){
  		.getVW(@lgWidth, 1370px);
			@{property}: @getVW;
		}
		@media (min-width: 1280px){
			@{property}: @lgWidth;
		}
	}
  & when (ispercentage(@lgWidth)){
   	@media (min-width: @screen-sm-custom){
  		@{property}: @lgWidth;
		}
		@media (min-width: 1280px){
			@{property}: @lgWidth;
		}
  }
}
.setPropertyoo(@property, @smWidth, @lgWidth){
	& when (ispixel(@smWidth)){
  	.getVW(@smWidth, 640px);
		@{property}: @getVW;
	}
  & when (ispercentage(@smWidth)){
   	@{property}: @smWidth;
  }
  & when (ispixel(@lgWidth)){
  	@media (min-width: @screen-sm-custom){
  		.getVW(@lgWidth, 1370px);
			@{property}: @getVW;
		}
		@media (min-width: 1280px){
			@{property}: @lgWidth;
		}
	}
  & when (ispercentage(@lgWidth)){
   	@media (min-width: @screen-sm-custom){
  		@{property}: @lgWidth;
		}
		@media (min-width: 1280px){
			@{property}: @lgWidth;
		}
  }
}
.setFontSize(@target){
	.getVW(@target, 320px);
	font-size: @getVW -20px;
	@media (min-width: @screen-sm){
		.getVW(@target, 1333px);
		font-size: @getVW;
	}
	@media (min-width: @screen-lg){
		font-size: @target;
	}
}
.setWidth(@smWidth, @lgWidth){
	.getVW(@smWidth, 320px);
	width: @getVW;
	@media (min-width: @screen-sm){
		.getVW(@lgWidth, 1333px);
		width: @getVW;
	}
	@media (min-width: @screen-lg){
		width: @lgWidth;
	}
}

.setHeight(@height){
	.getVW(@height, @screen-xs);
	height: @getVW;
}
.setRight(@right){
	.getVW(@right, @screen-xs);
	right: @getVW;
}
.setPadding(@top; @right; @bottom: @top; @left: @right){
	@newtop: (@top - 20px / ((320px * 0.01) * 1px)) * 1vw;
	@newright:  (@right - 20px / ((320px * 0.01) * 1px)) * 1vw;
	@newbottom:  (@bottom - 20px / ((320px * 0.01) * 1px)) * 1vw;
	@newleft:  (@left - 20px / ((320px * 0.01) * 1px)) * 1vw;
	padding: @newtop @newright @newbottom @newleft;
	@media (min-width: @screen-sm){
		@newtop: (@top / ((1333px * 0.01) * 1px)) * 1vw;
		@newright:  (@right / ((1333px * 0.01) * 1px)) * 1vw;
		@newbottom:  (@bottom / ((1333px * 0.01) * 1px)) * 1vw;
		@newleft:  (@left / ((1333px * 0.01) * 1px)) * 1vw;
		padding: @newtop @newright @newbottom @newleft;
	}
	@media (min-width: @screen-lg){
		padding: @top @right @bottom @left;
	}
}
.setMargin(@top; @right; @bottom: @top; @left: @right){
	@newtop: (@top - 20px / ((320px * 0.01) * 1px)) * 1vw;
	@newright:  (@right - 20px / ((320px * 0.01) * 1px)) * 1vw;
	@newbottom:  (@bottom - 20px / ((320px * 0.01) * 1px)) * 1vw;
	@newleft:  (@left - 20px / ((320px * 0.01) * 1px)) * 1vw;
	margin: @newtop @newright @newbottom @newleft;
	@media (min-width: @screen-sm){
		@newtop: (@top / ((1333px * 0.01) * 1px)) * 1vw;
		@newright:  (@right / ((1333px * 0.01) * 1px)) * 1vw;
		@newbottom:  (@bottom / ((1333px * 0.01) * 1px)) * 1vw;
		@newleft:  (@left / ((1333px * 0.01) * 1px)) * 1vw;
		margin: @newtop @newright @newbottom @newleft;
	}
	@media (min-width: @screen-lg){
		margin: @top @right @bottom @left;
	}
}