#shopping-cart{


#cart-view-options{

.xs-left-col{
display:inline-block;
}
.xs-right-col{
display:inline-block;
}


	.one-option{
		display:inline-block;
		width: 120px;
		height: 45px;
		float:left;
		background-color: @white;
		&.checkbox-option{
			border:solid 1px @border-grey;
			margin-left:10px;
			text-align:center;
			padding-top:10px;
			.gothamBook;
			font-size:16px;
		}
		.selectric
		{
			height:45px;
			background:@white;
			border:solid 1px @border-grey;
			p{
				.gothamBook;
				font-size:16px;
			}
		}
	}
	@media (max-width: @screen-xs-max) { 
		text-align:center;
		.one-option{
			float:none;
			&.checkbox-option{
				//position:relative;
				//top:-12px;
				display:block;
				margin:0;
			}
			&.dropdown-option{
				display:block;
				margin:0;
			}
		}
		.xs-left-col{
			display:block;
			width:49%;
			float:left;
			.one-option{
				float:right;
			}
		}
		.xs-right-col{
			display:block;
			width:49%;
			float:right;
			.one-option{
				float:left;
			}
		}

	}
}


.shopping-cart-options{
	padding-top:20px;
	padding-bottom:20px;
}
.product-suggestion{
	padding-top:25px;
	padding-bottom:10px;
	.open-close-button{
		font-size:22px;
		position:absolute;
		top:0;
		right:15px;
		.fa-plus{
			display:inline;
		}
		.fa-minus{
			display:none;
		}
		&.opened{
			.fa-plus{
				display:none;
			}
			.fa-minus{
				display:inline;
			}
		}
		&:hover{
			cursor:pointer;
		}

	}
	h3{
		font-size:26px;
		.gothamBold;
		padding-bottom:10px;
		position:relative;
	}
	.suggestion-item-content{
		padding-bottom:40px;
	}
	.one-recommendation{
		background-color: @bg-box-grey;
		border-bottom:solid 1px @border-light-grey;
		.product-thumbnail{
			width:100%;
			border-bottom:solid 1px @border-light-grey;
			img{
				width:100%;
			}
		}
		.product-details{
			padding:10px;
		}
		.product-code{
			display:block;
			font-size: 12px;
			color: @text-box-light-grey;
			padding-bottom:4px;
		}		
		.product-name{
			display:block;
			font-size: 15px;
			line-height:1em;
			.gothamBold;
			padding-bottom:5px;
		}
		.product-description{
			display:block;
			font-size: 15px;
			line-height:1em;
			color: @black;
		}
		.add-button-wrap{
			padding:5px;
			text-align:right;
			.action-add-product{
				display:inline-block;
				background-color:@bg-blue;
				color:@white;
				padding:7px;
				text-align: center;
				width:35px;
				height:35px;
				.fa-plus{
						display:inline;
					}
				.fa-check{
					display:none;
				}
			}
			&:hover{
				cursor:pointer;
			}
		}
	}
}
.shopping-cart-summary{
	#save-as-section{

		.continue-shopping-button,.save-as-wrap{
			max-width:210px;
			width:100%;
			margin-bottom:10px;
			float:left;
			@media (max-width: @screen-xs-max) { 
				max-width:100%;
			}

		}
		.continue-shopping-button{
			margin-right:10px;
		}

		.save-as-wrap{
			background-color: @bg-light-grey;
			padding:0;

			label{
				.gothamBook;
			}
			input{
				margin-bottom:10px;
			}
			.list-group-wrap{
				background:@bg-mid-grey;
				border-bottom:solid 1px @white;
			}
		}
		.save-as-list,.save-as-draft,.save-as-quote{
			padding:0;
			display:none;
		}
		.list-open{
			color:@bg-button-light-blue;
		}
		.list-form{
			padding:15px;
			border-top:solid 1px @white;
		}
		.btn{
			width:100%;
			padding:15px;
		}
		@media (max-width: @screen-xs-max) { 
			padding:30px 30px;
		}
	}
	#total-summary-section{
		.submit-button-wrap{
			padding-top:30px;
		}
		.shopping-cart-total{
			display:block;
			margin:0 0 0 auto;
			max-width:425px;
			text-align:right;
			.left-col{
				width:50%;
				float:left;
				text-align:left;
			}
			.right-col{
				width:50%;
				float:right;
				text-align:right;
			}
			.subtotal-text, .subtotal-value{
				font-size:20px;
				color:@text-dark-grey;
				text-transform: uppercase;
				.gothamBold;
			}
			.deliveryfee-text, .deliveryfee-value{
				font-size:15px;
				color:@text-light-grey;
				text-transform: uppercase;
			}
			.deliveryinfo-text{
				a{
					font-size: 12px;
					color: @link-blue;
					text-decoration: underline;
					.gothamMedium
				}
			}
			.gst-text, .gst-value{
				font-size:15px;
				color:@text-light-grey;
				text-transform: uppercase;
			}
			.grey-ruler{
				border-bottom:solid 1px @border-grey;
				margin-bottom: 10px;
				margin-top: 10px;
			}
			.grandtotal-text, .grandtotal-value{
				font-size:20px;
				color:@black;
				text-transform: uppercase;
				.gothamBold;
				span{
					text-transform: uppercase;
					font-size:10px;
					.gothamBook;
				}
			}
			@media (max-width: @screen-xs-max) { 
				max-width:100%;
				background-color:@bg-light-grey;
				padding:30px;
				border-bottom:solid 1px @border-grey;
			}
		}
	}
}//.shopping-cart-summary
.shopping-cart-listing{
	.inner-wrap{
		&.item-heading{
			.item-data{
				padding-top:5px;
				padding-bottom:5px;
				min-height:1em;
				&.item-thumbnail,&.item-details,&.item-quantity,&.item-unitprice,&.item-subtotal,&.item-remove{ 
					padding-top:5px;
					padding-bottom:5px;
					text-transform: uppercase;
					font-size:12px;
					text-align:left;
					.gothamBook;
					color:@text-mid-grey;
				}
			}
		}
		.one-product{
			padding-bottom:20px;
			padding-top:20px;
			position:relative;
		}
		.item-data{
			float:left;
			min-height:86px;
			position:relative;
			.item-inner{
				// position: absolute;
				// top: 50%;
				// transform: translateY(-50%);
				@media (max-width: @screen-xs-max) { 
					position:relative;
					top:auto;
					transform: initial;
					padding-left:10px;
					padding-right:10px;
				}
			}
			&.item-thumbnail{ 
				width:percentage(round(1.5/12, 6));
				text-align: center;
				.product-thumbnail{
					width:90%;
					max-width:115px;
					display:block;
					text-align:left;
					border:solid 1px @border-grey;
					img{
						width:100%;
					}
					@media (max-width: @screen-xs-max) { 
						width:100%;
						max-width:150px;
						margin:0 auto;
					}
				}
				@media (max-width: @screen-xs-max) { 
					padding-bottom:5px;
					.item-inner{
						max-width:250px;
						margin:0 auto;
					}
				}
			}
			&.item-details{
				width:percentage(round(3.5/12, 6));
				padding-right:10px;
				padding-top:15px;
				.product-code,.product-name,.product-description{
					display:block;
					padding-right:10px;
				}
				.product-code{
					font-size:12px;
					color:@text-mid-grey;
				}
				.product-name{
					font-size:16px;
					.gothamBold;
					@media (max-width: @screen-xs-max) { 
						font-size:14px;
						line-height:16px;
					}
				}
				.product-description{
					font-size:12px;
					@media (max-width: @screen-xs-max) { 
						font-size:12px;
						line-height:14px;
					}
				}
				@media (max-width: @screen-xs-max) { 
					padding-bottom:5px;
					padding-top:0;
				}
			}
			&.item-quantity{
				width:percentage(round(3/12, 6));
				.quantity-number{
					width: 50px;
					height: 40px;
					border:solid 1px @border-grey;
					background-color: @bg-table-header-grey;
					padding: 0 5px;
					text-align:center;
					font-size:16px;
					@media (max-width: @screen-xs-max) { 
						width:150px;
						max-width:100%;
					}
				}
				.quantity-hidden{
					display:none;
				}
				.quantity-wrap{
					text-align:left;
					&.no-choice{
						padding-top:20px;
						@media (max-width: @screen-xs-max) { 
							padding-top:0;
						}
					}
					.quantity-input{
						display:inline-block;
						margin:0 auto;
						@media (max-width: @screen-xs-max) { 
							display:block;
						}
					}
					@media (max-width: @screen-xs-max) { 
						padding-top:0;
						text-align:center;
					}
				}
				.quantity-set{
					padding-left:5px;
					padding-top:15px;
					label,.set-name{
						color:@text-light-grey;
					}
					.set-name{
						padding-top:10px;
						padding-bottom:10px;
						display:inline-block;
					}
					.radiolabel-set{
						display:inline-block;
						border:solid 1px @text-light-grey;
						height:40px;
						width:100px;
						position:relative;
						top:15px;

						.radio-button{
							text-align:center;
							float:left;
							width:50%;
							height:38px;
							font-size:14px;
							.gothamBook;
							padding: 10px 0;
							.transition(.5s all ease-out );
							&.active{
								.gothamMedium;
								background-color:@bg-button-light-blue;
								color:@white;
							}
						}
						@media (max-width: @screen-xs-max) { 
							top:0;
							width:150px;
							max-width:100%;
						}
					}
					@media (max-width: @screen-xs-max) { 
						padding:0;
						border-top:solid 0px @border-grey;
					}
				}
				.quantity-details{
					display:block;
					font-size:8px;
					text-transform: uppercase;
					color: @text-light-grey;
					padding-left:60px;
					padding-top:5px;
					span{
						color: @text-blue;
						.gothamBold;
					}
					@media (max-width: @screen-xs-max) { 
						padding-left:0;
						text-align:center;
						top:0;
					}
				}
				@media (max-width: @screen-xs-max) { 
					clear:left;
					.item-inner{
						max-width:250px;
						margin:0 auto;
					}
				}
			}
			&.item-unitprice{
				width:percentage(round(1.75/12, 6));
				.gothamBold;
				.item-inner{
					padding-top:30px;
					@media (max-width: @screen-xs-max) { 
						padding-top:0px;
					}
				}
				.sub-heading{
					font-size:8px;
					text-transform: uppercase;
					.gothamBook;
					color:@text-light-grey;
				}
				.gst{
					.gothamBook;
					font-size:10px;
				}
			}
			&.item-subtotal{
				width:percentage(round(1.75/12, 6));
				.gothamBold;
				.item-inner{
					padding-top:30px;
					@media (max-width: @screen-xs-max) { 
						padding-top:0px;
					}
				}
				.sub-heading{
					font-size:8px;
					text-transform: uppercase;
					.gothamBook;
					color:@text-light-grey;
				}
				.gst{
					.gothamBook;
					font-size:10px;
				}
			}
			&.item-remove{ 
				width: percentage(round(.5/12, 6)); 
				text-align: center; 
				.item-inner{
					padding-top:25px;

				}
				.remove-button{
					color: @pink;
					font-size: 22px;
					line-height:22px;
					display:inline-block;
					padding:5px;
					.transition(color .5s ease);
					&:hover{
						color:@black;
						cursor:pointer;
					}						
					.transition(all .2s ease-in);
					@media (max-width: @screen-xs-max) { 
						width:100%;
						padding-top:3px;
						padding-bottom:4px;
						border:solid 1px @border-light-grey;
						background-color: @bg-light-grey;
						margin-top:10px;
						&:hover{
							cursor:pointer;
							background-color:@white;
						}
					}
				}
				@media (max-width: @screen-xs-max) { 
					width:100%;
				}
			}
			@media (max-width: @screen-xs-max) { 
				min-height: none;
				&.item-thumbnail,&.item-details,&.item-quantity,&.item-unitprice,&.item-subtotal,&.item-remove{ 
					&.xs-left{
						float:left;
						width:50%;
					}
					&.xs-right{
						float:right;
						width:50%;
					}
				}
			}
			@media (max-width: @screen-xs-max) { 
				min-height: 5px;

			}
		}
	}
}
}