@bg-light-grey: 	#fafafa;
@bg-mid-grey: 		#eaeaea;
@bg-blue: 			#0776aa;
@bg-button-grey:	#999999;
@text-blue: 		#099ade;
@text-grey:         #404040;
@border-grey:       #bfbfbf;
@white: 			#ffffff;
@black: 			#000000;



	// *{outline: solid 1px #f4f4f4;}



@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;



/*

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) {  }
@media (min-width: @screen-md-min) {  }
@media (min-width: @screen-lg-min) {  }


@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }

*/