@retail-main-color: #6dc8b6;
@retail-bg-light-grey: 			#fafafa;
@retail-bg-box-grey: 				#f6f6f6;
@retail-bg-mid-grey: 				#eaeaea;
@retail-bg-dark-grey:				#e3e3e3;
@retail-bg-table-header-grey: 		#f4f4f4;
@retail-bg-green: 					#6dc8b6;
@retail-bg-orange: 				#eeba90;
@retail-bg-green-item:				#0776ab;
@retail-bg-button-grey:			#999999;
@retail-bg-button-light-green:		#6dc8b6;
@retail-bg-button-light-grey:		#999999;
@retail-bg-button-black:           #333333;
@retail-text-green: 				#4faa98;
@retail-link-green:				#4faa98;
@retail-text-grey:         		#404040;
@retail-text-box-light-grey:		#bababa;
@retail-text-light-green: 			green;
@retail-text-light-grey: 			#b4b4b4;
@retail-text-mid-grey:   			#999999;
@retail-text-dark-grey:			#585858;
@retail-border-grey:   		    #bdbdbd;
@retail-border-light-grey:		 	#eaeaea;
@retail-icon-grey:					#bfbfbf;
@retail-icon-green:				#6dc8b6;
@retail-white: 					#ffffff;
@retail-black-grey:				#333333;
@retail-black: 					#000000;
@retail-pink:						#c68989;
@retail-text-light-blue:			#8fbed4;
@retail-text-blue: @retail-main-color;
@retail-bg-button-light-blue: @retail-main-color;
@retail-border-ruler-grey: grey;
@retail-table-border-grey: grey;
@retail-bg-section-header-grey: grey;
@retail-link-blue: @retail-main-color;

@retail-postcode-input-bg: @bg-light-stripes;

@retail-add-to-cart-bg: #6dc8b6;
@retail-add-to-cart-color: white;
@retail-add-to-cart-hover-bg: #bfbfbf;
@retail-add-to-cart-hover-color: #6dc8b6;
@retail-add-to-cart-disabled-bg: #bfbfbf;
@retail-add-to-cart-disabled-color: white;

@retail-call-to-action-bg: #eeba90;
@retail-call-to-action-color: white;
@retail-call-to-action-hover-bg: white;
@retail-call-to-action-hover-color: #eeba90;


@retail-section-link-color: #888;
@retail-section-link-font-weight: 500;
@retail-section-link-hover-color:  #6dc8b6;


@retail-shadow: 0px 6px 33px -10px rgba(0,0,0,0.75);