@bg-light-grey: 	#fafafa;
@bg-mid-grey: 		#eaeaea;
@bg-dark-grey:		#e0e0e0;
@bg-blue: 			#066794;
@bg-blue-item:		#0776ab;
@bg-button-grey:	#999999;
@text-blue: 		#099ade;
@link-blue:			#0776aa;
@text-grey:         #404040;
@text-light-grey:   #999999;
@border-grey:       #bdbdbd;
@border-light-grey: #eaeaea;
@icon-grey:			#bfbfbf;
@icon-blue:			#0776aa;
@white: 			#ffffff;
@black: 			#000000;

@shadow: 0px 6px 33px -10px rgba(0,0,0,0.75);





/*FONTS*/
.gothamLight{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 300;
}

.gothamBook{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 400;
}

.gothamBookItalic{
	font-family: "Gotham A", "Gotham B";
	font-style: italic;
	font-weight: 400;
}

.gothamMedium{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 500;
}

.gothamBold{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 700;
}
.gothamBoldItalic{
	font-family: "Gotham A", "Gotham B";
	font-style: italic;
	font-weight: 700;
}

//*{outline: solid 1px #f4f4f4;}



@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;



/*

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) {  }
@media (min-width: @screen-md-min) {  }
@media (min-width: @screen-lg-min) {  }


@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }

*/