/*
--------------------------------------------
GENERIC
--------------------------------------------
*/

body {
    background: #bbc5c6;

    background-image:url('../img/biabgFinal.jpg');
    background-attachment:fixed;
    /* background-size:100% auto; */
    background-repeat:no-repeat;
    background-position:100% 100%;

}


* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p, li { 
    color: #000;
}

a {
    color: #f32297;
}
p.lead {
    color: #f32297;
    line-height: 1.25;
}
p.highlight {
    color: #f32297;
}
a:hover {
    color: #f32297;
}
h1, h2, h3, h4, h5 {
    color: #000;
    font-family: 'TradeGothicW01-BoldCn20 675334'; 
    font-weight: 400;
    text-transform:uppercase;
}
h2, h4 {
    color:#f32297;
}
h2 {
    margin-top:0;
    margin-bottom:25px;
}
h4, h5 {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about h2 {
    margin-top:25px;
}

h3.divider {
    background-color:#202020;
    color:white;
    padding:0 10px;
    margin-top:30px;
}
h3 small {
    float:right;
    font-size:inherit;
    color:inherit;
    font-family:inherit;
}
h3 small a {
    color:white;
    font-family:inherit;
    margin:7px 0;
    display:block;
    text-align:right;
}
h3 small a:hover{
    text-decoration: none;
}
h3 small a:after{
    font-family: FontAwesome;
    content: "\f105";
    font-size: 20px;
    position: relative;
    top: -2px;
    margin-left: 10px;
}
strong {
    font-weight:bold;}
img.img-border,
.video-box
{
    border: 1px solid #333;
}
hr {
    border-top-color: #CCC;
}
blockquote {
    border: none;
}
/* How to Enter */
.howToEnter h4{
    font-weight: bold;
    font-size: 16px
}
.howToEnter hr{
    margin: 30px 0
}
/* Enter Now Selection */
.feature-box h5{
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    margin-bottom: 30px;
}
.feature-box label {
    display: block;
    background: #f32297;
    text-align: center;
    font-size: 30px;
    color:white;
    padding:15px 70px;
    text-transform: uppercase;
    line-height: 1.2em;
    font-family: 'TradeGothicW01-BoldCn20 675334';
}
.feature-box label.active{
    background: black;
}
.feature-box label input{
    visibility: hidden;
}
@media (max-width: 979px){
    .feature-box label{
        padding: 20px 20px;
        font-size:24px
    }
}
@media (min-width: 1200px){
    .feature-box label{
        padding: 20px 110px
    }
}
/* FAQ */
.faq .collapse{
        border-bottom: solid 1px #ccc;
}
.faq .collapse:last-child{border-bottom: none;}
.faq hr{
    border: none;
    margin: 0 0 30px;
}
.faq ul{
    list-style: none;
}
.faq h4{
    margin: 30px 0;
    text-transform:none;
}
.faq h4 a{
    display: block;
}
.faq h4 a:before{
    content: "\f078";
    display:inline-block;
    float: right;
    font-family: 'FontAwesome';
    font-weight: normal;
}
.faq h4 a.collapsed:before{
    content: "\f054";
}
.fb-like-box{background: white; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-top: 10px}
.solialShareLinks{margin: 0 0 20px;padding:5px 0}
.solialShareLinks:after{content:''; display: block; clear: both; padding-right: 5px}
.solialShareLinks li{list-style: none; display: block; float: left; padding-right: 5px}
.solialShareLinks li.fbShareLink{ min-width: 125px}
.solialShareLinks li .emailLink{display: block; background: url('../img/email-icon.png'); width: 61px; height: 20px}
/*
--------------------------------------------
HEADER
--------------------------------------------
*/

.main-header {background: #fff;color: #f32297;border-bottom:1px solid #bfc1c0;}
.main-header .main-logo {text-align:right;}
.main-header .section-logo {display: block;position:relative;float: left;padding: 30px 10px 10px 0;}
/*
--------------------------------------------
POPOUT MENU
--------------------------------------------
*/
.main-header .container{position: relative;padding-bottom: 20px;}

.showNav{float: right;clear: right;width: 15px;height: 15px;padding: 10px;border: solid 1px #bfc1c0;display: block;margin-top: 80px;}
.showNavBars{background: #bfc1c0;height: 3px;margin-top: 2px;display: block;}

.mainNav{margin:0;position: absolute; bottom:0; right: 0}
.mainNav li{ list-style: none; display: block; float: left; text-transform: uppercase;}
.mainNav li ul{display: none; margin: 0; position: absolute;top: 100%; right: 0;  font-size: 13px;}
.mainNav>li { margin-left: 10px}
.mainNav>li a{ display: block;}
.mainNav>li>a{ padding: 10px 10px 5px; height:20px;border-bottom: 8px solid #fff;font-weight: bold; font-size: 16px;}
.mainNav>li>a:hover{ border-bottom-color: black; background: none; text-decoration: none;}
.mainNav>li.active>a{ border-bottom-color: #F32297}
.mainNav>li.aboutLink.active{background:#F32297}
.mainNav>li.aboutLink.active a{color: white}
.mainNav>li.active ul,.mainNav>li:hover ul{ display: block; }
.mainNav>li ul.collapse{ height: auto;overflow: visible;}
.mainNav>li ul a{color: white; padding: 10px 12px; display: block; }
.mainNav>li ul a:hover,.mainNav>li.active ul li.active>a{ background: black; text-decoration: none;}
.mainNav>li ul li{background: #F32297;}


#mainNav {height: auto;overflow: visible; position: static;}

@media (max-width: 979px){
    #mainNav {height: 0;overflow: hidden; position: relative; clear: both;}
    .mainNav{ position: relative;}
    .mainNav li{float: none;width: auto;}
    .mainNav>li ul.collapse{overflow: hidden; height: 0;position: relative; display: block;}
    .main-header .main-logo{ max-width: 120px}
    .main-header .section-logo{ max-width: 150px}
    .showNav{ margin-top: 50px;}
}

@media (max-width: 480px){
    .main-header .main-logo{ max-width: 100px}
    .main-header .section-logo{ max-width: 120px}
    .showNav{ margin-top: 50px;}
}
/*
--------------------------------------------
THUMBNAILS
--------------------------------------------
*/

.thumbnail {
    border-width:0;
    box-shadow:none;
}

.thumbnail > img, .judges img  {
    border-radius:50%;
}

.thumbProfileList .caption h5 {
    color:#f32297;
    font-size:16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight:bold;
    text-align:center;
}

.thumbProfileList{
    overflow: hidden;
    padding-top:30px;
    margin: 0;
}
.thumbProfileList li{
    list-style: none;
    display: block;
    width: 25%;
    float: left;
}
.thumbProfileList li .thumbnail{
    padding: 5px 10px;
}


/*
--------------------------------------------
BUTTONS
--------------------------------------------
*/

.big-button {
    position: relative;
    width: 50%;
}

.big-button.home
{
    padding: 40px 0 30px 0;
}

.big-button a {
    display: block;
}

/*
--------------------------------------------
BLOG
--------------------------------------------
*/

body.blog {

}
body.blog h1,
body.blog h2,
body.blog h3,
body.blog h4,
body.blog h5,
body.blog h6 
{

}
body.blog hr {

}
.blog-widget {
    padding: 15px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0px 8px 5px -3px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 8px 5px -3px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 8px 5px -3px rgba(50, 50, 50, 0.6);
}
.blog-widget .title{
    text-transform: none;
    margin: 0 0 15px;
}

.blog-widget .summary {
    line-height: 1.2;
}
.blog-widget img{
    margin-bottom: 20px;
}
.blog-widget a[title="more"]{
    text-transform: uppercase;
}
.blog-wrapper {
    
}
.blog-item {
    margin: 5px;   
}
.blog-item .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px 5px;
    background: #222;
    background: rgba(0,0,0,0.5);
    z-index: 5;
}
.blog-item a.main-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity='1');
}
.blog-item .main-title {
    color: #fff;
    text-transform:none;
}

/*
--------------------------------------------
VIDEO
--------------------------------------------
*/

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #f32297;
}
.video-box {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    background: black;
}
.video-box iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

/*
--------------------------------------------
PRIZES
--------------------------------------------
*/

.prizes h5,.dates h5 {
    color: #f32297;
    margin-bottom: 0;
    font-weight: bold;
}
.prizes p {
    color: #fff;
}

.span3 .dates h5 {
    color:black;
    margin:0;
    text-transform:none;
}
.span3 .dates p {
    border-bottom:1px solid #ccc;
    padding-bottom:15px;
    margin-bottom:15px;
    color:#999;
}
.span3 .dates p:last-child {
    border-bottom:none;
    padding-bottom:0px;   
    margin-bottom:0; 
}
.span3 .archive a {
    border-bottom:1px solid #ccc;
    padding:10px 0;
    color:black;
}
.span3 .archive li:last-child a {
    border-bottom:none;
    padding-bottom:0;
}


/*
--------------------------------------------
BODY SECTIONS
--------------------------------------------
*/
.side-menu a {
    display: block;
    font-size: 18px;
    padding: 5px 0;
}
.side-menu li.active a {
    color: #fff;
    background: #f32297;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 3px 0;
}
.container .content-wrap{
    background:white;
    padding:20px 40px;
    border:1px solid #cfd2d2;
    position: relative;
    margin-bottom: 30px;
}
.container .content-wrap:after {
    content:'';
    display:block;
    height:10px;
    max-width:400px;
    background-image:url("../img/shadow.png");
    background-repeat:no-repeat;
    position: absolute;
    bottom: -10px;
    left: 0;

}

.side-column .content-wrap{
    padding-top:20px;
    padding-bottom:20px;
}

/*
--------------------------------------------
SOCIAL MEDIA
--------------------------------------------
*/

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe
{
    width: 100% !important;
}

/*
--------------------------------------------
MASONRY LAYOUT
--------------------------------------------
*/

.masonry-item {
    margin-bottom: 5px;
}
.masonry-item a {
    display: block;
    position: relative;
}
.masonry-item .winner-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #f32297;
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
    text-transform: uppercase;
}

/*
--------------------------------------------
LIGHTBOX
--------------------------------------------
*/

.fancybox-lock .fancybox-overlay {
    overflow-y: auto !important;
}
.fancybox-inner {
    background: #000;
}
.popup-container {
    background: white;
    padding: 20px;
}
.popup-container .main-title {
    line-height: 1.1;
    margin-bottom: 20px;
}
.popup-container .main-title small{
    float: none;
    font-size: 16px
}

/*
--------------------------------------------
FORMS
--------------------------------------------
*/

label {
    color: #999;
}
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input 
{
/*    background-color: #000;
    border-color: #444;
    color: #fff;*/
}
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus 
{
    border-color: #f32297;
    box-shadow: 0 0 8px #f32297;
}


::selection
{
    background: #f32297;
    color: white;
}


/*
--------------------------------------------
carousel stuff
--------------------------------------------
*/


.carousel-control {
height: 80px !important;
margin-top: 0 !important;
font-size: 120px !important;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) !important;
background-color: transparent !important;
border: 0 !important;
z-index: 10 !important;
color: #555 !important;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.carousel-control {
position: absolute !important;
left: 15px !important;
width: 40px !important;
font-weight: 100 !important;
line-height: 30px !important;
text-align: center !important;
-webkit-border-radius: 23px !important;
-moz-border-radius: 23px !important;
border-radius: 23px !important;
opacity: 0.5 !important;
filter: alpha(opacity=50) !important;
}

.carousel-control.right {
left: auto !important;
right: 15px !important;
}



.register-button {
}
a.register-button,a.register-circle{
    text-align: center;
    background: #f32297;
    display:block;
    cursor:pointer;
    color: white;

    text-transform: uppercase;
}
a.register-button{
    max-width:210px;
    height:22px;
    line-height: 22px;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
a.register-button:hover,a.register-circle:hover{
    background: black;
    text-decoration: none;
}
a.register-circle{
    display:block;
    width:157px;
    height:67px;
    padding: 65px 20px;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 35px;
    line-height: 1.1em
}
a.register-circle:hover {
    background-position:0 -197px;
}

.masonry-container img {
    max-width:290px;
}

.winners .masonry-container img {
    max-width:420px;
}
.winners .masonry-container .winner img {
    max-width:100%
}

.home .container .span7 {
    border-right:1px solid #ccc;
    padding:0 20px 0 0;
}


.btn-inverse {
    background:#F32297;
    padding:10px 30px;
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    text-transform: uppercase;
    line-height: 22px;
    font-size: 18px;
    display: block;
}
select {background:white;}


form > .row-fluid:not(:first-child) {
    display:none;
}
form.registerForm .btn:last-child {
    display:none;
}

/*
--------------------------------------------
MEDIA OVERRIDES
--------------------------------------------
*/

@media (min-width: 1200px){
    .masonry-container img {
        max-width:400px;
    }
}
@media (max-width:979px) {
    .container .content-wrap{
        padding: 10px 20px;
    }
    .main-menu .box-nav li a {
        font-size:13px;
    }
    .masonry-container img {
        max-width:100%;
    }

    .main-menu .box-nav-container {
        top:0px;
    }
}
@media (max-width:767px) {
    .main-header{
        padding: 0 20px;
        margin: 0 -20px;
    }

    .home .container .span7{
        border-right: none;
    }
    .container.about {
        padding-top:0px;
    }

    .container.about .row-fluid:first-child{
        padding-bottom:0px;
    }

    .register-button {
        text-align:center;
    }
    .masonry-container img {
        max-width:380px;
    }
}
@media (min-width: 767px) and (max-width: 979px){
    a.register-circle{
        width: 137px;
        padding: 55px 20px;
    }
}
@media (max-width: 480px), (min-width: 767px) and (max-width: 979px){
    .thumbProfileList li{
        width: 50%
    }
}
@media (max-width:480px) {
    body{
        background-image: none;
    }
    .main-menu .box-nav li {
        margin-bottom: 5px;
    }

    .masonry-container img {
        max-width:280px;
    }

}
@media (max-width: 400px){
    .thumbProfileList li{
        width: auto;
        float: none;
    }
    h3 small a{
        display: none;
    }
}
