@import "../widgets/widgets.less";
@import "_variables.less";


div.brand-pages{
	text-align: center;
	color: @grey;
	font-size: 16px;
	line-height: 2;
	font-weight: 300;
	overflow-x: hidden;
	.rte{
		text-align: center;
	}
	h3{
		color: black;
		font-size: 36px;
	}
	a{
		color: black;
	}
	.half{
		margin-bottom: 30px;	
	}
}
.widget-html-image{
	padding: 0;
	.image{
		margin-bottom: 30px;
		figcaption{
			position: absolute;
			top: inherit;
			bottom: 30px;
			width: 100%;
			text-align: center;
			line-height: 1.3;
			font-weight: 500;
			.transform(none);
			color: white;
			font-size: 26px;				
		}
	}
}
.widget-block-five{
	.text{
		font-size: 20px;
	}
}
.widget-video{
	overflow: hidden;
	.slick-slider{
		.slick-slide{
			&.slide-video{
				background: black;
			}
			button.close{
				i{
					color: white;
				}
			}
			.play{
				&:hover{
					.text,
					.label{
						text-decoration: underline;
					}
				}
			}	
		}
	}		
}
.designers-header{
	margin-bottom: 0;
	.rte{
		max-width: 620px;
		margin: 0 auto;
	}
}
.widget-slider{
	.slick-slider{
		.slick-next,
		.slick-prev{
			&:before{
				font-size: 80px;
			}
		}
		.slick-prev{
			left: 0;
			.transform(translateY(-50%) translateX(-50%));
		}
		.slick-next{
			right: 0;
			.transform(translateY(-50%) translateX(50%));
		}
		.slick-prev:before
		{
		    content: 'h';
		}
		[dir='rtl'] .slick-prev:before
		{
		    content: 'h';
		}
		.slick-next:before
		{
		    content: 'i';
		}
		[dir='rtl'] .slick-next:iefore
		{
		    content: 'i';
		}
	}
	&.carousel{
		.widget-link{
			text-transform: none;
			padding: 8px 10px;
		}
		.slick-slide{
			padding: 0 38px;
		}
	}
}
.widget-video-tabs{
	.tabs-content{
		.intro{
			max-width: 610px;
			color: black;
		}
	}
	.video{
		.description{
			line-height: 1;
			color: black;
			font-size: 14px;
		}
	}
}
.bg-brown{
	margin-bottom: 70px;
	.widget-slider{
		background: @brown;
		margin: 0;
		padding: 60px 15px;		
	}
	a{
		color: white;
		border-color: white;
	}
}