.container{
	max-width: 1440px;
	width: 100%;
}
h1,h2,h3,h4,h5,h6,b, strong{
	font-weight: 600;
}
.color-ligh-blue{
	color: $light-blue;
}
.row{
	margin: 0 -20px;
	.col-3{
		width: percentage(3/8);
		padding: 0 em(20);
		float: left;
	}
	.col-5{
		width: percentage(5/8);
		padding: 0 em(20);
		float: left;
	}		
}
#main{
	.container{
		.main-inner{
			background: white;
		}
	}
}
.inner-content{
	position: relative;
	max-width: 795px;
	margin: 0 auto;
	.row{
		margin: 0 -15px;
	}
}