.container{
	padding: 0 30px;
	max-width: 952px;
	.row{
		margin: 0 -15px;
		width: auto;
	}
	@for $i from 1 through 8{
  	.col-#{$i}{
  		padding: 0 15px;
    	@media (min-width: $screen-sm){
		  	width: percentage($i/8);
		  	float: left;  		
	  	}
  	}  	
  }
  .col-3-3{
  	padding: 0 15px;
  	@media (min-width: $screen-sm){
	  	width: percentage(1/3);
	  	float: left;  		
  	}
  }
}