@body-color: black;

@bg-price-box: #f4f4f4;
@bg-cmp: #c8c8c8;
@text-code: #bababa;
@text-price: @main-color;
@text-price-inc: #646464;
@text-price-exc: #b4b4b4;
@text-icons: #bababa;
@text-price-divider: #eaeaea;
@dropdown-border: #bfbfbf;
@share-icon-color: #7f7f7f;
@arrow-down-color: #a6a6a6;
@arrow-down-internal-color: black;

@search-button-bg: #969696;
@search-button-color: white;

@section-border: #bfbfbf;
@section-internal-expand-header-bg: #f4f4f4;
@section-internal-expand-body-bg: #fbfbfb;

@file-icon-cad-bg: #565c68;
@file-icon-doc-bg: @main-color;
@file-link-color: @main-color;
@file-link-hover-color: black;

@file-cad-link-color: #565c68;
@file-cad-link-hover-color: black;

@slider-arrow-default-color: #bfbfbf;

@product-display-button-bg: #6dc8b6;
@product-display-button-color: white;

@product-display-address-link-color: #888;
@product-display-address-link-hover-color: #6dc8b6;

@slider-dots-bg: #eaeaea;
@slider-dots-current-bg: @main-color;

@section-grey-slider-dots-bg: #bfbebe;
@section-grey-slider-dots-current-bg: @main-color;

@section-filters-link-color: #888;
@section-filters-link-filtered-color: @main-color;

@back-to-top-btn-bg: #ccc;
@back-to-top-btn-color: black;

@table-border: #bfbfbf;
@table-header-bg: #f4f4f4;

@we-love-color: #6dc8b6;