@list-saved-color: #999999;
@list-info-color: #999999;

.list-details{
	padding-bottom: 28px;
	.list-saved{
		.gothamMedium();
		color: @list-saved-color;
	}
	.list-name{
		margin: 0;
		margin-bottom: 6px;
		font-size: 36px;
		color: @main-color;
	}
	.list-info{
		.gothamBook();
		color: @list-info-color;
		.list-order-number,
		.list-created{
			.gothamMedium();
		}
	}
}