.breadcrumb{
	margin: 0;
	background: none;
	color: #999999;
	font-size: em(12);
	padding: em(30, 12) em(30, 12) 0;
	a{
		font-style: italic;
		color: #999999;
		&:hover{
			color: $main-color;
		}
	}
	> li + li:before{
		color: #999999;
	}
	.active{
		color: $light-blue;
	}
}