$apply-now-bg: #2bb1c7;
$apply-now-hover-bg: #003964;
nav.menu{
	background: #009cb6;
	position: relative;
	.container{
		position: relative;
	}
	&:after{
		background: url(../img/menu-bg-out.svg) top center repeat-x;
		content: " ";
		height: 6px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 0;
		background-size: 138px 13px;
	}
	ul{
		margin: 0 -30px;
		padding: 0;
		position: relative;
		height: 100%;
		list-style: none;
		text-align: center;
		@media (min-width: $screen-sm){
			text-align: left;
		}
		li{
			display: inline-block;
			padding: 0;
			a{
				color: white;
				display: block;
				height: 100%;
				font-size: 14px;
				font-weight: bold;
				padding: 30px 10px 36px;
				@include transition(background .3s ease-out);
				@media (min-width: $screen-sm){
					font-size: 18px;
					padding: 30px 30px 36px;
				}
				&:hover{
					color: white;
					text-decoration: none;
					background: #007495;
				}
				&.active{
					background: #007495;	
				}									
			}
			&.apply-now{
				padding: em(10);
				text-align: center;
				a{
					padding: 0 em(15);
					line-height: em(50);
					background: $apply-now-bg;
					@include border-radius(em(18));
					@media (min-width: $screen-sm){
						padding: 0 em(30);
						@include border-radius(em(20));
					}
					&:hover{
						color: $light-blue;
						background: $apply-now-hover-bg;
					}
					&.active{
						color: white;
						background: $apply-now-hover-bg;
					}
				}
			}
		}		
	}
	.bg-wrap{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.bg-in{
		background: url(../img/menu-bg-in.svg) top center repeat-x;
		background-size: 138px 13px;
		content: " ";
		height: 6px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}	
}