@retail-breadcrumb-link-color: #5c5c5c;
@retail-breadcrumb-link-current-color: @black;

.breadcrumb-section{
	.breadcrumb-inner{
		.breadcrumbs{
			li{
				a{
					color: @retail-breadcrumb-link-color;
				}
				&:after{
					color: @retail-breadcrumb-link-color;
				}
				&:last-child{
					a{
						color: @retail-breadcrumb-link-current-color;
					}
				}
				&.active{
					color: @retail-breadcrumb-link-current-color;
				}
			}
		}
	}
}