@retail-dot-bg: #eaeaea;
@retail-dot-active-bg: #6dc8b6;

.slick-dots{
	li{
		button{
			background: @retail-dot-bg;
		}
		&.slick-active{
			button{
				background: @retail-dot-active-bg; 
			}		
		}
	}	
}