
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";

// I Love My Bathroom (ILMB)
//====================================================================================================================================
//====================================================================================================================================

.ilmb .main-wrapper {
    background: #fff;
}


.ilmb p.lead {
    line-height: 1.1;
}
.ilmb .tc {
    text-align: center;
}
.ilmb .inner-content .feature-gradient {
    padding: 20px;
    margin: 0 -20px;
}
.ilmb .feature-footer {
    padding: 10px 20px;
    background: #454545;
    color: #999;
}
.ilmb .feature-footer h5 {
    color: @white;
}
.ilmb .feature-footer i.icon-check {
    color: @green;
}
.ilmb #AjaxTargetWrapper {
/*    background: url(../images/ajax-loader.gif) no-repeat center;*/
}
.ilmb #AjaxTarget {

}
.ilmb .thumbnails li.flush {
    margin-left: 0;
}
.ilmb .inner-content {
    margin: 20px;
}
.ilmb .accordion-group {
    margin: 0;
    border: none;
}




.ilmb{
  /* Nav */
  .ilmbNav{
    background: #fff;
    margin-bottom: 20px;
    .listItem{
      text-transform: uppercase;
      #gradient > .vertical(#fbfcfd, #eff1f4);
      a{
        display: block;
        padding: 30px 25px;
        color: black;
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        background: #fdefee;
        a{
          color: #cc2518;
        }
      }
      .icon-large{
        font-size: 20px;
        display: block;
        float: left;
        margin-right: 5px;
      }
      .ilmbnavLinktext{
        display: block;
        height: 30px;
        line-height: 30px;
        margin-left: 30px;
      }
    }
  }
  /* Dates */
  .ilmbDates{
    background: #000;
    text-align: center;
    color: #fff;
    padding: 20px;
    h3{
      font-family: TimesNewRoman, "Times New Roman", Times, serif;
      font-weight: normal;
      font-style: italic;
      font-size: 26px;
    }
    dt{
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
  /* Home Page */
  .home-wrapper{
    position: relative;
    overflow: hidden;
  }
  .ilmbSubscribeInput{
    .border-radius(0);
    border:solid 1px #000;
    width: 35%;
    padding: 10px 5px;
  }
  .ilmbSubscribeBtn{
    background: #c81f1f;
    border:none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .homeBannerImage{
    max-width: 1160px;
  }
  .home-content-wrapper{
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
  }
  /* Home Content */
  .home-content{
    margin-top: 15%;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;

    .ilmbNav,.ilmbBanner,.ilmbDates{
      display: table-cell;
      vertical-align: top;
    }
    .ilmbNav{
      position: relative;
       width: 20%;
      .listItem{
        display: table-cell;
        position: absolute;
        top: 0;
        height: 25%;
        vertical-align: middle;
        width: 100%;
        &.linkPrizes{
          top: 25%;
        }
        &.linkContact{
          top: 50%;
        }
        &.linkTerms{
          top: 75%;
        }
        &.linkTerms{
          a{
            padding: 25px;
          }
          .icon-large{
            position: relative;
            top: 3px;
          }
          .ilmbnavLinktext{
            line-height: 17px;
          }
        }
      }
    }
    .ilmbBanner{
      background: #fff;
      text-align: center;
      padding: 20px;
      p.ilmbBannerDesc{
        padding: 0 40px;
      }
      h3{
        clear: both;
        color: #c91e1e;
        font-family: TimesNewRoman, "Times New Roman", Times, serif;
        font-size: 20px;
        text-align: left;
        margin: 20px 0;
        padding-left: 30px;
      }
    }
    .ilmbLogoWrap{
      padding: 50px 20px 20px;
      position: relative;
    }
    .ilmbBannerPrize{
      background: #c92020;
      height: 100px;
      width: 160px;
      padding:50px 20px;
      color:white;
      font-family: TimesNewRoman, "Times New Roman", Times, serif;
      text-transform: uppercase;
      font-size: 20px;
      .border-radius(50%);
      position: absolute;
      top: -100px;
      right: 1%;
      strong{
        display: block;
        padding: 15px 0;
        font-style: italic;
        font-size: 40px;
        font-weight: normal;
      }
    }
    .ilmbDates{
      width: 20%;
    }
  }
  /* Other Pages */
  /* ilmb Page Header */
  .ilmbPageHeader{
    max-width: 480px;
    margin: 20px auto 0;
    .pageTitle{
      font-family: TimesNewRoman, "Times New Roman", Times, serif;
      color: #cc2518;
      font-size: 37px;
      padding-left: 40%;
      font-weight: normal;
      font-style: italic;
    }
  }
  /* past winners */
  .thumbnails > li{
    margin-bottom: 40px;
  }
  a.ilmbReadStoryLink{
    color: #cc2518;
     text-transform: uppercase;
     float: right;
     margin-top: 10px;
     padding-top: 18px;
  }
  .ilmbThumb{
    position: relative;
    .ilmbWinnerBadge{
      position: absolute;
      left: 20px;
      bottom: 20px;
      background:black;
      height: 30px;
      width: 70px;
      padding: 40px 20px;
      color: white;
      text-align: center;
      .border-radius(50%);
      .ilmbYear{
        display: block;
        font-size: 26px;
        font-family: TimesNewRoman, "Times New Roman", Times, serif;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
  .ilmbThumbHd{
    margin-right: 130px;
    margin-bottom: 30px;
    .ilmbEntryName,.ilmbEntryPlace{
      display: block;
      color: black;
      text-transform: uppercase;
      font-size: 14px;
    }
    .ilmbEntryName{
      padding-bottom: 3px;
    }
  }
}
@media (max-width:979px){
  .ilmb{
      .homeBannerImage{
        max-width: 2200px;
        width: 2200px;
        margin-left: -40%;
      }
    .home-content{
      display: block;
      margin-top: 20px;
      .ilmbNav,
      .ilmbBanner,
      .ilmbDates{
        display: block;
        width: auto;
      }
      .ilmbBanner,
      .ilmbDates{
        margin-top: 20px;
      }
      .ilmbNav{
        height: 200px;
        .listItem{
          a{
            padding: 10px 15px !important;
          }
          &.linkTerms{
            .icon-large{
              position: static;
            }
            .ilmbnavLinktext{
              line-height: 30px;
            }
          }
        }
      }
      .ilmbBannerPrize{
        margin: 20px 0 20px 20px;
        position: static;
        float: right;
      }
    }
  }

}
@media (max-width:767px){
  .ilmb{
    .home-content-wrapper{
      left: 20px;
      right: 20px;
    }
  }
}

@media (max-width:480px){
  .ilmb{
    .ilmbPageHeader{
      .pageTitle{
        font-size: 25px;
      }
    }
    .homeBannerImage{
      max-width: 2500px;
      width: 2500px;
      margin-left: -50%;
    }
    .ilmbSubscribeInput{
      width: 95%
    }
    .home-content{
      .ilmbNav{
        .listItem{
          .ilmbnavLinktext{
            font-size: 12px;
          }
        }
      }
      .ilmbBannerPrize{
        float: none;
        margin:20px 0 0;
      }
    }
  }
}
@media (max-width:350px){
  .ilmb{
    .home-content{
      .ilmbBannerPrize{
        float: none;
        margin:20px -40px 0;
      }
    }
  }
}


.ilmb .winnerSideBar {
    color:#FFFFFF;
    padding:20px;
    height:auto;
}
.ilmb .winnerSideBar img{
    float:left;
    margin-right:10px;
    width:120px;
}
.ilmb .winnerSideBar p{
font-size:13px;
line-height:120%;
}
.ilmb .winnerSideBar h3{
font-size:18px;
margin:0px 0px 5px 0px;
}
.ilmb .winnerDetails{
padding:20px 0px 0px 20px;
}
.ilmb .winnerDetails p{
    font-size:16px;
    line-height:130%;
}
.ilmb .images {
    padding:20px 0px 0px 20px;
}
.ilmb .ilmb-winner h3{
    font-size:22px;
    margin-left:30px;
}
.ilmb .ilmb-winner p{
    font-size:16px;
    margin-left:30px;
    line-height: 130%;
}
.ilmb .ilmb-winner h3 span{
font-weight:normal !important;
}
.ilmb .winnerImages{
    padding:20px 0px 0px 0px;

}

.ilmb .winnerImages .thumbs{
}

.ilmb .winnerImages .thumbs img{
    margin-bottom:10px;
    width: 24% !important;
}

.ilmb .winnerPlan{
     background:#EFEFEF;
     margin-top:10px;
     margin-left:20px;
     margin-bottom:20px;
     padding:20px;
     width:94%;
}
.ilmb .winnerPlan a{
 color:#666;
}
 .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

// I Love My Bathroom (ILMB) Media Queries
//====================================================================================================================================
//====================================================================================================================================

@media (max-width: 979px) {
    .ilmb .ajax-target {
	   width: 100%;
	   margin: 0;
    }
    .ilmb .ajax-target .inner-content {
	   margin: 20px;
    }
    .ilmb .winnerSideBar img {
        width: 100%;
        margin-bottom: 10px;
    }
}


@media (max-width: 767px) {
    .ilmb .winnerPlan {
        margin-left: 0px;
    }
    .ilmb .winnerImages {
        padding: 20px 0px 0px 20px;
    }
    .ilmb .winnerSideBar img {
        width: 150px;
        float:none;
    }
    .ilmb .images {
        padding: 20px 0px 0px 0px;
    }
}

@media (max-width: 640px) {
    .ilmb .winnerPlan {
        margin-left: 0px;

        .ilmb .winnerImages .thumbs img {
            width:150px !important;
        }
    }
}

@media (max-width: 480px) {
    .ilmb .winnerPlan {
        margin-left: 0px;
        padding: 0px;
        width: 100%;
    }
    .ilmb .winnerImages{
        padding-left:0px;
    }
    .ilmb .winnerImages .thumbs img{
        margin-bottom:10px;
        width: 100% !important;
    }
}


@media (max-width: 320px) {
    .ilmb .winnerPlan {
        margin-left: 20px;
        padding: 0px;
        width: 88% !important;
    }
    .ilmb .ilmb-winner p {
        width: 80%;
    }
    .ilmb .ilmb-winner h3 {
        font-size: 18px;
    }
    .ilmb .winnerImages {
        padding: 0px 0px 0px 0px;
    }
    .ilmb .images {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .ilmb .winnerImages .thumbs img {
        width:100% !important;
        padding: 0px 0px 0px 0px;
    }

    .ilmb .winnerSideBar img {
        width: 100%;
        margin-bottom: 10px;
    }
}
