//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

@springHeaderFont : "freight-big-pro",serif;
@springBodyFont: "proxima-nova",sans-serif;

.spring2014{
	font-family: @springBodyFont;
	.clear{
		clear:both;
	}
	h1,h2,h3,h4,h5,h6{
		font-family: @springHeaderFont;
		span{
			font-style: italic;
		}
	}
}

/*==================================================*/
.spring-header{
	background:#000000;
	text-align: center;
	.header-wrap{
		position:relative;
		.header-text{
			position:absolute;
			left:0;
			right:0;
			top:40%;
			h1{
				color: #FFFFFF;
				font-size:80px;
				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 60px;
				}
				@media (max-width: 767px) { 
					font-size: 50px;
				}
				@media (max-width: 480px) { 
					font-size: 40px;
				}
			}
			.launch-button{
				background: #6cc3ba;
				text-transform: uppercase;
				width: 200px;
				padding:10px;
				margin-top: 40px;

				@media (min-width: 768px) and (max-width: 979px) {
					margin-top: 30px;
				}
				@media (max-width: 767px) { 
					margin-top: 20px;
				}
				@media (max-width: 480px) { 
					margin-top: 10px;
				}
				margin-left:auto;
				margin-right:auto;
				a {
					display: block;
					&:hover{
						text-decoration: none;
					}
					.launch{
						display:block;
						color: #000000;
						font-size: 30px;
						line-height: 1.2em;

						@media (min-width: 768px) and (max-width: 979px) {
							font-size: 25px;
						}
						@media (max-width: 767px) { 
							font-size: 20px;
						}
						@media (max-width: 480px) { 
							font-size: 15px;
						}
					}
					.lookbook{
						display:block;
						color:#ffffff;
						font-size:18px;
						@media (min-width: 768px) and (max-width: 979px) {
							font-size: 15px;
						}
						@media (max-width: 767px) { 
							font-size: 13px;
						}
						@media (max-width: 480px) { 
							font-size: 12px;
						}
					}
				}
			}
			@media (min-width: 768px) and (max-width: 979px) {
				top:30%;
			}
			@media (max-width: 767px) { 
				top:15%;
			}
			@media (max-width: 480px) { 
				top:0;
				position:relative;
			}

		}
	}
}
/*==================================================*/
/********** Subscribe *******************************/
/*==================================================*/
.mailChimpForm{
	.mailchimpAjaxMessage{
		min-height: 3em;
		padding: 10px 0 5px;
		p{
			margin: 0;
			padding: 0;
			line-height: 1em;
		}
		.successMessage{
			color: @green;
		}
		.errorMessage{
			color: @orange;
		}
	}
}

/*==================================================*/
.spring-subscribe{
	background: #000000;
	color:#ffffff;
	text-align: center;
	.mailChimpForm{
		.mailchimpAjaxMessage{
			min-height: 2em;
		}
	}
	form{
		margin-bottom:0;
		.hgroup{
			display:inline-block;
			.required-input{
				text-align: left;
				color:orange;
				font-size: 10px;
				height:20px;
				padding-left:10px;
			}
		}
	}
	input[type="submit"]{
		background:#FFFFFF;
		border:0;
		padding:6px 30px;
		margin:20px;
		color:#000000;
		.border-radius(0);
	}
	input[type="text"],input[type="number"],input[type="email"]{
		.border-radius(0);
		border:solid #FFFFFF 1px;
		background-color: #000000;
		margin:5px;
	}
	.subscribe-wrap{
		max-width: 800px;
		padding-bottom: 20px;
		margin-left:auto;
		margin-right:auto;

		label{
			line-height: 40px;

			@media (max-width: 767px) { 
				width:100%;
				float:none;
			}
		}
		.h-name,.h-email{
			max-width:170px;
			@media (max-width: 767px) { 
				max-width:170px;
				float:none;
			}
		}
		.h-postcode,.h-submit{
			max-width:100px;
			@media (max-width: 767px) { 
				max-width:170px;
				float:none;
			}
		}
		.h-submit{
			margin: 4px;
			@media (max-width: 767px) { 
				max-width:185px;
				float:none;
				width:100%;

			}
		}
		.submit-group{
			display:inline-block;
			
			
			@media (max-width: 480px) { 
				width:100%;
				display:block;
				
			}
		}

	}
}
/*==================================================*/

#spring-modal{
	@media (max-height:820px){
		position: absolute;
	}
	left:10%;
	width:80%;
	margin-left:0;
	text-align: center;
	.border-radius(0);
	.close{
		position:absolute;
		right:0;
		top:0;
		z-index: 10;
		background: #555;
		color: white;
		font-weight: 100;
		font-size: 30px;
		height: 1em;
		width: 1em;
		padding: .25em;
		display: block;
		line-height: 28px;
		text-align: center;
	}

	.top-section{
		.main-modal-image{
			position:relative;
			top: 0;
			left: 0;
			right: 0;
			.popup-image{
				margin-left:auto;
				margin-right:auto;
				max-width: 650px;
			}
		}
	}
	.middle-section{
		max-width: 800px;
		padding:40px 0 0;
		margin-left:auto;
		margin-right: auto;
		h2{
			font-size: 60px;
			@media (max-width: 767px) { 
				font-size: 40px;
			}
			@media (max-width: 480px) { 
				font-size: 25px;
			}
		}
		p{
			margin-top: 30px;
		}
	}
	.bottom-section{
		max-width: 800px;
		padding-left: 10%;
		padding-right: 10%;
		margin-left:auto;
		margin-right: auto;
		.mgroup{
			display:inline-block;
			input{
				margin-bottom: 0;
			}
			.required-input{
				text-align: left;
				color:orange;
				font-size: 10px;
				height:20px;
				padding:5px 0 10px;
				@media (max-width: 480px) { 
					text-align:center;
				}
			}
		}
		input[type="submit"]{
			background:#6cc3ba;
			border:0;
			padding:6px 30px;
			margin:20px;
			color:#ffffff;
			.border-radius(0);
		}
		input[type="text"],input[type="email"],input[type="number"]{
			.border-radius(0);
			border:solid #000000 1px;
		}
		.m-name,.m-email{
			max-width:180px;
			width:180px;
			@media (max-width: 480px) { 
				max-width:80%;
			}
		}
		.m-postcode,.m-submit{
			max-width:100px;
		}
	}
}
/*==================================================*/
.spring-intro{
	background: #f26d63;
	.intro-wrap{
		text-align: center;
		padding: 40px 10%;
		h2{
			color:#FFFFFF;
			font-size:50px;
			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 45px;
			}
			@media (max-width: 767px) { 
				font-size: 40px;
			}
			@media (max-width: 480px) { 
				font-size: 35px;
			}
		}
		p{
			font-family: @springHeaderFont;
			color:#000000;
			font-size:20px;
			line-height: 1.2em;
			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 18px;
			}
			@media (max-width: 767px) { 
				font-size: 18px;
			}
			@media (max-width: 480px) { 
				font-size: 16px;
			}
		}
	}
}

/*==================================================*/
.spring-items{
	text-align: center;
	padding: 10px 0;
	&.item1{
		.image-box{
			padding-top: 40px;
			@media (min-width: 1200px){
				padding-top: 0;
			}
			@media (min-width: 768px) and (max-width: 979px) { 
				padding-top: 80px;
			}
		}
	}
	&.item2{
		.image-box{
			padding-top: 40px;
			@media (min-width: 1200px){
				padding-top: 0;
			}
			@media (min-width: 768px) and (max-width: 979px) { 
				padding-top: 80px;
			}
		}
		.text-box{
			padding-top:60px;
			@media (min-width: 1200px){
				padding-top: 40px;
			}
		}
	}
	&.item3{
		.image-box{
			padding-top: 40px;
			@media (min-width: 1200px){
				padding-top: 0;
			}
			@media (min-width: 768px) and (max-width: 979px) { 
				padding-top: 70px;
			}
		}
		.text-box{
			padding-top:40px;
			@media (min-width: 1200px){
				padding-top: 40px;
			}
		}
	}
	&.item4{
		.image-box{
			padding-top: 40px;
			@media (min-width: 1200px){
				padding-top: 0;
			}
			@media (min-width: 768px) and (max-width: 979px) { 
				padding-top: 70px;
			}
		}
		.text-box{
			padding-top:40px;
			@media (min-width: 1200px){
				padding-top: 40px;
			}
		}
	}
	.image-box,.text-box{
		width:50%;
		@media (max-width: 767px) { 
			display:block;
			width:100%;
		}
	}
	.text-box{
		.text-wrap{
			padding:20px 40px;
			a{padding:5px 20px;text-decoration: none;color:#FFFFFF;text-transform: uppercase;}
			a.box-link1{background-color: #444444;}
			a.box-link2{background-color: #6cc3ba;}
			a.box-link3{background-color: #ba9765;}
			a.box-link4{background-color: #b493b1;}
			h3{
				font-size: 39px;
				@media (min-width: 768px) and (max-width: 979px) { 
					font-size: 34px;
				}
				 
				@media (max-width: 767px) { 
					font-size: 29px;
				}
				 
				@media (max-width: 480px) { 
					font-size: 24px;
				}
			}
		}
	}
	.image-box{
		@media (min-width: 768px) and (max-width: 979px) { 
			padding: 10px 0;
		}
	}
	&.image-left{
		.image-box{
			float:left;
		}
		.text-box{
			float:right;
		}
	}
	&.image-right{
		.image-box{
			float:right;
		}
		.text-box{
			float:left;
		}
	}
}
