
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

// Headline
//====================================================================================================================================
//====================================================================================================================================

.headline {
	color: lighten(black, 60%);

	&.tagline {
		font-size: 25px;
		text-transform: uppercase;
	}
}

// Gas Track Navigation
//====================================================================================================================================
//====================================================================================================================================

.gas-track-navigation {

	> li > a {
		padding: 15px;
		.border-radius(0);
		background-color: lighten(@warmHighlightBackground, 25%);
		color: black;

		&:hover {
			background-color: @warmHighlightBackground;
		}
	}
}

// Gas Track Content
//====================================================================================================================================
//====================================================================================================================================

.gas-track-content {
	.headline {
		margin-top: 0;
	}
}

// Custom Button Module
//====================================================================================================================================
//====================================================================================================================================

.btn-highlight {
	.buttonBackground(@warmHighlightBackground, @warmHighlightBackground);
	.border-radius(0);
}