
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

// Gas Track Logo
//====================================================================================================================================
//====================================================================================================================================

.gas-track-logo {
	background: url("@{baseImagePath}/products_2013/products-plumbing-sale-iconx1.png") no-repeat 0 0;
	.image-2x("@{baseImagePath}/products_2013/products-plumbing-sale-iconx2.png", 41px, 40px);
}

// Products Lead Module
//====================================================================================================================================
//====================================================================================================================================

.product-lead {
	margin: 20px 0 0;
	font-size: 18px;
}