//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

.contact-sections {
	.icon {
		width: 160px;
		height: 130px;
		margin: auto;
		background: url(../images/aboutus/contact/contactus-sprite.png) no-repeat;
	}
}