//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

.about-us .content-container {
	p {
		color: #666666;
		margin-bottom: 2em;
	}
	.subnavbar {
		background: @reeceBlue
	}
	.content-container img {
		margin: 1em 0
	}
	.middle-section {
		border-top: 1px solid lighten(@reeceGrey, 60%);
		padding-top: 1.5em;
		margin-top: 1.5em;
	}
}
.actrol {
	.inside {
		padding: 0 1.5em;
		border: 1px solid lighten(@reeceGrey, 60%);
	}
	h4 {
		padding: 0 0 1em 130px;
		border-bottom: 1px solid lighten(@reeceGrey, 60%);
		background: url(../images/aboutus/logo-actrol.png) no-repeat left top;
	}
}
.grey-bg {
	background: @lightBackground;
}
.inner-wrapper {
/*	padding: 0.8em 0 2.5em;*/
}

.site-footer {
	margin-top: 0
}

#about-us-carousel {
	.item {
		h1 {
			font-size: 4em;
		}
		p {
			font-size: 16px;
			line-height: 1.2em;
		}
		position: relative;
		float: left;
		min-height:300px;
	}

	.bg-image {
		display: block;
		margin: 0
	}
	.content {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 370px;
		padding: 3em
	}

	.carousel-links {
		position: absolute;
		text-align: center;
		right: 0;
		top: 50%;
		z-index: 4;
		padding: 0 7px;
		margin-top: -180px;
		background: rgba(255, 255, 255, 0.3);
		ol {
			list-style: none;
			margin: 0;
			padding: 0
		}
		.heading {
			color: white;
			font-size: 15px;
			margin: 15px 0;
			text-transform: uppercase;
			text-shadow: 1px 1px 2px fade(black, 40%)
		}
	}
	.carousel-link-item {
		width: 160px;
		color: white;
		padding: 0.85em 0;
		margin-bottom: 7px;
		cursor: pointer;
		font-size: 15px;
	}
	.carousel-indicators {
		position: static;
		li {
			border-radius: 0;
			float: none;
			text-indent: 0;
			line-height: 0.5em;
			//.transition(all 1s ease-out); should convert to mixin
			.transition(all 0.3s linear);

			&.active {
				margin-left: -30px;
				padding-left: 35px;
			}
		}
	}
}
#about-us-carousel-mobile {
	border: 1px solid lighten(@reeceGrey, 50%);
	h1 {
		margin-top: 0;
		padding-top: 1em;
		font-size: 2em;
	}
	p {
		margin-right: 3em;
	}
	.content {
		min-height: 320px;
		padding-left: 170px;
		line-height: 1.5em;
	}
	.plumbing .content {
		background: url(../images/aboutus/banner-plumbing-mob.jpg) no-repeat top left;
		.image-2x('../images/aboutus/banner-plumbing-mob-2x.jpg', 150px, 320px);
	}
	.bathrooms .content {
		background: url(../images/aboutus/banner-bathroom-mob.jpg) no-repeat top left;
		.image-2x('../images/aboutus/banner-bathroom-mob-2x.jpg', 150px, 320px);

	}
	.carousel-control.right {
		right: 7px;
	}
	.carousel-control.left {
		left: 7px;
	}
}
.carousel {

	.plumbing {
		h1 {
			color: @brandingPlumbing;
		}
		.coloredPanelLink, &.carousel-link-item {
			background: @brandingPlumbing;
		}
	}
	.bathrooms {
		h1 {
			color: @brandingBathrooms;
		}
		.coloredPanelLink, &.carousel-link-item {
			background: @brandingBathrooms;
		}
	}
	.irrigation {
		h1 {
			color: @brandingIrrigation;
		}
		.coloredPanelLink, &.carousel-link-item {
			background: @brandingIrrigation;
		}
	}
	.civil {
		h1 {
			color: @brandingCivil;
		}
		.coloredPanelLink, &.carousel-link-item {
			background: @brandingCivil;
		}
	}
	.hvac-r {
		h1 {
			color: @brandingHvacr;
		}
		.coloredPanelLink, &.carousel-link-item {
			background: @brandingHvacr;
		}
	}
	.onsite {
		h1 {
			color: @brandingOnsite;
		}
		.coloredPanelLink, &.carousel-link-item {
			background: @brandingOnsite;
		}
	}
}
.coloredPanelLink{
    display: inline-block;
    background: @black;
    padding: 15px 30px;
    color: @white;
    margin-top: 20px;
    text-transform: uppercase;
    &:hover{
        color: #aaa;
    }
}
/*
----------------------------------------------
RESPONSIVE OVERRIDES
----------------------------------------------
*/
@media (min-width: 767px) {

	.about-us {
		h3, h4 {
			margin: 1em 0;
		}
	}

}

@media (max-width: 767px) {

	.about-us {
		p {
			margin-bottom: 1em;
		}
		.grey-bg .row-fluid > div {
			margin-bottom: 2.5em;
		}
		.actrol h4 {
			background-position: 0 50%;
			padding-top: 0.5em
		}
	}
	#about-us-carousel .content {
		width: 60%
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	.carousel-links {
		margin-top: -150px !important
	}

}

@media (max-width: 480px) {
	#about-us-carousel-mobile {
		h1 {
			padding-top: 0.5em;
		}
		.content {
			padding-left: 3em;
			background: none !important;
			padding-bottom: 1em;
		}
		.carousel-control.right {
			right: 0px;
		}
		.carousel-control.left {
			left: 0px;
		}
	}
}

