//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";


.partner .content-container p {
    color: #666666;
    margin-bottom: 2em;
}

a:hover p, a:focus p {
    text-decoration: none !important;
}

.grey-bg {
    background: @lightBackground;
    img {
        margin-bottom: 1em;
    }
}

.inner-wrapper {
    padding: 0.8em 0 2.5em;
}

.site-footer {
    margin-top: 0
}
.why-partner-brands{
    .clearfix;
    .brand {
        
        .brand-name {
            font-size: 1.5em;
            font-weight: normal;
            color: #009ddb;
        }
        margin-top: 2em;
        margin-bottom: 2em;

        a {
            text-decoration: none;
        }
    }
    @media (min-width: 767px) {
        button {
            width: 80%
        }
    }
}
.brand-expand {
    max-height: 0;
    background: @reeceGrey;
    overflow: hidden;
    position: relative;
    clear: both;

    .transition(0.6s max-height ease-out);
    
    .row-fluid {
        padding: 2em;
        border-bottom: 7px solid @reeceLightBlue;
        .box-sizing(border-box);
    }
    p, .heading {
        color: @ocnavTextColor
    }
    &.expanded {
        max-height: 1000px;
        overflow: visible;
    }
    .brand-close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: @ocnavTextColor;
        font-size: 2em;
        cursor: pointer;
    }
    &:after {
        content: " ";
        display: block;
        position: absolute;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 20px solid @reeceGrey;
        top: -40px;
    }
    &:nth-child(1n+0):after {
        left: 3.5%;
    }   
    &:nth-child(2n+0):after {
        left: 37.5%;
    }
    &:nth-child(3n+0):after {
        left: 72%;
    }
    @media (max-width: 768px) {
        &:after {
            left: 3.5% !important
        }
        .brand-close {
            top: 10px;
            right: 10px;
        }
    }
    &.hidden-desktop {
        @media (min-width: 768px) {
            display: none !important
        }
    }
}
.collapsible-brands {

}
.why-partner-intro {
    p {
        margin-bottom: 0
    }
}
.page-branding {
    &.text-brand {
        color: @reeceBlue;
    }
}

@media (max-width: 979px) {
    .why-partner-brands .brand {
        p {
            margin-bottom: 1em
        }
    }
}