//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

.contact {
	color: @gray;
	.contact-sections, .grey-bg {
		a, a:link, a:visited, a:link {
			color: @reeceLightBlue
		}
	}
	h3 {
		margin-bottom: 1em;
	}
	h3, h4 {
		color: @reeceBlue;
	}
	.breadcrumb {
		a, a:link, a:visited, a:link {
			color: darken(@lightBackground, 20%);
		}
	}
}
.contact-sections {
	.icon {
		width: 160px;
		height: 130px;
		margin: auto auto 3em auto;
		background: url(../images/aboutus/contact/contactus-sprite.png) no-repeat;
	}
	.store-finder .icon {
		background-position: 0 0;
	}
	.product-info .icon {
		background-position: -218px -11px;
	}
	.customer-care .icon {
		background-position: -417px 0;
	}
	.cs-feedback .icon {
		background-position: -15px -216px;
	}
	.login-issues .icon {
		background-position: -211px -216px;
	}
	.share-info .icon {
		background-position: -413px -216px;
	}
	.careers .icon {
		background-position: -15px -413px;
	}
	.account-update .icon {
		background-position: -215px -414px;
	}
	.suppliers .icon {
		background-position: -419px -414px;
	}
	section {
		margin: 2em 0;
		padding: 0 2em;
	}
	@media (min-width: 768px) {
		.row-fluid {
			border-top: 1px solid @lightBackground;
			section:nth-child(2) {
				border-left: 1px solid @lightBackground;
				border-right: 1px solid @lightBackground;
			}
		}
	}
}
.contact-form {
	
	.heading {
		margin-bottom: 1em;
	}
	.row-fluid {
		margin-bottom: 0.75em;
	}
	.inner-wrapper {
		border-top: 1px solid @lightBackground;
		padding: 2em 0;
	}

	textarea {
		height: 186px;
		width: 100%;
		.box-sizing(border-box);
	}
	display: none;

	@media (min-width: 1200px) {
		input:first-child {
			margin-right: 10px;
		}
	// 	.selectricWrapper {
	// 		width: 98.5%
	// 	}
	}
	.submit {
		float: right;
	}
}

//Should this be a global style? Don't know yet, global style has not been defined
input[type="text"], input [type="email"], input[type="email"],  input[type="password"],
input[type="number"], textarea, .selectric-label {
	.border-radius(0);
	.box-shadow(none);
	padding: 1em 0.7em;
	height: auto;
	background: lighten(@lightBackground, 5%);
}
input[type="submit"] {
	background: #c91d1d;
	text-transform: uppercase;
	color: @white;
	border: 0;
	padding: 1em 1.8em;
	.border-radius(0);
}
.head-office {
	padding: 2em 0;
	dt {
		color: @reeceBlue;
	}
	dt, dd {
		line-height: 2.1em;
	}
}

