
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

@tipsGreenColor :#8fc547; 
/*
----------------------------------------------
STANDALONE VIDEO PAGE STYLES
----------------------------------------------
*/
.myTipBtn{
    background: @tipsGreenColor;
    padding: 15px 20px; 
    display: block;
    color: white;
    text-align: center;
    max-width: 250px; 
    margin: 5px auto;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    &:hover{
        text-decoration: none;
        color: white;
    }
}

body{
    padding-top: 0;
}

.myTipsHeader{
    padding-bottom: 40px;
}


.myTipsContent{
    h2{
        color: @tipsGreenColor;
        font-size: 65px;
    }
    h3{
        color: #003767;
        padding: 1em 0 .5em;
        font-size: 24px;
        font-size: 24px;
        small{
            display: block;
            color: @tipsGreenColor;
            font-size: 24px;
        }
    }
    p{
        color: #7f7f7f;
    }
}

.youtubeWrapper{
    padding: 40px 0;
    iframe{
        max-width: 100%;
    }
}
.videoGallery{
    background: url('../images/MyAccount/stainbg.jpg');
    padding: 50px 0;
    color: white;

    .videoThumbs{
    }

    .videoThumb{
        padding: 20px 0
    }
    .vidThumbLink{
        position: relative;
        display: block;
        margin-bottom: 40px;
        img{
            width: 100%;
        }
        .playIcon{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            background: url('../images/MyAccount/play-icon.png') center no-repeat;
        }
    }
    h4{
        
    }
    p{
        color: @tipsGreenColor
    }
}
.aboutMyAccount{
    padding: 40px 0 60px;
}

