
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";



body{
    background-color: #EAEAEA !important;
}



.ocmain-wrapper {
/*z-index: auto !important;*/
 background-color: #EAEAEA !important;
}

.compatabilityWarning{
border-top:6px solid #333333;
border-bottom:6px solid #333333;
margin-top:20px;
}

.compatabilityWarning p{
color: #333333;
font-size:11px;
line-height:130%;

}

.compatabilityWarning h4{
color: #333333;
font-size:16px;
line-height:130%;
padding:0px;
margin:15px 0 3px 0;
}

.three-content{
    background-color: #FFFFFF !important;
}

.main-item {
margin:25px 0 0 0;
padding: 15px;
font-size: 14px;
}

.main-item-grey {
background-color: #747474;
color:#FFFFFF;
line-height:120%;
}

.main-item-grey h5{
margin:0px 0 3px 0;
}

.plannerLead {
margin: 0px 0 10px 0;
font-size: 18px;
}

.plannerSteps{
    background-color: #f0f0f0;
    padding:10px;
}


#ThreeDPlannerWrapper .badge {
padding: 15px;
-webkit-border-radius: 29px;
-moz-border-radius: 9px;
border-radius: 30px;
font-size:24px;
font-style: italic;
margin-right:10px;
}


#ThreeDPlannerWrapper .strip {
background-color: #FFFFFF;
width:100%;
-webkit-border-radius: 30px 0px 0px 30px !important;
border-radius: 30px px px 30px !important;
margin-bottom:15px;
color:#555555;
}

.plannerThumbs h3{
    margin:0!important

}









/*
----------------------------------------------
RESPONSIVE OVERRIDES
----------------------------------------------
*/
@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 979px) {
  
  .icon-warning-sign{
    float:left; 
    font-size:40px; 
    margin:20px 20px 40px 20px;
}

}

@media (max-width: 767px) {
   
}

@media (max-width: 320px) {

#ThreeDPlannerWrapper .strip {
font-size: 10px;
margin:0px !important;

}

#ThreeDPlannerWrapper .strip {
margin-bottom:0px;
}



.icon-warning-sign{
    float:left; 
    font-size:40px; 
    margin:40px 20px 40px 20px;
}

}

