
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

// Branding Module (Customize)
//====================================================================================================================================
//====================================================================================================================================

.page-branding {
    &.text-brand {
        color: @brandingPlumbing;
    }
    &.sale-branding {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 41px;
        height: 40px;
        background: url("@{baseImagePath}/products_2013/products-plumbing-sale-iconx1.png") no-repeat 0 0;
        .image-2x("@{baseImagePath}/products_2013/products-plumbing-sale-iconx2.png", 41px, 40px);
    }
    &.box-brand {
        #gradient > .horizontal(@brandingPlumbing, darken(@brandingPlumbing, 10%));
    }    
}