
@baseImagePath: 	"../images";

// Color Varibles
// -----------------------
@ocnavBackground:   #333;
@ocnavTextColor:    #fff;
@ocnavHighlight:    lighten(#333, 10%);
@ocnavDarken:	    darken(#333, 30%);

@accountBackground:			#e9e3db;
@accountBackgroundDark:		#c8c3bc;
@accountButton:				#bab0a5;

@lightBackground: 	#eaeaea;

@productsButtonBackground: 	#747171;

@btnShoppingCartBackground: 	#ee5f5b;
@btnShoppingCartBackgroundHighlight: #bd362f;

@warmHighlightBackground:			#beb6ac;

@brandingHvacr:			#0397D7;
@brandingBathrooms:		#db1e24;
@brandingPlumbing:		#0d2e56;
@brandingIrrigation:	#5e792d;
@brandingOnsite:		#f47836;
@brandingCivil:			#b65312;

@reeceBlue:			#003767;
@reeceLightBlue:	#009ddb;
@reeceGrey:			#4c4c4c;
@reeceWhite:		#ffffff;
@linkDefault:		@reeceBlue;

@hzPrimary:                 #db2020;
@hzPrimaryHighlight:        darken(@hzPrimary,10%);

// Gas Town Products
//====================================================================================================================================
//====================================================================================================================================

@gasTownBrand: 	#6CB33F;

@r22: 			#bae0c9;
@r407f: 		#dae7a2;
@r134a:			#addfed;
@r410a:			#dd9ba5;
@r404a:			#f68e1e;
@r438a:			#4e84c4;
@r407c:			#ce6f18;
@r507a:			#00b1af;

// Application Layout Varibles
// -----------------------
@masonryColCount:	    8;
@masonryColGutter:	    1%;
@masonryContainerWidth:	    100% - @masonryColGutter;
@masonryColWidth:	    (@masonryContainerWidth / @masonryColCount) - (@masonryColGutter);

@masonryTabletColCount:	    6;
@masonryTabletColWidth:	    (@masonryContainerWidth / @masonryTabletColCount) - (@masonryColGutter);

@masonryPhoneColCount:	    4;
@masonryPhoneColGutter:	    2%;
@masonryPhoneColWidth:	    (@masonryContainerWidth / @masonryPhoneColCount) - (@masonryPhoneColGutter);
