
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

// Article Headline Module
//====================================================================================================================================
//====================================================================================================================================

.article-banner {
	.article-banner-title {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 50px;
		font-size: 42px;
	}

	.article-banner-description {
		margin-bottom: 0;
		overflow: hidden;
		max-width: 800px;
	}

	@media (max-width: 769px) {

		.article-banner-title {
			float: none;
			margin-top: 10px;
			margin-bottom: 10px;
		}	
	}

	@media (min-width: 769px) {
		margin-top: 20px;
	}
}

// Headline Module (Heading tag style variations)
//====================================================================================================================================
//====================================================================================================================================

.headline {
	&.article-headline {
		font-size: 52px;
		color: @reeceGrey;
	}
}

// Banner Border Module (Designed to be used on a hr)
//====================================================================================================================================
//====================================================================================================================================

.banner-border {
	border-width: 10px;
	border-bottom: 0;
}

.subnavbar {
	@media (min-width: 769px) {
		margin-bottom: 20px;
	}
}

// Account Details Summary Module
//====================================================================================================================================
//====================================================================================================================================

.headline-border {
	border-width: 10px;
	border-bottom: 0;
}

// Trade Navigation Module
//====================================================================================================================================
//====================================================================================================================================

.trade-navigation {
	width: 100%;
	margin-bottom: 0;

	> li {
		width: 20%;
	}

	> li > a {
		display: block;
		text-align: center;
		.transition(background-color);
		.transition-duration(0.5s);		
		color: white;

		@media (max-width: 769px) {
			.border-radius(0);
		}
	}

	.plumbing a {
		background-color: @brandingPlumbing;

		&:hover {
			background-color: darken(@brandingPlumbing, 10%);
		}
	}
	.irrigation a {
		background-color: @brandingIrrigation;

		&:hover {
			background-color: darken(@brandingIrrigation, 10%);
		}		
	}
	.civil a {
		background-color: @brandingCivil;

		&:hover {
			background-color: darken(@brandingCivil, 10%);
		}		
	}
	.hvacr a {
		background-color: @brandingHvacr;

		&:hover {
			background-color: darken(@brandingHvacr, 10%);
		}		
	}

	@media (max-width: 769px) {
		li {
			width: 100%;
		}
	}	
}

// Blog Article Modules And Base Classes
//====================================================================================================================================
//====================================================================================================================================

.article-summary-main, .article-summary-secondary {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid lighten(@reeceGrey, 60%);	

	h3 {
		margin: 0 0 6px;
	}
	small {
		margin-bottom: 3px;
	}
}

// Read More Link Module
//====================================================================================================================================
//====================================================================================================================================

.read-more {
	font-weight: bold;
	text-transform: uppercase;

	i {
		margin: 2px 0 2px 8px;
		.transition(margin-left);
		.transition-duration(0.5s);
	}

	&:hover {
		text-decoration: none;

		i {
			margin-left: 15px;
		}
	}

	&.large {
		font-size: 16px;
	}
}

// Blog Article Main Module
//====================================================================================================================================
//====================================================================================================================================

.article-summary-main {
	p {
		font-size: 15px;
		color: @reeceGrey;
	}	
	small {
		display: block;
		margin-top: 10px;
	}
	h3, p, small {
		padding-right: 15px;
	}	

	@media (max-width: 767px) {
		//margin-top: 20px;

		h3 {
			margin-top: 10px;
		}
	}
	@media only screen and (max-width : 979px) {
		margin-top: 20px;
	}
}

// Blog Article Secondary Module
//====================================================================================================================================
//====================================================================================================================================

.article-summary-secondary {
	font-size: 12px;	

	h3 {
		font-size: 15px;
	}

	p {
		line-height: 1.2;
	}

	small {
		display: block;
		margin-top: 5px;
	}

	@media (max-width: 767px) {
		.article {
			margin-top: 20px;
			.clearfix;

			&:first-child {
				margin-top: 0;
			}
		}
	}	
}

// Blog Article Preview Module (Submodule)
//====================================================================================================================================
//====================================================================================================================================

.article-summary-preview:extend(.article-summary-secondary all) {

	@media (max-width: 767px) {
		.article-image {
			float: left;
			margin-right: 10px;
		}
		.article-body {
			overflow: hidden;
		}
		small {
			margin-top: 0;
		}
	}	

	@media (max-width: 481px) {
		.article-image {
			max-width: 50%;
		}
	}	
}

// Blog Article Article (Submodule)
//====================================================================================================================================
//====================================================================================================================================

.article-main {
	.article-media {
		margin-bottom: 10px;
	}
	.article-actions {
		margin-top: 20px;
		list-style-type: none;

		li {
			margin-top: 10px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
	.label {
		margin: 3px;
	}
}

// Latest News Module (Submodule)
//====================================================================================================================================
//====================================================================================================================================

.latest-news:extend(.article-summary-main all) {
	margin-bottom: 0;
	padding-bottom: 0;	
	border-bottom: 0;

	h3 {
		margin-top: 10px;
	}
}

// Recommended Stories (Submodule)
//====================================================================================================================================
//====================================================================================================================================

.recommended-stories:extend(.article-summary-secondary all) {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;

	.article {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid lighten(@reeceGrey, 60%);	
	}
}

// Article List Module (A full page list of articles)
//====================================================================================================================================
//====================================================================================================================================

.article-list {
	.clearfix;

	@media only screen and (min-width : 979px) {
		.article-list-row {
			float: left;
			//Custom column mixin is not used because the percentage values needed to be tweaked slightly to make everything align
			//.custom-column-item(6);
			width: 47.9361702%; //Match Bootstrap styles
			margin-left: 1.41843971%;  //Match Bootstrap styles

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

// Recent Stories Module
//====================================================================================================================================
//====================================================================================================================================

.recent-stories {
	overflow: hidden;
	background-color: lighten(@reeceGrey, 60%);

	.article-summary-secondary {
		margin-bottom: 0;
		border-bottom: 0;
	}
}

// Button Container Module
//====================================================================================================================================
//====================================================================================================================================

.button-container {
	text-align: center;
}

.btn-account {
	.buttonBackground(@accountButton, lighten(@accountButton, 5%));
	border: 1px solid lighten(@accountButton, 50%);

	.caret {
		border-top-color: white;
		border-top-width: 6px;
	}
}

.btn-group.open .btn.btn-account {
	background-color: lighten(@accountButton, 15%);
}

// Facebook iframe Widget Hack
//====================================================================================================================================
//====================================================================================================================================

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style] {
	width: 100% !important;
}
