//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

.contact {
	color: @gray;
	.contact-sections, .grey-bg {
		a, a:link, a:visited, a:link {
			color: @reeceLightBlue
		}
	}
	h3 {
		margin: 2em 0 1em 0;
	}
	h3, h4 {
		color: @reeceBlue;
		line-height: 1.4em;
	}
	.breadcrumb {
		a, a:link, a:visited, a:link {
			color: darken(@lightBackground, 20%);
		}
	}
}
//To DO - Fix column width. In browser the 3 columns of sections look uneven
.contact-sections {
	.icon {
		height: 150px;
		margin: auto auto 2em auto;
		background: url(../images/aboutus/contact/contactus-icons.png) no-repeat;
	}
	/*
	.store-finder .icon {
		background-position: 0 0;
	}*/
	.product-info .icon {
		background-position: 50% 0;
	}
	.customer-care .icon {
		background-position: 50% -150px;
	}
	.cs-feedback .icon {
		background-position: 50% -300px;
	}
	.quote-product .icon {
		background-position: 50% -450px;
	}
	.login-issues .icon {
		background-position: 50% -600px;
	}
	.share-info .icon {
		background-position: 50% -750px;
	}
	.careers .icon {
		background-position: 50% -900px;
	}
	.account-update .icon {
		background-position: 50% -1050px;
	}
	.suppliers .icon {
		background-position: 50% -1200px;
	}
	.headoffice .icon {
		background-position: 50% -1350px;
	}
	section {
		margin: 1em 0 2em;
		padding: 0 2em;
		border-top: 1px solid @lightBackground; 
	}
	@media (min-width: 768px) {
		.row-fluid {
			//border-top: 1px solid @lightBackground;
			section {
				border-top: 0;
				border-right: 1px solid @lightBackground;
				&:nth-child(3n){
					border-right: none;
				}
			}

		}
		.contactSections{
			margin-top: 10px;
			padding-top: 20px;
			border-top: 1px solid @lightBackground;
		}
	}
}
.contact-form {
	
	.heading {
		margin-bottom: 1em;
	}
	.row-fluid {
		margin-bottom: 0.75em;
	}
	.inner-wrapper {
		border-top: 1px solid @lightBackground;
	}
	.placeholder {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	textarea {
		height: 186px;
		width: 100%;
		.box-sizing(border-box);
	}
	display: none;

	@media (min-width: 1200px) {
		input:first-child {
			margin-right: 10px;
		}
	// 	.selectricWrapper {
	// 		width: 98.5%
	// 	}
	}
	.submit {
		float: right;
	}
}

//Should this be a global style? Don't know yet, global style has not been defined
input[type="text"], input [type="email"], input[type="email"],  input[type="password"],
input[type="number"], textarea, .selectric-label {
	.border-radius(0);
	.box-shadow(none);
	padding: 1em 0.7em;
	height: auto;
	background: lighten(@lightBackground, 5%);
}
input[type="submit"] {
	background: #c91d1d;
	text-transform: uppercase;
	color: @white;
	border: 0;
	padding: 1em 1.8em;
	.border-radius(0);
}

.head-office {
	padding: 3em 0 4em 0;
	dt {
		color: @reeceBlue;
	}
	dt, dd {
		line-height: 2.1em;
	}
}
.storeContactWrap{
	padding-bottom: 10px;
	h4,h5{
		padding-bottom: 15px;
	}
	h5{
		padding-top: 10px;
		color: #009ddb;
		 font-weight: normal;
	}

	.plumbing{
	  color: #0d2e56;
	}
	.bathroom{
	  color: #db1e24;
	}
	.irrigation{
	  color: #5e792d;
	}
	.civil{
	  color: #b65312;
	}
	.hvac{
	  color: #0397d7;
	}
	.onsite{
	  color: #f47836;
	}
}
.selectStoreType{
	.clearfix;
	margin: 0;
	li{
		list-style: none;
		display: block;
		float: left;
		width: 32%;
		padding-right: 1.33%;
		&:nth-child(3n+1){
			clear: both;
		}
	}
}

