//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

.history {
	section {
		position: relative;
		color: @reeceWhite;
		padding: 1px 0;
	}
	.content-container {
		text-align: center;
	}
}

.nav-history {
	position: fixed;
	right: 25px;
	top: 40%;
	z-index: 50;
	li {
		text-align: center
	}
	a, a:link, a:visited, a:active, a:focus {
		display: block;
		text-indent: -999em;
		background: @reeceGrey;
		width: 13px;
		height: 13px;
		margin: 0 auto 12px auto;
		border: 2px solid rgba(255, 255, 255, 100%);
		outline: none;
		.border-radius(15px);
		.transition(0.5s all ease-in);
	}
	a:hover {
		background: lighten(@reeceGrey, 20%)
	}
	.active {
		a, a:link, a:visited, a:active {
			background: @reeceBlue;
			width: 17px;
			height: 17px;
		}
	}
}
.year{
	font-weight: 100;
	font-size: 100px;
	margin-top: 100px;
	text-align: center;
}
.yearDescription{
	font-size: 28px;
	line-height: 1.2em;
	letter-spacing: 2px;
	padding-bottom: 1em;
	font-weight: 100;
}

#slide-1 {
	color: @grayDarker;
	h1 { font-size: 74px;}
	h3 {
		font-size: 32px;
		font-style: italic;
		font-weight: 200;
	}
	p {
		width: 550px;
		margin: auto
	}
	padding: 2em 0;
	.reece-logo {
		opacity: 1;
		display: inline-block;
		margin: 3em 0;
	}
	.water-drop {
		position: relative;
		top: 0%;
		z-index: 10;
	}
}

#slide1954{
	background: #00A0AF;
	background-size: 100% auto;
	min-height: 500px;
	padding: 1px 0;
	h1 {

	}
	.tickerWrapper{
		background: #E6E7E8;
		margin: 2% 0 15%;
		padding: 40px 0;

		.ticker{
			background: url(../images/aboutus/history/ticker.png) repeat-x;
			height: 40px;
		}
	}

}

#slide1997{
	background: #5A4B42;
	background-size: 100% auto;
	min-height: 500px;
	padding: 1px 0;
	h1 {
		font-weight: 100;
		font-size: 100px;
		margin-top: 15%;
		text-align: center;
	}
	p{

	}
	.pipes{
		background: url(../images/aboutus/history/1997-pipes.png) center no-repeat;
		height: 238px;

	}
	.water{
		background: url(../images/aboutus/history/1997-water.png) -1350px 100% no-repeat;
		height: 238px;
	}
	.mapwrap{
		overflow: hidden;
		padding-bottom: 10%;
	}
	.map{
		background: url(../images/aboutus/history/1997-map.png) 0 0 no-repeat;
		width: 250px;
		height: 200px;
		float: right;
	}
}
#slide1998{
	background: #00AEEF url(../images/aboutus/history/1998-bg-cloud.png) center 100% no-repeat ;
	.buildingwrap{
		display: inline-block;
		width: 800px;
		height: 320px;
		.building{
			height: 150px;
			width: 300px;
			position: absolute;
			right: 200px;
			bottom: 0;
			background: url(../images/aboutus/history/1998-building.png) 0 -33% no-repeat;
		}
	}
	#sprinkler1998Wrap{
		position: relative;
		overflow: hidden;
		height: 320px;
	}
	.sprinklerItem{
		position: absolute;;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.grass{
		height: 70px;
		background: url(../images/aboutus/history/1998-bg-grass.png) 0 0 repeat-x;
		margin-top: -10px;
		
	}
}

#slide-3 {
	.wave {
		height: 106px;
		position: relative;
		top: -156px;
		background: url(../images/aboutus/history/bg-wave.png) repeat-x;
	}
	padding: 4em 0;
	background: #33424f;
	h1 {
		font-size: 158px;
	}
	h2 {
		font-weight: 100;
		font-size: 71px;
		width: 750px;
		margin: auto auto 3em auto;
	}
}



#slide-4 {
	.wave {
		height: 106px;
		position: relative;
		top: -156px;
		background: url(../images/aboutus/history/bg-wave-2.png) repeat-x;
	}
	padding: 4em 0;
	background: #142533;
	h1 {
		font-size: 158px;
	}
	h2 {
		font-weight: 100;
		font-size: 71px;
		width: 750px;
		margin: auto auto 3em auto;
	}
}


#FramesAnimation {
	width:619px;
	height:398px;
}




