
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";

// Branding Module (Customize)
//====================================================================================================================================
//====================================================================================================================================

.page-branding {
    &.text-brand {
        color: @brandingPlumbing;
    }
    &.sale-branding {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 41px;
        height: 40px;
        background-image: url("@{baseImagePath}/products_2013/products-plumbing-sale-icon.png");
    }      
}