	
	//Unused
	.custom-column (@columns: 3) {
		.clearfix();
		width: 100%;
		margin: 0;
		list-style-type: none;		

		li {
			float: left;
			.custom-column-item(@columns);

			&:first-child {
				margin-left: 0;
			}

			@media (max-width: 979px) {
				margin-left: 0;
				.custom-column-item(@columns + 3);

				& + li {
					margin-left: 0;
				}	
			}			
		}
	}

	.custom-column-item (@columns: 3) {
		margin-left: @fluidGridGutterWidth;
		*margin-left: @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);			
		width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1));
		*width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%);
	}

	.image-2x (@image, @width: auto, @height: @width) {
		@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
	    only screen and (-o-min-device-pixel-ratio: 13/10),
	    only screen and (min-resolution: 120dpi) {
	    	background-image: @image;
		    -webkit-background-size: @width @height;
		    -moz-background-size: @width @height;
		    -o-background-size: @width @height;
		    background-size: @width @height;
		}
	}		