.navbar-inner {
  background: #555;
  background: -moz-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(50%, #6d6d6d), color-stop(51%, #555555), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: -o-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: -ms-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333', GradientType=0);
  border-color: #333;
}
.navbar-container {
  max-width: 1600px;
  margin: 0 auto;
}
.navbar .nav > li > a {
  color: #e4e4e4;
  text-shadow: 0 -1px 0 #000000;
  font-weight: bold;
  padding: 11px 15px 9px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #fff;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: #444;
  background: -moz-linear-gradient(top, #333333 0%, #555555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #333333 0%, #555555 100%);
  background: -o-linear-gradient(top, #333333 0%, #555555 100%);
  background: -ms-linear-gradient(top, #333333 0%, #555555 100%);
  background: linear-gradient(to bottom, #333333 0%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#444444', GradientType=0);
  color: #fff;
  -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.35);
}
.navbar .sub-brand {
  display: block;
  float: left;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 200;
  text-transform: lowercase;
  color: #fff;
  background: #666;
}
.navbar .sub-brand:hover {
  text-decoration: none;
}
.navbar .btn-navbar {
  background: #555;
  background: -moz-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(50%, #6d6d6d), color-stop(51%, #555555), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: -o-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: -ms-linear-gradient(top, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #6d6d6d 50%, #555555 51%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#555555', GradientType=0);
  border: 1px solid #444;
}
.subnavbar {
  padding: 5px 0 5px;
  margin: 40px 0 0;
  background: #333333;
  background: -moz-linear-gradient(top, #333333 0%, #666666 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #666666));
  background: -webkit-linear-gradient(top, #333333 0%, #666666 100%);
  background: -o-linear-gradient(top, #333333 0%, #666666 100%);
  background: -ms-linear-gradient(top, #333333 0%, #666666 100%);
  background: linear-gradient(to bottom, #333333 0%, #666666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666', GradientType=0);
}
.subnavbar ul.nav {
  margin: 0 20px;
}
.subnavbar ul.nav li {
  display: inline-block;
  padding: 0 15px 0 0;
}
.subnavbar ul.nav li a {
  color: #ddd;
  text-shadow: 0 -1px 0 #000000;
  font-size: 12px;
}
.subnavbar ul.nav li a:hover,
.subnavbar ul.nav li.active a {
  background: none;
  color: #fff;
}
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }
  .navbar .brand {
    padding-left: 20px;
    padding-right: 20px;
  }
  .subnavbar {
    margin-top: 0;
  }
}
