//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

.history {
	section {
		position: relative;
		color: @reeceWhite;
	}
	.content-container {
		text-align: center;
	}
}

.nav-history {
	position: fixed;
	right: 25px;
	top: 40%;
	z-index: 50;
	li {
		text-align: center
	}
	a, a:link, a:visited, a:active, a:focus {
		display: block;
		text-indent: -999em;
		background: @reeceGrey;
		width: 13px;
		height: 13px;
		margin: 0 auto 12px auto;
		border: 2px solid rgba(255, 255, 255, 100%);
		outline: none;
		.border-radius(15px);
		.transition(0.5s all ease-in);
	}
	a:hover {
		background: lighten(@reeceGrey, 20%)
	}
	.active {
		a, a:link, a:visited, a:active {
			background: @reeceBlue;
			width: 17px;
			height: 17px;
		}
	}
}
#slide-1 {
	color: @grayDarker;
	h1 { font-size: 74px;}
	h3 {
		font-size: 32px;
		font-style: italic;
		font-weight: 200;
	}
	p {
		width: 550px;
		margin: auto
	}
	padding: 2em 0;
	.reece-logo {
		opacity: 1;
		display: inline-block;
		margin: 3em 0;
	}
	.water-drop {
		position: relative;
		top: 0%;
		z-index: 10;
	}
}

#slide-2 {
	background: #142533 url(../images/aboutus/history/bg-blue-tools.png) no-repeat top left;
	background-size: 100% auto;
	height: 1150px;
	h1 {
		font-size: 158px;
		text-align: center;
		padding-top:520px;
	}
	h2 {
		font-weight: 100;
		font-size: 71px;
		width: 750px;
		margin: auto;
	}
}

#slide-3 {
	.wave {
		height: 106px;
		position: relative;
		top: -156px;
		background: url(../images/aboutus/history/bg-wave.png) repeat-x;
	}
	padding: 4em 0;
	background: #33424f;
	h1 {
		font-size: 158px;
	}
	h2 {
		font-weight: 100;
		font-size: 71px;
		width: 750px;
		margin: auto auto 3em auto;
	}
}



#slide-4 {
	.wave {
		height: 106px;
		position: relative;
		top: -156px;
		background: url(../images/aboutus/history/bg-wave-2.png) repeat-x;
	}
	padding: 4em 0;
	background: #142533;
	h1 {
		font-size: 158px;
	}
	h2 {
		font-weight: 100;
		font-size: 71px;
		width: 750px;
		margin: auto auto 3em auto;
	}
}


#FramesAnimation {
	width:619px;
	height:398px;
}




