
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";

// I Love My Bathroom (ILMB)
//====================================================================================================================================
//====================================================================================================================================
.ilmb .main-wrapper {
    background: #fff;
}
.ilmb p.lead {
    line-height: 1.1;
}
.ilmb .tc {
    text-align: left;
}
.ilmb .inner-content .feature-gradient {
    padding: 20px;
    margin: 0 -20px;
}
.ilmb .feature-footer {
    padding: 10px 20px;
    background: #454545;
    color: #999;
}
.ilmb .feature-footer h5 {
    color: @white;
}
.ilmb .feature-footer i.icon-check {
    color: @green;
}
.ilmb #AjaxTargetWrapper {
/*    background: url(../images/ajax-loader.gif) no-repeat center;*/
}
.ilmb #AjaxTarget {

}
.ilmb .thumbnails li.flush {
    margin-left: 0;
}
.ilmb .inner-content {
    margin: 20px;
}
.ilmb .accordion-group {
    margin: 0;
    border: none;
}

.details-target {
  margin-bottom: 10px;
}

/* ILMB New Changes */
.ilmb{
  h3{
    font-size: 20px;
  }
  .red{
    color:#c81f1f;
  }
  .judge-thumb
  {
    float:left;
    margin: 10px 10px 10px 0px;
  }
  .judge-large
  {
    float:left;
    margin: 10px 10px 10px 0px;

  }
  .judge {
    display: block;
    float: left;
    h4{
      margin-top: 20px;
    }
  }
  .breadcrumb{
    background: black;
    .border-radius(0);
    >li{
      text-shadow:none;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
    }
    a{color: white}
  }
  /* Nav */
  a.showIlmbMenu{
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    background: black;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
  }
  .ilmbNav{
    background: #eff1f4;
    margin-bottom: 20px;
    overflow: visible;
    height: auto;
    .listItem{
      text-transform: uppercase;
      #gradient > .vertical(#fbfcfd, #eff1f4);
      a{
        display: block;
        padding: 20px;
        color: black;
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        background: #fdefee;
        a{
          color: #cc2518;
        }
      }
      .icon-large{
        font-size: 20px;
        display: block;
        float: left;
        margin-right: 5px;
      }
      .ilmbnavLinktext{
        display: block;
        height: 30px;
        line-height: 30px;
        margin-left: 30px;
      }
    }
  }
  /* Dates */
  .ilmbDates{
    background: #000;
    text-align: center;
    color: #fff;
    padding: 20px;
    h3{
      font-weight: normal;
      font-size: 18px;
      text-transform: uppercase;
    }
    dt{
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
  /* Forms */
  .actions{
    text-align: left;
  }
  .ilmbFormInput{
    .border-radius(0);
    border:solid 1px #000;
  }
  .ilmbRedBtn{
    background: #c81f1f;
    border:none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    .border-radius(0);
    text-shadow:none;
    .caret{
      border-top-color: white;
    }
  }
  /* Home Page */
  .home-wrapper{
    position: relative;
    overflow: hidden;
    border-top:solid 32px black;
    border-bottom:solid 32px black;
  }
  .homeBannerImage{
    max-width: 1160px;
  }
  .home-content-wrapper{
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
  }
  /* Home Content */
  .home-content{
    margin-top: 15%;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    .ilmbFormInput{
      width: 35%;
    }
    .ilmbNav,.ilmbBanner,.ilmbDates{
      display: table-cell;
      vertical-align: top;
    }
    .ilmbBannerInner{
      position: relative;
    }
    .ilmbNav{
       width: 20%;
       min-width: 200px;
      .listItem{
        a{
          padding: 20px 25px;
        }
        &.longNavLink{
          .icon-large{
            position: relative;
            top: 3px;
          }
          .ilmbnavLinktext{
            line-height: 17px;
          }
        }
      }
    }
    .ilmbBanner{
      background-color:white;
      background: rgba(255,255,255,0.7);
      text-align: center;
      padding: 20px;
      position: relative;
      p.ilmbBannerDesc{
        padding: 0 40px;
      }
    }
    .ilmbLogoWrap{
      padding: 100px 20px 20px;
      position: relative;
    }
    .ilmbBannerPrize{
      width: 190px;
      position: absolute;
      top: -60px;
      right: 1%;
    }
    .ilmbDates{
      width: 20%;
    }
  }
  /* Other Pages */
  /* ilmb Page Header */
  .ilmbPageHeader{
    text-align: center;
    margin: 5px 25px 5px;
    img{
      width: 300px;
      margin-top: 20px;
    }
    .pageTitle{
      color: #cc2518;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: normal;
      display: block;
      padding-top: 20px;
    }
  }
  /* past winners */
  .thumbnails > li{
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 10px;
    }
  }
  a.ilmbReadStoryLink{
    color: #cc2518;
     text-transform: uppercase;
     float: right;
     padding-top: 13px;
  }
  .ilmbThumb{
    position: relative;
    .ilmbWinnerBadge{
      position: absolute;
      left: 20px;
      bottom: 20px;
      background:black;
      height: 30px;
      width: 70px;
      padding: 40px 20px;
      color: white;
      text-align: center;
      .border-radius(50%);
      .ilmbYear{
        display: block;
        font-size: 26px;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
  .ilmbThumbHd{
    margin-right: 130px;
    margin-bottom: 30px;
    margin-top: 0;
    .ilmbEntryName,.ilmbEntryPlace{
      display: block;
      color: black;
      text-transform: uppercase;
      font-size: 14px;
    }
    .ilmbEntryName{
      padding-bottom: 3px;
    }
  }
  /* Prizes */
  .prizeBanner{
    font-weight: bold;
    font-style: italic;
    color: #cc2518;
    text-align: center;
    .prizeBannertext{
      font-size: 30px;
      line-height: 1em;
      width: 100px;
      display: inline-block;
    }
    .prizeBannerAmount{
      font-size: 75px;
      line-height: 1em;
      display: inline-block;
    }
  }
}
@media (max-width:979px){
  .ilmb{

      .homeBannerImage{
        max-width: 2000px;
        width: 2000px;
        margin-left: -40%;
      }
    .home-content{
      display: block;
      margin-top: 20px;
      .ilmbNav,
      .ilmbBanner,
      .ilmbDates{
        display: block;
        width: auto;
      }
      .ilmbBanner,.ilmbDates{
        margin-top: 20px;
      }
      .ilmbHomeTopNav{
        display: none;
      }
      .ilmbNav{
        position: static;
        height: 0;
        overflow: hidden;
        .listItem{
          position: static;
          display: block;
          height: auto;
          .icon-large{
            float: none;
            display: inline-block;
          }
          .ilmbnavLinktext{
            margin: 0;
            display: inline-block;
          }
          a{
            padding: 20px 15px !important;
          }
          &.longNavLink{
            .icon-large{
              position: static;
            }
            .ilmbnavLinktext{
              line-height: 30px;
            }
          }
        }
      }
    }
  }

}
@media (min-width:768px) and (max-width:979px){
  .ilmb{
    .ilmbNav .listItem a{
      font-size: 13px;
      padding: 20px 10px;
    }
    .prizeBanner{
      .prizeBannertext,.prizeBannerAmount{
        display: block;
        width: auto;
      }

    }
  }
}
@media (max-width:767px){
  .ilmb{
    .inner-content{
      margin: 20px 0;
    }
    .home-content-wrapper{
      left: 20px;
      right: 20px;
    }

    .ilmbNav {
      height: 0;
      overflow: hidden;
      .listItem{
      text-align: center;
      .icon-large,.ilmbnavLinktext{
        display: inline-block;
        float: none;
        margin: 0
      }
    }
  }
  }
}

@media (max-width:480px){
  .ilmb{

    .homeBannerImage{
      max-width: 2200px;
      width: 2200px;
      margin-left: -50%;
    }
  .ilmbThumb{
    .ilmbWinnerBadge{
      height: 30px;
      width: 50px;
      padding: 20px 10px;
      font-size: 11px;
      .ilmbYear{
        font-size: 18px;
      }
    }
  }
    .home-content{
      .ilmbLogoWrap{
        padding: 10px;
      }
      .ilmbBanner{
        margin-top: 10px;
        p.ilmbBannerDesc{
          padding: 0 20px;
        }
        h3{
          padding-left: 0;
        }
      }
      .ilmbBannerPrize{
        margin: 20px 0 20px 20px;
        position: static;
        float: right;
      }
      .ilmbFormInput{
        width: 95%
      }
      .ilmbNav{
        .listItem{
          .ilmbnavLinktext{
            font-size: 12px;
          }
        }
      }
      .ilmbBannerPrize{
        float: none;
        margin:20px auto;
      }
    }
  }
}
@media (max-width:350px){
  .ilmb{
    .home-content{
      .ilmbBannerPrize{
        width: auto;
      }
    }
  }
}
@media (min-width:1200px){
 .ilmb{
  .prizeBanner{
    .prizeBannertext{
      font-size: 35px;
    }
    .prizeBannerAmount{
      font-size: 85px;

    }
  }
  .home-content .ilmbBannerPrize{
    width: 209px
  }
 }
}

/* End of New Changes */
.ilmb .winnerSideBar {
    padding:20px;
    height:auto;
}

.ilmb .winnerSideBar p{
font-size:13px;
line-height:120%;
}
.ilmb .winnerSideBar h3{
font-size:18px;
margin:0px 0px 5px 0px;
}
.ilmb .winnerDetails{
padding:20px 0px 0px 20px;
}
.ilmb .winnerDetails p{
    font-size:16px;
    line-height:130%;
}
.ilmb .images {
    padding:10px 0px 0px 20px;
}
.ilmb .ilmb-winner h3{
    font-size:22px;
    margin-left:30px;
}
.ilmb .ilmb-winner p{
    font-size:16px;
    margin-left:30px;
    line-height: 130%;
}
.ilmb .ilmb-winner h3 span{
font-weight:normal !important;
}
.ilmb .winnerImages{
    padding:20px 0px 0px 0px;

}

.ilmb .winnerImages .thumbs{
}

.ilmb .winnerImages .thumbs img{
    margin-bottom:10px;
    width: 24% !important;
}

.ilmb .winnerPlan{
     background:#EFEFEF;
     margin-top:10px;
     margin-left:20px;
     margin-bottom:20px;
     padding:20px;
     width:94%;
}
.ilmb .winnerPlan a{
 color:#666;
}
 .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

// I Love My Bathroom (ILMB) Media Queries
//====================================================================================================================================
//====================================================================================================================================

@media (max-width: 979px) {
    .ilmb .ajax-target {
	   width: 100%;
	   margin: 0;
    }
    .ilmb .ajax-target .inner-content {
	   margin: 20px;
    }
    .ilmb .winnerSideBar img {
        width: 100%;
        margin-bottom: 10px;
    }
}


@media (max-width: 767px) {
    .ilmb .winnerPlan {
        margin-left: 0px;
    }
    .ilmb .winnerImages {
        padding: 20px 0px 0px 20px;
    }
    .ilmb .winnerSideBar img {
        width: 150px;
        float:none;
    }
    .ilmb .images {
        padding: 10px 0px 0px 0px;
    }
}

@media (max-width: 640px) {
    .ilmb .winnerPlan {
        margin-left: 0px;

        .ilmb .winnerImages .thumbs img {
            width:150px !important;
        }
    }
}

@media (max-width: 480px) {
    .ilmb .winnerPlan {
        margin-left: 0px;
        padding: 0px;
        width: 100%;
    }
    .ilmb .winnerImages{
        padding-left:0px;
    }
    .ilmb .winnerImages .thumbs img{
        margin-bottom:10px;
        width: 100% !important;
    }
}


@media (max-width: 320px) {
    .ilmb .winnerPlan {
        margin-left: 20px;
        padding: 0px;
        width: 88% !important;
    }
    .ilmb .ilmb-winner p {
        width: 80%;
    }
    .ilmb .ilmb-winner h3 {
        font-size: 18px;
    }
    .ilmb .winnerImages {
        padding: 0px 0px 0px 0px;
    }
    .ilmb .images {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .ilmb .winnerImages .thumbs img {
        width:100% !important;
        padding: 0px 0px 0px 0px;
    }

    .ilmb .winnerSideBar img {
        width: 100%;
        margin-bottom: 10px;
    }
}
