
//Bootstrap imports
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";


// Global Declarations
//====================================================================================================================================
//====================================================================================================================================

a {
    color: @linkDefault;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

// Utility Classes
//====================================================================================================================================
//====================================================================================================================================

.bottom-space {
    margin-bottom: @baseLineHeight;
}
.top-space {
    margin-top: @baseLineHeight;
}

// Custom Carousel Arrows (Bootstrap Override)
//====================================================================================================================================
//====================================================================================================================================

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
    color: #555;
}

.carousel {

    &.light {
        .carousel-control {
            color:#fff;
        }
    }

    &.opacity6 {
        .carousel-control {
            .opacity(60);
        }
    }
    &.opacity7 {
        .carousel-control {
            .opacity(70);
        }
    }
    &.opacity8 {
       .carousel-control {
            .opacity(80);
        }
    }
    &.opacity9 {
       .carousel-control {
            .opacity(90);
        }
    }
}

// Custom Button Module
//====================================================================================================================================
//====================================================================================================================================

.btn-highlight {
    .buttonBackground(@warmHighlightBackground, @warmHighlightBackground);
    .border-radius(0);
}

.btn-highlight-alternate {
    .buttonBackground(lighten(@reeceGrey, 10%), lighten(@reeceGrey, 10%));
    .border-radius(0);
}

// Read more link with animated arrow - copied from reece-aboutus.less
//====================================================================================================================================
//====================================================================================================================================

.read-more,
.more-articles {
  font-weight: bold;
  text-transform: uppercase;
}
.read-more i {
  margin: 2px 0 2px 8px;
  -webkit-transition: margin-left;
  -moz-transition: margin-left;
  -o-transition: margin-left;
  transition: margin-left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.read-more:hover {
  text-decoration: none;
}
.read-more:hover i {
  margin-left: 15px;
}

.download-pdf {
    color: @reeceLightBlue;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}
.grey-bg {
    background: @lightBackground;
}
.grey-bg + footer {
    margin-top: 0
}

// Page Wrapper Module
//====================================================================================================================================
//====================================================================================================================================

.ocnav-wrapper {
    display: none;
    position: fixed;
    right: 0;
    width: 250px;
    padding: 5px 0 20px 30px;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 999;
    background: @ocnavBackground;
    box-shadow: inset 20px 0 15px -15px rgba(0,0,0,0.8);
    color: @ocnavTextColor;
}
.ocmain-wrapper {
    -webkit-transition: 0.5s left ease-in-out;
    -moz-transition: 0.5s left ease-in-out;
    -o-transition: 0.5s left ease-in-out;
    transition: 0.5s left ease-in-out;
}
.ocnav-wrapper {
    -webkit-transition: 0.5s right ease-in-out;
    -moz-transition: 0.5s right ease-in-out;
    -o-transition: 0.5s right ease-in-out;
    transition: 0.5s right ease-in-out;
}
.ocmain-wrapper {
    width: 100%;
    position: relative;
    z-index: 1001;
    left: 0;
}
.ui-loader {
    display: none;
}

@media (max-width: 979px) {

    .ocnav-wrapper {
		display: block;
    }
    .off-canvas-open .ocnav-wrapper {
		right: 0;
    }
    .off-canvas-open .ocmain-wrapper {
		left: -280px;
    }
    .ocnav-wrapper .nav {
		border-top: 1px solid @ocnavDarken;
		border-bottom: 1px solid @ocnavHighlight;
    }
    .ocnav-wrapper .nav li {
		border-top: 1px solid @ocnavHighlight;
		border-bottom: 1px solid @ocnavDarken;
    }
    .ocnav-wrapper .nav li a {
		color: @ocnavTextColor;
		text-shadow: 0 -1px 1px @ocnavDarken;
		padding: 10px 0;
		font-size: @fontSizeLarge;
    }
    .ocnav-wrapper .nav li a:hover, .ocnav-wrapper .nav li a:focus {
		background: none;
    }
    .ocnav-wrapper .nav li > .nav li,
    .ocnav-wrapper .nav li > .nav {
		border-top: none;
		border-bottom: none;
    }
    .ocnav-wrapper .nav li > .nav li a {
		padding: 7px 10px;
		border-radius: 5px 0 0 5px;
    }
    .ocnav-wrapper .nav li > .nav li a:hover {
		background: darken(@ocnavBackground, 3%);
    }
}

// Breadcrumb Module
//====================================================================================================================================
//====================================================================================================================================

.breadcrumb {
    /* floating breadcrumb elements to add the search and location to it. */
    .clearfix;
    margin-top: 20px;
    background-color: @lightBackground;
    li{
        display: block;
        float: left;
    }
    a {
        color: darken(@lightBackground, 20%);
    }
}


// Content Wrapper Modules
//====================================================================================================================================
//====================================================================================================================================

.main-header .header-container, .main-footer .footer-container, .masonry-container, .content-container {
    max-width: 1200px;
    margin: 0 auto;
}
.main-header .title-wrapper, .content-container .inner-wrapper {
    margin: 0 20px;
}

// Main Header Module
//====================================================================================================================================
//====================================================================================================================================

.navbar-fixed-top .brand {
    margin-left: 0px;

    @media (max-width: 979px) {
        margin-left: 0;
    }
}

// Video Fix
//====================================================================================================================================
//====================================================================================================================================



.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 5px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





// Navigation Modules
//====================================================================================================================================
//====================================================================================================================================
@media (min-width:980px){
    body{
        padding-top: 73px;
    }
    body.withSubNav{
        padding-top: 50px
    }
    body.withHappinessSubNav{
        padding-top: 50px;
    }
}
.topNav{
    background: #3f3f3f;
    .clearfix;
    position: absolute;
    top: -50px;
}
.navHeader{
    padding-bottom: 0px;
}
.navbar-container {
    max-width: 1200px;
    margin: 0 auto;

}
.navbar .nav {
margin: 0 0 0 12px;
}
.navbar .nav > li > a {
    color: #ccc;
    text-shadow: none;
    padding:15px 8px;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
}
.navbar .brand{
  width: 120px;
  height: 50px;
  margin-bottom: 0px;
  background: #FFFFFF url('../images/reece-logo.png') no-repeat 0px;
  background-size: 100%;
  float: left;
}
.navbar .mobile-logo{
    height: 49px;
    width: 101.5px
}

.menuButton {
    color: #ffffff;
    text-shadow: none;
    font-size: 14px;
    background: #272727!important;
    width: 80px!important;
    .burger {
        display: block;
        float: right;
        margin-left: 10px;
        .icon-bar {
            margin-left: 0!important;
        }
    }
    &:hover {
        color: #ffffff;
    }
}

@media (min-width: @navbarCollapseDesktopWidth) and (max-width: 1200px){
    .navbar .nav > li > a {
        padding: 15px;
    }
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #fff;
    box-shadow: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background: none;
    color: #fff;
    box-shadow: none;
}


.navbar .sub-brand {
    display: block;
    float: left;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 200;
    text-transform: lowercase;
    color: #fff;
    background: #666;
}
.navbar .sub-brand:hover {
    text-decoration: none;
}



.headerUtilityLinks{
    display: block;
    margin: 0;
    margin-right: 70px;
    color: #d3d4d5;
    font-size: 12px;
    float: right;
    padding:10px 3px 10px 0;
    &>li{
        display: block;
        float: left;
        list-style: none;
        padding: 5px;
        &:before{
            content: '|';
            padding: 0 5px;
        }
        &:first-child:before{
            display: none;
        }
    }
    .caret{
        border-top-color: @white;
    }
    a{
        color: #d3d4d5;
        font-weight: 200;
        letter-spacing: 1px;
        &:hover,&:focus{
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1190px) {
    .headerUtilityLinks > li > a {
        font-size: 20px;
        letter-spacing: -2px;
    }

    .headerUtilityLinks > li > a .only-icon {
        display: none;
    }

    .headerUtilityLinks .locationDropDown .dropdown-menu {
        right: 0!important;
        left: auto;
    }

    .cart-count {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

.headerNavSearchForm{
    display: inline-block;
    position: absolute;right: 0;
    top: 0;
    margin: 0;
    padding:2px 5px 2px 8px;
    margin: 10px 0;
    background:#d3d4d5;
    float: right;
/*    width:242px;*/
    input{
        background: none;
        border: none;
        margin: 0;
        padding:0;
        color: #3f3f3f;
        width: 30px;
        font-size: 12px;
        position: relative;
        z-index: 9000;
        top:-3px;
        border-bottom: solid 1px #aaa;
        .border-radius(0);
        -webkit-appearance: none;
        -webkit-border-radius:0;
        border-radius:0;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        &:focus{
            width: 200px;
            color: #d3d4d5;
            border-bottom-color: #aaa;
        }
    }
    label{
        display: inline-block;
        width: auto !important;
        margin: 0;
        color:#3f3f3f;
    }
    .icon{
        font-size: 16px;
    }

}



/* Nav Bar */
.navbar .btn-navbar,.navbar .btn-navbar:hover{
    margin: 5px 5px;
    background: none;
    border: none;
    .btnNavbarText{
      float: left;
      color: white;
      display: block;
      text-shadow:none;
    }
    .icon-bar{
      margin-left: 50px;
    }
}

.navWrap{
    .clearfix;
    position: relative;

}
.subnavbar {
    background: #999999;
    .clearfix;
    margin: 0 !important;
    width: 100%;
    z-index: 999;
    &.nav-up {
        top: 0px
    }
    &.fixed {
  position:fixed;
  top:0px;
  right:0px;
  left:0px;
  z-index: 9999;

}
}

.subnavbar ul.nav {
    margin: 0 15px;
}
.subnavbar ul.nav li {
    display: inline-block;
    .ie7-inline-block();
}
.subnavbar ul.nav li a {
    color: #ddd;
    padding: 10px 15px 10px 0;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
}
.subnavbar ul.nav li a:hover,
.subnavbar ul.nav li.active a {
    background: none;
    color: #fff;
}

.headerUtilityLinks{

    .locationDropDown.open,.userDropDown.open{
        a {
            /*color: @reeceLightBlue;*/
        }
    }
    .dropdown-menu{
        margin: 0;
        padding: 10px 20px;
        .border-radius(0 0 0 0);
        border-top:none;
        left: auto;
        right: 0px;
        top: 40px;
        width: 100%;
        min-width: 300px;
        background: #f0f0f0;
      .login {
        /*padding: 10px;*/
        h5 {
            color: #3f3f3f;
            font-size: 18px;
        }
        .forgotLink {
            color: #bd1f12;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0;
        }
      }
      .dontHave {
        background: #e2e2e2;
        width: 340px;
        height: 115px;
        margin-top: 38px;
        margin-left: -20px;
        border-top: SOLID 1px #d1d1d1;
        padding: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        h5 {
            margin: 0 0 10px 0;
            color: #3F3F3F;
            font-size: 14px;
        }
      }
      .btn-retail
      {

        float: none !important;
        display: block;;
        width: auto;
        background: #009DDB;
        color: white;
        .border-radius(0);
        &:hover{
            background:#42bdee;
        }
        &:last-child{
          background: #555;
        }
      }
      .btn
      {
        float:right;
        text-shadow: none;
        background-image: none;
        filter: none;
        border: 0px solid #cccccc;
        .border-radius(0);
        .box-shadow(none);
      }
       .andRight
      {
        margin-right:10px;
      }
         .loginButton
      {
        background:#009DDB;
        color:#FFFFFF;
        width: 146px;
          &:hover{
            background:#42bdee;
        }
      }
        .tradeButton
      {
        background:#0D2E56;
        color:#FFFFFF;
        &:hover{
            background:#153c6a;
        }
      }
        .retailButton
      {
        background:#DB1E27;
        color:#FFFFFF;
        &:hover{
            background:#e4484f;
        }
      }
        .btn-Login
      {
        float:left;
        width: 48%;
        font-size: 12px;
        padding: 10px 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
    .dropdown-menu > .register {
    display:none;
    }
}
/* Location DropDown */
.locationDropDown{
    padding:5px 10px !important;
    font-size: 12px;
    position: relative;
    a:focus, a:hover{
        text-decoration: none;
    }
    .dropdown-menu{
        left: 0;

    }
    form{
        margin: 0;
    }
    input{
        background: #f7f7f7;
        border: solid 1px #d1d1d1 !important;
        .box-shadow(none);
        .border-radius(0);
        margin: 10px auto 8px auto;
        display: block;
        width: 95%;
        height: 15px;
        font-size: 12px;
        padding: 10px 5px;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
    }
    ul{
        margin: 0;
        padding-top: 5px;
        font-size: 14px
    }
    li{
        list-style: none;
        display: block;
        a{
            display: block;
            padding: 3px ;
            color: #848484 !important;
            font-size: 13px;
            border-bottom: SOLID 1px rgba(0,0,0,0.05);
            display: block;
            width: 300px;
            margin-left: -20px;
            padding: 7px 20px;
            font-weight: normal;
            letter-spacing: 0;
        }
        &:last-child {
            a {
                border-bottom: 0;
            }
        }
    }
    p{
        margin-bottom: 5px;
    }

    .locationSelected {
        font-size: 14px;
        color: #848484;
        margin: 5px 0;
        .btn {
            margin-top: 15px;
        }
    }
}
/* User DropDown */
.userDropDown{
    padding:5px 10px !important;
    font-size: 12px;
    position: relative;
    a:focus, a:hover{
        text-decoration: none;
    }
    form{
        margin: 0;
    }
    label {
        display: inline-block;
        input {
            margin: 0
        }
    }
    input[type=text], input[type=password], input[type=email], input[type=number]{
        background: #f7f7f7;
        border: solid 1px #d1d1d1 !important;
        .box-shadow(none);
        .border-radius(0);
        margin: 5px 0;
        display: block;
        width: 95%;
        height: 15px;
        font-size: 12px;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
    }
    ul{
        margin: 0;
        padding-top: 5px;
        font-size: 14px
    }
    li{
        list-style: none;
        display: block;
        a{
            display: block;
            padding: 3px 3px 3px 15px;
            color: #7f7f7f !important;
            font-size: 13px;
        }
    }
    .login-form {
        /*padding-bottom: 10px;*/
        /*margin-bottom: 5px;*/
        border-bottom: 0px solid lighten(@reeceGrey, 10%);
        input {
            float: left;
            width: 95%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 13px;
            background: #ffffff;
            padding: 10px 5px;
        }
        .clearfix;
    }
    .loginNoAccount {
        /*float: left*/
    }
    .loginDisclaimer {
        line-height: 1.2em;
        margin-bottom: 5px
    }
    input.btn-login {
        width: auto;
    }

    .dropdown-menu {
        padding: 10px 20px 0 20px;
    }
}


/* Happiness */
.happiness-subNav{
    background: #c91d1d;
    .navbar-container{
        background: url('../images/happiness-logo.png') right center no-repeat;
        background-size: 154px 21px;

    }
    ul.nav li a {
        color: @white;
        font-size: 14px;
        font-weight: 200;
        padding:10px 15px;
        letter-spacing: 1px;
    }
    .active{
        background: #d63232;
    }

    ul.nav{
        margin: 0;
        float: none;
        .clearfix;
        position: relative;
    }
    .subNavDropDown{
        position: absolute;
        top: 100%;
        width: 100%;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
        background: #fff;
        display: none;
    }
    li:hover .subNavDropDown{
        display: block;
    }
    .subNavDropDownInner{
        padding: 20px;
        ul{
            margin: 0;
            padding: 0
        }
        li{
            display: block !important;
            float: none;
        }
        ul li a {
            color: #444 !important;
            display: block;
            padding: 3px 0 !important;
            font-size: 13px;
            font-weight: normal;
        }
    }
    h3{
        color: #c81818;
        font-size: 16px;
        font-weight: bold;
        border-bottom: solid 1px #c81818;
        padding-bottom: 10px;
    }
}

.nav {
    border-top: 0!important;
}

.mobileLogin {
    border-top: 0!important;
    #mobile-login {
        background: #F0F0F0;
        color: #3F3F3F;
        width: 240px;
        margin-left: -30px;
        margin-top: 4px;
        border-sizing: border-box;
        -moz-border-sizing: border-box;
        -webkit-border-sizing: border-box;
        padding: 0 20px 0 20px;

        h5 {
            font-size: 18px;
            margin-top: 20px;
        }

        .forgotLink {
            color: #BD1F12;
            text-shadow: none;
        }
    }
    form {
        width: 100%;
        margin-bottom: 0;
        input {
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: auto;
            padding: 10px;
            border: none;
            border-radius: 0;
        }

        .forgotLink {
            font-size: 14px!important;
            line-height: 40px;
            padding: 0!important;
        }

        .loginButton {
            background: #009DDB;
            color: #ffffff;
            border: 0;
            border-radius: 0;
            float: right;
            width: auto;
        }

        .btn-lg {
            font-size: 16px;
        }

        .dontHave {
            background: #E2E2E2;
            padding: 20px 20px;
            margin: 10px 0 0 -20px;
            width: 240px;

            h5 {
                margin: 0  0 15px 0!important;
                color: #3F3F3F;
                font-size: 14px!important;
            }

            .tradeButton {
                background: #0D2E56;
                margin-bottom: 10px;
            }

            .retailButton {
                background: #DB1E27;
            }

            .tradeButton:hover {
                background: #153C6A;
            }

            .retailButton:hover {
                background: #E4484F;
            }

            .btn-Login {
                width: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                font-size: 14px;
                padding: 5px 10px;
                border-radius: 0;
                border: none;
                box-shadow: none;
                text-shadow: none;
            }
        }
    }

    .logged-in {

        a {
            display: block;
            background: #009DDB;
            color: #ffffff;
            margin-top: 5px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 90%;
            padding: 10px!important;
            text-shadow: 0!important;
        }

    }

    ul {
        margin-bottom: 0;

    }

}

/* */
@media (max-width: 979px) {
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
	   padding: 0;
    }
    .subnavbar {
	   margin-top: 0;
    }
}

// Carousel Module
//====================================================================================================================================
//====================================================================================================================================

#headCarousel {
  max-width: 1500px;
  margin: auto;
}

.carousel-control {
  outline: none;
}

.carousel .item > img {
  margin: auto;
}

.carousel-control {
  top: 50%;
}

// Custom Carousel Control Module
//====================================================================================================================================
//====================================================================================================================================

.custom-carousel-control {

    //Need to use some magic numbers here as the layout does not accommodate 'special buttons' very well
    .carousel-control {
        width: auto;
        top: auto;
        font-size: 80px;
        left: auto;
        right: 0;

        &.top {
            top: -10px;
        }

        &.bottom {
            bottom: -10px;
        }

        &.left {
            right: 20px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }
}


// Footer Modules
//====================================================================================================================================
//====================================================================================================================================

.site-footer {
    background: white;
    margin-top: 35px;
}

.social {
    background: lighten(@reeceGrey, 50%);
    padding: 15px 10px;
}

.social-footer {

    li {
        list-style: none;
        display: block;
        float: left;
        margin: 0 10px 0 0;
        padding: 0;
        line-height: normal;

        &.contact {
            float: right;
        }

        i {

        }

        &.plumbing a:hover {
            color: @brandingPlumbing;
        }

        @media (max-width: 480px) {
             margin: 0 0 0 5px;

             &:first-child {
                margin: 0;
             }
        }
    }

    a {
        font-size: 12px;
        color: @grayDark;

        &:hover {
            text-decoration: none;
            color: @brandingBathrooms;
        }
    }
}

.sitemap-footer {
    padding-top: 20px;

    ul {
        margin: 0 50px 0 0;
        padding: 0;
    }

    h4 {
        margin: 0 50px 0 0;
        padding: 0 0 5px 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            display: block;
            padding: 3px 0;
            border-top: 1px solid #CCC;
        }
    }

    a {
        color: #454545;
        font-size: 12px;
        outline: none;
        font-weight: normal;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
            color: #999;
        }
    }

    .accordion-group {
        border: none;
    }

    .accordion-heading {
        border-bottom: 1px solid #CCC;
        padding: 5px 0;

        .accordion-toggle {
            padding: 0;
        }
    }

    .accordion-inner {
        border: none;
        padding: 0;

        a {
            border-top: none;
            border-bottom: 1px solid #CCC;
        }
    }

    .icon-plus {
        float: right;
        font-size: 11px;
        color: #ccc;
    }

    .hvacr {
        a {
            &:hover, &:focus {
                color: @brandingHvacr;
            }
        }
    }

    .bathrooms {
        a {
            &:hover, &:focus {
                color: @brandingBathrooms;
            }
        }
    }

    .plumbing {
        a {
            &:hover, &:focus {
                color: @brandingPlumbing;
            }
        }
    }

    .irrigation {
        a {
            &:hover, &:focus {
                color: @brandingIrrigation;
            }
        }
    }

    .onsite {
        a {
            &:hover, &:focus {
                color: @brandingOnsite;
            }
        }
    }

    .civil {
        a {
            &:hover, &:focus {
                color: @brandingCivil;
            }
        }
    }
}

// Media Queries (Bootstrap Responsive Overrides)
//====================================================================================================================================
//====================================================================================================================================


@media (max-width: 1180px) {

    .navbar .nav {
    width: 594px;
    }


    .navbar .nav > li > a {
    padding: 17px 0px 0px 18px;
    font-size: 13px;
    }


}






@media (max-width: 979px) {

    .navbar-fixed-top {
        margin: 0;

    }

    .ocmain-wrapper {
        background-color: @white;
        position:absolute;
        min-height:100%
    }


    .content-container {
       margin-top:80px;
    }

        .topNav {
    top: 0px;
}



}

@media (max-width: 768px) {
    .navbar-fixed-top {
        margin: 0;
        position: static;
    }
    body {
        padding: 0;
    }
    .content-container{
      margin-top: 0;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
	    only screen and (-o-min-device-pixel-ratio: 13/10),
	    only screen and (min-resolution: 120dpi) {
    .navbar .brand{
        background-image: url('../images/reece-logo2X.png');
    }
    .happiness-subNav{
        .navbar-container{
            background-image: url('../images/happiness-logo2X.png');
        }
    }
}

/* Location Modal */
.locationModal{
    text-align: center;
    max-width: 330px;
  h3{
    color: #c91d1d;
    font-weight: normal;
    font-size: 20px;
  }
  .dropdown{
    border: solid 1px @white;
  }
    a{
        color: #333;
    }
  .open{
        border: solid 1px rgba(0,0,0,0.2);
        border-botom: none;
        .border-radius(10px 10px 0 0);
  }
  .dropdown{
    position: relative;
    display: inline-block;
    text-align: left;
  }
  .modal-body{
    overflow-y: visible;
    padding: 30px 15px 20px;
  }
  .btn-modal{
    background: #c91d1d;
    border: none;
    padding: 5px 20px;
    letter-spacing: 1px;
    color: @white;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;

  }
  .actionWrap{
    padding-top: 10px
  }
}
//Single sign on (SSO)
.sso {
    .trade-form {
        display: none
    }
}

// ==========================================
// new buttons
// ==========================================
.largeBtn{
  border:none;
  background: #3f3f3f;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding:10px 15px;
  &:hover{
    background: #4d4d4d;
  }
  &.primary{
    background: #DB1E27
  }
}

// ==========================================
// Retail and trade login
// ==========================================


.myAccountLoginWrap{
  color: #abaaaa;
  a{
    color:#bd1f12
  }
  input[type="text"],input[type="password"],input[type="email"]{
    .border-radius(0);
    padding: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 0;
    .box-sizing(border-box);
  }
  .controls{
    padding: 10px 0;
    position: relative;
  }
  .actions{
    padding-top: 10px;
  }
  .darkBlueLightHd{
    color:#131313;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
  }
  .accountNumberHelp{
    position: absolute;
    right: 7px;
    top: 17px;
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #00aeef;
    margin-left: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    .border-radius(50%);
    cursor: pointer;
  }
  h2{
    color: #042b4e;
    font-size: 25px;
    padding-bottom: 20px;
  }

  .openTradeAccount {
    margin: 40px 0 0 0;
    text-align: center;
    a {
        display: inline-block;
        text-align: center;
        background: #009DDB;
        color: #ffffff;
        font-size: 16px;
        padding: 20px;
    }
  }

  .myAccountLoginWrapGray{
    background: #f0f0f0;
    color: #818181;
    h3{
      color:#3f3f3f;
      padding-top: 30px;
      padding-left: 40px;
      font-size: 17px;
    }
    h3,h4{
      margin-top: 0;
    }

    .applySteps{
      padding: 0 10px 0 40px;
      h4{
        padding-top: 5px;
      }
      ul{
        margin-left: 15px;
        padding-left: 0;
      }
      li{
        padding-bottom: 10px;
      }
    }
    .extraFieldsWrap{
      position:relative;
      .extraFields{
        position:absolute;
        top:0;
        left:-40px;
        right:-40px;
        padding:0 40px 10px;
        background:#f0f0f0;
      }
    }
  }
  .loginColoredForm{
    
    padding: 1px 40px 40px;
    margin: 0;
    color: white;
    h3{
      color: white;
      padding-left: 0;
    }
    .forgotLinks{
      padding-top: 30px;
      font-size: 12px;
      .clearfix;
      a{
        color: white;
      }
    }
  }
  .loginBlueForm{
    background: #042b4e;
  }
  .loginRedForm{
    background: #DB1E27
  }
  .myAccountLoginFooter{
    margin-top: 40px;
    border-top:solid 1px #d4d4d4;
    padding: 20px 0;
    #landingTiles{
      color: #333;
    }
    h3{
      padding: 10px 0;
      color: #5e5e63;
      font-size: 17px;
      font-weight: bold;
    }
    .darkBlueLightHd{
      margin-top: 0;
    }
    a.playVideo{
      display: block;
      &:hover{
        text-decoration: none;
      }
    }
    figure{
      margin: 0;
      padding: 5px 20px 10px 0;
      figcaption{
        color: #042b4e;
        padding-top: 25px;
        font-weight: bold;
      }
    }
  }
  #registerForm{
    padding-left: 40px;
  }
}
.youtubeWrapper{
  text-align: center;
  .span9{
    height: 560px;
    padding:20px 20px 20px 0;
  }
  iframe{
    max-width:100%;
  }
}
@media (max-width:768px){
  .myAccountLoginWrap{
    .row-fluid [class*="span"]{
      float: none;
      width: auto;
      margin-left: 0
    }
    .loginColoredForm{

    }
  #registerForm,.applySteps{
    padding: 10px 40px;
  }
  .youtubeWrapper
  {
    .span9{
      padding: 20px 0;
    }
  }
  .myAccountLoginWrapGray .extraFieldsWrap{
      position:relative;
      .extraFields{
        position:relative;
        padding:0 40px;
      }
    }
  }
}