//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

//Finance Page
.finance .content-container { 

	.heading {
		border-bottom: 1px solid lighten(@reeceGrey, 60%);
		padding-bottom: 1em;
	}
	.banner {
		margin-bottom: 2em;
	}
	h3, h4 {
		color: @reeceBlue;
		margin: 1em 0
	}
	blockquote {
		font-size: 20px;
		color: lighten(@reeceGrey, 20%);
		font-weight: 200;
		border: 0;
		padding: 0;
		margin: 1.5em 0;
		line-height: 1.2em;
	}
	p {
		color: lighten(@reeceGrey, 10%);
		font-size: 15px;
		font-weight: 300
	}
}
.carousel-inner {
	min-height: 250px
}
.file-download {

	.inner-wrapper {
		@media (min-width: 979px) {
			margin: 0 157px
		}
		@media (min-width: 768px) and (max-width: 979px) {
			margin: 0 50px
		}
	}
	.nav {

		background: @reeceWhite;
		li {
			margin: 0;
			width: 33.33%;
		}
		a {
			margin: 0;
			padding: 0.8em 0;
			font-size: 18px;
			text-align: center;
			font-weight: 200;
			color: lighten(@reeceGrey, 10%);
			border-width:0;
			.border-radius(0);
		}
		.active a {
			background: @reeceLightBlue;
			color: @ocnavTextColor;
		}
	}
	.nav-tabs{
		margin: 0 40px 40px;
		background: @reeceWhite;
		border:1px solid lighten(@reeceGrey, 50%);
		.clearfix;
		li{
			list-style: none;
			float: left;
			display: block;
			width: 33.33%;
			text-align: center;
			margin-bottom: 0;
			a{
				display: block;
				margin: 0;
				font-size: 18px;
				padding: 0.8em 0;
				border-width: 0 0 0 1px !important;
				color: lighten(@reeceGrey, 10%);
				border-left: 1px solid lighten(@reeceGrey, 50%);
				.border-radius(0);
				&:hover{
					background: #eee;
					text-decoration: none;
				}
			}
		&:first-child a{
			border-width: 0 !important;
		}
		&.active a {
			background: @reeceLightBlue;
			color: @ocnavTextColor;
		}
		@media (max-width:979px){
			float: none;
			width: auto;
		}
		}
	}
	.tab-content { overflow: visible; }
	.carousel-control{
		width: 46px;
		text-indent: -999em;
		&.right {
			right: -110px;
			background: url(../images/btn-carousel-right.png) no-repeat top left;
			@media (max-width:979px){
				right: -20px;
			}
		}
		&.left {
			left: -110px;
			background: url(../images/btn-carousel-left.png) no-repeat top left;
			@media (max-width:979px){
				left:-20px
			}
		}
	}
	.icon {
		background: @reeceWhite;
		border: 1px solid lighten(@reeceGrey, 50%);
		margin-bottom: 1.5em;
		text-align: center;
		img{
			padding: 40px 0;
		}
	}
	.inside {
		padding: 0 40px;
		text-align: left;
		margin: auto
	}
	.filename {
		margin-bottom: 1.5em;
		line-height: 1.5em;
	}
	@media (max-width: 768px) {
		.item > div {
			margin-bottom: 3em;
		}
	}
}
.page-branding {
    &.text-brand {
        color: @reeceBlue;
    }
}

.newsItem{
	border-top: 1px solid lighten(@reeceGrey, 60%);
	border-bottom: 1px solid lighten(@reeceGrey, 60%);
}

.news {
	.content-container{
		margin-top: 0;
	}
	h2 {
		font-size: 40px;
		margin-bottom: 1em;
	}
	h3.newsHeading{
		margin-bottom:0;
		padding-bottom: 1em;
		border-bottom: none;
	}
	p.date {
		padding: 2em 0 1em;
		font-style: italic;
		color: lighten(@reeceGrey, 40%);
		font-size: 16px;
	}
	p {
		line-height: 1.6em;
		font-size: 16px !important;
	}
	a:link, a:active, a:visited {
		color: @reeceLightBlue;
	}
}

.grey-bg {
    background: @lightBackground;
    padding: 5em 0;
    margin-top: 2em;
    img {
        margin-bottom: 1em;
    }
}

.finance .content-container  .asxFeed{
	padding-top: 30px;
	h4{
		background: #f8f2ee;
		color: #333;
		font-weight: normal;
		float: left;
		margin: 0 !important;
		padding: 10px 20px 15px;
		font-size: 15px;
		border:solid 1px #e5e4e4;
		border-bottom: none;
	}
	.asxData{
		border:solid 1px #e5e4e4;
		padding: 20px;
		clear: both;
		@media (max-width:480px){
			padding: 10px;
		}
	}

	ul{
		.clearfix;
		margin: 0;
		padding:10px 0;
		li{
			float: left;
			list-style: none;
			display: block;
			width: 33%;
			strong,span{
				padding: 3px 15px;
				display:block
			}
		}
		&.odd{
			background: #F8F2EE;
			border-bottom:solid 3px #009ddb;
		}
	}
}