
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";

// Common Bathroom Elements
//====================================================================================================================================
//====================================================================================================================================

body.happy-tips,
body.bathroom-moments,
body.light-gradient,
body.light-gradient .ocmain-wrapper {
    background: #eaeaea;
    background: -moz-linear-gradient(top,  #eaeaea 50%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#eaeaea), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,  #eaeaea 50%,#cccccc 100%);
    background: -o-linear-gradient(top,  #eaeaea 50%,#cccccc 100%);
    background: -ms-linear-gradient(top,  #eaeaea 50%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eaeaea 50%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#cccccc',GradientType=0 );
    background-repeat: repeat-x;
}

// Main Item Module
//====================================================================================================================================
//====================================================================================================================================

.main-item {
    background: #fff;
    /*    padding: 20px 0;*/
    box-shadow: 0 1px 10px rgba(0,0,0,0.35);

    .inner-wrapper {
        margin: 0;
        padding: 20px;        
    }
}

// Feature Panel Module
//====================================================================================================================================
//====================================================================================================================================

.feature-panel {
    background: #bbb;
    padding: 20px;

    .thumbnail {
        border-color: transparent;
    }
}

// Main Header Module
//====================================================================================================================================
//====================================================================================================================================

.main-header {
    padding-top: 60px;
    background-color: @hzPrimary;
    #gradient > .vertical(@hzPrimary,  @hzPrimaryHighlight);
    color: #FFF;
    position: relative;

    h1 {
        text-shadow: 0 -1px 1px rgba(0,0,0,0.35);
        font-family: Georgia, serif;
        font-style: italic;
        font-weight: 400;
        max-width: 400px;
        width: 70%;
        margin-top: 0;   
        
        img {
            width: 100%;
            height: auto;            
        }     
    }
}

.main-header .top-highlight {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    border-top: 1px solid lighten(@hzPrimary, 20%);
}

.sub-header {
    margin: 20px 0;
}

// Bathroom Footer Module
//====================================================================================================================================
//====================================================================================================================================

.main-footer {
    margin: 20px 0 0;
    min-height: 80px;
    padding: 20px 0;
    background: #FFF;
}
.main-footer .nav {
    margin: 0 20px 5px;
}
.main-footer .nav li {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}
.main-footer .nav li a {
    padding: 0 7px;
    border-right: 1px solid #CCC;
    color: @gray;
    font-size: @fontSizeSmall;
}
.main-footer .nav-social {
    clear: both;
    min-height: 22px;
}
.main-footer .nav-social li a {
    padding: 0 0 0 7px;
    line-height: 1;
    font-size: @fontSizeLarge;
    border-right: none !important;
}
.main-footer .nav-social li a,
.main-footer .nav li a.no-border,
.main-footer .nav li:last-child a
{
    border-right: none !important;
}
.main-footer .nav li a:hover {
    background: none;
}
.main-footer .footer-right .nav {
    float: right;
}
.main-footer .icon-facebook-sign {
    color: #3B5998;
    width: auto !important;
}
.main-footer .icon-twitter-sign {
    color: #42c8f4;
    width: auto !important;
}

// Stacked Nav Pills Module
//====================================================================================================================================
//====================================================================================================================================

.nav-pills-span3,
.nav-pills-span4
{
    margin-bottom: 20px;
}
.nav-pills-span3 li,
.nav-pills-span4 li
{
    display: inline-block;
    float: left;
    width: 30%;
    margin-right: 2.5%;
    margin-top: -1px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
.nav-pills-span3 li {
    width: 22.5%;
}
.nav-pills-span3 li a,
.nav-pills-span4 li a
{
    padding: 5px 0;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.main-header ul.nav li {
    border-top-color: lighten(@hzPrimary, 20%);
    border-bottom-color: lighten(@hzPrimary, 20%);
}
.main-header ul.nav li a {
    color: lighten(@hzPrimary, 40%);
}
.no-touch .main-header ul.nav li a:hover,
.main-header ul.nav li.active a
{
    color: #FFF;
    background: none;
}

// Bathroom Moments
//====================================================================================================================================
//====================================================================================================================================

.bathroom-moments .sub-header h2 {
    margin-top: 0;
}
.bathroom-moments .main-item {
    position: relative;
}
.bathroom-moments .main-item .item-header {
    margin: 0 0 15px;
}
.bathroom-moments .main-item .item-header h3 {
    margin: 0 0 10px;
    line-height: 1;
}
.bathroom-moments .main-item .item-header p {
    line-height: 1.25;
    margin: 0;
}
.bathroom-moments .main-item .item-thumb {
    margin: 0 0 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
}
.bathroom-moments .main-item .item-sub-text h4 {
    color: #AAA;
    line-height: 1;
    text-transform: uppercase;
    padding: 0 0 10px;
    border-bottom: 5px solid #AAA;
    margin: 0 0 10px;
}
.bathroom-moments .main-item .item-sub-text p {
    line-height: 1.1;
    font-size: @fontSizeMini;
}
.bathroom-moments .main-item a.item-thumb {
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.bathroom-moments .main-item a.item-thumb:hover {
    color: @hzPrimary;
    text-shadow: none;
}
.bathroom-moments .main-item .disabled-overlay {
    width: 100%;
    height: 100%;
    background: url(../images/bg-white-75pc.png);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.bathroom-moments .main-item .corner-ribbon {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 35%;
    z-index: 999;
    opacity: 1;
}
.bathroom-moments .media-thumbnails li.flush {
    margin-left: 0;
}
.bathroom-moments .media-thumbnails li h6 {
    margin-bottom: 0;
}
.bathroom-moments.grey-bg .thumbnail {
    border-color: #666;
}
.bathroom-moments.grey-bg .feature-panel .thumbnail {
    border-color: #999;
}
.bathroom-moments .thumbnail:hover,
.bathroom-moments .thumbnail.active,
.bathroom-moments .feature-panel .thumbnail:hover {
    border-color: @hzPrimary;
}
.bathroom-moments .thumbnail {
    border-width: 3px;
}
.bathroom-moments .thumbnail.item-video-central.active {
    border-color: @white;
}
.bathroom-moments .thumbnail.item-video-central.active:hover {
    border-color: @hzPrimary;
}
.bathroom-moments .disabled {
    opacity: 0.35;
    filter: alpha(opacity=35);
}
.bathroom-moments .disabled * {
    filter: alpha(opacity=35);
    zoom: 1;
}

.bathroom-moments .feature-panel-title {
    background: @white;
    color: @black;
    padding: 10px 10px 7px;
    margin: -20px -20px 20px;
}
.bathroom-moments .well-dark {
    background: #000;
    border: none;
    padding: 5px 20px;
    margin-top: -5px;
    color: @white;
}
.bathroom-moments .feature-title {
    font-size: 80px;
    line-height: 0.8;
    margin: 20px 0;
}
.bathroom-moments .sub-header h2.feature-title {
    margin: 20px 0;
}

// Happy Tips
//====================================================================================================================================
//====================================================================================================================================

.happy-tips span.primary {
    color: @hzPrimary;
}

.happy-tips .sub-header h2 {
    margin-top: 0;
}

.happy-tips hr {
    border-top: 5px solid #999;
}

.happy-tips .feature-title {
    font-size: 130px;
    line-height: 0.8;
    margin: 20px 0 30px;
}

.happy-tips .main-item {
    position: relative;
}

.happy-tips .main-item h4 {
    padding: 0 0 7px;
    margin: 15px 0 7px;
    border-bottom: 5px solid @black;
}

.happy-tips .main-item .new-vid {
    position: absolute;
    right: -3px; top: -3px;
    z-index: 20;
}

.happy-tips .main-item a.item-thumb {
    display: block;
    border: 1px solid @white;
    position: relative;
    color: @black;
    z-index: 1;
}
.happy-tips .main-item a.item-thumb:hover {
    border: 1px solid @grayLight;
}

.happy-tips .main-item a.item-thumb:hover {
    text-decoration: none;
    color: @hzPrimary;
}
.happy-tips .thumbnail:hover,
.happy-tips .thumbnail.active,
.happy-tips .feature-panel .thumbnail:hover
{
    border-color: @hzPrimary;
}
.happy-tips .thumbnail.active {
    border-width: 2px;
}

// Item Video Module
//====================================================================================================================================
//====================================================================================================================================

a.item-video,
a.item-video-central
{
    position: relative;
    display: block;
    z-index: 1;
    color: @white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
a.item-video:before {
    content: "\f01d";
    font-family: FontAwesome;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 40px;
    z-index: 10;
}
a.item-video-central:before {
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -15px;
    content: "\f01d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 40px;
    z-index: 10;
}
a.item-video:after {
    content: "Watch Video";
    position: absolute;
    top: 17px;
    left: 50px;
    font-weight: bold;
}
a.item-video.item-video-small:after {
    content: "";
}
a.item-video:hover,
a.item-video-central:hover
{
    text-decoration: none;
    color: @hzPrimary;
}
a.item-video:hover .video-title {
    background: #000;
    text-decoration: none;
}
a.item-video .video-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: #000;
    background: rgba(128,128,128,0.5);
    padding: 2px 5px;
    font-size: 12px;
}

// Social Media (Overrides)
//====================================================================================================================================
//====================================================================================================================================

.fb-comments,
.fb-comments iframe[style],
.fb-comments span {
    width: 100% !important;
}


// Landing Page (Overrides)
//====================================================================================================================================
//====================================================================================================================================

.hz-landing .main-header .header-container,
.hz-landing .main-footer .footer-container,
.hz-landing .masonry-container,
.hz-landing .content-container,
.hz-landing .navbar-container {
    max-width: 1200px !important;
}
#landingTiles [class*="span"], #happiness-carousel {
    -webkit-transition: .25s box-shadow ease-in-out;
    -moz-transition: .25s box-shadow ease-in-out;
    -o-transition: .25s box-shadow ease-in-out;
    -ms-transition: .25s box-shadow ease-in-out;
    transition: .25s box-shadow ease-in-out;
}
#landingTiles [class*="span"] {
    padding: 10px; 
    text-align: center; 
    min-height: 225px;
    background-color: #479cc0; 
    color: #fff; 
    position: relative;
}
.no-touch #landingTiles [class*="span"]:hover, 
#happiness-carousel:hover {
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
}
#landingTiles [class*="span"] a {
    position: absolute; left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#landingTiles [class*="span"] hr {
    margin: 5px auto;
    width: 40px;
    border-color: #fff;
}
#landingTiles .row-fluid .span6 {
    min-height: 265px;
}
#landingTiles .row-fluid .alt1 {
    background-color: #b1cdb7;
    color: #333;
}
#landingTiles .row-fluid .alt1 hr {
    border-color: #333;
}
#landingTiles .row-fluid .alt2  {
    background-color: #f3735c;
    color: #fff;
}
#landingTiles .row-fluid .alt3 {
    background-color: #dfcbc0;
    color: #333;
}
#landingTiles .row-fluid .alt3 hr {
    border-color: #333;
}
#landingTiles .caption {
    padding: 15px 0 5px 0;
}
#landingTiles h4 {
    margin-top: 0;
}
#landingTiles h4 a {
    color: inherit;
    text-decoration: none;
}
#landingTiles p {
    margin-bottom: 0;
    font-size: 12px;
}

/*
----------------------------------------------
RESPONSIVE OVERRIDES
----------------------------------------------
*/
@media (min-width: 1200px) {
    .happy-tips .feature-title {
        font-size: 150px;
    }
}

@media (max-width: 1199px) {
    .main-header ul.nav li a {
        font-size: 12px;
    }
}

@media (max-width: 979px) {
    .navbar-fixed-top {
        margin: 0;
    }
    .main-header {
        padding-top: 10px;
    }
    .main-header .top-highlight {
        top: 1px;
    }
    // .content-container {
    //     min-height: 600px;
    // }
    .ocmain-wrapper {
        position: absolute;
        top: 0;
    }
    .ocmain-wrapper {
        background-color: #fff;
    }
    .main-header h1 {
        width: auto;
    }
    .happy-tips .ocmain-wrapper,
    .bathroom-moments .ocmain-wrapper {
        background-color: #eaeaea;
    }
    .ocnav-wrapper .nav li > .nav li a i {
        color: @hzPrimary;
    }
    .ocnav-wrapper .nav li > .nav li.active a {
        .buttonBackground( @hzPrimaryHighlight,  @hzPrimary);
        border: 1px solid @hzPrimary;
    }
    .ocnav-wrapper .nav li > .nav li.active a i {
        color: #FFF;
    }
    .bathroom-moments .main-item .item-sub-text p {
        line-height: @baseLineHeight;
        font-size: @baseFontSize;
    }
    .happy-tips a.item-video:after {
        content: "";
    }
    .happy-tips .feature-title {
        font-size: 100px;
    }
}

@media (max-width: 767px) {
    .main-header h1 {
        width: auto;
        max-width: 255px;
    }
    .main-footer .footer-right .nav {
        float: none;
    }
    .happy-tips .main-item {
        background: none;
        box-shadow: none;
        margin: 20px 0 0;
        padding: 20px 0 0;
        box-shadow: none;
        border-top: 1px solid @grayLight;
    }
    .happy-tips .main-item .inner-wrapper {
        margin: 0;
        padding: 0;
        border: none;
    }
    .happy-tips .main-item a.item-thumb {
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
    }
    .happy-tips .main-item .new-vid {
        right: -3px; top: 17px;
    }
}

@media (max-width: 320px) {
    .happy-tips .feature-title {
        font-size: 70px;
    }
    .bathroom-moments .feature-title {
        font-size: 55px;
    }
    .main-footer .nav {
        height: 25px;
        clear: left
    }
}
