//Bootstrap imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

@imagepath : "../images/aboutus/history";

.history {
	section {
		position: relative;
		color: @reeceWhite;
		padding: 1px 0;
		height: 800px;
		overflow: hidden;
		.layer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// outline: 1px dotted yellow; // remove in prod
		}
		.header {
			z-index: 5;
			position: absolute;
			width: 100%;
			left: 0;
			top: 4%;
		}
	}
	.content-container {
		text-align: center;
	}
}

.nav-history {
	position: fixed;
	right: 25px;
	top: 40%;
	z-index: 50;
	li {
		text-align: center
	}
	a, a:link, a:visited, a:active, a:focus {
		display: block;
		text-indent: -999em;
		background: @reeceGrey;
		width: 13px;
		height: 13px;
		margin: 0 auto 12px auto;
		border: 2px solid rgba(255, 255, 255, 100%);
		outline: none;
		.border-radius(15px);
		.transition(0.5s all ease-in);
	}
	a:hover {
		background: lighten(@reeceGrey, 20%)
	}
	.active {
		a, a:link, a:visited, a:active {
			background: @reeceBlue;
			width: 17px;
			height: 17px;
		}
	}
}
.year{
	font-weight: 100;
	font-size: 100px;
	text-align: center;
}
.yearDescription{
	font-size: 28px;
	line-height: 1.25em;
	letter-spacing: 2px;
	padding-bottom: 1em;
	font-weight: 100;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

#slideHistoryIntro{
	color: @grayDarker;
	h1 { font-size: 74px;}
	h3 {
		font-size: 32px;
		font-style: italic;
		font-weight: 200;
	}
	p {
		width: 550px;
		margin: auto
	}
	padding: 2em 0;
	.reece-logo {
		opacity: 1;
		display: inline-block;
		margin: 3em 0;
	}
	.water-drop {
		position: relative;
		top: 0%;
		z-index: 10;
	}
}

/* Common Backgrounds */
.bgBlue {
	background-color: #00adef;
}
.bgBlueLight{
	background-color: #B8CFE9;
}
.bgDarkBlue{
	background-color: #1b75bb;
}
.bgDarkerBlue{
	background-color: #003767;
}
.bgNightBlue{
	background-color: #0e004e;
}
.bgLightBrown{
	background-color: #c39a6b;
}
.bgBrown{
	background-color: #9a8478;
}
.bgDarkBrown{
	background-color: #5A4B42;
}
.bgTurquoise{
	background-color: #00A0AF;
}
.bgTurquoiseDark{
	background-color: #006494;
}
.bgTurquoiseLight{
	background-color: #85cebb;
}
.bgStripedBrown{
	background-image: url("@{imagepath}/1969-wall.svg");
}
.bgGreyDark{
	background-color: #414042;
}
.bgGreyLight{
	background-color:#E6E7E8;
}
.bgGreenLight{
	background-color:#D7DF23
}
.bgPurple{
	background-color: #532E63
}

// ground 
.history section {
	.groundGrey{
		background-color: #6d6e70;
		position: absolute;
		bottom: 0;
		top: auto;
		left: 0%;
		width: 100%;
		height: 14%;
	}
	.storeNumber {
		bottom: 14%;
		top: auto;
		.wrap {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			.number {
				width: 80%;
				margin: 0 auto;
				position: relative;
				img {
					height: auto;
					width: 100%;
					display: block;
				}
			}
		}
	}
}


// Import all slides
@import "history-slides/1919.less";
@import "history-slides/1920.less";
@import "history-slides/1922.less";
@import "history-slides/1954.less";
@import "history-slides/1969.less";
@import "history-slides/1970.less";
@import "history-slides/1976-1.less";
@import "history-slides/1976-2.less";
@import "history-slides/1978-1.less";
@import "history-slides/1978-2.less";
@import "history-slides/1986.less";
@import "history-slides/1987-1.less";
@import "history-slides/1987-2.less";
@import "history-slides/1987-3.less";
@import "history-slides/1988.less";
@import "history-slides/1990s.less";
@import "history-slides/1993.less";
@import "history-slides/1994.less";
@import "history-slides/1997.less";
@import "history-slides/1998-1.less"; // Needs to be renamed
@import "history-slides/1998-2.less";
@import "history-slides/2000-1.less";
@import "history-slides/2000-2.less";
@import "history-slides/2000-3.less";
@import "history-slides/2001.less";
@import "history-slides/2003.less";
@import "history-slides/2004.less";
@import "history-slides/2005-1.less"; // Needs to be renamed
@import "history-slides/2005-2.less";
@import "history-slides/2006.less";
@import "history-slides/2007-1.less";
@import "history-slides/2007-2.less";
@import "history-slides/2007-3.less";
@import "history-slides/2008.less";
@import "history-slides/2009-1.less";
@import "history-slides/2009-2.less";
@import "history-slides/2010.less";
@import "history-slides/2011.less";
@import "history-slides/2012-1.less";
@import "history-slides/2012-2.less";
@import "history-slides/2012-3.less";
@import "history-slides/2012-4.less";
@import "history-slides/2014-1.less";

#FramesAnimation {
	width:619px;
	height:398px;
}

