
	.lt-ie9 {

		#headCarousel {
			padding-top: 0;
		}

		.navbar-fixed-top {
			position: static;

			.brand { 
				background-image: url(../images/home-2013/reece-logo-ie.png); //Fix retina icon for IE
				background-repeat: no-repeat;
				background-color: white;
				background-position: 2px center;	
			}
		}	

		.product-filter	{
			.collapse {
				height: auto;
			}
		}

		body {
			min-width: 1600px;
		}
		body.home {
			min-width: 1200px;
		}	

	}