
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";

// TVC
//====================================================================================================================================
//====================================================================================================================================
@bebas-font: "bebas-neue";

.ocmain-wrapper {
  background: #FFFFFF url("../images/the-block-2014-tvc/background.jpg") no-repeat !important;
}


.tvc .main-wrapper {
    background: transparent;
}
.tvc p.lead {
    line-height: 1.1; 
}
.tvc .tc {
    text-align: left;
}
.tvc .inner-content .feature-gradient {
    padding: 20px;
    margin: 0 -20px;
}
.tvc .feature-footer {
    padding: 10px 20px;
    background: #454545;
    color: #999;
}
.tvc .feature-footer h5 {
    color: @white;
}
.tvc .feature-footer i.icon-check {
    color: @green;
}
.tvc #AjaxTargetWrapper {
/*    background: url(../images/ajax-loader.gif) no-repeat center;*/
}
.tvc #AjaxTarget {

}
.tvc .thumbnails li.flush {
    margin-left: 0;
}
.tvc .inner-content {
    margin: 20px;
}
.tvc .accordion-group {
    margin: 0;
    border: none;
}

.details-target {
  margin-bottom: 10px;
}



/* TVC main heading */
.tvc{

  .tvc-main-nav{
    margin-top:20px;
  }

  /*main heading section*/
  .main-heading{
    background-image: url("../images/the-block-2014-tvc/transparent-gray.png");
    padding-top: 30px;
    padding-bottom: 10px;

    h1{
      font-family: @bebas-font; 
      font-weight:100;
      font-size:101px;
      line-height:90px;
      margin-left: 30px;
      margin-bottom: 0px;
      text-transform:capitalize;
      color:#FFF;
      .second-color{
        color: #efd343;
      }
    }

  }

  .main-heading.homepage{
    background: url("../images/the-block-2014-tvc/home-hero.jpg") no-repeat;
    background-position: top left;
    height:580px;
    h1{
      font-family: @bebas-font;  
      font-weight:100;
      font-size:101px;
      line-height:90px;
      margin-left: 0px;
      margin-top:150px;
      text-transform:capitalize;
      color:#FFF;
      .second-color{
        color: #efd343;
      }
    }
    .enter-button {
      background: #5ac09d url("../images/the-block-2014-tvc/button-arrow-green.png") no-repeat;
      max-width: 200px;
      padding:10px 0;
      
      a{
        font-family: @bebas-font; 
        font-weight:100;
        font-size: 30px;
        line-height: 30px;
        margin-left:50px;
        color:#FFFFFF;
        &:hover{
          text-decoration: none;
        }
      }
    }

  }

  /*sub heading*/
  .sub-heading{
    padding-top:20px;
    padding:bottom:30px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    p{
      font-family: @bebas-font; 
      font-weight:100;
      text-transform:capitalize;
      color: #7B7B7B;
      font-size: 30px;
      line-height: 30px; 
      margin-left: 30px;
      margin-right: 30px;
    }

    .second-color{
      color:#efd343;
    }
  }

  /*homepage video section*/
  .homepage-video{
    padding-top:30px;
    padding-bottom: 30px;
    background: #FFF;
    p.primary-text{
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 30px;
      line-height: 30px;
      color: #7B7B7B;
    }
    p.secondary-text{
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 24px;
      line-height: 24px;
      color: #7B7B7B;
    }
    .video-image{
      margin-bottom:20px;
      text-align: center;
      img{
        margin-left:auto;
        margin-right:auto;
      }
    }
  }

  .competition-details {
    background-color: #707070;
    padding: 20px;
    h5 {
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
    }

    p {
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 30px;
      line-height:30px;
      color: #efd343;
    }
  }

  .homepage-form {
    background: #5ac09d;
    h2{
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 48px;
      line-height: 48px;
      padding-top: 30px;
      color: #FFFFFF;
      @media (max-width:480px){
        clear: both;
        padding:0 10px 0 25px;
      }
    }
    
    .enter-now{
      position: relative;
      left: -30px;
      top: -30px;
      float:left;
      width: 150px;
      height:150px;
    }
    form{
        margin-bottom: 0;

        input[type="text"],textarea{
          padding:10px ;
          height: 50px;
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 15px;
        }
        .drag-drop {
          background:#40886F;
          height:35px;
          line-height: 35px;
          padding: 40px 0;
          text-align: center;
          color:#FFFFFF;
          font-size: 16px;
        }
        .checkbox{
          color: white;
        }
        .completionCheck {
          .clearfix;
          .completionCheckCheckbox{
            float: right;;
            width: 50px;
          }
          .completionCheckStatement{
            margin-right: 80px;
          }
          
        }
      .formSections {
        padding: 25px;
        clear: both;
        &+.formSections {
          border-top:solid 2px white;
        }
        .description {
          h3 {
            font-family: @bebas-font; 
            font-weight:100;
            font-size: 14px;
            line-height: 14px;
            color: #147e6b;
            margin-top: 0;
          }
          p {
            font-family: @bebas-font; 
            font-weight:100;
            font-size: 30px;
            line-height: 30px;
            color: #FFFFFF;
          }
        }
        .input-section{
          p{
            font-size: 16px;
            color: #FFFFFF;
          }
          .criteriaLink{
            border:dashed 1px #FFFFFF;
            padding: 15px 25px 15px 5px;
            text-align:center;
            display: block;
            line-height: 16px;
            cursor: pointer;
            color: white;
            position: relative;
            .caret{
              border-width: 5px;
              border-top:5px solid white;
              position: absolute;
              right: 10px;
              top: 50%;
              margin-top: -2px;
            }
            &:hover{text-decoration: none;}
          }
        }
        button.homepageSubmitBtn {
          background: #efd343 url("../images/the-block-2014-tvc/button-arrow-yellow.png") no-repeat;
          width: 200px;
          height:50px;
          padding:10px 0;
          font-family: @bebas-font; 
          font-weight:100;
          font-size: 30px;
          line-height: 30px;
          color:#FFFFFF;
          border:0;
        }
      }
    }

  }

  .block-banner-ad{
    margin-top: 45px;
  }

  .terms-conditions {
    background: #5ac09d;
    color:#FFFFFF;
    border-top:solid 2px #FFFFFF;
    .criteria-wrapper{
      padding:30px;
    }
    h2{
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 30px;
      line-height: 30px;
    }
    p{
      font-size: 16px;
      line-height: 16px;
    }
  }

  .contact-us-form {
    background: #FFFFFF;
    button.contactSubmitBtn {
      background: #efd343 url("../images/the-block-2014-tvc/button-arrow-yellow.png") no-repeat;
      width: 230px;
      height:50px;
      padding:10px 0;
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 30px;
      line-height: 30px;
      color:#FFFFFF;
      border:0;
    }
    input[type="text"],textarea{
      padding:10px;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 15px;
    }
    input[type="text"]{
      height: 50px;
    }
    .formWrapper{
      padding:30px;
    }
  }

  .view-entries {
    .one-entry{
      .entry-info{
        background:#FFFFFF;
        margin-bottom: 15px;
        padding: 20px;
        h3{
          font-family: @bebas-font; 
          font-weight:100;
          font-size: 28px;
          line-height: 28px;
          color: #7b7b7b;
        }
        .second-color{
          color:#efd343;
        }
        p{
          color: #7b7b7b;
        }
      }
    }


  }

  .prizes-page {
    .prize-wrapper {
      padding: 20px 40px 0;
      font-family: @bebas-font; 
      font-weight:100;
    }
    .prize-name{
      color:#5ac09d;
      font-size: 50px;
      line-height: 1em;
    }
    .prize-description {
      color:#7b7b7b;
      font-size: 30px;
      line-height: 1em;
    }
    .with-ruler{
      background: #ffffff url("../images/the-block-2014-tvc/prize-ruler.jpg") no-repeat bottom left;
      padding-bottom: 80px;
    }
    @media (max-width:767px){
      .prize-name{
        font-size: 40px
      }
      .prize-description{
        font-size: 24px
      }
    }
  }

  .terms-page{
    .terms-condition-section {
      background: #FFFFFF;
      padding:30px;
      font-size: 16px;
      color: #7B7B7B;
      line-height: 18px;
    }
    h3 {
      font-family: @bebas-font; 
      font-weight:100;
      font-size: 28px;
      line-height: 28px;
    }

  }

/* Pagination */
.tvcPagination{
  .pagList{
    float:right;
  }
  .pageNumber{
    border:0;
    color:#FFFFFF;
    font-family: @bebas-font; 
  }

  .disabled a{
    background: #5ac09d;
    &:hover{
      background: #40886F;
      color:#FFFFFF;
    }
  }

  .enabled a{
    background: #40886F;
  }
  .pagingArrows{
    background: #efd343;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border:0;
  }
  a{
    padding: 10px;
    width: 20px;
    text-align: center;
  }
  .leftArrow,.rightArrow{
    display: inline-block;
    height: 0;
    width: 0;
    border:solid 7px transparent;
    position: relative;
    top: 2px;
  }
  .leftArrow{
    border-right-color: white;
    border-left: none;
  }
  .rightArrow{
    border-left-color: white;
    border-right:none;
  }
}

  h3{
    font-size: 20px;
  }
  .red{
    color:#c81f1f;
  }
  .judge-thumb
  {
    float:left;
    margin: 10px 10px 10px 0px;
  }
  .judge-large
  {
    float:left;
    margin: 10px 10px 10px 0px;

  }
  .judge {
    display: block;
    float: left;
    h4{
      margin-top: 20px;
    }
  }
  .breadcrumb{
    background: black;
    .border-radius(0);
    >li{
      text-shadow:none;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
    }
    a{color: white}
  }
  /* Nav */
  a.showtvcMenu{
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    background: black;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
  }
  .tvcNav{
    background: #efd343;
    margin-bottom: 20px;
    overflow: visible;
    height: auto;
    .listItem{
      text-transform: uppercase;
      a{
        display: block;
        padding: 20px;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        background: url("../images/the-block-2014-tvc/nav-arrow.png") no-repeat left center;
        a{
          color: #FFFFFF;
        }
      }
      .icon-large{
        font-size: 20px;
        display: block;
        float: left;
        margin-right: 5px;
      }
      .tvcnavLinktext{
        display: block;
        height: 30px;
        line-height: 30px;
        margin-left: 30px;
      }
    }
  }
  /* Dates */
  .tvcDates{
    background: #000;
    text-align: center;
    color: #fff;
    padding: 20px;
    h3{
      font-weight: normal;
      font-size: 18px;
      text-transform: uppercase;
    }
    dt{
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
  /* Forms */
  .actions{
    text-align: left;
  }
  .tvcFormInput{
    .border-radius(0);
    border:solid 1px #197b30;
  }
  .tvcRedBtn{
    background: #c81f1f;
    border:none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    .border-radius(0);
    text-shadow:none;
    .caret{
      border-top-color: white;
    }
  }
  /* Home Page */
  .home-wrapper{
    position: relative;
    overflow: hidden;
    border-top:solid 32px black;
    border-bottom:solid 32px black;
  }
  .homeBannerImage{
    max-width: 1160px;
  }
  .home-content-wrapper{
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
  }
  /* Home Content */
  .home-content{
    margin-top: 15%;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    .tvcFormInput{
      width: 35%;
    }
    .tvcNav,.tvcBanner,.tvcDates{
      display: table-cell;
      vertical-align: top;
    }
    .tvcBannerInner{
      position: relative;
    }
    .tvcNav{
       width: 20%;
       min-width: 200px;
      .listItem{
        a{
          padding: 20px 25px;
        }
        &.longNavLink{
          .icon-large{
            position: relative;
            top: 3px;
          }
          .tvcnavLinktext{
            line-height: 17px;
          }
        }
      }
    }
    .tvcBanner{
      background-color:white;
      background: rgba(255,255,255,0.7);
      text-align: center;
      padding: 20px;
      position: relative;
      p.tvcBannerDesc{
        padding: 0 40px;
      }
    }
    .tvcLogoWrap{
      padding: 100px 20px 20px;
      position: relative;
    }
    .tvcBannerPrize{
      width: 190px;
      position: absolute;
      top: -60px;
      right: 1%;
    }
    .tvcDates{
      width: 20%;
    }
  }
  /* Other Pages */
  /* tvc Page Header */
  .tvcPageHeader{
    text-align: center;
    margin: 5px 25px 5px;
    img{
      width: 300px;
      margin-top: 20px;
    }
    .pageTitle{
      color: #cc2518;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: normal;
      display: block;
      padding-top: 20px;
    }
  }
  /* past winners */
  .thumbnails > li{
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 10px;
    }
  }
  a.tvcReadStoryLink{
    color: #cc2518;
     text-transform: uppercase;
     float: right;
     padding-top: 13px;
  }
  .tvcThumb{
    position: relative;
    .tvcWinnerBadge{
      position: absolute;
      left: 20px;
      bottom: 20px;
      background:black;
      height: 30px;
      width: 70px;
      padding: 40px 20px;
      color: white;
      text-align: center;
      .border-radius(50%);
      .tvcYear{
        display: block;
        font-size: 26px;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
  .tvcThumbHd{
    margin-right: 130px;
    margin-bottom: 30px;
    margin-top: 0;
    .tvcEntryName,.tvcEntryPlace{
      display: block;
      color: black;
      text-transform: uppercase;
      font-size: 14px;
    }
    .tvcEntryName{
      padding-bottom: 3px;
    }
  }
  /* Prizes */
  .prizeBanner{
    font-weight: bold;
    font-style: italic;
    color: #cc2518;
    text-align: center;
    .prizeBannertext{
      font-size: 30px;
      line-height: 1em;
      width: 100px;
      display: inline-block;
    }
    .prizeBannerAmount{
      font-size: 75px;
      line-height: 1em;
      display: inline-block;
    }
  }
}

@media (max-width:1150px){
  .tvc .main-heading h1{
    font-size: 70px;
    line-height:70px;
  }
  .tvc .main-heading.homepage h1 {
    font-size: 50px;
    line-height: 50px;
    margin-top:20px;
    margin-left:0px;
  }
  .tvc .homepage-form form .formSections button.homepageSubmitBtn, .tvc .contact-us-form button.contactSubmitBtn{
    width:100%;
    margin-bottom: 20px;
  }
  body {
    background: #FFFFFF url("../images/the-block-2014-tvc/background.jpg") no-repeat;
  }
}

@media (max-width:979px){

  .tvc{

      .homeBannerImage{
        max-width: 2000px;
        width: 2000px;
        margin-left: -40%;
      }
    .home-content{
      display: block;
      margin-top: 20px;
      .tvcNav,
      .tvcBanner,
      .tvcDates{
        display: block;
        width: auto;
      }
      .tvcBanner,.tvcDates{
        margin-top: 20px;
      }
      .tvcHomeTopNav{
        display: none;
      }
      .tvcNav{
        position: static;
        height: 0;
        overflow: hidden;
        .listItem{
          position: static;
          display: block;
          height: auto;
          .icon-large{
            float: none;
            display: inline-block;
          }
          .tvcnavLinktext{
            margin: 0;
            display: inline-block;
          }
          a{
            padding: 20px 15px !important;
          }
          &.longNavLink{
            .icon-large{
              position: static;
            }
            .tvcnavLinktext{
              line-height: 30px;
            }
          }
        }
      }
    }
  }

}
@media (min-width:768px) and (max-width:979px){
  .tvc .main-heading.homepage h1 {
    font-size: 50px;
    line-height: 50px;
    margin-top:20px;
    margin-left:0;
  }

  .tvc{
    .tvcNav .listItem a{
      font-size: 13px;
      padding: 20px 10px;
    }
    .prizeBanner{
      .prizeBannertext,.prizeBannerAmount{
        display: block;
        width: auto;
      }

    }
  }
}
@media (max-width:767px){
  .tvc .main-heading.homepage h1 {
    font-size: 50px;
    line-height: 50px;
    margin-top:20px;
    margin-left:20px;
  }
  .tvc{
    .inner-content{
      margin: 20px 0;
    }
    .home-content-wrapper{
      left: 20px;
      right: 20px;
    }

    .tvcNav {
      height: 0;
      overflow: hidden;
      .listItem{
      text-align: center;
      .icon-large,.tvcnavLinktext{
        display: inline-block;
        float: none;
        margin: 0
      }
    }
  }
  }
}

@media (max-width:480px){


  .tvc{

    .homeBannerImage{
      max-width: 2200px;
      width: 2200px;
      margin-left: -50%;
    }
  .tvcThumb{
    .tvcWinnerBadge{
      height: 30px;
      width: 50px;
      padding: 20px 10px;
      font-size: 11px;
      .tvcYear{
        font-size: 18px;
      }
    }
  }
    .home-content{
      .tvcLogoWrap{
        padding: 10px;
      }
      .tvcBanner{
        margin-top: 10px;
        p.tvcBannerDesc{
          padding: 0 20px;
        }
        h3{
          padding-left: 0;
        }
      }
      .tvcBannerPrize{
        margin: 20px 0 20px 20px;
        position: static;
        float: right;
      }
      .tvcFormInput{
        width: 95%
      }
      .tvcNav{
        .listItem{
          .tvcnavLinktext{
            font-size: 12px;
          }
        }
      }
      .tvcBannerPrize{
        float: none;
        margin:20px auto;
      }
    }
  }
}
@media (max-width:350px){

  .tvc{
    .home-content{
      .tvcBannerPrize{
        width: auto;
      }
    }
  }
}
@media (min-width:1200px){
 .tvc{
  .prizeBanner{
    .prizeBannertext{
      font-size: 35px;
    }
    .prizeBannerAmount{
      font-size: 85px;

    }
  }
  .home-content .tvcBannerPrize{
    width: 209px
  }
 }
}

/* End of New Changes */
.tvc .winnerSideBar {
    padding:20px;
    height:auto;
}

.tvc .winnerSideBar p{
font-size:13px;
line-height:120%;
}
.tvc .winnerSideBar h3{
font-size:18px;
margin:0px 0px 5px 0px;
}
.tvc .winnerDetails{
padding:20px 0px 0px 20px;
}
.tvc .winnerDetails p{
    font-size:16px;
    line-height:130%;
}
.tvc .images {
    padding:10px 0px 0px 20px;
}
.tvc .tvc-winner h3{
    font-size:22px;
    margin-left:30px;
}
.tvc .tvc-winner p{
    font-size:16px;
    margin-left:30px;
    line-height: 130%;
}
.tvc .tvc-winner h3 span{
font-weight:normal !important;
}
.tvc .winnerImages{
    padding:20px 0px 0px 0px;

}

.tvc .winnerImages .thumbs{
}

.tvc .winnerImages .thumbs img{
    margin-bottom:10px;
    width: 24% !important;
}

.tvc .winnerPlan{
     background:#EFEFEF;
     margin-top:10px;
     margin-left:20px;
     margin-bottom:20px;
     padding:20px;
     width:94%;
}
.tvc .winnerPlan a{
 color:#666;
}
 .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

// The Block TVC Media Queries
//====================================================================================================================================
//====================================================================================================================================

@media (max-width: 979px) {
    .tvc .ajax-target {
	   width: 100%;
	   margin: 0;
    }
    .tvc .ajax-target .inner-content {
	   margin: 20px;
    }
    .tvc .winnerSideBar img {
        width: 100%;
        margin-bottom: 10px;
    }
}


@media (max-width: 767px) {
    .tvc .winnerPlan {
        margin-left: 0px;
    }
    .tvc .winnerImages {
        padding: 20px 0px 0px 20px;
    }
    .tvc .winnerSideBar img {
        width: 150px;
        float:none;
    }
    .tvc .images {
        padding: 10px 0px 0px 0px;
    }
}

@media (max-width: 640px) {
    .tvc .winnerPlan {
        margin-left: 0px;

        .tvc .winnerImages .thumbs img {
            width:150px !important;
        }
    }
}

@media (max-width: 480px) {
    .tvc .winnerPlan {
        margin-left: 0px;
        padding: 0px;
        width: 100%;
    }
    .tvc .winnerImages{
        padding-left:0px;
    }
    .tvc .winnerImages .thumbs img{
        margin-bottom:10px;
        width: 100% !important;
    }
}


@media (max-width: 320px) {
    .tvc .winnerPlan {
        margin-left: 20px;
        padding: 0px;
        width: 88% !important;
    }
    .tvc .tvc-winner p {
        width: 80%;
    }
    .tvc .tvc-winner h3 {
        font-size: 18px;
    }
    .tvc .winnerImages {
        padding: 0px 0px 0px 0px;
    }
    .tvc .images {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .tvc .winnerImages .thumbs img {
        width:100% !important;
        padding: 0px 0px 0px 0px;
    }

    .tvc .winnerSideBar img {
        width: 100%;
        margin-bottom: 10px;
    }
}
