    
//Bootstrap imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

//Application imports
@import "reece-variables.less";
@import "reece-mixins.less";

@tipsGreenColor :#8fc547; 
/*
----------------------------------------------
STANDALONE VIDEO PAGE STYLES
----------------------------------------------
*/
.myTipBtn{
    background: @tipsGreenColor;
    padding: 15px 20px; 
    display: block;
    color: white;
    text-align: center;
    max-width: 250px; 
    margin: 5px auto;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    &:hover{
        text-decoration: none;
        color: white;
    }
}

body{
    padding-top: 0;
}
.content-container{
    .inner-wrapper{
        padding: 0 10px;
    }
}



.myTipsHeader{
    padding-bottom: 10px;
    .clearfix;
    .logo{
        margin: 0;
        float: left;
    }
    h2{
        color: @tipsGreenColor;
        font-size: 60px;
        margin: 0;
        padding: 15px 0;
        margin-left: 200px;
        @media (max-width:767px){
            font-size: 50px;
        }
        @media (max-width:767px){
            clear: both;
            margin:0;
            padding-top: 30px;
        }
    }
}


.myTipsContent{
    padding-bottom: 20px;
    h3{
        color: #003767;
        padding: .5em 0;
        font-size: 24px;
        font-size: 24px;
        small{
            display: block;
            color: @tipsGreenColor;
            font-size: 24px;
            font-weight: 100;
            letter-spacing: 1px;
        }
    }
    p{
        color: #7f7f7f;
    }
}

.youtubeWrapper{
    padding: 30px 0;
    background: #e5e5e5;
    text-align: center;
    iframe{
        max-width: 100%;
        @media (max-width:768px){
            height: 350px;
        }
        @media (max-width:600px){
            height: 300px;
        }
        @media (max-width:480px){
            height: 220px;
        }

    }
}
.videoGallery{
    background: url('@{baseImagePath}/my-account/stainbg.jpg');
    padding: 30px 0;
    color: white;

    .videoThumbs{
    }

    .videoThumb{
        padding: 20px 0
    }
    h4{
        
    }
    p{
        color: @tipsGreenColor
    }
}
.vidThumbLink{
    position: relative;
    display: block;
    margin-bottom: 40px;
    img{
        width: 100%;
    }
    .playIcon{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        background:url("@{baseImagePath}/my-account/play-icon.png") center no-repeat;
    }
}
.aboutMyAccount{
    padding: 30px 0;
    background: #fafafa;
}

/* New My Account Page */
@myAccountgreen: #80BD26;
.myAccountHero{
    padding: 10px 0;
    .myAccountHeroLeft{
        padding-right: 20px;
        @media(max-width:767px){
            padding: 0 0 20px;
        }
    }
    .greenBtn,.learnMore{
        display: block;
        margin:10px 0;
        max-width: 300px;
        padding: 10px;
        color: white;
    }
    .greenBtn{
        @buttonFontSize:20px;
        background: @myAccountgreen;
        text-align: center;
        font-size: @buttonFontSize;
        line-height: @buttonFontSize;
        padding: 15px 10px;
        &:before{
            content: '';
            height: 0;
            width: 0;
            display: inline-block;
            border: solid 8px transparent;
            border-left-color: white;
        }
        &:hover{
            text-decoration: none;
        }
    }
    .learnMore{
        background: #023a68;
        &:before{
            content: '+ ';
            font-weight: bold;
            font-size: 1.5em;

        }
        &:hover{
            text-decoration: none;
        }
    }
    h3{
        color: #003768;
        text-transform: uppercase;
        font-size: 3em;
    }
    h4{
        color: @myAccountgreen;
        text-transform: uppercase;
        font-size: 2em;
    }
}
.myAccountMegaFooter{
    background: url('@{baseImagePath}/my-account/stainbg.jpg') center 0;
    padding: 50px 0;
    color: white;
    .greenBtn{
        @buttonFontSize:20px;
        display: block;
        margin:10px 0;
        max-width: 300px;
        padding: 10px;
        color: white;
        background: @myAccountgreen;
        text-align: center;
        font-size: @buttonFontSize;
        line-height: @buttonFontSize;
        padding: 15px 10px;
        &:before{
            content: '';
            height: 0;
            width: 0;
            display: inline-block;
            border: solid 8px transparent;
            border-left-color: white;
        }
    }
    h3{
        font-size: 2.5em;
        padding-bottom: 5px;
    }
    p{

    }
    .content-container{
        margin-top: 0;
    }
    .myAccountTabs{
        padding: 40px 0 20px;
        .clearfix;
        margin: 0 -2%;
        li{
            list-style: none;
            display: block;
            float: left;
            margin: 0 2%;
            width: 29.333%;
        }

        .greenTab{
            background: @myAccountgreen;
            display: block;
            padding: 20px 5px;
            .tabHeading{
                color: white;
                font-size: 1.8em;
                font-weight: bold;
                display: block;
                text-align: center;
                @media (max-width:767px){
                    font-size: 1.5em;
                }
           }
           .tabInfo{
            padding: 15px 10px 0;
            line-height: 1.2em;
            min-height: 3.6em;
            display: block;
            color: black;
            @media (min-width:1200px){
                min-height: 2.4em;
            }
           }
           &:hover,&.active{
            text-decoration: none;
            background: lighten(@myAccountgreen,45%);
            .tabHeading{
               color: @myAccountgreen; 
            }
           }
           &.active{
            background: white;
           }
           @media (max-width:979px){
                min-height: 90px;
           }
           @media (max-width:768px){
                min-height: 131px;
           }
           @media (max-width:480px){
            min-height: 0;
           }
        }
        @media (max-width:480px){
            margin: 0;
            li{
                width: 100%;
                margin: 10px 0;
            }
            .greenTab{
                .tabInfo{
                    display: none;
                }
            }
        }
    }
    #myAccountTabContentWrap{
        margin: 0;
        li.myAccountTabContent{
            list-style: none;
            display: none;
            &.active{
                display: block;
            }
            .accordion-group{
                border:none;
            &.active{
                background: rgba(0,0,0,0.4)
            }
                @iconDimension: 50px;
                .accordionHeader{
                    cursor: pointer;
                    font-size: 1.4em;
                    .inner-wrapper{
                        .clearfix;
                    }
                    .accordionIcon{
                        display: block;
                        height: @iconDimension;
                        width: @iconDimension;
                        background: url('@{baseImagePath}/my-account/accordion-icons.png');
                        float: left;
                    }
                    .accordionHdText{
                        display: block;
                        position: relative;
                        top: 15px;
                        margin-left: @iconDimension + 10px;
                    }
                    .iconProductPricing{
                        background-position: 0 -@iconDimension;
                    }
                    .iconQuotesOnline{
                        background-position: 0 -2*@iconDimension;
                    }
                    .iconItemisedQuotes{
                        background-position: 0 -3*@iconDimension;
                    }
                    .iconQuotesIntoOrders{
                        background-position: 0 -4*@iconDimension;
                    }
                    .iconOrderOnline{
                        background-position: 0 -5*@iconDimension;
                    }
                    .iconSimpleSecure{
                        background-position: 0 -6*@iconDimension;
                    }
                }
                .accordionContent{
                    padding-left: @iconDimension+10px;
                    color: @myAccountgreen;
                    font-size: 1.2em;
                    ul{
                        margin-left: 1em;
                        li{
                            list-style: disc;
                            padding: 5px 0 5px 20px;
                        }
                    }
                    [class*="span"]{
                        padding: 20px 0;
                    }
                }
            }
        }
    }
    .myTipsDesc{
        h4{
            a{
                color: @myAccountgreen;                
            }
        }
    }
    .myAccountDownloads{
        .clearfix;
        margin: 0;
        li{
            list-style: none;
            float: left;
            max-width: 160px;
            margin-right: 40px;
            padding-bottom: 30px;
            a{
                color: white;
                .downloadText{
                    display: block;padding-top: 5px;
                    font-size: .8em;
                }
                &:hover{
                    text-decoration: none;
                }
            }

        }
    }
}

