body.homepage {
  .panel-search {
    height: 52px;
    line-height: 52px;
    position: relative;
    
    .search-input {
      width: 100%;
      padding-right: 52px;

      input[type=text] {
        border: none;
        padding: 0 0 0 10px;
        width: 100%;
        height: 52px;
        line-height: 52px;
      }
    }

    .search-submit {
      position: absolute;
      right: 0;
      top: 0;
      button {
        @include appearance(none);
        border: none;
        background: $light-grey;
        font-size: 30px;
        width: 52px;
        height: 52px;

        i {
          position: relative;
          top: 4px;
        }
      }
    }
  }

  .section-intro {
    background-color: $body-light-grey;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
      a{
        display: block;
        text-align: center;
      }
    .row {
      margin-left: -5px;
      margin-right: -5px;
      .col-md-3,
      .col-md-6 {
        padding: 0 5px;
      }
    }
    .intro-text{
      text-align: center;
      color: $gold;
      font-size: 30px;
      padding: 0 10px;
      letter-spacing: -1.6px;
      position: relative;
      //background: -webkit-linear-gradient(left, #CCAA62 10%, #C0A053 15%,#FCEC95 30%, #FBEC84 40%, #DABB60 50%, #AB8731 70%, #C59F4A 80%, #E9CA6F);
      background: -webkit-linear-gradient(left, #ccaa62 0%, #c0a053 12%, #dfc063 21%, #d0b156 37%, #dabb60 47%, #ab8731 58%, #c59f4a 76%, #e9ca6f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      margin: 0 auto;
      margin-top: 11px;
      @media (min-width: $screen-sm-min) {
        font-size: 44px;
        padding: 0 20px;
      }
    }
    .experience{
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      padding: 0 20px;
      letter-spacing: 3.2px;
      margin-top: 15px;
      @media (min-width: $screen-sm-min) {
        font-size: 18px;
      }
    }
    .panel-hero {
      padding-bottom: 4px;
      @media (min-width: $screen-sm-min){
        min-height: 597px;  
      }
      @media (min-width: $screen-lg-min){
        min-height: 719px;  
      }
      .image{
        max-height: 510px;
        overflow: hidden;
      }
      img {
        width: 100%;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover{
          .arrow-link-icon{
            @include animation( arrow-right 1.3s forwards infinite linear);
          }
        }
      }
        
      .arrow-link {
        text-align: center;
        position: relative;

        .arrow-link-label {
          font-family: $font-family-book;
          color: black;
          text-transform: uppercase;
          font-size: 15px;
          margin-top: 19px;
          font-weight: 400;
          letter-spacing: 1.6px
        }

        .arrow-link-icon {
          display: block;
          i {
            @include transition(0.3s all ease-out);
            color: $gold;
            font-size: 52px;
            line-height: 30px;              
          }
        }
        
      }
    }

    .panel-link {
      display: block;
      overflow: hidden;
      position: relative;

      .background-div {
        position: absolute;
        width: 100%;
        @include transition(1s all ease-out);
        &:after{
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: rgba(0,0,0,0.8);
        }
      }

      &:hover {
        .background-div{
          &:after{
            opacity: 1;
          }
        }
        .text-overlay{
          .text-overlay-line-1{
            @include animation(exit-right-green 0.3s forwards linear);
            color: $green;
          }
          .text-overlay-line-2{
            @include animation(exit-left-green 0.3s forwards linear);
            color: $green;
          }
          .arrow-link{
            @include animation('exit-left-green 0.3s forwards linear, arrow-right 0.7s 0.5s forwards infinite linear');
            color: $green; 
          }
        }
      }
    }
    .text-gradient{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ccaa62+0,c0a053+12,dabb61+21,fbec84+37,dabb60+47,ab8731+76,c59f4a+85,e9ca6f+100 */
      background: #ccaa62; /* Old browsers */
      background: -moz-linear-gradient(left,  #ccaa62 0%, #c0a053 12%, #dabb61 21%, #fbec84 37%, #dabb60 47%, #ab8731 76%, #c59f4a 85%, #e9ca6f 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #ccaa62 0%,#c0a053 12%,#dabb61 21%,#fbec84 37%,#dabb60 47%,#ab8731 76%,#c59f4a 85%,#e9ca6f 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #ccaa62 0%,#c0a053 12%,#dabb61 21%,#fbec84 37%,#dabb60 47%,#ab8731 76%,#c59f4a 85%,#e9ca6f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccaa62', endColorstr='#e9ca6f',GradientType=1 ); /* IE6-9 */
    }
    .panel-find-inspiration {
      height: 285px;
      @media (min-width: $screen-md-min) {
        height: 347px;
      }
      
      .background-div {
        height: 347px;
        background: url("../images/homepage/find-inspiration.jpg");
        background-size: cover;
      }

      @media (min-width: $screen-lg-min){
        height: 469px; 
        
        .background-div {
          height: 469px;
        }
      }
    }

    .panel-shop-products {
      height: 285px;
      .background-div {
        height: 285px;
        background: url("../images/homepage/shop-products.jpg");
        background-size: cover;
      }
      @media (min-width: $screen-lg-min){
        height: 407px; 
        .background-div {
          height: 407px;
        }
      }
    }

    .text-overlay {
      height: 90px;
      position: absolute;
      bottom: 95px;
      @media (min-width: $screen-md-min) {
        bottom: 80px;
      }
      @media (min-width: $screen-lg-min) {
        bottom: 150px;
      }      
      padding-top: 18px;
      width: 100%;
      text-align: center;
      font-family: $font-family;
      font-weight: bold;
      color: $white;
      text-transform: uppercase;
      
      .text-overlay-line-1 {
        font-size: 14px;
        line-height: 14px;
        @include transition(0.5s color ease-out);
      }

      .text-overlay-line-2 {
        font-size: 28px;
        line-height: 28px;
        @include transition(0.5s color ease-out);
      }
      .arrow-link{
        i{
          font-size: 42px;
          @include transition(0.5s color ease-out);
        }
      }
    }
  }

  .section-the-block {
    background-color: $body-light-grey;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;

    .the-block-bathroom {
      background: rgba(0, 0, 0, 0) url("../images/homepage/the-block-bathroom.jpg") 238px 0;

      a {
        &:hover {
          text-decoration: none;
          .arrow-link-icon {
            @include transform(translate(5px,0));
          }
        }
      }
      
      .the-block-dean-shay {
        background-color: #231f20;
        text-align: center;
        @media (min-width: 375px) {
          padding-left: 20px;
          float: left;
        }
      }

      .the-block-edge {
        position: relative;
        float: left;
        display: none;
        @media (min-width: 375px) {
          display: block;
        }

        .arrow-link {
          position: absolute;
          bottom: -10px;
  
          .arrow-link-icon {
            display: block;
            @include transition(0.3s all ease-out);
            i {
              color: $grey;
              font-size: 42px;
            }
          }        
        }
      }
    }
  }

  .section-nav-blocks {
    background: $body-dark-grey url(../images/nav/nav-pattern.png) repeat;
    padding: 20px 15px 55px 15px;
     @media (min-width: $screen-sm-min) {
      padding: 50px 15px 55px 15px;
     }
    .row {
      margin-left: -2px;
      margin-right: -2px;
      .col-md-3 {
        padding: 0 2px;
      }
    }

    .nav-link {
      display: block;
      position: relative;
      margin-bottom: 4px;
      .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        opacity: 0;
        @include transition(0.2s all ease-out);
        &:after{
          content:" ";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.8);
        }
        .overlay-text{
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 0;
          width: 100%;
          @include transform(translateY(-50%));
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          color: white;
          line-height: 1;
          .overlay-text-1{
            font-size: 14px;
            @include transform(translateX(100%));
            @include transition(0.3s all ease-out);
            opacity: 0;
          }
          .overlay-text-2{
            font-size: 28px;
            @include transform(translateX(-50%));
            @include transition(0.5s all ease-out);
            opacity: 0;
          }
          .arrow-link{
            @include transform(translateX(-100%));
            @include transition(0.2s all ease-out);
            i{
              font-size: 40px;
            }
          }
        }
      }
      &:hover {
        .overlay{
          opacity: 1;
          .overlay-text{
            .overlay-text-1,
            .overlay-text-2,
            .arrow-link{
              @include transform(translateX(0));
              opacity: 1;
            }
            .arrow-link{
              @include animation(arrow-right 0.8s 0.3s forwards infinite linear);
            }
          }     
        }
        text-decoration: none;
        .nav-block{
          p {
            @include transform(scale(1.06));
          }          
          &.the-powder-room{
            .nav-block-label{
              background: $red;
              color: white;
            }
          }
        }
        .nav-block-label{
          background-color: $white;
          color: $light-blue;
        }
      }

      &:active, 
      &:focus {
        text-decoration: none;
      }

      .nav-block {
        height: 260px;
        background: #ccc;
        position: relative;
        font-family: $font-family;
        text-align: center;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translateX(-50%) translateY(-50%));
        }
        &.store-finder {
          background: url("../images/homepage/location-bg.jpg");
          background-size: cover;
          padding-top: 40px;
          img{
            @include transition(0.3s all ease-out);
          }
          .heading {
            @include transition(0.3s all ease-out);
            font-weight: bold;
            font-size: 20px;
            color: $white;
            margin-top: 10px;
          }
        }

        &.the-powder-room {
          img{
            @include transition(0.3s all ease-out);
          }
          background: url("../images/nav/nav-pink-tile.png") center;
          padding-top: 23px;

          .nav-block-label {
            background-color: $white;
            color: $red;
          }
        }
        
        &.planning {
          background: url("../images/homepage/planning.jpg");
          background-size: cover;
          padding: 45px;
          @media (min-width: $screen-md-min){
            padding: 45px 15px;
          }
          @media (min-width: $screen-lg-min){
            padding: 45px;
          }
          font-size: 13px;

          .heading {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
          }

          p {
            @include transition(0.3s all ease-out);
          }
        }

        &.brands {
          background: url("../images/homepage/brands.jpg") center;
          background-size: cover;
          .heading {
            font-size: 40px;
            font-weight: bold;
            color: white;
            position: absolute;
            top: 2px;
            left: 20px;
            @include transition(0.3s all ease-out);
          }
        }
      }
      .nav-block-label {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 35px;
        background-color: $white;
        color: $black;
        @include transition(0.3s color ease-out, 0.3s background ease-out);
      }
    }
  }

  .section-subscribe-form {
    background: url(../images/homepage/section-subscribe-bg.png);
    padding: 70px 15px;
    text-align: center;

    .subscribe-form {
      margin: 0;
      
      .subscribe-form-title {
        font-family: $font-family;
        font-size: 15px;
        text-transform: uppercase;
        color: $dark-grey;
        display: block;
        margin: 0 0 10px;
        @media (min-width: $screen-sm-min) {
          display: inline;
          margin-right: 0 15px 0 0;
        }
      }

      input[type=text],
      input[type=email] {
        width: 100%;
        display: block;

        @media (min-width: $screen-sm-min){
          width: 210px;
          display: inline;
          margin-left: 10px;
        }

        @include appearance(none);
        border: none;
        height: 50px;
        line-height: 50px;
        background: $light-grey;
        padding-left: 15px;
        margin-bottom:10px;

        &.error {
          border:1px solid $red;
        }
      }

      .name-wrapper {
        position: relative;
        display: block;
        @media (min-width: $screen-sm-min) {
          display: inline-block;
        }
      }

      .submit-wrapper {
        position: relative;
        padding-right: 50px;
        height: 50px;
        display: block;
        @media (min-width: $screen-sm-min) {
          display: inline-block;
        }

        .subscribe-submit {
          position: absolute;
          right: 0;
          bottom: 0;

          button {
            @include appearance(none);
            border: none;
            background: #f1f1f1;
            font-size: 30px;
            width: 50px;
            height: 50px; 
            padding-top: 7px;
          }
        }
      }

      label.error {
        color: $red;
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min) {
          position: absolute;
          top: 55px;
          left: 10px;
        }
      }
    }
  }

  .site-footer {
    margin-top: 0;
  }
}
@include keyframes(arrow-right){
  0% {
    @include transform(translateX(0));
  }
  50%{
    @include transform(translateX(10px));
  }
  100%{
    @include transform(translateX(0));
  }
}
@include keyframes(exit-right-green){
  0% {
    @include transform(translateX(0));
  }
  10% {
    @include transform(translateX(0));
    opacity: 0;
  }
  10.1%{
    @include transform(translateX(100%));
  }
  100%{
    @include transform(translateX(0));
  }
}
@include keyframes(exit-left-green){
  0% {
    @include transform(translateX(0));
  }
  10% {
    @include transform(translateX(0));
    opacity: 0;
  }
  10.1%{
    @include transform(translateX(-100%));
  }
  100%{
    @include transform(translateX(0));
  }
}
@include keyframes(pulse){
0% {
    @include transform(scale(0.9));
    opacity: 0.7;   
  }
  50% {
    @include transform(scale(1));
    opacity: 1; 
  } 
  100% {
    @include transform(scale(0.9));
    opacity: 0.7; 
  } 
}
@include keyframes(tossing) {
  0% {
    @include transform(rotate(-4deg)); 
  }
  50% {
    @include transform(rotate(4deg));
  }
  100% {
    @include transform(rotate(-4deg)); 
  }           
}
