body.homepage {
  .panel-search {
    height: 38px;
    line-height: 38px;
    
    input[type=text] {
      border: none;
      padding: 0 0 0 10px;
      width: 200px;
      height: 38px;
      line-height: 38px;
    }
  }

  .arrow-link {
    text-align: center;

    .arrow-link-label {
      font-family: $font-family-book;
      color: $dark-blue;
      text-transform: uppercase;
      font-size: 13px;
    }
  }

  .section-intro {
    background-color: $body-light-grey;
    padding-top: 40px;
    padding-bottom: 20px;

    .row {
      margin-left: -5px;
      margin-right: -5px;
      .col-md-3,
      .col-md-6 {
        padding: 0 5px;
      }
    }

    .panel-hero {
      min-height: 647px;

      img {
        width: 100%;
      }
    }

    .text-overlay {
      height: 90px;
      background: rgba(0,0,0,0.1);
      position: absolute;
      bottom: 124px;
      padding-top: 18px;
      width: 100%;
      text-align: center;
      text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.30);

      font-family: $font-family;
      font-weight: bold;
      color: $white;
      text-transform: uppercase;
      
      .text-overlay-line-1 {
        font-size: 18px;
        line-height: 18px;
      }

      .text-overlay-line-2 {
        font-size: 33px;
        line-height: 33px;
      }
    }

    .panel-find-inspiration {
      position: relative;
      height: 420px;

      background: url("../images/homepage/find-inspiration.jpg");
      background-size: cover;
    }

    .panel-shop-products {
      position: relative;
      height: 370px;

      background: url("../images/homepage/shop-products.jpg");
      background-size: cover;
    }

    .panel-slideshow {
      height: 220px;
    }
  }

  .section-the-block {
    background-color: $body-light-grey;
    padding-bottom: 30px;

    .the-block-bathroom {
      background: rgba(0, 0, 0, 0) url("../images/homepage/the-block-bathroom.jpg") 243px 0;

      .the-block-dean-shay {
        float: left;
      }

      .the-block-edge {
        float: left;
      }
    }
  }

  .section-nav-blocks {
    background-color: $body-dark-grey;
    padding-top: 50px;
    padding-bottom: 50px;

    .row {
      margin-left: -2px;
      margin-right: -2px;
      .col-md-3 {
        padding: 0 2px;
      }
    }

    .nav-block {
      height: 227px;
      background: #ccc;

      &.store-finder {
        background: url("../images/nav/nav-store-finder.jpg") center;
      }

      &.the-powder-room {
        background: url("../images/nav/nav-powder-room.png") center;
      }

      &.planning {
        background: url("../images/nav/nav-planning.png") center;
      }

      &.brands {
        background: url("../images/nav/nav-brands.jpg") center;
      }
    }
  }
}
