body.inspiration{
	.main{
		font-family: $font-family;
		#powder-room-header{
			background: url(../images/inspiration/the-wall-bg.png);
			padding: 60px 0 50px;
			.container-fluid{
				max-width: 1230px;
			}
			.subscribe-wrapper{
				position: relative;
				h2{
					position: absolute;
					left: -15px;
					top: -10px;
					z-index: 2;
					margin: 0;
				}
			}
			.subscribe-content{
				position: relative;
				background: url(../images/inspiration/header-form-bg.jpg) left center;
				padding: 30px;
				margin-left: 80px;
				padding-left: 170px;
				.text{
					font-size: 20px;
					font-weight: 500;
				}				
				.subscribe-box{
					background: url(../images/inspiration/subscribe-box-bg.jpg) repeat;
					padding: 40px 40px 25px;
					h3{
						color: $light-black;
						text-transform: uppercase;
						font-weight: 500;
						font-size: 16px;
					}
					input{
						background: $grey;
						@include appearance(none);
						border: none;
						@include border-radius(0);
						@include box-shadow(none);
					}
				}
			}
		}
		.inspWallHeader{
			margin-top: 0;
		}
		.inspWallwrapper{
			padding-top: 0;
		}
	}
}