#slide1922{
	background-color: #9a8478;
	svg, img {
		height: 100%;
		width: auto;
	}
	#logo-1922 {
		div {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			text-align: center;
		}
	}
	#stamp-1922 {
		div {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			text-align: center;
		}
	}
}