#slide1922{
	svg, img {
		width: 880px;
		height: auto;
	}
	#logo-1922 {
		div {
			position: absolute;
			left: 0;
			top: 0;
			top: 14%;
			height: 60%;
			width: 100%;
			text-align: center;
		}
	}
	#stamp-1922 {
		div {
			position: absolute;
			left: 0;
			top: 14%;
			height: 60%;
			width: 100%;
			text-align: center;
		}
	}
}