#slide1969 {
	@h: 50%;
	background-image: url("@{imagepath}/1969-wall.svg");
	svg, img {
		height: 100%;
		// width: auto;
	}
	#painting-1969 {
		div {
			position: absolute;
			top: (100% - @h)/1.5;
			height: @h;
			left: 0;
			width: 100%;
			text-align: center;
		}
	}
	#couch-1969 {
		div {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			text-align: right;
		}
	}
	#lamp-1-1969 {
		div {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			text-align: left;
		}
		#overlay-1969 {
			background-color: #0c2731;
			.opacity(70);
		}
	}
	#lamp-2-1969 {
		div {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			text-align: left;
		}
	}
}