#slide1970 {
	position: relative;
	svg, img {
		height: 100%;
	}
	#buildings-1-1970,
	#buildings-2-1970{
		top: auto;
		bottom: 9%;
	}
	.ground{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 9%;
		background: #006f3c
	}

	#cloud-1970 {
		div {
			position: absolute;
			bottom: 9%;
			left: 0;
			right: 0;
			height: 40%;
			text-align: center;
		}
	}
}