#slide1976-2{
	background: #1C75BC;
	.ground{
		background: #414042;
		height: 100px;
		position: relative;
	}
	.stage{
		position: relative;
		top:1px;
		overflow: hidden;
		padding-top: 150px;
	}
	.utes{
		background: url("@{imagepath}/ute.svg") repeat-x;
		height: 77px;
		position: relative;
		width: 3000px
	}
	.wareHouse{
		background: url("@{imagepath}/warehouse.svg") no-repeat center 0;
		height: 205px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100px;
	}
}
