#slide1976-2{
	@g: 30%;
	img {
		height: 100%;
		width: auto;
	}
	.stage{
		position: absolute;
		bottom: 0%;
		height: 50%;
		width: 100%;
		overflow: hidden;
		.ground {
			background: #414042;
			height: @g;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.utes {
			background: url("@{imagepath}/ute.svg") repeat-x;
			height: 77px;
			position: absolute;
			bottom: @g;
			width: 1500px;
		}
		.wareHouse {
			height: (100% - @g);
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: @g;
			text-align: center;
			div {
				height: 100%;
			}
			img {
				position: relative;
			}
		}
	}
}
