#slide1987-2 {
	background-color: #c4122f;
	img {
		height: 100%;
		width: auto;
		max-width: 70%;
	}
	#old-1987-2, #new-1987-2 {
		div {
			height: 20%;
			position: absolute;
			top: 40%;
			left: 0;
			width: 100%;
			text-align: center;
		}
	}
	#old-1987-2 {
		background-color: #c4122f;
	}
	#new-1987-2 {
		background-color: #003767;
	}
}