#slide1987-3 {
	img {
		height: 100%;
		width: auto;
		max-width: 200%; //override
	}
	#background-1987-3 {
		div {
			width: 50%;
			height: 100%;
			text-align: center;
			&.left {
				float: left;
				background-color: #006738;
			}
			&.right {
				float: right;
				background-color: #00adef;
			}
		}
	}
	#map-1987-3 {
		background-image: url("@{imagepath}/1987-3-map.png");
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
		@media (max-width:1200px){
			background-image: url("@{imagepath}/1987-3-map.png");
		}

	}
	#label-1987-3 {
		background-image: url("@{imagepath}/1987-3-label.svg");
		background-size: 100% auto;
		background-position: center center;
	}
}