#slide1987-1{
	@b: 16%;
	img {
		width: auto;
		height: 100%;
	}
	#dial-1987-1 {
		div {
			position: absolute;
			height: 64%;
			width: 100%;
			bottom: 0%;
			text-align: center;
		}
	}
	#face-1987-1 {
		div {
			position: absolute;
			height: 64%;
			width: 100%;
			bottom: 0%;
			text-align: center;
		}
	}
}
