@-webkit-keyframes sprinkler1990s  {
	0% { stroke-dashoffset: 200; }
	100% { stroke-dashoffset: 0; }
}
@-moz-keyframes sprinkler1990s  {
	0% { stroke-dashoffset: 200; }
	100% { stroke-dashoffset: 0; }
}
@-o-keyframes sprinkler1990s  {
	0% { stroke-dashoffset: 200; }
	100% { stroke-dashoffset: 0; }
}
@keyframes sprinkler1990s  {
	0% { stroke-dashoffset: 200; }
	100% { stroke-dashoffset: 0; }
}

#slide1990s{
	img, svg {
		width: 100%;
		height: auto;
		margin: 0 auto;
		max-width: 1200px;
	}
	.layer div {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	#slide1990s-water .line {
		-webkit-animation: sprinkler1990s 500ms infinite;
		-moz-animation: sprinkler1990s 500ms infinite;
		-o-animation: sprinkler1990s 500ms infinite;
		animation: sprinkler1990s 500ms infinite;

	}
}