#slide1994{
	img {
		height: 100%;
		width: auto;
	}
	#blackboard-1994 {
		top: 46%;
		text-align: center;
		.wrap {
			height: 44%;
			display: inline-block;
		}
		.blackboard {
			height: 100%;
		}
		.chalk {
			height: 100%;
			position: relative;
			top: -100%;
			overflow: hidden;
			img {
				max-width: 1200%; // override
			}
		}
	}
}