#slide1997{
	background-size: 100% auto;
	min-height: 500px;
	padding: 1px 0;
	h1 {
		font-weight: 100;
		font-size: 100px;
		margin-top: 15%;
		text-align: center;
	}
	p{

	}
	.pipes{
		background: url("@{imagepath}/1997-pipes.png") center no-repeat;
		height: 238px;

	}
	.water{
		background: url("@{imagepath}/1997-water.png") -1350px 100% no-repeat;
		height: 238px;
	}
	.mapwrap{
		overflow: hidden;
		padding-bottom: 10%;
	}
	.map{
		background: url("@{imagepath}/1997-map.png") 0 0 no-repeat;
		width: 250px;
		height: 200px;
		float: right;
	}
}