#slide1997{
	background-size: 100% auto;
	// min-height: 500px;
	padding: 1px 0;
	h1 {
		font-weight: 100;
		font-size: 100px;
		margin-top: 15%;
		text-align: center;
	}
	.wrap {
		width: 100%;
		margin: 0 auto;
		max-width: 1000px;
	}
	.layer {
		top: auto;
		height: auto;
		bottom: 0;
	}
	.waterPipes{
		position: relative;
		overflow: hidden;
	}
	.pipes{
		background: url("@{imagepath}/1997-pipes.png") center no-repeat;
		padding-bottom: 20%;
		background-size: 100%;
		position: relative;
		z-index: 1;
		background-position: 0 0;
	}
	.water{
		background: url("@{imagepath}/1997-water.png") no-repeat;
		padding-bottom: 20%;
		position: absolute;
		left: -100%;
		top: 0;
		right: 0;
		z-index: 0;
	}
	.mapwrap{
		overflow: hidden;
		// padding-bottom: 10%;
	}
	.map{
		background: url("@{imagepath}/1997-map.png") 0 0 no-repeat;
		width: 250px;
		height: 200px;
		float: right;
	}
}