#slide1998{
	background: #00AEEF url("@{imagepath}/1998-bg-cloud.png") center 100% no-repeat ;
	.buildingwrap{
		display: inline-block;
		width: 800px;
		height: 320px;
		.building{
			height: 150px;
			width: 300px;
			position: absolute;
			right: 200px;
			bottom: 0;
			background: url("@{imagepath}/1998-building.png") 0 -33% no-repeat;
		}
	}
	#sprinkler1998Wrap{
		position: relative;
		overflow: hidden;
		height: 320px;
	}
	.sprinklerItem{
		position: absolute;;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.grass{
		height: 70px;
		background: url("@{imagepath}/1998-bg-grass.png") 0 0 repeat-x;
		margin-top: -10px;
		
	}
}