#slide2000-2 {
	img, svg {
		height: 100%;
		width: auto;
		display: block;
		margin: auto;
	}
	#scene-2000-2 {
		position: absolute;
		top: auto;
		bottom: 5%;
		height: 60%;
		div {
			width: 80%;
			height: 100%;
			margin: 0 auto;
			text-align: center;
			position: relative;
		}
		.man {
			position: relative;
			z-index: 2;
		}
		.basin {
			position: absolute;
			left: 5%;
			top: 0;
			z-index: 1;
		}
		.paper {
			position: absolute;
			right: 14%;
			top: 0;
			z-index: 1;
		}
	}
	#floor-2000-2{
		background-color: #00a79d;
		position: absolute;
		bottom: 0;
		top: auto;
		left: 0;
		width: 100%;
		height: 12%;
	}
	#skirting-2000-2{
		border-top: 14px solid #d6cdbd;
		background-color: #a19784;
		position: absolute;
		bottom: 12%;
		top: auto;
		left: 0;
		width: 100%;
		height: 7%;
	}
}

