#slide2005-1 {
	background-color: #0e004e;
	img, svg {
		height: auto;
		width: 100%;
		display: block;
	}
	#scene-2005-1 {
		position: absolute;
		top: auto;
		bottom: 5%;
		height: 100%;
		.wrap {
			width: 60%;
			height: 100%;
			margin: 0 auto;
			text-align: center;
			position: relative;
			.pos {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				z-index: 1;
			}
		}
		.ice {
			position: absolute;
			right: 0;
			bottom: 100%;
			height: 300%;
			width: 20%;
			background: url("@{imagepath}/2005-1-ice.svg") center 0 repeat-y #0e004e;
			background-size: 100% auto;
			z-index: 2;
			.edge {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				z-index: 2;
				img {
					position: relative;
					margin-bottom: -6%;
				}
			}
		}
	}
	#floor-20050-1 {
		background-color: #404041;
		position: absolute;
		bottom: 0;
		top: auto;
		left: 0;
		width: 100%;
		height: 12%;
	}
}

