#slide2006-2{
	#map-2006-2{
		bottom: 17%;
		top: auto;
		height: auto;
		.wrap {
			width: 80%;
			margin: 0 auto;
			position: relative;
		}
		img {
			width: 100%;
			height: auto;
		}
		svg {
			width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			left: 0;
		}
		.map-logo {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

}
