#slide2007-1 {
	background-image: url("@{imagepath}/2007-1-birds.svg");
	background-position: 10% 50%;
	background-repeat: no-repeat;


	#fridge-2007-1 {
		.wrap {
			height: 60%;
			width: 100%;
			position: absolute;
			left: 0;
			top: auto;
			bottom: 4.5%;
			text-align: center;
			img {
				height: 100%;
				width: auto;
				&.off {
					position: relative;
					top: -100%;
				}
			}
		}
	}
	#ground-2007-1{
		background-color: #c2b49a;
		height: 18%;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: 30px solid #ffffff;
		&:before {
			content: "";
			height: 8px;
			width: 100%;
			background-color: #e6e7e8;
			position: absolute;
			top: -38px;
		}
	}

}