#slide2007-2 {
	.cloud {
		position: relative;
		img {
			position: absolute;
			bottom: 0;
		}
	}
	.cloud-1 {
		height: 30%;
		img {
			left: 20%;
			height: 60%;
		}
	}
	.cloud-2 {
		height: 20%;
		margin-top: -30px;
		img {
			left: 0%;
			height: 100%;
		}
	}
	.cloud-3 {
		height: 24%;
		img {
			right: 0%;
			height: 60%;
		}
	}
	
}

