#slide2007-3 {
	#stage-2007-3 {
		text-align: center;
		img {
			height: 100%;
			width: auto;
			//margin: 0 auto;
		}
	}
	#curtains-2007-3 {
		.wrap {
			height: 100%;
			width: 200%;
			position: absolute;
			left: -50%;
			top: -8%;
			div {
				height: 100%;
				width: 50.1%;
				position: absolute;
				top: 0;
				img {
					height: 100%;
					width: auto;
					position: absolute;
					bottom: 0;
				}
				&.left {
					left: 0%;
					img {
						right: 0;
					}
				}
				&.right {
					right: 0%;
					img {
						left: 0;
					}
				}
			}
		}
	}
	#ground-2007-3 {
		background-color: #603813;
		height: 17%;
		bottom: 0;
		top: auto;
	}
}