#slide2009-2 {
	background-image: url("@{imagepath}/2009-2-bg.svg");
	background-position: 50% 50%;
	.outerWrap{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.wrap{
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		.taps{
			width: 100%;
		}
		.waterStream{
			background:#3FA9F5;
			width: 1%;
			height: 81%;
			position: absolute;
			top:19%;
			left: 10%;
		}
		#waterStream2009-1{
			left: 27%
		}
		#waterStream2009-2{
			left: 38.4%
		}
		#waterStream2009-3{
			left: 49.5%
		}
		#waterStream2009-4{
			left: 61.7%
		}
		#waterStream2009-5{
			left: 73.5%
		}
	}
}