#slide2010 {
	#shelf-2010-1 {
		top: auto;
		bottom: 14%;
		text-align: center;
		height: 50%;
		.wrap {
			width: 860px;
			margin: 0 auto;
			position: relative;
			height: 100%;
			background-color: white;
			img {
				height: auto;
				width: 100%;
				position: relative;
			}
			.water{
				background-color: #00aeef;
				height: 40%;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}
		}
	}
}