#slide2012-3 {
	#sofa-2012-3 {
		div {
			height: 42%;
			position: absolute;
			bottom: 6%;
			right: 0;
			text-align: right;
			img {
				height: auto;
				width: 330px;
			}
		}
	}
	#window-2012-3 {
		div {
			height: auto;
			position: absolute;
			left: 8%;
			top: 34%;
			background-color: #003767;
			overflow: hidden;
			img {
				height: auto;
				width: 228px;
			}
			.moon {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	#ground-2012-3 {
		background-color: #af5f10;
		height: 12%;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: 30px solid #91afd5;
	}
	#man-2012-3 {
		div {
			height: 60%;
			text-align: center;
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
			img {
				height: 100%;
				width: auto;
			}
		}
	}
}