#slide2012-1 {
	.cloud {
			outline: 1px dotted black;
		position: relative;
		img {
			position: absolute;
			bottom: 0;
		}
	}
	.cloud-1 {
		height: 30%;
		img {
			left: 20%;
			height: 60%;
		}
	}
	.cloud-2 {
		height: 20%;
		margin-top: -30px;
		img {
			left: 0%;
			height: 100%;
		}
	}
	.cloud-3 {
		height: 24%;
		img {
			right: 0%;
			height: 60%;
		}
	}
	#number-2012-1 {
		top: auto;
		bottom: 14%;
		height: 54%;
		text-align: center;
		.wrap {
			height: 100%;
			width: 100%;
		}
		img {
			height: 100%;
			width: auto;
		}
	}
}
