#slide2012-1 {
	img {
		height: 100%;
		width: auto;
	}
	#buildings-2012-1 {
		top: auto;
		bottom: 13%;
		height: 44%;
		text-align: center;
		.wrap {
			height: 100%;
			display: inline-block;
		}
		.old {
			height: 100%;
		}
		.new {
			height: 100%;
			position: relative;
			top: -100%;
			overflow: hidden;
			img {
				max-width: 60000%; // override
			}
		}
	}
	#ground-2012-1 {
		top: auto;
		bottom: 0;
		width: 100%;
		height: 13%;
		background-color: #38b449;
	}
}