#slide2014-1 {
	background: url("@{imagepath}/2014-1-bg.svg") center center;
	&.small {
		background-size: 80px 80px;
	}
	#gauge-2014-1{
		bottom: 10%;
		top: auto;
		height: 60%;
		.wrap {
			width: 600px;
			margin: 0 auto;
			position: relative;
		}
		.backface {
			width: 100%;
			height: auto;
		}
		.gauge {
			position: absolute;
			height: auto;
			width: 66%;
			top: 0;
			right: 3%;
		}
		.gauge-dial {
			position: absolute;
			height: auto;
			width: 66%;
			top: 0;
			right: 3%;
		}
		.numbers {
			width: 26%;
			height: 35.25%;
			position: absolute;
			left: 6%;
			top: 30%;
			overflow: hidden;
			border-radius: 8px;
			background-color: #000000;
			background-image: url("@{imagepath}/2014-1-numbers.svg");
			background-position: 0 0;
			background-size: 100% auto
		}
	}

}