.main-header .header-container,
.main-footer .footer-container,
.masonry-container,
.content-container,
.navbar-container {
  max-width: 1200px;
}
.content-container .inner-wrapper {
  position: relative;
  margin: 0 10px;
  padding: 10px;
}
.features > div {
  padding-right: .5%;
  padding-left: .5%;
}
.tile-item {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.25s box-shadow ease-in-out;
  -moz-transition: 0.25s box-shadow ease-in-out;
  -o-transition: 0.25s box-shadow ease-in-out;
  -ms-transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
}
.tile-item a.primary-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.feature-item {
  position: relative;
  border: 3px solid #fff;
}
.feature-item.last {
  margin-right: none !important;
}
.feature-item .caption {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 12px 15px 12px 15px;
  height: 42px;
  color: #fff;
  text-align: center;
}
.feature-item .caption h4 {
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: white;
}
.feature-item:hover .caption {
  height: 54px;
  -webkit-transition: height 200ms ease-out;
  -moz-transition: height 200ms ease-out;
  -ms-transition: height 200ms ease-out;
  -o-transition: height 200ms ease-out;
  transition: height 200ms ease-out;
}
.feature-item .form-wrapper {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  height: 120px;
  margin-top: -60px;
}
.feature-item .form-wrapper h4 {
  color: white;
}
.feature-item .caption.no-border {
  border: none;
}
.feature-item .form-wrapper select {
  margin: 0 auto 10px auto !important;
}
.feature-hvacr .caption {
  background-color: #0397D7;
}
.feature-bathrooms .caption {
  background-color: #db1e24;
}
.feature-plumbing .caption {
  background-color: #0d2e56;
}
.feature-irrigation .caption {
  background-color: #5e792d;
}
.feature-onsite .caption {
  background-color: #f47836;
}
.feature-civil .caption {
  background-color: #b65312;
}
.feature-my-account .caption {
  background-color: #7c99c1;
}
.specialised .bottom-space {
  padding: 0;
  margin-bottom: 9px;
}
.specialised .feature-item {
  position: relative;
  margin-right: 3px;
}
.specialised .feature-item.last {
  margin-left: 3px;
  margin-right: 0;
}
.feature-storefinder .caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: auto;
  height: auto;
  padding: 5px 15px;
  color: white;
  text-align: center;
  background-color: transparent;
}
.feature-storefinder .caption:hover .caption {
  height: auto;
}
.feature-storefinder .caption h4 {
  font-size: 16px;
  color: #fff;
  padding: 0 0 15px 0;
  margin: 0;
}
.main-options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-options-list li {
  margin: 0;
  position: relative;
  border-bottom: 1px solid #333333;
  width: 50%;
  float: left;
  background-repeat: no-repeat;
}
.main-options-list li a {
  display: block;
  position: relative;
  padding: 1em 1em 1em 0.5em;
  border-left: 5px solid red;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.main-options-list li a:hover,
.main-options-list li a:focus,
.main-options-list li a:active {
  text-decoration: none;
  border-width: 1em;
  color: rgba(255, 255, 255, 0.6);
}
.main-options-list li span {
  display: block;
  position: absolute;
  right: 5px;
  margin-top: -10px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: url('../images/home-2013/arrow.png') 0 0 no-repeat scroll;
  background-size: 100%;
}
.main-options-list li.account {
  width: 100%;
}
.main-options-list li.account a {
  border-left: none;
  border-top: 1px solid #999;
  text-align: center;
  padding: 0.3em;
  color: #fff;
  font-size: 1.2em;
  background: #848484;
  background: -moz-linear-gradient(top, #848484 0%, #555555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #848484), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #848484 0%, #555555 100%);
  background: -o-linear-gradient(top, #848484 0%, #555555 100%);
  background: -ms-linear-gradient(top, #848484 0%, #555555 100%);
  background: linear-gradient(to bottom, #848484 0%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#555555', GradientType=0);
}
.main-options-list li.account span {
  position: static;
  margin-top: 0;
  margin-right: 10px;
  float: none;
  display: inline-block;
  height: 44px;
  width: 44px;
  vertical-align: middle;
  background-image: url('../images/home-2013/account-icon.png');
  background-color: transparent;
}
.main-options-list li.cat-block {
  position: relative;
  overflow: hidden;
}
.main-options-list li.cat-block a {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em 0em 1em 1em;
  border-left: 0;
}
.main-options-list li.hvacr.cat-block a {
  background-color: #0397D7;
  background: rgba(3, 151, 215, 0.9);
}
.main-options-list li.bathrooms.cat-block a {
  background-color: #db1e24;
  background: rgba(219, 30, 36, 0.9);
}
.main-options-list li.plumbing.cat-block a {
  background-color: #0d2e56;
  background: rgba(13, 46, 86, 0.9);
}
.main-options-list li.irrigation.cat-block a {
  background-color: #5e792d;
  background: rgba(94, 121, 45, 0.9);
}
.main-options-list li.onsite.cat-block a {
  background-color: #f47836;
  background: rgba(244, 120, 54, 0.9);
}
.main-options-list li.civil.cat-block a {
  background-color: #b65312;
  background: rgba(182, 83, 18, 0.9);
}
.main-options-list li.find-store {
  width: 100%;
  font-size: 1.4em;
}
.main-options-list li.find-store h2 {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  font-size: 1.0em;
  color: #fff;
}
.main-options-list li.find-store h2 span {
  float: left;
  width: auto;
  height: auto;
  background: none;
}
.main-options-list li.find-store h3 {
  margin: 0.8em 0 0.5em 0;
  font-size: 0.8em;
}
.main-options-list li.find-store h4 {
  font-size: 0.8em;
}
.main-options-list li.find-store button {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  border: 0;
  padding: 4px 10px;
  color: #fff;
  background: #333;
}
.main-options-list li.find-store a span {
  display: inline-block;
  float: none;
  margin-bottom: -5px;
}
.main-options-list li.find-store p {
  font-size: 0.7em;
  margin: 0.5em 0;
}
.main-options-list li.find-store form {
  margin-bottom: 30px;
}
.main-options-list li.find-store .more-options {
  padding: 4px 18px;
}
.main-options-list li.find-store .use-location {
  background-color: #db1e24;
}
.main-options-list li.find-store .top {
  padding: 1em;
  background: #848484;
  background-image: url('../images/home-2013/au-map-mini.png');
  background-image: url('../images/home-2013/au-map-mini.png'), -webkit-gradient(linear, left top, left bottom, from(#848484), to(#555555));
  background-image: url('../images/home-2013/au-map-mini.png'), -webkit-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), -moz-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), -ms-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), -o-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), linear-gradient(top, #848484, #555555);
  background-position: 95% center;
  background-repeat: no-repeat;
}
.main-options-list li.find-store .top.nz {
  background-image: url('../images/home/nz-map-mini.png');
  background-image: url('../images/home/nz-map-mini.png'), -webkit-gradient(linear, left top, left bottom, from(#848484), to(#555555));
  background-image: url('../images/home/nz-map-mini.png'), -webkit-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home/nz-map-mini.png'), -moz-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home/nz-map-mini.png'), -ms-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home/nz-map-mini.png'), -o-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home/nz-map-mini.png'), linear-gradient(top, #848484, #555555);
}
.main-options-list li .more-options-menu {
  padding: 0 1em;
  text-align: center;
}
.main-options-list li .more-options-menu span {
  float: none;
  position: static;
  width: 100%;
  margin-top: 0;
}
#mobCarousel {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  hr {
    margin: 12px 0;
  }
  .bottom-space {
    margin-bottom: 14px;
  }
}
@media (max-width: 979px) {
  .toolbox .toolbox-button {
    top: -36px;
    right: 50px;
  }
  .content-container {
    min-height: 0;
  }
  #headCarousel {
    padding-top: 0;
  }
  .feature-item .caption h4 {
    font-size: 14px;
  }
  .specialised .feature-item .caption {
    height: 32px;
  }
  .specialised .feature-item:hover .caption {
    height: 44px;
  }
  .specialised .feature-item .caption h4 {
    font-size: 12px;
  }
  .feature-item .form-wrapper {
    height: 100px;
    margin-top: -50px;
  }
  .feature-storefinder h4 {
    font-size: 14px;
  }
  .form-wrapper select,
  .form-wrapper input {
    font-size: 11px;
  }
  footer {
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  hr {
    margin: 4px 0;
  }
}
@media (max-width: 768px) {
  .content-container {
    margin-top: 0;
    min-height: 0;
  }
  .bottom-space {
    margin-bottom: 9px;
  }
  .feature-storefinder .caption {
    top: 25px;
  }
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
  .row {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-12,
  .row .col-md-12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row [class*="offset"]:first-child {
    margin-left: 0;
  }
  .feature-item .form-wrapper {
    top: 110px;
    left: 10px !important;
  }
  .sitemap-footer ul,
  .sitemap-footer h4 {
    margin-right: 0;
  }
  footer {
    margin-top: 0;
  }
  .main-options-list li.bathrooms.cat-block {
    background-image: url('../images/home-2013/feature-bathrooms-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.plumbing.cat-block {
    background-image: url('../images/home-2013/feature-plumbing.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.irrigation.cat-block {
    background-image: url('../images/home-2013/feature-irrigation-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.onsite.cat-block {
    background-image: url('../images/home-2013/feature-onsite-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.civil.cat-block {
    background-image: url('../images/home-2013/feature-civil-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.hvacr.cat-block {
    background-image: url('../images/home-2013/feature-hvacr-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.bathrooms-nz.cat-block {
    background-image: url('../images/home/bathrooms-nz-tile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.plumbing-nz.cat-block {
    background-image: url('../images/home/plumbing-nz-tile.jpg');
    background-size: cover;
    height: 150px;
  }
}
@media (max-width: 639px) {
  .feature-item,
  .specialised .feature-item {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
  .specialised .feature-item .caption {
    bottom: 23px;
  }
  .specialised .feature-item .caption h4 {
    font-size: 21px;
  }
  .feature-item h4 {
    color: white;
  }
}
@media (max-width: 320px) {
  .feature-item i {
    display: none;
  }
  #social-footer li {
    margin: 0;
  }
  #social-footer a {
    padding: 2px;
  }
}
#mobileStorefinderSearch select option.bu_P,
.storefinderform select option.bu_P {
  color: #0d2e56;
}
#mobileStorefinderSearch select option.bu_B,
.storefinderform select option.bu_B {
  color: #db1e24;
}
#mobileStorefinderSearch select option.bu_I,
.storefinderform select option.bu_I {
  color: #5e792d;
}
#mobileStorefinderSearch select option.bu_O,
.storefinderform select option.bu_O {
  color: #f47836;
}
#mobileStorefinderSearch select option.bu_C,
.storefinderform select option.bu_C {
  color: #b65312;
}
#mobileStorefinderSearch select option.bu_H,
.storefinderform select option.bu_H {
  color: #0397D7;
}
#mobileStorefinderSearch input[type="number"],
.storefinderform input[type="number"] {
  min-width: 140px;
  width: 100%;
}
#mobileStorefinderSearch input.searchstores,
.storefinderform input.searchstores {
  width: 60px;
}
#mobileStorefinderSearch .typeahead,
.storefinderform .typeahead {
  text-align: left;
}
