//
// e Commerce Forms
// --------------------------------------------------


legend {
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
label{
	font-weight: normal;
	font-size: 13px;
	color: #444;
}

.form-control {
	.box-shadow(none);
}

.form-horizontal{
	.form-group{
		.clearfix;
	}
}

.btn{
	.box-shadow(none);
	&:active{
		.box-shadow(none);
	}
}

.radio,
.checkbox{
	padding-left: 0;
}