//
// Labels
// --------------------------------------------------

.label {
  border-radius: 0;
  font-weight: 300;
  text-shadow: none;
  padding: .5em 1em .6em;

}

.label-default {
  color: @label-default-color;
}
