//
// Accordion
// --------------------------------------------------

.panel-group{
	.panel-title{
		font-size: 26px;
		font-weight: 200;
		position: relative;
		cursor: pointer;
		&:before{
			height: 30px;
			width: 30px;
			float: right;
			content: 'm';
			font-family: "reece-e-commerce" !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: @brand-primary;
		}
	}
	.active{
		.panel-title{
			&:before{
				content: 'i'
			}
		}
	}
}