//
// e Commerce Scaffolding
// --------------------------------------------------


.img-thumbnail{
	padding: 0;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{
	border-color: @brand-danger;
}

