//
// Typography
// --------------------------------------------------

// Headings
// -------------------------
h2{
	font-weight: 300;
}
h3{
	font-weight: 200;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

  small,
  .small {
  	font-weight: 200;
  }
}
.itemPrice{
	font-size: 45px;
	font-weight: @headings-font-weight;
}
.aquaHeading{
	font-weight: 200;
	color: #5dc5ba;
	font-size: 26px;
}