//
// Accordion
// --------------------------------------------------

.panel-group{
	.panel-title{
		font-size: 26px;
		font-weight: 200;
		position: relative;
		&:before{
			background: url('../images/accordion-icon.png') no-repeat;
			display: block;
			height: 30px;
			width: 30px;
			float: right;
			content: '';
		}
	}
}