.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
     -ms-border-radius: @radius;
     -o-border-radius: @radius;
          border-radius: @radius;
}
.appearance(@appearance) {
  -webkit-appearance: @appearance;
     -moz-appearance: @appearance;
     -ms-appearance: @appearance;
     -o-appearance: @appearance;
          appearance: @appearance;
}
.transform(@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
     -ms-transform: @transform;
     -o-transform: @transform;
          transform: @transform;
}
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
     -ms-transition: @transition;
     -o-transition: @transition;
          transition: @transition;
}