/* <b> tag*/
@boldColor: inherit;

@buttonColor: black;
@buttonBorderColor: black;
@buttonTextTransform: uppercase;
@buttonFontWeight: 700;

@buttonHoverColor: black;
@buttonHoverBorderColor: black;
/* Video Widget*/
@playButtonColor: black;

/* Big button Widget */
@bigButtonBg: black;
@bigButtonColor: white;
@bigButtonFontSize: 32px;
@bigButtonFontWeight: normal;
@bigButtonTextTransform: uppercase;
@bigButtonTextDecoration: none;

@sliderLineHeight: 1;
@sliderArrowsColor: black;
@sliderFontWeight: normal;
@sliderTextColor: black;
@sliderTextTransform: none;
@sliderTextDecoration: none;