#bsgc-2015{
	section#entry-form{
		position: relative;
		background: url(../img/entry-pattern.jpg) repeat;
		text-align: center;
		color: $white;
		.plant{
			position: absolute;
			top: 0;
			right: 0;
			img{
				width: 160px;
				@media (min-width: $screen-sm-min){
					width: auto;
				}
			}
		}
		.fancy-select{
			border: none;
			div.trigger{
				border: none;				
			}	
			ul.options{
				border: none;
				li{
					&.selected{
					background: $green;
					}
					&:hover{
						background: $blue;
					}
				}
			}
			
		}
		.beautifully-logo{
			padding: 30px 0;
			text-align: center;
			img{
				width: 125px;
				height: 125px;
			}
		}
		.file-uploads,
		.fifty-words,
		#upload-animation{
			width: 100%;
			height: auto;
			float: none;
			margin: 0;	
		}
		.fifty-words{
			margin-top: 20px;
		}
		.form-container {
			text-align: center;
			padding: 40px 20px;
			position: relative;
			h3{
				font-size: 28px;
				margin-bottom: 24px;
			}
			.headline{
				max-width: 530px;
				margin: 0 auto;
				h1{
					margin-bottom: 45px;
				}
				.description{
					font-weight: 600;
					font-size: 24px;
					line-height: 26px;
					margin-bottom: 50px;
				}
				.notes{
					font-size: 18px;
					line-height: 20px;
					font-weight: 600;
				}
			}
			.separator{
				height: 1px;
				max-width: 650px;
				padding: 0 5px;
				margin: 0 auto;
				background: white;
				margin-top: 40px;
				margin-bottom: 40px;
			}
			.input-error {
				border: 1px solid $red !important;
				background-color: #ddd !important;
			}
			.error-red{
				color: $red !important;			
			}
			.formError,
			.formErrorWords,
			.formErrorFile,
			.formResultSuccess,
			.formResultError,
			.alert {
				display: none;
				margin: 10px auto;
				text-align: left;
				font-size: 14px;
				max-width: 480px;
				.btn{
					font-size: 18px;
					letter-spacing: 3px;
				}				
			}
			.formResultSuccess,
			.formResultError {
				text-align: center;
			}
			#entry-form-wrap {
				margin-top: 20px;
				::-webkit-input-placeholder {
					color: $black;
				}
				:-moz-placeholder {
					color: $black;
				}
				::-moz-placeholder {
					color: $black;
				}
				:-ms-input-placeholder {
					color: $black;
				}
				.file-uploads {
					margin-left: auto;
					margin-right: auto;
				}
				#upload-animation {
					height: 20px;
					margin: 0 auto 30px auto;
				}
				textarea{
					max-width: 624px;
					margin: 0 auto;
					padding: 30px;
					height: 160px;
					@media (min-width: $screen-sm-min){
						height: 102px;
					}
					margin-bottom: 40px;
				}
				.share-submit {
					display: block;
					margin-left: auto;
					margin-right: auto;
					padding: 0;
					text-align: center;
					margin-bottom: 0;
					@media (min-width: $screen-sm-min){
						margin-bottom: 40px;
					}
					ul{
						margin: 0;
					}
					li{
						vertical-align: middle;
						margin-bottom: 20px;
						span{
							font-weight: 600;
							font-size: 20px;
						}
						button{
							font-size: 18px;
							letter-spacing: 4px;
							padding-right: 34px;
							padding-left: 34px;
							font-weight: 700;
						}
					}
					a{
						display: block;
						&.facebook,
						&.twitter{
							svg{
								width: 33px;
								height: 33px;
							}
							&.active{
								svg{
									path{
										fill: $blue;
									}
								}
							}
						}
					}
				}
				h2 {
					margin-bottom: 10px;
				}
				#upload-btn {
					display: block;
					width: 215px;
					height: 118px;
					margin: 10px auto;
					background: url('../img/attach-image.svg') 0 0 no-repeat;
					
				}
				#inputFile {
					position: absolute;
					left: -9999px;
				}
				#display-filename{
					&:before{
						content: '';
						display: inline-block;
						height: 100%;
						vertical-align: middle;
						margin-right: -0.25em;
					}
					.file{
						padding: 0;
						margin-bottom: 10px;
						text-align: center;
						span{
							display: inline-block;
							margin-left: 10px;
							line-height: 32px;
							color: #ffffff;
							font-size: 18px;
							max-width: 70%;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							vertical-align: middle;
						}
						.remove-file{
							display: inline-block;
							margin-left: 10px;
							width: 32px;
							height: 32px;
							vertical-align: middle;
							&:before,
							&:after{
								content: " ";
								display: block;
								width: 23px;
								height: 2px;
								background: $white;
								@include transform(rotate(45deg) translateY(-50%));
								@include transform-origin(center center);
								position: relative;								
								top: 14px;
							}
							&:after{
								@include transform(rotate(-45deg) translateY(-50%));
								top: 13px;
							}
						}
					}
				}
			}
			.note{
				font-weight: 600;
				max-width: 610px;
				margin: 0 auto;
			}
		}
	}
}