#bsgc-2015{
	#banner{
		overflow: hidden;
		background: $blue;
		background: url(../img/entry-pattern.jpg) repeat;
		position: relative;
		overflow: none;
		.banner{
			max-width: 1280px;
			margin: 0 auto;
			position: relative;			
		}
		.smart-logo{
			position: relative;
			text-align: center;
			margin-top: -28px;
			@media (min-width: $screen-sm-min){
				position: absolute;
				margin-top: 0;
				top: -28px;
				left: 22px;
			}
			@media (min-width: $screen-md-min){
				top: -28px;
				left: 133px;
			}
			img{
				width: 192px;
				height: 223px;
			}
		}
		.beautifully-logo{
			padding: 48px 0 59px;
			text-align: center;
			img{
				margin: 0 auto;
				width: 274px;
				height: 274px;
			}
		}
		.plant-left{
			position: absolute;
			top: 0;
			left: -115px;
			@media (min-width: $screen-sm-min){
				top: 0;
				right: 0;
			}
		}
		.plant-right{
			position: absolute;
			bottom: 0;
			right: -179px;
			@media (min-width: $screen-sm-min){
				top: 0;
				bottom: auto;
				right: 0;
			}
		}
	}
	#description{
		background: $blue;
		text-align: center;
		h1{
			color: $white;
			margin: 8px 0 10px;
		}
		h2{
			color: $black;
			margin: 0;
		}
		.description-wrap{
			position: relative;
			padding: 72px 0 67px;
			.info{
				max-width: 385px;
				margin: 0 auto;
				margin-bottom: -4px;
				p{
					margin-bottom: 24px;
				}
			}
			a{
				&.btn{
					font-size: 18px;
					letter-spacing: 3.2px;
					padding: 21px 42px;
				}
			}
		}
		.sunflowers{
			height: 550px;
			@media (min-width: $screen-sm-min){
				height: auto;
			}
			.sunflower{
				position: absolute;
				right: 0;
				bottom: -12px;
				@include transition(all 1.5s ease-out);
				@include transform(scale(0));
				@include transform-origin(bottom center);
				&.grow{
					@include transform(scale(1));
				}
				&.sm{
					left: 20px;
					right: auto;
					@include transition(all 0.8s ease-out);
					@media (min-width: $screen-sm-min){
						right: 0;
						left: auto;
					}
					@media (min-width: $screen-md-min){
						right: 256px;
						left: auto;
					}
					img{
						width: 51px;
						height: 133px;
					}
				}
				&.md{
					right: 0;
					@include transition(all 1s ease-out);
					@media (min-width: $screen-sm-min){
						right: auto;
						left: 0;
					}
					@media (min-width: $screen-md-min){
						right: 36px;
						left: auto;
					}
					img{
						width: 89px;
						height: 233px;
					}
				}
				&.lg{
					right: 50px;
					@media (min-width: $screen-sm-min){
						right: -20px;
					}
					@media (min-width: $screen-md-min){
						right: 100px;
					}
					img{
						width: 204px;
						height: 535px;
					}
				}
			}
		}
	}
	#links{
		position: relative;
		background: $white;
		padding-top: 30px;
		.links-container{
			padding: 0 15px;
			max-width: 1070px;
			margin: 0 auto;
			.row{
				.span6{
					margin: 0;
					padding: 0 15px;
					margin-bottom: 30px;
					@include box-sizing(border-box);					
					@media (min-width: $screen-sm-min){
						width: 50%;
					}
				}
			}
		}
		.link{
			position: relative;
			.title{
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform(translateX(-50%) translateY(-50%));
			}
			h2{
				color: $white;
				font-size: 36px;
				font-weight: 700;
				text-align: center;
				span{
					font-size: 20px;
					font-weight: 600;
					text-transform: uppercase;
					display: block;
				}
			}
		}
	}

	section#find-out-more{
		padding: 35px 0;
		background: url(../img/entry-pattern.jpg) repeat;
		text-align: center;
		text-transform: uppercase;
		color: $white;
		font-weight: 600;
		font-size: 14px;
		a{
			&.btn{
				text-transform: none;
				font-size: 24px;
				letter-spacing: 0;
			}
		}
	}		
}