.diy-topnav .nav a.first,
	.diy-topnav .nav a.next {
		background-image: none;
	}
	.diy-topnav .nav a:hover + a {
		background-image: none;
	}
	.diy-content-home .row-1 {
		text-align: center;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.diy-content-home .row-1 h1 {
		color: #ffffff;
		text-align: center;
		padding: 0 20px;
		font-size: 90px;
		letter-spacing: 1px;
	}
	.diy-content-home .row-2 .span12 {
		background-color: #ffffff;
	}
	.diy-content-home .row-2 .span12 .chance-to-win {
		padding: 60px 20px;
		text-align: center;
	}
	.diy-content-home .row-2 h3 {
		color: #555555;
	}
	.diy-content-home .row-2 h1 {
		color: #fdb813;
	}
	.diy-content-home .row-2 p {
		color: #000000;
	}
	.diy-content-home .row-3 {
		height: auto;
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 0;
		background-color: #313131;
	}
	.diy-content-home .youtubeWrapper {
		position: relative;
	}
	@media (max-width: 768px) {
		.diy-content-home .youtubeWrapper #youtubePlayer {
			height: 350px;
		}
	}
	@media (min-width: 1200px) {
		.diy-content-home .youtubeWrapper #youtubePlayer {
			height: 670px;
		}
	}
	.diy-content-home .youtubeWrapper .youtubePlayerOverlay {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: url('../../assets/images/diy-disasters/video-snapshot.jpg') 50% 50%;
		background-size: cover;
		cursor: pointer;
	}
	.diy-content-home .youtubeWrapper .youtubePlayerOverlay .playIcon {
		height: 50px;
		width: 50px;
		padding: 30px;
		background: #fdb813;
		display: block;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -55px;
		margin-left: -55px;
	}
	.diy-content-home .youtubeWrapper .youtubePlayerOverlay .playIcon .playCaret {
		height: 0;
		width: 0;
		border: solid 25px transparent;
		border-left-color: white;
		border-right: 0;
		overflow: hidden;
		display: inline-block;
	}
	.diy-content-home .row-4 {
		*zoom: 1;
	}
	.diy-content-home .row-4:before,
	.diy-content-home .row-4:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.diy-content-home .row-4:after {
		clear: both;
	}
	.diy-content-home .row-4 .div-third {
		display: block;
		width: 33.334%;
		margin: 0;
		padding-top: 40px;
		padding-bottom: 40px;
		height: auto;
		overflow: hidden;
		float: left;
		text-align: center;
	}
	.diy-content-home .row-4 .div-third .div-third-inner {
		width: 240px;
		height: auto;
		text-align: center;
	}
	.diy-content-home .row-4 .div-third .div-third-inner h4 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.diy-content-home .row-4 .row-4-entries {
		background-color: #7c6955;
		color: #ffffff;
	}
	.diy-content-home .row-4 .row-4-prizes {
		background-color: #fdb813;
		color: #000000;
	}
	.diy-content-home .row-4 .row-4-judges {
		background-color: #7c6955;
		color: #fdb813;
	}
	.diyForm input.diyInput {
		display: block;
		text-align: center;
		padding: 6px 0;
		margin-bottom: 10px;
		font-size: 16px;
		width: 100%;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #fff;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out 0.15s;
		-moz-transition: border-color ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s;
		-webkit-transition: box-shadow ease-in-out 0.15s;
		-moz-transition: box-shadow ease-in-out 0.15s;
		-o-transition: box-shadow ease-in-out 0.15s;
		transition: box-shadow ease-in-out 0.15s;
	}
	.diyForm textarea.diyTextarea {
		display: block;
		text-align: center;
		padding: 26px 0;
		margin-bottom: 10px;
		font-size: 18px;
		width: 100%;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #fff;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	}
	.diyForm input,
	.diyForm file {
		height: 34px;
	}
	.diyForm select {
		height: 46px;
	}
	.diyForm .form-group {
		margin-bottom: 40px;
	}
	.diyForm .details,
	.diyForm .fifty-words {
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: 1200px) {
		.diyForm .details {
			width: 400px;
		}
		.diyForm .fifty-words {
			width: 800px;
		}
	}
	@media (max-width: 979px) {
		.diyForm .details {
			width: 100%;
			height: auto;
			float: none;
			margin: 0;
		}
	}
	.diy-content-entry-form {
		/* -- ENTRY FORM */

		/* end ENTRY FORM */
	}
	.diy-content-entry-form .form-container {
		text-align: center;
		padding: 40px 20px;
		/* FORM */

	}
	.diy-content-entry-form .form-container .input-error {
		border: 1px solid #ff0000 !important;
		background-color: #ddd !important;
	}
	.diy-content-entry-form .form-container .error-red {
		color: #FF0000 !important;
	}
	.diy-content-entry-form .form-container .formError,
	.diy-content-entry-form .form-container .formErrorWords,
	.diy-content-entry-form .form-container .formErrorFile,
	.diy-content-entry-form .form-container .formResultSuccess,
	.diy-content-entry-form .form-container .formResultError,
	.diy-content-entry-form .form-container .alert {
		display: none;
		margin: 10px auto;
		text-align: left;
		font-size: 14px;
	}
	.diy-content-entry-form .form-container .formResultSuccess,
	.diy-content-entry-form .form-container .formResultError {
		text-align: center;
	}
	.diy-content-entry-form .form-container #entry-form {
		margin-top: 20px;
	}
	.diy-content-entry-form .form-container #entry-form ::-webkit-input-placeholder {
		color: #888;
	}
	.diy-content-entry-form .form-container #entry-form :-moz-placeholder {
		color: #888;
	}
	.diy-content-entry-form .form-container #entry-form ::-moz-placeholder {
		color: #888;
	}
	.diy-content-entry-form .form-container #entry-form :-ms-input-placeholder {
		color: #888;
	}
	.diy-content-entry-form .form-container #entry-form .file-uploads {
		margin-left: auto;
		margin-right: auto;
	}
	.diy-content-entry-form .form-container #entry-form #upload-animation {
		height: 20px;
		margin: 0 auto 30px auto;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit {
		display: block;
		height: 64px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		text-align: center;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit span {
		display: inline-block;
		width: auto;
		height: 64px;
		font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
		font-size: 20px;
		line-height: 64px;
		float: left;
		margin-right: 14px;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn,
	.diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn {
		display: inline-block;
		width: 64px;
		height: 64px;
		margin-left: 14px;
		padding: 0;
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
		float: left;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn:hover,
	.diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn:hover {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn.inactive {
		opacity: 0.7;
		filter: alpha(opacity=70);
		background: transparent url('../../assets/images/diy-disasters/icon-fb-64-inactive.png') 0 0 no-repeat;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn.active {
		opacity: 1;
		filter: alpha(opacity=100);
		background: transparent url('../../assets/images/diy-disasters/icon-fb-64-active.png') 0 0 no-repeat;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn.inactive {
		opacity: 0.7;
		filter: alpha(opacity=70);
		background: transparent url('../../assets/images/diy-disasters/icon-tw-64-inactive.png') 0 0 no-repeat;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn.active {
		opacity: 1;
		filter: alpha(opacity=100);
		background: transparent url('../../assets/images/diy-disasters/icon-tw-64-active.png') 0 0 no-repeat;
	}
	.diy-content-entry-form .form-container #entry-form .share-submit button {
		display: inline-block;
		float: left;
		margin: 8px 0 8px 28px;
	}
	.diy-content-entry-form .form-container #entry-form h2 {
		margin-bottom: 10px;
	}
	.diy-content-entry-form .form-container #entry-form #upload-btn {
		display: block;
		width: 215px;
		height: 118px;
		margin: 10px auto;
		background: #000000 url('../../assets/images/diy-disasters/upload-btn-215x118-up.png') 0 0 no-repeat;
	}
	.diy-content-entry-form .form-container #entry-form #upload-btn:hover {
		background: #000000 url('../../assets/images/diy-disasters/upload-btn-215x118-over.png') 0 0 no-repeat;
	}
	.diy-content-entry-form .form-container #entry-form #inputFile {
		position: absolute;
		left: -9999px;
	}
	.diy-content-entry-form .form-container #entry-form #display-filename div {
		height: 32px;
		padding: 0;
		margin-top: 10px;
		text-align: center;
	}
	.diy-content-entry-form .form-container #entry-form #display-filename div img {
		display: inline-block;
		width: 32px;
		height: 32px;
		vertical-align: middle;
	}
	.diy-content-entry-form .form-container #entry-form #display-filename div span {
		display: inline-block;
		height: 32px;
		margin-left: 10px;
		line-height: 32px;
		color: #ffffff;
		font-size: 18px;
		max-width: 70%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}
	.diy-content-entry-form .form-container #entry-form #display-filename div .remove-file {
		display: inline-block;
		margin-left: 10px;
		width: 32px;
		height: 32px;
		background: transparent url('../../assets/images/diy-disasters/filetype-remove.png') 0 0 no-repeat;
		vertical-align: middle;
	}
	.diy-content-entry-form .form-container #entry-form #display-filename:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
		/* Adjusts for spacing */

	}
	
	@media (min-width: 768px) {
		.diy-content-judging .judgeProfiles .span6:first-child .judgeProfile {
			padding-right: 20px;
		}
		.diy-content-judging .judgeProfiles .span6:last-child .judgeProfile {
			padding-left: 20px;
		}
	}
	.diy-content-judging .judgeProfile {
		text-align: left;
		padding-bottom: 50px;
	}
	.diy-content-judging .judgeProfile .profileThumb {
		background: white;
	}
	.diy-content-judging .judgeProfile .profileThumb img {
		width: 100%;
	}
	.diy-content-judging .judgeProfile .profileThumb .judgeName {
		display: block;
		padding: 30px 20px;
		text-transform: uppercase;
		font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
		color: black;
		font-size: 1.8em;
	}
	.diy-content-judging .judgeProfile .judgeCompanyInfo {
		padding: 20px 0;
	}
	.diy-content-judging .judgeProfile .judgeCompanyInfo .judgePosition {
		display: block;
		font-weight: bold;
		font-size: 1.2em;
	}
	.diy-content-judging .judgeProfile .judgeCompanyInfo .judgecompany {
		display: block;
		font-weight: bold;
	}
	.diy-content-judging .judgeProfile .readMore {
		cursor: pointer;
	}
	.diy-content-judging .judgeProfile .readMore span {
		color: #fdb813;
	}
	.diy-content-judging .judgeProfile .readMore .openText {
		display: none;
	}
	.diy-content-judging .judgeProfile .collapsed .openText {
		display: inline;
	}
	.diy-content-judging .judgeProfile .collapsed .closeText {
		display: none;
	}
	.diy-content-judging .judgeProfile .judgeInfo p {
		margin-bottom: 20px;
	}
	.diy-content-judging .judgeProfile .judgeInfo blockquote {
		color: #fdb813;
		border: none;
		padding-left: 0;
	}
	.diy-content-judging .judgeProfile .judgeInfo blockquote:before {
		content: "\201C";
	}
	.diy-content-judging .judgeProfile .judgeInfo blockquote:after {
		content: "\201D";
	}
	.diy-content-prizes .prizes {
		padding-bottom: 50px;
	}
	.diy-content-prizes .prizes .prizeSmall .prizeText {
		display: block;
		padding-top: .5em;
		font-size: 4em;
		line-height: 1em;
	}
	.diy-content-prizes .prizes .prizeLarge .prizeText {
		display: block;
		font-size: 6em;
		line-height: 1em;
	}
	.diy-content-prizes .prizes .prizeTitle {
		font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
		display: block;
		line-height: 1em;
		padding-top: 5px;
		font-size: 3em;
	}
	.diy-content-prizes .prizes .prizeInfo {
		font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
		display: block;
		line-height: 1em;
		font-size: 1.5em;
		padding: 5px 0 10px;
	}
	.diy-content-prizes .prizes .prizeLink {
		color: #fdb813;
	}
	.diy-content-prizes .prizes .prizeLarge .prizeTitle {
		color: #fdb813;
		font-size: 4em;
	}
	.diy-content-prizes .prizes .prizesInfo {
		padding: 20px 0;
	}
	.diy-content-prizes .prizes .prizesInfo .prizeText,
	.diy-content-prizes .prizes .prizesInfo sup {
		color: #fdb813;
		font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
	}
	.diy-content-prizes .enterButton {
		display: inline-block;
		background: #fdb813;
		padding: 20px;
		font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
		color: white;
		font-size: 3em;
		line-height: 1em;
	}
	.diy-footer {
		height: 160px;
		margin-top: 0;
		background: #000000 url('../../assets/images/diy-disasters/A4_DIY.jpg') 0 0 no-repeat;
	}
	.diy-footer .footer-callout h3 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #ce1e2e;
		margin-top: 30px;
		font-weight: bold;
		text-transform: none;
		font-size: 30px;
		line-height: 110%;
	}
	.diy-footer .footer-callout p {
		color: #ffffff;
		margin-bottom: 0;
	}
	.diy-footer .footer-callout span {
		color: #ffffff;
		font-size: 11px;
	}
.diy-yellow {
		color: #fdb813;
	}
	.yellow-line-headline {
		margin-bottom: 40px;
	}
	.yellow-line-headline h1 {
		margin-bottom: 10px !important;
	}
	.yellow-line-headline .yellow-line {
		display: inline-block;
		width: 150px;
		height: 4px;
		background-color: #fdb813;
	}
	.centered-div {
		text-align: center;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.centered-div h1 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.centered-div h2 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.centered-div h3 {
		margin-top: 5px;
		margin-bottom: 20px;
	}
	.centered-div h4 {
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.centered-div p {
		margin-top: 5px;
		margin-bottom: 36px;
		font-weight: 100;
		letter-spacing: 1px;
	}