#bsgc-2015{
	section#prizes{
		position: relative;
		background: url(../img/entry-pattern.jpg) repeat;
		text-align: center;
		color: $white;
		.plant{
			position: absolute;
			top: 0;
			left: 0;
			img{
				@include transform(scaleX(-1));
        filter: FlipH;
        -ms-filter: "FlipH";
        height: 200px;
        @media (min-width: $screen-sm-min){
        	height: 600px;
        }
			}
		}
		.the-prizes{
			position: relative;

			.beautifully-logo{
				padding: 30px 0;
				text-align: center;
				img{
					width: 115px;
					height: 115px;
				}
			}
			.headline{
				max-width: 530px;
				margin: 0 auto;
				h1{
					margin-bottom: 45px;
				}
				.description{
					font-weight: 600;
					font-size: 24px;
					line-height: 26px;
					margin-bottom: 50px;
				}			
			}
			.separator{
				height: 1px;
				max-width: 650px;
				padding: 0 5px;
				margin: 0 auto;
				background: white;
				margin-top: 40px;
				margin-bottom: 40px;
			}
			.prizes{
				max-width: 534px;
				margin: 0 auto;
			}
			.prize{
				font-weight: 700;
				line-height: 1;
				.prize-number{
					font-size: 38px;
					margin-bottom: 30px;
				}
				img{
					margin-bottom: 30px;
				}
				.prize-details{
					font-size: 20px;
					margin-bottom: 30px;
					span{
						font-size: 28px;
						display: block;
						margin-bottom: 5px;
					}
				}
				&.prize-first{
					.prize-number{
						font-size: 60px;
					}
					img{
						width: 183px;
						height: 156px;
					}
					.prize-details{
						font-size: 28px;
						span{
							font-size: 42px;
						}
					}
				}
				&.prize-second{
					margin-top: 57px;
					img{
						width: 54px;
						height: 87px;
					}
				}
				&.prize-third{
					margin-top: 57px;
					img{
						width: 74px;
						height: 73px;
					}
				}
			}
			.note{
				font-weight: 600;
				max-width: 610px;
				margin: 0 auto;
				padding-bottom: 50px;
			}			
		}		
	}
}