#bsgc-2015{
	section#prizes{
		position: relative;
		background: $banner-bg;
		text-align: center;
		color: $white;
		.plant{
			position: absolute;
			top: 0;
			left: 0;
			img{
				@include transform(scaleX(-1));
        filter: FlipH;
        -ms-filter: "FlipH";
        height: 200px;
        display: none;
        @media (min-width: $screen-sm-min){
        	display: block;
        	height: auto;
        }
			}
		}
		a.btn{
			padding: 21px 32px;
		}
		.the-prizes{
			position: relative;

			.beautifully-logo{
				padding: 23px 0 20px;
				text-align: center;
				img{
					width: 124px;
					height: 124px;
				}
			}
			.headline{
				max-width: 422px;
				margin: 0 auto;
				h1{
					margin-bottom: 32px;
					margin-top: 0;
				}
				.description{
					font-weight: 600;
					font-size: 24px;
					line-height: 26px;
					margin-bottom: 68px;
				}			
			}
			.separator{
				height: 1px;
				max-width: 650px;
				padding: 0 5px;
				margin: 0 auto;
				background: white;
				margin-top: 64px;
				margin-bottom: 25px;
			}
			.prizes{
				max-width: 595px;
				margin: 0 auto;
			}
			.prize{
				font-weight: 700;
				line-height: 1;
				.prize-number{
					font-size: 38px;
					margin-bottom: 30px;
				}
				img{
					margin-bottom: 30px;
				}
				.prize-details{
					font-size: 20px;
					margin-bottom: 38px;
					text-transform: uppercase;
					&:before{
						content: " ";
						display: block;
						border-top: 1px solid $white;
						width: 95px;
						margin: 0 auto;
						margin-bottom: 15px;
					}
					span.value{
						font-size: 28px;
						line-height: 28px;
						display: block;
					}
					span.cash{
						font-size: 16px;
						top: -3px;
						position: relative;
					}
				}
				&.prize-first{
					.prize-number{
						font-size: 60px;
						margin-bottom: 16px;
					}
					img{
						width: 157px;
						height: 134px;
					}
					.prize-details{
						font-size: 28px;
						&:before{
							width: 137px;							
						}
						span.value{
							font-size: 42px;
						}
					}
				}
				&.prize-second{
					margin-top: 29px;
					.prize-number{
						margin-bottom: 17px;
					}
					img{
						width: 54px;
						height: 87px;
					}
				}
				&.prize-third{
					margin-top: 29px;
					.prize-number{
						margin-bottom: 22px;
					}
					img{
						width: 74px;
						height: 73px;
					}
					.prize-details{
						&:before{
							width: 70px;							
						}
					}
				}
			}
			.note{
				font-weight: 600;
				max-width: 610px;
				margin: 0 auto;
				padding-bottom: 50px;
			}			
		}		
	}
}