body.smart-irrigation-2015{
	.clear{
		clear:both;
	}
	.text-center{
		text-align:center;
	}
	.text-right{
		text-align:right;
	}
	.text-left{
		text-align:left;
	}
	.text-white{
		color:$white;
	}
	.text-black{
		color:$textGrey;
	}
	.background-white{
		background-color:$white;
		color:$textGrey;
	}
	.background-grey{
		background-color:$bgGrey;
	}
	.background-green{
		background-color: $bgLightGreen;
	}
	.background-green-dull{
		background-color: $bgGreenHighlight;
	}
	.background-dark-green{
		background-color:$bgDarkGreen;
		color:$white;
	}
	.background-blue{
		background-color:$bgBlue;
	}
	.background-beige{
		background-color: $bgBeige;
	}
	.background-brown{
		background-color: $bgBrown;
	}
	.background-bright-brown{
		background-color:$bgBrightBrown;
	}
	.background-mid-grey{
		background-color: $bgMidGrey;
	}
	.background-grass{
		background:url('../images/homepage/bg-grass.png') $bgDarkGreen;
	}
	.text-green{
		color: $textGreen;
	}
	.inner-spacing{
		padding-top:60px;
		padding-bottom:60px;
	}
	.inner-spacing-top{
		padding-top:60px;
	}
	.inner-spacing-bottom{
		padding-bottom:60px;
	}
	table{
		width:98%;
		margin-top:1em;
		margin-bottom:1em;
		text-align:left;
		td:first-child,th:first-child{
			width:30%;
		}
		th{
			background-color:$bgGrey;

		}
		td,th{
			border:solid 1px $textGrey;
			padding:2%;
			vertical-align:top;
		}
	}
	.button{
		padding:10px 20px;
		margin-top:10px;
		margin-bottom:10px;
		display:inline-block;
		font-size:14px;
		@include border-radius(3px);
		&.button-light{
			background:$white;
			color:$textGrey;
			@include transition(background 1s ease-in);
			@include transition(color 1s ease-out);
			&:hover{
				background:$buttonGrey;
				color:$white;
				text-decoration:none;
				cursor: pointer; 
				cursor: hand;

			}
		}
		&.button-dark{
			background:$buttonGrey;
			color:$white;
			@include transition(background .5s ease-in-out);
			&:hover{
				background:$buttonGreyhover;
				color:$white;
				text-decoration:none;
				cursor: pointer; 
				cursor: hand;
			}
		}
	}
	.preview-slide-image{
		.slick-prev{
			left:15px;
			z-index:10;
		} 
		.slick-next {
			right: 15px;
		}
		.slick-dots{
			bottom:0px;
			padding:0;
			margin:0;
		}
	}
	.slick-dots	li button:before{
		font-size:30px;
	}
	.slick-next:before{
		font-family: FontAwesome;
		content: "\f054";
	}
	.slick-prev:before{
		font-family: FontAwesome;
		content: "\f053";
	}
}





















