@mixin border-radius($radius){
  -webkit-border-radius: 	$radius;
  -moz-border-radius:       $radius;
  -ms-border-radius: 		$radius;
  border-radius: 			$radius;	
}
@mixin box-shadow($box-shadow){
  -webkit-box-shadow: 	$box-shadow;
  -moz-box-shadow:       $box-shadow;
  -ms-box-shadow: 		$box-shadow;
  box-shadow: 			$box-shadow;	
}
@mixin transform($transform){
  -webkit-transform:   $transform;
  -moz-transform:       $transform;
  -ms-transform:     $transform;
  -o-transform:     $transform;
  transform:       $transform;  
}
@mixin transition($transition...){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin animation-name($name){
  -webkit-animation-name:   $name;
  -moz-animation-name:       $name;
  -ms-animation-name:     $name;
  -o-animation-name:     $name;
  animation-name:       $name;   
}
@mixin appearance($value){
  -webkit-appearance:   $value;
  -moz-appearance:       $value;
  -ms-appearance:     $value;
  -o-appearance:     $value;
  appearance:       $value;   
}
@mixin animation-duration($duration){
  -webkit-animation-duration:   $duration;
  -moz-animation-duration:       $duration;
  -ms-animation-duration:     $duration;
  -o-animation-duration:     $duration;
  animation-duration:       $duration;   
}
@mixin animation-iteration-count($iteration-count){
  -webkit-animation-iteration-count:   $iteration-count;
  -moz-animation-iteration-count:       $iteration-count;
  -ms-animation-iteration-count:     $iteration-count;
  -o-animation-iteration-count:     $iteration-count;
  animation-iteration-count:       $iteration-count;   
}
@mixin animation-play-state($state){
  -webkit-animation-play-state: $state;
  -moz-animation-play-state: $state;
  -o-animation-play-state: $state;
  animation-play-state: $state;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}