body.smart-irrigation-2015{
	.box-section.smart-thinking-articles{
		font-size:15px;
		text-align:left;
		.text-area{
			color:$textGrey;
			background:$bgGrey;
			display:block;
			padding:30px 15px;
			.call-to-action, p{
				margin:.5em 0;
			}
			h4{
				text-transform:none;
				font-size:18px;
				line-height:1.2em;
				margin-top:0;
			}
			.call-to-action{
				font-weight:bold;
			}
			p{
				line-height:1.2em;
				font-weight:300;
			}
		}
		.inner-content.hover-item{
			.hoveroverlay{
				position:relative;
				overflow:hidden;
				.grey-overlay{
					position:absolute;
					width:100%;
					height:100%;
					top:0;
					left:0;
					background-color:$bgGrey;
					opacity: 0;
					@include transition(opacity .3s ease-out);
				}
			}
			.text-area{
				background-color:$white;
				@include transition(background-color .5s ease-in-out, color .5s ease-out);
			}
			&:hover{
				cursor: pointer; 
				cursor: hand;	
				.hoveroverlay{
					.grey-overlay{
						opacity: .2;
					}
				}
				.text-area{
					color:$textGrey;
					background-color:$bgGrey;
				}
				a{
					color:$textGrey;
					text-decoration:none;
				}
			}
		}
	}
	.article-content-section{
		.text-area{
			margin-top:2em;
		}
	}
	.si-product-list{
		.inner-content{
			position:relative;
			padding-bottom:60px;
			h4{
				color:$textGrey;
				font-size:22px;
				line-height:1.2em;
			}
			p{
				color:$textGrey;
				font-size:15px;
				line-height:1.2em;
			}
			.button{
				position:absolute;
				bottom:0;
				left:0;
			}
		}
	}
	.box-section.product-list{
		text-align:center;
		.inner-content.hover-item{
			padding-top:20px;
			margin-bottom:0;
			@include transition(background-color .3s ease-out);
			background-color:$bgGrey;
			.text-area{
				color:$textGrey;
				background-color:$bgGrey;
				display:block;
				padding:30px 15px;
				@include transition(background-color .3s ease-out);
				.call-to-action, p{
					margin:.5em 0;
				}
				h4{
					text-transform:none;
					font-size:15px;
					line-height:1.2em;
					margin-top:0;
				}
				.call-to-action{
					font-weight:bold;
				}
				p{
					font-size:15px;
					line-height:1.2em;
				}
			}
			&:hover{
				cursor: pointer; 
				cursor: hand;	
				background-color:$bgGreyHighlight;
				.text-area{
					background-color:$bgGreyHighlight;
				}
				a{
					text-decoration:none;
				}
			}
		}
	}
}