body.smart-irrigation-2015 #main-content{
	.sidebar{
		.filterList{
			padding-left:0;
			margin-left:0;
			list-style:none;
			li{
				padding-left:0;
				margin-left:0;
				padding-bottom:5px;
			}
		}
	}
	.box-section.inspiration-articles{
		font-size:15px;
		text-align:left;
		.text-area{
			color:$textGrey;
			background:$bgGrey;
			display:block;
			padding:30px 15px;
			.call-to-action, p{
				margin:.5em 0;
			}
			h4{
				text-transform:none;
				font-size:18px;
				line-height:1.2em;
				margin-top:0;
			}
			.call-to-action{
				font-weight:bold;
			}
			p{
				line-height:1.2em;
				font-weight:300;
			}
		}
		.inner-content.hover-item{
			.hoveroverlay{
				position:relative;
				overflow:hidden;
				.grey-overlay{
					position:absolute;
					width:100%;
					height:100%;
					top:0;
					left:0;
					background-color:$bgGrey;
					opacity: 0;
					@include transition(opacity .3s ease-out);
				}
			}
			.text-area{
				background-color:$white;
				@include transition(background-color .5s ease-in-out, color .5s ease-out);
			}
			&:hover{
				cursor: pointer; 
				cursor: hand;	
				.hoveroverlay{
					.grey-overlay{
						opacity: .2;
					}
				}
				.text-area{
					color:$textGrey;
					background-color:$bgGrey;
				}
				a{
					color:$textGrey;
					text-decoration:none;
				}
			}
		}
	}
	.article-content-section{
		.slick-next{
			right:20px;
		}
		.slick-prev{
			left:20px;
		}
		.article-gallery{
			.gallery-thumb{
				margin:20px -10px;
				.image-wrap{
					margin:0 10px;
					img{
						width:100%;
					}
				}
			}
		}
		.inspiration-plans{
			.display-plans{
				.view-plan{
					display:block;
				}
				.hide-plan{
					display:none;
				}
				&.active{
									.view-plan{
					display:none;
				}
				.hide-plan{
					display:block;
				}

				}
			}
			.plans-wrapper{
				display:none;
			}
		}

	}
	.inspiration-product-list{
		border-top:solid 1px $borderGrey;
		padding-top:30px;
		margin-top:30px;
		text-align:center;
		.text-area{
			text-align:left;
			color:$textGrey;
			display:block;
			padding:0 15px;
			h4{
				font-size:15px;
				margin:0;
				text-transform:none;
			}
			p{
				margin:0;
			}
		}
		.inner-content{
			.text-area{
				background-color:$white;
			}
			&:hover,&:active,&:focus{
				cursor: pointer; 
				cursor: hand;	
				.text-area{
					color:$textGrey;
					background-color:$white;
				}
			}
		}
	}
}