$white:				#FFF;
$black:				#000;
$bgGrey:            #F1F2F2;
$bgGreyHighlight:	#e6e7e8;
$bgLightGreen:		#8ED500;
$bgGreenHighlight:	#87c818;
$bgDarkGreen:		#5B8726;
$bgBlue:			#00AFEC;
$bgBeige:			#c2b49c;
$bgBrown:			#8a5d3f;
$bgBrightBrown:		#ac6b1d;
$bgMidGrey:			#e7e7e8;
$bgBrownHighlight:	#80563b;
$textGrey:			#3F3F3F;
$buttonGrey:		#3F3F3F;
$buttonGreyhover:	#999999;
$buttonGreyLight:   #aeaeae;
$sidebarActiveBlue: #003768;
$textGreen:			#93c648;
$borderGrey:		#d9d9d9;


$base-font-size: 14px;

$font-family-gotham: 'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$max-content-width: 1200px;


$break-md-max:979px;
$break-md-min:768px;
$break-sm-max:767px;
$break-sm-min:481px;
$break-xs-max:480px;




@media (min-width: $break-md-min) and (max-width: $break-md-max) { 

}
@media (min-width: $break-sm-min) and (max-width: $break-sm-max) { 

}
@media (max-width: $break-xs-max) { 

}