$white: #FFF;
$black: #000;
$green: #6dc8b6;
$dark-blue: #273d52;
$light-blue: #5ab8d3;
$pink: #D57B8D;
$red: #e40066;
$gold: #c2a461;
$grey: #e2e1e1;
$dark-grey: #322f31;
$light-grey: #f6f6f6;

$body-light-grey: #EDEBEB;
$body-dark-grey: #DEDDDE;

// Text variables.
$font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-book: 'Gotham A', 'Gotham B', Gotham-Book, Arial, sans-serif;
$font-family-serif: 'Libre Baskerville', serif;

// Custom slick settings.
$slick-opacity-default: 1;
$slick-prev-character: "\61";
$slick-next-character: "\64";
$slick-font-family: "bathroomhappiness";

$slide-text-color: #202020;
