$white: #FFF;
$black: #000;
$light-black: #4f4f4f;
$green: #6dc8b6;
$dark-blue: #273d52;
$light-blue: #5ab8d3;
$pink: #D57B8D;
$red: #e40066;
$gold: #dabb61;
$gold-arrow:#c2a461;
$grey: #e2e1e1;
$dark-grey: #322f31;
$light-grey: #f6f6f6;
$input-color: #8b8b8b;
$input-bg: #e7e7e7;

$trends-bg: #ededed;

$destination-happiness-blue: #698894;
$destination-happiness-green: #6dc8b6;

$body-light-grey: #EDEBEB;
$body-dark-grey: #DEDDDE;

$water-therapy-blue: #151d25;
$water-therapy-green: #39d8a9;
$water-therapy-grey: #eeeeee;
$water-therapy-black: #121a22;

// Text variables.
$font-family: "Gotham A", "Gotham B", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-book: 'Gotham A', 'Gotham B', Gotham-Book, Arial, sans-serif;
$font-family-helvetica:'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Libre Baskerville', serif;
$font-handelson: 'Handelson Three', cursive, sans-serif;
// Custom slick settings.
$slick-opacity-default: 1;
$slick-prev-character: "\61";
$slick-next-character: "\64";
$slick-font-family: "bathroomhappiness";

$slide-text-color: #202020;
