$white: #FFF;
$black: #000;
$green: #6bccb8;

$body-light-grey: #EDEBEB;
$body-dark-grey: #DEDDDE;

$font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-book: 'Gotham Book', Gotham-Book, Arial, sans-serif;
$font-family-serif: 'Libre Baskerville', serif;

// Custom slick settings.
$slick-opacity-default: 1;
$slick-prev-character: "<";
$slick-next-character: ">";

$slide-text-color: #231f20;
$shop-tapware-color: #D57B8D;
$shop-showers-color: #000;
/*
@media (min-width: $screen-sm-min){
        
}
@media (min-width: $screen-md-min){
        
}
@media (min-width: $screen-lg-min){
        
}
*/