&.apply-now{
	h1{
		margin-bottom: em(48,52)
	}
	h4{
		font-size: em(18);
		line-height: em(18,18);
	}
	.container{
		&.first{
			.col-5{
				@media (min-width: $screen-sm) and (max-width: 991px){
					width: 58%;
				}
			}
			.col-3{
				@media (min-width: $screen-sm) and (max-width: 991px){
					width: 41%;
				}
			}
		}
	}
	.intro{
		padding-bottom: em(50);
		.right-content{
			margin-top: em(48);
		}
	}
	.form-control{
		border: none;
		margin-bottom: em(20);
	}
	form{
		max-width: 543px;
		margin: 0 auto;
	}
	.form{
		padding: em(50) em(30);
	}
	.error{
		color: #FC0000;
		font-size: em(12);
		margin-top: em(-10,12);
		margin-bottom: em(20,12);
	}
	input[type=checkbox]{
		margin-left: 0;
	}
	.loading{
		text-align: center;
		display: none;
		svg{
			path{
				fill: $light-blue;
			}
		}
	}
	.steps-list{
		button{
			padding: 0;
			width: em(50,18);
			height: em(50,18);
			line-height: em(50,18);
			font-size: em(18);
			font-weight: 600;
			@include box-shadow(none);
			@include border-radius(50%);
			background: rgba(255,255,255,0);
			border: 1px solid $light-blue;
			color: $light-blue;
			@include transition(color .3s ease-out, background .3s ease-out, border-color .3s ease-out);
			&:hover{
				background: white;
				color: $dark-blue;
				border-color: $dark-blue;
			}
			&.active{
				width: em(50,24);
				height: em(50,24);
				line-height: em(50,24);
				font-size: em(24);
				background: $light-blue;
				color: white;
				border: 1px solid white;
			}
		}
	}
	.steps{
		label{
			color: $light-blue;
			font-weight: 600;
		}
		.step{
			display: none;
			&.active{
				display: block;
			}
		}
	}
	.steps-navigation{
		text-align: right;
		@include clearfix();
		.submit{
			display: none;
		}
		.previous{
			display: none;
			float: left;
		}
	}
	.upload-input{
	    height: 50px;
	    background: white;
	    position: relative;
	    @include transition(all 0.5s ease-out);
	    @include transform(translateX(-100px));
	    opacity: 0;
	    margin-bottom: 10px;
	    @include border-radius(20px);
	    .inputFile{
    	    position: absolute;
		   left: -9999px;
	    }
	    &.error{
	    	border: 1px solid red;
	    }
	    &.added{
	    	opacity: 1;
	    	@include transform(translateX(0));
	    }
	    .upload-button{
				background: none;
				position: absolute;
				top: 0;
				right: 10px;
				height: 100%;
				width: 100px;
				color: $light-blue;
				@include appearance(none);
				border:none;
				border-left: 1px solid #f1f2f2;
				font-weight: 600;
				text-transform: uppercase;							
			}
			.upload-remove-button{
				background: none;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 50px;
				color: $dark-blue;
				@include appearance(none);
				border:none;
				border-left: 1px solid #f1f2f2;
				font-weight: 700;
				text-transform: uppercase;	
			}
			.upload-filename{
				position: absolute;
				top: 0;
				left: 0;
				height: 50px;
				line-height: 50px;
				font-style: italic;
				padding-left: 24px;
				text-align: left;
				padding-right: 170px;
				color: black;
				overflow: hidden;
				color: $dark-blue;
				font-size: 16px;
			}			
		}
		#thank-you{
			display: none;
			padding: 84px 0 40px;
			.thank-you-intro{
				text-align: center;
				margin-bottom: 63px;				
			}
			h2{
				font-size: 52px;
				line-height: 52px;
				margin-bottom: 0;
			}
			h3{
				font-size: 32px;
				line-height: 34px;
				color: #3f3f3f;
			}
			.card{
				max-width: 587px;
				margin: 0 auto;
				@include border-radius(20px);
				@include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.2)); 				
			}
			.thank-you-footer{
				max-width: 587px;
				margin: 0 auto;
				padding: 30px 45px;
				b{
					display: block;
					color: $light-blue;
					margin-bottom: 20px;
				}
			}
			.card-header{
				background: #f8f8f8;
				padding: 32px 45px 15px;
				.image{
					svg{
						display: block;
						width: 79px;
						height: 76px;
					}
				}
				.data-item{
					color: $light-blue;
					font-weight: bold;
					margin-bottom: 15px;
				}
			}
			.card-body{
				padding: 45px;
				h4{
					color: $dark-blue;
					font-size: 16px;
					line-height: 1;
				}
				.data-item{
					margin-bottom: 37px;
				}				
			}
		}
}