&.news{
	#main{
		.container{
			&.first{
				padding-top: em(90);
			}
		}
		.news-article{
			.container{
				&.first{
					padding-top: em(50);
				}		
			}
		}
	}
	.intro{
		max-width: 789px;
		margin-bottom: em(60);
	}
	article{
		margin-bottom: em(50);
		padding-bottom: em(50);
		position: relative;
		.details{
			margin-bottom: em(20);
		}
		.image{
			img{
				width: 100%;
			}
		}
		.btn{
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.title{
		h1{
			max-width: 560px;
		}
	}	
}