.project-article{
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	.project-inner{
		position: relative;
	}
	#main{
		.container{
			&.first{
				padding-top: em(90);
			}
		}
		.news-article{
			.container{
				&.first{
					padding-top: em(50);
				}		
			}
		}
	}
	.intro{
		max-width: 789px;
		margin-bottom: em(60);
	}
	article{
		margin-bottom: em(50);
		.details{
			margin-bottom: em(20);
		}
		.image{
			img{
				width: 100%;
			}
		}
	}
}	