
  body {
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: -0.01em;
    overflow-x: hidden;
    font-family: 'Neue Helvetica W01', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    -webkit-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    text-rendering: optimizeLegibility;
  }

  .container-fluid {
      max-width: 1000px;
      margin:0 auto;
      padding-top: 70px;
      padding-bottom: 100px;
      @media (min-width: 768px){
        margin-bottom: 60px;
      }
  }

  .menu {
    padding-bottom: 40px;
  }

  div#multiColumn {
      -moz-column-count: 2;
      -moz-column-gap: 10px;
      -webkit-column-count: 2;
      -webkit-column-gap: 10px;
      column-count: 2;
      column-gap: 10px;
  }

  h1 {
      font-size: 24px;
      text-align: left;
      color: #003768;
      margin-bottom: 30px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #003768;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #003768;
  }

  ul {
    list-style: none;
  }

  hr.fancy {
      height: 30px;
      border-style: solid;
      border-color: black;
      border-width: 1px 0 0 0;
      border-radius: 20px;
      margin-top: 40px;
  }
  hr.fancy:before { 
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: black;
      border-width: 0 0 1px 0;
      border-radius: 20px;
  }


}