.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.history section {
  position: relative;
  color: #ffffff;
  padding: 1px 0;
  height: 800px;
  overflow: hidden;
}
.history section .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px dotted yellow;
}
.history section .header {
  z-index: 5;
  position: absolute;
  width: 100%;
  left: 0;
  top: 4%;
}
.history .content-container {
  text-align: center;
}
.nav-history {
  position: fixed;
  right: 25px;
  top: 40%;
  z-index: 50;
}
.nav-history li {
  text-align: center;
}
.nav-history a,
.nav-history a:link,
.nav-history a:visited,
.nav-history a:active,
.nav-history a:focus {
  display: block;
  text-indent: -999em;
  background: #4c4c4c;
  width: 13px;
  height: 13px;
  margin: 0 auto 12px auto;
  border: 2px solid #ffffff;
  outline: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}
.nav-history a:hover {
  background: #7f7f7f;
}
.nav-history .active a,
.nav-history .active a:link,
.nav-history .active a:visited,
.nav-history .active a:active {
  background: #003767;
  width: 17px;
  height: 17px;
}
.year {
  font-weight: 100;
  font-size: 100px;
  text-align: center;
}
.yearDescription {
  font-size: 28px;
  line-height: 1.2em;
  letter-spacing: 2px;
  padding-bottom: 1em;
  font-weight: 100;
  text-align: center;
}
#slideHistoryIntro {
  color: #222222;
  padding: 2em 0;
}
#slideHistoryIntro h1 {
  font-size: 74px;
}
#slideHistoryIntro h3 {
  font-size: 32px;
  font-style: italic;
  font-weight: 200;
}
#slideHistoryIntro p {
  width: 550px;
  margin: auto;
}
#slideHistoryIntro .reece-logo {
  opacity: 1;
  display: inline-block;
  margin: 3em 0;
}
#slideHistoryIntro .water-drop {
  position: relative;
  top: 0%;
  z-index: 10;
}
#slide1919 {
  background-color: #00ADEF;
}
#slide1919 svg,
#slide1919 img {
  height: 100%;
}
#slide1919 #road-1919 div {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 16%;
  width: 100%;
  background-color: #58585B;
}
#slide1919 #car-1919 div {
  position: absolute;
  left: 0;
  bottom: 14%;
  height: 50%;
  width: 100%;
  text-align: center;
}
#slide1919 #sign-1919 div {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  height: 40%;
  text-align: center;
  padding-left: 35%;
}
#slide1919 #cloud-1919 div {
  position: absolute;
  bottom: 16%;
  left: 0;
  right: 0;
  height: 40%;
  text-align: center;
}
#slide1920 {
  background-color: #c2b49a;
}
#slide1920 svg,
#slide1920 img {
  height: 100%;
}
#slide1920 #ground-1920 div {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 14%;
  width: 100%;
  background-color: #8a5d3b;
}
#slide1920 #shop-1920 div {
  position: absolute;
  left: 0;
  bottom: 13.8%;
  height: 54%;
  width: 100%;
  text-align: center;
}
#slide1920 #sign-1920 div {
  position: absolute;
  left: 0;
  bottom: 13.8%;
  height: 54%;
  width: 100%;
  text-align: center;
}
#slide1920 #cloud-1920 div {
  position: absolute;
  bottom: 14%;
  left: 0;
  right: 0;
  height: 40%;
  text-align: center;
}
#slide1922 {
  background-color: #9a8478;
}
#slide1922 svg,
#slide1922 img {
  height: 100%;
  width: auto;
}
#slide1922 #logo-1922 div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
#slide1922 #stamp-1922 div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
#slide1954 {
  background: #00A0AF;
  background-size: 100% auto;
  min-height: 500px;
  padding: 1px 0;
}
#slide1954 .tickerWrapper {
  background: #E6E7E8;
  margin: 2% 0 15%;
  padding: 40px 0;
}
#slide1954 .tickerWrapper .ticker {
  background: url("../images/aboutus/history/ticker.png") repeat-x;
  height: 40px;
}
#slide1969 {
  background-image: url("../images/aboutus/history/1969-wall.svg");
}
#slide1969 svg,
#slide1969 img {
  height: 100%;
}
#slide1969 #painting-1969 div {
  position: absolute;
  top: 33.333333333333336%;
  height: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
#slide1969 #couch-1969 div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: right;
}
#slide1969 #lamp-1-1969 div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: left;
}
#slide1969 #lamp-1-1969 #overlay-1969 {
  background-color: #0c2731;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#slide1969 #lamp-2-1969 div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: left;
}
#slide1970 {
  background-color: #00adef;
}
#slide1970 svg,
#slide1970 img {
  height: 100%;
}
#slide1970 #buildings-1-1970 div,
#slide1970 #buildings-2-1970 div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#slide1970 #ground-1970 div {
  background-color: #006f3c;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 9.5%;
  width: 100%;
}
#slide1970 #cloud-1970 div {
  position: absolute;
  bottom: 9%;
  left: 0;
  right: 0;
  height: 40%;
  text-align: center;
}
#slide1976-1 {
  background-color: #1b75bb;
}
#slide1976-1 svg,
#slide1976-1 img {
  height: 100%;
}
#slide1976-1 #building-1976-1 div {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 20%;
  text-align: center;
}
#slide1976-1 #ground-1976-1 div {
  background-color: #404041;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
}
#slide1976-1 #labels-1976-1 {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 10%;
  height: 20%;
  width: 80%;
  display: table;
}
#slide1976-1 #labels-1976-1 div {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: 100;
}
#slide1976-1 #labels-1976-1 div.left {
  font-size: 30px;
}
#slide1976-1 #labels-1976-1 div.right {
  font-size: 50px;
}
#slide1976-2 {
  background: #1C75BC;
}
#slide1976-2 .ground {
  background: #414042;
  height: 100px;
  position: relative;
}
#slide1976-2 .stage {
  position: relative;
  top: 1px;
  overflow: hidden;
  padding-top: 150px;
}
#slide1976-2 .utes {
  background: url("../images/aboutus/history/ute.svg") repeat-x;
  height: 77px;
  position: relative;
  width: 3000px;
}
#slide1976-2 .wareHouse {
  background: url("../images/aboutus/history/warehouse.svg") no-repeat center 0;
  height: 205px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
}
#slide1978-1 {
  background-color: #00adef;
}
#slide1978-1 #ground-1978-1 {
  background-color: #38b449;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  width: 100%;
  height: 14%;
}
#slide1978-1 #gate-1978-1 .wrap {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 14%;
  top: auto;
  overflow: hidden;
}
#slide1978-1 #gate-1978-1 .fence {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
#slide1978-1 #gate-1978-1 .fence .gate {
  height: auto;
  width: 100%;
}
#slide1978-1 #gate-1978-1 .fence .sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#slide1978-1 #gate-1978-1 .fence .wire {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400%;
}
#slide1978-1 #gate-1978-1 .fence .wire.left {
  right: 100%;
}
#slide1978-1 #gate-1978-1 .fence .wire.right {
  left: 100%;
}
#slide1978-2 {
  background-color: #006494;
}
#slide1978-2 img,
#slide1978-2 svg {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
#slide1978-2 .layer div {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 6%;
  height: 60%;
  width: 100%;
  text-align: center;
}
#slide1986 {
  background-color: #00adef;
}
#slide1986 img {
  width: auto;
  height: 100%;
  position: relative;
}
#slide1986 #buildingA-1986-1 div {
  position: absolute;
  bottom: 16%;
  right: 10%;
  height: 40%;
  width: 100%;
  text-align: right;
}
#slide1986 #buildingB-1986-1 div {
  position: absolute;
  bottom: 16%;
  left: 10%;
  height: 40%;
  width: 100%;
  text-align: left;
}
#slide1986 #ground-1986-1 {
  background-color: #8cc63e;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 16%;
  width: 100%;
}
#slide1986 #labels-1986-1 {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 10%;
  height: 16%;
  width: 80%;
  display: table;
}
#slide1986 #labels-1986-1 div {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: 100;
}
#slide1986 #labels-1986-1 div.left {
  font-size: 30px;
}
#slide1986 #labels-1986-1 div.left span {
  width: 45%;
  display: block;
}
#slide1986 #labels-1986-1 div.right {
  font-size: 50px;
}
#slide1987-1 {
  background-color: #003767;
}
#slide1987-1 img {
  width: auto;
  height: 100%;
}
#slide1987-1 #dial-1987-1 div {
  position: absolute;
  height: 64%;
  width: 100%;
  bottom: 0%;
  text-align: center;
}
#slide1987-1 #face-1987-1 div {
  position: absolute;
  height: 64%;
  width: 100%;
  bottom: 0%;
  text-align: center;
}
#slide1987-2 {
  background-color: #c4122f;
}
#slide1987-2 img {
  height: 100%;
  width: auto;
  max-width: 70%;
}
#slide1987-2 #old-1987-2 div,
#slide1987-2 #new-1987-2 div {
  height: 20%;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
}
#slide1987-2 #old-1987-2 {
  background-color: #c4122f;
}
#slide1987-2 #new-1987-2 {
  background-color: #003767;
}
#slide1987-3 {
  background-color: #c4122f;
}
#slide1987-3 img {
  height: 100%;
  width: auto;
  max-width: 200%;
}
#slide1987-3 #background-1987-3 div {
  width: 50%;
  height: 100%;
  text-align: center;
}
#slide1987-3 #background-1987-3 div.left {
  float: left;
  background-color: #006738;
}
#slide1987-3 #background-1987-3 div.right {
  float: right;
  background-color: #00adef;
}
#slide1987-3 #map-1987-3 div {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
#slide1987-3 #label-1987-3 div {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
#slide1997 {
  background: #5A4B42;
  background-size: 100% auto;
  min-height: 500px;
  padding: 1px 0;
}
#slide1997 h1 {
  font-weight: 100;
  font-size: 100px;
  margin-top: 15%;
  text-align: center;
}
#slide1997 .pipes {
  background: url("../images/aboutus/history/1997-pipes.png") center no-repeat;
  height: 238px;
}
#slide1997 .water {
  background: url("../images/aboutus/history/1997-water.png") -1350px 100% no-repeat;
  height: 238px;
}
#slide1997 .mapwrap {
  overflow: hidden;
  padding-bottom: 10%;
}
#slide1997 .map {
  background: url("../images/aboutus/history/1997-map.png") 0 0 no-repeat;
  width: 250px;
  height: 200px;
  float: right;
}
#slide1998 {
  background: #00aeef url("../images/aboutus/history/1998-bg-cloud.png") center 100% no-repeat;
}
#slide1998 .buildingwrap {
  display: inline-block;
  width: 800px;
  height: 320px;
}
#slide1998 .buildingwrap .building {
  height: 150px;
  width: 300px;
  position: absolute;
  right: 200px;
  bottom: 0;
  background: url("../images/aboutus/history/1998-building.png") 0 -33% no-repeat;
}
#slide1998 #sprinkler1998Wrap {
  position: relative;
  overflow: hidden;
  height: 320px;
}
#slide1998 .sprinklerItem {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#slide1998 .grass {
  height: 70px;
  background: url("../images/aboutus/history/1998-bg-grass.png") 0 0 repeat-x;
  margin-top: -10px;
}
#slide2005 {
  background: #726659;
}
#slide2005 .register {
  text-align: center;
}
#slide2005 .registerDisplay {
  background: #F89728;
  padding: 20px 20px 0 20px;
  width: 30%;
  min-width: 320px;
  display: inline-block;
  vertical-align: bottom;
}
#slide2005 .registerDisplay .registerDisplayScreen {
  background: #231F20;
  border: solid 10px #F89728;
  border-bottom-width: 0;
  border-top-color: #d28330;
  height: 150px;
  overflow: hidden;
  position: relative;
}
#slide2005 .registerDisplay .registerDisplayScreen .registerBn,
#slide2005 .registerDisplay .registerDisplayScreen .register1 {
  height: 135px;
  width: 140px;
  background: #EC1C24;
  line-height: 135px;
  text-align: center;
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 60px;
  color: black;
  font-size: 40px;
  position: relative;
  -webkit-border-radius: 15% 15% 0 0;
  -moz-border-radius: 15% 15% 0 0;
  border-radius: 15% 15% 0 0;
}
#slide2005 .registerDisplay .registerDisplayScreen .registerBn .caretWrap,
#slide2005 .registerDisplay .registerDisplayScreen .register1 .caretWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  height: 0;
}
#slide2005 .registerDisplay .registerDisplayScreen .registerBn .caretWrap:after,
#slide2005 .registerDisplay .registerDisplayScreen .register1 .caretWrap:after {
  width: 0;
  content: '';
  border: solid 20px transparent;
  display: inline-block;
  border-bottom-color: #EC1C24;
  position: relative;
  top: -73px;
}
#slide2005 .registerDisplay .registerDisplayScreen .registerBn .number,
#slide2005 .registerDisplay .registerDisplayScreen .register1 .number {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999em;
}
#slide2005 .registerDisplay .registerDisplayScreen .registerBn .number {
  background-image: url("../images/aboutus/history/bn.svg");
}
#slide2005 .registerDisplay .registerDisplayScreen .register1 .number {
  background-image: url("../images/aboutus/history/1.svg");
}
#slide2005 .registerDisplay .registerDisplayScreen .registerScreenGlass {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../images/aboutus/history/register-glass.png");
}
#slide2005 .registerBase {
  border: solid 20px #F89728;
  border-width: 20px 20px 0 0;
  height: 80px;
  overflow: hidden;
  width: 85%;
}
#slide2005 .registerBaseGroves {
  border: solid 10px #d28330;
  border-width: 20px 30px 90px 0;
  border-bottom-color: #F89728;
  position: relative;
}
#slide2005 .registerBaseGroves span {
  display: block;
  position: absolute;
  height: 5px;
  background: #d28330;
  top: 5px;
  width: 99%;
}
#slide2007-1 {
  background-color: #0e004e;
}
#slide2007-1 #stage-2007-1 .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
#slide2007-1 #stage-2007-1 .stage {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}
#slide2007-1 #curtains-2007-1 .wrap {
  height: 100%;
  width: 200%;
  position: absolute;
  left: -50%;
  top: -8%;
}
#slide2007-1 #curtains-2007-1 .wrap div {
  height: 100%;
  width: 50.1%;
  position: absolute;
  top: 0;
}
#slide2007-1 #curtains-2007-1 .wrap div img {
  height: 100%;
  width: auto;
  position: absolute;
  bottom: 0;
}
#slide2007-1 #curtains-2007-1 .wrap div.left {
  left: 0%;
}
#slide2007-1 #curtains-2007-1 .wrap div.left img {
  right: 0;
}
#slide2007-1 #curtains-2007-1 .wrap div.right {
  right: 0%;
}
#slide2007-1 #curtains-2007-1 .wrap div.right img {
  left: 0;
}
#slide2007-1 #ground-2007-1 {
  background-color: #603813;
  height: 14%;
  bottom: 0;
  top: auto;
}
#FramesAnimation {
  width: 619px;
  height: 398px;
}
