.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-branding.text-brand {
  color: #d1d1d1;
}
.page-branding.sale-branding {
  background-repeat: no-repeat;
}
.product-lead {
  margin: 20px 0 0;
  font-size: 18px;
}
@media (max-width: 767px) {
  .product-filters-wrap {
    background-color: #eaeaea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}
@media (min-width: 767px) {
  .product-filters {
    height: auto!important;
  }
}
.product-filter {
  margin-bottom: 10px;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #eaeaea;
}
.product-filter li a,
.product-filter label {
  color: #777777;
}
.product-filter label {
  margin-bottom: 0;
}
.product-filter label input[type="checkbox"] {
  margin-top: 0;
  margin-right: 10px;
}
.product-filter li a:hover,
.product-filter li a:focus {
  background-color: transparent;
  text-decoration: underline;
}
.product-filter .nav {
  margin: 0;
}
.product-filter .subnav {
  margin-left: 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .product-filter .nav,
  .product-filter .subnav {
    margin: 0;
  }
  .product-filter .nav a,
  .product-filter .subnav a {
    display: block;
    margin-top: 5px;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    background-image: -moz-linear-gradient(top, #dddddd, #d1d1d1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #dddddd, #d1d1d1);
    background-image: -o-linear-gradient(top, #dddddd, #d1d1d1);
    background-image: linear-gradient(to bottom, #dddddd, #d1d1d1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffd1d1d1', GradientType=0);
  }
  .product-filter .nav a:hover,
  .product-filter .subnav a:hover,
  .product-filter .nav a:focus,
  .product-filter .subnav a:focus {
    text-decoration: none;
  }
}
@media (max-width: 767px) {
  .product-filter {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .product-filter.dynamic-filter {
    display: none;
  }
}
.product-filter-head {
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d1d1;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 767px) {
  .product-filter-head {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
@media (min-width: 767px) {
  .product-filter-head {
    margin-bottom: 10px;
  }
}
.filter-options {
  margin-top: 10px;
}
.filter-options a:hover i {
  text-decoration: none;
}
.product-section-lead-links {
  margin: 0 0 20px;
  font-size: 18px;
}
.product-section-lead-links li {
  border: 1px solid #aaaaaa;
}
.product-section-lead-links a {
  display: block;
  padding: 15px;
  color: #aaaaaa;
  -webkit-transition: 0.15s background-color ease-in-out;
  -moz-transition: 0.15s background-color ease-in-out;
  -o-transition: 0.15s background-color ease-in-out;
  -ms-transition: 0.15s background-color ease-in-out;
  transition: 0.15s background-color ease-in-out;
  text-decoration: none;
}
.product-section-lead-links a:hover,
.product-section-lead-links a:focus {
  color: white;
  background-color: #aaaaaa;
}
.product-section-lead-links .active {
  background-color: #aaaaaa;
}
.product-section-lead-links .active a {
  color: white;
}
.product-section-lead-links .active a:hover,
.product-section-lead-links .active a:focus {
  color: #aaaaaa;
  background-color: white;
}
.items-list .row-fluid + .row-fluid {
  margin-top: 2.127659574468085%;
}
@media (min-width: 767px) {
  .items-list {
    margin: 4px;
  }
}
@media (max-width: 767px) {
  .items-list .row-fluid [class*="span"] {
    float: left;
    width: 46.93617021276595%;
    margin: 1.53191489361702%;
  }
}
@media (max-width: 767px) {
  .products-list:extend(.items-list all) .product-block {
    float: left;
    width: 46.93617021276595%;
    margin: 1.53191489361702%;
  }
}
@media (max-width: 767px) {
  .brands-list:extend(.items-list all) .row-fluid [class*="span"] {
    float: left;
    width: 100%;
    margin: auto;
  }
}
.product-block {
  position: relative;
}
.product-title,
.product-desc,
.product-price {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
}
.product-title {
  font-weight: bold;
}
.brand-block {
  padding-right: 20px;
  font-size: 12px;
}
.brand-block .brand-title a {
  color: black;
}
.brand-media {
  display: block;
  float: left;
  margin-right: 20px;
}
.sort-filter {
  margin: 20px 0;
}
.sort-filter .dropdown {
  padding: 10px;
  border: 1px solid #d1d1d1;
}
.sort-filter .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.more-products-button {
  display: block;
  position: relative;
  padding: 10px 0;
  text-align: center;
  color: white;
  background-color: #a29f9f;
  background-image: -moz-linear-gradient(top, #c0bebe, #747171);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0bebe), to(#747171));
  background-image: -webkit-linear-gradient(top, #c0bebe, #747171);
  background-image: -o-linear-gradient(top, #c0bebe, #747171);
  background-image: linear-gradient(to bottom, #c0bebe, #747171);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0bebe', endColorstr='#ff747171', GradientType=0);
}
.more-products-button:hover,
.more-products-button:focus {
  color: white;
  text-decoration: none;
  background-color: #aeacac;
  background-image: -moz-linear-gradient(top, #cccbcb, #817e7e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccbcb), to(#817e7e));
  background-image: -webkit-linear-gradient(top, #cccbcb, #817e7e);
  background-image: -o-linear-gradient(top, #cccbcb, #817e7e);
  background-image: linear-gradient(to bottom, #cccbcb, #817e7e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccbcb', endColorstr='#ff817e7e', GradientType=0);
}
.more-products-button:hover:after,
.more-products-button:focus:after {
  border-top-color: #817e7e;
}
.more-products-button:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: 50%;
  margin-right: -10px;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  z-index: 9999;
}
.more-products-button:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: 50%;
  margin-right: -40px;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 20px solid #747171;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
}
.more-products-button .more-products-information {
  position: absolute;
  right: 10px;
}
@media (max-width: 767px) {
  .more-products-button {
    text-align: left;
    padding-left: 10px;
  }
}
.products-content h2,
.products-content h3 {
  margin-top: 0;
}
@media (max-width: 767px) {
  .products-content h2,
  .products-content h3 {
    margin-top: 10px;
  }
}
.products-content-single {
  margin-bottom: 20px;
}
.products-content-single h2,
.products-content-single h3 {
  margin: 0;
}
.products-content-single .btn {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
.products-content-single .btn-bar .btn {
  margin-top: 0;
}
.products-content-single .btn-bar .btn-block {
  margin-top: 10px;
}
.products-content-single .btn-block + .btn-block {
  margin-top: 10px;
}
.products-content-single .image-center {
  padding-top: 15%;
}
@media (max-width: 979px) {
  .products-content-single .image-center {
    padding-top: 25%;
  }
}
@media (max-width: 767px) {
  .products-content-single .image-center {
    padding-top: 0;
  }
}
.btn-bar {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-bar:hover,
.btn-bar:focus,
.btn-bar:active,
.btn-bar.active,
.btn-bar.disabled,
.btn-bar[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn-bar:active,
.btn-bar.active {
  background-color: #cccccc \9;
}
.btn-bar:first-child {
  *margin-left: 0;
}
.btn-cart {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-cart:hover,
.btn-cart:focus,
.btn-cart:active,
.btn-cart.active,
.btn-cart.disabled,
.btn-cart[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-cart:active,
.btn-cart.active {
  background-color: #942a25 \9;
}
.btn.text-left.text-left {
  text-align: left;
}
.btn.text-left.text-right {
  text-align: right;
}
.btn.text-left.text-center {
  text-align: center;
}
.ajax-preloader:before {
  background-image: url("../images/products_2013/ajax-preloader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: 0;
}
.carousel-hover,
.products-list img {
  -webkit-transition: 0.25s box-shadow ease-in-out;
  -moz-transition: 0.25s box-shadow ease-in-out;
  -o-transition: 0.25s box-shadow ease-in-out;
  -ms-transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
}
.carousel-hover:hover,
.products-list img:hover {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
}
.carousel-control {
  outline: none;
}
@media (max-width: 767px) {
  .carousel-control {
    display: none;
  }
}
.custom-carousel-control .carousel-control.top {
  top: -45px;
}
.product-variation-list {
  min-width: 200%;
  left: -140%;
  padding: 20%;
}
@media (max-width: 767px) {
  .product-variation-list {
    position: static;
    width: 100%;
    min-width: 0;
    margin-bottom: 5%;
    left: 0;
    padding: 5% 0;
    text-align: center;
  }
}
.product-variation-list .product-variation-block {
  text-align: left;
}
@media (max-width: 767px) {
  .product-variation-list .product-variation-block {
    float: left;
    max-width: 44%;
    margin-left: 4%;
  }
  .product-variation-list .product-variation-block:first-child {
    margin-left: 4%;
  }
}
.carousel-controls-mini {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
.carousel-controls-mini li {
  float: left;
  margin-bottom: 0;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.carousel-controls-mini li:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .carousel-controls-mini {
    margin-bottom: 20px;
  }
}
.products-tabs {
  margin: 0 0 20px;
  padding: 20px;
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  -webkit-box-shadow: 0px 5px 10px #b7b7b7;
  -moz-box-shadow: 0px 5px 10px #b7b7b7;
  box-shadow: 0px 5px 10px #b7b7b7;
}
.products-tabs .accordion {
  margin-bottom: 0;
}
.products-tabs .accordion-inner {
  padding: 0;
  border-top: 0;
}
.products-tabs .nav-header {
  text-transform: none;
  font-size: 16px;
  color: black;
}
.products-tabs .nav-list {
  padding-left: 0;
  padding-right: 0;
}
.products-tabs .nav-list a {
  font-size: 14px;
  color: #aaaaaa;
}
@media (min-width: 767px) {
  .products-tabs .collapse {
    height: auto!important;
  }
}
@media (max-width: 767px) {
  .products-tabs {
    margin: 0;
    padding: 0;
  }
  .products-tabs .tab-pane {
    display: block!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    opacity: 1!important;
  }
  .products-tabs .nav {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
  }
}
.products-tab-media {
  display: block;
}
.products-tab {
  float: left;
  width: 29.9999999%;
  border-left: 1px solid #d1d1d1;
  margin-left: 2.28205128%;
  padding-left: 2.28205128%;
}
.products-tab:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
@media (max-width: 767px) {
  .products-tab {
    float: none;
    width: auto;
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 0;
  }
  .products-tab:first-child {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.products-tab-nav {
  display: table;
  width: 100%;
  margin: 0;
  border-top: 1px solid #d1d1d1;
}
.products-tab-nav > li {
  float: none;
  width: 14%;
  display: table-cell;
}
.products-tab-nav > li > a {
  display: block;
  padding: 10px 0;
  color: white;
  text-align: center;
  border-left: 1px solid white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #3b3b3b;
  background-image: -moz-linear-gradient(top, #0d0d0d, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0d0d0d), to(#808080));
  background-image: -webkit-linear-gradient(top, #0d0d0d, #808080);
  background-image: -o-linear-gradient(top, #0d0d0d, #808080);
  background-image: linear-gradient(to bottom, #0d0d0d, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d0d0d', endColorstr='#ff808080', GradientType=0);
}
.products-tab-nav > li > a:first-child {
  border-left: 1px solid #d1d1d1;
}
.products-tab-nav > li > a:hover,
.products-tab-nav > li > a:focus {
  color: white;
  background-color: #616161;
  background-image: -moz-linear-gradient(top, #333333, #a6a6a6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#a6a6a6));
  background-image: -webkit-linear-gradient(top, #333333, #a6a6a6);
  background-image: -o-linear-gradient(top, #333333, #a6a6a6);
  background-image: linear-gradient(to bottom, #333333, #a6a6a6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ffa6a6a6', GradientType=0);
}
.products-tab-nav > .active > a,
.products-tab-nav > .active > a:hover,
.products-tab-nav > .active > a:focus {
  border-top: 0;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-bottom: 0;
  color: black;
  background-color: white;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.products-collapse-nav {
  padding: 10px 20px;
  background-color: #3b3b3b;
  background-image: -moz-linear-gradient(top, #0d0d0d, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0d0d0d), to(#808080));
  background-image: -webkit-linear-gradient(top, #0d0d0d, #808080);
  background-image: -o-linear-gradient(top, #0d0d0d, #808080);
  background-image: linear-gradient(to bottom, #0d0d0d, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d0d0d', endColorstr='#ff808080', GradientType=0);
  color: white;
}
.products-collapse-nav:hover,
.products-collapse-nav:focus {
  color: white;
  background-color: #616161;
  background-image: -moz-linear-gradient(top, #333333, #a6a6a6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#a6a6a6));
  background-image: -webkit-linear-gradient(top, #333333, #a6a6a6);
  background-image: -o-linear-gradient(top, #333333, #a6a6a6);
  background-image: linear-gradient(to bottom, #333333, #a6a6a6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ffa6a6a6', GradientType=0);
}
.products-collapse-nav:hover i,
.products-collapse-nav:focus i {
  text-decoration: none;
}
/* =================================
LocationDropDown
===================================	*/
/* Search form */
.tranparentButton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.headerNavSearchForm {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
}
.headerNavSearchForm input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: #d3d4d5;
  width: 110px;
  font-size: 12px;
  position: relative;
  top: -3px;
  width: 180px;
  border-bottom: solid 1px #d3d4d5;
  -moz-border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.headerNavSearchForm input:focus {
  border-color: #d3d4d5;
}
.headerNavSearchForm label {
  display: inline-block;
  width: auto !important;
  margin: 0;
}
/* location Drop down */
.locationDropDown {
  padding: 5px 10px !important;
  font-size: 12px;
  width: 145px;
  position: relative;
}
.locationDropDown a:focus,
.locationDropDown a:hover {
  text-decoration: none;
}
.locationDropDown.open {
  background: #ffffff;
}
.locationDropDown.open .caret {
  border-top-color: #333;
}
.locationDropDown.open a {
  color: #333;
}
.locationDropDown .dropdown-menu {
  margin: 0;
  padding: 0 0 5px 0;
  border-radius: 0 0 10px 10px;
  border-top: none;
  left: -1px;
  width: 100%;
  min-width: 140px;
}
.locationDropDown form {
  margin: 0;
}
.locationDropDown input {
  background: #f7f7f7;
  border: solid 1px #d1d1d1 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 auto;
  display: block;
  width: 130px;
  height: 15px;
  font-size: 12px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.locationDropDown ul {
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
}
.locationDropDown li {
  list-style: none;
  display: block;
}
.locationDropDown li a {
  display: block;
  padding: 3px 3px 3px 15px;
  color: #7f7f7f !important;
  font-size: 13px;
}
.breadcrumb > li.locationAnSearch {
  float: right;
  margin: -5px -10px -5px 0;
}
.breadcrumb > li.locationAnSearch .locationDropDown {
  display: inline-block;
  border: solid 1px #eaeaea;
  border-bottom: none;
  width: auto;
}
.breadcrumb > li.locationAnSearch .locationDropDown a.dropdown-toggle {
  color: #333;
}
.breadcrumb > li.locationAnSearch .locationDropDown .dropdown-menu a:hover {
  background: #eaeaea;
  color: #333 !important;
}
.breadcrumb > li.locationAnSearch .locationDropDown.open,
.breadcrumb > li.locationAnSearch .locationDropDown .dropdown-menu {
  border-color: #ccc;
}
.breadcrumb > li.locationAnSearch .locationDropDown input {
  width: 110px;
}
.breadcrumb > li.locationAnSearch .headerNavSearchForm {
  display: inline-block;
}
.breadcrumb > li.locationAnSearch .headerNavSearchForm input {
  background: #ffffff;
  padding-left: 5px;
  width: 120px;
  top: 0;
  color: #333;
}
.breadcrumb > li.locationAnSearch .headerNavSearchForm button {
  position: relative;
  right: -3px;
}
@media (max-width: 767px) {
  .breadcrumb > li.locationAnSearch {
    display: block;
    text-align: right;
    margin: 5px -5px 0;
    padding-top: 5px;
    clear: both;
  }
  .breadcrumb > li.locationAnSearch * {
    text-align: left;
  }
  .breadcrumb > li.locationAnSearch .headerNavSearchForm {
    padding: 5px 0;
  }
  .breadcrumb > li.locationAnSearch .headerNavSearchForm input {
    width: 80px;
  }
}
/* ======================
    Add to List Page
====================== */
.myProductListTable {
  border-collapse: collapse;
  width: 100%;
}
.myProductListTable th {
  padding: 10px;
}
.myProductListTable td {
  border: solid 1px #d5d5d5;
  padding: 15px;
  color: #7f7f7f;
}
.myProductListTable .spacerRow td {
  border: none;
}
.myProductListTable .myProductThumb {
  min-width: 175px;
}
.myProductListTable .productDetailsTd {
  background: #f5f5f5;
}
.myProductListTable .productDetails {
  min-height: 137px;
}
.myProductListTable .productDetails .myProductDesc,
.myProductListTable .productDetails .myProductId {
  display: block;
}
.myProductListTable .productDetails .myProductName {
  font-size: 1.2em;
  color: #313131;
  margin-top: 3px;
}
.myProductListTable .productDetails .myProductDesc {
  color: #434172;
}
.myProductListTable .productDetails .myProductId {
  color: #272727;
  font-size: 11px;
}
.myProductListTable .productDetails .myProductSummary {
  margin: 10px 0 0;
  color: #959595;
  font-size: 12px;
}
.myProductListTable .myProductPrice {
  color: #b16365;
  min-width: 80px;
  text-align: center;
}
.myProductListTable .myProductStar {
  min-width: 90px;
  text-align: center;
}
.myProductListTable .myProductTechnical {
  min-width: 120px;
  text-align: center;
}
.myProductListTable .myProductActions {
  padding: 0;
}
.myProductActionsList {
  margin: 0;
  *zoom: 1;
}
.myProductActionsList:before,
.myProductActionsList:after {
  display: table;
  content: "";
  line-height: 0;
}
.myProductActionsList:after {
  clear: both;
}
.myProductActionsList li {
  list-style: none;
  display: block;
  float: left;
  padding: 10px;
  border-right: solid 1px #d5d5d5;
}
.myProductActionsList li a {
  color: #5e5e5e;
}
.myProductActionsList li a.myProductActionsInfo {
  font-size: 12px;
  margin: 0 10px;
}
.myProductActionsList li a.myProductActionsInfo .icon-chevron-right {
  font-size: 9px;
}
@media (max-width: 979px) {
  .myProductList {
    overflow: hidden;
  }
  .myProductListTable thead {
    display: none;
  }
  .myProductListTable tr,
  .myProductListTable td {
    display: block;
    clear: left;
    float: left;
    width: 100%;
    text-align: left !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .myProductListTable td {
    margin-bottom: -1px;
  }
  .myProductListTable tr:last-child td {
    margin-bottom: 0;
  }
  .myProductListTable td:before {
    content: attr(data-th);
    float: left;
    width: 150px;
    font-weight: bold;
    color: #313131;
  }
  .myProductListTable .productDetails {
    margin-left: 150px;
  }
}
@media (max-width: 480px) {
  .myProductListTable td:before {
    float: none;
    width: auto;
    margin-bottom: 10px;
    display: block;
  }
  .myProductListTable .productDetails {
    margin-left: 0;
  }
}
