.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bg-vic {
  background-color: #589537;
}
.bg-nsw {
  background-color: #e55854;
}
.bg-qld {
  background-color: #fc7d46;
}
.bg-sa {
  background-color: #1a81f4;
}
.bg-wa {
  background-color: #ecd65b;
}
.bg-vic.faded {
  background-color: #9acf7d;
}
.bg-nsw.faded {
  background-color: #f6c4c3;
}
.bg-qld.faded {
  background-color: #fed5c3;
}
.bg-sa.faded {
  background-color: #94c4fa;
}
.bg-wa.faded {
  background-color: #f9f3cd;
}
.main-wrapper {
  margin-top: 40px;
}
/* Header */
.sub-header h2,
.sub-header h3 {
  text-align: right;
}
.sub-header h2 {
  font-size: 48px;
  color: black;
  border-bottom: 1px solid black;
  margin-top: 40px;
}
.sub-header h3 {
  font-size: 24px;
  width: 50%;
  margin-top: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#a7a7a7), to(#4d4d4d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2px;
}
.couple-profile {
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}
.couple-profile h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 0px;
}
.couple-profile p {
  color: #5c5c52;
  font-size: 18px;
  line-height: 140%;
}
.qa-trigger {
  display: block;
  margin-top: 10%;
}
.qa .header {
  padding: 10px 20px;
}
.qa .header h3 {
  font-size: 36px;
  color: black;
}
.qa .questions {
  padding: 10px 20px;
  font-size: 20px;
}
.qa .span1 {
  font-weight: bold;
}
.qa .question {
  color: #5c5c52;
}
.qa .answer {
  color: black;
}
.qa_Button {
  min-height: 115px;
  background: #000000 ;
  margin-top: 0px !important;
  -webkit-border-radius: 5px;
  border: 2px solid #000000 ;
  border-radius: 15px;
  text-align: center;
  padding-top: 40px;
  color: #FFFFFF !important;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  background-image: url('../images/the-block-skyhigh/black_grad_bg.png');
  background-size: 170px 170px;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.qa_Button span {
  font-size: 44px;
  color: #589537;
}
.room-thumb .header {
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
}
.room-thumb .promo {
  padding-top: 10px;
  width: 280px;
  position: relative;
  top: -120px;
  left: 25px;
  z-index: 10;
}
.room-caption {
  background: #000;
  color: white;
}
.room-caption p {
  padding: 5px 10px 0;
}
.span3 .back,
.visible-phone .back {
  display: block;
  color: white;
  background: #9f8f71;
  text-align: center;
  padding: 10px;
}
.voting {
  padding: 20px 0;
  border-bottom: 1px solid #9f8f71;
}
.voting a i {
  font-size: 48px;
  color: black;
  padding: 0 10px;
}
.voting a i.icon-thumbs-up {
  color: green;
}
.voting a i.icon-thumbs-down {
  color: red;
}
.voting h5 {
  font-size: 20px;
}
.related-room .copy {
  padding: 10px 0 1px 0;
  text-align: center;
}
.related-room .copy h4,
.related-room .copy h5 {
  margin: 0;
  color: white;
}
.related-room .copy a {
  color: white;
}
.social h4 {
  font-size: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a7a7), to(#4d4d4d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2px 0;
}
.twitter {
  background-color: #c8c8c8;
  font-size: 14px;
  color: #5c5c52;
  padding: 10px;
}
.social .header {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.twitter .header img {
  padding: 3px;
}
.facebook .header img {
  padding-bottom: 3px;
}
.twitter a {
  color: #156398 !important;
}
.twitter .tweet {
  margin-bottom: 10px;
}
.social .ts {
  font-size: 9px;
}
.facebook {
  background-color: #c8e6e6;
  font-size: 14px;
  color: #5d5d5d;
  padding: 10px;
}
.facebook a {
  color: #3b57a0;
}
/* Couples Nav */
.nav-couples li {
  float: left;
  width: 20%;
  text-align: center;
  height: 270px;
  background-repeat: no-repeat;
  background-position: center center;
}
.nav-couples li.vic {
  background-image: url('../images/the-block-skyhigh/entrants/block-sky-high-vic.png');
}
.nav-couples li.nsw {
  background-image: url('../images/the-block-skyhigh/entrants/block-sky-high-nsw.png');
}
.nav-couples li.qld {
  background-image: url('../images/the-block-skyhigh/entrants/block-sky-high-qld.png');
}
.nav-couples li.sa {
  background-image: url('../images/the-block-skyhigh/entrants/block-sky-high-sa.png');
}
.nav-couples li.wa {
  background-image: url('../images/the-block-skyhigh/entrants/block-sky-high-wa.png');
}
.nav-couples .active {
  background: #000000 url('../images/the-block-skyhigh/bg_grad_white.png') repeat-x 0px -10px !important;
  border: 2px solid #000000 !important;
}
.nav-couples li a {
  color: white;
  margin-top: 190px;
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
  background-image: url('../images/the-block-skyhigh/black_70.png');
  text-shadow: 0px 1px 2px #757575;
  filter: dropshadow(color=#757575, offx=0, offy=1);
}
.nav-couples li.vic a {
  border: 2px solid #589537;
  background: #589537 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
}
.nav-couples li.nsw a {
  border: 2px solid #e55854;
  background: #e55854 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
}
.nav-couples li.qld a {
  border: 2px solid #fc7d46;
  background: #fc7d46 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
}
.nav-couples li.sa a {
  border: 2px solid #1a81f4;
  background: #1a81f4 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
}
.nav-couples li.wa a {
  border: 2px solid #ecd65b;
  background: #ecd65b url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
}
.nav-couples li a:hover {
  background: red;
  border: 2px solid red;
}
.nav-couples li a span {
  display: block;
  font-size: 15px;
  margin-top: 5px;
}
.promo {
  background: #EEE;
}
.promo a img {
  margin: 0;
}
.promo div.copy {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#aaaaaa));
  margin: 0;
  text-align: center;
}
.promo div.copy h4 {
  color: black;
  font-size: 20px;
  margin: 15px 0 0 0;
}
.promo div.copy h5 {
  font-size: 20px;
  background-image: -webkit-gradient(linear, right top, left top, from(#a7a7a7), to(#4d4d4d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-bottom: 2px;
}
.promo div.copy p {
  font-variant: italic;
  padding-bottom: 10px;
  font-style: italic;
  text-transform: uppercase;
}
.promo div.copy p a {
  color: white;
  text-decoration: none;
}
.promos div:hover p a {
  color: red;
}
/* Social Plugz */
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe,
.fb-comments {
  width: 100% !important;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Overrides */
.carousel-control {
  top: 45%;
}
.carousel {
  margin-bottom: 0px;
}
/* Responsive */
@media (min-width: 1568px) {
  .nav-couples li a {
    margin: 60% 6px;
  }
}
@media (max-width: 1199px) {
  .sub-header h3 {
    width: 70%;
  }
  .sub-header h2 {
    margin-top: 10px;
  }
  .nav-couples li {
    background-position: top center;
  }
}
@media (max-width: 1199px) {
  
}
@media (max-width: 1200px) and (min-width: 978px) {
  .nav-couples li {
    background-size: 92%;
    background-position: 0px 40px;
  }
}
@media (min-width: 979px) {
  
}
@media (max-width: 979px) {
  .sub-header h2 {
    font-size: 36px;
  }
  .sub-header h3 {
    font-size: 18px;
  }
  .nav-couples li {
    /*height: 100px;*/
  
  }
  .nav-couples li a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 110px;
  }
  .nav-couples li {
    /*margin-bottom: 30px;*/
  
  }
  .promo div.copy h5,
  .promo div.copy h4 {
    font-size: 14px;
  }
  .promo div.copy p a {
    font-size: 12px;
  }
  .nav-couples li {
    float: left;
    width: 20%;
    text-align: center;
    max-height: 190px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 0px 30% !important;
  }
}
@media (max-width: 767px) {
  .sub-header h2 {
    text-align: left;
  }
  .sub-header h3 {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
  .nav-couples li {
    margin-bottom: 0;
  }
  .block-logo img {
    width: 50%;
    margin: auto;
    display: block;
  }
  .couple-profile h2 {
    font-size: 24px;
    color: white;
    margin: 0px;
    margin-bottom: 5px;
  }
  .couple-profile p {
    color: #5c5c52;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 15px;
  }
  .nav-couples li {
    float: left;
    width: 20%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 30% !important;
  }
}
@media (max-width: 640px) {
  .nav-couples li {
    float: none;
    background: none;
    display: list-item;
    width: 100%;
    background: red;
    padding: 0;
    height: auto;
  }
  .nav-couples li a {
    margin: 0;
    font-size: 15px;
  }
  .nav-couples li a span {
    display: inline;
    margin-left: 20px;
  }
  .nav-couples li.vic a {
    border: 2px solid #589537;
    background: #589537 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
  }
  .nav-couples li.nsw a {
    border: 2px solid #e55854;
    background: #e55854 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
  }
  .nav-couples li.qld a {
    border: 2px solid #fc7d46;
    background: #fc7d46 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
  }
  .nav-couples li.sa a {
    border: 2px solid #1a81f4;
    background: #1a81f4 url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
  }
  .nav-couples li.wa a {
    border: 2px solid #ecd65b;
    background: #ecd65b url('../images/the-block-skyhigh/bg_grad.png') repeat-x 0px -10px;
  }
  .marginFix {
    margin-bottom: 0px;
  }
  .nav {
    margin-bottom: 0px !important;
  }
}
@media (max-width: 480px) {
  
}
@media (max-width: 320px) {
  .sub-header h2 {
    font-size: 24px;
  }
}
