.lt-ie9 #headCarousel {
  padding-top: 0;
}
.lt-ie9 .navbar-fixed-top {
  position: static;
}
.lt-ie9 .navbar-fixed-top .brand {
  background-image: url(../images/home-2013/reece-logo-ie.png);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 2px center;
}
.lt-ie9 .subnavbar {
  margin-top: 0;
}
.lt-ie9 body {
  min-width: 1200px;
}
.lt-ie9 .main-header {
  padding-top: 20px;
}
.lt-ie9 .main-header .top-highlight {
  top: 0;
}
.lt-ie9 #product-filters.collapse,
.lt-ie9 .products-tabs .collapse {
  position: static;
  height: auto;
  overflow: visible;
}
.lt-ie8 .products-tab-nav {
  overflow: hidden;
  zoom: 1;
}
.lt-ie8 .products-tab-nav li {
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
}
.lt-ie8 .products-tab-nav a {
  padding: 10px 20px;
}
.lt-ie8 .btn-bar {
  padding-left: 0;
  padding-right: 0;
}
