.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.headline .headline-title {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 50px;
  font-size: 42px;
}
.headline .headline-description {
  margin-bottom: 0;
  overflow: hidden;
  max-width: 800px;
}
@media (max-width: 769px) {
  .headline .headline-title {
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 769px) {
  .headline {
    margin-top: 20px;
  }
}
.headline-border {
  border-width: 10px;
  border-bottom: 0;
}
@media (min-width: 769px) {
  .subnavbar {
    margin-bottom: 20px;
  }
}
.headline-border {
  border-width: 10px;
  border-bottom: 0;
}
.article-main,
.article-secondary,
.article-preview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.article-main h3,
.article-secondary h3,
.article-preview h3 {
  margin: 0 0 6px;
}
.article-main small,
.article-secondary small,
.article-preview small {
  margin-bottom: 3px;
}
.article-main .read-more,
.article-secondary .read-more,
.article-preview .read-more {
  font-weight: bold;
  text-transform: uppercase;
}
.article-main .read-more i,
.article-secondary .read-more i,
.article-preview .read-more i {
  margin: 2px 0 2px 8px;
}
.article-main .read-more:hover,
.article-secondary .read-more:hover,
.article-preview .read-more:hover {
  text-decoration: none;
}
.article-main h3 {
  font-size: 52px;
  color: #4c4c4c;
}
.article-main p {
  font-size: 15px;
  color: #4c4c4c;
}
.article-main small {
  display: block;
  margin-top: 10px;
}
.article-main h3,
.article-main p,
.article-main small {
  padding-right: 15px;
}
@media (max-width: 767px) {
  .article-main h3 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 979px) {
  .article-main {
    margin-top: 20px;
  }
}
.article-secondary,
.article-preview {
  font-size: 12px;
}
.article-secondary h3,
.article-preview h3 {
  font-size: 15px;
}
.article-secondary p,
.article-preview p {
  line-height: 1.2;
}
.article-secondary small,
.article-preview small {
  display: block;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .article-secondary .article,
  .article-preview .article {
    margin-top: 20px;
    *zoom: 1;
  }
  .article-secondary .article:before,
  .article-secondary .article:after,
  .article-preview .article:before,
  .article-preview .article:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .article-secondary .article:after,
  .article-preview .article:after {
    clear: both;
  }
  .article-secondary .article:first-child,
  .article-preview .article:first-child {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .article-preview .article-image {
    float: left;
    margin-right: 10px;
  }
  .article-preview .article-body {
    overflow: hidden;
  }
  .article-preview small {
    margin-top: 0;
  }
}
.recent-stories {
  overflow: hidden;
  background-color: #e5e5e5;
}
.recent-stories .article-secondary,
.recent-stories .article-preview {
  margin-bottom: 0;
  border-bottom: 0;
}
.button-container {
  text-align: center;
}
.btn-account {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #beb5ab;
  background-image: -moz-linear-gradient(top, #bab0a5, #c5bdb3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bab0a5), to(#c5bdb3));
  background-image: -webkit-linear-gradient(top, #bab0a5, #c5bdb3);
  background-image: -o-linear-gradient(top, #bab0a5, #c5bdb3);
  background-image: linear-gradient(to bottom, #bab0a5, #c5bdb3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbab0a5', endColorstr='#ffc5bdb3', GradientType=0);
  border-color: #c5bdb3 #c5bdb3 #a49788;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #c5bdb3;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ffffff;
}
.btn-account:hover,
.btn-account:focus,
.btn-account:active,
.btn-account.active,
.btn-account.disabled,
.btn-account[disabled] {
  color: #ffffff;
  background-color: #c5bdb3;
  *background-color: #bab0a5;
}
.btn-account:active,
.btn-account.active {
  background-color: #afa397 \9;
}
.btn-account .caret {
  border-top-color: white;
  border-top-width: 6px;
}
.btn-group.open .btn.btn-account {
  background-color: #dbd6d0;
}
