.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
-------------------------------------------------
    GENERIC
-------------------------------------------------
*/
.laufen-minisite .content-container hr {
  border-top: 3px solid #CCC;
}
.laufen-minisite .thumbnail:hover {
  border-color: #db2020;
  -webkit-box-shadow: 0 1px 4px rgba(219, 32, 32, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(219, 32, 32, 0.25);
  box-shadow: 0 1px 4px rgba(219, 32, 32, 0.25);
}
/*
-------------------------------------------------
    CONTEENT / LAYOUT
-------------------------------------------------
*/
.laufen-minisite .content-container .main-wrapper {
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}
.laufen-minisite .content-container p {
  font-size: 12px;
  line-height: 1.2;
  color: #999;
}
.laufen-minisite .content-container p.lead {
  font-size: 16px;
}
.laufen-minisite .main-wrapper {
  padding: 20px;
  margin-top: 20px;
}
/*
-------------------------------------------------
    NAVIGATION
-------------------------------------------------
*/
.laufen-minisite .nav-tabs {
  border-bottom: none;
}
.laufen-minisite .nav-tabs > li {
  width: 33%;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  margin: 0;
}
.laufen-minisite .nav-tabs > li * {
  color: #999;
}
.laufen-minisite .nav-tabs > li > a {
  padding: 10px 0;
  border: none;
  border-radius: 0;
  margin: 0;
  font-weight: bold;
}
.laufen-minisite .nav-tabs > li > a:hover {
  border: none;
}
.laufen-minisite .nav-tabs > li.active {
  border-color: #000;
}
.laufen-minisite .nav-tabs > li.active * {
  color: #000;
}
/*
-------------------------------------------------
    HOME
-------------------------------------------------
*/
.laufen-minisite .home-hero {
  position: relative;
}
.laufen-minisite .home-hero .intro {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 65%;
}
.laufen-minisite .home-hero .intro p {
  color: #fff;
  font-size: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
/*
-------------------------------------------------
    DESIGNERS
-------------------------------------------------
*/
.laufen-minisite .detail-toggle {
  position: relative;
  display: block;
}
.laufen-minisite .detail-toggle .btn-more {
  position: relative;
  top: -10px;
  color: #fff;
  background: #000;
  background: rgba(128, 128, 128, 0.75);
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 5px;
  line-height: 1;
  border-radius: 3px;
}
.laufen-minisite .detail-toggle .btn-more i {
  color: #fff;
}
.laufen-minisite .detail-toggle:hover {
  text-decoration: none;
}
.laufen-minisite .detail-toggle:hover .btn-more {
  background: #c00;
}
/*
-------------------------------------------------
    PRODUCTS
-------------------------------------------------
*/
.laufen-minisite .product-wrapper {
  position: relative;
  display: block;
}
.laufen-minisite .product-wrapper .product-title {
  position: absolute;
  top: 0;
  left: 2%;
  right: 42%;
  padding: 15px 2%;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
/*
-------------------------------------------------
    VIDEO
-------------------------------------------------
*/
.laufen-minisite .video-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
}
.laufen-minisite .video-link .play-icon {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 30%;
  margin: 0 0 0 -15%;
}
.laufen-minisite .video-link .play-icon img {
  width: 100%;
}
.laufen-minisite .video-link:hover .play-icon {
  opacity: 0.5;
}
.laufen-minisite .video-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.laufen-minisite .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*
-------------------------------------------------
    RESPONSIVE OVERRIDES
-------------------------------------------------
*/
@media (min-width: 1023px) {
  .laufen-minisite .home-hero .splash {
    height: 409px !important;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .laufen-minisite .home-hero .splash {
    height: 628px !important;
    overflow: hidden;
  }
}
/*
@media (max-width:1023px)
{
    .laufen-minisite .home-hero .splash
    {
        height: 409px !important;
        overflow: hidden;        
    }    
}
*/
@media (max-width: 767px) {
  img.product-designer-shot {
    max-width: 47%;
  }
}
@media (max-width: 480px) {
  .laufen-minisite .home-hero .intro {
    position: static;
    width: auto;
  }
  .laufen-minisite .home-hero .intro p {
    color: #999;
    font-size: 16px;
    margin-top: 15px;
    text-shadow: none;
  }
}
