.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #EAEAEA !important;
}
.three-content {
  background-color: #FFFFFF !important;
}
.main-item {
  margin: 25px 0 0 0;
  padding: 15px;
  font-size: 14px;
}
.main-item-grey {
  background-color: #747474;
  color: #FFFFFF;
  line-height: 120%;
}
.main-item-grey h5 {
  margin: 0px 0 3px 0;
}
.plannerLead {
  margin: 0px 0 10px 0;
  font-size: 18px;
}
.plannerSteps {
  background-color: #f0f0f0;
  padding: 10px;
}
#ThreeDPlannerWrapper .badge {
  padding: 15px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 9px;
  border-radius: 30px;
  font-size: 24px;
  font-style: italic;
  margin-right: 10px;
}
#ThreeDPlannerWrapper .strip {
  background-color: #FFFFFF;
  width: 100%;
  -webkit-border-radius: 30px 0px 0px 30px !important;
  border-radius: 30px px px 30px !important;
  margin-bottom: 15px;
  color: #555555;
}
.Absolute-Center.is-Image {
  width: 50%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*
----------------------------------------------
RESPONSIVE OVERRIDES
----------------------------------------------
*/
@media (min-width: 1200px) {
  
}
@media (max-width: 1199px) {
  
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 320px) {
  
}
