.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-branding.text-brand {
  color: #db1e24;
}
.page-branding.sale-branding {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 77px;
  height: 32px;
  background: url("../images/products_2013/products-bathroom-sale-iconx1.png") no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  .page-branding.sale-branding {
    background-image: url("../images/products_2013/products-bathroom-sale-iconx2.png");
    -webkit-background-size: 77px 32px;
    -moz-background-size: 77px 32px;
    -o-background-size: 77px 32px;
    background-size: 77px 32px;
  }
}
.main-item {
  background: #fff;
  /*    padding: 20px 0;*/

  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
}
.main-item .inner-wrapper {
  margin: 0;
  padding: 20px;
}
.feature-panel {
  background: #bbb;
  padding: 20px;
}
.feature-panel .thumbnail {
  border-color: transparent;
}
body {
  padding-top: 233px;
}
.main-header {
  padding-top: 20px;
  background-color: #db2020;
  background-color: #c91d1d;
  background-image: -moz-linear-gradient(top, #db2020, #af1919);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db2020), to(#af1919));
  background-image: -webkit-linear-gradient(top, #db2020, #af1919);
  background-image: -o-linear-gradient(top, #db2020, #af1919);
  background-image: linear-gradient(to bottom, #db2020, #af1919);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb2020', endColorstr='#ffaf1919', GradientType=0);
  color: #FFF;
  position: relative;
}
.main-header h1 {
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
  max-width: 400px;
  width: 70%;
  margin-top: 0;
}
.main-header h1 img {
  width: 100%;
  height: auto;
}
.main-header .top-highlight {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  border-top: 1px solid #eb7676;
}
.sub-header {
  margin: 20px 0;
}
.main-footer {
  margin: 20px 0 0;
  min-height: 80px;
  padding: 20px 0;
  background: #FFF;
}
.main-footer .nav {
  margin: 0 20px 5px;
}
.main-footer .nav li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
.main-footer .nav li a {
  padding: 0 7px;
  border-right: 1px solid #CCC;
  color: #555555;
  font-size: 11.9px;
}
.main-footer .nav-social {
  clear: both;
  min-height: 22px;
}
.main-footer .nav-social li a {
  padding: 0 0 0 7px;
  line-height: 1;
  font-size: 17.5px;
  border-right: none !important;
}
.main-footer .nav-social li a,
.main-footer .nav li a.no-border,
.main-footer .nav li:last-child a {
  border-right: none !important;
}
.main-footer .nav li a:hover {
  background: none;
}
.main-footer .footer-right .nav {
  float: right;
}
.main-footer .icon-facebook-sign {
  color: #3B5998;
  width: auto !important;
}
.main-footer .icon-twitter-sign {
  color: #42c8f4;
  width: auto !important;
}
.nav-pills-span3,
.nav-pills-span4 {
  margin-bottom: 20px;
}
.nav-pills-span3 li,
.nav-pills-span4 li {
  display: inline-block;
  float: left;
  width: 30%;
  margin-right: 2.5%;
  margin-top: -1px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
.nav-pills-span3 li {
  width: 22.5%;
}
.nav-pills-span3 li a,
.nav-pills-span4 li a {
  padding: 5px 0 !important;
  font-size: 12px !important;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.nav-pills-span3 li a:hover,
.nav-pills-span4 li a:hover {
  background-color: transparent;
}
.main-header ul.nav li {
  border-top-color: #eb7676;
  border-bottom-color: #eb7676;
}
.main-header ul.nav li a {
  color: #f8cfcf;
}
.main-header ul.nav li a:hover {
  color: white;
}
.no-touch .main-header ul.nav li a:hover,
.main-header ul.nav li.active a {
  color: #FFF;
  background: none;
}
.bathroom-moments .sub-header h2 {
  margin-top: 0;
}
.bathroom-moments .main-item {
  position: relative;
}
.bathroom-moments .main-item .item-header {
  margin: 0 0 15px;
}
.bathroom-moments .main-item .item-header h3 {
  margin: 0 0 10px;
  line-height: 1;
}
.bathroom-moments .main-item .item-header p {
  line-height: 1.25;
  margin: 0;
}
.bathroom-moments .main-item .item-thumb {
  margin: 0 0 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
.bathroom-moments .main-item .item-sub-text h4 {
  color: #AAA;
  line-height: 1;
  text-transform: uppercase;
  padding: 0 0 10px;
  border-bottom: 5px solid #AAA;
  margin: 0 0 10px;
}
.bathroom-moments .main-item .item-sub-text p {
  line-height: 1.1;
  font-size: 10.5px;
}
.bathroom-moments .main-item a.item-thumb {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.bathroom-moments .main-item a.item-thumb:hover {
  color: #db2020;
  text-shadow: none;
}
.bathroom-moments .main-item .disabled-overlay {
  width: 100%;
  height: 100%;
  background: url(../images/bg-white-75pc.png);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.bathroom-moments .main-item .corner-ribbon {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 35%;
  z-index: 999;
  opacity: 1;
}
.bathroom-moments .media-thumbnails li.flush {
  margin-left: 0;
}
.bathroom-moments .media-thumbnails li h6 {
  margin-bottom: 0;
}
.bathroom-moments.grey-bg .thumbnail {
  border-color: #666;
}
.bathroom-moments.grey-bg .feature-panel .thumbnail {
  border-color: #999;
}
.bathroom-moments .thumbnail:hover,
.bathroom-moments .thumbnail.active,
.bathroom-moments .feature-panel .thumbnail:hover {
  border-color: #db2020;
}
.bathroom-moments .thumbnail {
  border-width: 3px;
}
.bathroom-moments .thumbnail.item-video-central.active {
  border-color: #ffffff;
}
.bathroom-moments .thumbnail.item-video-central.active:hover {
  border-color: #db2020;
}
.bathroom-moments .disabled {
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.bathroom-moments .disabled * {
  filter: alpha(opacity=35);
  zoom: 1;
}
.bathroom-moments .feature-panel-title {
  background: #ffffff;
  color: #000000;
  padding: 10px 10px 7px;
  margin: -20px -20px 20px;
}
.bathroom-moments .well-dark {
  background: #000;
  border: none;
  padding: 5px 20px;
  margin-top: -5px;
  color: #ffffff;
}
.bathroom-moments .feature-title {
  font-size: 80px;
  line-height: 0.8;
  margin: 20px 0;
}
.bathroom-moments .sub-header h2.feature-title {
  margin: 20px 0;
}
.happy-tips span.primary {
  color: #db2020;
}
.happy-tips .sub-header h2 {
  margin-top: 0;
}
.happy-tips hr {
  border-top: 5px solid #999;
}
.happy-tips .feature-title {
  font-size: 130px;
  line-height: 0.8;
  margin: 20px 0 30px;
}
.happy-tips .main-item {
  position: relative;
}
.happy-tips .main-item h4 {
  padding: 0 0 7px;
  margin: 15px 0 7px;
  border-bottom: 5px solid #000000;
}
.happy-tips .main-item .new-vid {
  position: absolute;
  right: -3px;
  top: -3px;
  z-index: 20;
}
.happy-tips .main-item a.item-thumb {
  display: block;
  border: 1px solid #ffffff;
  position: relative;
  color: #000000;
  z-index: 1;
}
.happy-tips .main-item a.item-thumb:hover {
  border: 1px solid #999999;
}
.happy-tips .main-item a.item-thumb:hover {
  text-decoration: none;
  color: #db2020;
}
.happy-tips .thumbnail:hover,
.happy-tips .thumbnail.active,
.happy-tips .feature-panel .thumbnail:hover {
  border-color: #db2020;
}
.happy-tips .thumbnail.active {
  border-width: 2px;
}
a.item-video,
a.item-video-central {
  position: relative;
  display: block;
  z-index: 1;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
a.item-video:before {
  content: "\f01d";
  font-family: FontAwesome;
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 40px;
  z-index: 10;
}
a.item-video-central:before {
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -15px;
  content: "\f01d";
  font-family: FontAwesome;
  position: absolute;
  font-size: 40px;
  z-index: 10;
}
a.item-video:after {
  content: "Watch Video";
  position: absolute;
  top: 17px;
  left: 50px;
  font-weight: bold;
}
a.item-video.item-video-small:after {
  content: "";
}
a.item-video:hover,
a.item-video-central:hover {
  text-decoration: none;
  color: #db2020;
}
a.item-video:hover .video-title {
  background: #000;
  text-decoration: none;
}
a.item-video .video-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background: #000;
  background: rgba(128, 128, 128, 0.5);
  padding: 2px 5px;
  font-size: 12px;
}
a.item-video + a.item-video {
  margin-top: 20px;
}
.fb-comments,
.fb-comments iframe[style],
.fb-comments span {
  width: 100% !important;
}
.hz-landing .main-header .header-container,
.hz-landing .main-footer .footer-container,
.hz-landing .masonry-container,
.hz-landing .content-container,
.hz-landing .navbar-container {
  max-width: 1200px !important;
}
#landingTiles [class*="span"],
#happiness-carousel {
  -webkit-transition: 0.25s box-shadow ease-in-out;
  -moz-transition: 0.25s box-shadow ease-in-out;
  -o-transition: 0.25s box-shadow ease-in-out;
  -ms-transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
}
#landingTiles [class*="span"] {
  padding: 10px;
  text-align: center;
  min-height: 225px;
  background-color: #479cc0;
  position: relative;
}
#landingTiles [class*="span"] a {
  color: #fff;
  text-decoration: none;
}
.no-touch #landingTiles [class*="span"]:hover,
#happiness-carousel:hover {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
}
#landingTiles [class*="span"] a {
  display: block;
}
#landingTiles [class*="span"] hr {
  margin: 5px auto;
  width: 40px;
  border-color: #fff;
}
#landingTiles .row-fluid .span6 {
  min-height: 265px;
}
#landingTiles .row-fluid .alt1 {
  background-color: #b1cdb7;
}
#landingTiles .row-fluid .alt1 a {
  color: #333;
}
#landingTiles .row-fluid .alt1 hr {
  border-color: #333;
}
#landingTiles .row-fluid .alt2 {
  background-color: #f3735c;
  color: #fff;
}
#landingTiles .row-fluid .alt3 {
  background-color: #dfcbc0;
  color: #333;
}
#landingTiles .row-fluid .alt3 hr {
  border-color: #333;
}
#landingTiles .caption {
  padding: 15px 0 5px 0;
}
#landingTiles h4 {
  margin-top: 0;
}
#landingTiles h4 a {
  color: inherit;
  text-decoration: none;
}
#landingTiles p {
  margin-bottom: 0;
  font-size: 12px;
}
/*
----------------------------------------------
RESPONSIVE OVERRIDES
----------------------------------------------
*/
@media (min-width: 1200px) {
  .happy-tips .feature-title {
    font-size: 150px;
  }
}
@media (max-width: 1199px) {
  .main-header ul.nav li a {
    font-size: 12px;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin: 0;
  }
  .main-header {
    margin-top: 46px;
  }
  .main-header .top-highlight {
    top: 1px;
  }
  .ocmain-wrapper {
    position: absolute;
    top: 0;
  }
  .ocmain-wrapper {
    background-color: #fff;
  }
  .main-header h1 {
    width: auto;
  }
  .ocnav-wrapper .nav li > .nav li a i {
    color: #db2020;
  }
  .ocnav-wrapper .nav li > .nav li.active a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #c01c1c;
    background-image: -moz-linear-gradient(top, #af1919, #db2020);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#af1919), to(#db2020));
    background-image: -webkit-linear-gradient(top, #af1919, #db2020);
    background-image: -o-linear-gradient(top, #af1919, #db2020);
    background-image: linear-gradient(to bottom, #af1919, #db2020);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaf1919', endColorstr='#ffdb2020', GradientType=0);
    border-color: #db2020 #db2020 #981616;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #db2020;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #db2020;
  }
  .ocnav-wrapper .nav li > .nav li.active a:hover,
  .ocnav-wrapper .nav li > .nav li.active a:focus,
  .ocnav-wrapper .nav li > .nav li.active a:active,
  .ocnav-wrapper .nav li > .nav li.active a.active,
  .ocnav-wrapper .nav li > .nav li.active a.disabled,
  .ocnav-wrapper .nav li > .nav li.active a[disabled] {
    color: #ffffff;
    background-color: #db2020;
    *background-color: #c51d1d;
  }
  .ocnav-wrapper .nav li > .nav li.active a:active,
  .ocnav-wrapper .nav li > .nav li.active a.active {
    background-color: #af1919 \9;
  }
  .ocnav-wrapper .nav li > .nav li.active a i {
    color: #FFF;
  }
  .bathroom-moments .main-item .item-sub-text p {
    line-height: 20px;
    font-size: 14px;
  }
  .happy-tips a.item-video:after {
    content: "";
  }
  .happy-tips .feature-title {
    font-size: 100px;
  }
}
@media (max-width: 767px) {
  .main-header h1 {
    width: auto;
    max-width: 255px;
  }
  .main-footer .footer-right .nav {
    float: none;
  }
  .happy-tips .main-item {
    background: none;
    margin: 20px 0 0;
    padding: 20px 0 0;
    box-shadow: none;
    border-top: 1px solid #999999;
  }
  .happy-tips .main-item .inner-wrapper {
    margin: 0;
    padding: 0;
    border: none;
  }
  .happy-tips .main-item a.item-thumb {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  .happy-tips .main-item .new-vid {
    right: -3px;
    top: 17px;
  }
}
@media (max-width: 320px) {
  .happy-tips .feature-title {
    font-size: 70px;
  }
  .bathroom-moments .feature-title {
    font-size: 55px;
  }
  .main-footer .nav {
    height: 25px;
    clear: left;
  }
}
/*======================
 Brand page
======================*/
.brandPage {
  background: #fafafa;
  border: solid 1px #d7e7ee;
}
.brandPageHeader {
  font-weight: 200;
  font-size: 20px;
  color: #333;
}
.brandPageSubHeader {
  color: #e2001a;
  display: block;
  font-size: 15px;
}
.brandImageWrap {
  padding: 75px 0 60px;
  text-align: center;
}
/* Product Carousel */
#productCarousel .carousel-indicators {
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  text-align: center;
  padding: 10px;
}
#productCarousel .carousel-indicators li {
  float: none;
  display: inline-block;
  border: solid 1px #a2b8c1;
  height: 15px;
  width: 15px;
  background: #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#productCarousel .carousel-indicators li.active {
  background: #534545;
}
#productCarousel .carousel-control {
  color: #ffffff;
}
/* brand page navigation */
.brandWrap {
  padding: 20px 0 0;
}
.brandList {
  margin: 0;
  position: relative;
  margin: 0 20px -20px;
  height: auto;
  text-align: center;
}
.brandList li {
  list-style: none;
  border: solid 1px #a2b8c1;
  margin: 0 0 0 -1px;
  z-index: 1;
  display: inline-block;
  position: relative;
  background: #ffffff;
}
.brandList li a {
  padding: 10px 25px;
  display: block;
  color: #8a999f;
  cursor: pointer;
}
.brandList li a:hover {
  text-decoration: none;
  background: #eaeaea;
  color: #333;
}
.brandList li.active {
  border-color: #e29da5;
  z-index: 2;
}
.brandList li.active a,
.brandList li.active a:hover {
  color: #e2001a;
  background: #ffd9dd;
}
#showBrandMenu {
  border: solid 1px #a2b8c1;
  display: block;
  padding: 10px 15px;
  margin: 0 20px;
  background: #ffffff;
  color: #717070;
  position: relative;
  z-index: 2;
}
#showBrandMenu .icon {
  float: right;
  padding: 5px;
  display: inline-block;
}
#showBrandMenu .icon .caret {
  border-width: 8px;
}
#showBrandMenu:hover {
  text-decoration: none;
}
.brandContentWrap {
  border-top: solid 1px #a2b8c1;
  min-height: 200px;
}
.brandContentWrap .brandContent {
  padding: 50px;
  margin: 0 auto;
  font-size: 13px;
}
.brandContentWrap .brandContent p {
  color: #717070;
}
#about.brandContent {
  max-width: 780px;
}
.brandIntro {
  padding-bottom: 30px;
  text-align: center;
}
.brandIntro h3 {
  padding-bottom: 20px;
}
.brandFeatures {
  border-top: dotted 1px #a2b8c1;
  padding: 40px 0 20px;
}
.brandFeatures h4 {
  margin-top: 0;
}
.brandFeatures p {
  padding-bottom: 20px;
}
.brandFeatureDesc {
  padding-right: 40px;
}
.aboutBrandCarouselWrap {
  padding: 0 40px;
}
.aboutBrandCarouselWrap .carousel-indicators {
  margin: 10px 40px;
  position: static;
  border-top: dotted 1px #a2b8c1;
  border-bottom: dotted 1px #a2b8c1;
  padding: 10px;
  text-align: center;
}
.aboutBrandCarouselWrap .carousel-indicators li {
  float: none;
  display: inline-block;
  border: solid 1px #a2b8c1;
}
.aboutBrandCarouselWrap .carousel-indicators li.active {
  background: #534545;
}
.videoThumbWrap {
  padding-bottom: 10px;
}
.videoThumbWrap .brandPageSubHeader {
  padding-top: 20px;
}
.videoThumbWrap h4 {
  margin: 3px 0;
}
.videoThumb {
  position: relative;
  cursor: pointer;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.videoThumb img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.videoThumb .playIconWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  text-align: center;
}
.videoThumb .playIconWrap .icon-play {
  padding: 10px;
  height: 10px;
  width: 10px;
  font-size: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #444;
}
.introBrochureDownloadWrap {
  text-align: center;
  padding: 20px 0 5px;
}
.introBrochureDownload {
  display: inline-block;
}
.introBrochureDownload:hover {
  text-decoration: none;
}
.introBrochureDownload .introBrochureDownloadText {
  display: block;
  padding-top: 10px;
  *zoom: 1;
}
.introBrochureDownload .introBrochureDownloadText:before,
.introBrochureDownload .introBrochureDownloadText:after {
  display: table;
  content: "";
  line-height: 0;
}
.introBrochureDownload .introBrochureDownloadText:after {
  clear: both;
}
.introBrochureDownload i {
  display: block;
  font-size: 30px;
  float: left;
  color: #a5a5a5;
  position: relative;
  top: -5px;
}
.introBrochureDownload strong,
.introBrochureDownload small {
  display: block;
  margin-left: 45px;
}
.introBrochureDownload small {
  color: #e2001a;
  padding-top: 5px;
  font-size: 1em;
}
/* Designer Info Tab */
.designerInfoWrap {
  border: solid 1px #dedede;
  margin-top: 30px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.designerInfoWrap .span8 {
  margin-left: 0;
}
.designerInfoWrap .designerInfoThumb {
  padding: 30px;
  border-right: solid 1px #dedede;
}
.designerInfoWrap .designerInfoContent {
  padding: 30px 30px 10px ;
  border-left: solid 1px #dedede;
  margin-left: -1px;
}
.designerInfoWrap .designerInfoContent h4 {
  margin-top: 0;
  color: #e2001a;
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 5px;
}
.designerInfoWrap .designerInfoContent p {
  padding-bottom: 10px;
}
.designerInfoWrap .designerInfoContent .brandProdRangeLogoWrap {
  padding: 0 0 20px;
}
.viewRangeLink {
  background: #e2001a;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}
.viewRangeLink:hover {
  text-decoration: none;
  color: #ffffff;
}
.designerInfoThumb .viewRangeLink {
  display: block;
  margin-top: 20px ;
  max-width: 210px;
}
.designerInfoContent .viewRangeLink {
  display: none;
  margin-bottom: 20px;
}
#products.brandContent {
  background: #000000;
  padding: 50px 30px 30px;
}
/* */
.brandPressReleases {
  margin: 0;
  border-top: solid 1px #c5d2d8;
}
.brandPressReleases li {
  display: table;
  width: 100%;
  padding: 20px 0;
  list-style: none;
  border-bottom: solid 1px #c5d2d8;
}
.brandPressReleases li p {
  margin-bottom: 0;
}
.brandPressReleases .brandPressDate {
  color: #717070;
  font-size: 14px;
}
.brandPressReleases .brandPressDate span {
  display: block;
}
.brandPressReleases .brandPressDownloadLink {
  color: #e2001a;
  font-size: 14px;
}
/* Product Range List */
.brandProdRangeLogoWrap {
  background: #ffffff;
  padding: 20px;
}
.brandProdRangeLogoWrap .brandImg {
  margin: 5px 0 15px;
}
.brandProdRangeLogoWrap .viewRangeLink {
  float: right;
}
.brandProdRangeList {
  margin: 0;
}
.brandProdRangeList li {
  list-style: none;
  background: #616161;
  overflow: hidden;
}
.brandProdRangeList li + li {
  margin-top: 30px;
}
.brandProdRangeList .productImage {
  width: 400px;
  float: left;
}
.brandProdRangeList .brandProdRangeLogoWrap,
.brandProdRangeList .brandProdRangeDesc {
  margin-left: 400px;
}
.brandProdRangeList .brandProdRangeDesc {
  padding: 20px;
  color: #ffffff;
}
.brandProdRangeList .brandProdRangeDesc p {
  color: #ffffff;
}
/* Video  Tab*/
.brandVideoTab [class*="span"] {
  padding-bottom: 40px;
}
.brandVideoTab iframe {
  max-width: 100%;
}
/* */
@media (max-width: 979px) {
  .brandProdRangeLogoWrap .viewRangeLink {
    float: none;
  }
  .brandProdRangeList .productImage {
    width: 300px;
    float: left;
  }
  .brandProdRangeList .brandProdRangeLogoWrap,
  .brandProdRangeList .brandProdRangeDesc {
    margin-left: 300px;
  }
}
@media (max-width: 767px) {
  .brandList {
    height: 0;
  }
  .brandList li {
    display: block;
    margin: -1px 0 0 0;
  }
  .brandPressReleases .brandPressDate {
    float: left;
    margin-right: 10px;
  }
  .brandPressReleases .brandPressDesc,
  .brandPressReleases .brandPressDownloadLinkwrap {
    margin-left: 50px;
    margin-bottom: 5px;
  }
  .brandPressReleases .brandPressDesc h4 {
    margin-top: 0;
  }
  .brandContentWrap .brandContent {
    padding: 50px 20px 20px;
  }
  .designerInfoWrap {
    margin: 0 -21px;
  }
  .designerInfoWrap .designerInfoContent {
    padding-top: 0;
  }
  .designerInfoWrap .designerInfoThumb {
    border-right: none;
  }
  .brandProdRangeList .productImage {
    width: auto;
    float: none;
  }
  .brandProdRangeList .brandProdRangeLogoWrap,
  .brandProdRangeList .brandProdRangeDesc {
    margin-left: 0;
  }
  .designerInfoThumb .viewRangeLink {
    display: none;
  }
  .designerInfoContent .viewRangeLink {
    display: inline-block;
  }
}
@media (max-width: 480px) {
  .aboutBrandCarouselWrap {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .brandFeatures .span6 {
    margin-left: 0;
    width: 50%;
    margin-right: -1px;
  }
  .brandFeatureDesc {
    border-right: solid 1px #acc0c8;
  }
  .aboutBrandCarouselWrap {
    border-left: solid 1px #acc0c8;
  }
  .brandPressReleases .brandPressDate,
  .brandPressReleases .brandPressDesc,
  .brandPressReleases .brandPressDownloadLinkwrap {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
  }
  .brandPressReleases .brandPressDownloadLinkwrap {
    width: 170px;
    text-align: right;
  }
  .designerInfoWrap .designerInfoThumb {
    border-right: solid 1px #dedede;
  }
}
/* ========================================
 INSPIRATION PAGE
 ========================================== */
@font-face {
  font-family: 'sofia_pro_boldregular';
  src: url('../font/SofiaProBold-webfont.eot');
  src: url('../font/SofiaProBold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/SofiaProBold-webfont.woff') format('woff'), url('../font/SofiaProBold-webfont.ttf') format('truetype'), url('../font/SofiaProBold-webfont.svg#sofia_pro_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofia_pro_lightregular';
  src: url('../font/SofiaProLight-webfont.eot');
  src: url('../font/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'), url('../font/SofiaProLight-webfont.woff') format('woff'), url('../font/SofiaProLight-webfont.ttf') format('truetype'), url('../font/SofiaProLight-webfont.svg#sofia_pro_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofia_pro_semi_boldregular';
  src: url('../font/SofiaProSemiBold-webfont.eot');
  src: url('../font/SofiaProSemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/SofiaProSemiBold-webfont.woff') format('woff'), url('../font/SofiaProSemiBold-webfont.ttf') format('truetype'), url('../font/SofiaProSemiBold-webfont.svg#sofia_pro_semi_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Inspiration Banner */
.inspirationBannerWrap {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.inspirationBannerWrap .inspirationBannerImageWrap {
  overflow: hidden;
}
.inspirationBannerWrap .inspirationBannerImageWrap img {
  vertical-align: top;
}
.inspirationBannerTextWrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-family: sofia_pro_lightregular;
  font-size: 20px;
}
.inspirationBannerTextWrap .inspirationBannerText {
  margin-top: 13%;
}
.inspirationBannerTextWrap a,
.inspirationBannerTextWrap a:hover {
  color: #ffffff;
  text-decoration: none;
}
.inspirationBannerTextWrap h2 {
  font-size: 3.5em;
  border-bottom: solid .07em;
  display: inline-block;
  font-family: sofia_pro_semi_boldregular;
  font-weight: 200;
}
.inspirationBannerTextWrap h3 {
  color: #ff655b;
  font-size: 2.5em;
  font-weight: 200;
}
.inspirationBannerTextWrap .inspirationBannerCaption {
  font-size: 1em;
  font-weight: 200;
  max-width: 700px;
  margin: 2em auto 0;
  line-height: 1.3em;
}
.inspirationBannerTextWrap .inspirationBannerViewLink {
  margin-top: 1.5em;
  display: inline-block;
  padding: .5em 1em;
  background: #ffffff;
  color: #333;
  border: solid 2px #333;
}
@media (max-width: 1200px) {
  .inspirationBannerTextWrap .inspirationBannerText {
    margin-top: 8%;
  }
}
@media (max-width: 979px) {
  .inspirationBannerTextWrap {
    font-size: 18px;
  }
  .inspirationBannerTextWrap .inspirationBannerText {
    margin-top: 5%;
  }
  .inspirationBannerTextWrap .inspirationBannerCaption {
    display: none;
  }
  .inspirationBannerWrap .inspirationBannerImageWrap img {
    width: 120%;
    max-width: 120%;
    margin: 0 -10%;
  }
}
@media (max-width: 767px) {
  .inspirationBannerTextWrap {
    font-size: 15px;
  }
  .inspirationBannerTextWrap .inspirationBannerText {
    margin-top: 30px;
  }
  .inspirationBannerWrap .inspirationBannerImageWrap img {
    width: 140%;
    max-width: 140%;
    margin: 0 -20%;
  }
}
@media (max-width: 480px) {
  .inspirationBannerTextWrap {
    font-size: 11px;
  }
  .inspirationBannerTextWrap .inspirationBannerViewLink {
    font-size: 12px;
  }
  .inspirationBannerWrap .inspirationBannerImageWrap img {
    width: 160%;
    max-width: 160%;
    margin: 0 -30%;
  }
}
@media (max-width: 400px) {
  .inspirationBannerTextWrap {
    font-size: 8px;
  }
  .inspirationBannerTextWrap .inspirationBannerViewLink {
    font-size: 11px;
  }
  .inspirationBannerWrap .inspirationBannerImageWrap img {
    width: 200%;
    max-width: 200%;
    margin: 0 -50%;
  }
}
/* Colored Panels */
.coloredPanelLink {
  display: inline-block;
  background: #000000;
  padding: 10px 20px;
  color: #ffffff;
  margin-top: 20px;
}
.coloredPanelLink:hover {
  color: #aaa;
}
.inspirationPagePanels {
  text-align: center;
  font-family: sofia_pro_lightregular;
  padding-bottom: 20px;
}
.inspirationPagePanels .coloredPanel {
  margin-top: 20px;
  color: #ffffff;
}
.inspirationPagePanels .coloredPanel h3 {
  font-weight: normal;
  font-size: 32px;
}
.inspirationPagePanels .coloredPanel a,
.inspirationPagePanels .coloredPanel a:hover {
  color: #ffffff;
  text-decoration: none;
}
.inspirationPagePanels .coloredPanelText {
  padding: 20px;
  position: relative;
}
.inspirationPagePanels .coloredPanelThumb img {
  width: 100%;
}
.landscapePanel h3 {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .landscapePanel h3 {
    margin-top: 40px;
  }
  .inspirationPagePanels .coloredPanel h3 {
    font-size: 38px;
  }
}
@media (max-width: 979px) {
  .landscapePanel h3 {
    margin: 10px -10px;
  }
  .inspirationPagePanels .coloredPanel h3 {
    font-size: 25px;
  }
  .coloredPanelLink {
    padding: 5px 15px;
    font-size: .9em;
    margin-top: 10px;
  }
}
.caretTop .coloredPanelThumb,
.caretRight .coloredPanelThumb,
.caretBottom .coloredPanelThumb,
.caretLeft .coloredPanelThumb,
.caretTop .socialPanelThumb,
.caretRight .socialPanelThumb,
.caretBottom .socialPanelThumb,
.caretLeft .socialPanelThumb {
  position: relative;
}
.caretTop .coloredPanelThumb:before,
.caretRight .coloredPanelThumb:before,
.caretBottom .coloredPanelThumb:before,
.caretLeft .coloredPanelThumb:before,
.caretTop .socialPanelThumb:before,
.caretRight .socialPanelThumb:before,
.caretBottom .socialPanelThumb:before,
.caretLeft .socialPanelThumb:before {
  content: '';
  border: 30px solid transparent;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 2;
}
.caretTop .socialPanelThumb:after,
.caretBottom .socialPanelThumb:after {
  content: '';
  border: 30px solid transparent;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 3;
}
.caretTop .coloredPanelThumb:before,
.caretBottom .coloredPanelThumb:before {
  left: 30px;
}
.caretTop .socialPanelThumb:before,
.caretBottom .socialPanelThumb:before,
.caretTop .socialPanelThumb:after,
.caretBottom .socialPanelThumb:after {
  right: 30px;
}
.caretTop .coloredPanelThumb:before,
.caretTop .socialPanelThumb:before {
  top: 0;
}
.caretTop .socialPanelThumb:after {
  top: -2px;
  border-top-color: #dbdadb;
}
.caretBottom .coloredPanelThumb:before,
.caretBottom .socialPanelThumb:before {
  bottom: 0;
}
.caretBottom .socialPanelThumb:after {
  bottom: -2px;
  border-bottom-color: #dbdadb;
}
.caretBottom.pinterestPanel .socialPanelThumb:before {
  border-bottom-color: #ff655b;
}
.caretBottom.pinterestPanel .socialPanelThumb:after {
  display: none;
}
.caretRight .coloredPanelThumb:before,
.caretLeft .coloredPanelThumb:before {
  top: 30px;
}
.caretRight .coloredPanelThumb:before {
  right: 0;
}
.caretLeft .coloredPanelThumb:before {
  left: 0;
}
.caretTop .socialPanelThumb:before {
  border-top-color: #fff;
}
.caretBottom .socialPanelThumb:before {
  border-bottom-color: #fff;
}
.panelTeal {
  background: #6cc3bb;
}
.panelTeal.caretTop .coloredPanelThumb:before {
  border-top-color: #6cc3bb;
}
.panelTeal.caretRight .coloredPanelThumb:before {
  border-right-color: #6cc3bb;
}
.panelTeal.caretBottom .coloredPanelThumb:before {
  border-bottom-color: #6cc3bb;
}
.panelTeal.caretLeft .coloredPanelThumb:before {
  border-left-color: #6cc3bb;
}
.panelLightPurple {
  background: #766baf;
}
.panelLightPurple.caretTop .coloredPanelThumb:before {
  border-top-color: #766baf;
}
.panelLightPurple.caretRight .coloredPanelThumb:before {
  border-right-color: #766baf;
}
.panelLightPurple.caretBottom .coloredPanelThumb:before {
  border-bottom-color: #766baf;
}
.panelLightPurple.caretLeft .coloredPanelThumb:before {
  border-left-color: #766baf;
}
.panelLightPink {
  background: #f199c3;
}
.panelLightPink.caretTop .coloredPanelThumb:before {
  border-top-color: #f199c3;
}
.panelLightPink.caretRight .coloredPanelThumb:before {
  border-right-color: #f199c3;
}
.panelLightPink.caretBottom .coloredPanelThumb:before {
  border-bottom-color: #f199c3;
}
.panelLightPink.caretLeft .coloredPanelThumb:before {
  border-left-color: #f199c3;
}
.panelSalmon {
  background: #ff655b;
}
.panelSalmon.caretTop .coloredPanelThumb:before {
  border-top-color: #ff655b;
}
.panelSalmon.caretRight .coloredPanelThumb:before {
  border-right-color: #ff655b;
}
.panelSalmon.caretBottom .coloredPanelThumb:before {
  border-bottom-color: #ff655b;
}
.panelSalmon.caretLeft .coloredPanelThumb:before {
  border-left-color: #ff655b;
}
.panelAlt [class*="span"] {
  float: right;
}
@media (max-width: 767px) {
  .inspirationPagePanels .portraitPanel .coloredPanelThumb {
    overflow: hidden;
  }
  .inspirationPagePanels .portraitPanel .coloredPanelThumb img {
    margin: -25% 0;
  }
  .caretTop .coloredPanelThumb:before,
  .caretRight .coloredPanelThumb:before,
  .caretBottom .coloredPanelThumb:before,
  .caretLeft .coloredPanelThumb:before {
    left: 30px;
    bottom: 0;
    top: auto;
    right: auto;
    border-color: transparent !important;
  }
  .panelTeal.caretTop .coloredPanelThumb:before,
  .panelTeal.caretRight .coloredPanelThumb:before,
  .panelTeal.caretBottom .coloredPanelThumb:before,
  .panelTeal.caretLeft .coloredPanelThumb:before {
    border-bottom-color: #6cc3bb !important;
  }
  .panelLightPurple.caretTop .coloredPanelThumb:before,
  .panelLightPurple.caretRight .coloredPanelThumb:before,
  .panelLightPurple.caretBottom .coloredPanelThumb:before,
  .panelLightPurple.caretLeft .coloredPanelThumb:before {
    border-bottom-color: #766baf !important;
  }
  .panelLightPink.caretTop .coloredPanelThumb:before,
  .panelLightPink.caretRight .coloredPanelThumb:before,
  .panelLightPink.caretBottom .coloredPanelThumb:before,
  .panelLightPink.caretLeft .coloredPanelThumb:before {
    border-bottom-color: #f199c3 !important;
  }
  .panelSalmon.caretTop .coloredPanelThumb:before,
  .panelSalmon.caretRight .coloredPanelThumb:before,
  .panelSalmon.caretBottom .coloredPanelThumb:before,
  .panelSalmon.caretLeft .coloredPanelThumb:before {
    border-bottom-color: #ff655b !important;
  }
}
/* Social Panels */
.inspirationBathroomFiles {
  background: #dbdadb;
  text-align: center;
  font-family: sofia_pro_lightregular;
}
.inspirationBathroomFiles .header {
  background: #ff655b;
  padding: 12px;
}
.inspirationBathroomFiles .header h2 {
  color: #ffffff;
  font-size: 30px;
  margin: 0;
  border-bottom: solid .07em;
  display: inline-block;
  padding: 2px;
  font-weight: normal;
  font-family: sofia_pro_semi_boldregular;
}
.inspirationSocialPanelWrap {
  padding-bottom: 20px;
}
.inspirationSocialPanelWrap .socialPanel {
  margin-top: 20px;
}
.inspirationSocialPanelWrap .socialPanel .socialPaneltext {
  border: solid 2px #ffffff;
  padding: 20px;
  min-height: 14em;
  color: #8c8c8c;
  position: relative;
}
.inspirationSocialPanelWrap .socialPanel h3 {
  font-weight: 200;
  font-size: 38px;
}
.inspirationSocialPanelWrap .socialPanel h3 small {
  display: block;
}
.inspirationSocialPanelWrap .socialPanel h3 .icon-large {
  font-size: 20px;
  display: block;
  padding-bottom: 10px;
}
.inspirationSocialPanelWrap .socialPanel .socialPanelLink {
  border: solid 2px #ffffff;
  display: inline-block;
  padding: 5px 20px;
  text-transform: uppercase;
  color: #8c8c8c;
}
.inspirationSocialPanelWrap .pinterestPanel .socialPaneltext {
  border: none;
  background: #ff655b;
  text-align: left;
  min-height: 1em !important;
  color: #ffffff;
}
.inspirationSocialPanelWrap .pinterestPanel .socialPaneltext h3 {
  margin: 0 0 0 5px;
}
.inspirationSocialPanelWrap .pinterestPanel .socialPaneltext h3 .icon-large {
  padding: 0;
}
.inspirationSocialPanelWrap .socialPanelThumb img {
  width: 100%;
}
@media (max-width: 979px) {
  .inspirationSocialPanelWrap .socialPanel .socialPaneltext {
    min-height: 16em;
  }
}
@media (max-width: 767px) {
  .inspirationSocialPanelWrap .socialPanel .socialPaneltext {
    min-height: 1em;
  }
}
