.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.spring2014 {
  font-family: springBodyFont;
}
.spring2014 .clear {
  clear: both;
}
.spring2014 h1,
.spring2014 h2,
.spring2014 h3,
.spring2014 h4,
.spring2014 h5,
.spring2014 h6 {
  font-family: "freight-big-pro", serif;
}
.spring2014 h1 span,
.spring2014 h2 span,
.spring2014 h3 span,
.spring2014 h4 span,
.spring2014 h5 span,
.spring2014 h6 span {
  font-style: italic;
}
/*==================================================*/
.spring-header {
  background: #000000;
  text-align: center;
}
.spring-header .header-wrap {
  position: relative;
}
.spring-header .header-wrap .header-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}
.spring-header .header-wrap .header-text h1 {
  color: #FFFFFF;
  font-size: 80px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-header .header-wrap .header-text h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .spring-header .header-wrap .header-text h1 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .spring-header .header-wrap .header-text h1 {
    font-size: 25px;
  }
}
.spring-header .header-wrap .header-text .launch-button {
  background: #6cc3ba;
  text-transform: uppercase;
  width: 200px;
  padding: 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-header .header-wrap .header-text .launch-button {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .spring-header .header-wrap .header-text .launch-button {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .spring-header .header-wrap .header-text .launch-button {
    margin-top: 10px;
  }
}
.spring-header .header-wrap .header-text .launch-button a {
  display: block;
}
.spring-header .header-wrap .header-text .launch-button a:hover {
  text-decoration: none;
}
.spring-header .header-wrap .header-text .launch-button a .launch {
  display: block;
  color: #000000;
  font-size: 30px;
  line-height: 1.2em;
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-header .header-wrap .header-text .launch-button a .launch {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .spring-header .header-wrap .header-text .launch-button a .launch {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .spring-header .header-wrap .header-text .launch-button a .launch {
    font-size: 15px;
  }
}
.spring-header .header-wrap .header-text .launch-button a .lookbook {
  display: block;
  color: #ffffff;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-header .header-wrap .header-text .launch-button a .lookbook {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .spring-header .header-wrap .header-text .launch-button a .lookbook {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .spring-header .header-wrap .header-text .launch-button a .lookbook {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-header .header-wrap .header-text {
    top: 30%;
  }
}
@media (max-width: 767px) {
  .spring-header .header-wrap .header-text {
    top: 15%;
  }
}
@media (max-width: 480px) {
  .spring-header .header-wrap .header-text {
    top: 0;
    position: relative;
  }
}
/*==================================================*/
.spring-subscribe {
  background: #000000;
  color: #ffffff;
  text-align: center;
}
.spring-subscribe form {
  margin-bottom: 0;
}
.spring-subscribe input[type="submit"] {
  background: #FFFFFF;
  border: 0;
  padding: 6px 30px;
  margin: 20px;
  color: #000000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.spring-subscribe input[type="text"],
.spring-subscribe input[type="number"],
.spring-subscribe input[type="email"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: solid #FFFFFF 1px;
  background-color: #000000;
  margin: 5px;
}
.spring-subscribe .subscribe-wrap {
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.spring-subscribe .subscribe-wrap label,
.spring-subscribe .subscribe-wrap input {
  float: left;
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-subscribe .subscribe-wrap label,
  .spring-subscribe .subscribe-wrap input {
    float: none;
  }
}
.spring-subscribe .subscribe-wrap label {
  line-height: 40px;
}
@media (max-width: 767px) {
  .spring-subscribe .subscribe-wrap label {
    width: 100%;
    float: none;
  }
}
.spring-subscribe .subscribe-wrap .h-name,
.spring-subscribe .subscribe-wrap .h-email {
  max-width: 170px;
}
@media (max-width: 767px) {
  .spring-subscribe .subscribe-wrap .h-name,
  .spring-subscribe .subscribe-wrap .h-email {
    max-width: 170px;
    float: none;
  }
}
.spring-subscribe .subscribe-wrap .h-postcode,
.spring-subscribe .subscribe-wrap .h-submit {
  max-width: 100px;
}
@media (max-width: 767px) {
  .spring-subscribe .subscribe-wrap .h-postcode,
  .spring-subscribe .subscribe-wrap .h-submit {
    max-width: 170px;
    float: none;
  }
}
.spring-subscribe .subscribe-wrap .h-submit {
  margin: 4px;
}
@media (max-width: 767px) {
  .spring-subscribe .subscribe-wrap .h-submit {
    max-width: 185px;
    float: none;
    width: 100%;
  }
}
/*==================================================*/
.spring-intro {
  background: #f26d63;
}
.spring-intro .intro-wrap {
  text-align: center;
  padding: 40px 10%;
}
.spring-intro .intro-wrap h2 {
  color: #FFFFFF;
}
.spring-intro .intro-wrap p {
  color: #000000;
}
/*==================================================*/
.spring-items {
  text-align: center;
  padding: 10px 0;
}
.spring-items .image-box,
.spring-items .text-box {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-items .image-box,
  .spring-items .text-box {
    display: block;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .spring-items .image-box,
  .spring-items .text-box {
    display: block;
    width: 100%;
  }
}
@media (max-width: 480px) {
  
}
.spring-items .text-box .text-wrap {
  padding: 20px 40px;
}
.spring-items .text-box .text-wrap a {
  padding: 5px 20px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
.spring-items .text-box .text-wrap a.box-link1 {
  background-color: #444444;
}
.spring-items .text-box .text-wrap a.box-link2 {
  background-color: #6cc3ba;
}
.spring-items .text-box .text-wrap a.box-link3 {
  background-color: #ba9765;
}
.spring-items .text-box .text-wrap a.box-link4 {
  background-color: #b493b1;
}
.spring-items .text-box .text-wrap h3 {
  font-size: 39px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-items .text-box .text-wrap h3 {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .spring-items .text-box .text-wrap h3 {
    font-size: 29px;
  }
}
@media (max-width: 480px) {
  .spring-items .text-box .text-wrap h3 {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .spring-items .image-box {
    padding: 10px 0;
  }
}
.spring-items.image-left .image-box {
  float: left;
}
.spring-items.image-left .text-box {
  float: right;
}
.spring-items.image-right .image-box {
  float: right;
}
.spring-items.image-right .text-box {
  float: left;
}
/*==================================================*/
#spring-modal {
  left: 10%;
  width: 80%;
  margin-left: 0;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media (max-height: 820px) {
  #spring-modal {
    position: absolute;
  }
}
#spring-modal .close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background: #555;
  color: white;
  font-weight: 100;
  font-size: 30px;
  height: 1em;
  width: 1em;
  padding: .25em;
  display: block;
  line-height: 28px;
  text-align: center;
}
#spring-modal .top-section .main-modal-image {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
#spring-modal .top-section .main-modal-image .popup-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
#spring-modal .middle-section {
  max-width: 800px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}
#spring-modal .middle-section h2 {
  font-size: 60px;
}
@media (max-width: 767px) {
  #spring-modal .middle-section h2 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  #spring-modal .middle-section h2 {
    font-size: 25px;
  }
}
#spring-modal .middle-section p {
  margin-top: 30px;
}
#spring-modal .bottom-section {
  max-width: 800px;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
}
#spring-modal .bottom-section input[type="submit"] {
  background: #6cc3ba;
  border: 0;
  padding: 6px 30px;
  margin: 20px;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#spring-modal .bottom-section input[type="text"],
#spring-modal .bottom-section input[type="email"],
#spring-modal .bottom-section input[type="number"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: solid #000000 1px;
}
#spring-modal .bottom-section .m-name,
#spring-modal .bottom-section .m-email {
  max-width: 180px;
  width: 180px;
}
@media (max-width: 480px) {
  #spring-modal .bottom-section .m-name,
  #spring-modal .bottom-section .m-email {
    max-width: 80%;
  }
}
#spring-modal .bottom-section .m-postcode,
#spring-modal .bottom-section .m-submit {
  max-width: 100px;
}
