.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.article-banner,
.article-banner-trade {
  margin-bottom: 20px;
}
.article-banner-trade {
  padding: 40px;
}
.article-banner-trade .article-banner-title,
.article-banner-trade .article-banner-description {
  color: white;
}
.article-banner-trade .article-banner-title {
  margin: 0 20px 0 0;
  line-height: 0.8;
  font-weight: normal;
}
.article-banner-trade .article-banner-description {
  overflow: hidden;
  padding-left: 20px;
  border-left: 5px solid white;
  max-width: 600px;
}
@media only screen and (max-width: 979px) {
  .article-banner-trade {
    margin-top: 20px;
  }
}
@media (max-width: 769px) {
  .article-banner-trade .article-banner-title,
  .article-banner-trade .article-banner-description {
    text-align: center;
  }
  .article-banner-trade .article-banner-title {
    float: none;
    margin: 0;
  }
  .article-banner-trade .article-banner-description {
    border-left: 0;
    padding-left: 0;
    margin: 20px 0 0;
  }
}
.headline.article-headline {
  font-size: 52px;
  color: #4c4c4c;
}
@media (min-width: 769px) {
  .subnavbar {
    margin-bottom: 20px;
  }
}
.trade-navigation {
  width: 100%;
  margin-bottom: 0;
}
.trade-navigation > li {
  width: 20%;
}
.trade-navigation > li > a {
  display: block;
  text-align: center;
  -webkit-transition: background-color;
  -moz-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
@media (max-width: 769px) {
  .trade-navigation > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.trade-navigation .plumbing a {
  background-color: #0d2e56;
}
.trade-navigation .plumbing a:hover {
  background-color: #06162a;
}
.trade-navigation .irrigation a {
  background-color: #5e792d;
}
.trade-navigation .irrigation a:hover {
  background-color: #41541f;
}
.trade-navigation .civil a {
  background-color: #b65312;
}
.trade-navigation .civil a:hover {
  background-color: #883e0d;
}
.trade-navigation .hvacr a {
  background-color: #0397d7;
}
.trade-navigation .hvacr a:hover {
  background-color: #0274a5;
}
@media (max-width: 769px) {
  .trade-navigation li {
    width: 100%;
  }
}
.article-summary-main,
.article-summary-secondary,
.article-summary-preview,
.latest-news,
.recommended-stories,
.article-gateway {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.article-summary-main h3,
.article-summary-secondary h3,
.article-summary-preview h3,
.latest-news h3,
.recommended-stories h3,
.article-gateway h3 {
  margin: 0 0 6px;
}
.article-summary-main small,
.article-summary-secondary small,
.article-summary-preview small,
.latest-news small,
.recommended-stories small,
.article-gateway small {
  margin-bottom: 3px;
}
.read-more {
  font-weight: bold;
  text-transform: uppercase;
}
.read-more i {
  margin: 2px 0 2px 8px;
  -webkit-transition: margin-left;
  -moz-transition: margin-left;
  -o-transition: margin-left;
  transition: margin-left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.read-more:hover {
  text-decoration: none;
}
.read-more:hover i {
  margin-left: 15px;
}
.read-more.large {
  font-size: 16px;
}
.article-carousel {
  margin-bottom: 0;
}
.article-summary-main p,
.latest-news p {
  font-size: 15px;
  color: #4c4c4c;
}
.article-summary-main small,
.latest-news small {
  display: block;
  margin-top: 10px;
}
.article-summary-main h3,
.article-summary-main p,
.article-summary-main small,
.latest-news h3,
.latest-news p,
.latest-news small {
  padding-right: 15px;
}
@media (max-width: 767px) {
  .article-summary-main h3,
  .latest-news h3 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 979px) {
  .article-summary-main,
  .latest-news {
    margin-top: 20px;
  }
}
.article-summary-secondary,
.article-summary-preview,
.recommended-stories,
.article-gateway {
  font-size: 12px;
}
.article-summary-secondary h3,
.article-summary-preview h3,
.recommended-stories h3,
.article-gateway h3 {
  font-size: 15px;
}
.article-summary-secondary p,
.article-summary-preview p,
.recommended-stories p,
.article-gateway p {
  line-height: 1.2;
}
.article-summary-secondary small,
.article-summary-preview small,
.recommended-stories small,
.article-gateway small {
  display: block;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .article-summary-secondary .article,
  .article-summary-preview .article,
  .recommended-stories .article,
  .article-gateway .article {
    margin-top: 20px;
    *zoom: 1;
  }
  .article-summary-secondary .article:before,
  .article-summary-secondary .article:after,
  .article-summary-preview .article:before,
  .article-summary-preview .article:after,
  .recommended-stories .article:before,
  .recommended-stories .article:after,
  .article-gateway .article:before,
  .article-gateway .article:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .article-summary-secondary .article:after,
  .article-summary-preview .article:after,
  .recommended-stories .article:after,
  .article-gateway .article:after {
    clear: both;
  }
  .article-summary-secondary .article:first-child,
  .article-summary-preview .article:first-child,
  .recommended-stories .article:first-child,
  .article-gateway .article:first-child {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .article-summary-preview .article-image {
    float: left;
    margin-right: 10px;
  }
  .article-summary-preview .article-body {
    overflow: hidden;
  }
  .article-summary-preview small {
    margin-top: 0;
  }
}
@media (max-width: 481px) {
  .article-summary-preview .article-image {
    max-width: 50%;
  }
}
.latest-news {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.latest-news h3 {
  margin-top: 10px;
}
.recommended-stories {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.recommended-stories .article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.article-gateway {
  padding-bottom: 0;
  border-bottom: 0;
}
.article-gateway .article {
  padding: 10px;
  background-color: #beb6ac;
}
.article-gateway h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}
.article-main .article-media {
  margin-bottom: 10px;
}
.article-main .article-actions {
  margin-top: 20px;
  list-style-type: none;
}
.article-main .article-actions li {
  margin-top: 10px;
}
.article-main .article-actions li:first-child {
  margin-top: 0;
}
.article-main .label {
  margin: 3px;
}
.article-list {
  *zoom: 1;
}
.article-list:before,
.article-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.article-list:after {
  clear: both;
}
@media only screen and (min-width: 979px) {
  .article-list .article-list-row .row-fluid:first-child {
    margin-left: 0;
  }
  .article-list .row-fluid {
    float: left;
    width: 49.39%;
    margin-left: 1.21%;
  }
}
.recent-stories {
  overflow: hidden;
  background-color: #e5e5e5;
}
.recent-stories .article-summary-secondary,
.recent-stories .article-summary-preview,
.recent-stories .recommended-stories,
.recent-stories .article-gateway {
  margin-bottom: 0;
  border-bottom: 0;
}
.button-container {
  text-align: center;
}
.btn-account {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #beb5ab;
  background-image: -moz-linear-gradient(top, #bab0a5, #c5bdb3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bab0a5), to(#c5bdb3));
  background-image: -webkit-linear-gradient(top, #bab0a5, #c5bdb3);
  background-image: -o-linear-gradient(top, #bab0a5, #c5bdb3);
  background-image: linear-gradient(to bottom, #bab0a5, #c5bdb3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbab0a5', endColorstr='#ffc5bdb3', GradientType=0);
  border-color: #c5bdb3 #c5bdb3 #a49788;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #c5bdb3;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ffffff;
}
.btn-account:hover,
.btn-account:focus,
.btn-account:active,
.btn-account.active,
.btn-account.disabled,
.btn-account[disabled] {
  color: #ffffff;
  background-color: #c5bdb3;
  *background-color: #bab0a5;
}
.btn-account:active,
.btn-account.active {
  background-color: #afa397 \9;
}
.btn-account .caret {
  border-top-color: white;
  border-top-width: 6px;
}
.btn-group.open .btn.btn-account {
  background-color: #dbd6d0;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style] {
  width: 100% !important;
}
