.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-header .header-container,
.main-footer .footer-container,
.masonry-container,
.content-container,
.navbar-container {
  max-width: 1200px;
}
.content-container .inner-wrapper {
  position: relative;
  margin: 0 10px;
  padding: 10px;
}
#headCarousel {
  padding-top: 41px;
  max-width: 1500px;
  margin: auto;
}
.carousel-control {
  outline: none;
}
.carousel .item > img {
  margin: auto;
}
.carousel-control {
  top: 50%;
}
.tile-item {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.25s box-shadow ease-in-out;
  -moz-transition: 0.25s box-shadow ease-in-out;
  -o-transition: 0.25s box-shadow ease-in-out;
  -ms-transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
}
.tile-item a.primary-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.feature-item {
  position: relative;
  border: 3px solid #fff;
}
.feature-item.last {
  margin-right: none !important;
}
.feature-item .caption {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 12px 15px 12px 15px;
  height: 18px;
  color: #fff;
  text-align: center;
}
.feature-item .caption h4 {
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: white;
}
.feature-item:hover .caption {
  height: 30px;
  -webkit-transition: height 200ms ease-out;
  -moz-transition: height 200ms ease-out;
  -ms-transition: height 200ms ease-out;
  -o-transition: height 200ms ease-out;
  transition: height 200ms ease-out;
}
.feature-item .form-wrapper {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  height: 120px;
  margin-top: -60px;
}
.feature-item .form-wrapper h4 {
  color: white;
}
.feature-item .caption.no-border {
  border: none;
}
.feature-item .form-wrapper select {
  margin: 0 auto 10px auto !important;
}
.feature-hvacr .caption {
  background-color: #0397d7;
}
.feature-bathrooms .caption {
  background-color: #db1e24;
}
.feature-plumbing .caption {
  background-color: #0d2e56;
}
.feature-irrigation .caption {
  background-color: #5e792d;
}
.feature-onsite .caption {
  background-color: #f47836;
}
.feature-civil .caption {
  background-color: #b65312;
}
.specialised .bottom-space {
  margin-bottom: 11px;
}
.specialised .feature-item {
  position: relative;
  margin-right: 3px;
}
.specialised .feature-item.last {
  margin-left: 3px;
  margin-right: 0;
}
.feature-storefinder .caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: auto;
  height: auto;
  padding: 5px 15px;
  color: white;
  text-align: center;
  background-color: transparent;
}
.feature-storefinder .caption:hover .caption {
  height: auto;
}
.feature-storefinder .caption h4 {
  font-size: 16px;
  color: #fff;
  padding: 0 0 15px 0;
  margin: 0;
}
.main-options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-options-list li {
  margin: 0;
  position: relative;
  border-bottom: 1px solid #333333;
  width: 50%;
  float: left;
  background-repeat: no-repeat;
}
.main-options-list li a {
  display: block;
  position: relative;
  padding: 1em 1em 1em 0.5em;
  border-left: 5px solid red;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.main-options-list li a:hover,
.main-options-list li a:focus,
.main-options-list li a:active {
  text-decoration: none;
  border-width: 1em;
}
.main-options-list li span {
  display: block;
  position: absolute;
  right: 5px;
  margin-top: -10px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: url('../images/home-2013/arrow.png') 0 0 no-repeat scroll;
  background-size: 100%;
}
.main-options-list li.account {
  width: 100%;
}
.main-options-list li.account a {
  border-left: none;
  border-top: 1px solid #999;
  text-align: center;
  padding: 0.3em;
  color: #fff;
  font-size: 1.2em;
  background: #848484;
  background: -moz-linear-gradient(top, #848484 0%, #555555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #848484), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #848484 0%, #555555 100%);
  background: -o-linear-gradient(top, #848484 0%, #555555 100%);
  background: -ms-linear-gradient(top, #848484 0%, #555555 100%);
  background: linear-gradient(to bottom, #848484 0%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#555555', GradientType=0);
}
.main-options-list li.account span {
  position: static;
  margin-top: 0;
  margin-right: 10px;
  float: none;
  display: inline-block;
  height: 44px;
  width: 44px;
  vertical-align: middle;
  background-image: url('../images/home-2013/account-icon.png');
  background-color: transparent;
}
.main-options-list li.cat-block {
  position: relative;
  overflow: hidden;
}
.main-options-list li.cat-block a {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em 0em 1em 1em;
  border-left: 0;
}
.main-options-list li.cat-block span {
  right: 25px;
}
.main-options-list li.hvacr.cat-block a {
  background-color: #0397d7;
  background: rgba(3, 151, 215, 0.9);
}
.main-options-list li.bathrooms.cat-block a {
  background-color: #db1e24;
  background: rgba(219, 30, 36, 0.9);
}
.main-options-list li.plumbing.cat-block a {
  background-color: #0d2e56;
  background: rgba(13, 46, 86, 0.9);
}
.main-options-list li.irrigation.cat-block a {
  background-color: #5e792d;
  background: rgba(94, 121, 45, 0.9);
}
.main-options-list li.onsite.cat-block a {
  background-color: #f47836;
  background: rgba(244, 120, 54, 0.9);
}
.main-options-list li.civil.cat-block a {
  background-color: #b65312;
  background: rgba(182, 83, 18, 0.9);
}
.main-options-list li.find-store {
  width: 100%;
  font-size: 1.4em;
}
.main-options-list li.find-store h2 {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  font-size: 1.0em;
  color: #ffffff;
}
.main-options-list li.find-store h2 span {
  float: left;
  width: auto;
  height: auto;
  background: none;
}
.main-options-list li.find-store h3 {
  margin: 0.8em 0 0.5em 0;
  font-size: 0.8em;
}
.main-options-list li.find-store h4 {
  font-size: 0.8em;
}
.main-options-list li.find-store button {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  border: 0;
  padding: 4px 10px;
  color: #ffffff;
  background: #333333;
}
.main-options-list li.find-store a span {
  display: inline-block;
  float: none;
  margin-bottom: -5px;
}
.main-options-list li.find-store p {
  font-size: 0.7em;
  margin: 0.5em 0;
}
.main-options-list li.find-store form {
  margin-bottom: 30px;
}
.main-options-list li.find-store .more-options {
  padding: 4px 18px;
}
.main-options-list li.find-store .use-location {
  background-color: #db1e24;
}
.main-options-list li.find-store .top {
  padding: 1em;
  background: #848484;
  background-image: url('../images/home-2013/au-map-mini.png');
  background-image: url('../images/home-2013/au-map-mini.png'), -webkit-gradient(linear, left top, left bottom, from(#848484), to(#555555));
  background-image: url('../images/home-2013/au-map-mini.png'), -webkit-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), -moz-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), -ms-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), -o-linear-gradient(top, #848484, #555555);
  background-image: url('../images/home-2013/au-map-mini.png'), linear-gradient(top, #848484, #555555);
  background-position: 95% center;
  background-repeat: no-repeat;
}
.main-options-list li .more-options-menu {
  padding: 0 1em;
  text-align: center;
}
.main-options-list li .more-options-menu span {
  float: none;
  position: static;
  width: 100%;
  margin-top: 0;
}
#mobCarousel {
  margin-bottom: 0;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0.9%;
  *margin-left: 0.8468085106382979%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 0.9%;
}
.row-fluid .span12 {
  width: 99.99999999600001%;
  *width: 99.9468085066383%;
}
.row-fluid .span11 {
  width: 91.591666663%;
  *width: 91.53847517363829%;
}
.row-fluid .span10 {
  width: 83.18333333%;
  *width: 83.13014184063829%;
}
.row-fluid .span9 {
  width: 74.77499999700001%;
  *width: 74.7218085076383%;
}
.row-fluid .span8 {
  width: 66.36666666400001%;
  *width: 66.3134751746383%;
}
.row-fluid .span7 {
  width: 57.958333331%;
  *width: 57.9051418416383%;
}
.row-fluid .span6 {
  width: 49.549999998000004%;
  *width: 49.4968085086383%;
}
.row-fluid .span5 {
  width: 41.141666665%;
  *width: 41.0884751756383%;
}
.row-fluid .span4 {
  width: 32.733333332%;
  *width: 32.6801418426383%;
}
.row-fluid .span3 {
  width: 24.324999999000003%;
  *width: 24.2718085096383%;
}
.row-fluid .span2 {
  width: 15.916666666000001%;
  *width: 15.8634751766383%;
}
.row-fluid .span1 {
  width: 7.508333333%;
  *width: 7.455141843638298%;
}
.row-fluid .offset12 {
  margin-left: 101.79999999600001%;
  *margin-left: 101.6936170172766%;
}
.row-fluid .offset12:first-child {
  margin-left: 100.89999999600002%;
  *margin-left: 100.7936170172766%;
}
.row-fluid .offset11 {
  margin-left: 93.391666663%;
  *margin-left: 93.28528368427658%;
}
.row-fluid .offset11:first-child {
  margin-left: 92.491666663%;
  *margin-left: 92.38528368427659%;
}
.row-fluid .offset10 {
  margin-left: 84.98333333%;
  *margin-left: 84.87695035127658%;
}
.row-fluid .offset10:first-child {
  margin-left: 84.08333333%;
  *margin-left: 83.97695035127659%;
}
.row-fluid .offset9 {
  margin-left: 76.574999997%;
  *margin-left: 76.46861701827659%;
}
.row-fluid .offset9:first-child {
  margin-left: 75.67499999700001%;
  *margin-left: 75.5686170182766%;
}
.row-fluid .offset8 {
  margin-left: 68.166666664%;
  *margin-left: 68.06028368527659%;
}
.row-fluid .offset8:first-child {
  margin-left: 67.26666666400001%;
  *margin-left: 67.1602836852766%;
}
.row-fluid .offset7 {
  margin-left: 59.758333330999996%;
  *margin-left: 59.65195035227659%;
}
.row-fluid .offset7:first-child {
  margin-left: 58.858333331%;
  *margin-left: 58.751950352276594%;
}
.row-fluid .offset6 {
  margin-left: 51.349999998%;
  *margin-left: 51.2436170192766%;
}
.row-fluid .offset6:first-child {
  margin-left: 50.449999998%;
  *margin-left: 50.3436170192766%;
}
.row-fluid .offset5 {
  margin-left: 42.941666665%;
  *margin-left: 42.8352836862766%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.041666665%;
  *margin-left: 41.9352836862766%;
}
.row-fluid .offset4 {
  margin-left: 34.533333332%;
  *margin-left: 34.426950353276595%;
}
.row-fluid .offset4:first-child {
  margin-left: 33.633333332%;
  *margin-left: 33.5269503532766%;
}
.row-fluid .offset3 {
  margin-left: 26.124999999000003%;
  *margin-left: 26.0186170202766%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.224999999%;
  *margin-left: 25.1186170202766%;
}
.row-fluid .offset2 {
  margin-left: 17.716666666000002%;
  *margin-left: 17.6102836872766%;
}
.row-fluid .offset2:first-child {
  margin-left: 16.816666666%;
  *margin-left: 16.710283687276597%;
}
.row-fluid .offset1 {
  margin-left: 9.308333333%;
  *margin-left: 9.201950354276597%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.408333333%;
  *margin-left: 8.301950354276597%;
}
@media (min-width: 1200px) {
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0.9%;
    *margin-left: 0.8468085106382979%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0.9%;
  }
  .row-fluid .span12 {
    width: 99.99999999600001%;
    *width: 99.9468085066383%;
  }
  .row-fluid .span11 {
    width: 91.591666663%;
    *width: 91.53847517363829%;
  }
  .row-fluid .span10 {
    width: 83.18333333%;
    *width: 83.13014184063829%;
  }
  .row-fluid .span9 {
    width: 74.77499999700001%;
    *width: 74.7218085076383%;
  }
  .row-fluid .span8 {
    width: 66.36666666400001%;
    *width: 66.3134751746383%;
  }
  .row-fluid .span7 {
    width: 57.958333331%;
    *width: 57.9051418416383%;
  }
  .row-fluid .span6 {
    width: 49.549999998000004%;
    *width: 49.4968085086383%;
  }
  .row-fluid .span5 {
    width: 41.141666665%;
    *width: 41.0884751756383%;
  }
  .row-fluid .span4 {
    width: 32.733333332%;
    *width: 32.6801418426383%;
  }
  .row-fluid .span3 {
    width: 24.324999999000003%;
    *width: 24.2718085096383%;
  }
  .row-fluid .span2 {
    width: 15.916666666000001%;
    *width: 15.8634751766383%;
  }
  .row-fluid .span1 {
    width: 7.508333333%;
    *width: 7.455141843638298%;
  }
  .row-fluid .offset12 {
    margin-left: 101.79999999600001%;
    *margin-left: 101.6936170172766%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 100.89999999600002%;
    *margin-left: 100.7936170172766%;
  }
  .row-fluid .offset11 {
    margin-left: 93.391666663%;
    *margin-left: 93.28528368427658%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 92.491666663%;
    *margin-left: 92.38528368427659%;
  }
  .row-fluid .offset10 {
    margin-left: 84.98333333%;
    *margin-left: 84.87695035127658%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 84.08333333%;
    *margin-left: 83.97695035127659%;
  }
  .row-fluid .offset9 {
    margin-left: 76.574999997%;
    *margin-left: 76.46861701827659%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 75.67499999700001%;
    *margin-left: 75.5686170182766%;
  }
  .row-fluid .offset8 {
    margin-left: 68.166666664%;
    *margin-left: 68.06028368527659%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 67.26666666400001%;
    *margin-left: 67.1602836852766%;
  }
  .row-fluid .offset7 {
    margin-left: 59.758333330999996%;
    *margin-left: 59.65195035227659%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 58.858333331%;
    *margin-left: 58.751950352276594%;
  }
  .row-fluid .offset6 {
    margin-left: 51.349999998%;
    *margin-left: 51.2436170192766%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 50.449999998%;
    *margin-left: 50.3436170192766%;
  }
  .row-fluid .offset5 {
    margin-left: 42.941666665%;
    *margin-left: 42.8352836862766%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.041666665%;
    *margin-left: 41.9352836862766%;
  }
  .row-fluid .offset4 {
    margin-left: 34.533333332%;
    *margin-left: 34.426950353276595%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 33.633333332%;
    *margin-left: 33.5269503532766%;
  }
  .row-fluid .offset3 {
    margin-left: 26.124999999000003%;
    *margin-left: 26.0186170202766%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.224999999%;
    *margin-left: 25.1186170202766%;
  }
  .row-fluid .offset2 {
    margin-left: 17.716666666000002%;
    *margin-left: 17.6102836872766%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 16.816666666%;
    *margin-left: 16.710283687276597%;
  }
  .row-fluid .offset1 {
    margin-left: 9.308333333%;
    *margin-left: 9.201950354276597%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.408333333%;
    *margin-left: 8.301950354276597%;
  }
  hr {
    margin: 12px 0;
  }
  .bottom-space {
    margin-bottom: 14px;
  }
}
@media (max-width: 979px) {
  .toolbox .toolbox-button {
    top: -36px;
    right: 50px;
  }
  .content-container {
    min-height: 0;
  }
  #headCarousel {
    padding-top: 0;
  }
  .feature-item .caption h4 {
    font-size: 14px;
  }
  .specialised .feature-item .caption {
    height: 12px;
  }
  .specialised .feature-item:hover .caption {
    height: 20px;
  }
  .specialised .feature-item .caption h4 {
    font-size: 12px;
  }
  .feature-item .form-wrapper {
    height: 100px;
    margin-top: -50px;
  }
  .feature-storefinder h4 {
    font-size: 14px;
  }
  .form-wrapper select,
  .form-wrapper input {
    font-size: 11px;
  }
  footer {
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0.9%;
    *margin-left: 0.8468085106382979%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0.9%;
  }
  .row-fluid .span12 {
    width: 99.99999999600001%;
    *width: 99.9468085066383%;
  }
  .row-fluid .span11 {
    width: 91.591666663%;
    *width: 91.53847517363829%;
  }
  .row-fluid .span10 {
    width: 83.18333333%;
    *width: 83.13014184063829%;
  }
  .row-fluid .span9 {
    width: 74.77499999700001%;
    *width: 74.7218085076383%;
  }
  .row-fluid .span8 {
    width: 66.36666666400001%;
    *width: 66.3134751746383%;
  }
  .row-fluid .span7 {
    width: 57.958333331%;
    *width: 57.9051418416383%;
  }
  .row-fluid .span6 {
    width: 49.549999998000004%;
    *width: 49.4968085086383%;
  }
  .row-fluid .span5 {
    width: 41.141666665%;
    *width: 41.0884751756383%;
  }
  .row-fluid .span4 {
    width: 32.733333332%;
    *width: 32.6801418426383%;
  }
  .row-fluid .span3 {
    width: 24.324999999000003%;
    *width: 24.2718085096383%;
  }
  .row-fluid .span2 {
    width: 15.916666666000001%;
    *width: 15.8634751766383%;
  }
  .row-fluid .span1 {
    width: 7.508333333%;
    *width: 7.455141843638298%;
  }
  .row-fluid .offset12 {
    margin-left: 101.79999999600001%;
    *margin-left: 101.6936170172766%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 100.89999999600002%;
    *margin-left: 100.7936170172766%;
  }
  .row-fluid .offset11 {
    margin-left: 93.391666663%;
    *margin-left: 93.28528368427658%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 92.491666663%;
    *margin-left: 92.38528368427659%;
  }
  .row-fluid .offset10 {
    margin-left: 84.98333333%;
    *margin-left: 84.87695035127658%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 84.08333333%;
    *margin-left: 83.97695035127659%;
  }
  .row-fluid .offset9 {
    margin-left: 76.574999997%;
    *margin-left: 76.46861701827659%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 75.67499999700001%;
    *margin-left: 75.5686170182766%;
  }
  .row-fluid .offset8 {
    margin-left: 68.166666664%;
    *margin-left: 68.06028368527659%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 67.26666666400001%;
    *margin-left: 67.1602836852766%;
  }
  .row-fluid .offset7 {
    margin-left: 59.758333330999996%;
    *margin-left: 59.65195035227659%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 58.858333331%;
    *margin-left: 58.751950352276594%;
  }
  .row-fluid .offset6 {
    margin-left: 51.349999998%;
    *margin-left: 51.2436170192766%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 50.449999998%;
    *margin-left: 50.3436170192766%;
  }
  .row-fluid .offset5 {
    margin-left: 42.941666665%;
    *margin-left: 42.8352836862766%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.041666665%;
    *margin-left: 41.9352836862766%;
  }
  .row-fluid .offset4 {
    margin-left: 34.533333332%;
    *margin-left: 34.426950353276595%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 33.633333332%;
    *margin-left: 33.5269503532766%;
  }
  .row-fluid .offset3 {
    margin-left: 26.124999999000003%;
    *margin-left: 26.0186170202766%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.224999999%;
    *margin-left: 25.1186170202766%;
  }
  .row-fluid .offset2 {
    margin-left: 17.716666666000002%;
    *margin-left: 17.6102836872766%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 16.816666666%;
    *margin-left: 16.710283687276597%;
  }
  .row-fluid .offset1 {
    margin-left: 9.308333333%;
    *margin-left: 9.201950354276597%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.408333333%;
    *margin-left: 8.301950354276597%;
  }
  hr {
    margin: 4px 0;
  }
}
@media (max-width: 768px) {
  .content-container {
    margin-top: 0;
    min-height: 0;
  }
  .bottom-space {
    margin-bottom: 9px;
  }
  .feature-storefinder .caption {
    top: 25px;
  }
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .feature-item .form-wrapper {
    top: 110px;
    left: 10px !important;
  }
  .sitemap-footer ul,
  .sitemap-footer h4 {
    margin-right: 0;
  }
  footer {
    margin-top: 0;
  }
  .main-options-list li.bathrooms.cat-block {
    background-image: url('../images/home-2013/feature-bathrooms-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.plumbing.cat-block {
    background-image: url('../images/home-2013/feature-plumbing.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.irrigation.cat-block {
    background-image: url('../images/home-2013/feature-irrigation-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.onsite.cat-block {
    background-image: url('../images/home-2013/feature-onsite-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.civil.cat-block {
    background-image: url('../images/home-2013/feature-civil-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
  .main-options-list li.hvacr.cat-block {
    background-image: url('../images/home-2013/feature-hvacr-mobile.jpg');
    background-size: cover;
    height: 150px;
  }
}
@media (max-width: 639px) {
  .feature-item,
  .specialised .feature-item {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
  .specialised .feature-item .caption {
    bottom: 23px;
  }
  .specialised .feature-item .caption h4 {
    font-size: 21px;
  }
  .feature-item h4 {
    color: white;
  }
}
@media (max-width: 320px) {
  .feature-item i {
    display: none;
  }
  #social-footer li {
    margin: 0;
  }
  #social-footer a {
    padding: 2px;
  }
}
.lt-ie9 #headCarousel {
  padding-top: 0;
}
.lt-ie9 .navbar-fixed-top {
  position: static;
}
.lt-ie9 .navbar-fixed-top .brand {
  background-image: url(../images/home-2013/reece-logo-ie.png);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 2px center;
}
.lt-ie9 .ocmain-wrapper {
  min-width: 1200px;
}
