.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.partner .content-container .inner-wrapper {
  padding-top: 40px;
}
.content-container p {
  color: #666666;
  margin-bottom: 1em;
}
a:hover p,
a:focus p {
  text-decoration: none !important;
}
.grey-bg {
  background: #eaeaea;
}
.grey-bg img {
  margin-bottom: 1em;
}
.inner-wrapper {
  padding: 0.8em 0 2.5em;
}
.site-footer {
  margin-top: 0;
}
.why-partner-brands {
  *zoom: 1;
}
.why-partner-brands:before,
.why-partner-brands:after {
  display: table;
  content: "";
  line-height: 0;
}
.why-partner-brands:after {
  clear: both;
}
.why-partner-brands .brand {
  margin-top: 2em;
  margin-bottom: 2em;
}
.why-partner-brands .brand .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFFFFF;
  text-shadow: none;
  background-color: #009ddb;
  background-image: none;
  filter: none;
  border: none;
  border-bottom-color: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.why-partner-brands .brand .brand-name {
  font-size: 1.5em;
  font-weight: normal;
  color: #009ddb;
}
.why-partner-brands .brand a {
  text-decoration: none;
}
.why-partner-brands .brand p {
  height: 60px;
  overflow: hidden;
}
@media (min-width: 767px) {
  .why-partner-brands button {
    width: 80%;
  }
}
.brand-expand {
  max-height: 0;
  background: #4c4c4c;
  overflow: hidden;
  position: relative;
  clear: both;
  -webkit-transition: 0.8s max-height ease-out;
  -moz-transition: 0.8s max-height ease-out;
  -o-transition: 0.8s max-height ease-out;
  transition: 0.8s max-height ease-out;
}
.brand-expand .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFFFFF;
  text-shadow: none;
  background-color: #666666;
  background-image: none;
  filter: none;
  border: none;
  border-bottom-color: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.brand-expand .brand-buttons {
  position: absolute;
  bottom: 35px;
}
.brand-expand .brand-buttons .btn {
  margin-top: 5px;
}
.brand-expand .brand-desc {
  max-height: 250px;
  overflow: hidden;
  padding-bottom: 40px;
}
@media (max-width: 480px) {
  .brand-expand .brand-desc {
    max-height: 500px;
    padding-bottom: 50px;
  }
}
.brand-expand .row-fluid {
  padding: 2em;
  border-bottom: 7px solid #009ddb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.brand-expand p,
.brand-expand .heading {
  color: #ffffff;
}
.brand-expand.expanded {
  max-height: 1000px;
  overflow: visible;
}
.brand-expand .brand-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ffffff;
  font-size: 2em;
  cursor: pointer;
}
.brand-expand:after {
  content: " ";
  display: block;
  position: absolute;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #4c4c4c;
  top: -40px;
}
.brand-expand:nth-child(1n+0):after {
  left: 3.5%;
}
.brand-expand:nth-child(2n+0):after {
  left: 37.5%;
}
.brand-expand:nth-child(3n+0):after {
  left: 72%;
}
@media (max-width: 768px) {
  .brand-expand:after {
    left: 3.5% !important;
  }
  .brand-expand .brand-close {
    top: 10px;
    right: 10px;
  }
}
@media (min-width: 768px) {
  .brand-expand.hidden-desktop {
    display: none !important;
  }
}
.why-partner-intro p {
  margin-bottom: 0;
}
.page-branding.text-brand {
  color: #003767;
}
@media (max-width: 979px) {
  .why-partner-brands .brand p {
    margin-bottom: 1em;
  }
}
