.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.finance .content-container .heading {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1em;
}
.finance .content-container .banner {
  margin-bottom: 2em;
}
.finance .content-container h3,
.finance .content-container h4 {
  color: #003767;
  margin: 1em 0;
}
.finance .content-container blockquote {
  font-size: 20px;
  color: #7f7f7f;
  font-weight: 200;
  border: 0;
  padding: 0;
  margin: 1.5em 0;
  line-height: 1.2em;
}
.finance .content-container p {
  color: #666666;
  font-size: 15px;
  font-weight: 300;
}
.carousel-inner {
  min-height: 250px;
}
.grey-bg {
  background: #eaeaea;
  margin-top: 2em;
  padding: 40px 0 20px;
}
.finance .file-download h4 {
  padding: 30px 0 10px;
  margin: 0;
}
.finance .file-download dl {
  width: 90%;
}
.finance .file-download dl.fincialYearReportList {
  display: none;
}
.finance .file-download dl.fincialYearReportList.active {
  display: block;
}
.finance .file-download dl dt,
.finance .file-download dl dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
  padding-top: 5px;
}
.finance .file-download dl dt {
  padding-top: 5px;
  font-size: 16px;
  line-height: 1.5em;
  color: #666;
}
.finance .file-download dl dd {
  padding-bottom: 10px;
}
.finance .file-download dl small {
  display: block;
}
.finance .file-download .selectric-label {
  padding: 1em 0.7em;
}
.finance .file-download .financialReports {
  background: #dddddd;
  padding: 20px 0px 20px 30px;
  min-height: 420px;
  margin-bottom: 20px;
}
.finance .asx-announcements h4 {
	margin-top: 62px;
}
.page-branding.text-brand {
  color: #003767;
}
.newsItem {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.news .content-container {
  margin-top: 0;
}
.news h2 {
  font-size: 40px;
  margin-bottom: 1em;
}
.news h3.newsHeading {
  margin-bottom: 0;
  padding-bottom: 1em;
  border-bottom: none;
}
.news p.date {
  padding: 2em 0 1em;
  font-style: italic;
  color: #b2b2b2;
  font-size: 16px;
}
.news p {
  line-height: 1.6em;
  font-size: 16px !important;
}
.news a:link,
.news a:active,
.news a:visited {
  color: #009ddb;
}
.finance .content-container .asxFeed {
  padding-top: 30px;
}
.finance .content-container .asxFeed h4 {
  background: #f8f2ee;
  color: #333;
  font-weight: normal;
  float: left;
  margin: 0 !important;
  padding: 10px 20px 15px;
  font-size: 15px;
  border: solid 1px #e5e4e4;
  border-bottom: none;
}
.finance .content-container .asxFeed .asxData {
  border: solid 1px #e5e4e4;
  padding: 20px;
  clear: both;
}
@media (max-width: 768px) {
	.corporateGovernance {
		padding-left: 30px;
	}
}
@media (max-width: 480px) {
  .finance .content-container .asxFeed .asxData {
    padding: 10px;
  }
}
.finance .content-container .asxFeed ul {
  *zoom: 1;
  margin: 0;
  padding: 10px 0;
}
.finance .content-container .asxFeed ul:before,
.finance .content-container .asxFeed ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.finance .content-container .asxFeed ul:after {
  clear: both;
}
.finance .content-container .asxFeed ul li {
  float: left;
  list-style: none;
  display: block;
  width: 33%;
}
.finance .content-container .asxFeed ul li strong,
.finance .content-container .asxFeed ul li span {
  padding: 3px 15px;
  display: block;
}
.finance .content-container .asxFeed ul.odd {
  background: #F8F2EE;
  border-bottom: solid 3px #009ddb;
}
.finance .content-container .asxFeed .disclaimer {
  display: block;
  text-align: center;
  font-style: italic;
  color: #7f7f7f;
}
