.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
----------------------------------------------
STANDALONE VIDEO PAGE STYLES
----------------------------------------------
*/
.myTipBtn {
  background: #8fc547;
  padding: 15px 20px;
  display: block;
  color: white;
  text-align: center;
  max-width: 250px;
  margin: 5px auto;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}
.myTipBtn:hover {
  text-decoration: none;
  color: white;
}
body {
  padding-top: 0;
}
.content-container .inner-wrapper {
  padding: 10px;
}
.myTipsHeader {
  padding-bottom: 10px;
  *zoom: 1;
}
.myTipsHeader:before,
.myTipsHeader:after {
  display: table;
  content: "";
  line-height: 0;
}
.myTipsHeader:after {
  clear: both;
}
.myTipsHeader .logo {
  margin: 0;
  float: left;
}
.myTipsHeader h2 {
  color: #8fc547;
  font-size: 60px;
  margin: 0;
  padding: 15px 0;
  margin-left: 200px;
}
@media (max-width: 767px) {
  .myTipsHeader h2 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .myTipsHeader h2 {
    clear: both;
    margin: 0;
    padding-top: 30px;
  }
}
.myTipsContent {
  padding-bottom: 20px;
}
.myTipsContent h3 {
  color: #003767;
  padding: .5em 0;
  font-size: 24px;
}
.myTipsContent h3 small {
  display: block;
  color: #8fc547;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
}
.myTipsContent p {
  color: #7f7f7f;
}
.youtubeWrapper {
  padding: 30px 0;
  background: #e5e5e5;
  text-align: center;
}
.youtubeWrapper iframe {
  max-width: 100%;
}
@media (max-width: 768px) {
  .youtubeWrapper iframe {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .youtubeWrapper iframe {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .youtubeWrapper iframe {
    height: 220px;
  }
}
.videoGallery {
  background: url('../images/my-account/stainbg.jpg');
  padding: 30px 0;
  color: white;
}
.videoGallery .videoThumb {
  padding: 20px 0;
}
.videoGallery p {
  color: #8fc547;
}
.vidThumbLink {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
.vidThumbLink img {
  width: 100%;
}
.vidThumbLink .playIcon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: url("../images/my-account/play-icon.png") center no-repeat;
}
.aboutMyAccount {
  padding: 30px 0;
  background: #fafafa;
}
/* New My Account Page */
.myAccountHero {
  padding: 10px 0;
}
.myAccountHero .myAccountHeroLeft {
  padding-right: 20px;
}
@media (max-width: 767px) {
  .myAccountHero .myAccountHeroLeft {
    padding: 0 0 20px;
  }
}
.myAccountHero .greenBtn,
.myAccountHero .learnMore {
  display: inline-block;
  margin: 10px 0;
  max-width: 300px;
  padding: 15px 20px;
  margin-right: 10px;
  color: white;
  background: #80bd26;
  font-size: 18px;
  line-height: 18px;
}
.myAccountHero .greenBtn {
  text-align: center;
}
.myAccountHero .greenBtn:before {
  content: '';
  height: 0;
  width: 0;
  display: inline-block;
  border: solid 6px transparent;
  border-left-color: white;
}
.myAccountHero .greenBtn:hover {
  text-decoration: none;
}
.myAccountHero .learnMore {
  background: #023a68;
  position: relative;
  padding-left: 35px;
}
.myAccountHero .learnMore:before {
  content: '+ ';
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  left: 15px;
  top: 15px;
  line-height: 15px;
}
.myAccountHero .learnMore:hover {
  text-decoration: none;
}
.myAccountHero h3 {
  color: #003768;
  text-transform: uppercase;
  font-size: 3.5em;
  margin-top: -8px;
}
.myAccountHero h4 {
  color: #80bd26;
  text-transform: uppercase;
  font-size: 1.8em;
}
.myAccountMegaFooter {
  background: url('../images/my-account/stainbg.jpg') center 0;
  padding: 50px 0;
  color: white;
}
.myAccountMegaFooter .greenBtn {
  display: block;
  margin: 10px 0;
  max-width: 300px;
  padding: 15px 20px;
  color: white;
  background: #80bd26;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 10px;
}
.myAccountMegaFooter .greenBtn:before {
  content: '';
  height: 0;
  width: 0;
  display: inline-block;
  border: solid 6px transparent;
  border-left-color: white;
}
.myAccountMegaFooter h3 {
  font-size: 2.5em;
  padding-bottom: 5px;
}
.myAccountMegaFooter .content-container {
  margin-top: 0;
}
.myAccountMegaFooter .myAccountTabs {
  padding: 40px 0 20px;
  *zoom: 1;
  margin: 0 -2%;
}
.myAccountMegaFooter .myAccountTabs:before,
.myAccountMegaFooter .myAccountTabs:after {
  display: table;
  content: "";
  line-height: 0;
}
.myAccountMegaFooter .myAccountTabs:after {
  clear: both;
}
.myAccountMegaFooter .myAccountTabs li {
  list-style: none;
  display: block;
  float: left;
  margin: 0 2%;
  width: 29.333%;
}
.myAccountMegaFooter .myAccountTabs .greenTab {
  background: #80bd26;
  display: block;
  padding: 20px 5px;
}
.myAccountMegaFooter .myAccountTabs .greenTab .tabHeading {
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  display: block;
  text-align: center;
}
@media (max-width: 767px) {
  .myAccountMegaFooter .myAccountTabs .greenTab .tabHeading {
    font-size: 1.5em;
  }
}
.myAccountMegaFooter .myAccountTabs .greenTab .tabInfo {
  padding: 15px 10px 0;
  line-height: 1.2em;
  min-height: 3.6em;
  display: block;
  color: black;
}
@media (min-width: 1200px) {
  .myAccountMegaFooter .myAccountTabs .greenTab .tabInfo {
    min-height: 2.4em;
  }
}
.myAccountMegaFooter .myAccountTabs .greenTab:hover,
.myAccountMegaFooter .myAccountTabs .greenTab.active {
  text-decoration: none;
  background: #e8f6d2;
}
.myAccountMegaFooter .myAccountTabs .greenTab:hover .tabHeading,
.myAccountMegaFooter .myAccountTabs .greenTab.active .tabHeading {
  color: #80bd26;
}
.myAccountMegaFooter .myAccountTabs .greenTab.active {
  background: white;
}
@media (max-width: 979px) {
  .myAccountMegaFooter .myAccountTabs .greenTab {
    min-height: 90px;
  }
}
@media (max-width: 768px) {
  .myAccountMegaFooter .myAccountTabs .greenTab {
    min-height: 131px;
  }
}
@media (max-width: 480px) {
  .myAccountMegaFooter .myAccountTabs .greenTab {
    min-height: 0;
  }
}
@media (max-width: 480px) {
  .myAccountMegaFooter .myAccountTabs {
    margin: 0;
  }
  .myAccountMegaFooter .myAccountTabs li {
    width: 100%;
    margin: 10px 0;
  }
  .myAccountMegaFooter .myAccountTabs .greenTab .tabInfo {
    display: none;
  }
}
.myAccountMegaFooter #myAccountTabContentWrap {
  margin: 0;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent {
  list-style: none;
  display: none;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent.active {
  display: block;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group {
  border: none;
  /*
                .iconMyAccount{
                    background-position: 0 -10*@iconDimension;
                }
                .iconMyAccount{
                    background-position: 0 -11*@iconDimension;
                }
                */

  /*
                .accordionHeader{
                    cursor: pointer;
                    font-size: 1.4em;
                    .inner-wrapper{
                        .clearfix;
                    }
                    .accordionIcon{
                        display: block;
                        height: @iconDimension;
                        width: @iconDimension;
                        background: url('@{baseImagePath}/my-account/accordion-icons.png');
                        float: left;
                    }
                    .accordionHdText{
                        display: block;
                        position: relative;
                        top: 15px;
                        margin-left: @iconDimension + 10px;
                    }
                    .iconProductPricing{
                        background-position: 0 -@iconDimension;
                    }
                    .iconQuotesOnline{
                        background-position: 0 -2*@iconDimension;
                    }
                    .iconItemisedQuotes{
                        background-position: 0 -3*@iconDimension;
                    }
                    .iconQuotesIntoOrders{
                        background-position: 0 -4*@iconDimension;
                    }
                    .iconOrderOnline{
                        background-position: 0 -5*@iconDimension;
                    }
                    .iconSimpleSecure{
                        background-position: 0 -6*@iconDimension;
                    }
                }
                */

  /*
                .accordionContent{
                    padding-left: @iconDimension+10px;
                    color: @myAccountgreen;
                    font-size: 1.2em;
                    ul{
                        margin-left: 1em;
                        li{
                            list-style: disc;
                            padding: 5px 0 5px 20px;
                        }
                    }
                    [class*="span"]{
                        padding: 20px 0;
                    }
                }*/

}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader {
  cursor: pointer;
  font-size: 1.4em;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .inner-wrapper {
  *zoom: 1;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .inner-wrapper:before,
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .inner-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .inner-wrapper:after {
  clear: both;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .accordionHeaderInner {
  border-left: solid 10px #ffffff;
  padding-left: 20px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader h4 {
  font-size: 1.5em;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader p {
  font-size: .8em;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .showLink,
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .hideLink {
  color: #80bd26;
  text-transform: uppercase;
  margin-left: 30px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionHeader .hideLink {
  display: none;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group.active .collapse {
  background: rgba(0, 0, 0, 0.4);
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group.active .accordionHeader .showLink {
  display: none;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group.active .accordionHeader .hideLink {
  display: inline;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccount {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url('../images/my-account/my-account-icons.png') no-repeat;
  position: relative;
  top: 10px;
  margin-right: 10px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountSearch {
  background-position: 0 0;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountList {
  background-position: 0 -40px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountQuotes {
  background-position: 0 -80px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountOrders {
  background-position: 0 -120px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountStatement {
  background-position: 0 -160px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountInvoiceSearch {
  background-position: 0 -200px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountBalance {
  background-position: 0 -240px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountMyQuote {
  background-position: 0 -280px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .iconMyAccountBusinessTraining {
  background-position: 0 -320px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionContent h3 {
  color: #80bd26;
  font-size: 24px;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionContent > .row-fluid {
  padding: 2em 0;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionContent > .row-fluid + .row-fluid {
  border-top: solid 1px white;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionContent p,
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionContent ul {
  font-size: 1.1em;
  line-height: 1.2em;
  padding-bottom: 1.5em;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionContent a.thumbImage {
  display: block;
}
.myAccountMegaFooter #myAccountTabContentWrap li.myAccountTabContent .accordion-group .accordionContent a.thumbImage + a.thumbImage {
  margin-top: 1.5em;
}
.myAccountMegaFooter .myTipsDesc h4 a {
  color: #80bd26;
}
.myAccountMegaFooter .myAccountDownloads {
  *zoom: 1;
  margin: 0;
}
.myAccountMegaFooter .myAccountDownloads:before,
.myAccountMegaFooter .myAccountDownloads:after {
  display: table;
  content: "";
  line-height: 0;
}
.myAccountMegaFooter .myAccountDownloads:after {
  clear: both;
}
.myAccountMegaFooter .myAccountDownloads li {
  list-style: none;
  float: left;
  max-width: 160px;
  margin-right: 40px;
  padding-bottom: 30px;
}
.myAccountMegaFooter .myAccountDownloads li a {
  color: white;
}
.myAccountMegaFooter .myAccountDownloads li a .downloadText {
  display: block;
  padding-top: 5px;
  font-size: .8em;
}
.myAccountMegaFooter .myAccountDownloads li a:hover {
  text-decoration: none;
}
