.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.finance .content-container .heading {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1em;
}
.finance .content-container .banner {
  margin-bottom: 2em;
}
.finance .content-container h3,
.finance .content-container h4 {
  color: #003767;
  margin: 1em 0;
}
.finance .content-container blockquote {
  font-size: 20px;
  color: #7f7f7f;
  font-weight: 200;
  border: 0;
  padding: 0;
  margin: 1.5em 0;
  line-height: 1.2em;
}
.finance .content-container p {
  color: #666666;
  font-size: 15px;
  font-weight: 300;
}
.carousel-inner {
  min-height: 250px;
}
@media (min-width: 979px) {
  .file-download .inner-wrapper {
    margin: 0 157px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .file-download .inner-wrapper {
    margin: 0 50px;
  }
}
.file-download .nav {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #ffffff;
}
.file-download .nav li {
  margin: 0;
}
@media (min-width: 768px) {
  .file-download .nav li {
    width: 33.33%;
  }
}
.file-download .nav a {
  border-left: 1px solid #cccccc;
  margin: 0;
  padding: 0.8em 0;
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  color: #666666;
  border-radius: 0;
}
.file-download .nav a:hover {
  border-left: 1px solid #cccccc;
}
.file-download .nav .active a {
  background: #009ddb;
  color: #ffffff;
}
.file-download .tab-content {
  overflow: visible;
}
.file-download .carousel-control {
  width: 46px;
  text-indent: -999em;
}
.file-download .carousel-control.right {
  right: -110px;
  background: url(../images/btn-carousel-right.png) no-repeat top left;
}
.file-download .carousel-control.left {
  left: -110px;
  background: url(../images/btn-carousel-left.png) no-repeat top left;
}
.file-download .icon {
  display: table;
  background: #ffffff;
  width: 210px;
  height: 210px;
  border: 1px solid #cccccc;
  margin-bottom: 1.5em;
  text-align: center;
}
.file-download .icon > div {
  display: table-cell;
  vertical-align: middle;
}
.file-download .inside {
  width: 210px;
  text-align: left;
  margin: auto;
}
.file-download .filename {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
@media (max-width: 768px) {
  .file-download .item > div {
    margin-bottom: 3em;
  }
}
.file-download .span4:nth-child(2) {
  text-align: center;
}
.file-download .span4:nth-child(3) {
  text-align: right;
  padding-left: 2px;
}
.file-download .span4:nth-child(3) .inside {
  float: right;
}
.page-branding.text-brand {
  color: #003767;
}
.news {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.news h2 {
  font-size: 40px;
  margin-bottom: 1em;
}
.news .date {
  font-style: italic;
  color: #b2b2b2;
  font-size: 16px;
}
.news p {
  line-height: 1.6em;
  font-size: 16px !important;
}
.news a:link,
.news a:active,
.news a:visited {
  color: #009ddb;
}
.grey-bg {
  background: #eaeaea;
  padding: 5em 0;
  margin-top: 2em;
}
.grey-bg img {
  margin-bottom: 1em;
}
.finance .content-container .asxFeed h4 {
  background: #f8f2ee;
  color: #333;
  font-weight: normal;
  float: left;
  margin: 0 !important;
  padding: 10px 20px 15px;
  font-size: 15px;
  border: solid 1px #e5e4e4;
  border-bottom: none;
}
.finance .content-container .asxFeed .asxData {
  border: solid 1px #e5e4e4;
  padding: 20px;
  clear: both;
}
.finance .content-container .asxFeed ul {
  *zoom: 1;
  margin: 0;
  padding: 10px 0;
}
.finance .content-container .asxFeed ul:before,
.finance .content-container .asxFeed ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.finance .content-container .asxFeed ul:after {
  clear: both;
}
.finance .content-container .asxFeed ul li {
  float: left;
  list-style: none;
  display: block;
  width: 33%;
}
.finance .content-container .asxFeed ul li strong,
.finance .content-container .asxFeed ul li span {
  padding: 3px 15px;
  display: block;
}
.finance .content-container .asxFeed ul.odd {
  background: #F8F2EE;
  border-bottom: solid 3px #009ddb;
}
@media (max-width: 480px) {
  .finance .content-container .asxFeed .asxData {
    padding: 10px;
  }
}
