.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-branding.text-brand {
  color: #b65312;
}
.page-branding.box-brand {
  background-color: #883e0d;
  background-image: -moz-linear-gradient(left, #b65312, #883e0d);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#b65312), to(#883e0d));
  background-image: -webkit-linear-gradient(left, #b65312, #883e0d);
  background-image: -o-linear-gradient(left, #b65312, #883e0d);
  background-image: linear-gradient(to right, #b65312, #883e0d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb65312', endColorstr='#ff883e0d', GradientType=1);
}
