.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.headline {
  margin-top: 0;
  color: #999999;
}
.headline.tagline {
  font-size: 25px;
  text-transform: uppercase;
}
.lead {
  font-size: 16px;
  line-height: 1.5;
  color: #6cb33f;
}
.gt-navigation > li.active > a,
.gt-navigation > li.active > a:hover,
.gt-navigation > li > a:hover {
  color: black;
  background-color: #beb6ac;
}
.gt-navigation > li > a {
  padding: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #f6f5f4;
  color: black;
}
@media (min-width: 769px) {
  .gt-navigation {
    height: auto!important;
  }
}
.gt-navigation-toggle {
  margin-top: 15px;
  padding: 15px;
  color: black;
  background-color: #f6f5f4;
}
.gt-navigation-toggle:hover {
  color: black;
  background-color: #beb6ac;
  text-decoration: none;
}
.gt-banner-ig {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
}
.gt-banner-ig .gt-ig-heading {
  position: absolute;
  max-width: 144px;
  left: 3%;
  bottom: 3%;
  color: white;
  z-index: 9999;
}
.gt-banner-ig .btn-highlight {
  margin: 20px auto 0;
}
.gt-banner-ig .popover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0px 5px 10px #383838;
  -moz-box-shadow: 0px 5px 10px #383838;
  box-shadow: 0px 5px 10px #383838;
  z-index: 9999;
}
.gt-banner-ig .popover .popover-content p {
  margin: 0;
}
.gt-banner-ig .popover .popover-title {
  display: none;
}
.gt-banner-ig .popover.right,
.gt-banner-ig .popover.right .arrow:after {
  border-right-color: black;
}
.gt-banner-ig .popover.left,
.gt-banner-ig .popover.left .arrow:after {
  border-left-color: black;
}
.gt-banner-ig .popover.top,
.gt-banner-ig .popover.top .arrow:after {
  border-top-color: black;
}
.gt-banner-ig .popover.bottom,
.gt-banner-ig .popover.bottom .arrow:after {
  border-bottom-color: black;
}
@media (max-width: 767px) {
  .gt-banner-ig .popover {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .gt-banner-ig .gt-ig-caption {
    position: relative;
    max-width: 80%;
    margin: 20px auto 0;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 10px #383838;
    -moz-box-shadow: 0px 5px 10px #383838;
    box-shadow: 0px 5px 10px #383838;
    background-color: white;
  }
  .gt-banner-ig .gt-ig-caption:before,
  .gt-banner-ig .gt-ig-caption:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .gt-banner-ig .gt-ig-caption.left:before {
    top: -40px;
    left: 40px;
    border-width: 40px 40px 0 0;
    border-color: transparent white;
  }
  .gt-banner-ig .gt-ig-caption.left:after {
    top: -40px;
    left: 75px;
    border-width: 40px 5px 0 0;
    border-color: transparent #79c04c;
  }
  .gt-banner-ig .gt-ig-caption.right:before {
    top: -40px;
    right: 40px;
    border-width: 40px 0 0 40px;
    border-color: transparent white;
  }
  .gt-banner-ig .gt-ig-caption.right:after {
    top: -40px;
    right: 75px;
    border-width: 40px 0 0 5px;
    border-color: transparent #6eb740;
  }
}
.gt-banner-ig .gt-ig-reveal {
  left: 10%;
  padding-left: 3%;
}
@media (max-width: 767px) {
  .gt-banner-ig {
    padding: 20px 0;
    background-color: #7bb754;
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(#6cb33f), color-stop(55%, #87c75e), to(#4a7a2b));
    background-image: -webkit-linear-gradient(left, #6cb33f, #87c75e 55%, #4a7a2b);
    background-image: -moz-linear-gradient(left, #6cb33f, #87c75e 55%, #4a7a2b);
    background-image: -o-linear-gradient(left, #6cb33f, #87c75e 55%, #4a7a2b);
    background-image: linear-gradient(to right, #6cb33f, #87c75e 55%, #4a7a2b);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6cb33f', endColorstr='#ff4a7a2b', GradientType=0);
  }
  .gt-banner-ig .gt-ig-map {
    display: none;
  }
  .gt-banner-ig .gt-ig-heading {
    position: static;
    max-width: 221px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 767px) {
  .gt-ig-items {
    height: auto!important;
  }
}
.gt.ig-sprite,
.gt-ig-person,
.gt-ig-store,
.gt-ig-bottle,
.gt-ig-scan,
.gt-ig-screen,
.gt-ig-truck {
  display: block;
  position: absolute;
  background: url("../images/gastrack_2013/gas-track-infographic-spritex1-new.png") no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  .gt.ig-sprite,
  .gt-ig-person,
  .gt-ig-store,
  .gt-ig-bottle,
  .gt-ig-scan,
  .gt-ig-screen,
  .gt-ig-truck {
    background-image: url("../images/gastrack_2013/gas-track-infographic-spritex2.png");
    -webkit-background-size: 328px 204px;
    -moz-background-size: 328px 204px;
    -o-background-size: 328px 204px;
    background-size: 328px 204px;
  }
}
@media (max-width: 767px) {
  .gt.ig-sprite,
  .gt-ig-person,
  .gt-ig-store,
  .gt-ig-bottle,
  .gt-ig-scan,
  .gt-ig-screen,
  .gt-ig-truck {
    position: static;
    margin: 20px auto 0;
  }
}
.gt-ig-person {
  left: 10%;
  top: 8%;
  width: 38px;
  height: 96px;
  background-position: -229px 0;
}
.gt-ig-store {
  left: 27%;
  top: 7%;
  width: 128px;
  height: 100px;
  background-position: 0 -88px;
}
@media (max-width: 769px) {
  .gt-ig-store {
    left: 23.5%;
  }
}
.gt-ig-bottle {
  left: 54%;
  top: 8%;
  width: 77px;
  height: 110px;
  background-position: -148px 0;
}
.gt-ig-scan {
  left: 80%;
  top: 12%;
  width: 51px;
  height: 83px;
  background-position: -145px -114px;
}
.gt-ig-screen {
  left: 80%;
  top: 55%;
  width: 102px;
  height: 90px;
  background-position: -227px -108px;
}
.gt-ig-truck {
  left: 50%;
  top: 65%;
  width: 143px;
  height: 85px;
  background-position: 0 0;
}
.gt-sidebar .headline {
  margin-top: 10px;
}
.gt-latest-news .gt-latest-news-block {
  margin-top: 20px;
}
@media (max-width: 979px) {
  .gt-latest-news .gt-latest-news-block {
    margin-left: 0;
    width: 100%;
  }
}
.gt-latest-news .focus-link {
  display: block;
}
.gt-content h1,
.gt-content h2,
.gt-content h3,
.gt-content h4,
.gt-content h5,
.gt-content h6 {
  color: #999999;
}
.gt-content .gt-product-description,
.gt-content .r22.gt-product-block,
.gt-content .r407f.gt-product-block,
.gt-content .r134a.gt-product-block,
.gt-content .r410a.gt-product-block,
.gt-content .r404a.gt-product-block,
.gt-content .r438a.gt-product-block,
.gt-content .r407c.gt-product-block,
.gt-content .r507a.gt-product-block {
  margin-top: 10px;
}
.gt-media-object {
  margin-bottom: 20px;
}
.gt-media-object.pull-left {
  margin-right: 20px;
}
.gt-media-object.pull-right {
  margin-left: 20px;
}
.gt-product-range-list {
  margin-bottom: 20px;
}
.gt-product-range-list .gt-product-range-row {
  text-align: center;
}
@media (min-width: 979px) {
  .gt-product-range-list .gt-product-range-row {
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
  }
  .gt-product-range-list .gt-product-range-row:first-child {
    margin-left: 0;
  }
}
@media (max-width: 977px) {
  .gt-product-range-list .gt-product-range-row + .gt-product-range-row {
    margin-top: 20px;
  }
}
.gt-product-range-list .carousel a,
.gt-product-range-list .carousel img {
  display: block;
  margin: 0 auto;
}
.gt-store-finder-list .gt-store-finder-row {
  font-size: 12px;
}
.gt-store-finder-list .gt-store-finder-row .vcard {
  margin-bottom: 20px;
}
@media (min-width: 979px) {
  .gt-store-finder-list .gt-store-finder-row {
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
  }
  .gt-store-finder-list .gt-store-finder-row:first-child {
    margin-left: 0;
  }
}
.gt-store-finder-list .focus-link {
  display: block;
}
#product-range-content .accordion-group {
  margin-bottom: 0;
  border: 0;
}
.product-range-content dt,
.product-range-content dd {
  padding: 5px 0;
}
.product-range-content dt {
  width: auto;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}
.product-range-content dt:first-child {
  border-top: 0;
}
.product-range-content dd {
  margin-left: 120px;
  border-bottom: 1px solid #e5e5e5;
}
.product-range-content dd:last-child {
  border-bottom: 0;
}
@media (max-width: 767px) {
  .product-range-content dd {
    margin-left: 0;
    padding-top: 0;
  }
}
.product-range-content .gt-product-block {
  margin-bottom: 20px;
}
.product-range-content .table td {
  border-top: 0;
  background-color: #f6f5f4;
}
.product-range-content .table-striped tbody > tr:nth-child(odd) > td {
  background-color: #beb6ac;
  font-weight: bold;
}
.media-file {
  display: inline-block;
}
.media-file span {
  display: block;
}
.gt-product-description,
.r22.gt-product-block,
.r407f.gt-product-block,
.r134a.gt-product-block,
.r410a.gt-product-block,
.r404a.gt-product-block,
.r438a.gt-product-block,
.r407c.gt-product-block,
.r507a.gt-product-block {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px 0;
}
.focus-link {
  text-transform: uppercase;
  color: #6cb33f;
}
.focus-link:hover {
  color: #558d32;
}
.btn-highlight {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #beb6ac;
  background-image: -moz-linear-gradient(top, #beb6ac, #beb6ac);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#beb6ac), to(#beb6ac));
  background-image: -webkit-linear-gradient(top, #beb6ac, #beb6ac);
  background-image: -o-linear-gradient(top, #beb6ac, #beb6ac);
  background-image: linear-gradient(to bottom, #beb6ac, #beb6ac);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbeb6ac', endColorstr='#ffbeb6ac', GradientType=0);
  border-color: #beb6ac #beb6ac #9c9081;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #beb6ac;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-highlight:hover,
.btn-highlight:focus,
.btn-highlight:active,
.btn-highlight.active,
.btn-highlight.disabled,
.btn-highlight[disabled] {
  color: #ffffff;
  background-color: #beb6ac;
  *background-color: #b3a99e;
}
.btn-highlight:active,
.btn-highlight.active {
  background-color: #a89d8f \9;
}
.r22.gt-product-block {
  background: #bae0c9;
  color: black;
}
.r22.gt-product-link {
  background: #bae0c9;
  color: black;
}
.r22.gt-product-link:hover {
  color: black;
  background-color: #ddf0e5;
}
.r407f.gt-product-block {
  background: #dae7a2;
  color: black;
}
.r407f.gt-product-link {
  background: #dae7a2;
  color: black;
}
.r407f.gt-product-link:hover {
  color: black;
  background-color: #eaf1cb;
}
.r134a.gt-product-block {
  background: #addfed;
  color: black;
}
.r134a.gt-product-link {
  background: #addfed;
  color: black;
}
.r134a.gt-product-link:hover {
  color: black;
  background-color: #d7eff6;
}
.r410a.gt-product-block {
  background: #dd9ba5;
  color: black;
}
.r410a.gt-product-link {
  background: #dd9ba5;
  color: black;
}
.r410a.gt-product-link:hover {
  color: black;
  background-color: #eac1c7;
}
.r404a.gt-product-block {
  background: #f68e1e;
  color: black;
}
.r404a.gt-product-link {
  background: #f68e1e;
  color: black;
}
.r404a.gt-product-link:hover {
  color: black;
  background-color: #f8a74f;
}
.r438a.gt-product-block {
  background: #4e84c4;
  color: black;
}
.r438a.gt-product-link {
  background: #4e84c4;
  color: black;
}
.r438a.gt-product-link:hover {
  color: black;
  background-color: #749fd1;
}
.r407c.gt-product-block {
  background: #ce6f18;
  color: white;
}
.r407c.gt-product-link {
  background: #ce6f18;
  color: white;
}
.r407c.gt-product-link:hover {
  color: white;
  background-color: #e78932;
}
.r507a.gt-product-block {
  background: #00b1af;
  color: white;
}
.r507a.gt-product-link {
  background: #00b1af;
  color: white;
}
.r507a.gt-product-link:hover {
  color: white;
  background-color: #00e4e1;
}
