.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
----------------------------------------------
STANDALONE VIDEO PAGE STYLES
----------------------------------------------
*/
.myAccountHeader {
  color: #0D2E56 !important;
  font-size: 32px !important;
  border-bottom: 5px solid #0D2E56;
  padding-bottom: 15px;
  margin-bottom: 15px !important;
}
.article-summary-main,
.article-summary-secondary,
.article-summary-preview,
.article-summary-list,
.latest-news,
.latest-news-list,
.recommended-stories,
.article-gateway {
  border-bottom: 0px solid #E5E5E5 !important;
}
.watchLink a {
  color: #4bb14a !important;
  font-weight: bold;
}
.MyAccountSide {
  background-color: #e6e7e8;
  padding: 25px;
  color: #6D6E71 !important;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  border-radius: 10px ;
  border: 1px solid #CCCCCC;
}
.MyAccountSide p {
  color: #6D6E71 !important;
}
.MyAccountSide span {
  font-weight: normal !important;
}
.btn-large {
  width: 88% !important;
}
.StandAloneLogo {
  margin: 10px 0px;
}
/*
----------------------------------------------
RESPONSIVE OVERRIDES
----------------------------------------------
*/
@media (min-width: 1200px) {
  
}
@media (max-width: 1199px) {
  
}
@media (max-width: 1024px) and (min-width: 1000px) {
  .myAccountHeader {
    font-size: 18px !important;
  }
  .btn-large {
    padding: 9px 19px;
    font-size: 14.5px;
  }
  .article-summary-main p,
  .latest-news p {
    font-size: 14px;
    line-height: 135% ;
  }
}
@media (max-width: 769px) and (min-width: 600px) {
  
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 979px) {
  .myAccountHeader {
    font-size: 24px !important;
  }
  .row-fluid .span8 {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .row-fluid .span4 {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .btn-large {
    width: 92% !important;
  }
}
@media (max-width: 640px) {
  .myAccountHeader {
    font-size: 22px !important;
  }
}
@media (max-width: 480px) {
  
}
@media (max-width: 380px) {
  .btn-large {
    width: 86% !important;
  }
}
