/* ------------------------------------ Bootstrap imports --- */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* -------------------------------------------- FONTS ------- */
@font-face {
  font-family: 'bebas_neueregular';
  src: url('../../assets/font/bebasneue-webfont.eot');
  src: url('../../assets/font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/font/bebasneue-webfont.woff') format('woff'), url('../../assets/font/bebasneue-webfont.ttf') format('truetype'), url('../../assets/font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ------------------------------------------- VARS -------- */
/* colours */
/* fonts */
/* layout */
/* ----------------------------------- ENTRY MODAL ---------- */
/* sits outside of #diyDisastersComp2014 so no conflict with reece ocmain global styles */
.modal.fade.in {
  top: 10%;
}
.modal {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#entryModal {
  width: 890px;
  height: 720px;
  margin-left: -445px;
  padding: 0 40px;
}
#entryModal .btn {
  color: #fdb813;
  text-transform: uppercase;
  text-shadow: none;
  background-color: #000000;
  background-image: none;
  filter: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#entryModal .btn-large {
  font-size: 32px;
  font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
  padding: 14px 20px;
}
#entryModal .btn-black {
  background-color: #000000;
  color: #fdb813;
}
#entryModal .btn-yellow {
  background-color: #fdb813;
  color: #ffffff;
}
#entryModal .modal-header {
  height: 56px;
  padding: 8px 18px 0 18px;
}
#entryModal .modal-header .close {
  float: left;
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=40);
}
#entryModal .modal-body {
  height: 620px;
  max-height: 620px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}
#entryModal .modal-body .caption {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  bottom: 0;
  min-height: 100px;
  background-color: #ffffff;
  padding-bottom: 10px;
}
#entryModal .modal-body .caption h3 {
  font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 28px;
  line-height: 80px;
  margin: 0;
  padding: 0 24px;
}
#entryModal .modal-body .caption p {
  color: #000000;
  padding: 0 24px 10px 24px;
}
/* ----------------------------------- DIY DISASTERS -------- */
#diyDisastersComp2014 {
  /* ----------- GLOBAL STYLES -------- */

  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  /* HEADLINE */

  /* GLOBAL STATIC CONTENT */

  /* -------- DIY TOPNAV -------- */

  /* -------- DIY CONTENT - HOME -------- */
  /* -------- DIY CONTENT - ENTRY FORM PAGE -------- */
  /* end DIY CONTENT - ENTRY FORM PAGE */
  /* -------- DIY CONTENT - ENTRIES -------- */
  /* -------- DIY CONTENT - JUDGING -------- */
  /* -------- DIY CONTENT - PRIZES -------- */
  /* -------- DIY CONTENT - TERMS -------- */
  /* -------- DIY CONTENT - CONTACT -------- */
  /* -------- DIY FOOTER -------- */
}
#diyDisastersComp2014 h1,
#diyDisastersComp2014 h2,
#diyDisastersComp2014 h3,
#diyDisastersComp2014 h4 {
  font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#diyDisastersComp2014 h5,
#diyDisastersComp2014 h6,
#diyDisastersComp2014 p,
#diyDisastersComp2014 span,
#diyDisastersComp2014 a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
#diyDisastersComp2014 a:hover {
  text-decoration: none;
}
#diyDisastersComp2014 h1 {
  font-size: 70px;
  line-height: 100%;
  color: #ffffff;
}
#diyDisastersComp2014 h2 {
  font-size: 50px;
  line-height: 100%;
  color: #ffffff;
}
#diyDisastersComp2014 h3 {
  font-size: 40px;
  line-height: 100%;
  color: #fdb813;
}
#diyDisastersComp2014 h4 {
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
}
#diyDisastersComp2014 h5 {
  font-size: 18px;
  line-height: 120%;
  color: #fdb813;
}
#diyDisastersComp2014 h6 {
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}
#diyDisastersComp2014 img {
  max-width: 100%;
  height: auto;
}
#diyDisastersComp2014 sup {
  font-size: 55%;
}
#diyDisastersComp2014 .diy-yellow {
  color: #fdb813;
}
#diyDisastersComp2014 .btn {
  color: #fdb813;
  text-transform: uppercase;
  text-shadow: none;
  background-color: #000000;
  background-image: none;
  filter: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#diyDisastersComp2014 .btn-large {
  font-size: 32px;
  font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
  padding: 14px 20px;
}
#diyDisastersComp2014 .btn-black {
  background-color: #000000;
  color: #fdb813;
}
#diyDisastersComp2014 .btn-yellow {
  background-color: #fdb813;
  color: #ffffff;
}
#diyDisastersComp2014 .yellow-line-headline {
  margin-bottom: 40px;
}
#diyDisastersComp2014 .yellow-line-headline h1 {
  margin-bottom: 10px !important;
}
#diyDisastersComp2014 .yellow-line-headline .yellow-line {
  display: inline-block;
  width: 150px;
  height: 4px;
  background-color: #fdb813;
}
#diyDisastersComp2014 .centered-div {
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
#diyDisastersComp2014 .centered-div h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}
#diyDisastersComp2014 .centered-div h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
#diyDisastersComp2014 .centered-div h3 {
  margin-top: 5px;
  margin-bottom: 20px;
}
#diyDisastersComp2014 .centered-div h4 {
  margin-top: 5px;
  margin-bottom: 15px;
}
#diyDisastersComp2014 .centered-div p {
  margin-top: 5px;
  margin-bottom: 36px;
}
#diyDisastersComp2014 .diy-topnav {
  background-color: #fdb813;
  height: 42px;
  padding: 0;
  margin: 0;
}
#diyDisastersComp2014 .diy-topnav #mobile-menu-btn {
  display: none;
  height: 36px;
  width: 16px;
  color: #fdb813;
  background-color: #000000;
  background-image: none;
  background-image: url('../../assets/images/diy-disasters/mobile-menu-btn.png');
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: none;
  border: 3px solid #fdb813;
  line-height: 42px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#diyDisastersComp2014 .diy-topnav #mobile-menu-btn.collapsed {
  background-image: url('../../assets/images/diy-disasters/mobile-menu-btn-active.png');
}
#diyDisastersComp2014 .diy-topnav .nav {
  margin-bottom: 0;
}
#diyDisastersComp2014 .diy-topnav .nav a {
  display: inline-block;
  float: left;
  height: 42px;
  line-height: 42px;
  padding: 0 15px;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background: #fdb813 url('../../assets/images/diy-disasters/nav-seperator-1x21.png') left center no-repeat;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#diyDisastersComp2014 .diy-topnav .nav a:hover,
#diyDisastersComp2014 .diy-topnav .nav a.active {
  text-decoration: none;
  background-color: #f2cf7b;
  background-image: none;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#diyDisastersComp2014 .diy-topnav .nav a.first,
#diyDisastersComp2014 .diy-topnav .nav a.next {
  background-image: none;
}
#diyDisastersComp2014 .diy-topnav .nav a:hover + a {
  background-image: none;
}
#diyDisastersComp2014 .diy-content-home .row-1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
#diyDisastersComp2014 .diy-content-home .row-1 h1 {
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
}
#diyDisastersComp2014 .diy-content-home .row-2 {
  height: auto;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #313131;
}
#diyDisastersComp2014 .diy-content-home .row-3 .span12 {
  background-color: #ffffff;
}
#diyDisastersComp2014 .diy-content-home .row-3 .span12 .chance-to-win {
  padding: 60px 20px;
  text-align: center;
}
#diyDisastersComp2014 .diy-content-home .row-3 h3 {
  color: #555555;
}
#diyDisastersComp2014 .diy-content-home .row-3 h1 {
  color: #fdb813;
}
#diyDisastersComp2014 .diy-content-home .row-3 p {
  color: #000000;
}
#diyDisastersComp2014 .diy-content-home .row-4 .div-third {
  display: block;
  width: 390px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  overflow: hidden;
  float: left;
  text-align: center;
}
#diyDisastersComp2014 .diy-content-home .row-4 .div-third .div-third-inner {
  width: 240px;
  height: auto;
  text-align: center;
}
#diyDisastersComp2014 .diy-content-home .row-4 .div-third .div-third-inner h4 {
  padding-left: 20px;
  padding-right: 20px;
}
#diyDisastersComp2014 .diy-content-home .row-4 .row-4-entries {
  margin-left: 30px;
  background-color: #7c6955;
  color: #ffffff;
}
#diyDisastersComp2014 .diy-content-home .row-4 .row-4-prizes {
  background-color: #fdb813;
  color: #000000;
}
#diyDisastersComp2014 .diy-content-home .row-4 .row-4-judges {
  background-color: #7c6955;
  color: #fdb813;
}
#diyDisastersComp2014 .diy-content-entry-form {
  /* -- ENTRY FORM */

  /* end ENTRY FORM */
}
#diyDisastersComp2014 .diy-content-entry-form .form-container {
  text-align: center;
  padding: 40px 20px;
  /* FORM */

}
#diyDisastersComp2014 .diy-content-entry-form .form-container .input-error {
  border: 1px solid #ff0000 !important;
  background-color: #ddd !important;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container .error-red {
  color: #FF0000 !important;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container .formError,
#diyDisastersComp2014 .diy-content-entry-form .form-container .formErrorWords,
#diyDisastersComp2014 .diy-content-entry-form .form-container .formErrorFile,
#diyDisastersComp2014 .diy-content-entry-form .form-container .formResultSuccess,
#diyDisastersComp2014 .diy-content-entry-form .form-container .formResultError,
#diyDisastersComp2014 .diy-content-entry-form .form-container .alert {
  display: none;
  width: 500px;
  margin: 10px auto;
  text-align: left;
  font-size: 14px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container .formResultSuccess,
#diyDisastersComp2014 .diy-content-entry-form .form-container .formResultError {
  text-align: center;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form {
  margin-top: 20px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form ::-webkit-input-placeholder {
  color: #888;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form :-moz-placeholder {
  color: #888;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form ::-moz-placeholder {
  color: #888;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form :-ms-input-placeholder {
  color: #888;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .file-uploads {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .fifty-words {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .details {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #upload-animation {
  width: 400px;
  height: 20px;
  margin: 0 auto 30px auto;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit {
  display: block;
  width: 360px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit span {
  display: inline-block;
  width: auto;
  height: 64px;
  font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 64px;
  float: left;
  margin-right: 14px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn,
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-left: 14px;
  padding: 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  float: left;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn:hover,
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn.inactive {
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: transparent url('../../assets/images/diy-disasters/icon-fb-64-inactive.png') 0 0 no-repeat;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-fb-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
  background: transparent url('../../assets/images/diy-disasters/icon-fb-64-active.png') 0 0 no-repeat;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn.inactive {
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: transparent url('../../assets/images/diy-disasters/icon-tw-64-inactive.png') 0 0 no-repeat;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit #share-tw-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
  background: transparent url('../../assets/images/diy-disasters/icon-tw-64-active.png') 0 0 no-repeat;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .share-submit button {
  display: inline-block;
  float: left;
  margin: 8px 0 8px 28px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form h2 {
  margin-bottom: 10px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form input,
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form file {
  height: 34px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #upload-btn {
  display: block;
  width: 215px;
  height: 118px;
  margin: 10px auto;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #inputFile {
  position: absolute;
  left: -9999px;
  opacity: 0;
  filter: alpha(opacity=0);
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #display-filename {
  display: table;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #display-filename div {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 32px;
  padding: 0;
  margin-top: 10px;
  text-align: center;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #display-filename div img {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #display-filename div span {
  display: inline-block;
  float: left;
  height: 32px;
  margin-left: 10px;
  line-height: 32px;
  color: #ffffff;
  font-size: 18px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #display-filename div .remove-file {
  display: inline-block;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  background: transparent url('../../assets/images/diy-disasters/filetype-remove.png') 0 0 no-repeat;
  float: left;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form #display-filename:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */

}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .form-group {
  margin-bottom: 40px;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .form-select,
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .form-control {
  display: block;
  text-align: center;
  padding: 6px 0;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form .form-textarea {
  display: block;
  text-align: center;
  padding: 26px 0;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#diyDisastersComp2014 .diy-content-entry-form .form-container #entry-form select {
  height: 46px;
}
#diyDisastersComp2014 .diy-content-entries #sort-btns {
  height: 34px;
}
#diyDisastersComp2014 .diy-content-entries #sort-btns li {
  height: 34px;
  margin-right: 10px;
}
#diyDisastersComp2014 .diy-content-entries #sort-btns a:hover,
#diyDisastersComp2014 .diy-content-entries #sort-btns a:focus {
  background-color: #f2cf7b;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
#diyDisastersComp2014 .diy-content-entries #sort-btns .sort-txt {
  line-height: 34px;
}
#diyDisastersComp2014 .diy-content-entries #sort-btns .active {
  background-color: #fdb813;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
#diyDisastersComp2014 .diy-content-entries #load-more-items-btn {
  margin-bottom: 40px;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid {
  margin-top: 40px;
  margin-bottom: 0;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix {
  display: none;
  position: relative;
  height: 320px;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: #7c6955;
  background-repeat: no-repeat;
  background-size: cover;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix .caption {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix .caption h3 {
  color: #000000;
  font-size: 28px;
  line-height: 80px;
  margin: 0;
  padding: 0 0 0 24px;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix .caption p.fifty-words-description {
  display: none;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix .overlay {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fdb813;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  padding: 0;
  margin: 0;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix .overlay span {
  display: block;
  width: 130px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0;
  margin: 400px auto 0 auto;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix .overlay:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#diyDisastersComp2014 .diy-content-entries #entries-grid .mix .overlay:hover span {
  margin-top: 100px;
}
#diyDisastersComp2014 .diy-footer {
  height: 160px;
  margin-top: 0;
  background: #000000 url('../../assets/images/diy-disasters/A4_DIY.jpg') 0 0 no-repeat;
}
#diyDisastersComp2014 .diy-footer .footer-callout h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ce1e2e;
  margin-top: 30px;
  font-weight: bold;
  text-transform: none;
  font-size: 30px;
  line-height: 110%;
}
#diyDisastersComp2014 .diy-footer .footer-callout p {
  color: #ffffff;
  margin-bottom: 0;
}
#diyDisastersComp2014 .diy-footer .footer-callout span {
  color: #ffffff;
  font-size: 11px;
}
/* end DIY DISASTERS */
/* ------------------------------------------------------------------------- */
/* -------------------------------- MEDIA QUERIES ------------------------- */
/* ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* laptop */
@media (max-width: 1199px) and (min-width: 980px) {
  #diyDisastersComp2014 .diy-topnav #mobile-menu-btn {
    display: none;
  }
  #diyDisastersComp2014 .diy-content-home .row-4 .div-third {
    width: 313px;
  }
  #diyDisastersComp2014 .diy-content-home .row-4 .row-4-entries {
    margin-left: 20px;
    width: 314px;
  }
  #diyDisastersComp2014 .diy-footer .footer-callout h3 {
    margin-top: 20px;
  }
}
/* tablet */
@media (max-width: 979px) and (min-width: 768px) {
  #diyDisastersComp2014 .diy-topnav .container {
    width: 100%;
    margin: 0;
  }
  #diyDisastersComp2014 .diy-topnav #mobile-menu-btn {
    display: block;
  }
  #diyDisastersComp2014 .diy-topnav .nav a {
    display: block;
    float: none;
    width: 100%;
    background-image: none;
  }
  #diyDisastersComp2014 .diy-topnav .nav a:hover,
  #diyDisastersComp2014 .diy-topnav .nav a.active,
  #diyDisastersComp2014 .diy-topnav .nav a.first,
  #diyDisastersComp2014 .diy-topnav .nav a.next,
  #diyDisastersComp2014 .diy-topnav .nav a:hover + a {
    background-image: none;
  }
  #diyDisastersComp2014 .diy-content-home .row-4 .div-third {
    width: 241px;
    height: 190px;
  }
  #diyDisastersComp2014 .diy-content-home .row-4 .row-4-entries {
    margin-left: 20px;
    width: 242px;
  }
  #diyDisastersComp2014 .form-container #entry-form .fifty-words {
    width: 600px;
  }
  #diyDisastersComp2014 .diy-footer .footer-callout h3 {
    margin-top: 10px;
  }
}
/* mobile */
@media (max-width: 767px) {
  #diyDisastersComp2014 .diy-content-entries {
    padding: 0 20px;
  }
  #diyDisastersComp2014 h1 {
    font-size: 50px;
    line-height: 100%;
  }
  #diyDisastersComp2014 h2 {
    font-size: 30px;
    line-height: 100%;
  }
  #diyDisastersComp2014 h3 {
    font-size: 20px;
    line-height: 100%;
  }
  #diyDisastersComp2014 h4 {
    font-size: 17px;
    line-height: 100%;
  }
  #diyDisastersComp2014 h5 {
    font-size: 14px;
    line-height: 120%;
  }
  #diyDisastersComp2014 h6 {
    font-size: 12px;
    line-height: 120%;
  }
  #diyDisastersComp2014 p {
    font-size: 14px;
    line-height: 18px;
  }
  #diyDisastersComp2014 .diy-topnav .container {
    width: 100%;
    margin: 0;
  }
  #diyDisastersComp2014 .diy-topnav #mobile-menu-btn {
    display: block;
  }
  #diyDisastersComp2014 .diy-topnav .nav a {
    display: block;
    float: none;
    width: 100%;
    background-image: none;
  }
  #diyDisastersComp2014 .diy-topnav .nav a:hover,
  #diyDisastersComp2014 .diy-topnav .nav a.active,
  #diyDisastersComp2014 .diy-topnav .nav a.first,
  #diyDisastersComp2014 .diy-topnav .nav a.next,
  #diyDisastersComp2014 .diy-topnav .nav a:hover + a {
    background-image: none;
  }
  #diyDisastersComp2014 .diy-content-home .row-1 img {
    margin-top: 20px;
  }
  #diyDisastersComp2014 .diy-content-home .row-4 .div-third {
    width: 100%;
    float: none;
    clear: both;
    margin: 0;
  }
  #diyDisastersComp2014 .diy-content-home .row-4 .row-4-entries {
    margin-left: 0;
    width: 100%;
  }
  #diyDisastersComp2014 .form-container .formError,
  #diyDisastersComp2014 .form-container .formErrorWords,
  #diyDisastersComp2014 .form-container .formErrorFile,
  #diyDisastersComp2014 .form-container .formResultSuccess,
  #diyDisastersComp2014 .form-container .formResultError,
  #diyDisastersComp2014 .form-container .alert {
    width: 94%;
    height: auto;
    float: none;
    margin: 10px 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  #diyDisastersComp2014 .form-container .alert .close {
    top: 2px;
    right: 2px;
  }
  #diyDisastersComp2014 .form-container #entry-form #display-filename div {
    margin: 40px 0;
  }
  #diyDisastersComp2014 .form-container #entry-form #display-filename div span {
    font-size: 14px;
  }
  #diyDisastersComp2014 .form-container #entry-form .file-uploads,
  #diyDisastersComp2014 .form-container #entry-form .fifty-words,
  #diyDisastersComp2014 .form-container #entry-form .details,
  #diyDisastersComp2014 .form-container #entry-form #upload-animation {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }
  #diyDisastersComp2014 .form-container #entry-form .share-submit {
    width: 100%;
    height: auto;
    float: none;
    margin: 20px 0;
  }
  #diyDisastersComp2014 .form-container #entry-form .share-submit button {
    clear: both;
    display: block;
    float: left;
    width: 50%;
    margin: 20px 25%;
  }
  #diyDisastersComp2014 .diy-footer {
    display: block;
    width: 100%;
    height: auto;
    background-image: none;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
  #diyDisastersComp2014 .diy-footer .footer-mobile {
    height: 160px;
    margin-top: 0;
    background: #000000 url('../../assets/images/diy-disasters/A4_DIY.jpg') 0 0 no-repeat;
  }
  #diyDisastersComp2014 .diy-footer .footer-callout {
    padding: 0 20px 0 40px;
    min-height: 160px;
  }
  #diyDisastersComp2014 .diy-footer .footer-callout h3 {
    margin-top: 5px;
    padding: 10px 0 0;
  }
  #diyDisastersComp2014 .diy-footer .footer-callout p,
  #diyDisastersComp2014 .diy-footer .footer-callout span {
    padding: 0;
  }
}
