.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hitachi {
  background: #ffffff url('/assets/images/hitachi-summer/background-mobile.png') left top repeat-x;
  margin-bottom: -35px;
  padding-bottom: 200px;
  position: relative;
}
@media (min-width: 768px) {
  .hitachi {
    background: #ffffff url('/assets/images/hitachi-summer/background.jpg') center top no-repeat;
  }
}
/* Header */
.hitachi-title {
  background: transparent url('/assets/images/hitachi-summer/air-con-unit.jpg') center 30px no-repeat;
  background-size: contain;
  padding: 57% 0 13%;
}
@media (min-width: 543px) {
  .hitachi-title {
    background-size: auto auto;
    padding-top: 280px;
    padding-bottom: 60px;
  }
}
.lt-ie9 .hitachi-title {
  padding-top: 280px;
  padding-bottom: 60px;
}
.hitachi-title h1 {
  color: #fff;
  font-size: 50px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hitachi-title h1 {
    font-size: 73px;
  }
}
@media (min-width: 980px) {
  .hitachi-title h1 {
    font-size: 93px;
  }
}
.lt-ie9 .hitachi-title h1 {
  font-size: 93px;
}
/* Main content */
.hitachi-wrapper {
  margin: 0 auto;
  max-width: 540px;
  position: relative;
}
/* Main graphic at top */
.hitachi-header {
  position: relative;
  z-index: 100;
  margin: 19% -2.4% 0;
}
@media (min-width: 768px) {
  .hitachi-header {
    margin: 101px -13px 0;
  }
}
.hitachi-header:before,
.hitachi-header:after {
  content: '';
  width: 100%;
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.hitachi-header:before {
  top: -100px;
  height: 101px;
  background-image: url('/assets/images/hitachi-summer/header-top.png');
  background-position: bottom center;
}
.backgroundsize .hitachi-header:before {
  background-image: url('/assets/images/hitachi-summer/header-top-2x.png');
}
.hitachi-header:after {
  bottom: -147px;
  background-image: url('/assets/images/hitachi-summer/header-bottom.png');
  background-position: top center;
  background-repeat: no-repeat;
  height: 148px;
}
.backgroundsize .hitachi-header:after {
  background-image: url('/assets/images/hitachi-summer/header-bottom-2x.png');
}
.hitachi-header-content {
  background: #c92127;
  color: #fff;
  padding: 0 20px 30px;
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
  position: relative;
  z-index: 11;
}
.hitachi-header-content p {
  margin: 0;
}
@media (min-width: 768px) {
  .hitachi-header-content {
    line-height: 1.2;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.hitachi-text-lg {
  font-size: 32px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hitachi-text-lg {
    font-size: 66px;
  }
}
.hitachi-text-med {
  display: block;
  font-size: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hitachi-text-med {
    font-size: 44px;
  }
}
.hitachi-text-sm {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  top: -5px;
}
@media (min-width: 768px) {
  .hitachi-text-sm {
    font-size: 20px;
    top: -15px;
  }
}
.hitachi-text-body {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .hitachi-text-body {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.hitachi-text-divider {
  border-bottom: 1px solid;
  border-color: #fff;
  border-top: 1px solid;
  display: block;
  line-height: 1;
  margin: 5px 0 0;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .hitachi-text-divider {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.hitachi-tab {
  position: relative;
}
/* The rounded tab to expand content */
.hitachi-tab-link {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  z-index: 100;
}
@media (min-width: 560px) {
  .hitachi-tab-link {
    width: 140px;
  }
}
.hitachi-tab-link:hover {
  color: #fff;
}
.hitachi-tab-link.hitachi-tab-link-small {
  font-size: 11px;
  top: 13px;
  width: 100px;
}
@media (min-width: 400px) {
  .hitachi-tab-link.hitachi-tab-link-small {
    font-size: 13px;
    top: 20px;
  }
}
@media (min-width: 500px) {
  .hitachi-tab-link.hitachi-tab-link-small {
    font-size: 16px;
    top: 45px;
  }
}
@media (min-width: 560px) {
  .hitachi-tab-link.hitachi-tab-link-small {
    font-size: 16px;
    top: 45px;
  }
}
@media (min-width: 768px) {
  .hitachi-tab-link.hitachi-tab-link-small {
    font-size: 18px;
  }
}
.hitachi-tab-link.hitachi-tab-link-large {
  font-size: 24px;
  top: 15px;
}
@media (min-width: 560px) {
  .hitachi-tab-link.hitachi-tab-link-large {
    font-size: 30px;
    top: 45px;
  }
}
a.hitachi-tab-link {
  top: 0;
}
@media (min-width: 560px) {
  a.hitachi-tab-link {
    top: 30px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  a.hitachi-tab-link {
    top: 35px;
    font-size: 20px;
  }
}
a.hitachi-tab-link:after {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 14px 8px 0 8px;
  bottom: -20px;
  content: '';
  height: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 0;
}
/* Body content which expands into view */
.hitachi-content-rewards,
.hitachi-content-terms {
  background: #fff;
  border-left: 1px solid #ebebec;
  border-right: 1px solid #ebebec;
  display: none;
  padding: 30% 15px 90px;
}
@media (min-width: 768px) {
  .hitachi-content-rewards,
  .hitachi-content-terms {
    padding: 150px 0 90px;
  }
}
.hitachi-content-rewards:after,
.hitachi-content-terms:after {
  content: '';
  width: 100%;
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  bottom: 65px;
  height: 56px;
  left: 0;
  background-image: url('/assets/images/hitachi-summer/content-bottom.png');
  background-position: top center;
}
.backgroundsize .hitachi-content-rewards:after,
.backgroundsize .hitachi-content-terms:after {
  background-image: url('/assets/images/hitachi-summer/content-bottom-2x.png');
}
.hitachi-content-rewards.active,
.hitachi-content-terms.active {
  display: block;
}
.hitachi-content-rewards {
  text-align: center;
}
.hitachi-reward-list {
  margin-top: 0;
}
.hitachi-reward-list dt {
  color: #6d6e71;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
}
.hitachi-reward-list dd {
  color: #c92127;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.2;
}
.hitachi-legal {
  font-size: 14px;
  color: #6d6e71;
}
.hitachi-content-terms {
  padding-left: 20px;
  padding-right: 20px;
  color: #6d6e71;
}
.hitachi-content-terms h2 {
  font-size: 18px;
  color: #000;
}
.hitachi-content-terms h3 {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.hitachi-content-terms ul,
.hitachi-content-terms ol,
.hitachi-content-terms li {
  margin-left: 0;
  list-style-type: none;
}
.hitachi-content-terms li {
  margin-bottom: 10px;
}
.hitachi-content-terms strong {
  color: #000;
}
.hitachi-content-back {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  padding-left: 25px;
  position: relative;
  z-index: 9999;
}
.hitachi-content-back:first-child {
  margin-top: 0;
  margin-bottom: 30px;
}
.hitachi-content-back a {
  color: #c92127;
}
.hitachi-content-back:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  border-style: solid;
  border-width: 8px 14px 8px 0;
  border-color: transparent #c92127 transparent transparent;
}
/* Terms and conditions on first page */
.hitachi-terms {
  margin-top: 25px;
  margin-bottom: 0;
}
.hitachi-terms a {
  color: #c92127;
  text-decoration: underline;
}
.hitachi-footer {
  text-align: center;
  margin-top: -75px;
  z-index: 10;
  position: relative;
  display: none;
}
