.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #EAEAEA !important;
}
.ocmain-wrapper {
  /*z-index: auto !important;*/

  background-color: #EAEAEA !important;
}
.compatabilityWarning {
  border-top: 6px solid #333333;
  border-bottom: 6px solid #333333;
  margin-top: 20px;
}
.compatabilityWarning p {
  color: #333333;
  font-size: 11px;
  line-height: 130%;
}
.compatabilityWarning h4 {
  color: #333333;
  font-size: 16px;
  line-height: 130%;
  padding: 0px;
  margin: 15px 0 3px 0;
}
.three-content {
  background-color: #FFFFFF !important;
}
.main-item {
  margin: 25px 0 0 0;
  padding: 15px;
  font-size: 14px;
}
.main-item-grey {
  background-color: #747474;
  color: #FFFFFF;
  line-height: 120%;
}
.main-item-grey h5 {
  margin: 0px 0 3px 0;
}
.plannerLead {
  margin: 0px 0 10px 0;
  font-size: 18px;
}
.plannerSteps {
  background-color: #f0f0f0;
  padding: 10px;
}
#ThreeDPlannerWrapper .badge {
  padding: 15px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 9px;
  border-radius: 30px;
  font-size: 24px;
  font-style: italic;
  margin-right: 10px;
  position: relative;
  left: 0px;
  background-color: #DB1E23;
}
#ThreeDPlannerWrapper .strip {
  background-color: #FFFFFF;
  width: 100%;
  -webkit-border-radius: 30px 0px 0px 30px !important;
  border-radius: 30px px px 30px !important;
  margin-bottom: 15px;
  color: #555555;
  line-height: 100%;
}
.plannerThumbs h3 {
  margin: 0 !important;
}
.stepContainer {
  margin-bottom: 10px;
}
.stepContainer .span2 {
  background-color: #666666;
  text-align: center;
  padding: 12px 10px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 9px;
  border-radius: 30px;
}
.stepContainer .span10 {
  background-color: #FFFFFF;
  padding: 12px 10px;
}
/*
----------------------------------------------
RESPONSIVE OVERRIDES
----------------------------------------------
*/
@media (min-width: 1200px) {
  
}
@media (max-width: 1199px) {
  #ThreeDPlannerWrapper .badge {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 979px) {
  .icon-warning-sign {
    float: left;
    font-size: 40px;
    margin: 20px 20px 40px 20px;
  }
  #ThreeDPlannerWrapper .strip {
    font-size: 10px;
    height: 34px;
  }
  #ThreeDPlannerWrapper .badge {
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  #ThreeDPlannerWrapper .strip {
    font-size: 10px;
    height: 44px;
  }
  #ThreeDPlannerWrapper .badge {
    font-size: 18px;
    padding: 15px;
  }
  #ThreeDPlannerWrapper .step {
    position: absolute;
    margin-top: 17px;
  }
}
@media (max-width: 320px) {
  #ThreeDPlannerWrapper .strip {
    font-size: 10px;
    height: 44px;
  }
  #ThreeDPlannerWrapper .step {
    position: absolute;
    margin-top: 17px;
  }
  .icon-warning-sign {
    float: left;
    font-size: 40px;
    margin: 40px 20px 40px 20px;
  }
}
