.main-section#checkout-success{
	.main-heading{
		padding-top:30px;
		padding-bottom:30px;
	}
	.info{
		padding-top:30px;
		padding-bottom:20px;
	}
	.icon-section{
		margin-bottom:10px;
	}
	.big-text{
		font-size: 35px;
		.gothamBold;
	}
	.border-bottom{
		border-bottom:solid 1px @border-light-grey;
	}
	.icon-image{
		max-width: 100px;
		display:block;
		margin:0 auto;
		padding-bottom:15px;
		&.icon-image-big{
			max-width:120px;
		}
		img{
			max-width:100%;
		}
	}
	.button-section{
		padding-top:20px;
	}
	.refnumber-section{
		padding-bottom:60px;
		border-bottom:solid 1px @border-light-grey;
	}







}