@bg-price-box: #f4f4f4;
@bg-cmp: #c8c8c8;
@text-code: #bababa;
@text-price: @main-color;
@text-price-inc: black;
@text-price-exc: #b4b4b4;
@text-icons: #bababa;
@text-price-divider: #eaeaea;
@dropdown-border: #bfbfbf;
@postcode-input-bg: #f1f1f1;
@share-icon-color: #7f7f7f;
@arrow-down-color: #a6a6a6;
@images-folder: "/templates/images";


@add-to-cart-bg: #6dc8b6;
@add-to-cart-color: white;
@add-to-cart-hover-bg: #bfbfbf;
@add-to-cart-hover-color: white;
@add-to-cart-disabled-bg: #bfbfbf;
@add-to-cart-disabled-color: white;

@call-to-action-bg: #eeba90;
@call-to-action-color: white;
@call-to-action-hover-bg: white;
@call-to-action-hover-color: #eeba90;

@section-border: #E8E8E8;
@section-internal-expand-header-bg: #f4f4f4;
@section-internal-expand-body-bg: #fbfbfb;

@file-icon-cad-bg: #888888;
@file-icon-doc-bg: #eeba90;
@file-link-color: #888888;
@file-link-hover-color: #6dc8b6;

@file-cad-link-color: #888888;
@file-cad-link-hover-color: #6dc8b6;

@slider-arrow-default-color: #bfbfbf;

.main-section#product-detail{
	padding-top: 44px;
	img{
		max-width: 100%;
	}
	.btn{
		font-size: 15px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		border: 2px solid @main-color;
		padding: 15px;
		.transition(0.2s all ease-out);
		&:before{
			@media (min-width: @screen-sm){
				content: " ";
				position: absolute;
				width: 0;
				height: 100%;
				top: 0;
				left: 0;
				background: white;
				z-index: -1;
				.transform(translateX(-100%));
				.transition(0.2s all ease-out);
			}
		}
		&:hover{
			@media (min-width: @screen-sm){
				color: @main-color;
				&:before{
					width: 100%;
					.transform(translateX(0));
				}
			}
		}
	}
	.call-to-action{
		padding: 15px 20px;
		background: @call-to-action-bg;
		color: @call-to-action-color;
		border: 2px solid @call-to-action-bg;
		&:after{
			background: @call-to-action-hover-bg;
		}
		&:hover{
			color: @call-to-action-hover-color;
		}
	}
	.black-button{
		background: #333;
		border-color: #333333;
		color: white;
		&:hover{
			@media (min-width: @screen-sm){
				&:before{
					background: white;
				}
				color: #333;
			}
		}
	}	
	.add-to-cart{
		padding: 15px 20px;
		background: @add-to-cart-bg;
		color: @add-to-cart-color;
		border-color: @add-to-cart-bg;
		&:after{
			background: @add-to-cart-hover-bg;
		}
		&:hover{
			color: @add-to-cart-hover-color;
		}
		&:disabled, &[disabled]{
			border-color: @add-to-cart-disabled-bg;
			background: @add-to-cart-disabled-bg;
			color: @add-to-cart-disabled-color;
		}
	}
	.play-button{
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		margin-left: -25px;
		margin-top: -25px;
		svg{
			width: 50px;
			height: 50px;
			display: block;
			.icon{
				fill: white;
			}
			.circle{
				fill: rgba(0,0,0,0.5);						
			}
			.ring{
				fill: rgba(255,255,255,0.3);
			}
		}
	}
	#search{
		input{
			@media (min-width: @screen-sm){
				max-width: 296px;
			}
		}
		button{
			padding: 0;
		}
	}
	.lightbox{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: rgba(0,0,0,0.8);
		padding: 60px 20px 20px;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		.transition(opacity 0.3s, visibility 0s 0.3s;);
		.lightbox-actions{
			button{
				svg{
					width: 20px;
					height: 20px;
					fill: white;
				}
			}
		}
		.lightbox-actions{
			max-width: 1200px;
			margin: 0 auto;
			text-align: right;
			button{
				.appearance(none);
				outline: none;
				background: none;
				border: none;
				color: white;
			}
		}
		&.show{
			opacity: 1;
			visibility: visible;
			.transition(opacity 0.3s, visibility 0s;);
			.lightbox-content{
				.transform(translateY(0));
			}
		}
		.lightbox-content{
			max-width: 1200px;
			margin: 0 auto;
			background:none;
			.transform(translateY(-100%));
			.transition(all 0.3s);
			.product-images-slider{
				border-bottom: none;
			}
			.product-images-slider-wrap{
				.zoom{
					display: none;
				}
			}
			.product-thumbs{
				text-align: center;
			}			
		}
	}
	#video-lightbox{
		.lightbox-actions{
		    max-width: calc(~"100vh * 1.4");
		    @media (min-width: 1200px){
		    	max-width: 1200px;
		    }
		}
		.lightbox-content{
			max-width: calc(~"100vh * 1.4");
		    @media (min-width: 1200px){
		    	max-width: 1200px;
		    }
		}
	}
	.slider-lightbox{
		.lightbox-content{
			background:white;
		}		
	}
	.added-to-cart{
		position: fixed;
		z-index: 10;
		width: 50px;
		height: 50px;
		.border-radius(50%);
		border: 2px solid @main-color;
		background-color: white;
		background-size: cover;
		.transition(-moz-transform 0.3s ease-out,-webkit-transform 0.3s ease-out,-ms-transform 0.3s ease-out,transform 0.3s ease-out;);
		&.loaded{
			.transform(scale(1));
		}
		&.added{
			.transform(scale(0));
		}		
	}
	position: relative;
	overflow: hidden;
	margin-bottom: -35px;
	.progress-button {
		position: relative;
		margin: 0 auto; 
		text-align: center;
		button{
			width: 100%;
			height: 56px;
			margin: 0;
			.transition(all 0.3s;);
			&:focus{
				outline: none;
			}
		}
		span{
			.transition(opacity 0.3s 0.1s);
		}
		svg{
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 1;
			margin-left: -28px;
			pointer-events: none;
			opacity: 0;
			path{
				opacity: 0;
				fill: none;
			}
			&.progress-circle{
				width: 56px;
				height: 56px;
				stroke: @main-color;
				stroke-width: 2;
				stroke-dasharray: 204px;
				stroke-dashoffset: 204px;				
			}
			&.check{
				width: 30px;
				height: 23px;
				top: 18px;
				margin-left: -15px;
				path{
					stroke: #1ECD97;
				}
				.short{
					stroke-dasharray: 22px;
					stroke-dashoffset: 24px;
					.transition(stroke-dashoffset .2s 0.3s ease-out;);
				}
				.long{
					stroke-dasharray: 55px;
					stroke-dashoffset: 56px;
					.transition(stroke-dashoffset .1s .5s ease-out;);
				}
			}
			&.cross{
				opacity: 0;
			}
			&.cross{
				opacity: 0;	
			}
			&.check,
			&.cross{
				path{
					stroke: #fff;
					.transition(opacity 0.1s;);
				}
			}
		}
		&.loading{
			border-width: 5px;
			border-color: #ddd;
			background-color: transparent;
			color: #fff;
			button{
				width: 56px;
				height: 56px;
				border-width: 2px;
				border-color: #ddd;
				.border-radius(50%);
				background-color: transparent;
				color: white;
			}
			span{
				.transition(opacity 0.15s);
			}
			svg{
				&.progress-circle{
					.animation(spin 1s 0.35s infinite linear both;);
					opacity: 1;
					stroke-dashoffset: 150px;
					.transition(stroke-dashoffset 0.3s 0.35s;);
				}
			}			
		}
		&.loading,
		&.success,
		&.error{
			span{
				opacity: 0; /* keep it hidden in all states */
			}
			svg{
				path{
					opacity: 1;
					//.transition(stroke-dashoffset 0.8s 0.2s);
				}
			}
		}
		&.success,
		&.error{
									
		}
		&.success{
			button{
				border-color: white;
			}
			svg{
				&.progress-circle{
					.transition(stroke-dashoffset 0.3s;);
					stroke: #1ECD97;
					opacity: 1;
			  	-webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    			animation-play-state: paused;
					stroke-dashoffset: 0;
				}
				&.check{
					opacity: 1;
					.animation(zoom-jump 0.4s .7s 1 ease-out);
					.short,
					.long{
						stroke: #1ECD97;
						stroke-dashoffset: 0;
					}
				}
			}	
		}
		&.error{
			button{
				border-color: #FB797E;
				background-color: #FB797E;
			}
		}
	}
	.product-detail-wrap{
		overflow: scroll; 
		-webkit-overflow-scrolling : touch;
		padding-right: 0;
		@media (min-width: @screen-sm){
			padding-right: 50px;
		}
		@media (min-width: @screen-lg){
			padding-right: 83px;
		}
		@media (min-width: 1400px){
			padding-right: 0;				
		}	
		.section-container{
			padding: 0;
			@media (min-width: @screen-sm){
				padding: 0 15px;
			}
			> .row{
				margin: 0;
				@media (min-width: @screen-sm){
					margin: 0 -15px;
				}
			}
		}
	}//END product-detail-wrap
	.options-dropdown{
		position: relative;
		cursor: pointer;
		.options-name{
			color: black;
			line-height: 56px;
			height: 56px;
			padding-left: 18px;
			padding-right: 60px;
			font-size: 15px;
			border: 1px solid @dropdown-border;
			background: white;
			text-transform: uppercase;
			position: relative;
			.transition("0.3s color ease-out, 0.3s background ease-out");
			&:hover{
				color: @main-color;
				background: @bg-price-box;
			}
			svg{
				width: 25px;
				height: 14px;
				right: 10px;
				top: 20px;
				position: absolute;
				display: block;
				.transform(rotate(0));
				.transition(all .3s ease-out);
				fill: #bfbfbf;
			}
		}
		.options-list{
			.transition(0.3s all ease-out);
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: calc(~"100% - 1px");
			list-style: none;
			position: absolute;
			border: 1px solid @dropdown-border;
			background: white;
			width: 100%;
			z-index: 3;
			padding: 0 18px;
			li{
				.transition(0.3s all ease-out);
				list-style: none;
				display: block;
				background: white;
				line-height: 1;
				padding: 0;
				font-size: 14px;
				border-bottom: 1px solid @dropdown-border;
				b{
					font-size: 15px;
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
		&.open{
			.options-name{
				color: @main-color;
				background: @bg-price-box;
				svg{
					.transform(rotate(180deg));
					fill: @main-color;
				}
			}
			.options-list{
				opacity: 1;
				visibility: visible;
				li{
					padding: 18px 0;
				}
			}
		}
	}
	.product-content-wrapper{
		.clearfix();
		.product-content-left{
			@media (min-width: @screen-sm){
				width: 55%;
				float: left;
			}
		}
		.product-content-right{
			@media (min-width: @screen-sm){
				width: 45%;
				float: left;
			}
			/*@media (min-width: @screen-md){
				width: 44.70%;
			}*/
		}
	}//END product-content-wrap
	.product-images{
		padding-bottom: 30px;
		.slick-dots{
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 30px;
			@media (min-width: @screen-sm){
				padding-bottom: 0;
				border: none;
			}
		}//END slick-dots
		.product-images-slider-wrap{
			position: relative;
			.transition(opacity .1s);
			&.hide-bx{
				opacity: 0;
			}
			.zoom{
				position: absolute;
				bottom: 25px;
				right: 25px;
				cursor: pointer;
				svg{
					display: block;
					width: 36px;
					height: 35.48px;
					fill: grey;
				}
				display: none;
				@media (min-width: @screen-sm){
					display: block;
				}
			}
		}
		.product-images-slider{
			.lightbox-video{
				display: block;
				position: relative;
				.play-button{
					width: 120px;
					height: 120px;
					margin-left: -60px;
					margin-top: -60px;
					svg{
						width: 120px;
						height: 120px;
					}
				}
			}
			@media (min-width: @screen-sm){
				border: solid 1px @border-light-grey;
			}			
		}
		img{
			max-height: calc(~"100vh - 40px");
			margin: 0 auto;
		}
		.product-thumbs{
			padding: 0 30px;
			margin-bottom: 0;
			.clearfix();
			.product-thumb{
				margin: 0 10px;
				outline: none;
				cursor: pointer;
				position: relative;
				img{
					display: block;
					line-height: 1;
					.transition(0.3s border ease-out);
					border: solid 1px @border-light-grey;
					margin-bottom: 1px;
				}
				&.slick-current{
					img{
						border: solid 1px black;
					}	
				}
			}
			.slick-next{
				right: 0;
			}
			.slick-prev{
				left: 0;
			}

		}//END product-thumbs
	}//END product-images
	.product-description-wrap{
		text-align: center;
		padding: 0 11%;
		@media (min-width: @screen-md){
			padding: 0 11%;
		}
		.product-intro{
			margin: 0 auto;
			h1{
				font-size: 35px;				
			}
			.product-description{
				font-size: 22px;
				@media (min-width: @screen-sm){
					font-size: 22px;
				}
			}
		}
		.product-details{
			margin: 0 auto;
			max-width: 293px;
			form{
				position: relative;
				.clearfix();
			}			
			.product-code{
				color: @text-code;
				font-size: 15px;
				margin-bottom: 20px;				
			}//END product-code
			.product-prices{
				margin-bottom: 20px;
				.nav-tabs{
					li{
						width: 50%;
						.border-radius(0);
						border: none;
						background: @bg-cmp;
						text-transform: uppercase;
						font-size: 10px;
						.gothamBook;
						.transition("0.3s background ease-out, 0.3s color ease-out");
						a{
							.transition("0.3s background ease-out, 0.3s color ease-out");
							.border-radius(0);
							border: none;
							background: none;
							color: black;
						}
						&.active{
							.gothamBold;
							border: none;
							background: @bg-price-box;
							a{
								color: @text-price;
							}
						}
					}
				}//END nav-tabs
				.tab-pane{
					background:  @bg-price-box;
					.gothamBold;
					padding: 20px 0;
					font-size: 30px;
					small{
						.gothamBook;
						font-size: 10px;
					}
					.product-price-inc{
						color: @text-price-inc;
					}
					.product-price-exc{
						color: @text-price-exc;
					}
				}//END tab-pane
			}//END product-prices
			.product-postcode-input{
				background: @postcode-input-bg url("@{images-folder}/product-detail/bg-light-green-stripes.jpg");
				padding: 14px 10px 34px;
				position: relative;
				.clearfix();
				.product-postcode-input-text{
					float: left;
					width: 50%;
					font-size: 12px;
					text-align: left;
					b{
						font-size: 22px;
						display: block;
					}
					p{
						margin: 0;
					}
				}
				.product-postcode-input-field{
					float: left;
					width: 50%;
					position: relative;
				}
				.product-postcode-overlay{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					&:after{
						content: " ";
						position: absolute;
						background: white;
						height: 10px;
						bottom: 0;
						right: 0;
						display: block;
						width: 30%;
				    .transform(skew(-45deg));
				    .transform-origin(bottom right;);
					}
					&:before{
						content: " ";
						position: absolute;
						background: white;
						height: 10px;
						bottom: 0;
						left: 0;
						display: block;
						width: 70%;
						.transform(skew(45deg));
						.transform-origin(bottom left;);
					}
				}
			}//End product-postcode-input
			.product-quantity{
				.quantity-wrap{
					text-align:center;
					.clearfix();					
				}//END quantity-wrap
				.quantity-hidden{
					display:none;
				}//END quantity-hidden
				.quantity-input{
					width: 50%;
					display: block;
					float: left;
					margin:0 auto;
					padding-right: 6px;
				}//END quantity-input
				.quantity-number{
					width: 100%;
					height: 60px;
					font-size: 16px;
					float: left;
					@media (min-width: @screen-sm){
						font-size: 21px;
						
					}
					border: solid 1px @border-grey;
					background-color: @bg-table-header-grey;
					text-align:center;					
				}//END quantity-number

				.quantity-set{
					float: right;
					width: 50%;
					padding-left: 6px;
					label,.set-name{
						color:@text-light-grey;
					}
					.set-name{
						padding-top:10px;
						padding-bottom:10px;
						display:inline-block;
					}
					.radiolabel-set{
						.clearfix();
						display: block;
						border:solid 1px @text-light-grey;
						position:relative;
						margin-bottom: 15px;
						height: 60px;
						.radio-button{
							cursor: pointer;
							text-align:center;
							float: left;
							width: 50%;
							.gothamBook;
							margin: 0;
							height: 100%;
							font-size: 22px;
							line-height: 60px;
							.transition(.5s all ease-out );
							&.active{
								.gothamMedium;
								background-color:@bg-button-light-blue;
								color:@white;
							}
						}
					}
				}//END quantity-set
				.quantity-details{
					display:block;
					clear: both;
					font-size: 13px;
					margin-bottom: 15px;
					text-transform: uppercase;
					color: @text-light-grey;
					span{
						color: @text-blue;
						.gothamBold;
					}					
				}//END quantity-details
			}//END product-quantity
			.product-addbutton{
				font-size: 15px;
				margin-bottom: 43px;
			}//END product-addbutton		
			.product-icons{
				.item{
					margin-bottom: 35px;
					font-size: 15px;
					color: @text-icons;
				}
			}//END product-icons		
		}//END product-details		
		.product-availability-variations{
			> ul{
				width: 100%;
				.clearfix();
				> li{
					display: block;
					margin-bottom: 25px;
					@media (min-width: @screen-md){
						width: 50%;
						float: left;
					}
					li{
							text-align: left;
						&.none-available{
							color: @dropdown-border;
							font-style: italic;
							font-size: 15px;
						}
					}
				}
			}
		}//END product-availability-variations
		.product-share{
			margin-bottom: 48px;
			b{
				color: @main-color;
				display: block;
				margin-bottom: 16px;
				&.text-cursive{
					.caslonBold;
					font-size: 15px;
				}
			}
			.product-share-buttons{
				.share-btn{
					width: 57px;
					line-height: 50px;
					height: 50px;
					.border-radius(2px);
					display: inline-block;
					border: 1px solid @dropdown-border;
					svg{
						fill: @share-icon-color;
					}
				}
			}
		}//END product-share	
	}//END product-description-wrap
	.main-anchor-list{
		display:block;
		padding:0;
		margin:0 -5px;
		overflow: auto;
		text-align:center;
		.clearfix();
		margin-bottom: 38px;
		@media (min-width: @screen-lg){
			padding-left: 11%;
		}
		li{
			list-style:none;
			margin: 0;
			padding:0 5px;
			display:inline-block;
			width: 32%;
			margin-bottom: 10px;
			@media (min-width: @screen-md){
				width: percentage(1/5);
				float: left;
			}
			a{
				font-size: 15px;
				padding: 15px 0;				
				
			}
		}
	}
	.grey-stripes-bg{
		background: grey url("@{images-folder}/product-detail/bg-light-stripes.png");
	}
	#product-summary{
		padding-bottom: 35px;
		.section-content{
			padding-top: 40px;
		}
		h3{
			padding-bottom: 0;
		}
	}
	#product-highlights{
		.section-content{
			border-top: none;
		}		
	}
	#product-highlights{
		border-top: 1px solid @section-border;
		padding: 55px 0 25px;
		text-align: center;
		ul{
			.clearfix();
			li{
				padding: 0 20px;
				max-width: 152px;
				margin: 0 auto;
				margin-bottom: 30px;
				font-size: 15px;
				@media (min-width: @screen-lg){
					max-width: 100%;
					float: left;
					width: percentage(1/5);
				}
			}
		}
		.icon{
			margin-bottom: 20px;
			img{
				margin: 0 auto;
				height: 25px;
			}
		}
	}
	#product-display{
		padding: 85px 0;
		margin-bottom: 40px;
		.section-content{
			border-top: none;
		}
		+ .section{
			.section-content{
				border-top: none;
			}
		}
	}
	
	.section{
		.slick-next{
			top: 37%;
			right: -20px;
			svg{
				width: 14px;
				height: 14px;
				fill: @slider-arrow-default-color;
			}
		}			
		.slick-prev{
			top: 37%;
			left: -20px;
			svg{
				width: 14px;
				height: 14px;
				fill: @slider-arrow-default-color;
			}
		}	
		.section-content{
			border-top: 1px solid @section-border;
			padding: 0 30px;
			&.no-border{
				border-top: none;
			}
			@media (min-width: @screen-sm){
				padding: 0;
			}
			@media (min-width: @screen-lg){
				padding: 0 11%;
			}
		}
		.expand-section{
			&.opened{
				display: block;
			}
			&.expanded-desktop{
				@media (min-width: @screen-sm){
					display: block !important;
				}
			}
		}
		.section-title{
			padding: 10px 0;
			margin: 20px 0;
			&.action-expand-button{
				cursor: pointer;
				@media (min-width: @screen-sm){
					cursor: default;
				}
			}
			h3.section-heading{
				padding:0;
				margin:0; 
				font-size: 22px;
				.gothamBold;
				&.text-cursive{
					.caslonBold;
					font-size: 30px;
				}
				svg{
					display: block;
					.transition(0.3s all ease-out);
					width: 20px;
					height: 11px;
					fill: @arrow-down-color;
					float: right;
				}		
				@media (min-width: @screen-sm){
					svg{
						display: none;
					}
				}
			}
			&.opened{
				.section-heading{
					svg{
						.transform(rotate(180deg));
					}
				}
			}			
		}		
		.table-heading{
			font-size: 15px;
			.gothamBook;
		}
		.verticle-table{
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 20px;
			th,td{
				width:50%;
				vertical-align: middle;
				border: 1px solid @table-border-grey;
				font-size: 15px;
				padding: 10px;
				.gothamBook;
			}
			th{
				background-color:@bg-table-header-grey;
			}
		}
		.file-download-area{
			padding-top: 20px;
			margin-bottom: 78px;
			.internal-expand-body{
				background: @section-internal-expand-body-bg;				
			}
			.internal-expand-header{
				background-color: @section-internal-expand-header-bg;
				padding: 15px;
				cursor: pointer;
				h4.download-heading{
					padding:0;
					margin:0;
					font-size: 22px;
					svg{
						display: block;
						.transition(0.3s all ease-out);
						width: 20px;
						height: 11px;
						fill: @arrow-down-color;
						float: right;
					}
				}
				&.opened{
					.download-heading{
						svg{
							.transform(rotate(180deg));
						}
					}	
				}
			}
		}
		.video-details{
			text-align: center;
			padding: 20px 0;
		}
		&.bg-dark-stripes{
			.section-heading{
				color: white;
			}
			.video-details{
				color: white;
			}
			.section-content{
				border-top: none;
			}					
		}		
	}
	#powder-room{
		padding: 65px 0 15px;
		.section-content{
			@media (min-width: @screen-lg){
				padding: 0;
			}
		}
		.story{
			margin-bottom: 30px;
		}
		.title{
			position: relative;
			padding-bottom: 23px;
			padding-left: 120px;
		}
		.icon{
			position: absolute;
			left: -20px;
			top: -50px;
			z-index: 2;
			width: 125px;
			height: 125px;
			svg{
				width: 125px;
				height: 125px;
				display: block;
			}
		}
	}
	.video-slider{
		.video-thumbnail{
			position: relative;
		}
		.play-button{
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			margin-left: -25px;
			margin-top: -25px;
			svg{
				width: 50px;
				height: 50px;
				display: block;
				.icon{
					fill: white;
				}
				.circle{
					fill: rgba(0,0,0,0.5);						
				}
				.ring{
					fill: rgba(255,255,255,0.3);
				}
			}
		}
	}
	.video-slider,
	.product-suggestion-slider{
		margin-bottom: 20px;
		margin: 0 -15px;
		margin-bottom: 20px;
		.one-slide{
			padding: 0 15px;
		}		
	}
	.product-suggestion-slider{
		margin-bottom: 50px;
		.product-details{
			text-align: center;
			padding: 20px 0;
			h5{
				font-size: 22px;
				margin-bottom: 0;
			}
			.product-description{
				font-size: 14px;
				margin-bottom: 0;
			}
			.product-price{
				font-size: 14px;
				.gothamBold;
				small{
					font-size: 8px;
					.gothamBook;
				}
			}
		}
		.view-button{
			text-align: center;
			display: block;
		}
	}
	.banner-section{
		.banner{
			padding: 60px 0;
		}
	}
	.footer-promo-section{
		padding: 60px 0;
		color: white;
		h3{
			font-size: 35px;
			margin: 14px 0 40px;
		}
		.blue-button{
			margin-top: 50px;
		}
	}
.file-download-list{
	display:block;
	padding: 30px 20px;
	margin:0;
	overflow: auto;
	@media (min-width: @screen-sm) {
		padding: 30px 40px;
	}
	&.all-downloads{
		background: none;
		@media (min-width: @screen-sm) {
			padding: 0px 0px 30px;
		}	
	}
	.one-file{
		list-style:none;
		margin:10px 0;
		padding:0;
		display:block;
		float:left;
		width:33.3333%;
		.file-info{
			display: block;
			display: flex;
	    align-items: center;
			padding:5px 10px 5px 0;
			font-size:15px;
			position: relative;
			max-width: 210px;
			.icon{
		    position: relative;
		    float: left;
		    margin-right: 10px;
		    width: 44px;
		    height: 51px;
		    background: blue;
				svg{
			    position: absolute;
			    display: block;
			    top: 50%;
			    left: 50%;
			    width: 20px;
			    height: 27px;
			    margin-left: -10px;
			    margin-top: -14px;
			    fill: white;
			  }
			}
			&.file-doc{
					.icon{
						background: @file-icon-doc-bg;
					}
			}
			&.file-cad{
					.icon{
						background: @file-icon-cad-bg;
					}
					.file-download{
						color: @file-cad-link-color;
						&:hover{
							color: @file-cad-link-hover-color;
						}
					}
			}
			.file-name{
				padding:0;
				margin:0;
			}
			.file-download{
				color: @file-link-color;
				text-decoration:underline;
				.gothamMedium;
				display:block;
				&:hover{
					color: @file-link-hover-color;
				}
			}
			@media (max-width: @screen-xs-max) {
				background-position: center top;
				padding:70px 10px 10px 10px;
				text-align:center;
			}
		}
		@media (max-width: @screen-xxs-max) {
			width:50%;

		}
	}
}
	@-moz-keyframes spin {
	    0% { -moz-transform: rotate(0deg);}
	    50% { -moz-transform: rotate(180deg);}
	    100% { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
	    0% {  -webkit-transform: rotate(0deg); }
	    50% {  -webkit-transform: rotate(180deg); }
	    100% {  -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	    0% { transform:rotate(0deg);}
	    50% { transform:rotate(180deg);}
	    100% { transform:rotate(360deg);}
	}
	@-moz-keyframes spin-end {
		from {  }
	    to { stroke-dashoffset: 0px;  }	    
	}
	@-webkit-keyframes spin-end {
		from { stroke-dashoffset: 204px;  }
	    to { stroke-dashoffset: 0px;  }	    
	}
	@keyframes spin-end {
		from { stroke-dashoffset: 204px;  }
	    to { stroke-dashoffset: 0px;  }	
	}
	@-moz-keyframes check{
		from { stroke-dashoffset: 204px;  }
    to { stroke-dashoffset: 0px;  }	    
	}
	@-webkit-keyframes check{
		from { stroke-dashoffset: 204px;  }
	  to { stroke-dashoffset: 0px;  }	    
	}
	@keyframes check{
		from { stroke-dashoffset: 204px;  }
	  to { stroke-dashoffset: 0px;  }	
	}
	@-moz-keyframes zoom-jump{
		0% { .transform(scale(1)); }
    50% { .transform(scale(1.2));  }	    
    100% { .transform(scale(1));  }	    
	}
	@-webkit-keyframes zoom-jump{
	0% { .transform(scale(1)); }
	    50% { .transform(scale(1.2));  }	    
	    100% { .transform(scale(1));  }	    
	}
	@keyframes zoom-jump{
		0% { .transform(scale(1)); }
    50% { .transform(scale(1.2));  }	    
    100% { .transform(scale(1));  }	    
	}
}








