@main-green: #6dc8b6;
@bg-light-grey: 			#fafafa;
@bg-box-grey: 				#f6f6f6;
@bg-mid-grey: 				#eaeaea;
@bg-dark-grey:				#e3e3e3;
@bg-table-header-grey: 		#f4f4f4;
@bg-green: 					#6dc8b6;
@bg-orange: 				#eeba90;
@bg-green-item:				#0776ab;
@bg-button-grey:			#999999;
@bg-button-light-green:		#6dc8b6;
@bg-button-light-grey:		#999999;
@text-green: 				#4faa98;
@link-green:				#4faa98;
@text-grey:         		#404040;
@text-box-light-grey:		#bababa;
@text-light-green: 			green;
@text-light-grey: 			#b4b4b4;
@text-mid-grey:   			#999999;
@text-dark-grey:			#585858;
@border-grey:   		    #bdbdbd;
@border-light-grey:		 	#eaeaea;
@icon-grey:					#bfbfbf;
@icon-green:				#6dc8b6;
@white: 					#ffffff;
@black-grey:				#333333;
@black: 					#000000;
@pink:						#c68989;

@text-blue: blue;
@bg-button-light-blue: blue;
@border-ruler-grey: grey;
@table-border-grey: grey;
@bg-section-header-grey: grey;
@link-blue: blue;

@shadow: 0px 6px 33px -10px rgba(0,0,0,0.75);





/*FONTS*/
.gothamLight{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 300;
}

.gothamBook{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 400;
}

.gothamBookItalic{
	font-family: "Gotham A", "Gotham B";
	font-style: italic;
	font-weight: 400;
}

.gothamMedium{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 500;
}

.gothamBold{
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 700;
}
.gothamBoldItalic{
	font-family: "Gotham A", "Gotham B";
	font-style: italic;
	font-weight: 700;
}

//*{outline: solid 1px #f4f4f4;}


@screen-xxs-max: 510px;
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;



/*

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) {  }
@media (min-width: @screen-md-min) {  }
@media (min-width: @screen-lg-min) {  }


@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }

*/