.postcode-input{
	background: @postcode-input-bg url("@{images-folder}/product-detail/bg-grey-stripes.jpg");
	padding: 9px 0;
	font-size: 15px;
	b{
		font-size: 22px;
	}
	input{
		max-width: 150px;
		height: 38px;
		margin-left: 18px;
	}
}