body.spring-2015{
	section#bathrooms-we-love{
		h2{
			font-size: em(50);
			text-decoration: underline;						
		}
		.product{
			position: relative;
			padding-bottom: em(54);
			margin-bottom: em(20);
			.button-mood-shop{
				position: absolute;
				bottom: 0;
				left: 0;
			}
			.image{
				margin-bottom: em(20);
			}			
		}
		.intro{
			position: relative;
			margin-bottom: em(60);
			h1{
				position: absolute;
				top: 50%;
				left: 20%;
				text-decoration: underline;
				@include transform(translateY(-50%));
				font-size: em(30);
				@media (min-width: $screen-sm-min){
					font-size: em(60);
				}
			}
		}
		.top-details{
			.project-info-wrap{
				position: relative;
				@media (min-width: $screen-sm-min){
						padding-left: 260px;
				}
				@media (min-width: $screen-md-min){
						padding-left: em(320);
				}
				@media (min-width: $screen-lg-min){
					padding-right: em(40);
					padding-left: em(440);
				}
				.image{
					padding: em(10);
					background: $white;
					@include box-shadow(2px 5px 6px rgba(0,0,0,0.2));
					@include transform(rotate(5deg));
					@include transform-origin(bottom right);
					width: 320px;
					margin: 0 auto;
					margin-bottom: -40px;
					@media (min-width: $screen-sm-min){
						position: absolute;
						left: 0;
						bottom: 0;
						width: 260px;
						margin: 0;
					}
					@media (min-width: $screen-md-min){
						width: 320px;
					}
					@media (min-width: $screen-lg-min){
							width: 440px;
					}
				}
				.project-info{
					background: $gold;
					color: $white;
					padding: em(40);
					margin-left: em(20);
					margin-right: em(20);
					margin-bottom: em(40);
					max-width: em(370);
					@media (min-width: $screen-sm-min){
						margin: 0;
						margin-bottom: em(40);
					}
					h2{
						color: $black;
						font-family: $font-family-serif;
						font-weight: 400;
						font-style: italic;
						font-size: em(27);
						margin-bottom: em(20,27);
						text-decoration: none;
						@media (min-width: $screen-sm-min){
							font-size: em(18);
							margin-bottom: em(10,18);
						}
						@media (min-width: $screen-md-min){
							font-size: em(27);
						}
					}
					ul{
						li{
							margin-bottom: em(20);
							@media (min-width: $screen-sm-min){
								font-size: em(14);
								margin-bottom: em(10);
							}
							@media (min-width: $screen-md-min){
								font-size: inherit;
								margin-bottom: em(20);
							}
						}
					}
				}/* end .project-info */
				
			}
			.description{
				padding: 0 em(30);
				margin-bottom: em(80);
				margin-top: em(48);
				@media (min-width: $screen-sm-min){
					padding: 0 0 0 em(30);
				}
				@media (min-width: $screen-md-min){
					font-size: inherit;
					padding: 0 em(30) 0 em(60);
				}
				@media (min-width: $screen-lg-min){
					padding: 0 em(30) 0 em(120);
				}
				p{
					font-size: em(21);
					line-height: em(24,21);
				}
			}
		}/* end .top-details */
		.before-after{
			margin-bottom: em(50);
			position: relative;
			z-index: 1;
			.small-container{
				max-width: 1280px;
				margin: 0 auto;
				@media (min-width: $screen-sm-min){
					padding: 0 em(110);
				}
			}
			.dot-pattern{
				position: relative;
				padding: em(30) em(30) 0;
				.title{
					@media (min-width: $screen-sm-min){
						position: absolute;
						top: 0;
						left: 0;
						z-index: 2;
						@include transform(translateX(-50%) translateY(-50%));
					}					
				}
				.image{
					margin-bottom: em(30);
				}
			}
		}
		.tip{
			position: relative;
			background: $black;
			color: $white;
			padding: em(70) em(50) em(50);
			h3{
				font-size: em(27);
				margin-top: 0;
				margin-bottom: em(10,27);
				color: $gold;
			}
			.hex-block{
				width: 149px;
				color: $white;
				position: absolute;
				top: 0;
				left: 50%;
				@include transform(translateX(-50%) translateY(-50%));
				@media (min-width: $screen-sm-min){
					left: 0;
				}
				svg{
					width: 149px;
					path{
						fill: $gold;
					}
				}
				.text{
					position: absolute;
					text-transform: uppercase;
					text-align: center;
					width: 100%;
					font-size: em(16);
					@extend %center-align;
				}
			}
		}
		.the-dream-list{
			position: relative;
			z-index: 1;
			padding: 0;
			@media (min-width: $screen-sm-min){
				padding: 0 em(20);
			}
			@media (min-width: $screen-md-min){
				padding: 0 em(40);
			}
			@media (min-width: $screen-lg-min){
				padding: 0 em(80) 0 em(140);
			}
			.title{
				margin-bottom: em(40);
				@media (min-width: $screen-lg-min){
					margin-bottom: em(55);
				}
				@media (min-width: $screen-xl-min){
					margin-bottom: em(40);
				}
				h2{
					margin: 0;
					text-align: center;
					font-size: em(60);					
				}
			}
			.tip{
				max-width: em(500);
				margin-top: em(30);
				margin-bottom: em(40);
				@media (min-width: $screen-lg-min){
					margin-bottom: 0;
					padding: em(60) em(25) em(25);
				}
				@media (min-width: $screen-xl-min){
					padding: em(70) em(50) em(50);
				}
			}
			.product{
				margin-bottom: em(40);
			}			
		}
		.the-feature-bath{
				position: relative;
				@media (min-width: $screen-sm-min){
					padding: 0 em(20);
				}
				@media (min-width: $screen-md-min){
					padding: 0 em(40);
				}
				@media (min-width: $screen-lg-min){
					padding: 0 em(80) em(80) em(140);
				}
				@media (min-width: $screen-xl-min){
					padding: 0 em(80) em(120) em(140);
				}
				.title{
					@media (min-width: $screen-sm-min){
						position: absolute;
						left: em(51);
					}
					@media (min-width: $screen-md-min){
						position: relative;
						left: auto;
						margin-left: em(558);
						margin-bottom: em(-45);
					}
					@media (min-width: $screen-lg-min){
						margin-top: em(52);
						margin-left: em(56);
						margin-bottom: 0;
					}
					@media (min-width: $screen-xl-min){
						margin-top: 0;
						margin-left: em(175);
					}
					h2{
						margin: 0;
					}
				}
				.feature-image{
					position: absolute;
					z-index: 0;
					left:0;
					bottom: em(188);
					@media (min-width: $screen-sm-min){
						left: em(120);
						bottom: 0;
						width: em(351);
					}
					@media (min-width: $screen-md-min){
						left: em(193);
						width: em(440);
					}
					@media (min-width: $screen-lg-min){
						left: em(314);
						width: em(563);
					}
					@media (min-width: $screen-xl-min){
						left: em(436);
						width: auto;
					}
				}
		}
		.hear-from-the-tradies{
			margin-bottom: em(97);
			@media (min-width: $screen-md-min){
				padding: 0 em(20);
			}
			@media (min-width: $screen-lg-min){
				padding: 0 em(40) 0 em(92);
			}
			.hear-from-content{
				margin-left: 0;
				margin-top: em(40);
				h3{
					text-decoration: underline;
					font-size: em(27);	
				}
				.dot-pattern{
					padding: em(20);
					@media (min-width: $screen-sm-min){
						padding: em(60);
					}
				}
				.white-box{
					padding: em(20);
					background: $white;
				}
				.description{
					p{
						line-height: em(19);
					}
				}				
			}
			.left-col{
					@media (min-width: $screen-md-min){
						padding-right: 0;
					}
				}
				.middle-col{
					@media (min-width: $screen-md-min){
						padding:0;
					}
				}
				.right-col{
					@media (min-width: $screen-sm-min){
						padding-left: em(120);
					}
					@media (min-width: $screen-md-min){
						padding-left: 0;
					}
					.tip{
						max-width: em(550);
						padding: em(70) em(50) em(50);
						@media (min-width: $screen-lg-min){
							padding: em(60) em(25) em(25);
						}
						@media (min-width: $screen-xl-min){
							padding: em(70) em(50) em(50);
						}
					}
				}
				.plumber-tip{
					margin-top: em(20);
					@media (min-width: $screen-md-min){
						margin-top: em(-80);
					}
					@media (min-width: $screen-lg-min){
						padding: em(25);
					}
					@media (min-width: $screen-xl-min){
						padding: em(70) em(50) em(50);
					}
				}
				.image{
					margin-top: em(40);
				}	
		}
	}
}