body.love-calm{
	.we-love{
		background-position:-125px 0;		
	}
	.icon-share-dotted{
		color: $pink;
		font-size: em(46);
	}
	#collection-intro{
		margin-bottom: em(50);
		@media (min-width: $screen-md-min){
			margin-bottom: em(260);
		}
		@media (min-width: $screen-lg-min){
			margin-bottom: em(180);
		}
		@media (min-width: $screen-xl-min){
			margin-bottom: em(61);
		}
		.plant{
			position: absolute;
			left: 0;
			top: 0;
			max-width: em(80);
			@media (min-width: $screen-sm-min){
				max-width: em(120);
			}
			@media (min-width: $screen-md-min){
				max-width: em(180);	
			}
			@media (min-width: $screen-lg-min){
				max-width: em(320);
			}
			@media (min-width: $screen-xl-min){
				max-width: em(356);
			}
		}	
		header{
			background: none;
			position: relative;
			overflow: hidden;
			.image{
				position: relative;
			}
			margin-left: -30px;
			margin-right: -30px;
			@media (min-width: $screen-md-min){
				margin-left: 0;
				margin-right: 0;
			}
			h1{
				color: $white;
				position: absolute;
				top: em(11,40);
				right: 27.30263%;
				text-decoration: underline;
				font-size: em(40);
				@media (min-width: $screen-sm-min){
					font-size: em(90);
					top: em(40,90);
				}
				@media (min-width: $screen-md-min){
					font-size: em(90);
					top: 30.85106383%;
					right: 27.30263%;
				}				
			}							
		}
		.intro{
			position: relative;
			color: $pale-blue;
			.hanging-toy{
				position: absolute;
				right: 0;
				top: 0;
				z-index: 2;
				@media (min-width: $screen-md-min){
					right: 38%;
				}
				@media (min-width: $screen-lg-min){
					right: 33%;
				}
				img{
					max-width: 48px;
					@media (min-width: $screen-sm-min){
						max-width: 97px;	
					}
					@media (min-width: $screen-md-min){
						max-width: 140px;
					}
					@media (min-width: $screen-lg-min){
						max-width: 195px;
					}
				}
			}
			.intro-copy{
				position: relative;
				z-index: 1;
				font-weight: 700;
				padding-top: em(21);
				width: em(239);
				padding-left: em(42);
				@media (min-width: $screen-sm-min){
					padding-left: 0;
					width: em(288);
				}
				@media (min-width: $screen-md-min){
					padding-top: em(60);
					width: em(420);
					padding-left: 0;
					left: em(15);
				}
				@media (min-width: $screen-lg-min){
					width: em(310);
					left: em(64);
				}
				@media (min-width: $screen-xl-min){
					width: em(500);
					left: inherit;
				}
				.text{
					font-size: em(16);
					margin-bottom: em(20);
					@media (min-width: $screen-sm-min){
			  		font-size: em(20);
			  	}
					@media (min-width: $screen-md-min){
						font-size: em(34);
					}
				}
			}	
		}
		.products-we-love{
			position: relative;
			.product{
				position: relative;
				padding: em(120) em(0) em(20);
				@media (min-width: $screen-sm-min){
					padding: em(60) em(0) em(20);
				}
				@media (min-width: $screen-md-min){
					padding: em(132) em(0) em(20);
				}
				.image{
					.we-love{
						position: absolute;
						top: -36px;
						left: 50%;   				
						@include transform(translateX(-50%));
					}
					.share{
						position: absolute;
						top: 20px;
						right: 20px;
					}
				}
				.white-box{
					background: $white;
					font-size: em(18);
					line-height: 1.2em;
					padding: em(15) em(30) em(15) em(15);
					margin: 0 em(30) em(20);	
					position: relative;	
					@media (min-width: $screen-md-min){
						margin: 0 em(66) em(20) em(80);		
					}			
				}
				.button-mood-shop{
					position: absolute;
					bottom: em(-20);
					left: em(-45);
				}				
			}				
		}				
	}
	#bathrooms-for-inspiration{
		margin-bottom: 40px;
		.title-description{
			left: em(15);
			right: inherit;
			padding-bottom: em(20);
			margin-bottom: em(0);
			@media (min-width: $screen-sm-min){
				padding-bottom: em(40);
			}
			@media (min-width: $screen-xl-min){
				left: em(62);
				padding-bottom: em(50);
			}
			h2{
				color: $pale-blue;
				margin-bottom: 0;
			}
		}
		.products-used{
			h2{
				color: $pale-blue;
			}
			.products-slide{
				margin: 0 auto;				
			}
		}
		.bathroom{
			.hotspots{
				.hotspot{
					&:hover{
						color: $pale-blue;
					}
					&.spot-1{
						top: percentage(657/900);
						left: percentage(323/1253);
					}
					&.spot-2{
						top: percentage(400/900);
						left: percentage(1036/1253);
					}
					&.spot-3{
						top: percentage(676/900);
						left: percentage(544/1253);						
					}
					&.spot-4{
						top: percentage(620/900);
						left: percentage(648/1253);
					}
					&.spot-5{
						top: percentage(737/900);
						left: percentage(648/1253);						
					}
				}
				.hotspot-data{
					&.spot-3, &.spot-5{
						.text{
							margin-top: 0;
						}
					}
					.text{
						h3{
							color: $pale-blue;
						}
					}
					path.border{
						fill: $pale-blue;		
					}
					path.arrow{
						fill: $pale-blue;			
					}
				}
			}
		}		
	}
	#water-therapy{
		margin-bottom: 40px;
		.banner{
			position: relative;
			background-size: cover;
			background-position: center center;
			padding: em(165) em(20);
			text-align: center;
			margin-bottom: 40px;
			.text{
				text-align: left;
				@include clearfix;
				margin: 0 auto;
				display: inline-block;
				p{
					background: $white;
					color: $dark-green;
					margin: 0;
					padding: 5px 8px;
					display: block;
					float: left;
					clear: both;
					font-weight: bold;
					font-size: em(30);
					line-height: 1em;
					@media (min-width: $screen-sm-min){
						font-size: em(50);
					}
				}
			}
		}
		.products-grid{
			background: url(../images/calm/3-water-therapy/background.jpg) no-repeat center center;
			background-size: 80%;
			@media (min-width: $screen-md-min){
				background-size: inherit;
			}
			max-width: 1200px;
			margin: 0 auto;
			.product{
				padding-bottom: em(34);
				margin-bottom: 50px;
				.button-mood-shop{
					position: absolute;
					bottom: em(0);
					left: 0;
				}
				.image{
					margin-bottom: 38px;
				}
			}
		}
		.video{
			position: relative;
			max-width: 1440px;
			margin: 0 auto;
			background-size: cover;
			background-position: top right;
			@media (min-width: $screen-lg-min){
				height: 633px;
			}
			.video-content{
				position: relative;
			}
			.video-wrap{
				position: relative;
				height: em(400);
				@media (min-width: $screen-sm-min){
					height: em(480);
				}
				@media (min-width: $screen-lg-min){
					height: em(633);
				}
				padding-right: em(54);
				.video-iframe{
					position: relative;
					height: 100%;
					iframe{
						width: 100%;
						height: 100%;
						@extend %center-align;
					}
				}
				.close-video{
					position: absolute;
					top: 0;
					right: 0;
					text-align: center;
					color: $white;
					background: $pink;
					font-weight: 700;
					font-size: em(20);
					padding: em(20,20);
					@include appearance(none);
					border: none;
				}
			}
			.play{
				position: absolute;
				bottom: em(30);
				right: em(45);
				cursor: pointer;
				@media (min-width: $screen-sm-min){
					position: absolute;
				  top: 50%;
				  left: 50%;
				  bottom: inherit;
					right: inherit;
				  @include transform(translateY(-50%) translateX(-50%));
				}
				i{
					font-size: em(50);
					color: $white;
				}
			}
			.share{
				position: absolute;
				right: 30px;
				top: 40px;
				z-index: 2;
				@media (min-width: $screen-sm-min){
					bottom: inherit;
				}
			}
			.text{
				color: $white;
				padding: em(75) em(30) em(40);
				@media (min-width: $screen-sm-min){
					padding: em(80) em(60) em(60);
				}
				@media (min-width: $screen-lg-min){
					padding: em(174) em(60) em(74) em(200);
				}
				h2{
					font-size: em(50);
					text-decoration: underline;
					margin-bottom: 30px;
				}
				.product{
					color: $white;
				}
				.description{
					max-width: 100%;					
					@media (min-width: $screen-sm-min){
						max-width: em(250);
					}
					p{
						font-size: em(24);
					}
				}	
			}			
		}		
	}
	#tips{
		margin-bottom: 0;
		@media (min-width: $screen-sm-min){
			margin-bottom: em(40);
		}
		.banner{
			position: relative;
			@media (min-width: $screen-lg-min){
				min-height: 500px;
			}
			.image{
				position: relative;
				@media (min-width: $screen-sm-min){
					position: absolute;
					left: 0;
					top: em(20);
					padding-right: 17em;
					padding-left: em(40);
				}
				@media (min-width: $screen-xl-min){
					margin-left: 10em;
					padding-right: 0;
				}
			}
			.description{
				position: absolute;
				bottom: 0;
				left: 0;
				@include transform(translateY(90%));
				@media (min-width: $screen-sm-min){
					top: em(48);
					bottom: inherit;
					@include transform(none);
				}
				p{
					background: $pale-blue;
					color: $white;
					margin: 0;
					padding: 5px 8px;
					display: block;
					float: left;
					clear: both;
					font-weight: bold;
					font-size: em(16);
					line-height: 1em;
					@media (min-width: $screen-sm-min){
						font-size: em(21);
					}
					@media (min-width: $screen-md-min){
						font-size: em(30);
					}
				}
			}
			.title{
				margin: 0 auto;
				margin-top: em(152);
				margin-bottom: em(40);
				width: em(235);
				@media (min-width: $screen-sm-min){
					margin-top: em(180);
					width: em(326);
					margin: 0;
				}
				h2{
					color: $pale-blue;
					text-decoration: underline;
					margin-top: 0;
					margin-bottom: 30px;
					line-height: 1;
					font-size: em(40);
					@media (min-width: $screen-md-min){
						font-size: em(60);
					}
				}
				.message{
					p{
						background: $green;
						color: $white;
						margin: 0;
						padding: 5px 8px;
						display: block;
						float: left;
						clear: both;
						font-weight: bold;
						font-size: em(21);
						line-height: 1em;
						@media (min-width: $screen-md-min){
							font-size: em(30);
						}
					}
				}
			}
		}
		.tips{
			padding-top: 20px;
			.person{
				text-align: center;
				color: $pale-blue;
				margin: 0 auto;
				margin-bottom: em(30);
				width: em(156);
				@media (min-width: $screen-xl-min){
					margin-bottom: 0;
					margin-left: 72px;
				}
				h2{
					font-size: em(24);
					margin-bottom: 0;
				}
				.name{
					font-size: em(16);
				}
			}
			.tips-list{
				@media (min-width: $screen-xl-min){
					padding-right: 30%;
				}
			}
			.tip{
				position: relative;
				margin-bottom: em(20);
				padding: 0 em(40);
				@media (min-width: $screen-sm-min){
					padding-left: em(60);
				}
				h3{
					color: $pale-blue;
					font-size: em(24);
				}
				.text{
					font-size: em(18);
					color: $grey;
					line-height: em(20);
				}
			}
		}
	}
	#colour-picker{
		overflow: hidden;
		margin-bottom: em(30);
		@media (min-width: $screen-sm-min){
			margin-bottom: em(90);
		}
		.day-spa{
			margin-bottom: 0;
			@media (min-width: $screen-sm-min){
				margin-bottom: em(50);
			}
			position: relative;
			.text{
				font-size: em(40);
				font-weight: bold;
				line-height: 1em;
				text-decoration: underline;
				color: $pale-blue;
				position: relative;
				margin-top: 20px;
				margin-bottom: em(20,40);
				@media (min-width: $screen-md-min){
					font-size: em(50);
					margin-top: 0;
					margin-bottom: 0;
					position: absolute;
					top: 20%;
					left: 0;
					z-index: 2;
				}
			}
			.description{
				margin-top: 20px;
				padding-right: em(140);
				@media (min-width: $screen-md-min){
					margin-top: 0;
					padding-top: em(40);
					padding-left: em(190);
				}
				h3{
					color: $pale-blue;
					font-size: em(16);
					text-transform: uppercase;
					font-weight: 700;
					margin: 0;
					line-height: em(20);
				}
				p{
					color: $grey;
					font-size: em(16);
					line-height: em(20);
				}
			}
			.image-wrap{
				position: relative;
				.share{
					position: absolute;
					top: 30px;
					right: 30px;
				}
			}
			.slider{
				@media (min-width: $screen-md-min){
					padding-left: em(134);
				}
				button{
					@include appearance(none);
					background: none;
					border: none;
					outline: none;
					position: absolute;
					bottom: em(-38);
					top: inherit;
					z-index: 2;
					left: inherit;
					i{
						font-size: em(50);
						color: $pale-blue;
					}
					&.arrow-next{
						@include transform(translateY(100%));
						right: 0;
					}
					&.arrow-prev{
						@include transform(translateX(-100%) translateY(100%));
						right: 10px;
					}
					&.slick-disabled{
						display: block;
						i{
							color: $light-grey;
						}
					}
				}			
			}
		}
		.colour-picker{
			max-width: em(846);
			margin: 0 auto;
			h2{
				color: $pale-blue;
				font-size: em(40);
				text-decoration: underline;
				margin-bottom: em(40,40);
				@media (min-width: $screen-md-min){
					font-size: em(60);
				}
			}
			.description{
				color: $pale-blue;
				p{
					font-size: em(18);
					line-height: em(24,18);
				}
			}
		}
	}
	#favourites{
		margin-bottom: 40px;
		.banner{
			@media (min-width: $screen-lg-min){
				padding-left: 0;
			}
			@media (min-width: $screen-xl-min){
				padding-left: em(118);
			}
			.image-wrap{
				@media (min-width: $screen-md-min){
					padding-right: em(274);
				}
				@media (min-width: $screen-lg-min){
					padding-right: em(140);
				}
				.text{
					@media (min-width: $screen-sm-min){
						bottom: 5%;
						right: 0;
					}
					@media (min-width: $screen-md-min){
						right: 2%;
					}
					@media (min-width: $screen-lg-min){
						bottom: 5%;
						right: 0;
					}
					@media (min-width: $screen-xl-min){
						bottom: 5%;
						right: 17%;
					}
					h2{
						color: $pale-blue;
						text-decoration: underline;
					}
					.description{
						p{
							background: $pale-blue;
						}
					}	
				}
			}			
		}			
	}
	#footer-ads{
		padding-top: em(40);
		padding-bottom: 0;
		@media (min-width: $screen-md-min){
			padding-top: em(105);
			padding-bottom: em(70);
		}
		.pinterest-board{
			position: relative;
			margin-bottom: em(40);
			.text{
				width: 100%;
				padding: 0 em(30);
				@extend %center-align;
				text-align: center;
				max-width: 400px;
				.circle{
					width: 65px;
					height: 65px;
					margin: 0 auto;
					background: $pink;
					text-align: center;
					@include border-radius(50%);
					margin-top: 0;
					margin-bottom: em(20);
					@media (min-width: $screen-md-min){
						margin-top: em(40);
						margin-bottom: em(30);
					}
					i{
						color: $white;
						font-size: em(50);
				    position: relative;
    				top: 12px;
					}
				}
				.button{
					display: block;
					border: 2px solid $dark-grey;
					background: none;
					padding: em(20) em(30);
					color: $dark-grey;
					font-weight: 700;
					text-transform: uppercase;
					font-size: em(13);
					@media (min-width: $screen-md-min){
						font-size: em(16);
					}
				}
			}
		}
		.video{
			position: relative;
			margin-bottom: em(40);
			.video-content{
				position: relative;
			}
			.text{
				position: absolute;
				text-decoration: underline;
				font-size: em(50);
				font-weight: 700;
				left: 5%;
				top: 20%;
				line-height: 1em;
				color: $white;
				font-size: em(36);
				@media (min-width: $screen-md-min){
					font-size: em(50);
				}
			}
			.play{
				position: absolute;
				bottom: em(30);
				right: em(45);
				cursor: pointer;
				@media (min-width: $screen-sm-min){
					position: absolute;
				  top: 50%;
				  left: 50%;
				  bottom: inherit;
					right: inherit;
				  @include transform(translateY(-50%) translateX(-50%));
				}
				i{
					font-size: em(50);
					color: $white;
				}
			}
			.share{
				position: absolute;
				right: 30px;
				top: 40px;
				z-index: 2;
				@media (min-width: $screen-sm-min){
					bottom: inherit;
				}
			}
			.video-wrap{
				position: relative;
				height: em(237);
				@media (min-width: $screen-sm-min){
					height: em(217);
				}
				@media (min-width: $screen-sm-min){
					height: em(290);
				}
				@media (min-width: $screen-lg-min){
					height: 356px;
				}
				padding-right: em(54);
				.video-iframe{
					position: relative;
					height: 100%;
					iframe{
						width: 100%;
						height: 100%;
						@extend %center-align;
					}
				}
				.close-video{
					position: absolute;
					top: 0;
					right: 0;
					text-align: center;
					color: $white;
					background: $pink;
					font-weight: 700;
					font-size: em(20);
					padding: em(20,20);
					@include appearance(none);
					border: none;
				}
			}
		}
	}			
}