body.love-family{
	.we-love{
		background-position:0 0;		
	}
	.icon-share-dotted{
		color: $pink;
		font-size: em(46);
	}
	#collection-intro{
		margin-bottom: em(50);
		@media (min-width: $screen-sm-min){
			margin-bottom: em(284);
		}
		@media (min-width: $screen-md-min){
			margin-bottom: em(50);
		}
		header{
			background: none;
			position: relative;
			overflow: hidden;
			max-width: 1520px;
			margin: 0 auto;
			h1{
				color: $pink;
				position: absolute;
				bottom: 20%;
				left: 27.30263%;
				text-decoration: underline;
				font-size: em(30);				
				@media (min-width: $screen-sm-min){
					font-size: em(90);				
				}
			}		
		}
		.intro{
			position: relative;
			color: $pink;
			padding-top: em(20);
			@media (min-width: $screen-md-min){
				padding-top: em(40);
			}
			.shelves{
				@media (min-width: $screen-sm-min){
		    	padding: em(41) 0 0 em(27);
		    }
		    @media (min-width: $screen-lg-min){
		    	padding: em(82) 0 0 em(54);
		    }
		    img{
		    	max-width: em(120);
		    	@media (min-width: $screen-sm-min){
		    		max-width: 100%;
		    	}
		    }
			}
			.hanging-toy{
				position: absolute;
				right: 0;
				top: 0;
				z-index: 0;
				@media (min-width: $screen-md-min){
					right: em(20);
				}
				@media (min-width: $screen-lg-min){
					right: em(113);
				}
				img{
					max-width: em(48);
					@media (min-width: $screen-sm-min){
						max-width: em(60);	
					}
					@media (min-width: $screen-md-min){
						max-width: em(70);
					}
					@media (min-width: $screen-lg-min){
						max-width: em(97);
					}
				}
			}
			.intro-copy{
				position: relative;
				z-index: 1;
				font-size: em(16);
				font-weight: 700;
			  line-height: em(20);	
			  padding-right: 50px;
			  @media (min-width: $screen-sm-min){
			  	font-size: em(20);
			  	line-height: em(24,20);	
			  	padding-right: 0;
			  }
			  @media (min-width: $screen-md-min){
			  	font-size: em(34);
			  	line-height: em(41,34);	
			  }
			  @media (min-width: $screen-lg-min){
    	    padding-left: em(110, 34);
    			max-width: em(695,34);
    		}
    		p{
    			margin-bottom: em(20);
    		}
			}	
		}
		.happy-family-bathroom{
			position: relative;
			.products-we-love{
				position: relative;
				@media (min-width: $screen-sm-min){
					margin-right: 20px;	
				}
				@media (min-width: $screen-md-min){
					float:right;
					width: 483px;
					margin-right: 20px;	
				}
				@media (min-width: $screen-lg-min){
					float:right;
					width: 483px;
					margin-right: 204px;	
				}
				.we-love{
					position: absolute;
					top: em(74);
   				left: em(4);
   				z-index: 2;
   				@media (min-width: $screen-sm-min){
   					top: em(-32);
   				left: em(21);
   				}
				}
				.white-box{
					background: $white;					
				}
				.product-1{
					position: relative;
			    padding: em(120) em(30) em(20);
			    @media (min-width: $screen-sm-min){
			    	padding: em(64) em(30) em(20);
			    	width: 400px;
			    	float: right;
			    }
			    @media (min-width: $screen-md-min){
			    	float: none;
			    	width: auto;
			    	padding: em(64) em(84) em(20) em(62);
			    }
			    @media (min-width: $screen-lg-min){
			    	float: none;
			    	width: auto;
			    	padding: em(132) em(84) em(20) em(62);
			    }
					.image{
						position: absolute;
						max-width: em(131);
						z-index: 1;
						top: em(-20);
						right: em(6);
						@media (min-width: $screen-sm-min){
							top: em(-44);
							right: em(30);
						}
						@media (min-width: $screen-md-min){
							max-width: em(120);
			        top: em(-196);
	    				right: em(31);
						}
						@media (min-width: $screen-lg-min){
			        top: em(-171);
	    				right: em(12);
						}
						@media (min-width: $screen-xl-min){
			        top: em(-171);
	    				right: em(31);
						}
						img{
							max-width: em(73);
							@media (min-width: $screen-sm-min){
								max-width: em(90);
							}
							@media (min-width: $screen-md-min){
								max-width: 100%;
							}
						}
					}
					.white-box{
						font-size: em(14);
						line-height: em(18,14);
						padding: em(15,14) em(30,14) em(15,14) em(20,14);
				   	@media (min-width: $screen-sm-min){
							font-size: em(18);
					    padding: em(33,18) em(76,18) em(15,18) em(30,18);
					    line-height: em(22,18);
						}					
					}
					.share{
						position: absolute;
						top: em(70);
	   					left: em(-58);
						@media (min-width: $screen-sm-min){
					    top: em(116);
	   					left: em(40);
   					}
   					@media (min-width: $screen-md-min){
   						top: em(277);
   						left: em(55);
   					}
					}
					.button-mood-shop{
						float: right;
						margin-top: em(18);
						position: relative;
						z-index: 2;
						@media (min-width: $screen-md-min){
							margin-top: em(25);
						}
					}
				}
				.product-2{
					position: relative;
			    padding: em(175) em(15) em(30);
			    @media (min-width: $screen-sm-min){
			    	padding: em(30) em(15) em(30);
			    	width: 400px;
			    	float: left;
			    }
			    @media (min-width: $screen-md-min){
			    	width: auto;
			    	float: none;
			    	padding: em(130) em(29) em(30) em(47);
			    }
					.image{
						position: absolute;
						top: em(20);
						left: em(-20);
						width: em(250);
						@media (min-width: $screen-sm-min){
			        top: em(-178);
	    				left: em(-20);
	    				width: auto;
    				}
						@media (min-width: $screen-md-min){
			        top: em(-68);
	    				left: em(-43);
    				}
					}
					.white-box{
						padding: em(15) em(10) em(15) em(15);
						font-size: em(14);
						line-height: em(18,14);
						@media (min-width: $screen-sm-min){
							font-size: em(18);
							padding: em(24,18) em(20,18) em(20,18) em(29,18);
							line-height: em(22,18);
						}				    
					}
					.share{
				    top: em(9);
						left: em(177);
						position: absolute;
					}
					.button-mood-shop{
						margin-top: em(20);
					}					
				}
			}				
		}			
	}

	#bathrooms-for-inspiration{
		margin-bottom: em(40);
		.products-used{
			h2{
				color: $pink;
			}
		}
		.bathroom{
			.hotspots{
				.hotspot{
					color: $pink;
					&.spot-1{
						top: 36.5%;
						left: 18%;
					}
					&.spot-2{
						top: percentage(251/901);
						left: 22%;
					}
					&.spot-3{
						top: percentage(188/901);
						left: 39%;
					}
					&.spot-4{
						top: 62%;
						left: 74%;
					}
				}
			}
		}		
	}
	#circular-gallery{
		margin-bottom: 0;
		@media (min-width: $screen-sm-min){
			margin-bottom: em(94);
		}
		@media (min-width: $screen-md-min){
			margin-bottom: em(58);
		}
		.banner{
			position: relative;
			padding: em(45) 0 em(65) em(30);
			margin-bottom: em(40);
			@media (min-width: $screen-sm-min){
				padding: em(44) em(30);				
			}
			@media (min-width: $screen-md-min){
				padding: em(44) em(30) em(38);
			}
			@media (min-width: $screen-lg-min){
				padding: em(44) em(220) em(38) em(250);
			}
			h2{
				color: $pink;
				font-size: em(20);
				line-height: 1.14em;	
				@media (min-width: $screen-sm-min){
					font-size: em(32);
				}
				@media (min-width: $screen-md-min){
					font-size: em(40);
				}
				span{
					display: block;
					float: left;
					clear: both;
					padding: em(2) em(10);
					background: $white;
					@media (min-width: $screen-sm-min){
						padding: em(2) em(10);
					}
				}				
			}
			.we-love-stool-wrap{
				margin-top: em(40);
				@media (min-width: $screen-sm-min){
					position: absolute;
					right: em(20);
					top: em(63);
					margin-top: 0;
				}
				@media (min-width: $screen-md-min){
					width: em(386);
					top: em(20);
					right: em(60);
				}
				.we-love-stool{
					position: relative;
					margin-left: em(30);
					@media (min-width: $screen-sm-min){
						float: left;
					}
					@media (min-width: $screen-md-min){
						float: right;
					}		
					@media (min-width: $screen-lg-min){
						float: none;
					}					
					img{
						width: em(150);
						@media (min-width: $screen-sm-min){
							width: em(200);
						}
						@media (min-width: $screen-md-min){
							width: em(285);
						}
					}
					.we-love{
						position: absolute;
						bottom: em(16);
						left: em(-15);
					}				
				}
				.text{
					font-size: em(18);
					@include transform(translateY(10px));
					@media (min-width: $screen-sm-min){
						font-size: em(21);						
					}
					@media (min-width: $screen-md-min){

						
					}				
					.block{
						display: block;
						float: left;
						background: $pink;
						color: $white;
						font-weight: 700;
						clear: both;						
						padding: em(2) em(10);						
					}
				}
			}			
		}
		.circular-gallery{
			position: relative;
			padding-top: 0;
			.circular-list{
				position: relative;
				z-index: 3;
				@media (min-width: $screen-sm-min){
					margin-top: em(20);
					margin-left: em(79);
				}
				@media (min-width: $screen-md-min){
					margin-top: em(48);
					margin-left: 0;
				}
				@media (min-width: $screen-lg-min){
					margin-top: em(104);
					margin-left: em(79);
				}
				@media (min-width: $screen-xl-min){
					margin-top: em(180);
					margin-left: em(79);
				}
				.item{
					@include clearfix;
					margin-bottom: em(20);
					position: relative;
					.image{
						text-align: center;
						margin-bottom: em(20);
						@media (min-width: $screen-sm-min){
							position: absolute;
							top: em(29);
							left: 0;
							width: em(100);
						}
						@media (min-width: $screen-md-min){
							display: none;
						}
						.share{
							position: absolute;
							top: 50%;
							right: em(30);
							display: none;
							@media (min-width: $screen-md-min){
								display: block;
							}
						}
					}
				}
				.product{
					.number{
						width: 32px;
						height: 32px;
						color: $black;
						@include border-radius(50%);
						border: 1px solid $black;
						text-align: center;
						margin: 0 auto;
						margin-bottom: em(20);
						position: relative;
						@media (min-width: $screen-sm-min){
							position: absolute;
							left: 0;
							top: 0;
							margin:0;
						}
						.text{
							font-weight: 700;
							@extend %center-align;
							font-size: em(14);
						}
					}
					.details{
						position: relative;
						@media (min-width: $screen-sm-min){
							padding-left: em(55);
						}
						.name{
							font-size: em(14);
							color: $black;
							margin: 0;						
						}
						.description{
								font-size: em(14);
								color: $grey;
								font-weight: 400;
							}
						.button-mood-shop{
							margin-top: em(20);
							@media (min-width: $screen-md-min){
								display: none;
								position: absolute;
								top: 0;
								left: em(55);
								z-index: 2;
								margin-top: 0;
							}
						}
					}
					@media (min-width: $screen-sm-min){
						&:hover{
							.button-mood-shop{
								display: inline-block;
							}
						}
					}
				}
			}
			#circle{
				position: relative;
				height: em(420);
				width: em(300);
				margin: 0 auto;
				top: 0;
				@media (min-width: $screen-sm-min){
					top: em(-50);
					height: em(630);					
					width: auto;
				}
				@media (min-width: $screen-md-min){
					top: 0;
					height: em(630);
				}
				@media (min-width: $screen-lg-min){
					top: em(-50);
					height: em(750);
				}	
				@media (min-width: $screen-xl-min){
					height: em(950);
				}				
				.text{
					position: absolute;
					width: em(230);
					left: em(33);
					top: em(108);
					text-align: center;
					@media (min-width: $screen-sm-min){
						width: em(230);
						left: em(260);
						top: em(200);    
						text-align: left;				
					}
					@media (min-width: $screen-md-min){
						top: em(224);
		    		left: em(224);
						width: em(300);
						font-size: inherit;
					}				
					@media (min-width: $screen-lg-min){
		    		top: em(254);
		    		left: em(265);
						width: em(300);
						font-size: inherit;
					}
					@media (min-width: $screen-xl-min){
		    		top: em(314);
		    		left: em(447);
						width: em(300);
						font-size: inherit;
					}	
					h2{
						text-decoration: underline;
						font-size: em(22);
						line-height: em(26,22);
						@media (min-width: $screen-sm-min){
							font-size: em(44);
							line-height: em(48,44);
						}
						@media (min-width: $screen-md-min){
							font-size: em(44);
							line-height: em(48,44);
						}
						@media (min-width: $screen-lg-min){
							font-size: em(45);
							line-height: em(52,45);
						}
						@media (min-width: $screen-xl-min){
							font-size: em(60);
							line-height: em(72,60);
						}
					}
					.description{
						color: $grey;
						font-size: em(16);
						padding-top: em(140);
						@media (min-width: $screen-sm-min){
							font-size: em(21);
							line-height: em(25,21);
							padding-top: em(16,21);
						}
						@media (min-width: $screen-md-min){
							font-size: em(21);
							line-height: em(25,21);
							padding-top: em(16,21);
						}
						@media (min-width: $screen-lg-min){
							font-size: em(24);
							line-height: em(28,24);
							padding-top: em(16,24);
						}
						@media (min-width: $screen-xl-min){
							font-size: em(24);
							line-height: em(28,24);
							padding-top: em(16,24);
						}
					}
				}
				.circular-product{
					position: absolute;
					width: em(100);
					left: em(94);
					@include transition(1s all ease-out);
					@include transform-origin(center em(150));
					@media (min-width: $screen-sm-min){
						left: em(260);
						width: em(200);
						@include transform-origin(center 330px);
					}
					@media (min-width: $screen-md-min){
						width: em(230);
						left: em(228);
						@include transform-origin(center em(350));
					}		
					@media (min-width: $screen-lg-min){
						width: em(260);
						left: em(250);
						@include transform-origin(center em(400));
					}
					@media (min-width: $screen-xl-min){
						width: em(360);
						left: em(385);
						@include transform-origin(center em(500));
					}
					.share{
						position: absolute;
				    top: 40%;
				    right: 20%;
				    display: none;
				    @media (min-width: $screen-sm-min){
				    	display: block;
				    }
					}
					.number{
						position: absolute;
				    bottom: 0;
				    left: 23%;	
				    width: 20px;
				    height: 20px;
				    border: 1px solid $black;
				    @include border-radius(50%);
			      @media (min-width: $screen-sm-min){
			      	width: 32px;
				    	height: 32px;
			      }
				    .text{
				    	font-size: em(9);
				    	font-weight: 700;
				    	width: em(20,9);
				    	text-align: center;
				    	@extend %center-align;
				    	@media (min-width: $screen-sm-min){
				    		font-size: em(12);
				    		width: em(32,12);
				    	}
				    }
					}								
				}
				&.active{
					.circular-product{
						&.product-1{
							@include transform(rotate(0));							
						}
						&.product-2{
							@include transform(rotate(45deg));	
							.share,
							.number{
								@include transform(rotate(-45deg));	
							}
						}
						&.product-3{
							@include transform(rotate(90deg));		
							.share,
							.number{
								@include transform(rotate(-90deg));	
							}
						}
						&.product-4{
							@include transform(rotate(135deg));			
							.share,
							.number{
								@include transform(rotate(-135deg));	
							}
						}
						&.product-5{
							@include transform(rotate(180deg));		
							.share,
							.number{
								@include transform(rotate(-180deg));	
							}
						}
						&.product-6{
							@include transform(rotate(225deg));	
							.share,
							.number{
								@include transform(rotate(-225deg));	
							}
						}
						&.product-7{
							@include transform(rotate(270deg));		
							.share,
							.number{
								@include transform(rotate(-270deg));	
							}
						}
						&.product-8{
							@include transform(rotate(-45deg));	
							.share,
							.number{
								@include transform(rotate(45deg));	
							}
						}	
					}
				}
			}			
		}
	}
	#smart-storage{
		margin-bottom: em(40);
		.featured-products{
			padding: 0 em(30);
			.product{
				.image{
					@media (min-width: $screen-sm-min){
						margin-right: em(40);
					}
					@media (min-width: $screen-md-min){
						margin-right: em(30);
					}
					@media (min-width: $screen-lg-min){
						margin-right: em(100);
					}
				}
			}
		}	
		.intro{
			@media (min-width: $screen-sm-min){
				margin-bottom: em(20);
			}
			.banner{
				position: relative;
				padding-right: 0;
				margin-bottom: em(108);
				@media (min-width: $screen-sm-min){
					margin-bottom: em(40);
					padding-left: em(48);
				}
				@media (min-width: $screen-md-min){
					padding-left: em(130);
				}
				.description{
			    position: absolute;
			    font-size: em(21);
			    top: em(131,21);
			    left: 0;
			    @media (min-width: $screen-sm-min){
						left: 0;
						top: inherit;
						bottom: em(69);
					}
					@media (min-width: $screen-md-min){
						left: em(44);
					}
					.text-block{
						margin: 0;
						display: block;
						background: $pink;
						color: $white;
						padding: 4px 10px;
						float: left;
						clear: both;
						font-weight: 700;
						line-height: 1.2em;
						padding: em(3) em(10);
						&.block-2{
								padding-right: em(9,21);
						}						
					}
				}
			}
			.product{
				margin-bottom: 40px;
				padding-left: 30px;
				margin-left: em(32);
				@media (min-width: $screen-sm-min){
					padding-left: 0;
					margin-right: em(30);
					@include transform(translateY(em(-50)));
					margin-bottom: em(-50);
				}
				@media (min-width: $screen-xl-min){
					margin-right: 0;
				}
				.description{
					max-width: em(286);
				}
				.name{
					h2{
						font-size: em(16);						
					}
				}
				.image{
					position: relative;
					max-width: em(180);
					@media (min-width: $screen-sm-min){
						max-width: em(274);
					}
					.share{
						right: -40px;
					}
					.bluetooth{
						position: absolute;
						top: 140px;
						left: -30px;
						@media (min-width: $screen-sm-min){
							top: 70px;
							left: -30px;
						}
						img{
							max-width: 50px;
							@media (min-width: $screen-sm-min){
								max-width: 70px;
							}
						}
					}
				}
			}
		}
		.smart-storage{
			padding: em(30) em(10);
			@media (min-width: $screen-md-min){
				padding: em(70) em(300) em(30) em(40);
			}
			@media (min-width: $screen-xl-min){
				padding: em(70) em(490) em(30) em(40);
			}
			.text-wrap{
				position: relative;
				@media (min-width: $screen-md-min){
					position: absolute;
					bottom: em(5);
					right: em(-48);
					z-index: 1;
				}
				@media (min-width: $screen-lg-min){
					bottom: em(5);
					right: em(-128);					
				}
				@media (min-width: $screen-xl-min){
					bottom: em(20);
				}
				.title{
					h2{
						color: $pink;
						text-decoration: underline;			
						font-size: em(40);
						margin-bottom: em(20,40);			
						@media (min-width: $screen-md-min){
							margin-bottom: em(50,40);
							line-height: em(46,40);
						}
						@media (min-width: $screen-lg-min){
							font-size: em(60);
							margin-bottom: em(75,60);
							line-height: em(72,60);
						}
						@media (min-width: $screen-xl-min){
							margin-bottom: em(124,60);
						}
					}
					.image-text{
							width: em(200);
							font-size: em(16);
							margin-bottom: em(40);
							@media (min-width: $screen-sm-min){
							}
							@media (min-width: $screen-md-min){
								position: absolute;
								left: em(210);
								top: em(172);
								margin-bottom: 0;
							}
							@media (min-width: $screen-lg-min){
								left: em(184);
							}
							@media (min-width: $screen-xl-min){
								left: em(240);
							}
					}				
				}
				.we-love-basket{
						margin-bottom: em(40);
						@media (min-width: $screen-sm-min){
							position: absolute;
							bottom: 0;
							left: em(210);
							margin-bottom: 0;
						}
						@media (min-width: $screen-md-min){
							position: relative;
							left: inherit;
							bottom: inherit;
						}
						.text{
							background: $white;
							color: $pale-blue;
							font-size: em(16);
							width: 200px;
							padding: 10px;
							position: absolute;
							top: em(38);
							left: em(73);
							z-index: 0;
							@media (min-width: $screen-sm-min){
								position: relative;
								top: inherit;
								left: inherit;
							}
						}
						.basket{
							position: relative;
							width: 90px;
							text-align: center;
							@media (min-width: $screen-md-min){
								width: em(118);
								margin-top: em(20);
								margin-bottom: 0;
							}
							@media (min-width: $screen-lg-min){
								width: em(130);
							}
							img{
								position: relative;
								z-index: 1;
								@media (min-width: $screen-md-min){
									margin-left: em(32);
								}
							}
							.text{
								text-align: left;
								margin-top: em(10);
							}
							.we-love{
								position: absolute;
								top: em(-21);
								right: em(-25);
								z-index: 2;
								@media (min-width: $screen-sm-min){
									top: em(25);
									right: em(-25);
								}
								@media (min-width: $screen-md-min){
									top: em(31);
									right: em(-75);
									@include transform(scale(0.7));
								}
							}						
						}					
					}				
			}
			.image-description{
				position: relative;
			}			
		}			
	}
	#relationship-bliss{
		margin-bottom: em(40);
		.top-title{
			text-align: center;
			padding-top: em(20);
			@media (min-width: $screen-lg-min){
				padding-top: em(70);
			}
			@media (min-width: $screen-xl-min){
				padding-top: em(138);
			}
			h2{
				font-size: em(40);
				text-decoration: underline;
				@media (min-width: $screen-sm-min){
					font-size: em(60);
				}
			}
			p{
				font-size: em(24);
			}
		}
		.slides-wrap{
			padding-bottom: em(20);
			@media (min-width: $screen-md-min){
				
			}
			@media (min-width: $screen-lg-min){
				padding-bottom: em(70);
			}
			@media (min-width: $screen-xl-min){
				padding-bottom: em(138);
			}
			.arrow-prev{
				left: em(-50);
				top: em(62);
				@media (min-width: $screen-md-min){
					top: em(106);
				}
				i{
					font-size: em(50);
				}
			}
			.arrow-next{
				right: em(-50);
				top: em(62);
				@media (min-width: $screen-md-min){
					top: em(106);
				}
				i{
					font-size: em(50);
				}
			}
		}
		.banner{
			background: url('../images/line-pattern.jpg') repeat;
			margin-bottom: em(40);
			@media (min-width: $screen-sm-min){
				background-image: url('../images/family/5-relationship-bliss/bath-talk.jpg');
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
		.slides{
			max-width: em(250);
			margin: 0 auto;
			margin-bottom: em(40);
			@media (min-width: $screen-sm-min){
				max-width: em(250);
			}
			@media (min-width: $screen-md-min){
				max-width: em(456);
			}
			.slide{
				position: relative;
				text-align: center;
				.image{
					margin: 0 auto;
					max-width: 100%;
					@media (min-width: $screen-sm-min){
						max-width: em(250);
					}
					@media (min-width: $screen-md-min){
						max-width: em(500);
					}					
				}
				.product{
					color: $black;
					padding-bottom: 0;
					.price{
						padding-bottom: 0;
					}
				}
				.text{
					text-align: center;
					button{
						@include appearance(none);
						border: 3px solid $dark-grey;
						color: $dark-grey;
						text-transform: uppercase;
						padding: em(30);
						background: none;
						font-weight: 700;
						font-size: 1em;
					}
				}
			}
		}
		.lamp{
			position: absolute;
			top: em(-40);
			left: 0;
			width: em(30);
			@media (min-width: $screen-sm-min){
				left: 0;
				width: em(90);
			}
			@media (min-width: $screen-md-min){
				width: auto;
			}
		}
		.relationship-bliss{
			position: relative;
			margin-bottom: 40px;
			padding-bottom: 30px;
			@media (min-width: $screen-md-min){
				padding-left: 220px;
			}
			.dot-pattern{
				position: absolute;
				width: 55%;
				right: 0;
				top: 0;
				height: 100%;
				z-index: 0;
			}
			h2{
				color: $pink;
				font-size: em(30);
				text-decoration: underline;
				margin: 0;
				position: relative;
				z-index: 1;
				padding-left: em(40,30);
				margin-bottom: em(20,30);
				@media (min-width: $screen-sm-min){
					font-size: em(60);
					padding-left: 0;
					margin-bottom: 0;
					left: em(50);
				}
				@media (min-width: $screen-md-min){
				}
			}
		}
		.top-products{
			.product-1{
				margin: 0 auto;
				margin-top: 0;
				@media (min-width: $screen-sm-min){
					margin-top: em(39);
					max-width: em(515);
				}
				@media (min-width: $screen-md-min){
					max-width: auto;
				}
				.image{
					@media (min-width: $screen-lg-min){
						max-width: 100%;
					}
					img{
						@media (min-width: $screen-sm-min){
							width: em(515);
						}
						@media (min-width: $screen-md-min){
							width: auto;
						}
					}
				}
				.details{
					position: relative;
					.text{
						position: absolute;
						top: 0;
						left: em(80);
						.text-block{
							display: block;
							float: left;
							color: $white;
							background: $pink;
							font-weight: 700;
							padding: 5px 10px;
							clear: both;
							font-size: em(16);
							line-height: 1em;
							@media (min-width: $screen-sm-min){
								font-size: em(21);
							}
						}						
					}
					.button-mood-shop{
						margin-top: em(20);
						position: absolute;
						left: em(80,12);
						top: em(74,12);
						@media (min-width: $screen-sm-min){
							margin-top: 0;
							right: 0;
							top: 0;
							left: inherit;
						}
					}
				}
			}
			.we-love-candle{
		    	position: relative;
		    	width: em(200);
			    margin-top: em(120);
			    margin-left: em(52);
			    @media (min-width: $screen-sm-min){
			    	margin-left: em(400);
			    	width: em(300);
			    }
			    @media (min-width: $screen-md-min){
			    	margin-top: 0;
			    	margin-left: 0;
			    	width: auto;
			    }
		    .image{
					position: absolute;
					top: em(-40);
					z-index: 2;
					width: em(110);
					@media (min-width: $screen-sm-min){
						width: em(140);
					}
					@media (min-width: $screen-md-min){
						top: em(-120);
						left: em(-20);
						width: auto;
					}
					img{
						@media (min-width: $screen-md-min){
					    max-width: em(157);
							margin-top: em(45);
							margin-left: em(20);
							width: auto;
						}
						@media (min-width: $screen-lg-min){
							width: auto;
							max-width: 100%;
							margin-left: 0;
							margin-right: 0;
						}	
					}
					.we-love{
				    position: absolute;
					  left: -30px;
					  top: 20px;
					  @media (min-width: $screen-md-min){
					  	left: -60px;
					  }
					}
				}
				.text{
					margin-top: 60px;
					background: $white;
					padding: em(70) em(20) em(40);
					width: em(200);
					@media (min-width: $screen-sm-min){
						padding: em(80) em(40) em(40) em(50);
						width: em(260);
					}
				}
			}			
		}
		.bottom-products{
			position: relative;
			.dot-pattern{
				position: absolute;
				left: 0;
				top: 0;
				width: 50%;
				height: 90%;
			}
			.products-wrap{
				background: $white;
				@media (min-width: $screen-xl-min){
					margin-left: 120px;
					margin-right: 120px;
				}
				h3{
					font-size: em(30);
					text-decoration: underline;
					color: $pink;
					margin-bottom: 30px;
					@media (min-width: $screen-sm-min){
						font-size: em(40);
					}
				}
				.product-left{
					.image-wrap{
						padding-right: 0;
					}
					.image{
						position: relative;
						padding-left: em(50);
						@media (min-width: $screen-sm-min){
							padding-left: em(140);
						}
						@media (min-width: $screen-md-min){
							padding-left: em(100);
						}
						@media (min-width: $screen-lg-min){
							padding-left: em(200);
						}
						img{
							width: em(165);
						}
					}
					.use{
						position: absolute;
						text-transform: uppercase;
						font-size: em(9);
						font-weight: 700;
						width: em(47,9);
						left: 0;
						padding-right: em(5,9);
						text-align: right;
						@media (min-width: $screen-sm-min){
							font-size: em(14);
							width: em(80,14);
							padding-right: em(5,14);
						}
						@media (min-width: $screen-lg-min){
							font-size: em(18);
							width: em(145,18);
							left: em(20,18);
							padding-right: em(30,18);
						}
						&.for-dad{
							top: em(16,9);
							@media (min-width: $screen-sm-min){
								left: em(50,14);
								top: em(30,14);
							}
							@media (min-width: $screen-md-min){
								left: 0;
								top: em(30,14);
							}
							@media (min-width: $screen-lg-min){
								top: em(33,18);
							}
						}
						&.for-mum{
							top: em(103,9);
							@media (min-width: $screen-sm-min){
								left: em(50,14);
								top: em(188,14);
							}
							@media (min-width: $screen-md-min){
								left: 0;
								top: em(190);
							}
							@media (min-width: $screen-lg-min){
								top: em(190,18);
							}
						}
						&.for-little-tacker{
							top: em(202,9);
							@media (min-width: $screen-sm-min){
								left: em(50,14);
								top: em(355,14);								
							}
							@media (min-width: $screen-md-min){
								left: 0;
								top: em(355,14);								
							}
							@media (min-width: $screen-lg-min){
								top: em(346,18);								
							}
						}
					}
					.line{
				    height: 180px;
				    width: 5px;
				    background-color: $pink;
				    position: absolute;
				    right: 0;
				    top: 0;
						&:after{
							    display: block;
							    width: 35px;
							    height: 5px;
							    background-color: $pink;
							    position: absolute;
							    top: 50%;
							    left: 0;
							    content: " ";
						}
					}					
				}
				.product{
					.description{
						margin-bottom: 20px;
					}
				}
				.product-right{
					margin-top: em(40);
					@media (min-width: $screen-sm-min){
							margin: 0 auto;
							max-width: em(500);
					 		margin-top: em(30);					 		
					}
					@media (min-width: $screen-md-min){
						width: auto;
						margin-top: em(70);
					}
					.image{
						max-width: 180px;
						@media (min-width: $screen-sm-min){
							float: right;
							max-width: inherit;
						}
						@media (min-width: $screen-md-min){
							float: none;
						}
					}
				}
			}
		}
	}
	#shower-settings{
		margin-bottom: 40px;
		.banner{
			position: relative;
			margin-bottom: em(40);
			background-size: cover;
			padding: em(67) em(30) em(40);
			@media (min-width: $screen-sm-min){
				padding: em(67) em(30) em(80) em(80);
			}
			@media (min-width: $screen-md-min){
				padding: em(67) 0 em(180) em(290);
			}
			.text{
				h2{
					color: $pink;
					text-decoration: underline;
					margin-bottom: em(48, 60);
					margin-top: 0;
					line-height: 1.12em;
					font-size: em(30);
					@media (min-width: $screen-sm-min){
						font-size: em(60);
					}
				}
				.description{
					line-height: 1.2em;
					color: $dark-grey;
					margin-bottom: em(38);
					max-width: 473px;	
					font-size: em(16);
					@media (min-width: $screen-sm-min){
						font-size: em(24);
					}
				}
				a{
					background: $dark-grey;
					border:none;					
					color: $white;
					text-transform: uppercase;
					font-weight: 700;
					max-width: 318px;
					display: block;
					text-align: center;
					font-size: em(14);
					padding: 10px; 
					@media (min-width: $screen-sm-min){
						font-size: em(16);
						height: 78px;
						line-height: 78px;					
						padding: 0;
					}
				}
			}
		}
		.shower-settings{
			.intro{
				padding-left: em(14);
    		@media (min-width: $screen-sm-min){
    			padding-right: em(80);
    		}
				h2{
    			margin-top: 0;
    			line-height: 1.2em;
    			text-decoration: underline;
					color: $green;
					font-size: em(30);
					margin-bottom: em(20,30);
    			@media (min-width: $screen-sm-min){
						font-size: em(40);
						margin-bottom: em(46,40);
					}
    		}
				.text{
					margin-bottom: 47px;
					line-height: 1.2em;
					color: $grey;
					font-size: em(18);
					@media (min-width: $screen-sm-min){
						font-size: em(16);
					}
				}
			}
			.shower-image{
				background-repeat: no-repeat;
				background-position: top center;
				background-size: contain;
				text-align: center;
				position: relative;
				min-height: 320px;
				max-width: 512px;
				margin: 0 auto;
				@media (min-width: $screen-sm-min){
					min-height: 420px;
				}
				@media (min-width: $screen-lg-min){
					min-height: 1000px;
					top: em(-280);
					margin-bottom: -360px;
				}
				button{
					position: absolute;
					bottom: 100px;
					right: -10px;
				}
				img{
					opacity: 1;
					margin-top: 9px;
					@include transition(opacity 0s ease-out);
				}
				&.soft-rain{
					background-image:url(../images/family/6-shower-settings/soft-rain.gif);
					img{
						opacity: 0;
						@include transition(opacity 0.5s ease-out);
					}
				}
				&.intense-rain{
					background-image:url(../images/family/6-shower-settings/intense-rain.gif);
					img{
						opacity: 0;
						@include transition(opacity 0.5s ease-out);
					}
				}
				&.massage{
					background-image:url(../images/family/6-shower-settings/massage.gif);
					img{
						opacity: 0;
						@include transition(opacity 0.5s ease-out);
					}
				}
			}
			.shower_rain{
				border: none;
				background: none;
				@include appearance(none);
				outline: none;
				border-bottom: 1px solid $light-grey;
				width: 100%;
				text-align: left;
				cursor: pointer;
				padding: em(10);
				@media (min-width: $screen-md-min){
					padding: em(20);
				}
				@media (min-width: $screen-md-min){
					padding: em(38) em(5) em(25) em(39);
				}
				svg{
					width: 200px;
					height: 42px;
					max-width: 100%;
					@media (min-width: $screen-sm-min){
						width: 195px;
						height: 41px;						
					}
					@media (min-width: $screen-md-min){
						width: 360px;
						height: 76px;
					}					
				}
				&:hover{
					background: $green;
					svg{
						.icon{
							path{
								fill: $white;	
							}							
						}
						.name{
							path{
								fill: $white;
							}							
						}
						.number{
							path{
								fill: $white;
							}							
						}
					}
				}
				&.active{
					background: $green;
					svg{
						.icon{
							path{
								fill: $black;	
							}							
						}
						.name{
							path{
								fill: $white;
							}							
						}
						.number{
							path{
								fill: $white;
							}							
						}
					}
				}
			}
			.options-panel{
				@media (min-width: $screen-md-min){
					padding-left: em(14);
    			padding-right: em(80);
    		}
    		.options{
					margin-bottom: 40px;;
				}
				.product{
					.name{
						h3{
							font-size: em(18);
						}
					}
					.description,
					.price{
						font-size: em(16);
					}
				}
			}
		}
	}
	#favourites{
		.banner{
			.image-wrap{
				.we-love{
					@media (min-width: $screen-sm-min){
						left: em(170);
					}
					@media (min-width: $screen-md-min){
						left: 50%;
					}
				}
				.text{
					@media (min-width: $screen-md-min){
						right: 0;
					}
					@media (min-width: $screen-lg-min){
						right: 4%;
					}
					@media (min-width: $screen-xl-min){
						bottom: 5%;
						right: 17%;
					}
					h2{
						@media (min-width: $screen-md-min){
							float: none;
							font-size: em(50);
							margin-bottom: em(34,50);
						}
						@media (min-width: $screen-xl-min){
							float: right;
							font-size: em(70);
							margin-bottom: em(70,70);
						}
					}
					.description{
						@media (min-width: $screen-md-min){
							margin-right: 0;
						}
						p{
							@media (min-width: $screen-md-min){
								font-size: em(21);
							}
							@media (min-width: $screen-xl-min){
								font-size: em(30);
							}
						}
					}					
				}
			}
		}
	}
	#footer-ads{
		overflow: hidden;
		margin-bottom: em(40);
		.dot-pattern{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.the-powder-room{
	    position: absolute;
	    right: 0;
	    top: -24px;
	    opacity: 0.87;
	    width: 125px;
	    @media (min-width: $screen-sm-min){
	    	right: em(100);
		    top: -38px;
		    opacity: 0.87;
		    width: em(190);
	    }
	    @media (min-width: $screen-lg-min){
	    	right: 100px;
		    top: -57px;
		    opacity: 0.87;
		    width: auto;
	    }
		}
		.content{
			padding-top: em(115);
			@media (min-width: $screen-sm-min){
				padding: em(109) em(30) em(40);
			}
			@media (min-width: $screen-xl-min){
				padding: em(109) em(23) em(40) em(123);
			}
		}
		.top-section{
			position: relative;
			@media (min-width: $screen-sm-min){
				margin-top: em(53);
			}
			@media (min-width: $screen-lg-min){
				margin-top: 0;
			}
			.pinterest-board{
				position: relative;
				margin-bottom: em(20);
				@media (min-width: $screen-sm-min){
					margin-bottom: em(58);
				}
				img{
					width: 100%;
				}
				.text{
					@extend %center-align;
			    text-align: center;
  				width: 80%;
					.circle{
						width: 42px;
						height: 42px;
						margin: 0 auto;
						background: $pink;
						text-align: center;
						margin-bottom: em(30,30);
						@include border-radius(50%);
						@media (min-width: $screen-sm-min){
							margin-top: em(40,50);
							margin-bottom: em(30,50);
							width: 65px;
							height: 65px;						
						}
						i{
							color: $white;
							font-size: em(30);
					    position: relative;
	    				top: 9px;
	    				@media (min-width: $screen-sm-min){
	    					top: 12px;
	    					font-size: em(50);
	    				}
						}
					}
					.button{
						display: block;
						border: 2px solid $dark-grey;
						background: none;
						padding: 20px 30px;
						color: $dark-grey;
						font-weight: 700;
						text-transform: uppercase;
						font-size: em(12);
						padding: em(10);
						@media (min-width: $screen-sm-min){
							font-size: em(16);
							padding: em(20) em(30);
						}
					}
				}
			}
			.intro{
				@media (min-width: $screen-sm-min){
					position: absolute;
					left: 60%;
					bottom: em(49);
				}
				@media (min-width: $screen-md-min){
					bottom: em(70);
				}
				@media (min-width: $screen-xl-min){
					bottom: em(58);
				}
				.link{
					margin-top: 10px;
					margin-bottom: 20px;
					a{
						text-decoration: underline;
						color: $grey;
						font-size: em(30);
						font-weight: 700;
					}
				}
				.text-block{
					margin: 0;
					display: block;
					background: $pink;
					color: $white;
					padding: 4px 10px;
					float: left;
					clear: both;
					font-size: em(14);
					font-weight: 700;
					line-height: 1.2em;
					@media (min-width: $screen-sm-min){
						padding: 5px 10px;
						font-size: em(22);
					}
					@media (min-width: $screen-md-min){
						font-size: em(28);
					}
					@media (min-width: $screen-xl-min){
						font-size: em(32);
					}
				}
			}
		}
		.bottom-section{
			.tips{
				background: $white;
				padding: em(20);
				margin-bottom: em(20);
				@media (min-width: $screen-sm-min){
					padding: em(30);
				}
				@media (min-width: $screen-lg-min){
					width: em(400);
					padding: em(40) em(64);
				}
				@media (min-width: $screen-xl-min){
					width: em(406);
					padding: em(72) em(125) em(82) em(75);
					margin-left: em(42);
				}
				.play{
					i{
						font-size: em(50);
						color: $dark-grey;
					}
				}
				a{
					color: $pink;
					text-decoration: underline;
					font-size: em(18);
					font-weight: 700;
				}
				h2{
					font-size: em(50);
					color: $pink;
					line-height: 1.2em;
					text-decoration: underline;
					margin-top: 0;
					span{
						color: $white;
						background: $pink;
						margin-left: 15px;
					}
				}
				h3{
					font-weight: 400;
					color: $pink;
					font-size: em(24);
					a{
						text-decoration: none;
						font-weight: 400;
					}
				}				
			}
			.peace-of-mind{
				.image{
					position: relative;
					@media (min-width: $screen-sm-min){
						padding-left: em(20);
					}
					@media (min-width: $screen-lg-min){
						padding-left: 0;
					}
					h2{
						color: $grey;
						text-decoration: underline;
						font-size: em(30);
						@media (min-width: $screen-sm-min){
							font-size: em(50);
							position: absolute;
							left: em(-10,50);
							bottom: em(20,50);
						}
						@media (min-width: $screen-lg-min){
							font-size: em(50);
							position: absolute;
							left: em(-30,50);
							bottom: em(20,50);
						}
					}
				}
				.text{
					padding: em(20);
					@media (min-width: $screen-lg-min){
						padding: em(20) 0;
						max-width: em(400);
					}
				}				
			}
		}		
	}
}