//
// Four Steps to Create
// -------------------------------------

$stepOneHex : $dark-green;
$stepOneNumber: $gold;
$stepOneTip: $dark-green-highlight;
$stepsGrey: $blue-grey;
$stepTwoHex: $pink;
$stepThreeHex: $purple-grey;
$stepFourHex: $gold;
$stylingTip: $blue-grey;
$pinterestTip: $dark-green-highlight;
$designFromHomeTip: $brown-grey;

$hexLargeWidth-lg: 530px;
$hexLargeHeight-lg: 584px;

$hexLargeWidth-xs: 280px;
$hexLargeHeight-xs: 310px;

$hexTipWidth-lg: 138px;
$hexTipHeight-lg: 151px;

body.four-steps-to-create{
  // Hex Blocks
  .hex-large{
    position: relative;
    width: $hexLargeWidth-xs;
    height: $hexLargeHeight-xs;
    @media (min-width: $screen-sm-min){
      width: $hexLargeWidth-lg;
    height: $hexLargeHeight-lg;
    }
    &>svg{
      width: $hexLargeWidth-xs;
      height: $hexLargeHeight-xs;
      @media (min-width: $screen-sm-min){
        width: $hexLargeWidth-lg;
      height: $hexLargeHeight-lg;
      }
    }
    .hex-content{
      position: relative;
    }
    .description{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      .step-number{
        position: absolute;
        font-size: em(60);
        width: 2em;
        text-align: center;
        font-weight: bold;
       @media (min-width: $screen-sm-min){
        font-size: em(100);
       }
      }      
      .text{
        color: $white;
        padding: 0 em(30);
        text-align: center;
        width: 100%;
        @extend %center-align;
        @media (min-width: $screen-sm-min){
          padding: 0 em(95);
        }
        h2{
          text-decoration: underline;
          font-size: em(21);
           @media (min-width: $screen-sm-min){
            font-size: em(32);
           }
        }
        p{
          font-size: em(12);
          line-height: 1.5em;
          margin-bottom: 0; 
          @media (min-width: $screen-sm-min){
            font-size: em(20);
          }
        }
      }
    }
  }
  .hex-tip{
    color: $white; 
    width: $hexTipWidth-lg;
    height: $hexTipHeight-lg;
    position: absolute;
    svg{
      width: $hexTipWidth-lg;
      height: $hexTipHeight-lg;
    }
    .text{
      font-family: $font-family-serif;
      font-weight: bold;
      font-style: italic;
      font-size: em(20);
      margin: 0;    
      padding: 0;
      text-align: center;
      width: 100%;
      z-index: 1;
      @extend %center-align;
    }
  }
  .links{
    margin-top: 10px;
    margin-bottom: 0;
    @media (min-width: $screen-sm-min){
      margin-top: em(30);
      margin-bottom: em(30);
    }
    a{
      display: block;
    }
    li{
      padding: 0 2px;
      @media (min-width: $screen-sm-min){
        padding: 0 5px;
      }
    }
    .circle{
      @include border-radius(50%);
      border: 2px solid $white;
      position: relative;
      width: 30px;
        height: 30px;
      display: block;
      @media (min-width: $screen-sm-min){
        border: 4px solid $white;
        width: 50px;
        height: 50px;
      }
      i{
        color: $white;
        @extend %center-align;
        font-size: em(18);
        @media (min-width: $screen-sm-min){
          font-size: em(24);
        }
      }
    }
    }
  .tile{
    .text{
      h4{
        .subtitle{
          text-decoration: underline;
        }
        .icon{
          img{
            width: em(25);
          }
        }
      }
      p{
        font-size: em(15);
        line-height: em(22);
      }
    }
  }
  // Hero Title
  .page-hero{
    text-align: center;
    @media (min-width: $screen-sm-min){
      text-align: left;
      position: absolute;
      top: em(20);
      right: em(20);
    }
    @media (min-width: $screen-md-min){
      top: em(20);
      right: em(20);
    }
     @media (min-width: $screen-lg-min){
      top: em(43);
      right: em(20);
      left: auto;
     }
      @media (min-width: $screen-xl-min){
        top: em(43);
    left: em(248);
    right: auto;
      }
    h1{
      margin: 0;
      text-decoration: underline;
      font-size: em(30);
      @media (min-width: $screen-sm-min){
        font-size: em(52);
      }
    }
  }
  // Step One
  .section-step-one{
    position: relative;
    margin-top: em(40);
  @media (min-width: $screen-sm-min){
    margin-top: em(152);
   }
   @media (min-width: $screen-md-min){
    margin-top: em(127);
   }
    @media (min-width: $screen-lg-min){
      margin-top: em(75);
    }
    @media (min-width: $screen-xl-min){
      margin-top: em(198);
      height: em(1192);
    }
    header{
      position: relative;
      z-index: 3;
      margin-top: em(67);
      svg{
        path{
          fill: $stepOneHex;
        }
      }
      .hex-large{
        margin: 0 auto;
        margin-top: em(120);
        @media (min-width: $screen-sm-min){
          margin-top: em(236);
        }
        svg{
          position: relative;
          z-index: 1;
        }
        .description{
          z-index: 1;
        }
        .mixer-taps{
          position: absolute;
          top: em(-125);
          left: em(-8);
          width: em(240);
          @media (min-width: $screen-sm-min){
            top: em(-235);
            left: em(-37);
            width: auto;
          }
        } 
        .tile-polaroid{
          display: none;
          @media (min-width: $screen-sm-min){
            position: absolute;
            top: em(-48);
            left: em(-420);
            z-index: 0;
            display: block;
          }
        }
        .tile-finishing-touches{
          position: absolute;
          top: em(240);
          left: 0;
          z-index: 4;
          width: 100%;
          @media (min-width: $screen-sm-min){
            max-width: 600px;
            width: auto;
            top: em(385);
            left: em(-102);
          }
          @media (min-width: $screen-md-min){
            top: em(355);
            left: em(-266);
          }
          @media (min-width: $screen-md-min){
            top: em(355);
            left: em(-215);
          }
          @media (min-width: $screen-xl-min){
            top: em(355);
            left: em(-266);
          }

          .image-hexagons{
            width: em(183);
            margin: 0 auto;
            margin-top: em(43);
            @media (min-width: $screen-sm-min){
              width: em(241);
              margin-top: 130px;
              margin-left: em(-11);
            }
            @media (min-width: $screen-md-min){
              width: em(298);
              margin-left: 0;
            }
          }
          .product-bathtub{
            position: absolute;
            width: em(200);
            top: 0;
            left: 50%;
            @include transform(translateX(-50%));
            @media (min-width: $screen-sm-min){
              width: em(367);
              top: 0;
              left: em(-88);
              @include transform(none);
            }
            @media (min-width: $screen-md-min){
              width: 420px;
            }        
          }
          .product-shelf{
            position: relative;
            top: em(-51);
            margin-bottom: em(-40);
            width: em(200);
            margin: 0 auto;
            @media (min-width: $screen-sm-min){
              width: 270px;
              position: absolute;
              top: em(220);
              left: em(120);
            }
            @media (min-width: $screen-md-min){
              top: em(250);
            left: em(214);
            }
          }
          .text{
            width: em(205);
            position: relative;
            margin: 0 auto;
            text-align: center;
            top: em(-40);
            @media (min-width: $screen-sm-min){
              position: absolute;
              text-align: left;
              top: em(299);
              left: em(187);
              width: em(205);
            }
            @media (min-width: $screen-md-min){
              top: em(327);
              left: em(294);
            }
          }
        }       
      }
      .step-number{
        top: 2%;
        left: 50%;
        margin-left: -1em;
        color: $stepOneNumber;
      }
      .hex-tip{
        top: em(-9);
        left: em(26);
        display: none;
        @media (min-width: $screen-sm-min){
          display: block;
        }
        svg{
          path{
            fill: $stepOneTip;
          }
        }
      }
    }
    .tile-trends{
      position: relative;
      z-index: 2;
      margin-top: em(299);
      @media (min-width: $screen-sm-min){
        margin-top: 0;
        float: right;
        margin-right: em(-90);
        width: 560px;
      }
      @media (min-width: $screen-md-min){
        width: 560px;
        margin-top: 0; 
        margin-right: em(-186);       
      }
      @media (min-width: $screen-lg-min){
        width: 560px;
        margin-top: 0; 
        margin-right: em(-270);       
      }
      @media (min-width: $screen-xl-min){
        margin-top: 0;
        position: absolute;
        top: em(-305);
        left: em(438);
        z-index: 0;
      }
      @include clearfix;
      .thumb{
        @media (min-width: $screen-sm-min){
          float: right;
          width: 60%;
        }
        @media (min-width: $screen-xl-min){
          float: left;
          width: 60%;
        }
      }
      .text{
        padding: 10px 20px 30px 5px;
        width: em(260);
        margin: 0 auto;
        text-align: center;
        @media (min-width: $screen-sm-min){
          position: absolute;
          text-align: left;
          bottom: 0;        
          left: 0;
          right: auto;
          margin: 0;
          margin-left: em(40);
          padding: 10px 0 30px 5px;
          width: em(203);
        }
        @media (min-width: $screen-xl-min){
          right: 0;
          padding: 10px 20px 30px 5px;
          left: auto;
          margin-left: 0;
          width: 40%;
        }
      }
    }
    .bottom-section{
      @include clearfix;
      @media (min-width: $screen-sm-min){
        margin-top: em(120);
      }
      @media (min-width: $screen-md-min){
        margin-top: em(37);
      }
      @media (min-width: $screen-lg-min){
        margin-top: em(12);
      }
      @media (min-width: $screen-xl-min){
        margin-top: 0;
      }
      .tile-collecting-tips{
        position: relative;
        @media (min-width: $screen-sm-min){
          float: left;
          margin-left: em(80);
        }
        @media (min-width: $screen-md-min){
          margin-left: em(150);
        }
        @media (min-width: $screen-xl-min){
          margin-left: 0;
          margin-top: em(-115);
          margin-right: em(53);
          float: right;
        }
        .dot-pattern{
          padding: em(20);
        }
        .hero-image{
          max-width: 600px;
        }
        .hex-tip{
          display: none;
          top: -65px;
          right: 385px;
          @media (min-width: $screen-sm-min){
            display: block;
            left: em(-60);
            right: auto;
          }
          @media (min-width: $screen-md-min){
            left: 43;
            right: auto;
          }
          @media (min-width: $screen-lg-min){
            right: 70px;
          }
           @media (min-width: $screen-xl-min){
            right: 170px;
          }
          .stool{
            position: absolute;
            top: em(-213);
            right: em(-25);
            width: em(179);
            z-index: 0;
          }
          .plant{
            position: absolute;
            top: em(-126);
            right: em(-94);
            width: em(163);
          }
          svg{
            position: relative;
            path{
              fill: $stylingTip;
            }
          }
        }
      }
      .tile-pinterest{
        position: relative;
        z-index: 4;
        clear: both;
        max-width: 640px;
        @media (min-width: $screen-sm-min){
          float: left;
          width: 100%;
          margin-left: em(80);
          top: em(-100);
          margin-bottom: em(-80);
        }
        @media (min-width: $screen-md-min){
          margin-left: em(150);
        }
        @media (min-width: $screen-xl-min){
          float: right;
          margin-left: 0;
          margin-right: em(53);
        }
        .ipad-thumb{
          z-index: 1;
          @media (min-width: $screen-sm-min){
            float: left;
            margin-left: em(-20);
          }
          .thumb{
            width: em(280);
            margin: 0 auto;
            margin-top: em(20);
            @media (min-width: $screen-sm-min){
              margin-top: 0;
              margin: 0;
              float: left;
              width: 60%;
            }            
          }
          .text{
            width: em(260);
            margin: 0 auto;
            text-align: center;
            @media (min-width: $screen-sm-min){
              text-align: left;
              margin: 0;
              width: 40%;
              padding: 10px 20px 30px 5px;
              position: absolute;
              right: 0;
              bottom: 10%;     
            }
            @media (min-width: $screen-md-min){
              bottom: em(221);
            }
            @media (min-width: $screen-xl-min){
              bottom: 10%; 
            }
          }
        }
        .hex-tip{
          left: 0;
          top: 0;
          display: none;
          @include transform(translateY(-50%) translateX(-50%));
          z-index: 2;
          @media (min-width: $screen-sm-min){
            display: block;
          }
          
          svg{
            path{
              fill: $pinterestTip;
            }
          }
        }
      }
    }
    
  }
  // Step Two
  .section-step-two{
    position: relative;
    z-index: 3;
    margin-top: em(40);
    @media (min-width: $screen-sm-min){
      margin-top: 0;
    }
    @media (min-width: $screen-md-min){
      top: em(-62);
      margin-bottom: em(-62);
      margin-right: em(34);
    }
    @media (min-width: $screen-lg-min){
      top: em(-234);
      margin-bottom: em(-234);
      margin-right: 0;
    }
    @media (min-width: $screen-xl-min){
      top: auto;
      margin-bottom: 0;
    }
    header{
      @include clearfix;
      position: relative;
      
      @media (min-width: $screen-sm-min){
        margin-right: em(80);  
      }
      @media (min-width: $screen-lg-min){
        margin-right: em(144);
      }
      @media (min-width: $screen-xl-min){
        margin-left: em(172);
        margin-right: 0;
      }
      .hex-large{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        @media (min-width: $screen-sm-min){
          margin: 0;
          float: right;
        }
        @media (min-width: $screen-xl-min){
          float: left;
          margin: 0;
        }
        svg{
          position: relative;
          z-index: 1;
          path{
            fill: $stepTwoHex
          }
        }
        .step-number{
          position: absolute;
          top: em(366,100);
          color:  $stepThreeHex;
          z-index: 1;
          left: em(-30,60);
          @media (min-width: $screen-sm-min){
            left: em(-111,100);
          }
        }
        .tile-reece-picture{
          position: relative;
          z-index: 0;
          @media (min-width: $screen-sm-min){
            position: absolute;
            top: em(372);
            left: em(-119);
            
          }
          .text{
            width: em(215);
            margin: 0 auto;
            text-align: center;
            margin-bottom: em(40);
            @media (min-width: $screen-sm-min){
              text-align: left;
              margin: 0;
            }
            @media (min-width: $screen-md-min){
              text-align: left;
              margin: 0;
              position: absolute;
              left: em(-190);
              top: em(192);
            }            
            @media (min-width: $screen-xl-min){
              left: auto;
              top: auto;
              position: relative;
            }
          }
        }      
        .tile-magazine{
          @media (min-width: $screen-sm-min){
            position: absolute;
            top: em(553);
            left: em(156);
            z-index: 2;
            width: em(235);
          }
          @media (min-width: $screen-md-min){
            left: em(170);
          }
          .image{
            text-align: center;
          }
          .hex-content{
            margin-bottom: em(40);
            @media (min-width: $screen-sm-min){
              margin-bottom: 0;
            }
          }
          .text{
            width: em(194);
            margin: 0 auto;
            text-align: center;
            @media (min-width: $screen-sm-min){
              position: absolute;
              margin: 0;
              text-align: left;
              top: em(112);
              left: em(250);
            }
            @media (min-width: $screen-md-min){
              left: em(266);
            }
            h4{
              .icon{
                img{
                  width: em(19);
                }
              }
            }
          }
        }
      }      
    }
  }
  // Step Three
  .section-step-three{
    position: relative;
    z-index: 2;
    margin-top: em(40);
    @media (min-width: $screen-sm-min){
      margin-top: em(500);
    }
    @media (min-width: $screen-md-min){
      margin-top: em(300);
    }
    @media (min-width: $screen-xl-min){
      margin-top: 0;
    }
    header{
      @include clearfix;
      .hex-large{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        @media (min-width: $screen-md-min){
          margin-left: em(24);
        }
        @media (min-width: $screen-lg-min){
          margin-left: em(152);
        }
        @media (min-width: $screen-xl-min){
          float: right;
          margin-right: em(152);
        }
        svg{
          path{
            fill: $stepThreeHex
          }
        }
        
        .step-number{
          position: absolute;
          top: em(20,100);
          left: em(43,100);
          color:  $stepFourHex;
        }
        .hex-content{
            @media (min-width: $screen-sm-min){
              margin-bottom: 0;
            }
          }
      }     
    }
    .tile-laptop{
      z-index: 1;
      position: relative;
      top: em(-50);
      margin-bottom: em(-50);
      @media (min-width: $screen-sm-min){
        position: absolute;
        margin-bottom: 0;
        width: em(626);
        left: em(-20);
        top: em(454);        
      }
      @media (min-width: $screen-md-min){
        width: em(550);
      left: em(404);
      top: em(143);
      }
      @media (min-width: $screen-lg-min){
        width: em(620);
      left: em(404);
      top: em(122);
      }
      @media (min-width: $screen-xl-min){
        width: em(754);
        right: em(-144);
        top: em(460);
        left: auto;
      }
      .info{
        .text{
          width: em(206);
          text-align: center;
          margin: 0 auto;
          margin-bottom: em(40);
          @media (min-width: $screen-sm-min){
            text-align: left;
            margin: 0;
            position: absolute;
            top: em(357);
            left: em(18);
          }
          @media (min-width: $screen-lg-min){
            top: em(444);
          left: em(86);
          }
        }
      }
      .hex-tip{
        left: auto;
        top: em(150);
        right: em(-27);
        z-index: 2;
        @include transform(translateY(-50%) translateX(-50%));
        display: none;
        @media (min-width: $screen-sm-min){
          display: block;
        }
        @media (min-width: $screen-xl-min){
          top: em(223);
        }
        svg{
          path{
            fill: $designFromHomeTip;
          }
        }
      }
    }

  }
  // Step Four
  .section-step-four{
    position: relative;
    z-index: 1;
    @media (min-width: $screen-sm-min){
      margin-top: em(849);
    }
    @media (min-width: $screen-md-min){
      margin-top: em(325);
      margin-left: em(140);
    }
    @media (min-width: $screen-lg-min){
      margin-top: em(425);
      margin-left: em(281);
    }
    @media (min-width: $screen-xl-min){
      margin-top: 0;
      margin-left: 0;
    }
    header{
      position: relative;
      z-index: 1;
      @media (min-width: $screen-md-min){
        margin-left: em(286);
      }
      svg{
        path{
          fill: $stepFourHex
        }
      }
      .hex-large{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        margin-bottom: em(40);
        @media (min-width: $screen-md-min){
          margin-left: 0;
          margin-bottom: em(40);
        }
        @media (min-width: $screen-xl-min){
          margin-left: 0;
          margin-bottom: em(350);
        }
        svg{
          position: relative;
          z-index: 1;
        }
        .description{
          z-index: 1;
        }
        .hex-content{
          position: relative;
          top: em(-50);
          margin-bottom: em(-50);
          @media (min-width: $screen-sm-min){
            top: auto;
            margin: 0;
          }
        }
        .step-number{
          position: absolute;
          top: em(-22,60);
          left: em(77,60);
          color:  $stepThreeHex;
          @media (min-width: $screen-sm-min){
            top: em(-19,100);
            left: em(15,100);
          }
          @media (min-width: $screen-md-min){
            top: em(85,100);
            left: em(-111,100);
          }
          @media (min-width: $screen-lg-min){
            top: em(85,100);
          }
          @media (min-width: $screen-xl-min){
            top: em(366,100);
          }
        }
        .tile-picture{
          z-index: 0; 
          @media (min-width: $screen-sm-min){
          position: absolute;
          margin-bottom: em(40);
            top: em(-400);
            left: em(-89);
            width: em(700);
          }
          @media (min-width: $screen-md-min){
            top: em(-205);
            left: em(-400);
          }
          @media (min-width: $screen-lg-min){
            top: em(-205);
            left: em(-500);
          }
          @media (min-width: $screen-xl-min){
            top: em(376);
            left: em(-270);
          }     
        }
      }     
    }    
  }
  #main-content{
    section#subscribe{
      h2{
        background: $light-black;
      }
    }
  }
}