//
// Four Steps to Create
// -------------------------------------

$stepOneGreen : $dark-green;
$stepOneNumber: $gold;
$stepOneTip: $dark-green-highlight;
$stepsGrey: $blue-grey;
$stepTwoPink: $pink;

$hexLargeWidth-lg: 530px;
$hexLargeHeight-lg: auto;

$hexTipWidth-lg: 138px;
$hexTipHeight-lg: auto;

body.four-steps-to-create{
  // Hex Blocks
  .hex-large,
  .hex-tip{
    position: relative;
    color: $white;
    .text{
      text-align: center;
      width: 100%;
      @extend %center-align;
    }
  }
  .hex-large{
    width: $hexLargeWidth-lg;
    height: $hexLargeHeight-lg;
    &>svg{
      width: $hexLargeWidth-lg;
      height: $hexLargeHeight-lg;
    }
    .step-number{
      position: absolute;
      font-size: em(100);
      width: 2em;
      text-align: center;
      font-weight: bold;
    }
    .text{
      padding: 0 15%;
      h2{
        text-decoration: underline;
      }
      p{
        font-size: em(20);
        line-height: 1.5em;
        margin-bottom: 0; 
      }
    }
  }
  .hex-tip{
    width: $hexTipWidth-lg;
    height: $hexTipHeight-lg;
    font-family: $font-family-serif;
    font-weight: bold;
    font-style: italic;
    font-size: em(20);
    position: absolute;
    svg{
      width: $hexTipWidth-lg;
      height: $hexTipHeight-lg;
    }
  }
  // Hero Title
  .page-hero{
    h1{
      text-decoration: underline;
      padding-top: 10%;
      padding-left: 10%;
    }
  }
  // Step One
  .section-step-one{
    position: relative;
    header{
      @extend %center-align-top;
      z-index: 3;
      svg{
        path{
          fill: $stepOneGreen;
        }
      }

      .step-number{
        top: 2%;
        left: 50%;
        margin-left: -1em;
      }
      .hex-tip{
        top: 0;
        left: 0;
        svg{
          path{
            fill: $stepOneTip;
          }
        }
      }
    }
    .tile-trends{
      position: relative;
      z-index: 2;
      max-width: 560px;
      float: right;
      @include clearfix;
      .thumb{
        float: left;
        width: 60%
      }
    }
    .tile-polaroid{
      position: relative;
      z-index: 1;
      float: left;
      max-width: 500px;
    }
    .tile-finishing-touches{
      background: url(../images/steps/bg-hexagons.png) no-repeat center;
      background-size: 50%;
      max-width: 600px;
      position: relative;
      z-index: 4;
      clear: both;
      padding: 250px 0 0 200px;
    }
    .tile-collecting-tips{
      position: relative;
      z-index: 1;
      float: right;
      margin-top: -10%;
      .hero-image{
        max-width: 600px;
      }
      .hex-tip{
        top: 0;
        left: 0;
        svg{
          path{
            fill: $stepOneTip;
          }
        }
      }
    }
    .tile-pinterest{
      position: relative;
      z-index: 4;
      float: right;
      clear: both;
    }
  }
  // Step Two
  .section-step-two{

  }
  // Step Three
  .section-step-three{
    
  }
  // Step Four
  .section-step-four{
    
  }
}