body.homepage{
	#banner{
		position: relative;
		margin-top: 40px;
		.image{
			overflow: hidden;
		}
		.destination-happiness{
			position: absolute;
			left: 22%;
			bottom: 0;
			width: 30%;
			@include transform(translateY(20%));
						
		}
	}
	#homepage{
		position: relative;
		.main-content{
			.intro{
				position: relative;
				color: $green;
				font-weight: 700;
				line-height: 1em;
				z-index: 3;
				font-size: em(30);
				padding-left: em(30,30);
				padding-top: em(30,30);
				padding-right: em(50,30);
				@media (min-width: $screen-md-min){
					position: absolute;
					font-size: em(50);
					padding-left: em(30,50);
					padding-top: em(30,50);
				}
			}
			p{
				margin-bottom: em(10);
			}
			.hanging-toy{
				position: absolute;
				top: 0px;
				right: 25px;
				z-index: 1;
				max-width: 45px;
				@media (min-width: $screen-sm-min){
					max-width: 97px;
				}
			}
		}
	}
	.plant{
		position: absolute;
		left:0;
		top: 177px;
		max-width: 70px;
		@include transform(translateX(-10px));
		@media (min-width: $screen-sm-min){
			max-width: 214px;
			@include transform(translateX(-30px));
		}
	}
	.candle{
		position: absolute;
		left:0;
		top: 417px;	
		max-width: 73px;
		@include transform(translateX(-9px));
		@media (min-width: $screen-sm-min){
			top: 920px;	
			max-width: 229px;
			@include transform(translateX(-30px));
		}
	}
	.bathtub{
		position: absolute;
		left:0;
		top: 1047px;
		max-width: 192px;
		@include transform(translateX(-95px));
		@media (min-width: $screen-sm-min){
			top: 1200px;
		max-width: 619px;
		@include transform(translateX(-122px));
		}
	}
	.towels{
		position: absolute;
		right:0;
		top: 422px;
		max-width: 272px;
		@include transform(translateX(170px));
		@media (min-width: $screen-sm-min){
			top: 880px;
			max-width: 611px;
			@include transform(translateX(180px));
		}
	}
	.hex-elements{
		position: relative;
		z-index: 2;
		min-height: 1600px;
		max-width: 1194px;
		margin: 0 auto;
		margin-top: 40px;
		@media (min-width: $screen-xs-min){
			@include transform-origin(top right);
			@include transform(scale(0.6));
			min-height: 600px;
		
		}
		@media (min-width: $screen-md-min){
			@include transform(none);
			min-height: 1600px;
		
		}
			
		.tap{
			position: absolute;
			right: 133px;
	    top: 32px;
	    width: 120px;
			@media (min-width: $screen-sm-min){
				width: auto;
				right: 348px;
		    top: 43px;
	  	}
		}
    .hex{
			line-height: 1em;
			display: block;
			vertical-align: middle;
			margin-right: 10px;
			margin-left: 10px;
			position: absolute;
			a{
				display: block;
				position: relative;
			}
			svg{
				position: relative;
				top: 50%;
				@include transform(translateY(-50%));
			}
			&.pink{
				rect{
					fill: $pink;
				}
			}
			&.green{
				rect{
					fill: $green;
				}
				.text{
					text-transform: uppercase;
				}
			}
			&.blue{
				rect{
					fill: $blue;
				}
				.text{
					text-transform: uppercase;
				}
			}
			&.grey{
				rect{
					fill: $light-grey;
				}
				.text{
					color: $pale-blue;
					text-transform: uppercase;
				}
			}
			&.lg{
				margin-bottom: 40px;
				a{
					height: 180px;
				}
				svg{
					width: $hex-big-xs-wd;
    			height: $hex-big-xs-hg;	
					@media (min-width: $screen-xs-min){
    				width: $hex-big-sm-wd;
    				height: $hex-big-sm-hg;	
    			}
				}
				.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@extend %center-align;
    			@media (min-width: $screen-xs-min){
    				font-size: em(36);
    			}
    		}
			}
			&.sm{
				a{
					height: 125px;
				}
				svg{
					width: $hex-small-xs-wd;
    			height: $hex-small-xs-hg;	
					@media (min-width: $screen-xs-min){
    				width: $hex-small-sm-wd;
    				height: $hex-small-sm-hg;	
    			}
				}
			}
			.text{
				text-align: center;
				color: $white;
				position: absolute;
		    white-space: nowrap;
				@extend %center-align;
				font-weight: 700;
			}
			&.hex-1{
				right: 133px;
    		top: 288px;
    		font-size: em(10);
    		@media (min-width: $screen-xs-min){
    			font-size: 1em;
    			width: auto;
	    		right: 192px;
	    		top: 0;
    		}    		
			}
			&.hex-2{
				right: 30px;
    		top: 140px;
    		@media (min-width: $screen-xs-min){
    			right: 0;
    			top: 236px;
    		}
    		.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@extend %center-align;
    			@media (min-width: $screen-xs-min){
    				font-size: em(36);
    			}
    		}
			}
			&.hex-3{
				right: 133px;
    		top: 288px;
    		font-size: em(10);
    		@media (min-width: $screen-xs-min){
    			font-size: 1em;
    			width: auto;
	    		right: 182px;
	    		top: 503px;
    		}    		
			}
			&.hex-4{
				right: 205px;
    		top: 392px;
    		font-size: em(11);
    		@media (min-width: $screen-xs-min){
    			font-size: em(18);
	    		right: 314px;
    			top: 686px;
    		}    		
			}
			&.hex-5{
				right: 78px;
    		top: 400px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			right: 84px;
	    		top: 704px;
	    		font-size: em(20);
    		}    		
			}
			&.hex-6{
				right: 20px;
    		top: 506px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			right: 727px;
	    		top: 931px;
	    		font-size: em(20);
    		}    		    		
			}
			&.hex-7{
				right: 138px;
    		top: 510px;
    		@media (min-width: $screen-xs-min){
    			width: auto;
    			right: 415px;
    			top: 867px;
    		}
    		.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@extend %center-align;
    			@media (min-width: $screen-xs-min){
    				font-size: em(36);
    			}
    		}
			}
			&.hex-8{
				right: 203px;
    		top: 676px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			right: 199px;
    			top: 903px;
	    		font-size: em(20);
    		}    		    		
			}
			&.hex-9{
				right: 81px;
    		top: 658px;
    		font-size: em(10);
    		@media (min-width: $screen-xs-min){
    			right: 625px;
    			top: 1120px;
	    		font-size: em(14);
    		}    		   
    		.image{
    			width: 80px;
    			height: 30px;
    			overflow: hidden;
    			@media (min-width: $screen-xs-min){
	    			width: 112px;
	    			height: 43px;
    			}    			
    		}
			}
			&.hex-10{
				right: 16px;
    		top: 770px;
    		font-size: em(11);
    		@media (min-width: $screen-xs-min){
    			right: 348px;
    			top: 1152px;
	    		font-size: em(20);
    		}    		
			}
			&.hex-11{
				right: 137px;
    		top: 781px;
    		font-size: em(11);
    		@media (min-width: $screen-xs-min){
    			right: 512px;
    			top: 1309px;
	    		font-size: em(20);
    		}    						
			}
			&.hex-12{
				right: 144px;
    		top: 1039px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			font-size: em(20);
	    		right: 215px;
    			top: 1342px;
    		}    		
			}
			&.hex-12{
				right: 49px;
    		top: 883px;
    		@media (min-width: $screen-xs-min){
    			right: 585px;
    			top: 1498px;
    		}
    		    		.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@extend %center-align;
    			@media (min-width: $screen-xs-min){
    				font-size: em(36);
    			}
    		}    		
			}
			&.hex-13{
				right: 20px;
    		top: 1037px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			font-size: em(20);
	    		right: 368px;
    			top: 1529px;
    		}    		
			}
			&.hex-14{
				right: 204px;
    		top: 1147px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			font-size: em(20);
		    	right: 147px;
	    		top: 1536px;
    		}    		
			}
			&.hex-15{
				right: 78px;
    		top: 1154px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			font-size: em(20);
	    		right: 260px;
    			top: 1713px;
    		}    		
			}
			&.hex-16{
				right: 145px;
    		top: 1260px;
    		font-size: em(12);
    		@media (min-width: $screen-xs-min){
    			font-size: em(20);
	    		right: 29px;
    			top: 1713px;
    		}    		
			}
		}
	}
	#subscribe{
		.chair{
			position: absolute;
      left: -30px;
    	top: -171px;
    	width: 198px;
    	@media (min-width: $screen-sm-min){
    		left: 104px;
    		top: -303px;
    		width: auto;
    	}
		}
		h2{
			color: $white;
			background: $green;
			float: left;
			margin-top: 0;
			padding: em(10,45) em(20,45) em(10,45) em(9,45);
			margin-bottom: em(20,45);
			font-size: em(45);			
		}
		.line-pattern{
			padding: em(69,45) em(210,45) em(30,45) em(240,45);
		}
		.form{
			input{
				font-size: em(24);
				padding: 0;
				height: em(74,24);				
			}
			input[type=text],
			input[type=email]{
				background: $white;
				border: none;
				@include box-shadow(none);
				margin-right: 17px;
				padding: 0 em(31,24);
    		line-height: 1em;
    		width: 100%;
    		margin-bottom: 1em;
    		@media (min-width: $screen-sm-min){
    			width: 33.178%;
    			margin-bottom: 0;    			
				}
			}
			input[type=submit]
			{
				border:0;
				background: $green;
				color: $white;
				text-decoration: underline;
				font-weight: bold;
				@include border-radius(0);
				font-size: em(25);
				padding: 0 em(50,25);
    		line-height: 1em;    		
			}
		}
		.we-love-basket{
			position: absolute;
	    right: 30px;
		  bottom: -30px;
		  width: 87px;
			@media (min-width: $screen-sm-min){
				right: 96px;
	    	bottom: -28px;
	    	top: inherit;
	    	width: auto;
    	}
			i{
				position: absolute;
				color: $pale-blue;
				top: 20px;
				right: -22px;
				@media (min-width: $screen-sm-min){
					font-size: 50px;
				}
			}
		}
	}
}