body.homepage{
	#banner{
		position: relative;
		padding-top: em(30);
		max-width: 1520px;
		margin: 0 auto;
		.image{
			overflow: hidden;
		}
		.destination-happiness{
			position: absolute;
			left: 22%;
			bottom: 0;
			width: 30%;
			@include transform(translateY(20%));
		}
	}
	#homepage{
		position: relative;
		.main-content{
			.intro{
				position: relative;
				color: $green;
				font-weight: 700;
				line-height: 1em;
				z-index: 3;
				font-size: em(22);
				padding-left: em(30,22);
				padding-top: em(50,22);
				padding-right: em(40,22);
				text-decoration: underline;
				@media (min-width: $screen-sm-min){
					position: absolute;
					width: 450px;
					font-size: em(30);
					padding-left: em(30,30);
					padding-top: em(30,30);
					padding-right: 0;
				}
				@media (min-width: $screen-md-min){
					position: absolute;
					width: 520px;
					font-size: em(36);
					padding-left: em(30,36);
					padding-top: em(30,36);
				}
				@media (min-width: $screen-lg-min){
					width: 710px;
					font-size: em(50);
				}
				@media (min-width: $screen-xl-min){
					width: 820px;
				}
			}
			p{
				margin-bottom: em(10);
			}
			.hanging-toy{
				position: absolute;
				top: 0;
				right: 25px;
				z-index: 1;
				max-width: 45px;
				@media (min-width: $screen-sm-min){
					top: -40px;
					max-width: 46px;
				}
				@media (min-width: $screen-md-min){
					max-width: 60px;
				}
				@media (min-width: $screen-xl-min){
					max-width: 97px;
				}
			}
		}
	}
	.plant{
		position: absolute;
		left:0;
		top: -100px;
		max-width: 70px;
		@include transform(translateX(-10px));
		@media (min-width: $screen-sm-min){
			top: 177px;
			max-width: 214px;
			@include transform(translateX(-30px));
		}
	}
	.candle{
		position: absolute;
		left:0;
		top: 150px;	
		max-width: 73px;
		@include transform(translateX(-30px));
		@media (min-width: $screen-sm-min){
			top: 920px;	
			max-width: 229px;
			@include transform(translateX(-30px));
		}
		@media (min-width: $screen-md-min){
			@include transform(translateX(-190px));
		}
		@media (min-width: $screen-lg-min){
			@include transform(translateX(-30px));
		}
	}
	.bathtub{
		position: absolute;
		left:0;
		top: 335px;
		max-width: 192px;
		@include transform(translateX(-95px));
		@media (min-width: $screen-sm-min){
			top: 1200px;
			max-width: 619px;
			@include transform(translateX(-122px));
		}
		@media (min-width: $screen-md-min){
			@include transform(translateX(-450px));
		}
		@media (min-width: $screen-lg-min){
			@include transform(translateX(-122px));
		}
	}
	.towels{
		position: absolute;
		right:0;
		top: 420px;
		max-width: 130px;
		@include transform(translateX(34px));
		@media (min-width: $screen-sm-min){
			top: 880px;
			max-width: 611px;
			@include transform(translateX(180px));
		}
		@media (min-width: $screen-md-min){
			@include transform(translateX(340px));
		}
		@media (min-width: $screen-lg-min){
			@include transform(translateX(180px));
		}
	}
	.hex-elements{
		position: relative;
		z-index: 2;
		min-height: 1600px;
		width: 280px;
		margin: 0 auto;
		margin-top: 40px;
		@media (min-width: $screen-sm-min){
			width: auto;
			max-width: 1194px;
			@include transform-origin(top right);
			@include transform(scale(0.7));
			min-height: 1550px;	
		}
		@media (min-width: $screen-md-min){
			@include transform(none);
			min-height: 2080px;
		}
		@media (min-width: $screen-lg-min){
			min-height: 2000px;
		}
			
		.tap{
			position: absolute;
			right: 133px;
	    top: 32px;
	    width: 120px;
			@media (min-width: $screen-sm-min){
				width: auto;
				right: 348px;
		    top: 43px;
	  	}
		}
    .hex{
			line-height: 1em;
			display: block;
			vertical-align: middle;
			margin-right: 10px;
			margin-left: 10px;
			position: absolute;
			a{
				display: block;
				position: relative;
			}
			svg{
				position: relative;
				top: 50%;
				@include transform(translateY(-50%));
			}
			&.pink{
				rect{
					fill: $pink;
				}
			}
			&.green{
				rect{
					fill: $green;
				}
				.text{
					text-transform: uppercase;
				}
			}
			&.blue{
				rect{
					fill: $blue;
				}
				.text{
					text-transform: uppercase;
				}
			}
			&.grey{
				rect{
					fill: $light-grey;
				}
				.text{
					color: $pale-blue;
					text-transform: uppercase;
				}
			}
			&.lg{
				margin-bottom: 40px;
				a{
					height: 180px;
				}
				svg{
					width: $hex-big-xs-wd;
    			height: $hex-big-xs-hg;	
					@media (min-width: $screen-sm-min){
    				width: $hex-big-sm-wd;
    				height: $hex-big-sm-hg;	
    			}
				}
				.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@extend %center-align;
    			@media (min-width: $screen-sm-min){
    				font-size: em(36);
    			}
    		}
			}
			&.sm{
				a{
					height: 125px;
				}
				svg{
					width: $hex-small-xs-wd;
    			height: $hex-small-xs-hg;	
					@media (min-width: $screen-sm-min){
    				width: $hex-small-sm-wd;
    				height: $hex-small-sm-hg;	
    			}
				}
			}
			.text{
				text-align: center;
				color: $white;
				position: absolute;
		    white-space: nowrap;
				@extend %center-align;
				font-weight: 700;
			}
			&.hex-1{
				display: none;
				right: 133px;
    		top: 288px;
    		font-size: em(10);
    		@media (min-width: $screen-sm-min){
    			display: block;
    			font-size: 1em;
    			width: auto;
	    		right: 192px;
	    		top: 0;
    		}    		
			}
			&.hex-2{
				right: 0;
    		top: 0;
    		@media (min-width: $screen-sm-min){
    			right: 0;
    			top: 236px;
    		}
    		.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@extend %center-align;
    			@media (min-width: $screen-sm-min){
    				font-size: em(36);
    			}
    		}
			}
			&.hex-3{
				display: none;
				right: 133px;
    		top: 288px;
    		font-size: em(10);
    		@media (min-width: $screen-sm-min){
    			display: block;
    			font-size: 1em;
    			width: auto;
	    		right: 182px;
	    		top: 503px;
    		}    		
			}
			&.hex-4{
				display: none;
				right: 205px;
    		top: 392px;
    		font-size: em(11);
    		@media (min-width: $screen-sm-min){
    			display: block;
    			font-size: em(18);
	    		right: 314px;
    			top: 686px;
    		}    		
			}
			&.hex-5{
				right: 90px;
    		top: 155px;
    		font-size: em(12);
    		@media (min-width: $screen-sm-min){
    			right: 84px;
	    		top: 704px;
	    		font-size: em(20);
    		}    		
			}
			&.hex-6{
				right: 0px;
    		top: 264px;
    		font-size: em(12);
    		@media (min-width: $screen-sm-min){
    			right: 727px;
	    		top: 931px;
	    		font-size: em(20);
    		}    		    		
			}
			&.hex-7{
				right: 127px;
    		top: 277px;
    		@media (min-width: $screen-sm-min){
    			width: auto;
    			right: 415px;
    			top: 867px;
    		}
    		.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@extend %center-align;
    			@media (min-width: $screen-sm-min){
    				font-size: em(36);
    			}
    		}
			}
			&.hex-8{
				right: 27px;
    		top: 407px;
    		font-size: em(12);
    		@media (min-width: $screen-sm-min){
    			right: 199px;
    			top: 903px;
	    		font-size: em(20);
    		}    		    		
			}
			&.hex-9{
				right: 81px;
    		top: 658px;
    		font-size: em(10);
    		@media (min-width: $screen-sm-min){
    			right: 625px;
    			top: 1120px;
	    		font-size: em(14);
    		}    		   
    		.image{
    			width: 80px;
    			height: 30px;
    			overflow: hidden;
    			@media (min-width: $screen-sm-min){
	    			width: 112px;
	    			height: 43px;
    			}    			
    		}
			}
			&.hex-10{
				right: 16px;
    		top: 770px;
    		font-size: em(11);
    		@media (min-width: $screen-sm-min){
    			right: 348px;
    			top: 1152px;
	    		font-size: em(20);
    		}    		
			}
			&.hex-11{
				right: 137px;
    		top: 781px;
    		font-size: em(11);
    		@media (min-width: $screen-sm-min){
    			right: 218px;
    			top: 1345px;
	    		font-size: em(20);
    		}    						
			}
			&.hex-12{
				right: 49px;
    		top: 883px;
    		@media (min-width: $screen-sm-min){
    			right: 586px;
    			top: 1500px;
    		}
    		.text{
    			line-height: em(20);
    			font-size: em(20);
    			border-bottom: 4px solid $white;
    			@media (min-width: $screen-sm-min){
    				font-size: em(36);
    			}
    		}    		
			}
			&.hex-13{
				right: 20px;
    		top: 1037px;
    		font-size: em(12);
    		@media (min-width: $screen-sm-min){
    			font-size: em(20);
	    		right: 373px;
    			top: 1528px;
    		}    		
			}
			&.hex-14{
				right: 204px;
    		top: 1147px;
    		font-size: em(12);
    		@media (min-width: $screen-sm-min){
    			font-size: em(20);
		    	right: 147px;
	    		top: 1537px;
    		}    		
			}
			&.hex-15{
				right: 78px;
    		top: 1154px;
    		font-size: em(12);
    		@media (min-width: $screen-sm-min){
    			font-size: em(20);
	    		right: 260px;
    			top: 1713px;
    		}    		
			}
			&.hex-16{
				right: 145px;
    		top: 1260px;
    		font-size: em(12);
    		@media (min-width: $screen-sm-min){
    			font-size: em(20);
	    		right: 29px;
    			top: 1713px;
    		}    		
			}
		}
	}	
}