body.love-luxury{
	.we-love{
		background-position:-126px 0;
		@media (min-width: $screen-sm-min){
			background-position:-250px 0;
		}
	}
	.icon-share-dotted{
		color: $pink;
		font-size: em(46);
	}
	#collection-intro{
		margin-bottom: em(40);
		header{
			background: none;
			position: relative;
			overflow: hidden;
			max-width: 1520px;
			margin: 0 auto;
			h1{
				color: $gold;
				position: absolute;
				bottom: 20%;
				left: 22%;
				text-decoration: underline;
				font-size: em(30);				
				@media (min-width: $screen-sm-min){
					font-size: em(90);				
				}
			}		
		}
		.intro{
			position: relative;
			padding-top: em(20);
			@media (min-width: $screen-md-min){
				padding-top: em(40);
			}
			@media (min-width: $screen-lg-min){
				padding: em(82) 0 0 em(54);
			}
		}
		.hanging-toy{
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			@media (min-width: $screen-md-min){
				left: 0;
			}
			@media (min-width: $screen-xl-min){
				left: em(150);
			}
			img{
				max-width: em(48);
				@media (min-width: $screen-sm-min){
					max-width: em(60);	
				}
				@media (min-width: $screen-md-min){
					max-width: em(70);
				}
				@media (min-width: $screen-lg-min){
					max-width: 100%;
				}
			}
		}
		.intro-copy{
			position: relative;
			font-size: em(16);
			font-weight: 700;
			line-height: em(20);	
			padding-right: 50px;
			z-index: 3;
			@media (min-width: $screen-sm-min){
				font-size: em(20);
				line-height: em(24,20);	
				padding-right: 0;
			}
			@media (min-width: $screen-md-min){
				font-size: em(34);
				line-height: em(41,34);	
			}
			@media (min-width: $screen-lg-min){
				position: absolute;
				padding-left: 0;
				left: em(184,34);
				top: em(-80,34);
				max-width: em(695,34);
			}
			@media (min-width: $screen-xl-min){
				left: 22%;
			}
			p{
				color: $white;
				background: $black;
				float: left;
				clear: both;
				margin:0;
				padding: em(2) em(10);				
			}
		}	
		.products-we-love{
			position: relative;
			float:right;
			width: em(562);
			margin-right: em(60);	
			margin-top: em(75);
			.we-love{
				position: absolute;
				top: em(74);
				left: em(4);
				z-index: 2;
				@media (min-width: $screen-sm-min){
					top: em(-32);
					left: em(21);
				}
			}
			.white-box{
				background: $white;					
			}
			.product-wrap{
				position: relative;
				padding: em(10) em(84) em(20) em(62);
				.white-box{
					font-size: em(14);
					line-height: em(18,14);
					padding: em(15,14) em(30,14) em(15,14) em(20,14);
					@media (min-width: $screen-sm-min){
						font-size: em(18);
						padding: em(33,18) em(76,18) em(15,18) em(30,18);
						line-height: em(22,18);
					}					
				}
				.share{
					position: absolute;
					top: em(70);
					left: em(-58);
					@media (min-width: $screen-sm-min){
						top: em(116);
						left: em(40);
					}
					@media (min-width: $screen-md-min){
						top: em(277);
						left: em(55);
					}
				}
				.button-mood-shop{
					float: right;
					margin-top: em(18);
					position: relative;
					z-index: 2;
					@media (min-width: $screen-md-min){
						margin-top: em(25);
					}
				}
			}
		}					
	}
	#bathrooms-for-inspiration{
		margin-bottom: 40px;
		.title-description{
			left: em(15);
			right: inherit;
			padding-bottom: em(20);
			margin-bottom: em(0);
			@media (min-width: $screen-sm-min){
				padding-bottom: em(40);
			}
			@media (min-width: $screen-xl-min){
				left: em(158);
				padding-bottom: em(50);
			}
			h2{
				color: $black;
			}
		}
		.products-used{
			h2{
				color: $gold;
			}
		}
		.bathroom{
			.hotspots{
				.hotspot{
					&:hover{
						color: $gold;
					}
				}
				.hotspot-data{
					.text{
						h3{
							color: $gold;
						}
					}
					path.border{
						fill: $gold;		
					}
					path.arrow{
						fill: $gold;			
					}
				}
			}
		}		
	}
	#showers{
		.banner{
			position: relative;
			.intro{
				position: absolute;
				width: em(350);
				top: percentage(140/467);
				left: percentage(535/1520);
				h2{
					color: $white;
					font-size: em(60);
					margin: 0;
				}
			}
			.we-love-blanket{
				position: absolute;
				width: em(506);
				bottom: em(-80);
				left: em(10);
				text-align: right;
				.we-love{
					position: absolute;
					top: 0;
					right: em(206);
				}
				.text{
					position: absolute;
					left: 0;
					top: em(92);
					background: $white;
					color: $pale-blue;
					font-size: em(16);
					padding: em(10);
					width: em(205);
					text-align: left;
				}
			}
		}
		.shower-twins-wrap{
			background: #ededed url(../images/luxury/3-showers/bg.jpg) repeat-y top center;
			padding: em(70) 0 em(134) em(88);
			.shower-twins{
				position: relative;
				.description{
					background: $white;
					padding: em(52) em(113) em(30);
					position: relative;
					margin-top: em(-34);
					h2{
						color: $black;
						font-size: em(60);
						text-decoration: underline;
					}
					.text{
						color: $grey;
					}
				}
				.image-back{
					position: relative;
					left: 40px;
				}
				.image-front{
					position: absolute;
					top: 184px;
					left: -120px;
					width: 643px;
				}				
			}
			.chasing-waterfalls{
				position: relative;
				.image-2{
					position: absolute;
					top: em(20);
					left: em(392);
				}
				.description{
					position: absolute;
					top: em(160);
					left: em(413);
					width: em(307);
					.title{
						margin-bottom: em(20);
						h2{
							font-size: em(60);
							color: $pale-blue;
							text-decoration: underline;
						}
					}
					.text{
						color: $grey;
						p{
							font-size: em(24);
						}
					}
				}
			}
			.products-list{
				margin-top: 400px;
				@media (min-width: $screen-sm-min){
					margin-top: 0;
				}
				li{
					@include clearfix;
					margin-bottom: em(20);
				}
				.product{
					.number{
						width: 35px;
						height: 35px;
						line-height: em(35);
						font-size: em(14);
						color: $black;
						background: $white;
						@include border-radius(50%);
						border: 1px solid $black;
						text-align: center;
						position: absolute;
						left: 0;
						top: 0;
					}
					.name{
						padding-left: em(55);
						position: relative;
						h3{
							font-size: em(14);
							color: $black;
							margin: 0;
						}
						.description{
							font-size: em(14);
							color: $black;
							font-weight: 400;
						}
					}
					.button-mood-shop{
						margin-top: 0;
						@media (min-width: $screen-sm-min){
							display: none;
							position: absolute;
							top: 0;
							left: em(55);
							z-index: 2;
						}
					}
					@media (min-width: $screen-sm-min){
						&:hover{
							.button-mood-shop{
								display: block;
							}
						}
					}
				}
			}
			.open-sesame{
				padding: em(15);
				background: $white;
				@include box-shadow(0px 0px 8px rgba(0,0,0,0.8));
				.description{
					background: $white;
					padding: em(17) em(50) em(20) em(16);
					color: $pale-blue;
					position: absolute;
					width: em(236);
					right: em(40);
					bottom: em(70);
					.title{
						h3{
							font-size: em(20);
						}
					}
					.text{
						font-size: em(15);
					}
				}
			}
		}
	}
	#circular-gallery{
		.circular-gallery{
			position: relative;
			background: $darker-grey;
			color: $white;
			padding: em(94) em(70) 0;
			.description{
				width: em(300);
				.title{
					margin-bottom: em(60);
					h2{
						color: $rose-gold;
						text-decoration: underline;
						font-size: em(50);
					}
				}
				.text{
					font-size: em(24);
					color: $white;
				}
			}
			.circular-list{
				margin-top: 400px;
				@media (min-width: $screen-sm-min){
					margin-top: 0;
				}
				li{
					@include clearfix;
					margin-bottom: em(20);
				}
				.product{
					.number{
						width: 35px;
						height: 35px;
						line-height: em(35);
						font-size: em(14);
						color: $black;
						background: $white;
						@include border-radius(50%);
						border: 1px solid $black;
						text-align: center;
						position: absolute;
						left: 0;
						top: 0;
					}
					.name{
						padding-left: em(55);
						position: relative;
						h3{
							font-size: em(14);
							color: $white;
							margin: 0;
						}
						.description{
							font-size: em(14);
							color: $white;
							font-weight: 400;
						}
					}
					.button-mood-shop{
						margin-top: 0;
						@media (min-width: $screen-sm-min){
							display: none;
							position: absolute;
							top: 0;
							left: em(55);
							z-index: 2;
						}
					}
					@media (min-width: $screen-sm-min){
						&:hover{
							.button-mood-shop{
								display: block;
							}
						}
					}
				}
			}
			.circle{
				position: absolute;
				height: 780px;
				top: 0;
				left: 0;
				width: 100%;
				@include transform-origin(center top);
				@include transform(scale(0.4));
				@media (min-width: $screen-sm-min){
					position: relative;
					height: 630px;
					@include transform(none);
				}
				@media (min-width: $screen-md-min){
					height: 630px;
				}
				@media (min-width: $screen-lg-min){
					height: 800px;
				}				
				.text{
					width: 300px;
					position: absolute;
					top: 50%;
					left: 20px;
					@include transform(translateY(-50%));
					@media (min-width: $screen-sm-min){
						width: 200px;
						font-size: 8px;
						left: 280px;    				
					}
					@media (min-width: $screen-md-min){
						left: 190px;
						width: 250px;
						font-size: 13px;
					}				
					@media (min-width: $screen-lg-min){
						left: 418px;
						width: 300px;
						font-size: inherit;
					}	
					h2{
						font-size: em(60);
						text-decoration: underline;
					}
					.description{
						color: $grey;
						font-size: em(24);
						line-height: em(26);
					}
				}
				.circular-product{
					width: 226px;
					position: absolute;
					left: 50%;
					@include transition(1s all ease-out);
					@include transform-origin(center 300px);
					@media (min-width: $screen-sm-min){
						width: 200px;
						@include transform-origin(center 300px);
					}
					@media (min-width: $screen-md-min){
						width: 230px;
						@include transform-origin(center 315px);
					}		
					@media (min-width: $screen-lg-min){
						width: 226px;
						@include transform-origin(center 300px);
					}
					.share{
						position: absolute;
						top: 40%;
						right: 20%;
					}
					.info{
						position: absolute;
						width: em(100);
						p{
							font-size: em(12);
							margin-bottom: 0;
						}
					}
					.number{
						position: absolute;
						bottom: 0;
						left: 23%;	
						width: 32px;
						height: 32px;
						border: 1px solid $black;
						@include border-radius(50%);
						background: $white;
						color: $black;
						.text{
							font-size: em(12);
							font-weight: 700;
							width: 32px;
							text-align: center;
							@extend %center-align;
						}
					}
					&.product-1{
						.info{
					    top: em(136);
					    left: em(138);
				  	}
					}	
					&.product-4{
						.info{
							@include transform(rotate(-180deg));
							top: em(136);
					    left: em(138);	
						}
					}							
				}
				&.active{
					.circular-product{
						&.product-1{
							@include transform(translate(-50%) rotate(0));							
						}
						&.product-2{
							@include transform(translate(-50%) rotate(60deg));	
							.share,
							.number{
								@include transform(rotate(-60deg));	
							}
						}
						&.product-3{
							@include transform(translate(-50%) rotate(120deg));		
							.share,
							.number{
								@include transform(rotate(-120deg));	
							}
						}
						&.product-4{
							@include transform(translate(-50%) rotate(180deg));			
							.share,
							.number{
								@include transform(rotate(-180deg));	
							}
						}
						&.product-5{
							@include transform(translate(-50%) rotate(240deg));		
							.share,
							.number{
								@include transform(rotate(-240deg));	
							}
						}
						&.product-6{
							@include transform(translate(-50%) rotate(300deg));	
							.share,
							.number{
								@include transform(rotate(-300deg));	
							}
						}
					}
				}
			}			
		}
	}
	#hotel-inspired-look{
		overflow: hidden;
		margin-bottom: em(90);
		.hotel-inspired-look{
			margin-bottom: em(50);
			.image-wrap{
			position: relative;
			@media (min-width: $screen-md-min){
				padding-right: em(134);
			}
			.text{
				font-size: em(50);
				font-weight: bold;
				line-height: 1em;
				text-decoration: underline;
				color: $gold;
				position: relative;
				margin-top: 20px;
				@media (min-width: $screen-md-min){
					margin-top: 0;
					position: absolute;
					top: 20%;
					right: 0;
				}
			}
			.share{
				position: absolute;
				top: 30px;
				right: 30px;
			}
		}
		.slider{
			button{
				@include appearance(none);
				background: none;
				border: none;
				outline: none;
				position: absolute;
				bottom: em(-54);
				top: inherit;
				z-index: 2;
				left: inherit;
				i{
					font-size: em(50);
					color: $gold;
				}
				&.arrow-next{
					@include transform(translateY(-100%));
					right: 0;
				}
				&.arrow-prev{
					@include transform(translateX(-100%) translateY(-100%));
					right: 10px;
				}
				&.slick-disabled{
					display: block;
					i{
						color: $grey;
					}
				}
			}
			.description{
				margin-top: 20px;
				padding-right: em(140);
				@media (min-width: $screen-md-min){
					margin-top: 0;
					padding-top: em(40);
					padding-left: em(190);
				}
				h3{
					color: $gold;
					font-size: em(16);
					text-transform: uppercase;
					font-weight: 700;
					margin: 0;
				}
				p{
					color: $grey;
					font-size: em(16);
				}
			}
		}
		}
		
		.luxe-for-less{
			background: url(../images/line-pattern-dark.png) repeat;
			color: $white;
			padding: em(60) 0 em(128) em(243);
			.description{
				width: em(300);
				h2{
					font-size: em(40);
					text-decoration: underline;
					@media (min-width: $screen-md-min){
						font-size: em(60);
					}
				}
				.text{
					margin-top: em(30);
					p{
						color: $grey;
						font-size: em(24);
						margin-bottom: 0;
					}
				}
			}
			.products{
				position: relative;
				.product-2{
					position: absolute;
					left: em(214);
					top: em(56);
					.share{
						margin-left: em(215);
					}
				}
			}
		}
	}
	#favourites{
		margin-bottom: em(40);
		.banner{
			.image-wrap{
				.text{
					h2{
						color: $gold;
						text-decoration: underline;
					}
					.description{
						p{
							background: $pale-blue;
						}
					}	
				}
			}			
		}
		.product-wrap{
			.product{
				.product-info{
					.text{
						color: $gold;
					}
				}
			}
		}			
	}
	#footer-ads{
		padding-top: 105px;
		padding-bottom: 110px;
		.pinterest-board{
			position: relative;
			.text{
				width: 100%;
				padding: 0 em(30);
				@extend %center-align;
				text-align: center;
				max-width: 400px;
				.circle{
					width: 65px;
					height: 65px;
					margin: 0 auto;
					background: $pink;
					text-align: center;
					margin-top: em(40);
					margin-bottom: em(30);
					@include border-radius(50%);
					i{
						color: $white;
						font-size: em(50);
						position: relative;
						top: 12px;
					}
				}
				.button{
					display: block;
					border: 2px solid $white;
					background: none;
					padding: em(20) em(30);
					color: $white;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
		.video{
			position: relative;
			.text{
				position: absolute;
				text-decoration: underline;
				font-size: em(50);
				font-weight: 700;
				left: 5%;
				top: 20%;
				line-height: 1em;
				color: $white;
			}
		}
	}	
}