body.moodboard{
	#main{
		margin-top: 0;
		max-width: 100%;
	}
	section#moodboard{
		.main-content{
			max-width: em(280);
			@media (min-width: $screen-sm-min){
				max-width: em(620);
			}
			@media (min-width: $screen-lg-min){
				max-width: em(1200);
			}			
		}
		.no-products{
			display: none;
		}
		header{
			position: relative;
		}
		.line-pattern{
			padding: em(40) 0 em(40);
			min-height: 800px;
		}
		.plant{
			position: absolute;
			top: 0;
			left: 0;
			width: 80px;
			display: none;
			@media (min-width: $screen-sm-min){
				width: 200px;
			}
			@media (min-width: $screen-lg-min){
				width: auto;
			}
			@media (min-width: $screen-xl-min){
				display: block;
			}
		}
		.destination-happiness{
			position: absolute;
			top: 0;
			right: 0;
			display: none;
			@include transform(translateX(50%));
			width: 140px;
			@media (min-width: $screen-sm-min){
				width: 300px;
			}
			@media (min-width: $screen-lg-min){
				width: auto;
			}
			@media (min-width: $screen-xl-min){
				display: block;
			}
		}
		
		.title{
			@include clearfix;
			h1{
				color: $white;
				font-size: em(30);
				@media (min-width: $screen-sm-min){
					font-size: em(52);
				}
				.block{
					display: block;
					float: left;
					padding: em(2) em(4) em(4);
					background: $pink;
					clear: both;
					text-decoration: underline;
				}
			}
		}
		.intro{
			max-width: em(620);
			background: $white;
			padding: em(20) em(30);
			margin-bottom: em(20);
			p{
				font-size: em(16);
				line-height: em(22);
				color: $grey;
			}
		}
		.buttons{
			margin-bottom: em(20);
			@media (min-width: $screen-lg-min){
				text-align: right;
				position: absolute;
				bottom: 0;
				right: 0;
			}
			.button-shop{
				margin-bottom: em(40);
			}
			button.print{
				background: none;
				@include appearance(none);
				border: none;
				i{
					position: relative;
					font-size: em(24);
					top: 4px;
				}
				.text{
					font-size: em(24);
					font-weight: 700;
					text-decoration: underline;
				}
			}
		}
		.product{
			position: relative;
			background: $white;
			padding: em(80) em(10) em(90);
			margin-bottom: em(30);
			.image{
				text-align: center;
				img{
					height: 189px;
					margin: 0 auto;
				}
			}
			.share{
				position: absolute;
				top: em(10);
				left: em(10);
			}
			.remove{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: right;
				z-index: 2;
				button{
					outline: none;
					background: none;
					border: none;
					@include appearance(none);
					padding: em(5);
					margin-top: em(16);
					margin-right: em(5);
					i{
						color: $moodboard-grey;
						font-size: em(33);
					}
				}
			}
			.image{
				margin-bottom: em(10);
			}
			.name{
				color: $black;
				text-decoration: underline;
				font-size: em(20);
				text-align: center;
				width: 80%;
				margin: 0 auto;
			}
			.description{
				text-align: center;
				width: 80%;
				margin: 0 auto;
				margin-top: em(2);
			}
			.actions{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 0 em(10) em(30);
				@include clearfix;
				font-size: em(16);
				text-align: center;
				a.more-details{
					position: relative;
					background: $dark-green;
					color: $white;
					border: none;
					font-size: 1em;
					font-weight: 700;
					padding: em(14) em(12);
					line-height: 1em;
					outline: none;
					white-space: nowrap;
					margin-right: em(10);
					@include border-radius(4px);
					@include box-shadow(2px 2px 6px rgba(0,0,0,0.3));					
				}			
			}
		}
	}
}