body.mr-jason-grant{
	section#mr-jason-grant{
		.video{
			position: relative;
			padding: em(40);
			background: $white;
			.video-content{
				position: relative;
			}
			.video-wrap{
				position: relative;
				height: em(400);
				@media (min-width: $screen-sm-min){
					height: em(480);
				}
				@media (min-width: $screen-lg-min){
					height: em(400);
				}
				padding-right: em(54);
				.video-iframe{
					position: relative;
					height: 100%;
					iframe{
						width: 100%;
						height: 100%;
						@extend %center-align;
					}
				}
				.close-video{
					position: absolute;
					top: 0;
					right: 0;
					text-align: center;
					color: $white;
					background: $pink;
					font-weight: 700;
					font-size: em(20);
					padding: em(20,20);
					@include appearance(none);
					border: none;
				}
			}
			.play{
				position: absolute;
				bottom: em(30);
				right: em(45);
				cursor: pointer;
				@media (min-width: $screen-sm-min){
					position: absolute;
				  top: 50%;
				  left: 50%;
				  bottom: inherit;
					right: inherit;
				  @include transform(translateY(-50%) translateX(-50%));
				}
				i{
					font-size: em(50);
					color: $black;
				}
			}
			.share{
				position: absolute;
				right: 30px;
				top: 40px;
				z-index: 2;
				@media (min-width: $screen-sm-min){
					bottom: inherit;
				}
			}
			.title{
				color: $mr-blue;
				position: absolute;
				top: em(40);
				right: em(40);
				h2{
					font-size: em(40);
					text-decoration: underline;
				}
				.product{
					color: $white;
				}
				.description{
					max-width: 100%;					
					@media (min-width: $screen-sm-min){
						max-width: em(250);
					}
					p{
						font-size: em(24);
					}
				}	
			}			
		} /*end video*/
		.hex-block{
			width: 228px;
			height: 250px;
			color: $white;
			position: absolute;
			top: 0;
			left: 0;
			svg{
				width: 228px;
				height: 250px;
				path{
					fill: $mr-light-green;
				}
			}
			.text{
				position: absolute;
				text-transform: uppercase;
				text-align: center;
				width: 100%;
				@extend %center-align;
				p{
				font-size: em(26);
				margin-bottom: 0;	
				}
			}
		}

		#banner{
			position: relative;
			overflow: hidden;
			.intro{
				position: absolute;
				width: em(440);
				right: 37.2%;
				height: 100%;
				bottom: 0;
				overflow: hidden;
				z-index: 0;
				.block{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: $mr-green-banner;
						@include transform(skew(-35.2deg));
						@include transform-origin(bottom left);
					}
				.title{
					position: absolute;
					right: em(50);
					bottom: em(40);
					z-index: 1;
					text-align: right;
					h3{
						color: $white;
						font-family: $font-family-serif;
						font-size: em(29);
						font-style: italic;
					}
					h2{
						font-size: em(73);
						color: $mr-blue;						
					}
				}
			}			
		}
		.slider{
			.slick-arrow{
				i{
					color: $white;
					font-size: em(55);					
				}
				&.arrow-next{
					right: em(-50);
				}
				&.arrow-prev{
					left: em(-50);
				}
			}
		}
		.bathroom{
			float: none;
			width: auto;
			margin: 0 em(44);			
		}
		.tip{
			position: relative;
			background: $black;
			color: $white;
			padding: em(70) em(50) em(50);
			h3{
				font-size: em(27);
				margin-top: 0;
				margin-bottom: em(10,27);
				color: $gold;
			}
			.hex-block{
				width: 149px;
				color: $white;
				position: absolute;
				top: 0;
				left: 50%;
				@include transform(translateX(-50%) translateY(-50%));
				@media (min-width: $screen-sm-min){
					left: 0;
				}
				svg{
					width: 149px;
					path{
						fill: $gold;
					}
				}
				.text{
					position: absolute;
					text-transform: uppercase;
					text-align: center;
					width: 100%;
					font-size: em(21);
					@extend %center-align;
				}
			}
			ul{
				margin: 0;
				list-style: none;
				li{
					margin-bottom: em(15);
				}
			}
		}
		.bathrooms-for-inspiration{
			.hotspots{
				.hotspot-data{
					.top-text{
						text-align: center;
						margin-top: 0;
						position: relative;
						p{
							color: $mr-blue;
							margin-bottom: 0;
							font-family: $font-family-serif;
							font-style: italic;
							font-size: em(36);
							font-weight: 700;
							line-height: em(28,36);
						}
					}
					.image{
						width: em(160);
						margin: 0 auto;
						margin-top: em(-20);
					}
					.text{
						.name{
							font-size: em(11);
							color: $grey;
						}
						h3{
							margin: 0;
							font-size: em(18);
							color: $mr-light-green;
						}
					}
				}
			}
		}
		#day-spa{
			background: $mr-day-spa-bg;
			.main-content{
				padding: em(40);
			}
			.top-section{
				margin-bottom: em(40);
				.intro{
					color: $white;
					padding-left: em(50);
					width: em(382);
					margin-top: em(50);
					p{
						font-size: em(17);
					}
				}
				.title{
					color: $white;
					margin: em(40) 0;
					h2{
						font-size: em(60);
						margin: 0;
						text-decoration: underline;
					}
				}
				.intro-description{
					color: $mr-blue;
					padding-left: em(50);
					width: em(382);
					p{
						font-size: em(17);
					}
				}
				.bathrooms-for-inspiration{
					.hex-block{
						right: em(120);
						left: auto;
						top: 0;
						z-index: 4;
						@include transform(translateX(50%) translateY(-50%));
					}
					.hotspots{
						.hotspot{
							&.spot-1{
								left: percentage(108/991);
								top: percentage(100/583);
							}
							&.spot-2{
								left: percentage(180/991);
								top: percentage(207/583);
							}
							&.spot-3{
								left: percentage(452/991);
								top: percentage(100/583);
							}
							&.spot-4{
								left: percentage(719/991);
								top: percentage(212/583);								
							}
							&.spot-5{
								left: percentage(609/991);
								top: percentage(80/583);								
							}
							&.spot-6{
								left: percentage(473/991);
								top: percentage(101/583);								
							}
							&.spot-7{
								left: percentage(245/991);
								top: percentage(42/583);								
							}
						}
					}
				}
			}
			.bottom-section{
				.video{
					.hex-block{
						z-index: 4;
						top: auto;
						left: em(20);
						bottom: em(25);
						@include transform(translateY(50%));
						svg{
							path{
								fill: $mr-dark-green;
							}
						}
					}
				}
				.tip{
					position: relative;
					z-index: 2;
					color: $white;
					background: $mr-dark-green;
					margin-right: em(75);
					.hex-block{
						svg{
							path{
								fill: $mr-light-green;
							}
						}
					}
				}
			}			
		}
		#neo-classic{
			background: $mr-neo-classic-bg;
			.main-content{
				padding: em(40);
			}
			.top-section{
				background: url('../images/mr-jason-grant/neo-classic-bg.jpg') no-repeat top left;
				margin-bottom: em(40);
				.intro{
					color: $white;
					padding-left: em(50);
					width: em(382);
					margin-top: em(50);
					p{
						font-size: em(17);
					}
				}
				.title{
					color: $black;
					margin: em(40) 0;
					h2{
						font-size: em(60);
						margin: 0;
						text-decoration: underline;
					}
				}
				.intro-description{
					color: $black;
					p{
						font-size: em(17);
					}
				}
				.bathrooms-for-inspiration{
					.hex-block{
						right: em(20);
						left: auto;
						top: em(20);
						z-index: 4;
						@include transform(translateX(50%));
						svg{
							path{
								fill: $mr-blue;
							}
						}
					}
					.hotspots{
						.hotspot{
							&.spot-1{
								left: percentage(189/991);
								top: percentage(275/583);
							}
							&.spot-2{
								left: percentage(756/991);
								top: percentage(101/583);
							}
							&.spot-3{
								left: percentage(762/991);
								top: percentage(400/583);
							}
							&.spot-4{
								left: percentage(171/991);
								top: percentage(288/583);
							}
							&.spot-5{
								left: percentage(656/991);
								top: percentage(31/583);								
							}
						}
					}
				}
				.slider{
					.slick-arrow{
						i{
							color: $mr-light-blue;
						}
					}
				}
			}
			.bottom-section{
				.video{
					.hex-block{
						z-index: 4;
						top: auto;
						left: em(20);
						bottom: em(25);
						@include transform(translateY(50%));
						svg{
							path{
								fill: $mr-blue;
							}
						}
					}
				}
				.tip{
					position: relative;
					z-index: 2;
					color: $white;
					background: $mr-light-blue;
					margin-right: em(75);
					.hex-block{
						svg{
							path{
								fill: $mr-blue;
							}
						}
					}
				}
			}			
		}
		#coastal-luxury{
			background: $mr-coastal-luxury-bg;
			.main-content{
				padding: em(40);
			}
			.top-section{
				margin-bottom: em(40);
				.intro{
					color: $white;
					padding-left: em(50);
					width: em(382);
					margin-top: em(50);
					p{
						font-size: em(17);
					}
				}
				.title{
					color: $white;
					margin: em(40) 0;
					h2{
						font-size: em(60);
						margin: 0;
						text-decoration: underline;
					}
				}
				.intro-description{
					color: $mr-blue;
					padding-left: em(50);
					width: em(382);
					p{
						font-size: em(17);
					}
				}
				.bathrooms-for-inspiration{
					.hex-block{
						right: em(44);
						left: auto;
						top: auto;
						bottom: em(-20);
						z-index: 4;
						@include transform(translateX(50%));
						svg{
							path{
								fill: $mr-dark-purple;
							}
						}
					}
					.hotspots{
						.hotspot{
							&.spot-1{
								left: percentage(373/991);
								top: percentage(307/583);
							}
							&.spot-2{
								left: percentage(893/991);
								top: percentage(40/583);
							}
							&.spot-3{
								left: percentage(363/991);
								top: percentage(274/583);
							}
						}
					}
				}
			}
			.bottom-section{
				.video{
					.hex-block{
						z-index: 4;
						top: auto;
						left: em(20);
						bottom: em(25);
						@include transform(translateY(50%));
						svg{
							path{
								fill: $mr-dark-purple;
							}
						}
					}
				}
				.tip{
					position: relative;
					z-index: 2;
					color: $white;
					background: $mr-dark-purple;
					margin-left: em(45);
					.hex-block{
						left: auto;
						right: 0;
						@include transform(translateX(50%) translateY(-50%));
						svg{
							path{
								fill: $mr-light-purple;
							}
						}
					}
				}
			}			
		}
		#day-spa-featured-products{
			margin-bottom: em(40);
			.line-pattern{
				padding-top: em(40);
				padding-bottom: em(93);
				padding-right: em(60);
			}
			.title{
				padding-top: em(70);
				padding-left: em(60);
				h2{
					color: $mr-blue;
					font-size: em(46);
					text-decoration: underline;
				}
			}
		}
		#neo-classic-featured-products{
			margin-bottom: em(40);
			.line-pattern{
				padding-top: em(40);
				padding-bottom: em(93);
				padding-right: em(60);
			}
			.title{
				padding-top: em(70);
				padding-left: em(60);
				h2{
					color: $mr-blue;
					font-size: em(46);
					text-decoration: underline;
				}
			}
		}
		#coastal-luxury-featured-products{
			margin-bottom: em(40);
			.line-pattern{
				padding-top: em(40);
				padding-bottom: em(93);
				padding-right: em(60);
			}
			.title{
				padding-top: em(70);
				padding-left: em(60);
				h2{
					color: $mr-blue;
					font-size: em(46);
					text-decoration: underline;
				}
			}
		}
	}
	#main-content{
		section#subscribe{
			h2{
				background: $mr-dark-purple;
			}
		}
	}
}