body.mr-jason-grant{
	section#mr-jason-grant{
		.video{
			position: relative;
			padding: em(10);
			background: $white;
			@media (min-width: $screen-sm-min){
				padding: em(40);
			}
			.video-content{
				position: relative;
			}
			.video-wrap{
				position: relative;
				height: em(142);
				@media (min-width: $screen-sm-min){
					height: em(347);
				}
				@media (min-width: $screen-sm-min){
					height: em(296);
				}
				@media (min-width: $screen-lg-min){
					height: em(375);
				}
				@media (min-width: $screen-xl-min){
					height: em(512);
				}
				padding-right: em(54);
				.video-iframe{
					position: relative;
					height: 100%;
					iframe{
						width: 100%;
						height: 100%;
						@extend %center-align;
					}
				}
				.close-video{
					position: absolute;
					top: 0;
					right: 0;
					text-align: center;
					color: $white;
					background: $pink;
					font-weight: 700;
					font-size: em(20);
					padding: em(20,20);
					@include appearance(none);
					border: none;
				}
			}
			.play{
				position: absolute;
				bottom: 0;
				right: em(10);
				cursor: pointer;
				@media (min-width: $screen-sm-min){
					position: absolute;
				  top: 50%;
				  left: 50%;
				  bottom: auto;
					right: auto;
				  @include transform(translateY(-50%) translateX(-50%));
				}
				i{
					font-size: em(40);
					@media (min-width: $screen-sm-min){
						font-size: em(50);
					}
					color: $black;
				}
			}
			.share{
				position: absolute;
				right: 30px;
				top: 40px;
				z-index: 2;
				@media (min-width: $screen-sm-min){
					bottom: inherit;
				}
			}
			.title{
				color: $mr-blue;
				position: absolute;
				top: em(40);
				right: em(40);
				h2{
					font-size: em(16);
					@media (min-width: $screen-sm-min){
						font-size: em(33);
					}
					text-decoration: underline;
				}
				.product{
					color: $white;
				}
				.description{
					max-width: 100%;					
					@media (min-width: $screen-sm-min){
						max-width: em(250);
					}
					p{
						font-size: em(24);
					}
				}	
			}			
		} /*end video*/
		.hex-block{
			color: $white;
			width: 180px;
			height: 197px;
			margin: 0 auto;
			margin-top: em(40);
			margin-bottom: em(40);
			@media (min-width: $screen-sm-min){
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
			}
			@media (min-width: $screen-md-min){
				width: 228px;
				height: 250px;
			}
			svg{
				width: 180px;
				height: 197px;
				@media (min-width: $screen-md-min){
					width: 228px;
					height: 250px;
				}
				path{
					fill: $mr-light-green;
				}
			}
			.text{
				position: absolute;
				text-transform: uppercase;
				text-align: center;
				width: 100%;
				@extend %center-align;
				p{
					font-size: em(18);
					@media (min-width: $screen-md-min){
					font-size: em(26);
					}
					margin-bottom: 0;	
				}
			}
		}

		#banner{
			position: relative;
			overflow: hidden;
			.image{
				display: none;
				@media (min-width: $screen-sm-min){
					display: block;
				}	
			}
			.intro-wrap{
				position: relative;
				background: url('../images/mr-jason-grant/jg-profile-mobile.jpg') top right no-repeat;
				background-size: cover;
				@media (min-width: $screen-sm-min){
					background: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.intro{
				position: relative;
				width: percentage(956/1526);
				padding: em(20) em(15) em(60);
				@media (min-width: $screen-sm-min){
					position: absolute;
					padding: 0;
					width: 46%;
					right: 37.2%;
					height: 100%;
					bottom: 0;
					overflow: hidden;
					z-index: 0;
					width: percentage(440/1526);
				}
				.block{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					right: 0;
					background: $mr-green-banner;
					@include transform(skew(-35.2deg));
					@include transform-origin(top right);
					@media (min-width: $screen-sm-min){
						right: auto;
						left: 0;
						@include transform(skew(-35.2deg));
						@include transform-origin(bottom left);
					}
				}
				.title{
					position: relative;
					z-index: 1;
					@media (min-width: $screen-sm-min){
						text-align: right;
						position: absolute;
						right: em(10);
						bottom: em(10);						
					}
					@media (min-width: $screen-sm-min){
						right: em(20);
						bottom: em(20);
					}
					@media (min-width: $screen-lg-min){
						right: em(30);
						bottom: em(30);
					}
					@media (min-width: $screen-xl-min){
						right: em(50);
						bottom: em(40);
					}
					h3{
						margin: 0;
						color: $white;
						font-family: $font-family-serif;
						font-size: em(16);
						font-style: italic;
						@media (min-width: $screen-sm-min){
							margin-bottom: 10px;
							font-size: em(16);
						}
						@media (min-width: $screen-md-min){
							font-size: em(18);
						}
						@media (min-width: $screen-lg-min){
							font-size: em(24);
						}
						@media (min-width: $screen-xl-min){
							font-size: em(29);
						}
					}
					h2{
						font-size: em(32);
						line-height: em(32,32);
						color: $mr-blue;
						margin: 0;					
						@media (min-width: $screen-sm-min){
							font-size: em(36);
							line-height: 1;
						}
						@media (min-width: $screen-md-min){
							font-size: em(46);
						}
						@media (min-width: $screen-lg-min){
							font-size: em(60);
						}
						@media (min-width: $screen-xl-min){
							font-size: em(73);
						}
					}
				}
			}			
		}
		.slider{
			.slick-arrow{
				i{
					color: $white;
					font-size: em(55);					
				}
				&.arrow-next{
					right: em(-50);
				}
				&.arrow-prev{
					left: em(-50);
				}
			}
		}
		.products-slide{
			margin: 0 em(30);
			.product{
				margin: 0 em(15);
				padding-bottom: em(34);
				position: relative;
				margin-bottom: em(20);
				text-align: center;
				@media (min-width: $screen-sm-min){
					text-align: left;
				}
				.button-mood-shop{
					position: absolute;
					bottom: 0;
					left: 50%;
					@include transform(translateX(-50%));
					@media (min-width: $screen-sm-min){
						left: 0;
						@include transform(none);
					}
				}
			}
			.slick-arrow{
				top: em(100);
				@media (min-width: $screen-sm-min){
					top: 50%;
				}
				i{
					color: $mr-blue;
					font-size: em(55);					
				}
				&.arrow-next{
					right: em(-50);
				}
				&.arrow-prev{
					left: em(-50);
				}
			}
		}
		.bathroom{
			float: none;
			width: auto;
			margin: 0;
			@media (min-width: $screen-sm-min){
				margin: 0 em(44);			
			}
		}
		.tip{
			position: relative;
			background: $black;
			color: $white;
			padding: em(20);
			padding-top: em(70);
			margin-top: em(60);
			@media (min-width: $screen-sm-min){
				padding: em(60);
			}
			@media (min-width: $screen-md-min){
				padding: em(60) em(50) em(50);
			}
			h3{
				font-size: em(27);
				margin-top: 0;
				margin-bottom: em(10,27);
				color: $gold;
			}
			.hex-block{
				width: 149px;
				color: $white;
				position: absolute;
				left: 50%;
				top: em(-115);
				@include transform(translateX(-50%));
				margin: 0 auto;
				@media (min-width: $screen-sm-min){
					margin: 0;
					top: 0;
					left: em(41);
					@include transform(translateX(-50%) translateY(-50%));
				}
				@media (min-width: $screen-md-min){
					left: 0;
				}
				svg{
					width: 149px;
					path{
						fill: $gold;
					}
				}
				.text{
					position: absolute;
					text-transform: uppercase;
					text-align: center;
					width: 100%;
					font-size: em(21);
					@extend %center-align;
				}
			}
			ul{
				margin: 0;
				list-style: none;
				li{
					margin-bottom: em(15);
				}
			}
		}
		.bathrooms-for-inspiration{
			.hotspots{
				.hotspot-data{
					.top-text{
						text-align: center;
						margin-top: 0;
						position: relative;
						p{
							color: $mr-blue;
							margin-bottom: 0;
							font-family: $font-family-serif;
							font-style: italic;
							font-size: em(36);
							font-weight: 700;
							line-height: em(28,36);
						}
					}
					.image{
						width: em(160);
						margin: 0 auto;
						margin-top: em(-20);
					}
					.text{
						.name{
							font-size: em(11);
							color: $grey;
						}
						h3{
							margin: 0;
							font-size: em(18);
							color: $mr-light-green;
							margin-bottom: em(10,18);
						}
						p{
							a{
								color: $grey;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		#day-spa{
			background: $mr-day-spa-bg;
			.main-content{
				padding: em(20);
				@media (min-width: $screen-sm-min){
					padding: em(40);
				}
			}
			.top-section{
				margin-bottom: em(40);
				.intro{
					color: $white;
					@media (min-width: $screen-sm-min){
						padding-left: em(50);
						margin-top: em(50);
						width: em(423);
					}
					@media (min-width: $screen-md-min){
						width: auto;
						padding-right: em(20);
					}
					@media (min-width: $screen-lg-min){
						padding-right: em(126);
						padding-bottom: em(40);
					}
					@media (min-width: $screen-xl-min){
						padding-right: 0;
					}
					p{
						font-size: em(17);
					}
				}
				.day-spa-title{
					@media (min-width: $screen-sm-min){
						padding-left: em(49);
					}
					@media (min-width: $screen-md-min){
						padding-left: 0;
					}
					@media (min-width: $screen-xl-min){
						padding-left: em(49);
					}
					.title{
							color: $white;
							margin: 0 0 em(25);
							@media (min-width: $screen-md-min){
								margin-top: em(48);
							}
							@media (min-width: $screen-lg-min){
								margin-top: em(18);
							}
							@media (min-width: $screen-xl-min){
								margin: em(29) 0 em(25);
							}
							h2{
								margin: 0;
								text-decoration: underline;
								font-size: em(30);
								@media (min-width: $screen-md-min){
									font-size: em(60);
								}
							}
						}
						.intro-description{
							color: $mr-blue;
							@media (min-width: $screen-sm-min){
								width: em(328);
								padding-left: em(30);
								padding-bottom: em(40);
							}
							@media (min-width: $screen-md-min){
								width: em(280);
								padding-left: em(30);
								padding-bottom: em(40);
							}
							@media (min-width: $screen-lg-min){
								width: em(306);
								padding-left: em(50);
								padding-bottom: em(40);
							}
							@media (min-width: $screen-xl-min){
								width: auto;
								padding-bottom: 0;
							}
							p{
								margin-bottom: 0;
								font-size: em(18);
								@media (min-width: $screen-sm-min){
									font-size: em(21);
								}								
							}
						}
				}
				.bathrooms-for-inspiration{
					.hex-block{
						position: relative;
						margin: 0 auto;
						margin-top: em(40);
						margin-bottom: em(40);
						@media (min-width: $screen-sm-min){
							position: absolute;
							margin: 0;
							right: em(120);
							left: auto;
							top: em(-54);
							z-index: 4;
							@include transform(translateX(50%) translateY(-50%));
						}
						@media (min-width: $screen-md-min){
							top: 0;							
						}
					}
					.hotspots{
						.hotspot{
							&.spot-1{
								left: percentage(108/991);
								top: percentage(100/583);
							}
							&.spot-2{
								left: percentage(180/991);
								top: percentage(207/583);
							}
							&.spot-3{
								left: percentage(452/991);
								top: percentage(100/583);
							}
							&.spot-4{
								left: percentage(719/991);
								top: percentage(212/583);								
							}
							&.spot-5{
								left: percentage(609/991);
								top: percentage(80/583);								
							}
							&.spot-6{
								left: percentage(473/991);
								top: percentage(101/583);								
							}
							&.spot-7{
								left: percentage(245/991);
								top: percentage(42/583);								
							}
						}
					}
				}
			}
			.bottom-section{
				.video{
					margin-top: em(237);
					@media (min-width: $screen-sm-min){
						margin-top: 0;
					}
					.hex-block{
						z-index: 4;
						position: absolute;
						top: em(-277);
						left: 50%;
						@include transform(translateX(-50%));
						@media (min-width: $screen-sm-min){
							left: em(20);
							@include transform(translateY(50%));
							top: em(-160);							
						}
						@media (min-width: $screen-md-min){
							top: auto;
							bottom: em(-71);
						}
						@media (min-width: $screen-lg-min){
							bottom: em(25);
						}
						svg{
							path{
								fill: $mr-dark-green;
							}
						}
					}
					.title{
						top: em(20);
						right: em(20);
						@media (min-width: $screen-lg-min){
							top: percentage(190/512);
							right: percentage(90/870);
						}
					}
				}
				.tip{
					position: relative;
					z-index: 2;
					color: $white;
					background: $mr-dark-green;
					@media (min-width: $screen-xl-min){
						margin-right: em(75);
					}
					.hex-block{
						svg{
							path{
								fill: $mr-light-green;
							}
						}
					}
				}
			}			
		}
		#neo-classic{
			background: $mr-neo-classic-bg;
			.top-section{
				position: relative;
				background: url('../images/mr-jason-grant/neo-classic-bg.jpg') no-repeat top left;
				margin-bottom: em(40);
				.main-content{
					padding: em(20) em(20) 0;
					@media (min-width: $screen-sm-min){
						padding: em(40) em(40) 0;
					}
					@media (min-width: $screen-lg-min){
						padding: em(40) em(20) 0;
					}
					@media (min-width: $screen-xl-min){
						padding: em(40) em(40) 0;
					}
				}
				.block-skew{
					position: absolute;
					top: 0;
					left: -13%;
					width: 100%;
					height: 100%;
					background: $mr-neo-classic-bg;
					@include transform(skewX(-40deg));
					@include transform-origin(bottom left);
					@media (min-width: $screen-xl-min){
						left: 0;
					}
				}
				.intro{
					color: $white;
					padding-left: em(50);
					width: em(382);
					margin-top: em(50);
					p{
						font-size: em(17);
					}
				}
				.title{
					color: $mr-blue;
					margin: 0 0 em(25);
					@media (min-width: $screen-xl-min){
						margin: em(40) 0 em(25);
					}
					h2{
						font-size: em(60);
						margin: 0;
						text-decoration: underline;
					}
				}
				.intro-description{
					color: $black;
					width: em(208);
					padding-bottom: em(40);
					@media (min-width: $screen-xl-min){
						width: auto;
						padding-bottom: 0;
					}
					p{
						font-size: em(17);
					}
				}
				.bathrooms-for-inspiration{
					.hex-block{
						position: absolute;
						left: 50%;
						top: em(-277);
						z-index: 4;
						@include transform(translateX(-50%));
						@media (min-width: $screen-sm-min){
							top: em(-160);
							left: auto;
							right: em(120);
							@include transform(translateX(50%));
						}
						@media (min-width: $screen-md-min){
							top: em(-180);
						}
						@media (min-width: $screen-lg-min){
							top: em(-135);
							right: em(110);
						}
						@media (min-width: $screen-xl-min){
							top: em(-64);
							right: em(20);
						}
						svg{
							path{
								fill: $mr-blue;
							}
						}
					}
					.bathroom{
						margin-top: em(277);
						@media (min-width: $screen-sm-min){
							margin-top: 0;
						}
					}
					.hotspots{
						.hotspot{
							i{
								color: $white;
								&:hover{
									color: $mr-blue;
								}								
							}
							&.active{
								i{
									color: $mr-blue;
								}
							}
							&.spot-1{
								left: percentage(189/991);
								top: percentage(275/583);
							}
							&.spot-2{
								left: percentage(756/991);
								top: percentage(101/583);
							}
							&.spot-3{
								left: percentage(762/991);
								top: percentage(400/583);
							}
							&.spot-4{
								left: percentage(171/991);
								top: percentage(288/583);
							}
							&.spot-5{
								left: percentage(656/991);
								top: percentage(31/583);								
							}
						}
						.hotspot-data{
							.text{
								h3{
									color: $mr-blue;
								}
							}
							.top-text{
								p{
									color: $mr-light-blue;
								}
							}
							svg{
								path{
									&.border{
										fill: $mr-blue;
									}
								}
							}
						}
					}
				}
				.slider{
					.slick-arrow{
						i{
							color: $mr-light-blue;
						}
					}
				}
			}
			.bottom-section{
				.main-content{
					padding: 0 em(20) em(20);
					@media (min-width: $screen-sm-min){
						padding: 0 em(40) em(40);
					}
					@media (min-width: $screen-lg-min){
						padding: 0 em(20) em(40);
					}
					@media (min-width: $screen-xl-min){
						padding: 0 em(40) em(40);
					}
				}
				.video{
					.hex-block{
						z-index: 4;
						top: auto;
						left: em(20);
						bottom: em(25);
						@include transform(translateY(50%));
						svg{
							path{
								fill: $mr-blue;
							}
						}
					}
					.title{
						text-align: right;
						@media (min-width: $screen-md-min){
							top: em(20);
							right: em(20);
						}
						@media (min-width: $screen-lg-min){
							top: em(40);
							right: 15%;
						}
						@media (min-width: $screen-xl-min){
							top: em(40);
							right: em(120);
						}
					}
				}
				.tip{
					position: relative;
					z-index: 2;
					color: $white;
					background: $mr-light-blue;
					margin-bottom: em(40);
					@media (min-width: $screen-xl-min){
						margin-right: em(75);
						margin-bottom: 0;
					}
					.hex-block{
						svg{
							path{
								fill: $mr-blue;
							}
						}
					}
				}
			}			
		}
		#coastal-luxury{
			background: $mr-coastal-luxury-bg;
			.top-section{
				position: relative;
				margin-bottom: em(40);
				.main-content{
					padding: em(20) em(20) 0;
					@media (min-width: $screen-sm-min){
						padding: em(40) em(40) 0;
					}
					@media (min-width: $screen-lg-min){
						padding: em(40) em(20) 0;
					}
					@media (min-width: $screen-xl-min){
						padding: em(40) em(40) 0;
					}
				}
				.block-skew{
					background: $mr-light-purple;
					position: absolute;
					left: 100%;
					bottom: 0;
					width: 100%;
					height: 100%;
					@include transform(skew(22deg));
					@include transform-origin(bottom left);
					@media (min-width: $screen-sm-min){
						@include transform(skew(36deg));
					}
				}
				.intro{
					color: $white;
					padding-left: em(50);
					width: em(382);
					margin-top: em(50);
					p{
						font-size: em(17);
					}
				}
				.title{
					color: $white;
					margin: em(40) 0;
					text-align: right;
					@media (min-width: $screen-sm-min){
						margin-right: 40px;
					}
					@media (min-width: $screen-xl-min){
						margin-right: 0;
					}
					h2{
						font-size: em(60);
						margin: 0;
						text-decoration: underline;
					}
					.intro-description{
						width: em(187);
						padding: 0;
						margin-top: em(25);
						float: right;
						p{
							font-size: em(17);
							color: $white;
						}
					}
				}
				.bathrooms-for-inspiration{
					.hex-block{
						position: absolute;
						left: 50%;
						top: em(-277);
						z-index: 4;
						@include transform(translateX(-50%));
						@media (min-width: $screen-sm-min){
							top: em(-160);
							left: em(-10);
							@include transform(translateX(50%));
						}
						@media (min-width: $screen-md-min){
							bottom: auto;
							top: em(-180);
							right: auto;
							left: em(-10);
						}
						@media (min-width: $screen-lg-min){
							top: auto;
							left: auto;
							right: em(120);
							bottom: em(-30);
						}
						@media (min-width: $screen-xl-min){
							right: em(44);
							bottom: em(-20);
						}
						svg{
							path{
								fill: $mr-dark-purple;
							}
						}
					}
					.bathroom{
						margin-top: em(277);
						@media (min-width: $screen-sm-min){
							margin-top: 0;
						}
					}
					.hotspots{
						.hotspot{
							i{
								color: $white;
								&:hover{
									color: $mr-dark-purple;
								}								
							}
							&.active{
								i{
									color: $mr-dark-purple;
								}
							}
							&.spot-1{
								left: percentage(373/991);
								top: percentage(307/583);
							}
							&.spot-2{
								left: percentage(893/991);
								top: percentage(40/583);
							}
							&.spot-3{
								left: percentage(338/991);
								top: percentage(430/583);
							}
						}
					}
					.hotspot-data{
						.text{
							h3{
								color: $mr-dark-purple;
							}
						}
						.top-text{
							p{
								color: $mr-light-purple;
							}
						}
						svg{
							path{
								&.border{
									fill: $mr-dark-purple;
								}
							}
						}
					}
				}
			}
			.bottom-section{
				.main-content{
					padding: 0 em(20) em(20);
					@media (min-width: $screen-sm-min){
						padding: 0 em(40) em(40);
					}
					@media (min-width: $screen-lg-min){
						padding: 0 em(20) em(40);
					}
					@media (min-width: $screen-xl-min){
						padding: 0 em(40) em(40);
					}
				}
				.video{
					margin-top: em(237);
					@media (min-width: $screen-sm-min){
						margin-top: 0;
					}
					.hex-block{
						z-index: 4;
						position: absolute;
						top: em(-277);
						left: 50%;
						@include transform(translateX(-50%));
						@media (min-width: $screen-sm-min){
							left: em(20);
							@include transform(translateY(50%));
							top: em(-160);							
						}
						@media (min-width: $screen-md-min){
							top: auto;
							bottom: em(-73);
						}
						@media (min-width: $screen-lg-min){
							bottom: em(25);
						}
						svg{
							path{
								fill: $mr-dark-purple;
							}
						}
					}
					.title{
						top: em(12);
						right: em(18);
						@media (min-width: $screen-md-min){
							text-align: right;
						}
						@media (min-width: $screen-lg-min){
							text-align: left;
						}
						@media (min-width: $screen-xl-min){
							top: em(40);
							right: em(40);
						}
						h2{
							color: $white;
						}
					}
				}
				.tip{
					position: relative;
					z-index: 2;
					color: $white;
					background: $mr-dark-purple;
					margin-bottom: em(40);
					@media (min-width: $screen-xl-min){
						margin-left: em(45);
					}
					.hex-block{
						@media (min-width: $screen-sm-min){
							left: auto;
							right: em(41);
							@include transform(translateX(50%) translateY(-50%));
						}
						@media (min-width: $screen-md-min){
							left: auto;
							right: 0;
						}
						svg{
							path{
								fill: $mr-light-purple;
							}
						}
					}
				}
			}			
		}
		.product-listing{
			position: relative;
			margin-bottom: em(40);
			.main-content{
				padding: em(40) em(20) em(20);
				@media (min-width: $screen-xl-min){
					padding-bottom: em(93);
					padding-right: em(60);
				}
			}
			.title{
				@media (min-width: $screen-md-min){
					padding-top: em(70);
				}
				@media (min-width: $screen-xl-min){
					padding-left: em(60);
				}
				h2{
					color: $mr-blue;
					font-size: em(46);
					text-decoration: underline;
				}
			}
		}
		#day-spa-featured-products{
			.title{
				h2{
					color: $mr-blue;
				}
			}
		}
		#neo-classic-featured-products{
			.title{
				h2{
					color: $mr-blue;
				}
			}
			.hex-block{
				width: em(183);
				height: em(201);
				right: em(80);
				top: em(-76);
				left: auto;
				svg{
					width: em(183);
					height: em(201);
					path{
						fill: $mr-light-blue;
					}
				}
				display: none;
				@media (min-width: $screen-xl-min){
					display: block;
				}
				.text{
					font-size: em(21);
				}
			}
			.product{
				position: relative;				
			}
		}
		#coastal-luxury-featured-products{
			.title{
				h2{
					color: $mr-dark-purple;
				}
			}
		}
	}
	#main-content{
		section#subscribe{
			h2{
				background: $mr-dark-purple;
			}
		}
	}
}