body.spring-2015{
	#bathrooms-for-inspiration{
		h2{
			color: $pale-blue;
			margin-top: 0;
			margin-bottom: em(50,60);
			line-height: 1.2em;
			font-size: em(20);
			text-decoration: underline;
			@media (min-width: $screen-sm-min){
				font-size: em(60);
			}			
		}
		.description{
			margin-bottom: em(60);
			@media (min-width: $screen-sm-min){
				position: absolute;
				max-width: em(320);
				bottom: 100%;
				right: 0;
				margin-bottom: em(20);
			}
			@media (min-width: $screen-md-min){
				max-width: em(400);
				position: absolute;
		    top: 0;
		    left: em(10);
		    bottom: inherit;
		    right: inherit;
   		  z-index: 2;
   		  padding-bottom: em(30);
				margin-bottom: 0;
				@include transform(translateY(-100%));
			}
			@media (min-width: $screen-xl-min){
				max-width: em(522);
				left: em(245);
   		  z-index: 2;
   		  padding-bottom: em(173);
				margin-bottom: 0;
				@include transform(translateY(-100%));
			}
			h2{
				color: $green;
				text-decoration: underline;
				margin-top: 0;
				line-height: 1.2em;
	    	font-size: em(30);
		    margin-bottom: em(20,30);
		    @media (min-width: $screen-sm-min){
		    	font-size: em(40);
		    	margin-bottom: em(40,40);			    	
		    }
		    @media (min-width: $screen-md-min){
		    	font-size: em(60);
		    	margin-bottom: em(40,60);			    	
		    }			    
			}
			p{
				font-size: em(16);
		    line-height: 1.2em;
				color: $grey;
				@media (min-width: $screen-sm-min){
					font-size: em(21);
				}	
			}
		}
		.bathrooms-showcase-section{
			margin-bottom: 40px;
			position: relative;
		}
		.bathroom{
			position: relative;
			width: 100%;
			z-index: 2;
			img{
				width: 100%;
			}
			@media (min-width: $screen-md-min){
				width: 82.5%;
				float: left;
			}
			.hex-line-pattern{
				position: absolute;
				top: 0;
				left: 0;
				@include transform(translateX(-392px) translateY(-345px));
				img{
					width: em(520);
				}
			}
			.hotspots{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				.hotspot{
					position: absolute;
					border: none;
					background: none;
					padding: 0;
					margin: 0;
					color: $white;
					z-index: 0;
					@extend %button-clear;
					outline: none;
					height: auto;
					i{
						font-size: em(70);											
					}
					&.spot-1{
						top: 12.763596%;
						left: 27.75119617%;
					}
					&.spot-2{
						top: 51.83129856%;
						left: 44.33811802%;
					}
					&.spot-3{
						top: 60.82130966%;
						left: 85.80542265%;
					}
					&:hover{
						color: $pink;
					}
					&.active{
						color: $green;
					}
					
				}
				.hotspot-data{
					position: absolute;
					display: none;
					z-index: 1;
					&.spot-1{
						top: 22%;
				    left: 15%;
					}
					&.spot-2{
						top: 22%;
				    left: 15%;
					}
					&.spot-3{
						top: 22%;
				    left: 15%;
					}
					.text{
				    position: absolute;
				    top: em(110);
				    left: em(140);
				    width: em(180);
				    h3{
				    	font-size: em(18);
				    	color: $green;
				    	margin:0;
				    	margin-bottom: em(16);
				    }
				    p{
				    	font-size: em(15);
				    	color: $grey;
				    }
					}
					path{
						&.bg{
							fill: $white;							
						}
						&.border{
							fill: $green;
						}
						&.arrow{
							fill: $green;
						}
					}
				}
			}
		}
		.options-wrap{
			width: 100%;
			padding-left: 0;
			text-align: center;
				
			@media (min-width: $screen-md-min){
				width: 17.5%;
				float: left;				
			}
			.options{
				background: $options-bg;
				color: $white;
				height: 100%;
				padding: em(20);
				@media (min-width: $screen-md-min){
					padding: em(81) em(20) em(20);
				}
				@media (min-width: $screen-lg-min){
					padding: em(120) em(20) em(20);
				}
				@media (min-width: $screen-xl-min){
					padding: em(210) em(20) em(20);
				}
				.row{
					max-width: em(600);
					margin: 0 auto;
				}
				.desc{
					font-size: em(14);
					line-height: em(16,14);
				}
				ul{
					margin: 0;
					padding: 0;
					text-align: center;

					li{
						margin: 0;
						padding: 0;
						display: block;
						vertical-align: top;	
						width: 50%;
						float:left;
						@media (min-width: $screen-sm-min){
							width: 25%;
						}
						@media (min-width: $screen-lg-min){
							width: 100%;
							display: block;
							float: none;
						}			
					}
				}
				h2{
					color: $white;
					margin: 0;
					text-decoration: none;
					font-size: em(28);
					margin-bottom: em(33,28);
					@media (min-width: $screen-md-min){
						font-size: em(21);
						margin-bottom: em(24,21);
					}
					@media (min-width: $screen-lg-min){
						font-size: em(28);
						margin-bottom: em(33,28);	
					}					
				}							
			}				
		}
		.products-used{
			padding: em(30) 0 em(50);
			@media (min-width: $screen-md-min){
				padding: em(68) em(60) em(50);
			}
			@media (min-width: $screen-lg-min){
				padding: em(68) em(160) em(50);
			}
			h2{
				margin: 0;
				text-decoration: underline;		
				font-size: em(40);
				margin-bottom: em(25,40); 
				@media (min-width: $screen-md-min){
					font-size: em(60);
					margin-bottom: em(25,60); 
				}		
			}
			.product{
				padding-bottom: em(20);
			}				
		}
	}
}