body.spring-2015{
	#destination-happiness{
		position: fixed;
		top: 20%;
		left: 0;
		z-index: 21;
		cursor: pointer;
		img{
			width: 113px;
			height: 77px;
			@media (min-width: $screen-sm-min){
				width: 180px;
				height: 123px;
			}
			@media (min-width: $screen-lg-min){
				width: 225px;
				height: 154px;
			}
		}
		.menu{
			position: absolute;
			width: 16.5px;
			height: 16.5px;
			top: 31.5px;
			right: 15px;
			@media (min-width: $screen-sm-min){
				width: 26.4px;
				height: 26.4px;
				top: 52px;
				right: 24px;				
			}
			@media (min-width: $screen-lg-min){
				width: 33px;
				height: 33px;
				top: 63px;
				right: 30px;				
			}
			.line{
				height: 2px;
				background: $green;
				position: absolute;
				width: 100%;
				opacity: 1;
				@include transition(0.3s all ease-out);
				@media (min-width: $screen-sm-min){
					height: 3px;
				}
				@media (min-width: $screen-lg-min){
					height: 4px;
				}
			}
			.line-1{
				top: 0;
			}
			.line-2{
				top: 6px;
				@media (min-width: $screen-sm-min){
					top: 9px;
				}
				@media (min-width: $screen-lg-min){
					top:12px;
				}
			}
			.line-3{
				top:12px;
				@media (min-width: $screen-sm-min){
					top: 18px;
				}
				@media (min-width: $screen-lg-min){
					top:24px;
				}
			}
			.dh-items{
				display: block;
				margin-left: 5px;
				background: $red;
				@include border-radius(50%);
				color: $white;
				padding: em(4,8) em(4,8);
				vertical-align: bottom;				
				position: absolute;
				top: -6px;
				right: -6px;
				font-size: em(8);
				line-height: em(12);
				opacity: 1;
				@include transition(0.2s all ease-out);
				@media (min-width: $screen-sm-min){
					font-size: em(12);
					padding: em(5,12) em(5,12);
					top: -9.6px;
					right: -9.6px;
				}
				@media (min-width: $screen-lg-min){
					font-size: em(15);
					padding: em(2,15) em(8,15);
					top: -12px;
					right: -12px;
					line-height: inherit;
				}
			}
			.dh-items.empty{
				display: none;
			}
		}
		&.active{
			.menu{
				.line-1{
					top: 6px;
					@media (min-width: $screen-sm-min){
						top: 9px;
					}					
					@media (min-width: $screen-lg-min){
						top: 12px;					
					}
					@include transform(rotate(45deg));					
				}
				.line-3{
					top: 6px;
					@media (min-width: $screen-sm-min){
						top: 9px;
					}
					@media (min-width: $screen-lg-min){
						top: 12px;					
					}					
					@include transform(rotate(-45deg));					
				}
				.line-2{
					opacity: 0;
				}
				.dh-items{
					@include transform(scale(0));	
				}
			}
		}
	}
	#destination-happiness-content{
		font-family: $font-family;
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  font-size: 16px;
		background: $green;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		z-index: 20;
		text-align: center;
		*{
			@extend %border-box;
		}
		.dh-content{
			height: 100%;
			overflow: auto;
			color: $white;
			padding: 0 30px;
			a{
				color: $white;
			}
			h2{
				font-size: 1em;
				position: relative;
				width: 100%;
				margin: 0 auto;
				margin-top: 50px;
				margin-bottom: 30px;
				@media (min-width: $screen-sm-min){
					width: 61.25%;
				}
				span{
					display: inline-block;
					background: $green;
					position: relative;
					padding: 0 30px;
				}
				.destination{
					font-size: em(20);					
				}
				.happiness{
					font-size: em(24);
				}
				&:before{
					content: '.';
					display: block;
					border-top: 1px solid $white;
					position: absolute;
					top: 50%;
					text-indent: -9999px;
					width: 100%;
				}
			}
			.hex-wrap{
				max-width: 630px;
				margin: 0 auto;
				.col-xs-4{
					padding-right: 5px;
					padding-left: 5px;
					@media (min-width: $screen-sm-min){
						padding-right: 15px;
						padding-left: 15px;
					}
				}
				.hex{
					position: relative;
					svg{
						width: 86px;
						height: 94px;
						@media (min-width: 390px){
							width: 110px;
							height: 197px;
						}
						@media (min-width: 480px){
							width: 139px;
							height: 152px;
						}
						@media (min-width: $screen-sm-min){
							width: 180px;
							height: 197px;
						}
						@media (min-width: $screen-md-min){
							width: 180px;
							height: 197px;
						}
					}
					a{
						display: block;
					}
					.text{
						position: absolute;
						font-size: em(18);
						text-decoration: underline;
						@extend %center-align;
						font-weight: 700;
						@media (min-width: $screen-sm-min){
							font-size: em(24);
						}
					}
				}
			}
			.dh-share{
				.dh-share-title{
					position: relative;
					width: 100%;
					margin: 0 auto;
					@media (min-width: $screen-sm-min){
						width: 61.25%;
					}
					span{
						display: inline-block;
						background: $green;
						position: relative;
						padding: 0 30px;
					}
					&:before{
						content: '.';
						display: block;
						border-top: 1px solid $white;
						position: absolute;
						top: 50%;
						text-indent: -9999px;
						width: 100%;
					}
				}
				.links{
					margin-top: 30px;
					.circle{
						@include border-radius(50%);
						border: 4px solid $white;
						position: relative;
						width: 50px;
						height: 50px;
						display: block;
						i{
							@extend %center-align;
							font-size: em(24);
						}
					}
				}
			}			
		}
		#destination-links{
			margin-top: 30px;
			margin-bottom: 35px;
			a{
				display: block;
				font-size: em(16);
				font-weight: 700;
				padding: em(9,16) 0;
				@media (min-width: $screen-sm-min){
					font-size: em(24);
					padding: em(9,24) 0;
				}
			}
			.dh-items{
				display: inline-block;
				margin-left: 5px;
				background: $red;
				@include border-radius(50%);
				color: $white;
				font-size: em(15,24);
				padding: 2px 8px;
				vertical-align: bottom;				
			}
		}
	}
}