#subscribe{
		.chair{
			position: absolute;
      left: -30px;
    	top: -171px;
    	width: 198px;
    	@media (min-width: $screen-sm-min){
    		left: 104px;
    		top: -303px;
    		width: auto;
    	}
		}
		h2{
			color: $white;
			background: $green;
			float: left;
			margin-top: 0;
			padding: em(10,45) em(20,45) em(10,45) em(9,45);
			margin-bottom: em(20,45);
			font-size: em(45);			
		}
		.line-pattern{
			padding: em(69,45) em(210,45) em(30,45) em(240,45);
		}
		.form{
			input{
				font-size: em(24);
				padding: 0;
				height: em(74,24);				
			}
			input[type=text],
			input[type=email]{
				background: $white;
				border: none;
				@include box-shadow(none);
				margin-right: 17px;
				padding: 0 em(31,24);
    		line-height: 1em;
    		width: 100%;
    		margin-bottom: 1em;
    		@media (min-width: $screen-sm-min){
    			width: 33.178%;
    			margin-bottom: 0;    			
				}
			}
			input[type=submit]
			{
				border:0;
				background: $green;
				color: $white;
				text-decoration: underline;
				font-weight: bold;
				@include border-radius(0);
				font-size: em(25);
				padding: 0 em(50,25);
    		line-height: 1em;    		
			}
		}
		.we-love-basket{
			position: absolute;
	    right: 30px;
		  bottom: -30px;
		  width: 87px;
			@media (min-width: $screen-sm-min){
				right: 96px;
	    	bottom: -28px;
	    	top: inherit;
	    	width: auto;
    	}
			i{
				position: absolute;
				color: $pale-blue;
				top: 20px;
				right: -22px;
				@media (min-width: $screen-sm-min){
					font-size: 50px;
				}
			}
		}
	}