#slide1922 svg,
#slide1922 img {
  height: 100%;
  width: auto;
}
#slide1922 #logo-1922 div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
#slide1922 #stamp-1922 div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
