#slide1990s {
  background-color: #414042;
}
#slide1990s img,
#slide1990s svg {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
#slide1990s .layer div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
