#slide2001-1 {
  background-color: #0e004e;
}
#slide2001-1 img {
  height: 100%;
  width: auto;
}
#slide2001-1 #ground-2001-1 {
  top: auto;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #58585b;
}
#slide2001-1 #skyline-2001-1 {
  top: 0%;
  width: 100%;
  height: 85%;
  background-color: #0e004e;
}
