@import "../widgets/widgets.less";
@import "_variables.less";


div.brand-pages{
	text-align: center;
	.rte{
		text-align: center;
	}
	a{
		color: black;
	}
	.half{
		margin-bottom: 30px;
		@media (min-width: 768px){
			float: left;
			width: 50%;	
		}	
	}
	.widget-block-five{
		.text{
			font-size: 20px;
		}
	}
	.widget-video{
		overflow: hidden;
		.slick-slider{
			.slick-slide{
				&.slide-video{
					background: black;
				}
				button.close{
					i{
						color: white;
					}
				}				
			}
		}		
	}
	.designers-header{
		margin-bottom: 0;
		.rte{
			max-width: 620px;
			margin: 0 auto;
		}
	}
	.designers{
		.widget-html-image{
			padding: 0;
			margin-bottom: 30px;
			.rte{
				padding: 0 20px;
				max-width: 295px;
				margin: 0 auto;
				margin-top: 30px;
				color: @grey;
				font-weight: 300;
			}
			.image{
				figcaption{
					max-width: 260px;
					margin: 0 auto;
					left: 50%;
					.transform(translateX(-50%) translateY(-50%));
				}
			}			
		}
	}
	.widget-slider{
		.slick-slider{
			.slick-next,
			.slick-prev{
				&:before{
					font-size: 80px;
				}
			}
			.slick-prev{
				left: 0;
				.transform(translateY(-50%) translateX(-50%));
			}
			.slick-next{
				right: 0;
				.transform(translateY(-50%) translateX(50%));
			}
			.slick-prev:before
			{
			    content: 'h';
			}
			[dir='rtl'] .slick-prev:before
			{
			    content: 'h';
			}
			.slick-next:before
			{
			    content: 'i';
			}
			[dir='rtl'] .slick-next:iefore
			{
			    content: 'i';
			}
		}
		&.carousel{
			.widget-link{
				text-transform: none;
				padding: 8px 10px;
			}
		}
	}
}