@import "../widgets/widgets.less";
@import "_variables.less";

div.brand-pages{
	text-align: center;
	.half{
		margin-bottom: 30px;
		float: left;
		width: 50%;		
	}
	.widget-block-five{
		.text{
			font-size: 20px;
		}
	}
}