#product-pages {
  /*FONTS*/
  /*

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) {  }
@media (min-width: @screen-md-min) {  }
@media (min-width: @screen-lg-min) {  }


@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }

*/
  /* BODY FONT*/
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #404040;
}
#product-pages .gothamLight {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 300;
}
#product-pages .gothamBook {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .gothamBookItalic {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 400;
}
#product-pages .gothamMedium {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}
#product-pages .gothamBold {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .gothamBoldItalic {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 700;
}
#product-pages h1,
#product-pages h2,
#product-pages h3,
#product-pages h4,
#product-pages h5,
#product-pages h6 {
  margin-top: 0;
  padding-top: 0;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages h1 {
  font-size: 35px;
}
#product-pages h3 {
  font-size: 22px;
}
#product-pages h6 {
  font-size: 15px;
}
#product-pages span.div {
  display: block;
}
#product-pages p {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages p strong {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages p em {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 400;
}
#product-pages p strong em,
#product-pages p em strong {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 700;
}
#product-pages .breadcrumbs {
  min-height: 40px;
}
#product-pages .breadcrumbs p {
  font-size: 15px;
  line-height: 15px;
  padding: 12px 0;
  margin-bottom: 0;
  color: #404040;
}
#product-pages .clear,
#product-pages .clear-fix {
  clear: both;
}
#product-pages .section-container {
  max-width: 1200px;
}
#product-pages .section-container .inner-container {
  padding-left: 15px;
  padding-right: 15px;
}
#product-pages .bg-light-grey {
  background: #fafafa;
}
#product-pages .bg-dark-grey {
  background: #e0e0e0;
}
@media (max-width: 767px) {
  #product-pages .bg-sm-blue {
    background: #066794;
  }
}
#product-pages .bg-mid-grey {
  background: #eaeaea;
}
#product-pages .text-blue {
  color: #099ade;
}
#product-pages .text-light-grey {
  color: #999999;
}
#product-pages .text-left {
  text-align: left;
}
#product-pages .text-center {
  text-align: center;
}
#product-pages .text-right {
  text-align: right;
}
#product-pages .padding-top {
  padding-top: 50px;
}
#product-pages ul.inline-list {
  padding: 0;
  margin: 0;
}
#product-pages ul.inline-list li {
  list-style: none;
  float: left;
  display: inline-block;
  padding: 5px 20px;
}
#product-pages .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px 85px;
  line-height: 1em;
  font-size: 13px;
  text-transform: uppercase;
}
#product-pages .btn.blue-button {
  background: #066794;
  color: #ffffff;
}
#product-pages .btn.grey-button {
  background: #999999;
  color: #ffffff;
}
#product-pages .btn.full-width {
  width: 100%;
  padding: 20px 20px;
}
@media (max-width: 767px) {
  #product-pages .btn.full-width {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 991px) {
  #product-pages .btn {
    padding: 20px 35px;
  }
}
#product-pages .btn-bhv:hover {
  cursor: pointer;
}
#product-pages .ui-datepicker-div {
  background: #ffffff;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar {
  padding-right: 35px;
  padding-left: 35px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header {
  border-bottom: solid 1px #bdbdbd;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header h3 {
  font-size: 23px;
  text-transform: uppercase;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header h3 .fa {
  display: none;
  float: right;
  font-size: 55px;
  position: relative;
  top: -6px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar header h3 .fa.fa-angle-up {
    display: none;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header h3 .fa.fa-angle-down {
    display: inline;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header.active h3 .fa.fa-angle-up {
    display: inline;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header.active h3 .fa.fa-angle-down {
    display: none;
  }
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .order-item-wrap {
    display: none;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .edit-link {
  text-align: right;
  padding-top: 5px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .edit-link a {
  color: #0776aa;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-price-header {
  color: #ffffff;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section {
  border-bottom: solid 1px #bdbdbd;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section {
    border-bottom: solid 1px #8cc0ce;
  }
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .delivery .left-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .gst .left-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .total .left-col {
    width: 50%;
    float: left;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .delivery .right-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .gst .right-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .total .right-col {
    width: 50%;
    float: right;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .quantity {
  font-size: 10px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .name {
  font-size: 16px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .description {
  font-size: 14px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .product-code {
  font-size: 12px;
  color: #999999;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .price {
  font-size: 16px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  padding-top: 18px;
  text-align: right;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .price span {
  font-size: 10px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-text {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-price {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-total {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #099ade;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-total span {
  font-size: 10px;
  padding-left: 5px;
  text-transform: none;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .total {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #099ade;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .delivery,
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .gst {
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap {
    color: #ffffff;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .quantity,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .name,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .description,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .product-code,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .price {
    text-align: left;
    padding-left: 80px;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-text,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-total {
    text-align: left;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-price {
    text-align: right;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .price {
    padding-top: 5px;
    text-align: left;
    padding-left: 80px;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .quantity {
    padding: 10px 20px;
    background: #0776ab;
    display: inline-block;
    float: left;
    text-align: center;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .quantity span {
    display: block;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap,
#product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap,
#product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap {
  padding: 20px 5%;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .left-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap .left-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap .left-col {
  width: 65%;
  float: left;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .left-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap .left-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap .left-col {
    float: none;
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .right-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap .right-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap .right-col {
  width: 30%;
  float: right;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .right-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap .right-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap .right-col {
    float: none;
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar footer p {
  font-size: 12px;
  color: #999999;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar ul.order-items li {
  list-style: none;
  margin: 0;
  border-bottom: solid 1px #bdbdbd;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar ul.order-items li {
    border-bottom: solid 1px #8cc0ce;
  }
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar {
    padding-top: 0;
    text-align: center;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header {
    border-bottom: none;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap {
    padding: 20px 5% 5px 5%;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .left-col {
    float: none;
    width: 100%;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .right-col {
    float: none;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar {
    padding-left: 10px;
    padding-right: 10px;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
#product-pages .main-section#checkout-cart-section .main-heading {
  border-bottom: solid 1px #eaeaea;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
#product-pages .main-section#checkout-cart-section #order-form {
  padding-right: 50px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form {
    padding-right: 20px;
    padding-left: 20px;
  }
}
#product-pages .main-section#checkout-cart-section #order-form span.error {
  display: block;
  color: red;
  font-size: .8em;
  padding-top: 5px;
}
#product-pages .main-section#checkout-cart-section #order-form .transition-height {
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart select {
  -webkit-appearance: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric {
  height: 55px;
  background: #ffffff;
  border: solid 1px #bdbdbd;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric .label {
  padding-top: 8px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric .button {
  top: 20px;
  background: url("../templates/images/icon-downarrow.png") no-repeat top center;
  background-size: 15px;
  right: 5px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric .button:after {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric-items {
  -webkit-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric-items li {
  background: #ffffff;
  font-size: 14px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric-items li:hover {
  background: #fafafa;
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section {
  border-bottom: solid 1px #eaeaea;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section .fa,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section .fa {
  color: #bfbfbf;
  float: right;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  top: -14px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section .fa.fa-angle-down,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section .fa.fa-angle-down {
  display: inline;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section .fa.fa-angle-up,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section .fa.fa-angle-up {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section.active,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section.active {
  border-bottom: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section.active .fa.fa-angle-down,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section.active .fa.fa-angle-down {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section.active .fa.fa-angle-up,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section.active .fa.fa-angle-up {
  display: inline;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section:hover {
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .form-section {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #delivery-address .inner-form-section {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #delivery-details,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-comments {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details header,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #delivery-details header {
  padding-left: 10px;
  padding-right: 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill.active {
  padding-bottom: 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .inner-section {
  margin: 0 10px;
  padding: 20px;
  background-color: #e0e0e0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results {
  max-height: 148px;
  overflow-y: scroll;
  border-left: solid 1px #bdbdbd;
  border-right: solid 1px #bdbdbd;
  border-bottom: solid 1px #bdbdbd;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results header {
  background: #eaeaea;
  color: #000000;
  font-size: 13px;
  padding: 2px 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result {
  background: #ffffff;
  padding: 10px 15px;
  border-bottom: solid 1px #eaeaea;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-name {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  display: block;
  color: #099ade;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-address {
  display: inline-block;
  width: 70%;
  color: #bfbfbf;
  font-size: 13px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-phone {
  display: inline-block;
  width: 30%;
  text-align: right;
  color: #bfbfbf;
  font-size: 13px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result:hover {
  cursor: pointer;
  background: #fafafa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .bg-info-icon {
  background: #e0e0e0 url("../templates/images/icon-info.png") no-repeat;
  padding: 30px 30px 30px 85px;
  background-size: 33px;
  background-position: top 30px left 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap {
  margin: 0 -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eaeaea;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .inner-form-section {
  padding: 20px;
  background: #e0e0e0;
  margin-top: 20px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group {
  float: left;
  padding: 10px;
  margin-bottom: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half {
  width: 50%;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full {
  width: 100%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half {
  width: 50%;
  padding-top: 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half.left {
  float: left;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half.right {
  float: right;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.sm-full {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-big {
  width: 30%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-big {
    width: 60%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-small {
  width: 20%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-small {
    width: 40%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-big {
  width: 60%;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-big {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-small {
  width: 40%;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-small {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.space-above {
  padding-top: 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.space-below {
  padding-bottom: 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.no-space-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.no-space-top {
  padding-top: 0;
  margin-top: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .or {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  padding-right: 20px;
  font-size: 18px;
  padding-top: 14px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-address {
  width: 80%;
  float: left;
  padding: 20px;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-address {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .or {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  padding-right: 20px;
  font-size: 18px;
  padding-top: 14px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .btn.new-contact {
  width: 80%;
  float: left;
  padding: 20px;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .btn.new-contact {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.inner-form-header {
  padding: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.inner-form-header .inner-form-section {
  padding: 20px 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group label {
  display: block;
  color: #404040;
  font-size: 15px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .next-button {
  display: inline-block;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .btn {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .pop-title {
  background: #eaeaea;
  padding: 20px 30px;
  margin: 0 10px;
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .pop-title h6 {
  margin: 0;
  padding: 0;
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .pop-title h6.active {
  display: block;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select {
  font-size: 14px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select {
    font-size: 16px;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email],
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text],
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=date] {
  height: 55px;
  width: 100%;
  border: solid 1px #bdbdbd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 25px 15px 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input#receiving_date {
  background: url("../templates/images/icon-calendar.png") no-repeat;
  background-size: 20px;
  background-position: right 15px top 50%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input#receiving_date:hover {
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea {
  height: 150px;
  width: 100%;
  border: solid 1px #bdbdbd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 35px 15px 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email].error,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text].error,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.error {
  border: solid 1px red;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email].valid,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text].valid,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.valid {
  background: #ffffff url("../templates/images/icon-greentick.png") no-repeat;
  background-size: 15px;
  background-position: right 12px top 50%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email].search-box,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text].search-box,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.search-box {
  background: #ffffff url("../templates/images/icon-bluesearch.png") no-repeat;
  background-size: 55px;
  background-position: right 0px top 50%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.valid {
  background-position: right 12px top 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select {
  top: 18px;
  background: url("../templates/images/icon-downarrow.png") no-repeat top center;
  background-position: right 10px top 50%;
  background-size: 20px;
  right: 5px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .radio-inputs {
  position: relative;
  top: -10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .radio-inputs input[type=radio] {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group label .radio-button {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  border: solid 4px #bfbfbf;
  width: 20px;
  height: 20px;
  display: inline-block;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group label.selected .radio-button {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff url("../templates/images/icon-dot.png") no-repeat center center;
  background-size: cover;
  border: solid 4px #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list {
  padding: 0;
  margin: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li:hover label {
  color: #0776aa;
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li:hover label .radio-button {
  border-color: #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li label {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
  position: relative;
  top: 2px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li label .radio-button {
  margin-right: 10px;
  position: relative;
  top: 4px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li label .radio-button input[type=radio] {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button {
  border: solid 1px #bdbdbd;
  padding: 50px 30px 30px 30px;
  margin: 10px;
  margin-bottom: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button label {
  text-transform: uppercase;
  color: #bfbfbf;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button label .radio-button {
  margin-top: 5px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button {
  margin-left: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button .icon-delivery {
  padding-bottom: 40%;
  background: url("../templates/images/icon-delivery.png") no-repeat center top;
  background-size: 79%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button:hover label,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button.active label {
  color: #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button:hover .icon-delivery,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button.active .icon-delivery {
  background-position: center bottom;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button:hover .radio-button,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button.active .radio-button {
  border-color: #0776aa;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button {
    margin: 10px 10px 10px 0;
    padding: 30px 0;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button {
  margin-right: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button .icon-pickup {
  padding-bottom: 40%;
  background: url("../templates/images/icon-pickup.png") no-repeat center top;
  background-size: 79%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button:hover label,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button.active label {
  color: #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button:hover .icon-pickup,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button.active .icon-pickup {
  background-position: center bottom;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button:hover .radio-button,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button.active .radio-button {
  border-color: #0776aa;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button {
    margin: 10px 0 10px 10px;
    padding: 30px 0;
  }
}
#product-pages .main-section#checkout-success .info {
  padding-top: 30px;
  padding-bottom: 30px;
}
#product-pages .main-section#checkout-success .big-text {
  font-size: 35px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .main-section#checkout-success .bg-location-icon {
  background: url("../templates/images/icon-location.png") no-repeat top 30px left;
  background-size: 55px;
  padding-left: 75px;
  min-height: 120px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-success .bg-location-icon {
    text-align: center;
    padding-left: 0;
    background-position: top center;
    min-height: 0;
    padding-top: 92px;
    margin-top: 30px;
  }
}
#product-pages .main-section#checkout-success .bg-mail-icon {
  background: url("../templates/images/icon-mail.png") no-repeat top 30px left;
  background-size: 100px;
  padding-left: 120px;
  min-height: 120px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-success .bg-mail-icon {
    text-align: center;
    padding-left: 0;
    background-position: top center;
    min-height: 0;
    padding-top: 80px;
  }
}
