#product-pages {
  /*FONTS*/
  /*

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) {  }
@media (min-width: @screen-md-min) {  }
@media (min-width: @screen-lg-min) {  }


@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }

*/
  /* BODY FONT*/
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #404040;
  /*
NAVIGATION
*/
  /*
BREADCRUMB
*/
  /*
MAIN TITLE
*/
}
#product-pages .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
#product-pages .row {
  margin-left: -15px;
  margin-right: -15px;
}
#product-pages .col-xs-1,
#product-pages .col-sm-1,
#product-pages .col-md-1,
#product-pages .col-lg-1,
#product-pages .col-xs-2,
#product-pages .col-sm-2,
#product-pages .col-md-2,
#product-pages .col-lg-2,
#product-pages .col-xs-3,
#product-pages .col-sm-3,
#product-pages .col-md-3,
#product-pages .col-lg-3,
#product-pages .col-xs-4,
#product-pages .col-sm-4,
#product-pages .col-md-4,
#product-pages .col-lg-4,
#product-pages .col-xs-5,
#product-pages .col-sm-5,
#product-pages .col-md-5,
#product-pages .col-lg-5,
#product-pages .col-xs-6,
#product-pages .col-sm-6,
#product-pages .col-md-6,
#product-pages .col-lg-6,
#product-pages .col-xs-7,
#product-pages .col-sm-7,
#product-pages .col-md-7,
#product-pages .col-lg-7,
#product-pages .col-xs-8,
#product-pages .col-sm-8,
#product-pages .col-md-8,
#product-pages .col-lg-8,
#product-pages .col-xs-9,
#product-pages .col-sm-9,
#product-pages .col-md-9,
#product-pages .col-lg-9,
#product-pages .col-xs-10,
#product-pages .col-sm-10,
#product-pages .col-md-10,
#product-pages .col-lg-10,
#product-pages .col-xs-11,
#product-pages .col-sm-11,
#product-pages .col-md-11,
#product-pages .col-lg-11,
#product-pages .col-xs-12,
#product-pages .col-sm-12,
#product-pages .col-md-12,
#product-pages .col-lg-12 {
  padding: 0 15px;
}
#product-pages .gothamLight {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 300;
}
#product-pages .gothamBook {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .gothamBookItalic {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 400;
}
#product-pages .gothamMedium {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}
#product-pages .gothamBold {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .gothamBoldItalic {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 700;
}
#product-pages .h1,
#product-pages .h2,
#product-pages .h3,
#product-pages .h4,
#product-pages .h5,
#product-pages .h6 {
  display: block;
}
#product-pages h1,
#product-pages h2,
#product-pages h3,
#product-pages h4,
#product-pages h5,
#product-pages h6,
#product-pages .h1,
#product-pages .h2,
#product-pages .h3,
#product-pages .h4,
#product-pages .h5,
#product-pages .h6 {
  margin-top: 0;
  padding-top: 0;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages h1.normal-weight,
#product-pages h2.normal-weight,
#product-pages h3.normal-weight,
#product-pages h4.normal-weight,
#product-pages h5.normal-weight,
#product-pages h6.normal-weight,
#product-pages .h1.normal-weight,
#product-pages .h2.normal-weight,
#product-pages .h3.normal-weight,
#product-pages .h4.normal-weight,
#product-pages .h5.normal-weight,
#product-pages .h6.normal-weight {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages h1,
#product-pages .h1 {
  font-size: 35px;
}
#product-pages h3,
#product-pages .h3 {
  font-size: 22px;
}
#product-pages h6,
#product-pages .h6 {
  font-size: 15px;
}
#product-pages span.div {
  display: block;
}
#product-pages p {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages p strong {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages p em {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 400;
}
#product-pages p strong em,
#product-pages p em strong {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 700;
}
#product-pages .clear,
#product-pages .clear-fix {
  clear: both;
}
#product-pages .section-container {
  max-width: 1216px;
}
#product-pages .section-container .inner-container {
  padding-left: 15px;
  padding-right: 15px;
}
#product-pages .bg-light-grey {
  background: #fafafa;
}
#product-pages .bg-dark-grey {
  background: #e3e3e3;
}
@media (max-width: 767px) {
  #product-pages .bg-sm-blue {
    background: #066794;
  }
}
#product-pages .bg-mid-grey {
  background: #eaeaea;
}
#product-pages .bg-table-header-grey {
  background: #f4f4f4;
}
#product-pages .text-blue {
  color: #099ade;
}
#product-pages .text-light-grey {
  color: #b4b4b4;
}
#product-pages .text-left {
  text-align: left;
}
#product-pages .text-center {
  text-align: center;
}
#product-pages .text-right {
  text-align: right;
}
#product-pages .padding-top {
  padding-top: 50px;
}
#product-pages .border-bottom {
  border-bottom: solid 1px #bdbdbd;
}
#product-pages .border-bottom.border-light {
  border-bottom: solid 1px #eaeaea;
}
#product-pages ul.inline-list {
  padding: 0;
  margin: 0;
}
#product-pages ul.inline-list li {
  list-style: none;
  float: left;
  display: inline-block;
  padding: 5px 20px;
}
#product-pages .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 85px;
  line-height: 1em;
  font-size: 13px;
  text-transform: uppercase;
}
#product-pages .btn.blue-button {
  background: #066794;
  color: #ffffff;
}
#product-pages .btn.grey-button {
  background: #999999;
  color: #ffffff;
}
#product-pages .btn.small-width {
  padding: 15px 45px;
}
#product-pages .btn.xs-full {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  #product-pages .btn.xs-full {
    width: 100%;
  }
}
#product-pages .btn.full-width {
  width: 100%;
  padding: 20px 8px;
}
@media (max-width: 767px) {
  #product-pages .btn.full-width {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 991px) {
  #product-pages .btn {
    padding: 20px 35px;
  }
}
#product-pages .btn-bhv:hover {
  cursor: pointer;
}
#product-pages .ui-datepicker-div {
  background: #ffffff;
}
#product-pages .subnavbar .nav a {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 13px;
}
#product-pages .breadcrumb-section .breadcrumb-inner {
  max-width: 1200px;
  margin: 0 auto;
}
#product-pages .breadcrumb-section .breadcrumb-inner .breadcrumbs {
  padding: 10px 0;
  margin: 0;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .breadcrumb-section .breadcrumb-inner .breadcrumbs li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#product-pages .breadcrumb-section .breadcrumb-inner .breadcrumbs li a {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  line-height: 1em;
  color: #404040;
}
#product-pages .main-section#checkout-cart-section {
  overflow: hidden;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar {
  padding-right: 5px;
  padding-left: 5px;
}
@media (min-width: 768px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar:after {
    content: "";
    width: 100%;
    height: 10000px;
    display: block;
    position: absolute;
    z-index: -1000;
    background-color: #e3e3e3;
    left: 0;
    top: -5000px;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header {
  border-bottom: solid 1px #bdbdbd;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header h3 {
  font-size: 23px;
  text-transform: uppercase;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header h3 .fa {
  display: none;
  float: right;
  font-size: 55px;
  position: relative;
  top: -6px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar header h3 .fa.fa-angle-up {
    display: none;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header h3 .fa.fa-angle-down {
    display: inline;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header.active h3 .fa.fa-angle-up {
    display: inline;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header.active h3 .fa.fa-angle-down {
    display: none;
  }
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .order-item-wrap {
    display: none;
    border-top: solid 1px #bdbdbd;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .edit-link {
  text-align: right;
  padding-top: 5px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .edit-link a {
  color: #0776aa;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-price-header {
  color: #b4b4b4;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section {
  border-bottom: solid 1px #bdbdbd;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .delivery .left-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .gst .left-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .total .left-col {
  width: 60%;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .delivery .left-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .gst .left-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .total .left-col {
    text-align: left;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .delivery .right-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .gst .right-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .total .right-col {
  width: 40%;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .delivery .right-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .gst .right-col,
  #product-pages .main-section#checkout-cart-section #cart-sidebar .total-section .info-wrap .total .right-col {
    text-align: left;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .cart-thumbnail {
  border: solid 1px #bdbdbd;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .cart-thumbnail img {
  width: 100%;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .inner-left-col {
  float: left;
  width: 65%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .inner-left-col {
    float: none;
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .inner-right-col {
  float: right;
  width: 30%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .inner-right-col {
    float: none;
    width: 100%;
    text-align: left;
  }
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .quantity {
  font-size: 15px;
  color: #333333;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .name {
  font-size: 16px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .description {
  font-size: 14px;
  color: #333333;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .product-code {
  font-size: 12px;
  color: #b4b4b4;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .price {
  font-size: 16px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  padding-top: 8px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-text {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  color: #999999;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-price {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-total {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #099ade;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .heading-total span {
  font-size: 10px;
  padding-left: 5px;
  text-transform: none;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .total {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #099ade;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .delivery,
#product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap .gst {
  padding-bottom: 2px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap {
  padding: 20px 15px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .left-col {
  width: 80%;
  float: left;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .right-col {
  width: 20%;
  float: right;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap,
#product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap,
#product-pages .main-section#checkout-cart-section #cart-sidebar .section .info-wrap {
  padding: 20px 15px;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap .left-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap .left-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar .section .info-wrap .left-col {
  width: 20%;
  float: left;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar section .info-wrap .right-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar footer .info-wrap .right-col,
#product-pages .main-section#checkout-cart-section #cart-sidebar .section .info-wrap .right-col {
  width: 70%;
  float: right;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar footer {
  text-align: center;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar footer p {
  font-size: 12px;
  color: #b4b4b4;
}
#product-pages .main-section#checkout-cart-section #cart-sidebar ul.order-items li {
  list-style: none;
  margin: 0;
  border-bottom: solid 1px #bdbdbd;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar {
    padding-top: 0;
    text-align: center;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header {
    border-bottom: none;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap {
    padding: 20px 5% 5px 5%;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .left-col {
    float: none;
    width: 100%;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar header .info-wrap .right-col {
    float: none;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #cart-sidebar {
    padding-left: 0px;
    padding-right: 0px;
  }
  #product-pages .main-section#checkout-cart-section #cart-sidebar .info-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
#product-pages .main-section#checkout-cart-section {
  margin-bottom: -35px;
}
#product-pages .main-section#checkout-cart-section .main-heading {
  border-bottom: solid 1px #eaeaea;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
#product-pages .main-section#checkout-cart-section #order-form {
  padding-right: 50px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form {
    padding-right: 20px;
    padding-left: 20px;
  }
}
#product-pages .main-section#checkout-cart-section #order-form span.error {
  display: block;
  color: red;
  font-size: .8em;
  padding-top: 5px;
}
#product-pages .main-section#checkout-cart-section #order-form .transition-height {
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart select {
  -webkit-appearance: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric {
  height: 45px;
  background: #ffffff;
  border: solid 1px #bdbdbd;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric .label {
  padding-top: 2px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: auto;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric .button {
  top: 15px;
  background: url("../templates/images/icon-downarrow.png") no-repeat top center;
  background-size: 15px;
  right: 5px;
  height: 16px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric .button:after {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric-items {
  -webkit-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric-items li {
  background: #ffffff;
  font-size: 14px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .selectric-items li:hover {
  background: #fafafa;
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section {
  border-bottom: solid 1px #eaeaea;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section .fa,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section .fa {
  color: #bfbfbf;
  float: right;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  top: -14px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section .fa.fa-angle-down,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section .fa.fa-angle-down {
  display: inline;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section .fa.fa-angle-up,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section .fa.fa-angle-up {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section.active,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section.active {
  border-bottom: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section.active .fa.fa-angle-down,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section.active .fa.fa-angle-down {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-details .header-section.active .fa.fa-angle-up,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section.active .fa.fa-angle-up {
  display: inline;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .header-section:hover {
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #receiving-goods .form-section {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #delivery-address .inner-form-section {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #delivery-details,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #order-comments {
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details header,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #delivery-details header {
  padding-left: 10px;
  padding-right: 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill .inner-half.left {
  width: 70%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill .inner-half.left {
    width: 100%;
    float: none;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill .inner-half.right {
  width: 30%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill .inner-half.right {
    width: 100%;
    float: none;
    border-top: solid 1px #bdbdbd;
    text-align: left;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branchinfo-details {
  padding-top: 0;
  padding-bottom: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branchinfo-details .branch-name {
  color: #099ade;
  margin-bottom: 5px;
  font-size: 20px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branchinfo-details p {
  margin-bottom: 0;
  font-size: 17px;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branchinfo-details {
    width: 100%;
    float: none;
    padding-bottom: 10px;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branch-info-actions .action-pickup-address {
  padding-top: 1em;
  text-transform: uppercase;
  display: none;
  color: #099ade;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
  text-align: right;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branch-info-actions .action-pickup-address:hover {
  cursor: pointer;
  color: #333333;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branch-info-actions .action-pickup-address.active {
  display: inline;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branch-info-actions .action-pickup-address.active {
  display: inline;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branch-info-actions .action-pickup-address.action-pickup-address-change {
  text-decoration: underline;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autofill #branch-info-actions .action-pickup-address {
    width: 100%;
    float: none;
    text-align: left;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .branch-info-autocomplete {
  padding-top: 20px;
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickup-details .inner-section {
  margin: 0 10px;
  padding: 20px;
  background-color: #e3e3e3;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results {
  max-height: 148px;
  overflow-y: scroll;
  border-left: solid 1px #bdbdbd;
  border-right: solid 1px #bdbdbd;
  border-bottom: solid 1px #bdbdbd;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 33px -10px rgba(0, 0, 0, 0.75);
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results header {
  background: #eaeaea;
  color: #000000;
  font-size: 13px;
  padding: 2px 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result {
  background: #ffffff;
  padding: 10px 15px;
  border-bottom: solid 1px #eaeaea;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-name {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
  display: block;
  color: #099ade;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-address {
  display: inline-block;
  width: 70%;
  color: #bfbfbf;
  font-size: 13px;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-address {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-phone {
  display: inline-block;
  width: 30%;
  text-align: right;
  color: #bfbfbf;
  font-size: 13px;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result .branch-phone {
    width: 100%;
    text-align: left;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results .one-result:hover {
  cursor: pointer;
  background: #fafafa;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart #pickupbranch-results {
    max-height: 190px;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .bg-info-icon {
  background: #e3e3e3 url("../templates/images/icon-info.png") no-repeat;
  padding: 30px 30px 30px 85px;
  background-size: 33px;
  background-position: top 30px left 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap {
  margin: 0 -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eaeaea;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .inner-form-section {
  padding: 20px;
  background: #e3e3e3;
  margin-top: 20px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group {
  float: left;
  padding: 10px;
  margin-bottom: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half {
  width: 50%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half.full-sm {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full {
  width: 100%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half {
  width: 50%;
  padding-top: 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half.left {
  float: left;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half.right {
  float: right;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.sm-full {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-big {
  width: 25%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-big {
    width: 50%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-small {
  width: 25%;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.quarter-small {
    width: 50%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-big {
  width: 60%;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-big {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-small {
  width: 40%;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.half-small {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.space-above {
  padding-top: 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.space-below {
  padding-bottom: 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.no-space-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.no-space-top {
  padding-top: 0;
  margin-top: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .or,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .or {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  padding-right: 20px;
  font-size: 18px;
  padding-top: 10px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .or,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .or {
    width: 100%;
    padding-top: 0;
    padding-bottom: 10px;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-address,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .btn.new-address,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-contact,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .btn.new-contact {
  width: 80%;
  float: left;
  padding: 15px;
}
@media (max-width: 991px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-address,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .btn.new-address,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-contact,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-contact .btn.new-contact {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.inner-form-header {
  padding: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group.inner-form-header .inner-form-section {
  padding: 20px 30px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group label {
  display: block;
  color: #404040;
  font-size: 15px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .next-button {
  display: inline-block;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .btn {
    width: 100%;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .pop-title {
  background: #eaeaea;
  padding: 20px 30px;
  margin: 0 10px;
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .pop-title h6 {
  margin: 0;
  padding: 0;
  display: none;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .pop-title h6.active {
  display: block;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select {
  font-size: 14px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea,
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select {
    font-size: 16px;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email],
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text],
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=date] {
  height: 45px;
  width: 100%;
  border: solid 1px #bdbdbd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 25px 15px 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input#receiving_date {
  background: url("../templates/images/icon-calendar.png") no-repeat;
  background-size: 20px;
  background-position: right 15px top 50%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input#receiving_date:hover {
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea {
  height: 150px;
  width: 100%;
  border: solid 1px #bdbdbd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 35px 15px 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email].error,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text].error,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.error {
  border: solid 1px red;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email].valid,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text].valid,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.valid {
  background: #ffffff url("../templates/images/icon-greentick.png") no-repeat;
  background-size: 15px;
  background-position: right 12px top 50%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=email].search-box,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group input[type=text].search-box,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.search-box {
  background: #ffffff url("../templates/images/icon-bluesearch.png") no-repeat;
  background-size: 45px;
  background-position: right 0px top 50%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group textarea.valid {
  background-position: right 12px top 15px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group select {
  top: 18px;
  background: url("../templates/images/icon-downarrow.png") no-repeat top center;
  background-position: right 10px top 50%;
  background-size: 20px;
  right: 5px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .radio-inputs {
  position: relative;
  top: -10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .radio-inputs input[type=radio] {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group label .radio-button {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  border: solid 4px #bfbfbf;
  width: 20px;
  height: 20px;
  display: inline-block;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group label.selected .radio-button {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff url("../templates/images/icon-dot.png") no-repeat center center;
  background-size: cover;
  border: solid 4px #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list {
  padding: 0;
  margin: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li:hover label {
  color: #0776aa;
  cursor: pointer;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li:hover label .radio-button {
  border-color: #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li label {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
  position: relative;
  top: 2px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li label .radio-button {
  margin-right: 10px;
  position: relative;
  top: 4px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li label .radio-button input[type=radio] {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button {
  background-color: #ffffff;
  border: solid 1px #bdbdbd;
  padding: 50px 30px 30px 30px;
  margin: 10px;
  margin-bottom: 10px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button label {
  text-transform: uppercase;
  color: #bfbfbf;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button label .radio-button {
  margin-top: 5px;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button {
  margin-left: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button .icon-delivery {
  padding-bottom: 40%;
  background: url("../templates/images/icon-delivery.png") no-repeat center top;
  background-size: 79%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button:hover label,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button.active label {
  color: #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button:hover .icon-delivery,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button.active .icon-delivery {
  background-position: center bottom;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button:hover .radio-button,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button.active .radio-button {
  border-color: #0776aa;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.delivery-button {
    margin: 10px 10px 10px 0;
    padding: 30px 0;
  }
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button {
  margin-right: 0;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button .icon-pickup {
  padding-bottom: 40%;
  background: url("../templates/images/icon-pickup.png") no-repeat center top;
  background-size: 79%;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button:hover label,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button.active label {
  color: #0776aa;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button:hover .icon-pickup,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button.active .icon-pickup {
  background-position: center bottom;
}
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button:hover .radio-button,
#product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button.active .radio-button {
  border-color: #0776aa;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-cart-section #order-form form#checkout-cart .form-group-wrap .form-group .picture-button.pickup-button {
    margin: 10px 0 10px 10px;
    padding: 30px 0;
  }
}
#product-pages .main-section#checkout-success .info {
  padding-top: 30px;
  padding-bottom: 20px;
}
#product-pages .main-section#checkout-success .icon-section {
  margin-bottom: 10px;
}
#product-pages .main-section#checkout-success .big-text {
  font-size: 35px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .main-section#checkout-success .border-bottom {
  border-bottom: solid 1px #eaeaea;
}
#product-pages .main-section#checkout-success .bg-location-icon {
  background: url("../templates/images/icon-location.png") no-repeat top 30px left;
  background-size: 55px;
  padding-left: 75px;
  min-height: 120px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-success .bg-location-icon {
    text-align: center;
    padding-left: 0;
    background-position: top center;
    min-height: 0;
    padding-top: 92px;
    margin-top: 30px;
  }
}
#product-pages .main-section#checkout-success .bg-mail-icon {
  background: url("../templates/images/icon-mail.png") no-repeat top 30px left;
  background-size: 100px;
  padding-left: 120px;
  min-height: 120px;
}
@media (max-width: 767px) {
  #product-pages .main-section#checkout-success .bg-mail-icon {
    text-align: center;
    padding-left: 0;
    background-position: top center;
    min-height: 0;
    padding-top: 80px;
  }
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap.item-heading .item-data {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 1em;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap.item-heading .item-data.item-thumbnail,
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap.item-heading .item-data.item-details,
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap.item-heading .item-data.item-quantity,
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap.item-heading .item-data.item-unitprice,
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap.item-heading .item-data.item-subtotal,
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap.item-heading .item-data.item-remove {
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  color: #999999;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .one-product {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data {
  float: left;
  min-height: 86px;
  position: relative;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data .item-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data .item-inner {
    position: relative;
    top: auto;
    transform: initial;
    padding-left: 10px;
    padding-right: 10px;
  }
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail {
  width: 12.5%;
  text-align: center;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail .product-thumbnail {
  width: 90%;
  max-width: 115px;
  display: block;
  text-align: left;
  border: solid 1px #bdbdbd;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail .product-thumbnail img {
  width: 100%;
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail .product-thumbnail {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail {
    padding-bottom: 5px;
  }
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail .item-inner {
    max-width: 250px;
    margin: 0 auto;
  }
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details {
  width: 29.1667%;
  padding-right: 10px;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details .product-code,
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details .product-name,
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details .product-description {
  display: block;
  padding-right: 10px;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details .product-code {
  font-size: 12px;
  color: #999999;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details .product-name {
  font-size: 16px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details .product-description {
  font-size: 12px;
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details {
    padding-bottom: 5px;
  }
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity {
  width: 25%;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity .quantity-number {
  width: 50px;
  height: 40px;
  border: solid 1px #bdbdbd;
  background-color: #f4f4f4;
  padding: 0 5px;
  text-align: center;
  font-size: 16px;
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity .quantity-number {
    width: 100%;
  }
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity .quantity-set {
  padding-left: 5px;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity .quatity-details {
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  color: #b4b4b4;
  padding-left: 55px;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity .quatity-details span {
  color: #099ade;
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity .quatity-details {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity {
    clear: left;
  }
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity .item-inner {
    max-width: 250px;
    margin: 0 auto;
  }
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-unitprice {
  width: 14.5833%;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-unitprice .sub-heading {
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  color: #b4b4b4;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-unitprice span {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-subtotal {
  width: 14.5833%;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-subtotal .sub-heading {
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  color: #b4b4b4;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-subtotal span {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-remove {
  width: 4.1667%;
  text-align: center;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-remove .remove-button {
  color: #c68989;
  font-size: 22px;
  line-height: 22px;
  display: inline-block;
  padding: 5px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}
#product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-remove .remove-button:hover {
  color: #000000;
  cursor: pointer;
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-remove {
    position: absolute;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data {
    min-height: none;
  }
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail.xs-left,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details.xs-left,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity.xs-left,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-unitprice.xs-left,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-subtotal.xs-left,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-remove.xs-left {
    float: left;
    width: 50%;
  }
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-thumbnail.xs-right,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-details.xs-right,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-quantity.xs-right,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-unitprice.xs-right,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-subtotal.xs-right,
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data.item-remove.xs-right {
    float: right;
    width: 50%;
  }
}
@media (max-width: 767px) {
  #product-pages #shopping-cart .shopping-cart-listing .inner-wrap .item-data {
    min-height: auto;
  }
}
