#product-pages {
  /*FONTS*/
  /*

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) {  }
@media (min-width: @screen-md-min) {  }
@media (min-width: @screen-lg-min) {  }


@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }

*/
  /* BODY FONT*/
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #404040;
}
#product-pages .gothamLight {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 300;
}
#product-pages .gothamBook {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}
#product-pages .gothamBookItalic {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 400;
}
#product-pages .gothamMedium {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}
#product-pages .gothamBold {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages .gothamBoldItalic {
  font-family: "Gotham A", "Gotham B";
  font-style: italic;
  font-weight: 700;
}
#product-pages h1,
#product-pages h2,
#product-pages h3,
#product-pages h4,
#product-pages h5,
#product-pages h6 {
  margin-top: 0;
  padding-top: 0;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 700;
}
#product-pages h1 {
  font-size: 35px;
}
#product-pages h3 {
  font-size: 22px;
}
#product-pages h6 {
  font-size: 15px;
}
#product-pages .breadcrumbs {
  min-height: 40px;
}
#product-pages .breadcrumbs p {
  font-size: 15px;
  line-height: 15px;
  padding: 12px 0;
  margin-bottom: 0;
  color: #404040;
}
#product-pages .clear,
#product-pages .clear-fix {
  clear: both;
}
#product-pages .section-container {
  max-width: 1200px;
}
#product-pages .section-container .inner-container {
  padding-left: 15px;
  padding-right: 15px;
}
#product-pages .bg-light-grey {
  background: #fafafa;
}
@media (max-width: 767px) {
  #product-pages .bg-sm-blue {
    background: #0776aa;
  }
}
#product-pages .bg-mid-grey {
  background: #eaeaea;
}
#product-pages .text-blue {
  color: #099ade;
}
#product-pages .text-left {
  text-align: left;
}
#product-pages .text-center {
  text-align: center;
}
#product-pages .text-right {
  text-align: right;
}
#product-pages .padding-top {
  padding-top: 50px;
}
#product-pages ul.inline-list {
  padding: 0;
  margin: 0;
}
#product-pages ul.inline-list li {
  list-style: none;
  float: left;
  display: inline-block;
  padding: 5px 20px;
}
#product-pages .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px 85px;
  line-height: 1em;
  font-size: 13px;
  text-transform: uppercase;
}
#product-pages .btn.blue-button {
  background: #0776aa;
  color: #ffffff;
}
#product-pages .btn.grey-button {
  background: #999999;
  color: #ffffff;
}
#product-pages .btn-bhv:hover {
  cursor: pointer;
}
#product-pages #cart-sidebar {
  padding-right: 35px;
  padding-left: 35px;
}
#product-pages #cart-sidebar header {
  border-bottom: solid 1px #bfbfbf;
}
#product-pages #cart-sidebar header .info-wrap,
#product-pages #cart-sidebar section .info-wrap,
#product-pages #cart-sidebar footer .info-wrap {
  padding: 20px 10%;
}
#product-pages #cart-sidebar header .info-wrap .left-col,
#product-pages #cart-sidebar section .info-wrap .left-col,
#product-pages #cart-sidebar footer .info-wrap .left-col {
  width: 70%;
  float: left;
}
#product-pages #cart-sidebar header .info-wrap .right-col,
#product-pages #cart-sidebar section .info-wrap .right-col,
#product-pages #cart-sidebar footer .info-wrap .right-col {
  width: 30%;
  float: right;
}
#product-pages #cart-sidebar ul.order-items li {
  list-style: none;
  margin: 0;
  border-bottom: solid 1px #bfbfbf;
}
#product-pages #order-form {
  padding-right: 50px;
}
@media (max-width: 767px) {
  #product-pages #order-form {
    padding-right: 20px;
    padding-left: 20px;
  }
}
#product-pages #order-form span.error {
  display: block;
  color: red;
  font-size: .8em;
  padding-top: 5px;
}
#product-pages #order-form form#checkout-cart #receiving-goods .header-section:hover {
  cursor: pointer;
}
#product-pages #order-form form#checkout-cart #receiving-goods .form-section {
  display: none;
}
#product-pages #order-form form#checkout-cart #delivery-address .inner-form-section {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}
#product-pages #order-form form#checkout-cart #pickup-details,
#product-pages #order-form form#checkout-cart #delivery-details,
#product-pages #order-form form#checkout-cart #order-comments {
  display: none;
}
#product-pages #order-form form#checkout-cart #pickup-details header,
#product-pages #order-form form#checkout-cart #delivery-details header {
  padding-left: 10px;
  padding-right: 10px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap {
  margin: 30px -10px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .inner-form-section {
  padding: 20px;
  background: #fafafa;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group {
  float: left;
  padding: 10px;
  margin-bottom: 0;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.half {
  width: 50%;
}
@media (max-width: 767px) {
  #product-pages #order-form form#checkout-cart .form-group-wrap .form-group.half {
    width: 100%;
  }
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.full {
  width: 100%;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half {
  width: 50%;
  padding-top: 10px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half.left {
  float: left;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.full .inner-half.right {
  float: right;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.quarter-big {
  width: 30%;
}
@media (max-width: 767px) {
  #product-pages #order-form form#checkout-cart .form-group-wrap .form-group.quarter-big {
    width: 60%;
  }
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.quarter-small {
  width: 20%;
}
@media (max-width: 767px) {
  #product-pages #order-form form#checkout-cart .form-group-wrap .form-group.quarter-small {
    width: 40%;
  }
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.half-big {
  width: 60%;
}
@media (max-width: 767px) {
  #product-pages #order-form form#checkout-cart .form-group-wrap .form-group.half-big {
    width: 100%;
  }
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.half-small {
  width: 40%;
}
@media (max-width: 767px) {
  #product-pages #order-form form#checkout-cart .form-group-wrap .form-group.half-small {
    width: 100%;
  }
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.no-space-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.select-previous-address.active .arrow-triangle {
  height: 22px;
  background: url("../templates/images/arrow-triangle.png") no-repeat center bottom;
  width: 100%;
  background-size: 24px 12px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .or {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  padding-right: 20px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-address {
  width: 80%;
  float: left;
  padding: 20px;
}
@media (max-width: 767px) {
  #product-pages #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address .btn.new-address {
    width: 100%;
  }
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.enter-new-address.active .arrow-triangle {
  height: 22px;
  background: url("../templates/images/arrow-triangle.png") no-repeat center bottom;
  width: 80%;
  float: right;
  background-size: 24px 12px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.inner-form-header {
  padding: 0;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group.inner-form-header .inner-form-section {
  padding: 20px 30px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group label {
  display: block;
  color: #404040;
  font-size: 15px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group .next-button {
  display: inline-block;
}
@media (max-width: 767px) {
  #product-pages #order-form form#checkout-cart .form-group-wrap .form-group .btn {
    width: 100%;
  }
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group .pop-title {
  background: #eaeaea;
  padding: 20px 30px;
  margin: 0 10px;
  display: none;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group .pop-title h6 {
  margin: 0;
  padding: 0;
  display: none;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group .pop-title h6.active {
  display: block;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group select,
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group input[type=email],
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group input[type=text],
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group input[type=date] {
  height: 55px;
  font-size: 14px;
  width: 100%;
  border: solid 1px #bfbfbf;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group textarea {
  height: 150px;
  font-size: 14px;
  width: 100%;
  border: solid 1px #bfbfbf;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group input[type=radio]:hover {
  cursor: pointer;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list {
  padding: 0;
  margin: 0;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li {
  list-style: none;
  float: left;
  display: inline-block;
  padding: 0 20px;
}
#product-pages #order-form form#checkout-cart .form-group-wrap .form-group ul.radio-list li label {
  display: inline-block;
  padding-left: 20px;
}
