/* <b> tag*/
/* Video Widget*/
/* Big button Widget */
/* <b> tag*/
/* Colours */
/* Font Sizes */
/* Font Weight */
/* Text Decoration */
/* Text Transform */
div.brand-pages {
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
  div.brand-pages {
    font-size: 20px;
  }
}
div.brand-pages h1,
div.brand-pages h2,
div.brand-pages h3,
div.brand-pages h4,
div.brand-pages h5,
div.brand-pages h6,
div.brand-pages a,
div.brand-pages button,
div.brand-pages input,
div.brand-pages textarea,
div.brand-pages select,
div.brand-pages p {
  font-family: 'Frutiger W01', helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  div.brand-pages h1,
  div.brand-pages h2,
  div.brand-pages h3,
  div.brand-pages h4,
  div.brand-pages h5,
  div.brand-pages h6,
  div.brand-pages a,
  div.brand-pages button,
  div.brand-pages input,
  div.brand-pages textarea,
  div.brand-pages select,
  div.brand-pages p {
    line-height: 1.5;
  }
}
div.brand-pages h1,
div.brand-pages h2,
div.brand-pages h3,
div.brand-pages h4,
div.brand-pages h5,
div.brand-pages h6 {
  line-height: 1.3;
}
div.brand-pages h1 a,
div.brand-pages h2 a,
div.brand-pages h3 a,
div.brand-pages h4 a,
div.brand-pages h5 a,
div.brand-pages h6 a {
  line-height: 1.3;
}
div.brand-pages h2 {
  line-height: 1.2;
}
div.brand-pages h2 a {
  line-height: 1.2;
}
div.brand-pages h1 {
  color: #9d2341;
  font-size: 42px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}
div.brand-pages h1 a {
  color: #9d2341;
}
@media (min-width: 1200px) {
  div.brand-pages h1 {
    font-size: 60px;
  }
}
div.brand-pages h2 {
  color: #9d2341;
  font-size: 28px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 38px;
}
div.brand-pages h2 a {
  color: #9d2341;
}
@media (min-width: 1200px) {
  div.brand-pages h2 {
    font-size: 40px;
  }
}
div.brand-pages h3 {
  color: #9d2341;
  font-size: 28px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}
div.brand-pages h3 a {
  color: #9d2341;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  div.brand-pages h3 {
    font-size: 40px;
  }
}
div.brand-pages .button {
  display: block;
  margin: 0 auto;
  background: #9d2341;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 9px 30px;
  max-width: 275px;
  width: 100%;
}
div.brand-pages .bg-grey {
  background: #ededeb;
}
div.brand-pages .padding-less .row {
  margin: 0 auto;
}
div.brand-pages .padding-less .row .col-sm-6,
div.brand-pages .padding-less .row .col-sm-4,
div.brand-pages .padding-less .row .col-sm-3,
div.brand-pages .padding-less .row .col-sm-12,
div.brand-pages .padding-less .row .col-sm-2 {
  padding: 0;
}
div.brand-pages .frases {
  text-transform: none;
  color: black;
  font-size: 25px;
}
@media (min-width: 768px) {
  div.brand-pages .frases {
    font-size: 38px;
  }
}
div.brand-pages .frases .rte {
  max-width: 165px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  div.brand-pages .frases .rte {
    max-width: 265px;
  }
}
div.brand-pages .frases .rte p {
  line-height: 25px;
}
@media (min-width: 768px) {
  div.brand-pages .frases .rte p {
    line-height: 38px;
  }
}
div.brand-pages .frases .col-sm-4:first-child .widget-html-image:after {
  width: 1px;
  height: 98px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ededeb;
  content: " ";
}
div.brand-pages .frases .col-sm-4:last-child .widget-html-image:after {
  width: 1px;
  height: 98px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ededeb;
  content: " ";
}
div.brand-pages .frases .col-sm-4 .widget-html-image {
  padding: 35px 0;
}
div.brand-pages .intro-slider {
  margin-bottom: 10px;
}
div.brand-pages .intro-summary {
  text-align: center;
  margin-bottom: 0;
}
div.brand-pages .widget-link {
  margin-top: 20px;
  padding: 18px 38px;
  font-size: 20px;
}
div.brand-pages .widget-logo {
  padding: 44px 0 0;
}
div.brand-pages .widget-slider .slick-dots {
  background: white;
  margin-bottom: 0;
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-1 .text {
  -webkit-transform: translateY(50%) translateX(-10px);
  -moz-transform: translateY(50%) translateX(-10px);
  -ms-transform: translateY(50%) translateX(-10px);
  -o-transform: translateY(50%) translateX(-10px);
  transform: translateY(50%) translateX(-10px);
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-1.slick-active .text,
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-1.slick-cloned .text {
  -webkit-transform: translateY(-50%) translateX(-10px);
  -moz-transform: translateY(-50%) translateX(-10px);
  -ms-transform: translateY(-50%) translateX(-10px);
  -o-transform: translateY(-50%) translateX(-10px);
  transform: translateY(-50%) translateX(-10px);
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2 .text {
  color: white;
  -webkit-transform: translateY(50%) translateX(-100%);
  -moz-transform: translateY(50%) translateX(-100%);
  -ms-transform: translateY(50%) translateX(-100%);
  -o-transform: translateY(50%) translateX(-100%);
  transform: translateY(50%) translateX(-100%);
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2 .text img {
  max-width: 40px;
}
@media (min-width: 768px) {
  div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2 .text img {
    max-width: 100%;
  }
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2.slick-active .text,
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2.slick-cloned .text {
  -webkit-transform: translateY(-50%) translateX(-100%);
  -moz-transform: translateY(-50%) translateX(-100%);
  -ms-transform: translateY(-50%) translateX(-100%);
  -o-transform: translateY(-50%) translateX(-100%);
  transform: translateY(-50%) translateX(-100%);
}
div.brand-pages .widget-slider .slick-slider .slick-slide .text {
  font-weight: 600;
}
div.brand-pages .widget-html-image.title {
  padding-top: 50px;
}
div.brand-pages .widget-html-image.title p {
  margin-top: 18px;
}
div.brand-pages .widget-html-image.feature-products {
  padding: 40px 0;
}
div.brand-pages .widget-html-image.feature-products .image {
  margin-bottom: 70px;
}
div.brand-pages .widget-html-image h3 {
  margin: 0;
}
div.brand-pages .widget-html-image.friamat h2 {
  color: black;
}
div.brand-pages .widget-html-image.friamat h2 a {
  color: black;
}
div.brand-pages .widget-html-image.top figcaption {
  color: #888888;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  top: 20px;
  font-size: 16px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  div.brand-pages .widget-html-image.top figcaption {
    font-size: 20px;
    top: 62px;
  }
}
div.brand-pages .widget-html-image.bottom figcaption {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  font-size: 16px;
  top: inherit;
  padding: 0 20px;
  bottom: 40px;
}
@media (min-width: 768px) {
  div.brand-pages .widget-html-image.bottom figcaption {
    font-size: 20px;
  }
}
div.brand-pages .widget-html-image.view-videos .view-all-videos {
  display: block;
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  -ms-transition: 0.5s all ease-out;
  -o-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
div.brand-pages .widget-html-image.view-videos .view-all-videos:hover {
  text-decoration: none;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
div.brand-pages .widget-html-image.view-videos .view-all-videos i {
  width: 74px;
  height: 74px;
  background-image: url(../../images/brand-pages/armitage-shanks/play-icon.png);
  background-size: 74px 74px;
  display: block;
  margin: 0 auto;
}
div.brand-pages .widget-html-image.view-videos .view-all-videos i:before {
  display: none;
  content: " ";
}
div.brand-pages .widget-html-image.view-videos .view-all-videos .label {
  display: block;
  font-weight: 500;
  color: #9d2341;
  font-size: 32px;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
}
div.brand-pages .widget-video {
  text-transform: uppercase;
  background-size: contain;
}
div.brand-pages .widget-video .slick-slider .slick-slide .image {
  position: relative;
}
div.brand-pages .widget-video .slick-slider .slick-slide .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: black;
}
div.brand-pages .widget-video .slick-slider .slide-video {
  background: #9d2341;
}
div.brand-pages .widget-video .image {
  text-align: right;
}
div.brand-pages .widget-video .image img {
  margin: 0 auto;
}
div.brand-pages .widget-video .text {
  text-align: center;
}
@media (min-width: 768px) {
  div.brand-pages .widget-video .text {
    left: -20%;
    top: 50%;
    position: absolute;
    font-size: 48px;
    -webkit-transform: translateY(-50%) translateX(-100%);
    -moz-transform: translateY(-50%) translateX(-100%);
    -ms-transform: translateY(-50%) translateX(-100%);
    -o-transform: translateY(-50%) translateX(-100%);
    transform: translateY(-50%) translateX(-100%);
  }
}
div.brand-pages .widget-video .text p {
  color: #9d2341;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 0;
}
div.brand-pages .widget-video .text b {
  text-decoration: underline;
  color: black;
}
div.brand-pages .widget-video .play {
  display: block;
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  -ms-transition: 0.5s all ease-out;
  -o-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  /*i{
		    background: rgba(157, 35, 65, 0.30);
		    height: 72px;
		    display: block;
		    width: 72px;
		    .border-radius(50%);
		    padding-left: 0.5px;
		    margin: 0 auto;
				font-size: 70px;
				position: relative;
				z-index: 0;
				vertical-align: middle;
				&:before{
					content: "\6b";
			    height: 66px;
			    line-height: 70px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    vertical-align: middle;
			    .transform(translateX(-50%) translateY(-50%));
				}
				&:after{
					display: block;
			    content: " ";
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    .transform(translateX(-50%) translateY(-50%));
			    background: #FFF;
			    width: 53px;
			    height: 51px;
			    z-index: -1;
			    .border-radius(50%);
				}
			}*/
}
div.brand-pages .widget-video .play:hover {
  text-decoration: none;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
div.brand-pages .widget-video .play i {
  width: 74px;
  height: 74px;
  background-image: url(../../images/brand-pages/armitage-shanks/play-icon.png);
  background-size: 74px 74px;
  display: block;
  margin: 0 auto;
}
div.brand-pages .widget-video .play i:before {
  display: none;
  content: " ";
}
div.brand-pages .widget-video .play .label {
  display: block;
  font-weight: 500;
  color: #9d2341;
  font-size: 32px;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
}
div.brand-pages .intro {
  max-width: 730px;
  margin: 0 auto;
}
div.brand-pages .trio h3 a:hover {
  color: black;
}
div.brand-pages .friamat-container {
  padding: 40px 20px;
}
@media (min-width: 992px) {
  div.brand-pages .friamat-container {
    padding: 40px 90px;
  }
}
div.brand-pages .friamat-container h2 a:hover {
  color: #9d2341;
}
div.brand-pages .history {
  margin-bottom: 0;
  padding-top: 0;
}
div.brand-pages .history .image {
  margin-bottom: 0;
  padding: 15px 0;
}
@media (min-width: 992px) {
  div.brand-pages .history .image {
    padding: 0;
    margin-bottom: 30px;
  }
}
div.brand-pages .history .image figcaption {
  text-transform: uppercase;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  top: inherit;
  bottom: 20px;
  padding: 0 30px;
}
div.brand-pages .history .image figcaption strong {
  color: #9d2341;
}
div.brand-pages .history .title {
  padding-top: 70px;
  padding-bottom: 50px;
}
div.brand-pages .history .row {
  margin: 0;
}
div.brand-pages .history .row .col-xs-12,
div.brand-pages .history .row .col-sm-6 {
  background: #ededeb;
}
@media (min-width: 992px) {
  div.brand-pages .history .row .col-sm-6:first-child {
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  div.brand-pages .history .row .col-sm-6:last-child {
    padding-right: 30px;
  }
}
div.brand-pages .history .widget-html-image .image figcaption {
  font-size: 20px;
  line-height: 1;
  bottom: 38px;
  padding: 0 40px;
}
@media (min-width: 992px) {
  div.brand-pages .history .widget-html-image .image figcaption {
    font-size: 37px;
  }
}
div.brand-pages .history .widget-html-image.dark .image figcaption {
  color: #3a3c3b;
}
div.brand-pages .history .widget-html-image.dark-strong .image figcaption strong {
  color: #3a3c3b;
}
