/* <b> tag*/
/* Video Widget*/
/* Big button Widget */
/* <b> tag*/
/* Colours */
/* Font Sizes */
/* Font Weight */
/* Text Decoration */
/* Text Transform */
div.brand-pages {
  font-size: 15px;
}
div.brand-pages h1,
div.brand-pages h2,
div.brand-pages h3,
div.brand-pages h4,
div.brand-pages h5,
div.brand-pages h6,
div.brand-pages a,
div.brand-pages button,
div.brand-pages input,
div.brand-pages textarea,
div.brand-pages select,
div.brand-pages p {
  font-family: "Gotham A", "Gotham B";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}
@media (min-width: 768px) {
  div.brand-pages h1,
  div.brand-pages h2,
  div.brand-pages h3,
  div.brand-pages h4,
  div.brand-pages h5,
  div.brand-pages h6,
  div.brand-pages a,
  div.brand-pages button,
  div.brand-pages input,
  div.brand-pages textarea,
  div.brand-pages select,
  div.brand-pages p {
    line-height: 1.5;
  }
}
div.brand-pages h1,
div.brand-pages h2,
div.brand-pages h3,
div.brand-pages h4,
div.brand-pages h5,
div.brand-pages h6 {
  line-height: 1.3;
}
div.brand-pages h1 a,
div.brand-pages h2 a,
div.brand-pages h3 a,
div.brand-pages h4 a,
div.brand-pages h5 a,
div.brand-pages h6 a {
  line-height: 1.3;
}
div.brand-pages h2 {
  line-height: 1.2;
}
div.brand-pages h2 a {
  line-height: 1.2;
}
div.brand-pages h1 {
  color: #00aeef;
  font-size: 42px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}
div.brand-pages h1 a {
  color: #00aeef;
}
@media (min-width: 1200px) {
  div.brand-pages h1 {
    font-size: 60px;
  }
}
div.brand-pages h2 {
  color: #00aeef;
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 38px;
}
div.brand-pages h2 a {
  color: #00aeef;
}
@media (min-width: 1200px) {
  div.brand-pages h2 {
    font-size: 50px;
  }
}
div.brand-pages h3 {
  color: #00aeef;
  font-size: 18.2px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}
div.brand-pages h3 a {
  color: #00aeef;
}
@media (min-width: 1200px) {
  div.brand-pages h3 {
    font-size: 26px;
  }
}
div.brand-pages .bg-grey {
  background: #ededeb;
}
div.brand-pages .intro-slider {
  margin-bottom: 10px;
}
div.brand-pages .intro-summary {
  text-align: center;
  margin-bottom: 0;
}
div.brand-pages .widget-link {
  margin-top: 20px;
  padding: 18px 38px;
  font-size: 20px;
  border: 1px solid #00aeef;
  color: #00aeef;
  margin-bottom: 30px;
}
div.brand-pages .widget-big-button {
  background: #00aeef;
}
div.brand-pages .widget-big-button a .text {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
div.brand-pages .widget-big-button.left i:before {
  content: "d";
}
div.brand-pages .widget-big-button.right i:before {
  content: "c";
}
div.brand-pages .widget-slider {
  margin-left: -15px;
  margin-right: -15px;
}
div.brand-pages .widget-slider .slick-dots {
  background: white;
  margin-bottom: 0;
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-1 .text {
  color: #00aeef;
  text-transform: uppercase;
  -webkit-transform: translateY(50%) translateX(-10px);
  -moz-transform: translateY(50%) translateX(-10px);
  -ms-transform: translateY(50%) translateX(-10px);
  -o-transform: translateY(50%) translateX(-10px);
  transform: translateY(50%) translateX(-10px);
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-1.slick-active .text,
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-1.slick-cloned .text {
  -webkit-transform: translateY(-50%) translateX(-10px);
  -moz-transform: translateY(-50%) translateX(-10px);
  -ms-transform: translateY(-50%) translateX(-10px);
  -o-transform: translateY(-50%) translateX(-10px);
  transform: translateY(-50%) translateX(-10px);
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2 .text {
  color: white;
  text-transform: uppercase;
  -webkit-transform: translateY(50%) translateX(-100%);
  -moz-transform: translateY(50%) translateX(-100%);
  -ms-transform: translateY(50%) translateX(-100%);
  -o-transform: translateY(50%) translateX(-100%);
  transform: translateY(50%) translateX(-100%);
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2 .text img {
  max-width: 40px;
}
@media (min-width: 768px) {
  div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2 .text img {
    max-width: 100%;
  }
}
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2.slick-active .text,
div.brand-pages .widget-slider .slick-slider .slick-slide.slide-2.slick-cloned .text {
  -webkit-transform: translateY(-50%) translateX(-100%);
  -moz-transform: translateY(-50%) translateX(-100%);
  -ms-transform: translateY(-50%) translateX(-100%);
  -o-transform: translateY(-50%) translateX(-100%);
  transform: translateY(-50%) translateX(-100%);
}
div.brand-pages .widget-slider .slick-slider .slick-slide .text {
  font-weight: 600;
}
div.brand-pages .widget-slider .slick-slider .slick-next:before,
div.brand-pages .widget-slider .slick-slider .slick-prev:before {
  color: #8e8e8d;
}
div.brand-pages .widget-html-image.friamat h2 {
  color: black;
}
div.brand-pages .widget-html-image.friamat h2 a {
  color: black;
}
div.brand-pages .widget-video {
  text-transform: uppercase;
  background-size: contain;
}
div.brand-pages .widget-video .slick-slider .slick-slide .image {
  position: relative;
}
div.brand-pages .widget-video .slick-slider .slick-slide .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: black;
}
div.brand-pages .widget-video .rbp-icon:before {
  content: "c";
}
div.brand-pages .widget-video .image {
  text-align: right;
}
div.brand-pages .widget-video .image img {
  margin: 0 auto;
}
div.brand-pages .widget-video .text {
  text-align: left;
}
@media (min-width: 768px) {
  div.brand-pages .widget-video .text {
    left: -20%;
    top: 50%;
    position: absolute;
    font-size: 48px;
    -webkit-transform: translateY(-50%) translateX(-100%);
    -moz-transform: translateY(-50%) translateX(-100%);
    -ms-transform: translateY(-50%) translateX(-100%);
    -o-transform: translateY(-50%) translateX(-100%);
    transform: translateY(-50%) translateX(-100%);
  }
}
div.brand-pages .widget-video .text p {
  color: #00aeef;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 0;
}
div.brand-pages .widget-video .text b {
  text-decoration: underline;
  color: black;
}
div.brand-pages .widget-video .play i {
  color: #00aeef;
}
div.brand-pages .widget-video .play .label {
  display: none;
}
div.brand-pages .intro {
  max-width: 730px;
  margin: 0 auto;
}
div.brand-pages .trio h3 a:hover {
  color: black;
}
div.brand-pages .friamat-container {
  padding: 40px 20px;
}
@media (min-width: 992px) {
  div.brand-pages .friamat-container {
    padding: 40px 90px;
  }
}
div.brand-pages .friamat-container .image {
  text-align: center;
}
@media (min-width: 992px) {
  div.brand-pages .friamat-container .image {
    text-align: left;
  }
}
div.brand-pages .friamat-container h2 a:hover {
  color: #00aeef;
}
div.brand-pages .downloads .row {
  margin-left: -30px;
  margin-right: -30px;
}
