/* <b> tag*/
/* Video Widget*/
/* Big button Widget */
div.brand-pages {
  text-align: center;
  color: #888888;
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
div.brand-pages .rte {
  text-align: center;
}
div.brand-pages a {
  color: black;
}
div.brand-pages .half {
  margin-bottom: 30px;
}
div.brand-pages .bg-grey .widget-slider {
  background: #f3f3f3;
  padding: 30px 0;
  margin: 0;
}
div.brand-pages .videos {
  margin-bottom: 0;
}
div.brand-pages .videos img {
  width: 100%;
}
div.brand-pages .widget-block-five .text {
  font-size: 20px;
}
div.brand-pages .widget-video {
  overflow: hidden;
  color: white;
}
div.brand-pages .widget-video .rbp-icon:before {
  content: "g";
}
div.brand-pages .widget-video .slick-slider .slick-slide.slide-video {
  background: black;
}
div.brand-pages .widget-video .slick-slider .slick-slide button.close i {
  color: white;
}
div.brand-pages .widget-video .slick-slider .slick-slide .play {
  color: white;
}
div.brand-pages .widget-video .slick-slider .slick-slide .play i {
  color: white;
}
div.brand-pages .widget-video .slick-slider .slick-slide .play:hover .text,
div.brand-pages .widget-video .slick-slider .slick-slide .play:hover .label {
  text-decoration: underline;
}
div.brand-pages .widget-video .slick-slider .slick-next:before,
div.brand-pages .widget-video .slick-slider .slick-prev:before {
  color: white;
}
div.brand-pages .designers-header {
  margin-bottom: 30px;
}
div.brand-pages .designers-header h2 {
  color: black;
}
div.brand-pages .designers-header .rte {
  max-width: 620px;
  margin: 0 auto;
}
div.brand-pages .designers .widget-html-image {
  padding: 0;
  margin-bottom: 30px;
}
div.brand-pages .designers .widget-html-image .rte {
  padding: 0 20px;
  max-width: 295px;
  margin: 0 auto;
  margin-top: 30px;
  color: #888888;
  font-weight: 300;
}
div.brand-pages .designers .widget-html-image .image figcaption {
  max-width: 260px;
  margin: 0 auto;
  left: 50%;
  font-weight: 700;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
div.brand-pages .widget-slider .slick-slider .slick-next:before,
div.brand-pages .widget-slider .slick-slider .slick-prev:before {
  font-size: 80px;
}
div.brand-pages .widget-slider .slick-slider .slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
div.brand-pages .widget-slider .slick-slider .slick-next {
  right: 0;
  -webkit-transform: translateY(-50%) translateX(50%);
  -moz-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  -o-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}
div.brand-pages .widget-slider .slick-slider .slick-prev:before {
  content: 'h';
}
div.brand-pages .widget-slider .slick-slider [dir='rtl'] .slick-prev:before {
  content: 'h';
}
div.brand-pages .widget-slider .slick-slider .slick-next:before {
  content: 'i';
}
div.brand-pages .widget-slider .slick-slider [dir='rtl'] .slick-next:iefore {
  content: 'i';
}
div.brand-pages .widget-slider.carousel .widget-link {
  text-transform: none;
  padding: 8px 10px;
}
div.brand-pages .widget-slider.carousel .slick-slide {
  padding: 0 38px;
}
div.brand-pages .widget-video-tabs .video .description {
  line-height: 1;
  color: black;
  font-size: 14px;
}
div.brand-pages .widget-video-tabs .rbp-icon:before {
  content: "g";
}
