/* <b> tag*/
/* Video Widget*/
/* Big button Widget */
div.brand-pages {
  text-align: center;
  color: #686868;
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.brand-pages h1,
div.brand-pages h2,
div.brand-pages h3,
div.brand-pages h4,
div.brand-pages h5,
div.brand-pages h6,
div.brand-pages a,
div.brand-pages button,
div.brand-pages input,
div.brand-pages textarea,
div.brand-pages select,
div.brand-pages p {
  font-family: "Gotham A", "Gotham B";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}
@media (min-width: 768px) {
  div.brand-pages h1,
  div.brand-pages h2,
  div.brand-pages h3,
  div.brand-pages h4,
  div.brand-pages h5,
  div.brand-pages h6,
  div.brand-pages a,
  div.brand-pages button,
  div.brand-pages input,
  div.brand-pages textarea,
  div.brand-pages select,
  div.brand-pages p {
    line-height: 1.5;
  }
}
div.brand-pages h2 {
  line-height: 1;
}
div.brand-pages h3 {
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1;
}
div.brand-pages .rte {
  text-align: center;
}
div.brand-pages a {
  color: black;
}
div.brand-pages .half {
  margin-bottom: 30px;
}
div.brand-pages .bg-grey .widget-slider {
  background: #f3f3f3;
  padding: 30px 0;
  margin: 0;
}
div.brand-pages .widget-link {
  font-weight: 300;
  padding: 5px 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
div.brand-pages .shop-the-range {
  margin-bottom: 0;
}
div.brand-pages .shop-the-range .image {
  margin-bottom: 0;
}
div.brand-pages .shop-the-range .image img {
  width: 100%;
}
div.brand-pages .shop-the-range .row {
  position: relative;
}
div.brand-pages .shop-the-range .content {
  color: white;
}
div.brand-pages .shop-the-range .content .widget-html-image {
  padding: 40px;
}
div.brand-pages .shop-the-range .content .widget-html-image h3 {
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
div.brand-pages .shop-the-range .content .widget-link {
  color: white;
  border-color: white;
  font-weight: 300;
  padding: 5px 20px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  div.brand-pages .shop-the-range .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  div.brand-pages .shop-the-range .content.col-sm-pull-6 {
    left: 0;
  }
}
div.brand-pages .bg-green .row {
  background: #005e5e;
}
div.brand-pages .bg-light-grey .row {
  background: #c3c3c3;
}
div.brand-pages .bg-purple .row {
  background: #3f3c48;
}
div.brand-pages .bg-dark-grey .row {
  background: #4f5255;
}
div.brand-pages .intro h2 {
  color: black;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 80px;
}
div.brand-pages .intro .rte {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  div.brand-pages .intro .rte {
    padding: 0 80px;
  }
}
div.brand-pages .homewares-accessories {
  margin-top: 10px;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  div.brand-pages .homewares-accessories {
    color: white;
  }
}
div.brand-pages .homewares-accessories .image {
  margin-bottom: 0;
}
div.brand-pages .homewares-accessories .widget-link {
  color: #686868;
  border-color: #686868;
}
@media (min-width: 992px) {
  div.brand-pages .homewares-accessories .widget-link {
    color: white;
    border-color: white;
  }
}
div.brand-pages .homewares-accessories .widget-html-image {
  position: relative;
}
div.brand-pages .homewares-accessories .widget-html-image .rte {
  padding: 40px 20px;
}
@media (min-width: 992px) {
  div.brand-pages .homewares-accessories .widget-html-image .rte {
    position: absolute;
    top: 0;
    left: 6%;
    width: 385px;
    text-align: left;
    padding: 0;
    padding-top: 6%;
  }
}
div.brand-pages .hey-inox {
  margin-top: 10px;
}
@media (min-width: 768px) {
  div.brand-pages .hey-inox {
    color: white;
  }
}
div.brand-pages .hey-inox .image {
  margin-bottom: 0;
}
div.brand-pages .hey-inox .widget-link {
  color: #686868;
  border-color: #686868;
}
@media (min-width: 768px) {
  div.brand-pages .hey-inox .widget-link {
    color: white;
    border-color: white;
  }
}
div.brand-pages .hey-inox .widget-html-image {
  position: relative;
}
div.brand-pages .hey-inox .widget-html-image .rte {
  padding: 40px 80px;
}
@media (min-width: 768px) {
  div.brand-pages .hey-inox .widget-html-image .rte {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    margin: 0 -16.5%;
    text-align: center;
    padding: 40px 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
div.brand-pages .reading-material-intro h3 {
  padding-top: 30px;
  color: black;
}
div.brand-pages .reading-material {
  max-width: 600px;
  margin: 0 auto;
}
div.brand-pages .reading-material .widget-html-image {
  margin-bottom: 60px;
}
div.brand-pages .video-intro {
  margin-bottom: 0;
}
div.brand-pages .video-intro h3 {
  color: black;
}
div.brand-pages .video-intro .widget-html-image {
  padding-bottom: 1px;
  padding-top: 60px;
  background: #f3f3f3;
  padding-bottom: 40px;
}
div.brand-pages .video-intro .widget-html-image:after {
  display: block;
  content: " ";
  max-width: 138px;
  margin: 0 auto;
  margin-top: 25px;
  height: 1px;
  background: #888;
}
div.brand-pages .video .widget-video {
  background: #f3f3f3;
}
div.brand-pages .video .video-slides {
  padding: 10px 5.5% 60px;
}
div.brand-pages .video .play .rbp-icon {
  background: url(../../images/brand-pages/milli/fa-play-circle.svg);
  width: 116px;
  height: 116px;
  opacity: 0.9;
  display: block;
}
div.brand-pages .video .play .rbp-icon:before {
  display: none;
  content: "";
}
div.brand-pages .magic-metallics h3,
div.brand-pages .daily-inspiration h3 {
  padding-top: 30px;
  color: black;
}
div.brand-pages .find-inspiration h4 {
  letter-spacing: 0.07em;
  max-width: 200px;
  margin: 0 auto;
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
}
div.brand-pages .find-inspiration .widget-html-image {
  margin-bottom: 30px;
}
div.brand-pages .widget-slider .slick-slider .slick-next:before,
div.brand-pages .widget-slider .slick-slider .slick-prev:before {
  font-size: 80px;
}
div.brand-pages .widget-slider .slick-slider .slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
div.brand-pages .widget-slider .slick-slider .slick-next {
  right: 0;
  -webkit-transform: translateY(-50%) translateX(50%);
  -moz-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  -o-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}
div.brand-pages .widget-slider .slick-slider .slick-prev:before {
  content: 'h';
}
div.brand-pages .widget-slider .slick-slider [dir='rtl'] .slick-prev:before {
  content: 'h';
}
div.brand-pages .widget-slider .slick-slider .slick-next:before {
  content: 'i';
}
div.brand-pages .widget-slider .slick-slider [dir='rtl'] .slick-next:iefore {
  content: 'i';
}
div.brand-pages .widget-slider.carousel h3 {
  color: #a5a5a5;
  margin-bottom: 30px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 24px;
}
div.brand-pages .widget-slider.carousel .slick-slider {
  max-width: 100%;
}
div.brand-pages .widget-slider.carousel .slick-slide {
  padding: 0 28px;
}
div.brand-pages .widget-slider.carousel .slick-slide .text {
  color: #686868;
}
div.brand-pages .widget-video-tabs .video .description {
  line-height: 1;
  color: black;
  font-size: 14px;
}
div.brand-pages .widget-video-tabs .rbp-icon:before {
  content: "g";
}
