/* Video Widget*/
/* Big button Widget */
div.brand-pages {
  text-align: center;
  color: #1d1d1d;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.01em;
  overflow-x: hidden;
  font-family: 'Neue Helvetica W01', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
div.brand-pages h1,
div.brand-pages h2,
div.brand-pages h3,
div.brand-pages h4,
div.brand-pages h5,
div.brand-pages h6 {
  color: #000000;
  text-transform: uppercase;
}
div.brand-pages .container-fluid {
  /*border:solid 1px black;*/
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  div.brand-pages .container-fluid {
    margin-bottom: 60px;
  }
}
div.brand-pages .half {
  margin-bottom: 30px;
}
div.brand-pages .intro {
  max-width: 900px;
  margin-bottom: 50px;
}
div.brand-pages .intro h2 {
  font-size: 28px;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
div.brand-pages .intro p {
  line-height: 200%;
  text-align: center;
  max-width: 445px;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  div.brand-pages .intro p {
    text-align: left;
  }
}
div.brand-pages .feature-icons {
  max-width: 960px;
  padding: 0 15px;
}
div.brand-pages .feature-icons .row {
  margin: 0 -6px;
}
div.brand-pages .feature-icons .row .col-xs-6,
div.brand-pages .feature-icons .row .col-sm-3 {
  padding: 0 6px;
}
div.brand-pages .feature-icons .widget-html-image {
  padding: 0;
  margin-bottom: 6px;
}
@media (min-width: 992px) {
  div.brand-pages .feature-icons .widget-html-image {
    margin-bottom: 0;
  }
}
div.brand-pages .feature-icons .widget-html-image .image {
  overflow: hidden;
  border: 0px solid #dcdcdc;
}
div.brand-pages .widget-html-image .image {
  overflow: hidden;
  border: 1px solid #dcdcdc;
}
div.brand-pages .morse-video .widget-video .slide-front:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
div.brand-pages .morse-video .widget-video figcaption {
  margin-top: 30px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
div.brand-pages .morse-video .widget-video button.close i {
  color: #000000;
}
div.brand-pages .morse-video .widget-video .play .rbp-icon {
  background: url(../../images/brand-pages/morse/play-btn.png) no-repeat;
  display: block;
  width: 117px;
  height: 117px;
  background-size: 117px 117px;
  display: inline-block;
}
div.brand-pages .morse-video .widget-video .play .rbp-icon:before {
  content: "";
}
div.brand-pages .products-intro {
  margin-bottom: 56px;
}
div.brand-pages .products-intro h2 {
  font-size: 29px;
  margin-bottom: 0;
  text-align: center;
}
div.brand-pages .products {
  margin-bottom: 48px;
  text-align: center;
}
@media (min-width: 768px) {
  div.brand-pages .products {
    text-align: left;
  }
  div.brand-pages .products.align-right .rte {
    text-align: right;
  }
}
div.brand-pages .products .image {
  margin-bottom: 0;
  text-align: center;
}
div.brand-pages .products .row {
  margin-left: -25px;
  margin-right: -25px;
}
div.brand-pages .products .row .col-sm-12,
div.brand-pages .products .row .col-sm-6 {
  padding: 0 25px;
}
div.brand-pages .products a {
  display: inline-block;
  border: 1px solid #c2c2c2;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  height: 40px;
  line-height: 38px;
  padding: 0 26px;
  margin-top: 22px;
  font-size: 15px;
}
div.brand-pages .products h3 {
  text-transform: uppercase;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 8px;
  font-size: 18px;
}
@media (min-width: 768px) {
  div.brand-pages .products h3 {
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  div.brand-pages .products h3 {
    margin-top: 60px;
  }
}
div.brand-pages .products p {
  color: #1d1d1d;
  font-weight: 300;
}
div.brand-pages .products .widget-html-image .image {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 1px solid #dcdcdc;
}
div.brand-pages .products .widget-html-image .image figcaption {
  top: inherit;
  bottom: 30px;
  font-size: 25px;
  font-weight: bold;
}
div.brand-pages .discover {
  margin-bottom: 30px;
}
div.brand-pages .discover h2 {
  font-size: 30px;
  margin: 0;
}
div.brand-pages .downloads-title {
  margin-bottom: 0;
}
div.brand-pages .downloads-title h2 {
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
div.brand-pages .downloads-title .widget-html-image {
  background-color: #F0F0F0;
}
div.brand-pages .downloads {
  margin-bottom: 0;
  text-align: center;
}
div.brand-pages .downloads .widget-html-image {
  padding: 0 0 20px;
  background-color: #F0F0F0;
}
div.brand-pages .downloads .widget-html-image .brochure {
  max-width: 170px;
  margin: 0 auto;
}
div.brand-pages .downloads .image {
  border: none;
}
div.brand-pages .downloads .widget-link {
  border: 1px solid #c2c2c2;
  padding: 0 26px;
  height: 43px;
  line-height: 41px;
  display: block;
  font-size: 16px;
}
div.brand-pages .downloads .rte {
  text-align: center;
  font-weight: bold;
}
div.brand-pages .downloads .rte .img {
  min-height: 400px;
}
div.brand-pages .downloads .rbp-icon {
  background: transparent url(../../images/brand-pages/morse/download.svg) no-repeat;
  width: 75px;
  height: 75px;
  display: inline-block;
}
div.brand-pages .downloads .rbp-icon:before {
  content: "";
}
div.brand-pages .downloads .download .rbp-icon {
  background-image: url(../../images/brand-pages/morse/download.svg);
}
div.brand-pages .downloads .videos .rbp-icon {
  background-image: url(../../images/brand-pages/morse/video.svg);
}
div.brand-pages .downloads .website .rbp-icon {
  background-image: url(../../images/brand-pages/morse/website.svg);
}
div.brand-pages .downloads .widget-big-button {
  background: #269a7b;
  text-align: center;
  padding: 40px;
  margin-bottom: 10px;
}
div.brand-pages .downloads .widget-big-button .rte {
  margin-bottom: 0 !important;
}
div.brand-pages .downloads .widget-big-button h3 {
  color: white;
}
div.brand-pages .downloads .widget-big-button a {
  display: block;
  color: white;
}
div.brand-pages .downloads .widget-big-button a .text {
  text-transform: none;
  font-weight: bold;
  line-height: 1;
}
@media (min-width: 768px) {
  div.brand-pages .downloads .widget-big-button a .text {
    font-size: 25px;
  }
}
div.brand-pages .downloads .widget-big-button a .icon {
  margin-bottom: 15px;
}
div.brand-pages .downloads .widget-big-button a .icon i {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
div.brand-pages .downloads .widget-big-button a .icon:after {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  content: " ";
  display: block;
  background: transparent url(../../images/brand-pages/morse/shadow.png) no-repeat;
  width: 76px;
  height: 14px;
  margin: 0 auto;
  margin-top: 15px;
}
div.brand-pages .downloads .widget-big-button a:hover .text {
  text-decoration: underline;
}
div.brand-pages .downloads .widget-big-button a:hover .icon i {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
div.brand-pages .downloads .widget-big-button a:hover .icon:after {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
}
div.brand-pages .downloads .widget-slider .slick-slider .slick-next:before,
div.brand-pages .downloads .widget-slider .slick-slider .slick-prev:before {
  font-size: 80px;
}
div.brand-pages .downloads .widget-slider .slick-slider .slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
div.brand-pages .downloads .widget-slider .slick-slider .slick-next {
  right: 0;
  -webkit-transform: translateY(-50%) translateX(50%);
  -moz-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  -o-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}
div.brand-pages .downloads .widget-slider .slick-slider .slick-prev:before {
  content: 'h';
}
div.brand-pages .downloads .widget-slider .slick-slider [dir='rtl'] .slick-prev:before {
  content: 'h';
}
div.brand-pages .downloads .widget-slider .slick-slider .slick-next:before {
  content: 'i';
}
div.brand-pages .downloads .widget-slider .slick-slider [dir='rtl'] .slick-next:iefore {
  content: 'i';
}
div.brand-pages .downloads .widget-slider .slick-slider a {
  display: inline-block;
}
div.brand-pages .downloads .widget-slider.carousel .widget-link {
  text-transform: none;
  padding: 8px 10px;
}
div.brand-pages .downloads .widget-slider.carousel .slick-slide {
  padding: 0 38px;
}
