/* <b> tag*/
/* Video Widget*/
/* Big button Widget */
div.brand-pages {
  text-align: left;
  color: #888888;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {
  div.brand-pages {
    font-size: 20px;
  }
}
div.brand-pages h2 {
  color: black;
  position: relative;
  font-size: 33px;
  margin-bottom: 31px;
}
div.brand-pages h2:after {
  position: absolute;
  bottom: -18px;
  left: 0;
  content: " ";
  display: block;
  height: 4px;
  width: 21px;
  background: black;
}
div.brand-pages h2 span {
  font-weight: 300;
}
div.brand-pages h2 strong {
  display: block;
  font-size: 28px;
  margin-top: 10px;
}
div.brand-pages h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 4px;
}
div.brand-pages h3 a {
  color: white;
}
div.brand-pages h4 {
  color: #729748;
  position: relative;
  font-size: 25px;
  font-weight: 300;
}
div.brand-pages h4:after {
  content: " ";
  display: block;
  width: 10px;
  height: 3px;
  background: white;
  position: absolute;
  bottom: -10px;
  left: 0;
}
div.brand-pages p {
  margin: 0 0 24px;
  letter-spacing: 0.05px;
}
div.brand-pages .container {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  div.brand-pages .container {
    margin-bottom: 60px;
  }
}
div.brand-pages .padding-less .row {
  margin: 0 auto;
}
div.brand-pages .padding-less .row .col-sm-6,
div.brand-pages .padding-less .row .col-sm-4,
div.brand-pages .padding-less .row .col-sm-3,
div.brand-pages .padding-less .row .col-sm-12,
div.brand-pages .padding-less .row .col-sm-2 {
  padding: 0;
}
div.brand-pages .bg-grey .widget-video {
  padding: 10px;
  background: #f3f3f3;
}
@media (min-width: 768px) {
  div.brand-pages .bg-grey .widget-video {
    padding: 60px;
  }
}
div.brand-pages .rte {
  text-align: left;
}
div.brand-pages .widget-logo {
  background: #353535;
  padding-bottom: 40px;
}
div.brand-pages .widget-video .rbp-icon:before {
  content: "c";
}
div.brand-pages .intro-text {
  color: #7d8c93;
  font-size: 18px;
}
div.brand-pages .case-studies-title {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  div.brand-pages .intro {
    padding-top: 40px;
  }
}
div.brand-pages .intro h2 {
  font-size: 33px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  div.brand-pages .intro h2 {
    padding-left: 20px;
  }
  div.brand-pages .intro h2:after {
    left: 20px;
  }
}
@media (min-width: 992px) {
  div.brand-pages .intro h2 {
    padding-left: 120px;
  }
  div.brand-pages .intro h2:after {
    left: 120px;
  }
}
@media (min-width: 1200px) {
  div.brand-pages .intro h2 {
    padding-left: 173px;
  }
  div.brand-pages .intro h2:after {
    left: 173px;
  }
}
div.brand-pages .intro-copy {
  color: #7d8c93;
  padding-right: 40px;
  padding-top: 26px;
}
div.brand-pages .intro-copy .rte {
  font-size: 18px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  div.brand-pages .intro-copy .rte {
    padding-right: 64px;
  }
}
div.brand-pages .product-profiles {
  margin-bottom: 0;
}
div.brand-pages .product-profiles .row {
  margin-left: -27px;
  margin-right: -27px;
}
div.brand-pages .product-profiles .row .col-sm-6 {
  padding-right: 27px;
  padding-left: 27px;
}
div.brand-pages .product-profiles .product-profile {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  div.brand-pages .product-profiles .product-profile {
    margin-bottom: 54px;
  }
}
div.brand-pages .product-profiles .product-profile .image {
  margin-bottom: 0;
}
div.brand-pages .product-profiles .product-profile .image figcaption {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  top: 20px;
  left: 0;
  text-align: right;
  font-size: 25px;
  padding-right: 20px;
}
div.brand-pages .product-profiles .product-profile.first .image {
  margin-bottom: 0;
}
div.brand-pages .product-profiles .product-profile.first .image figcaption {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  top: 20px;
  left: 0;
  text-align: left;
  padding-right: 0;
  padding-left: 20px;
}
div.brand-pages .case-studies {
  margin-bottom: 0;
}
div.brand-pages .case-studies .row {
  margin-left: -27px;
  margin-right: -27px;
}
div.brand-pages .case-studies .row .col-sm-6 {
  padding-right: 27px;
  padding-left: 27px;
}
div.brand-pages .case-studies .case-study {
  padding: 64px 40px 14px 40px;
  background: #353535;
  color: white;
  margin-bottom: 60px;
}
div.brand-pages .case-studies .case-study .button {
  color: #729748;
  font-size: 45px;
}
div.brand-pages .case-studies .case-study p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  div.brand-pages .case-studies .case-study p {
    padding-right: 180px;
  }
}
div.brand-pages .main-video .play i {
  display: block;
  width: 74px;
  height: 74px;
  background-size: 74px 74px;
  background-image: url(../../images/brand-pages/rehau/play.png);
}
@media (min-width: 992px) {
  div.brand-pages .main-video .play i {
    width: 148px;
    height: 148px;
    background-size: 148px 148px;
  }
}
div.brand-pages .main-video .play i:before {
  display: none;
  content: " ";
}
div.brand-pages .main-video .play .label {
  display: none;
}
div.brand-pages .tripplets .row {
  margin-left: -8px;
  margin-right: -8px;
}
div.brand-pages .tripplets .col-xs-4 {
  padding: 0 8px;
}
div.brand-pages .bottom-links .slide-front {
  background: #729748;
}
div.brand-pages .bottom-links .slide-front .play i {
  color: white;
  font-size: 40px;
}
div.brand-pages .bottom-links .slide-front .label {
  font-size: 20px;
}
div.brand-pages .bottom-links .image figcaption {
  font-size: 20px;
  font-weight: 500;
}
div.brand-pages .bottom-links .image figcaption i {
  font-size: 30px;
}
div.brand-pages .bottom-links .widget-html-image .rbp-icon:before {
  content: "\6c";
}
div.brand-pages .button {
  color: #729748;
  display: block;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  -ms-transition: 0.5s all ease-out;
  -o-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}
div.brand-pages .button i {
  font-size: 30px;
  vertical-align: middle;
}
div.brand-pages .button:hover {
  text-decoration: none;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
