/* Video Widget*/
/* Big button Widget */
div.brand-pages {
  text-align: center;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: -0.01em;
  overflow-x: hidden;
  font-family: 'Neue Helvetica W01', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
div.brand-pages h1,
div.brand-pages h2,
div.brand-pages h3,
div.brand-pages h4,
div.brand-pages h5,
div.brand-pages h6 {
  color: #313131;
}
div.brand-pages .container-fluid {
  /*border: solid 1px;*/
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  div.brand-pages .container-fluid {
    margin-bottom: 60px;
  }
}
div.brand-pages .half {
  margin-bottom: 30px;
}
div.brand-pages .intro {
  max-width: 1050px;
}
div.brand-pages .intro h2 {
  font-size: 28px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}
div.brand-pages .intro p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  div.brand-pages .intro p {
    text-align: center;
  }
}
div.brand-pages .walraven-video {
  margin-bottom: 0;
}
div.brand-pages .walraven-video .widget-video {
  margin-bottom: 30px;
}
div.brand-pages .walraven-video .widget-video .slide-front:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
div.brand-pages .walraven-video .widget-video button.close i {
  color: #313131;
}
div.brand-pages .walraven-video .widget-video .play .label {
  font-weight: bold;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
div.brand-pages .walraven-video .widget-video .play .rbp-icon {
  width: 69px;
  height: 69px;
  margin: 0 auto;
  display: block;
  background-image: url(../../images/brand-pages/walraven/play-btn.png);
  background-size: 69px 69px;
}
@media (min-width: 768px) {
  div.brand-pages .walraven-video .widget-video .play .rbp-icon {
    width: 110px;
    height: 110px;
    background-size: 110px 110px;
  }
}
div.brand-pages .walraven-video .widget-video .play .rbp-icon:before {
  content: " ";
}
div.brand-pages .products-intro {
  margin-top: 50px;
  margin-bottom: 56px;
}
div.brand-pages .products-intro h2 {
  font-size: 29px;
  margin-bottom: 0;
  text-align: center;
}
div.brand-pages .products {
  margin-bottom: 48px;
  text-align: center;
}
@media (min-width: 768px) {
  div.brand-pages .products {
    text-align: left;
  }
  div.brand-pages .products.align-right .rte {
    text-align: right;
  }
}
div.brand-pages .products .image {
  margin-bottom: 0;
  text-align: center;
}
div.brand-pages .products .row {
  margin-left: -25px;
  margin-right: -25px;
}
div.brand-pages .products .row .col-sm-12,
div.brand-pages .products .row .col-sm-6 {
  padding: 0 25px;
}
div.brand-pages .products a {
  display: inline-block;
  border: 1px solid #c2c2c2;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  height: 40px;
  line-height: 38px;
  padding: 0 26px;
  margin-top: 22px;
  font-size: 15px;
}
div.brand-pages .products h3 {
  text-transform: uppercase;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 8px;
  font-size: 18px;
}
@media (min-width: 768px) {
  div.brand-pages .products h3 {
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  div.brand-pages .products h3 {
    margin-top: 60px;
  }
}
div.brand-pages .products p {
  color: #1d1d1d;
  font-weight: 300;
}
div.brand-pages .products .widget-html-image .image {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 1px solid #dcdcdc;
}
div.brand-pages .products .widget-html-image .image figcaption {
  top: inherit;
  bottom: 30px;
  font-size: 25px;
  font-weight: bold;
}
div.brand-pages .downloads-title {
  margin-top: 30px;
  margin-bottom: 0;
}
div.brand-pages .downloads-title h2 {
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
div.brand-pages .downloads-title .widget-html-image {
  background-color: #F0F0F0;
}
div.brand-pages .downloads {
  margin-bottom: 0;
  text-align: center;
}
div.brand-pages .downloads .widget-html-image {
  padding: 0 0 20px;
  background-color: #F0F0F0;
}
div.brand-pages .downloads .widget-html-image .brochure {
  max-width: 170px;
  margin: 0 auto;
}
div.brand-pages .downloads .image {
  border: none;
  margin-bottom: 15px;
}
div.brand-pages .downloads .widget-link {
  border: 1px solid #c2c2c2;
  padding: 0 26px;
  height: 43px;
  line-height: 41px;
  display: block;
  font-size: 16px;
}
div.brand-pages .downloads .rte {
  text-align: center;
  font-weight: bold;
}
div.brand-pages .downloads .rte .img {
  min-height: 400px;
}
div.brand-pages .downloads .rbp-icon {
  background: transparent url(../../images/brand-pages/morse/download.svg) no-repeat;
  width: 75px;
  height: 75px;
  display: inline-block;
}
div.brand-pages .downloads .rbp-icon:before {
  content: "";
}
