#search{
	padding-top: 30px;
	.clearfix();
	input{
		width: 37%;
		height: 56px;
		float: left;
	}
	button{
		width: 56px;
		height: 56px;
		text-align: center;
		float: left;
		border: none;
		padding: 0;
		svg{
			circle,
			line{
				stroke: white;
			}
		}
	}
}