#search{
	margin-top: 30px;
	position: relative;
	.clearfix();
	input{
		width: 100%;
		height: 54px;
		float: left;
		font-size: 16px;
		@media (min-width: @screen-sm-custom){
			width: 37%;
		}
	}
	button{
		width: 54px;
		height: 54px;
		text-align: center;
		border: none;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
		svg{
			width: 20px;
			height: 20px;
		}
		@media (min-width: @screen-sm-custom){
			float: left;	
			position: relative;		
			top: inherit;
			right: inherit;
		}
		svg{
			circle,
			line{
				stroke: white;
			}
		}
	}
}