#shopping-cart-widget{
	background: #0776aa;
	.transition(0.3s all ease-out);
	.clearfix();
	z-index: 2;
	@media (min-width: @screen-sm){
		position: absolute;
		top: 0;
		right: -502px;
		width: 585px;
		height: 100vh;
	}
	aside{
		width: 83px;
		height: 100%;
		float: left;
		text-align: center;
		padding-top: 10px;
		button{
			border: none;
			.border-radius(0);
			background: none;
			.appearance(none);
			outline: none;
			svg{
				width: 44px;
				height: 35px;
				fill: white;
			}
			&:focus{
				svg{
					fill: white;
				}
			}
		}		
	}
	.shopping-cart-content{
		width: 502px;
		height: 100%;
		float: left;
		background: #066693;
	}
	&.open{
		right: 0;
	}
}