#shopping-cart-widget{
	background: #0776aa;
	.transition(0.3s all ease-out);
	.clearfix();
	z-index: 2;
	@media (min-width: @screen-sm){
		position: absolute;
		top: 0;
		.setRight(-502px);
		.setWidth(585px);
		height: 100vh;
	}
	aside{
		.setWidth(83px);
		height: 100%;
		float: left;
		text-align: center;
		padding-top: 10px;
		button{
			border: none;
			.border-radius(0);
			background: none;
			.appearance(none);
			outline: none;
			svg{
				.setWidth(44px);
				.setHeight(35px);
				fill: white;
			}
			&:focus{
				svg{
					fill: white;
				}
			}
		}		
	}
	.shopping-cart-content{
		.setWidth(502px);
		height: 100%;
		float: left;
		background: #066693;
	}
	&.open{
		right: 0;
	}
}