#shopping-cart-widget{
	background: #0776aa;
	.transition(0.3s right ease-out);
	.clearfix();
	z-index: 2;
	@media (min-width: @screen-sm){
		position: absolute;
		top: 0;
		.setRight(-502px);
		.setWidth(585px);
		min-height: 100%;
		&.fixed{
			button{
				position: fixed;
				top: 10px;
				.setRight(13px);
				.transform(translate3d(0,0,0));
			}
		}
	}	
	aside{
		.setWidth(83px);
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		padding-top: 10px;
		cursor: pointer;
		button{
			border: none;
			.border-radius(0);
			background: none;
			.appearance(none);
			outline: none;
			right: 10px;
			svg{
				.setWidth(44px);
				.setHeight(35px);
				fill: white;
			}
			&:focus{
				svg{
					fill: white;
				}
			}
		}		
	}
	.shopping-cart-content{
		.transform(translateX(200px));
		.transform(translate3d(200px,0,0));
		opacity: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		.setWidth(502px);
		height: 100%;
		background: #066693;
    position: absolute;
    top: 0;
    right: 0;
    .transition-special(0.5s, transform, ease-out);
    .main-title{
			font-size:30px;
			color:@white;
			text-align:center;
			.gothamMedium;
			padding: 20px 10px;
			border-bottom:solid 1px @text-light-blue;
			@media (max-width: @screen-xs-max) {
				font-size:20px;
			}
		}
		.tour-info{
			padding:20px;
			text-align:center;
			.tour-intro{
				color: @text-light-blue;
				.gothamBook;
				font-size:20px;
			}
			.tour-popout{
				background: @bg-light-blue;
				color:@white;
				padding:20px;
				margin:35px 0;
				.gothamBook;
				font-size:15px;
				h4{
					.gothamMedium;
					font-size:14px;
					text-transform: uppercase;
				}
				.tour-button{
					color:@white;
					.gothamMedium;
					text-transform: uppercase;
					font-size:19px;
					background: #287aa1;
				}
			}
			.tour-extra{
				color: @white;
				.gothamBook;
				font-size:20px;
			}
		}
		.itemlist-section{
			color:@white;
			.item-list{
				padding:20px;
				margin:0;
				.left-col{
					float:left;
					width:50%;
					display:block;
				}
				.right-col{
					float:right;
					width:50%;
					text-align: right;
					display:block;
				}

				.one-item{
					padding:0;
					margin:10px;
					list-style: none;
					.item-block{
						background: #0776aa;
						.item-info{
							padding:10px 20px;
							.edit-item,.product-thumbnail,.item-details,.remove-from-list{
								float:left;
								display:block;
							}
							.edit-item{
								width:10%;
							}
							.product-thumbnail{
								width:25%;
							}
							.item-details{
								width:55%;
							}
							.remove-from-list{
								width:10%;
							}
						}
						.item-details{
							p{
								line-height: 1em;
								margin-bottom:3px;
							}
							.product-code{
								.gothamMedium;
								font-size:12px;
							}
							.product-name{
								.gothamBold;
								font-size:18px;
							}
							.product-description{
								.gothamBook;
								font-size:16px;
							}
						}
						.item-footer{
							background: #0070a4;
							.info-state{
								padding:10px 20px;
							}
							.edit-state{
								padding:0;
								.edit-set{
									background: #e2e2e2;
								}
								.price{
									background: #f4f4f4;
								}

							}

						}
					}
				}


			}
		}
	}
	&.open{
		right: 0;
		.shopping-cart-content{
			opacity: 1;
			.transform(translateX(0));
			.transform(translate3d(0,0,0));
		}
	}

}