@dot-bg: #eaeaea;
@dot-active-bg: #0776aa;
@arrow-color: #bfbfbf;

.slick-slider {
    -ms-touch-action: inherit;
    touch-action: inherit;
    -webkit-tap-highlight-color: transparent;
}
.slick-dots{
	position: relative;
	bottom: inherit;
	li{
		width: 10px;
		height: 10px;
		padding: 0 5px;
		button{
			width: 10px;
			height: 10px;
			.border-radius(50%);
			border: none;
			background: @dot-bg;
			&:before{
				display: none;
				content: "";
			}
		}
		&.slick-active{
			button{
				background: @dot-active-bg; 
			}		
		}
	}	
}
/*
Slick slider arrow
*/
.slick-next{
	width: auto;
	height: auto;
	right: 20px;
	background: rgba(255,255,255,0.01);
	svg{
		width: 20px;
		height: 40px;
		fill: @arrow-color;
	}	
	&:before{
		display: none;
	}
}
.slick-prev{
	width: auto;
	height: auto;
	left: 20px;
	z-index: 2;
	background: rgba(255,255,255,0.01);
	svg{
		width: 20px;
		height: 40px;
		fill: @arrow-color;
	}
	&:before{
		display: none;
	}
}
.slick-dots li button:before{
	font-size:10px;
}