@retail-checkout-cart-success-icon-color: #68b6a7; 
.main-section#checkout-success{
	.border-bottom{
		border-bottom:solid 1px @border-light-grey;
	}
	.location-icon{
		svg{
			fill: @retail-checkout-cart-success-icon-color;
		}
	}
	.mail-icon{
		svg{
			fill: @retail-checkout-cart-success-icon-color;
		}
	}
	.icon{
		svg{
			fill: @retail-checkout-cart-success-icon-color;
		}
	}
	.refnumber-section{
		padding-bottom: 60px;
	}
	.reference-title{
		font-size: 15px;
	}
}