@border-filters: #b3b3b3;
@bg-checkbox: #f4f4f4;
@bg-checkbox-checked: #dcdcdc;
@border-product: #e6e6e6;
@border-radio-box: #f6f6f6;
@bg-product-price: #f4f4f4;
@retail-text-my-price: #646464;

@view-bar-border: #e4e4e4;
@view-bar-icon-color: #eaeaea;
@view-bar-icon-active-color: #6dc8b6;
@view-bar-dropdown-bg: #f4f4f4;
@view-bar-dropdown-label-color: #b7b7b7;
@view-bar-dropdown-color: black;
@view-bar-dropdown-arrow-color: #bfbfbf;

@checkbox-bg: #f4f4f4;
@checkbox-checked-bg:#dcdcdc;
@checkbox-checked-arrow:black;

.main-section#products-category{
	.intro{
		a{
			.gothamMedium();
			color: @retail-main-color;
		}
	}
	.view-bar{
		border-top-color: @view-bar-border;
		border-bottom-color: @view-bar-border;
		ul{
		.btn-icon{
			svg{
				fill: @view-bar-icon-color;
			}
			&.active{
				svg{
					fill: @view-bar-icon-active-color;	
				}
			}
		}

			.icon{
				fill: @bg-mid-grey;
				&.active{
					fill: @bg-light-blue;
				}
			}
			label{
				.icon{
					background: @checkbox-bg;
					svg{
						fill: @checkbox-checked-arrow;								
					}
				}
				input{
					&:checked{
						+ .icon{
							background: @checkbox-checked-bg;
						}
					}
				}
			}
		}		
	}
	#products{
		.product{
			a{
				&:hover{
					@media (min-width: @screen-sm){
						color: @retail-main-color;
					}
				}
			}
			.product-content{
				border-color: @border-product;
			}
			.product-image{
				border-bottom-color: @border-product;
			}
			.product-code{
				color: @text-box-light-grey;
			}
			.product-price{
				background: none;
				color: @retail-text-my-price;
				.product-price-my{
					.value{
						color: @retail-text-my-price;
					}
				}
				.product-price-cmp{
					.value{
						color: @text-cmp-grey;
					}
				}
			}
			.product-quantity{
				.quantity-number{
					border-color: @border-grey;
					background-color: @bg-table-header-grey;
				}
				.quantity-set{
					label,.set-name{
						color: @retail-units-color;
					}
					.radiolabel-set{
						border-color: @retail-text-light-grey;
						background-color: @retail-units-bg;
						.radio-button{
							&.active{
								background-color:@retail-units-active-bg;
								color: @retail-units-active-color;
							}
						}
					}
					@media (max-width: @screen-xs-max) { 
						border-top-color: @border-grey;
					}
				}//END quantity-set								
			}// end #products-quantity
			.product-unit-details{
				color: @text-light-grey;
				span{
					color: @text-blue;
				}
			}//product-unit-details
		}//end .product
		&.list{
			@media (min-width: @screen-sm){
				.product-quantity{
					width: 45.28%;
					left: 0;
				}
			}
		}
	}//end #products
	.results{
		.total-results{
			color: @retail-main-color;
		}
	}
}