@retail-body-color: black;

@retail-bg-price-box: #f4f4f4;
@retail-bg-cmp: #c8c8c8;
@retail-text-code: #bababa;
@retail-text-price: @retail-main-color;
@retail-text-price-inc: black;
@retail-text-price-exc: #b4b4b4;
@retail-text-icons: #bababa;
@retail-text-price-divider: #eaeaea;
@retail-dropdown-border: #bfbfbf;
@retail-share-icon-color: #7f7f7f;
@retail-arrow-down-color: #a6a6a6;
@retail-arrow-down-internal-color: black;


@retail-search-button-bg: #969696;
@retail-search-button-color: white;

@retail-section-border: #E8E8E8;
@retail-section-internal-expand-header-bg: #f4f4f4;
@retail-section-internal-expand-body-bg: #fbfbfb;

@retail-file-icon-cad-bg: #888888;
@retail-file-icon-doc-bg: #eeba90;
@retail-file-link-color: #888888;
@retail-file-link-hover-color: #6dc8b6;

@retail-file-cad-link-color: #888888;
@retail-file-cad-link-hover-color: #6dc8b6;

@retail-slider-arrow-default-color: #bfbfbf;

@retail-product-display-button-bg: #6dc8b6;
@retail-product-display-button-color: white;

@retail-product-display-address-link-color: #888;
@retail-product-display-address-link-hover-color: #6dc8b6;

@retail-slider-dots-bg: #eaeaea;
@retail-slider-dots-current-bg: #6dc8b6;

@retail-section-grey-slider-dots-bg: #bfbebe;
@retail-section-grey-slider-dots-current-bg: #6dc8b6;

@retail-section-filters-link-color: #888;
@retail-section-filters-link-filtered-color: @retail-main-color;

@retail-back-to-top-btn-bg: #ccc;
@retail-back-to-top-btn-color: black;

@retail-table-border: #bfbfbf;
@retail-table-header-bg: #f4f4f4;

@retail-we-love-color: #6dc8b6;

@retail-postcode-input-color: black;