// Variables
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Rockwell,Georgia, "Times New Roman", Times, serif;
@accordionArrowColor : #7bb0ad;
@contentBoxBg: #95d5d1;
// Mixins
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
// CSS for builders promo
#BuildersPromo
{
  font-family: @font-family-sans-serif;
  font-size: 13px;
  color: #000;
  div.wrapper
  {
    width: 706px;
    background: white;
    margin: 0 auto;
  }
  p{
    padding: 0 0 10px;
    margin:0;
    font-size: 14px;
  }
  div.contentBox{
    background: @contentBoxBg;
    padding: 20px;
  }
  .numberHolder{
      position: relative;
      padding:10px 10px 10px 50px;
      margin: 20px 0 40px 10px;
      background: #fff;
      font-family: @font-family-serif;
      .border-radius(10px);
      font-size: 20px;
      .iconNumber{
        height: 74px;
        width: 60px;
        position: absolute;
        background: url('img/common/numbers.png') no-repeat;
        left:-20px;
        top: -10px;
      }
      .number01{
        background-position: 0 0;
      }
      .number02{
        background-position: 0 -75px;
      }
      .number03{
        background-position: 0 -150px;
      }
      .number04{
        background-position: 0 -225px;
      }
      .number05{
        background-position: 0 -300px;
      }
      .number06{
        background-position: 0 -375px;
      }
      .number07{
        background-position: 0 -450px;
      }
      .number08{
        background-position: 0 -525px;
      }
      .number09{
        background-position: 0 -600px;
      }
      .number10{
        background-position: 0 -675px;
      }
  }

}

