@import "common.less"; 

#BuildersPromo
{
  .introHeader{
    img{
      vertical-align: bottom;
    }
  }
  ul.introMenu{
    margin:0;
    padding: 0 0 0 10px;
    li{
      list-style: none;
      a{
        color: black;
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
