@import "common.less"; 

#BuildersPromo
{
  .promoNumberedHeader{
    margin:10px;
  }
  div.pageContentBox{
    margin-top: 10px;
    padding: 20px 30px;
  }
  .smallHeader{
    font-family: @font-family-serif;
    font-size: 20px;
    margin: 0;
    padding: 0 0 10px;
    font-weight: normal;
  }
  // Content Headers
  .steppedHeader{
    font-family: @font-family-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 2em;
    .stepNumber{
      background: #fff;
      padding: 5px 10px;
      display: inline-block;
      color: #D52B1E;
      font-size: 20px;
      .border-radius(10px);
      font-weight: bold;
      margin-bottom: 10px;
    }
    .stepTitle{
      padding: 10px 0;
      font-size: 30px;
      display: block;
    }
  }
  .accordionHd{
    .clearfix;
    .accordionHdLeft{
      float: left;
      width: 75%
    }
    .triggerWrap{
      float: left;
      width: 20%;
      margin-left: 5%;
      text-align: center;
      .accordionTrigger{
        display: block;
        cursor: pointer;
        .accordionTriggerLess,.accordionTriggerMore{
          display: block;
          padding: 10px 0;
          text-align: center;
          color: white;
        }
        .caretLess,.caretMore{
          display: inline-block;
          height: 0;
          width: 0;
          border: 40px solid transparent;
        }
        .caretLess{
          border-top-color: @accordionArrowColor;
          border-bottom-width: 0;
        }
        .caretMore{
          border-left-color: @accordionArrowColor;
          border-right-width: 0;
        }
      }
      /* Download Link */
      .downloadListLink{
        text-align: center;
        color: #DC241F;
        text-decoration: none;
        .downloadIcon{
          display: block;
          height: 100px;
          background: url('img/common/download.png') no-repeat center 0;
        }
      }
    }

  }
  @coversationDimension : 280px;
  @coversationPaddingTop : 80px;
  .conversationStarters{
    padding-top: 30px;
    ul{
      margin: 0;
      padding: 20px 0;
      overflow: hidden;
      li{
        list-style: none;
        display: block;
        float: left;
        width: @coversationDimension;
        height: @coversationDimension;
        overflow: hidden;
        background: url('img/common/speech-bubbles.png') no-repeat center 0;
        padding-bottom: 55px;
        div{
          padding: @coversationPaddingTop 30px;
          height: @coversationDimension - 2*@coversationPaddingTop;
          font-family: @font-family-serif;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
        &.conversation1,&.conversation2{
          margin-right: 15px;
        }
        &.conversation1{

        }
        &.conversation2{
          background-position: 0 -335px;
        }
        &.conversation3{
          background-position: 0 -1005px;
        }
        &.conversation4{
          background-position: 0 -670px;
        }

        &.conversation3,&.conversation4{
          color: white;
          margin-left: 15px;
          margin-top: -40px;
          float: right;
        }
        &.conversation3{
          clear: both;
        }
      }
    }
  }
  .convVideo{
    overflow: hidden;
    padding: 30px 0 20px;
    .vidThumb,.vidInfo{
      width: 50%;
      float: left;
    }
    .vidInfo{

    }
  }
  .toolsThumbList{
    margin: 0;
    padding: 5px 0;
    li{
      list-style: none;
      display: block;
      padding: 10px 0;
      overflow: hidden;
      .toolThumb{
        float: left;
        width: 25%;
      }
      .toolInfo{
        float: left;
        width: 75%;
        h4{
          margin: 0;
          padding: 0 0 5px;
        .redLargeHeader{
          font-family: @font-family-serif;
          display: block;
          color: #D52B1E;
          font-size: 30px;
          font-weight: normal;
        }
        }
      }
    }
  }
}
