.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
#BuildersPromo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
}
#BuildersPromo div.wrapper {
  width: 706px;
  background: white;
  margin: 0 auto;
}
#BuildersPromo p {
  padding: 0 0 10px;
  margin: 0;
  font-size: 14px;
}
#BuildersPromo div.contentBox {
  background: #95d5d1;
  padding: 20px;
}
#BuildersPromo .numberHolder {
  position: relative;
  padding: 10px 10px 10px 50px;
  margin: 20px 0 40px 10px;
  background: #fff;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
}
#BuildersPromo .numberHolder .iconNumber {
  height: 74px;
  width: 60px;
  position: absolute;
  background: url('img/common/numbers.png') no-repeat;
  left: -20px;
  top: -10px;
}
#BuildersPromo .numberHolder .number01 {
  background-position: 0 0;
}
#BuildersPromo .numberHolder .number02 {
  background-position: 0 -75px;
}
#BuildersPromo .numberHolder .number03 {
  background-position: 0 -150px;
}
#BuildersPromo .numberHolder .number04 {
  background-position: 0 -225px;
}
#BuildersPromo .numberHolder .number05 {
  background-position: 0 -300px;
}
#BuildersPromo .numberHolder .number06 {
  background-position: 0 -375px;
}
#BuildersPromo .numberHolder .number07 {
  background-position: 0 -450px;
}
#BuildersPromo .numberHolder .number08 {
  background-position: 0 -525px;
}
#BuildersPromo .numberHolder .number09 {
  background-position: 0 -600px;
}
#BuildersPromo .numberHolder .number10 {
  background-position: 0 -675px;
}
#BuildersPromo .promoNumberedHeader {
  margin: 10px;
}
#BuildersPromo div.pageContentBox {
  margin-top: 10px;
  padding: 20px 30px;
}
#BuildersPromo .smallHeader {
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 0;
  padding: 0 0 10px;
}
#BuildersPromo .steppedHeader {
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 2em;
}
#BuildersPromo .steppedHeader .stepNumber {
  background: #fff;
  padding: 5px 10px;
  display: inline-block;
  color: #D52B1E;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
#BuildersPromo .steppedHeader .stepTitle {
  padding: 10px 0;
  font-size: 30px;
  display: block;
}
#BuildersPromo .accordionHd {
  *zoom: 1;
}
#BuildersPromo .accordionHd:before,
#BuildersPromo .accordionHd:after {
  display: table;
  content: "";
  line-height: 0;
}
#BuildersPromo .accordionHd:after {
  clear: both;
}
#BuildersPromo .accordionHd .accordionHdLeft {
  float: left;
  width: 75%;
}
#BuildersPromo .accordionHd .triggerWrap {
  float: left;
  width: 20%;
  margin-left: 5%;
  text-align: center;
  /* Download Link */

}
#BuildersPromo .accordionHd .triggerWrap .accordionTrigger {
  display: block;
  cursor: pointer;
}
#BuildersPromo .accordionHd .triggerWrap .accordionTrigger .accordionTriggerLess,
#BuildersPromo .accordionHd .triggerWrap .accordionTrigger .accordionTriggerMore {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: white;
}
#BuildersPromo .accordionHd .triggerWrap .accordionTrigger .caretLess,
#BuildersPromo .accordionHd .triggerWrap .accordionTrigger .caretMore {
  display: inline-block;
  height: 0;
  width: 0;
  border: 40px solid transparent;
}
#BuildersPromo .accordionHd .triggerWrap .accordionTrigger .caretLess {
  border-top-color: #7bb0ad;
  border-bottom-width: 0;
}
#BuildersPromo .accordionHd .triggerWrap .accordionTrigger .caretMore {
  border-left-color: #7bb0ad;
  border-right-width: 0;
}
#BuildersPromo .accordionHd .triggerWrap .downloadListLink {
  text-align: center;
  color: #DC241F;
  text-decoration: none;
}
#BuildersPromo .accordionHd .triggerWrap .downloadListLink .downloadIcon {
  display: block;
  height: 100px;
  background: url('img/common/download.png') no-repeat center 0;
}
#BuildersPromo .conversationStarters {
  padding-top: 30px;
}
#BuildersPromo .conversationStarters ul {
  margin: 0;
  padding: 20px 0;
  overflow: hidden;
}
#BuildersPromo .conversationStarters ul li {
  list-style: none;
  display: block;
  float: left;
  width: 280px;
  background: url('img/common/speech-bubbles.png') no-repeat center 0;
  padding-bottom: 55px;
}
#BuildersPromo .conversationStarters ul li div {
  padding: 100px 20px;
  height: 80px;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
}
#BuildersPromo .conversationStarters ul li.conversation1,
#BuildersPromo .conversationStarters ul li.conversation2 {
  margin-right: 15px;
}
#BuildersPromo .conversationStarters ul li.conversation2 {
  background-position: 0 -335px;
}
#BuildersPromo .conversationStarters ul li.conversation3 {
  background-position: 0 -1005px;
}
#BuildersPromo .conversationStarters ul li.conversation4 {
  background-position: 0 -670px;
}
#BuildersPromo .conversationStarters ul li.conversation3,
#BuildersPromo .conversationStarters ul li.conversation4 {
  color: white;
  margin-left: 15px;
  margin-top: -40px;
  float: right;
}
#BuildersPromo .conversationStarters ul li.conversation3 {
  clear: both;
}
#BuildersPromo .convVideo {
  overflow: hidden;
}
#BuildersPromo .convVideo .vidThumb,
#BuildersPromo .convVideo .vidInfo {
  width: 50%;
  float: left;
}
#BuildersPromo .toolsThumbList {
  margin: 0;
  padding: 5px 0;
}
#BuildersPromo .toolsThumbList li {
  list-style: none;
  display: block;
  padding: 10px 0;
  overflow: hidden;
}
#BuildersPromo .toolsThumbList li .toolThumb {
  float: left;
  width: 25%;
}
#BuildersPromo .toolsThumbList li .toolInfo {
  float: left;
  width: 75%;
}
#BuildersPromo .toolsThumbList li .toolInfo h4 {
  margin: 0;
  padding: 0 0 5px;
}
#BuildersPromo .toolsThumbList li .toolInfo h4 .redLargeHeader {
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  display: block;
  color: #D52B1E;
  font-size: 30px;
}
