#BuildersPromo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
}
#BuildersPromo div.wrapper {
  width: 706px;
  background: white;
  margin: 0 auto;
}
#BuildersPromo p {
  padding: 0 0 10px;
  margin: 0;
}
#BuildersPromo div.contentBox {
  background: #96d5d2;
  padding: 20px;
}
#BuildersPromo .introHeader img {
  vertical-align: bottom;
}
